<div class="settings-add">

  <ul>
    <li class="col-md-2">
      <label>Package Name</label>
      <input type="text" placeholder="Package Name" class="form-control" maxlength="24" [(ngModel)]="package.name"
        name="PackageName" required #PackageName="ngModel">
      <span *ngIf="!package.name && PackageName.touched || (!package.name && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter name</span>
    </li>
    <li class="col-md-2">
      <label>Status</label>
      <mat-select placeholder="Status" [(ngModel)]="package.status" name="status" required #status="ngModel">
        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">InActive</mat-option>
      </mat-select>
      <span *ngIf="!package.status && status.touched || (!package.status && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter name</span>
    </li>
  </ul>
  <div class="clearfix"></div>


  <!-- <ul>
    <li class="col-md-2">
      <label>Start Date</label>
      <div class="date">
        <input matInput [matDatepicker]="picker" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="package.startDate" [max]="package.endDate" name="StartDate" required #StartDate="ngModel">
        <mat-datepicker #picker></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!package.startDate && StartDate.touched || (!package.startDate && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter date</span>

    </li>
    <li class="col-md-2">
      <label>End Date</label>

      <div class="date">
        <input matInput [matDatepicker]="picker1" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="package.endDate" [min]="package.startDate" name="endDate" required #endDate="ngModel">
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button (click)="picker1.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!package.endDate && endDate.touched || (!package.endDate && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter date</span>



    </li>
  </ul> -->
  <div class="clearfix"></div>


  <div class="setting-table col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th>
            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Module</label>
              </div>
            </div>
          </th>
          <th>Include ?</th>

          <th>
            <div class="setting-drop">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a>Add</a>
                </li>
                <li>
                  <a>Edit</a>
                </li>
                <li>
                  <a>Delete</a>
                </li>
              </ul>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">Company Settings</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.companySettings" name="work" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Employee Management</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.employeeManagement" name="work1" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>


        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox4" type="checkbox">
                <label for="checkbox4">Requirements</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.requirements" name="work2" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox4" type="checkbox">
                <label for="checkbox4">Benifits Management</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.benifitsManagement" name="work" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox5" type="checkbox">
                <label for="checkbox5">Leave Management</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.leaveManagement" name="work" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox5" type="checkbox">
                <label for="checkbox5">Performance Management</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.performanceManagement" name="work"
                required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <td class="zenwork-checked-border">

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox6" type="checkbox">
                <label for="checkbox6">Reports</label>
              </div>
            </div>

          </td>
          <td>
            <div class="include">
              <mat-select placeholder="Include" [(ngModel)]="package.modules.reports" name="work" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </div>
          </td>
          <td></td>
        </tr>

    </table>

  </div>

  <ul>
    <li class="col-md-2">
      <label>Package Cost</label>
      <input type="text" (keypress)="keyPress($event)" placeholder="$" maxlength="6" class="form-control" [(ngModel)]="package.price"
        name="cost" required #price="ngModel">

      <span *ngIf="!package.price && price.touched || (!package.price && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter cost</span>

    </li>
    <li class="col-md-2">
      <label>Per Employee Cost</label>
      <input type="text" (keypress)="keyPress($event)" maxlength="6" placeholder="$" class="form-control"
        [(ngModel)]="package.costPerEmployee" name="cost" required #costPerEmployee="ngModel">

      <span *ngIf="!package.costPerEmployee && costPerEmployee.touched || (!package.costPerEmployee && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter cost</span>

    </li>

    <li class="col-md-2">
      <label>Frequency</label>
      <mat-select placeholder="Frequency" [(ngModel)]="package.subscriptionType" name="subscriptionType" required
        #subscriptionType="ngModel">
        <mat-option value="Monthly">Monthly</mat-option>
        <mat-option value="Yearly">Year</mat-option>
      </mat-select>

      <span *ngIf="!package.subscriptionType && subscriptionType.touched || (!package.subscriptionType && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter cost</span>

    </li>
  </ul>

  <div class="clearfix"></div>


  <button style="background: transparent; border:none;"> <a class="btn" (click)="addPackage()"
      type="Submit">Submit</a></button>
  <a class="btn" (click)="cancel()">Cancel</a>
  <div class="clearfix"></div>

</div>