.settings-add { margin: 40px 0 0;}
.settings-add > ul { margin: 0 0 30px; width: 100%; display: inline-block;}
.settings-add > ul > li { padding: 0 10px 0 0; margin: 0 20px 0 0;}
.settings-add > ul > li label { font-size: 17px; line-height: 17px; color:#484747; margin: 0; font-weight: normal; padding: 0 0 14px;}
.settings-add > ul > li .form-control { background:#fff; height: auto; border: none; color:#484747; box-shadow: none; padding: 12px; font-size: 15px;}

.settings-add ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #484747;
  }
  .settings-add ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484747;
  }
  .settings-add ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484747;
  }
  .settings-add ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484747;
  }


.setting-table {margin:30px 0 30px; padding: 0; float: none;}
.setting-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 10px; background: #eef7ff; border:none; font-size: 16px; border-radius:3px; width: 45%;}
.setting-table .table>tbody>tr>td, .setting-table .table>tfoot>tr>td, .setting-table .table>thead>tr>td{ padding:15px 10px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#484848;}
.setting-table .cont-check .checkbox label{padding-left:30px;color:#484848;}


.settings-add a { cursor: pointer;}
.settings-add a.btn {border-radius: 20px;color:#fff; font-size: 15px; padding:6px 35px; background:transparent; margin:30px 10px 0; float:left; position: static;background: #008f3d;}
.settings-add a.btn:hover {background: #008f3d; color:#fff;}

.date { width: auto !important; height: auto !important; line-height:inherit !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0;}
.date span { border: none !important;}
.date .form-control { width: 62% !important;}
.setting-table .cont-check.add-check .checkbox { width: 13%; display: inline-block;}

.settings-add button:focus{ outline: none; border: none;}