.holidays-main-tab{
    margin:20px auto 0; float: none; padding: 0;
}
a{
    color: #000;
}
.resumes-field-heading small{
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


/* .field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
    position: relative;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
} */
.field-accordion .panel-title a{
    display: inline-flex;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.main-punches-filters {
   width: 100%;
}
.main-punches-filters .search-category .list-items{
    display: inline-block;
    padding: 0px 10px;
    /* margin: 5px; */
    position: relative;
    font-size: 12px;
}
.main-punches-filters .search-category .list-items span{
    cursor: pointer;
    font-size: 15px;
}

.custom-tables { margin: 0 auto; float: none; padding: 30px 0 0;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px 10px; background: #eef7ff; border:none; font-size: 14px; border-radius:3px; vertical-align: middle;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 10px; background:#fff;border: none;vertical-align:middle;font-size: 13px;}
.custom-fields .checkbox{ margin: 0;}
.group-list .table>tbody>tr>td {
  background: #f8f8f8;
  border: none;
  vertical-align: middle;
  border-top: none;
  border-bottom: #c3c3c3 1px solid;
  color: #948e8e;
}
.submit-btn {
  background-color: #439348;
  border: 1px solid #439348;
  border-radius: 35px;
  color: #fff;
  padding: 0 25px;    
}


.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:2px 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control {    border: none; width: 110px; box-shadow: none; color: #000; background: #f8f8f8;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}

  .birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.calendar-icon{
    position: absolute;
    top: 24px;
    width: 15px;
    right: 30px;

}
.start-date{
    position: relative;
}
.cont-check .checkbox .checkbox-wrapper{
    padding: 0 0 0 5px !important;
}

.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    /* border-right: 1px solid #ddd; */
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 12px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }

  .modal-body{
    /* background:#f8f8f8; */
    padding: 0;
}
.tabs-left .nav-tabs{
    padding: 20px;
    border-right: 0;
}
.tab-content{
  margin: 0;
  /* background: #fff; */
}
.sidenav-tabcontent{
    background: #fff !important;
  padding: 30px;

}
.tabs-customize{
    background: #f8f8f8;
    padding:0px!important;
}
.modal-body .container{
   
    margin: 20px 40px;
}
.text-field{
  border: none; 
  box-shadow: none; 
  padding: 11px 12px; 
  height: 40px; 
  box-shadow: none;
  background: #f8f8f8;
  width: 64%;
}
.start-date1{
  font-size: 14px;
  padding-left: 15px;
  box-shadow: none;
  background: #f8f8f8;
}
.margin-btm {
  border-bottom: 1px solid #fdeded;
  padding-bottom: 20px;
}
.list-width {
  width: 30%;
}
.text-field{
  border: none; 
  box-shadow: none; 
  padding: 11px 12px; 
  height: 40px; 
  box-shadow: none;
  background: #f8f8f8;
}
label{
  font-weight: normal;
  line-height: 30px;
  color:#464444;
  font-size: 14px;
  padding: 0 0 0 2px;
}
/* .date { height: auto !important; line-height:inherit !important; width:99% !important;     display: block;
  background: #fff;}
.date button { display: inline-block; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 40px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:82%; height: auto; padding: 12px 0 12px 10px; display: inline-block;
  vertical-align: middle; }
.date .tier-width { width:25%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;} */

.employees-data{
  padding: 0px;
}
.field-accordion p {color: #565555;font-size: 15px;}

.field-accordion .panel-default>.panel-heading { padding: 20px 0 20px; background-color:transparent !important; border: none;}
.field-accordion .panel-title { color: #008f3d; display: inline-block;padding: 15px 0 0 0;}
.field-accordion .panel-title a:hover { text-decoration: none;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}
/* .heading-eligibility{
  padding: 15px 0 0 30px !important;
} */
.field-accordion .eligibilty-border-bottom{
  padding: 0 0 40px !important;
}
/* .employees-data{
  padding: 30px;
} */
.structure-tbl-body {
  background: #f8f8f8;
  width: 45%;
}
.height-300 {
  height: 300px;
  overflow: auto;
}
.structure-list .list-items{
  padding: 15px 15px;
  /* border-bottom: 2px solid #eee; */
}
.structure-list .list-items-values{
  padding: 17px 37px;
  /* border-bottom: 2px solid #eee; */
}
.person-tables .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top: 0;height: 100%;}

.person-tables .table>tbody>tr>td.zenwork-checked-border {position: relative;text-align: left}
.arrow-position {
  position: relative;
}
.arrow-align-one {
  font-size: 40px;
  position: absolute;
  top: 145px;
  left: 40px;
  font-weight: lighter;
  color: #439348; 
}
.arrow-align-two {
  font-size: 40px;
  position: absolute;
  top: 145px;
  right: 0;
  left: 0px;
  font-weight: lighter;
  color: #439348;
}
.employees-table{
  margin: 60px 0 0 0;
}
.import-date-btn {
  background-color: #797d7a;
  border: 1px solid #797d7a;
  padding: 5px 14px;
  border-radius: 50px;
  color: #fff;
  margin-top: 30px;
  outline: none;
}
.text-report {
  font-size: 12px;

}
.date { height: 44px !important; line-height:inherit !important; background: #f8f8f8;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:72%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.submit-buttons .list-item {
  display: inline-block;
  }
.submit-buttons .btn-success {
  background-color: #439348;
}
.btn-style {
  padding: 6px 20px !important;
  border-radius: 30px!important;
  /* font-size: 12px; */
  }
  .zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -64px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }



.add-edit-blockout { float:none; margin: 0 auto; padding:20px 0 0;}    
.employee-group {
  padding: 0 40px;
}