<div class="holidays-main-tab col-md-11">
  <div class="field-accordion">

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
         <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
              href="#collapse_currentschedule">
              <div class="resumes-field-heading">
                <p>Blackout Dates</p>
              </div>
            </a>
          </h4>
         
             <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left ">Add / Edit Blockout Employee Group</h4>
                <div class="clearfix"></div>
              </div>
              <div class="modal-body employee-group">

               <div class="add-edit-blockout">
                  
                    <div class="col-xs-4">

                      <label>Blackout Employee Group Name</label>
                      <input type="text" class="form-control text-field" [(ngModel)]="blackoutGroup.name">

                    </div>


                    <div class="col-xs-5">
                      <label>Blackout Employee Group Name Effective Date</label>

                      <div class="date">
                        <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy"
                          class="form-control text-field" [(ngModel)]="blackoutGroup.effectiveDate">
                        <mat-datepicker #picker></mat-datepicker>
                        <button mat-raised-button (click)="picker.open()" class="text-field">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  
                  <div class="employees-data">
                    <div class="field-accordion">
                      <div class="panel-group" id="accordion2">
                        <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                          <div class="panel-heading">
                            <h4 class="panel-title heading-eligibility">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                href="#eligibility-info">
                                Blackout Eligible Criteria
                              </a>
                            </h4>
                          </div>
                          <div id="eligibility-info" class="panel-collapse collapse in">
                            <div class="panel-body eligibilty-border-bottom">

                              <div class="employees-data">
                                <div class="col-sm-12 table-body margin-btm">
                                  <div class="row">
                                    <div class="col-sm-6 structure-tbl-body height-300">

                                      <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">

                                        <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                                          <div>

                                            <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                              [value]="fields.name"
                                              (ngModelChange)="getStructureSubFields(fields.name,fields.isChecked )">
                                              {{fields.name}}
                                            </mat-checkbox>
                                          </div>

                                        </li>

                                      </ul>
                                    </div>

                                    <div class="col-sm-1 text-center arrow-position">
                                      <i class="material-icons arrow-align-one">
                                        keyboard_arrow_right
                                      </i>
                                      <i class="material-icons arrow-align-two">
                                        keyboard_arrow_right
                                      </i>
                                    </div>
                                    <div class="col-sm-6 structure-tbl-body height-300">

                                      <div *ngIf="StructureValues">
                                        <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">

                                          <li class="list-items-values">
                                            <mat-checkbox class="checkbox-success"
                                              (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                              {{values.name}}
                                            </mat-checkbox>

                                          </li>

                                        </ul>

                                      </div>
                                      <div *ngIf="customValues">
                                        <ul class="list-unstyled structure-list" *ngFor="let values of customValues">

                                          <li class="list-items-values">
                                            <mat-checkbox class="checkbox-success"
                                              (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                              {{values.name}}
                                            </mat-checkbox>
                                          </li>

                                        </ul>

                                      </div>
                                    </div>

                                  </div>
                                </div>
                                <div class="panel-group margin-btm" id="accordion3">
                                  <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                                    <div class="panel-heading">
                                      <h4 class="panel-title heading-eligibility">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3"
                                          href="#specific-employee">
                                          Specific Employee
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="specific-employee" class="panel-collapse collapse in">
                                      <div class="panel-body eligibilty-border-bottom row">
                                        <!-- <div class="col-xs-6">
                                          <h4>Include a Specific Person</h4>
                                          <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                          </ng-multiselect-dropdown>
                                        </div>
                                        <div class="col-xs-6">
                                          <h4>Exclude a Specific Person</h4>
                                          <ng-multiselect-dropdown [placeholder]="'custom placeholder'"
                                            [data]="dropdownList" [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                          </ng-multiselect-dropdown>
                                        </div> -->
                                        <div>
                                          <h4 style="float: left;">Include a Specific Person</h4>
                                          <h4 style="float: right;">Exclude a Specific Person</h4>
                                          <div class="clearfix"></div>
                                          <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format" filter=true
                                          height='300px' (click)="onSelectUsers(selectedUsers)">
                                        </dual-list>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="margin-btm row">
                                  <h4 style="margin-left:15px;">Assign Initial Group Effective Date</h4>
                                  <div class="col-xs-3">
                                    <label>Select Date</label><br>
                                    <mat-select class="form-control text-field" [(ngModel)]="blackoutGroup.hireDate" (ngModelChange)="selectEffectiveDate($event)">
                                      <mat-option value="date_of_hire">Date of Hire</mat-option>
                                      <mat-option value="custom_date">Custom Date</mat-option>
                                    </mat-select>
                                  </div>
                                  <div class="col-xs-3" *ngIf="showField1">
                                    <label>Select Custom Date Field</label><br>
                                    <div class="date">
                                      <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy"
                                        class="form-control text-field" [(ngModel)]="blackoutGroup.customDate">
                                      <mat-datepicker #picker2></mat-datepicker>
                                      <button mat-raised-button (click)="picker2.open()" class="text-field">
                                        <span>
                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                      </button>
                                    </div>
                                    <!-- <mat-select class="form-control text-field" [(ngModel)]="blackoutGroup.customDate">
                                      <mat-option value="Custom Date1">Custom Date1</mat-option>
                                      <mat-option value="Custom Date2">Custom Date2</mat-option>
                                    </mat-select> -->
                                  </div>
                                  <!-- <div class="col-xs-3">
                                    <button class="import-date-btn">Import Custom Date</button>
                                  </div> -->

                                </div>

                                <div class="margin-btm">

                                  <h4>Preview Employee Benefit Eligibility Group List
                                    <button class="import-date-btn pull-right text-report">Run Report</button>

                                  </h4>
                                  <div class="clear-fix"></div>
                                  <span>(Total Employees - {{count}})</span>
                                  <div class="custom-tables group-list">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            Employee Name
                                          </th>
                                          <th>Employee ID</th>
                                          <th>Manager Name</th>
                                          <th>Department</th>
                                          <th>Effective Date<br><small>(Custom Date1)</small></th>
                                          <th>Benefit Eligibility Group</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let list of previewList">
                                          <td>{{list.personal.name.firstName}}</td>
                                          <td>{{list.job.employeeId}}</td>
                                          <td>
                                            <span *ngIf="list.job.ReportsTo">
                                                {{list.job.ReportsTo.personal.name.firstName}}
                                            </span>
                                            
                                          </td>
                                          <td>{{list.job.department}}</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                    </table>
                                    
                                  </div>
                                  <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                                  </mat-paginator>
                                </div>
                                <div class="row" style="margin:30px 0px;">
  
                                  <button mat-button (click)="decline()">Cancel</button>
          
                                  <button mat-button class="submit-btn pull-right" (click)="createBlackoutEmployeeGroup()">Submit</button>
                                </div>
                                <div class="clearfix"></div>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
               
              </div>
            </div>


            </ng-template>
          
        </div>

         <div id="collapse_currentschedule" class="panel-collapse collapse in">

          <div class="panel-body">

            <div class="custom-tables">

              <table class="table">
                 <thead>
                  <tr>
                   <th></th>
                    <th>Location</th>
                    <th>Name</th>
                    <th>Employee Groups</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Blockout Type</th>

                    <th>
                      <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                      <mat-menu #menu1="matMenu">
                        <button *ngIf="!checkBlackoutIds.length >=1" mat-menu-item (click)="pushBlockouts()"> Add Blackout Date</button>
                        <button *ngIf="!checkBlackoutIds.length >=1" mat-menu-item (click)="openModalWithClass(template)"> Add Blackout Employee Group
                        </button>
                        <button *ngIf="(!checkBlackoutIds.length <=0) && (checkBlackoutIds.length ==1)" mat-menu-item (click)="editBlackout()"> Edit </button>
                        <button *ngIf="(!checkBlackoutIds.length <=0) && (checkBlackoutIds.length >=1)" mat-menu-item (click)="deleteBlackout()"> Delete </button>

                      </mat-menu>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor = "let blackout of blackOuts" style="border-bottom: 1px solid #efe6e6;">
                    <td [ngClass]="{'zenwork-checked-border': blackout.isChecked}">
                      <mat-checkbox [(ngModel)]="blackout.isChecked" (change)="selectBlackout($event, blackout._id, blackout)">

                      </mat-checkbox>
                    </td>
                    <td>
                      <mat-select class="form-control select-btn" [(ngModel)]="blackout.location_id" [disabled]="blackout.edit">
                        <mat-option *ngFor="let location of allLocation" [value]="location._id">{{location.name}}</mat-option>
                      </mat-select> 
                    </td>
                    <td>
                    <input type="text" class="form-control text-fields" [(ngModel)]="blackout.blackoutName" [readOnly]="blackout.edit">

                    </td>
                    <td>
                      <mat-select class="form-control select-btn" [(ngModel)]="blackout.blackoutEmployeeGroup" [disabled]="blackout.edit">
                        <mat-option *ngFor="let group of groupNames" [value]="group._id">{{group.name}}</mat-option>
                      </mat-select> 
                    </td>
                    <td>
                      <div class="date">
                        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="blackout.startDate"
                        [max]="blackout.endDate" [disabled]="blackout.edit">
                        <mat-datepicker #picker></mat-datepicker>
                        <button mat-raised-button (click)="picker.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    <td>
                      <div class="date">
                        <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="blackout.endDate"
                        [min]="blackout.startDate" [disabled]="blackout.edit">
                        <mat-datepicker #picker1></mat-datepicker>
                        <button mat-raised-button (click)="picker1.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </td>

                    <td>
                      <mat-select class="form-control text-field" [(ngModel)]="blackout.blockType" [disabled]="blackout.edit">
                        <mat-option value="Block">Block</mat-option>
                        <mat-option value="Single Day Request Only">Single Day Request Only</mat-option>

                      </mat-select>
                    </td>
                    <td></td>
                  </tr>


              </table>

            </div>

             <div class="form-group button-section">
                <ul class="submit-buttons list-unstyled">
                    <li class="list-item">
                        <button class="btn btn-style" [disabled]="disableCancel" (click)="cancelBlackout()"> cancel </button>
                      </li>
                  <li class="list-item pull-right">
                    <button *ngIf = "!blackoutId" class="btn btn-success btn-style" (click)="createBlackout()"> Save Blackout </button>
                    <button *ngIf = "blackoutId" class="btn btn-success btn-style" (click)="updateBlackout()"> Update Blackout </button>

                  </li>
                 
                </ul>
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>