<div class="manager-front col-md-11">

  <div class="personal">
    <div class="panel-group" id="accordion10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10" href="#collapseTen">
              Manager Announcement
            </a>
            <span class="pull-right">
              <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addFields()" >Add</button>
                <button mat-menu-item (click)="editFields()">Edit</button>
                <button mat-menu-item (click)="delete()" >Delete</button>
              </mat-menu>
            </span>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="announce-top" *ngFor="let announce of addList ; let i=index;">

              <div class="employee-mission">
                <ul class="list-unstyled list-inline border-bottom">
                  <li class="col-md-3" [ngClass]="{'zenwork-checked-border':announce.isChecked}">
                    <mat-checkbox class="checkbox-success" [(ngModel)]="announce.isChecked"
                      style="margin-top:10px;display:inline-block;" (change)="managerSelectId($event,announce._id)">
                    </mat-checkbox>
                    <small>
                      <input class="form-control" placeholder="Title" [(ngModel)]="announce.title"
                        [readOnly]="announce.editValue">
                    </small>
                  </li>

                  <li>
                    <label class="label-font">Schedule Date</label>
                  </li>

                  <li style="margin:0px">
                    <div class="date">
                      <input matInput [matDatepicker]="picker21" placeholder="mm / dd / yy" class="form-control"
                        [(ngModel)]="announce.scheduled_date" [disabled]="announce.editValue" [min]="pastDate">
                      <mat-datepicker #picker21></mat-datepicker>
                      <button mat-raised-button (click)="picker21.open()">
                        <span>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </button>
                      <div class="clearfix"></div>
                    </div>
                  </li>


                  <li>
                    <label class="label-font">Expiration Date</label>
                  </li>
                  <li style="margin:0px">
                    <div class="date">
                      <input matInput [matDatepicker]="picker22" placeholder="mm / dd / yy" class="form-control"
                        [(ngModel)]="announce.expiration_date" [disabled]="announce.editValue"  [min]="announce.scheduled_date">
                      <mat-datepicker #picker22></mat-datepicker>
                      <button mat-raised-button (click)="picker22.open()">
                        <span>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </button>
                      <div class="clearfix"></div>
                    </div>
                  </li>

                </ul>
              </div>

              <div class="text-area">
                <textarea class="form-control" rows="4" placeholder="Description..." [(ngModel)]="announce.description"
                  [readOnly]="announce.editValue"></textarea>

              </div>

              <div class="zenwork-buttons pull-right" *ngIf="!announce.disabledButtons">
                  <button mat-button class="cancel" *ngIf="announce._id" (click)="resetClick()"  [disabled]="announce.disabledButtons" >Reset</button>
                <button mat-button class="cancel" *ngIf="!announce._id" (click)="cancelData(i)"  [disabled]="announce.disabledButtons" >Cancel</button>
                <button mat-button class="submit-btn" (click)="announceSubmit(announce)" [disabled]="announce.disabledButtons" >Submit</button>

              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <h4>Additional Content</h4>
    <div class="row border-bottom" style="margin-top: 20px;">
      <div class="col-xs-2">
        <label class="label-font">Show Team Summary?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_team_summary">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
      <div class="col-xs-2">
        <label class="label-font">Show To-Do List?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_to_do_list">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
      <div class="col-xs-2">
        <label class="label-font">Show Today's Report?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_todays_reports">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
      <div class="col-xs-3">
        <label class="label-font">Show Employement Type?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_employment_type">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="row border-bottom" style="margin-top: 20px;">
      <div class="col-xs-2">
        <label class="label-font">Show Birthdays?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_birthdays">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
      <div class="col-xs-3">
        <label class="label-font">Select Employees-Birthday</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.birthday_settings">
          <mat-option value="My Team Only">My Team Only</mat-option>
          <mat-option value="My Department Only">My Department Only</mat-option>
          <mat-option value="Entire Company">Entire Company</mat-option>
        </mat-select>
      </div>

      <div class="col-xs-3">
        <label class="label-font">Show Work Anniversary?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_work_anniversary">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>
      <div class="col-xs-3">
        <label class="label-font">Select Employees-Work Anniversary</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.work_anniversary_settings">
          <mat-option value="My Team Only">My Team Only</mat-option>
          <mat-option value="My Department Only">My Department Only</mat-option>
          <mat-option value="Entire Company">Entire Company</mat-option>
        </mat-select>
      </div>



      <div class="col-xs-2 show">
        
        <label class="label-font">Show Manager Links?</label>
        <mat-select class="form-control content-field" [(ngModel)]="additionContents.show_manager_links">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </div>

      <div class="clearfix"></div>
      
      <button mat-button class="save-btn"  (click)="additionalSave()">Save</button>

    </div>

    <div class="row manager-link-main">

        <label>Manager Links</label>

        <div class="custom-tables">
          
          <table class="table">
            <thead>
              <tr>
                <th>

                </th>
                <th>Site Name</th>
                <th>Site Link</th>
                <th>
                  <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                  <mat-menu #menu2="matMenu">
                    <button mat-menu-item (click)="managerAdd()">Add</button>
                    <button mat-menu-item (click)="managerEdit()">Edit</button>
                    <button mat-menu-item (click)="managerDelete()">Delete</button>
                  </mat-menu>
                </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let links of additionalData.manager_links">
                <td [ngClass]="{'zenwork-checked':links.isChecked}">
                  <mat-checkbox class="zenwork-customized-ccheckbox" [(ngModel)]="links.isChecked"
                    (ngModelChange)="managerID(links._id,links)"></mat-checkbox>
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Site name" [(ngModel)]="links.site_name"
                    [readOnly]="links.edit" name="siteName" required #siteName="ngModel">
                    <p *ngIf="!links.site_name && siteName.touched ||(!links.site_name && isValid)" class="error">Please enter Sitename</p>
                </td>
                <td>
                  <input type="url" placeholder="Enter site URL" name="site" #site="ngModel" required
                    pattern="https?://.+" class="form-control" [(ngModel)]="links.site_link" [readOnly]="links.edit">
                  <p *ngIf="!links.site_link && site.touched || (!links.site_link && isValid)" class="error"> Please
                    enter Sitelink</p>
                </td>
                <td></td>
              </tr>

          </table>

        </div>
      
    </div>

    <div class="row col-md-12" style="margin:20px 0px;">

      <button mat-button (click)="mssBackClick()" class="back">Back</button>
      <button mat-button class="save-btn pull-right" (click)="managerSave()">Save</button>
      <div class="clear-fix"></div>
    </div>
  </div>


</div>