.training { margin: 30px 0 0;}
.training .panel-default>.panel-heading { padding: 0 0 40px; background-color:transparent !important; border: none;}
.training .panel-title { color: #3c3c3c; display: inline-block; font-size: 18px;}
.training .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.training .panel-title>.small, .training .panel-title>.small>a, .training .panel-title>a, .training .panel-title>small, .training .panel-title>small>a { text-decoration:none;}
.training .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.training .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.training .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.training .panel-group .panel-heading+.panel-collapse>.list-group, .training .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.training .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.training .panel-body { padding: 0 0 5px;}

.training .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.training .panel-default { border-color:transparent;}
.training .panel-group .panel+.panel { margin-top: 20px;}

.training-cont { display: block;}
.training-cont .form-group { position: relative; background:#fff; padding: 0; border-radius:5px;}
.training-cont .form-control { height: auto; border: none; box-shadow: none; padding:12px; width:94%; font-size: 15px;}
.training-cont .form-control:focus { box-shadow: none;}
.training-cont span { position: absolute; top:15px; right:10px; cursor: pointer;}
.training-cont span .material-icons { color: #8e8e8e; font-size:20px; font-weight: normal;}

.training-cont .form-group.form-group1 { background: transparent; margin:-34px 0 0 30px;}
.training-cont label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-cont .form-control1{ border: none; box-shadow: none; background: #fff;padding: 10px 12px; height: auto;}


.training-cont .table{ background:#fff; margin: 10px 0 0;}
.training-cont .table>tbody>tr>th, .training-cont .table>thead>tr>th {padding: 10px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.training-cont .table>tbody>tr>td, .training-cont .table>tfoot>tr>td, .training-cont .table>tfoot>tr>th, 
.training-cont .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px;}
.training-cont button.mat-menu-item a { color:#ccc;}
.training-cont button.mat-menu-item a:hover { color:#fff; background: #099247;}
.training-cont .table>tbody>tr>th a, .training-cont .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.training-cont .table>tbody>tr>th a .fa, .training-cont .table>thead>tr>th a .fa { color: #6f6d6d;}
.training-cont button { border: none; outline: none; background:transparent;}

.training-cont .table>tbody>tr>th .dropdown-menu, .training-cont .table>thead>tr>th .dropdown-menu { top:50px; border:none; margin: 0; padding: 0;}
.dropdown-menu>li>a { padding: 6px 20px; color:#ccc;}
.dropdown-menu>li>a:hover {color:#fff !important; background: #099247;}

.training-modal .modal-dialog { width: 50%;}
.training-modal .modal-content { border-radius: 5px !important;}
.training-modal .modal-header {padding: 15px 15px 20px;}
.training-modal .modal-header h4 { padding: 0 0 0 30px;}

.training-class { margin:10px 0 0 20px;}
.training-class ul { display: block; border-bottom:#ccc 1px solid; padding: 0 0 30px; margin: 0 0 30px;}
.training-class ul li { margin: 0 0 20px;}
.training-class ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-class ul li .form-control{ border: none; box-shadow: none; background: #f8f8f8;padding: 10px 12px; height: auto;}
.training-class ul li .form-control:focus{ box-shadow: none;}
.training-class ul li.instructor { padding: 0 15px;}
.training-class ul li.instructor .form-control { width:31%;}

.training-class .cancel { color: #E85453; font-size: 15px; float: left; border: none; outline: none; background: transparent; margin: 6px 0 0;}
.training-class .save { color: #fff; font-size: 15px; float: right;background: #099247; padding: 10px 40px; border-radius: 30px;border: none; outline: none;}


.training-emp { background:#fff; padding: 20px 15px; border-radius: 5px; margin: 0 0 20px;}
.training-emp label {color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-emp a.btn{ background:#787c7a; color:#fff; text-align: center; display: block; margin: 20px 0 0; padding: 8px 0; font-size: 16px;}

.training-class ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #484747;
  }
  .training-class ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color:#484747;
  }
  .training-class ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484747;
  }
  .training-class ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484747;
  }
  

.buttons{
    margin: 20px 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    cursor: pointer;
}
.buttons ul li .save{

    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background:#008f3d;font-size: 16px;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}

.errors {color:#e44a49; padding: 5px 0 0; display: block;}