<div class="training">

    <div class="panel-group" id="accordion3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
              Training Library
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="training-cont">

              <div class="form-group col-md-4">
                <form [formGroup]="trainingSearch">
                <input type="mail" class="form-control" placeholder="Search by name, title, department, etc.." formControlName="search">
                <span><i class="material-icons">search</i></span>
              </form>
              </div>

              <div class="clearfix"></div>


              <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Training Name</th>
                      <th>Training ID
                      </th>
                      <th>Training Subject

                          <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>

                          <ul class="dropdown-menu">
                              <li><a (click)="filter('')">Show all</a></li> 
                              <li *ngFor="let subjectField of trainingSubjectData"><a (click)="filter(subjectField.name)">{{subjectField.name}}</a></li>
                             
                          </ul>

                      </th>
                      <th>Training Type
                          <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>
                          <ul class="dropdown-menu">
                              <li><a (click)="filterType('')">Show all</a></li>
                              <li *ngFor="let subjectField of trainingTypeData"><a (click)="filterType(subjectField.name)">{{subjectField.name}}</a></li>
                              
                            </ul>
                      </th>
                      <th>Average Time to Complete

                          <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>
                          <ul class="dropdown-menu">
                              <li><a (click)="filterTime('')">Show all</a></li>
                              <li *ngFor="let subjectField of trainingAverageTime"><a (click)="filterTime(subjectField.name)">{{subjectField.name}}</a></li>
                              
                            </ul>

                      </th>
                      <th>Status

                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>
                          <ul class="dropdown-menu">
                              <li><a (click)="statusClick('')">Show all</a></li>
                              <li><a (click)="statusClick('1')">Active</a></li>
                              <li><a (click)="statusClick('0')">Inactive</a></li>
                              
                            </ul>

                      </th>
                      <th>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item *ngIf="trainingCheckIdPush.length == 0">
                            <a data-toggle="modal" data-target="#myModal" >Add</a>
                          </button>

                           <button mat-menu-item *ngIf="trainingCheckIdPush.length >= 1">
                            <a (click)="clickArchive()">Archive</a>
                          </button>

                          <button mat-menu-item *ngIf="trainingCheckIdPush.length == 0">
                            <a (click)="clickUnArchive()">Unarchive</a>
                          </button>
                        
                          <button mat-menu-item *ngIf="trainingCheckIdPush.length == 1">
                              <a (click)="edit()" >Edit</a>
                              <a data-toggle="modal" data-target="#myModal" #openEdit></a>
                          </button>
                          
                          <button mat-menu-item *ngIf="trainingCheckIdPush.length >= 1 ">
                              <a (click)="deleteData()">Delete</a>
                          </button>
                        </mat-menu>
                      </th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor="let training of trainingData">
                      <td [ngClass]="{'zenwork-checked-border':training.isChecked}"><mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="training.isChecked" (change)="trainingCheckID($event,training._id)"></mat-checkbox></td>
                      <td>{{training.trainingName}}</td>
                      <td>{{training.trainingId}}</td>
                      <td>{{training.trainingSubject}}</td>
                      <td>{{training.trainingType}}</td>
                      <td>{{training.timeToComplete}}</td>
                      
                      <td *ngIf="training.status === 0"> Inactive</td>
                      <td *ngIf="training.status === 1"> Active</td>
                     
                    </tr>
                    
                  </tbody>
              </table>

                <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 15,25, 100]" (page)="pageEvents($event)"></mat-paginator>

            </div>


          </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseEight">
              Assign Training to Employees
            </a>
          </h4>


        </div>

        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="training-emp col-md-3 clearfix">
              <label>Select Training</label>
              
              <mat-select class="form-control zenwork-general-form-settings" placeholder="Select training">
                  <mat-option *ngFor="let training of activeTrainings" [value]="training.trainingName" (click)="selectTraining(training._id)">
                    {{training.trainingName}}
                  </mat-option>
                 
              </mat-select>

              <a *ngIf="trainingId" class="btn" (click)="openDialog()">Assign Employees</a>

            </div>

          </div>
        </div>
      </div>

    </div>
    
</div>


<div class="training-modal">

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <h4>Training Classes</h4>
        </div>
        <div class="modal-body">
          
          <div class="training-class">
            <form [formGroup]="trainingForm" (ngSubmit)="addTraining()">
            <ul>

              <li class="col-md-4">
                <label>Training Name *</label>
                <input type="text" class="form-control" placeholder="Training name" formControlName="trainingName" maxlength="32" (keypress)="alphabets($event)"
                >
                <span *ngIf="trainingForm.get('trainingName').invalid && trainingForm.get('trainingName').touched" class="errors">Please provide training name</span>
              </li>
              <li class="col-md-5">
                  <label>Training ID Number *</label>
                  <input class="form-control" placeholder="Training ID " formControlName="trainingId" (keypress)="keyPress($event)" maxlength="15">
                  <span *ngIf="trainingForm.get('trainingId').invalid && trainingForm.get('trainingId').touched" class="errors">Please provide Training ID number</span>
                </li>
              <div class="clearfix"></div>  

              <li class="instructor">
                  <label>Instructor Name</label>
                  <mat-select class="form-control zenwork-general-form-settings" placeholder="Instructor name" formControlName="instructorName">
                      
                      <mat-option *ngFor="let employess of employeeData" [value]="employess._id">{{employess.personal.name.preferredName}}</mat-option>

                  </mat-select>
                  

              </li>

              <li class="instructor">
                  <label>Training Subject</label>
                  <mat-select class="form-control zenwork-general-form-settings" placeholder="Training subject" formControlName="trainingSubject">
                    
                      <mat-option *ngFor="let subjectField of trainingSubjectData" [value]="subjectField.name">{{subjectField.name}}</mat-option>

                  </mat-select>
                  <span *ngIf="trainingForm.get('trainingSubject').invalid && trainingForm.get('trainingSubject').touched" class="errors">Please enter training subject</span>
              </li>
              
              <li class="instructor">
                  <label>Training Type *</label>
                  <mat-select class="form-control zenwork-general-form-settings" placeholder="Training type " formControlName="trainingType">
                     
                      <mat-option *ngFor="let subjectField of trainingTypeData" [value]="subjectField.name">{{subjectField.name}}</mat-option>
                      
                  </mat-select>
                  <span *ngIf="trainingForm.get('trainingType').invalid && trainingForm.get('trainingType').touched" class="errors">Please provide training type</span>
              </li>
              
              <li class="instructor">
                  <label>Average Time to Complete *</label>
                  <mat-select class="form-control zenwork-general-form-settings" placeholder="Average time " formControlName="timeToComplete">
                      
                      <mat-option *ngFor="let subjectField of trainingAverageTime" [value]="subjectField.name">{{subjectField.name}}</mat-option>
                                        
                  </mat-select>
                  <span *ngIf="trainingForm.get('timeToComplete').invalid && trainingForm.get('timeToComplete').touched" class="errors">Please provide Average time to complete</span>
              </li>

              <li class="instructor">
                <label>Status *</label>
                  <mat-select class="form-control" placeholder="Status" formControlName="status">
                      <mat-option [value]="1">Active</mat-option>
                      <mat-option [value]="0">Inactive</mat-option>
                    </mat-select>
                    <span *ngIf="trainingForm.get('status').invalid && trainingForm.get('status').touched" class="errors">Please provide status</span>
              </li>

              <li class="col-md-6">
                  <label>Training URL *</label>
                  <input type="text" class="form-control" placeholder="Training URL" formControlName="trainingUrl">
                  <span *ngIf="trainingForm.get('trainingUrl').invalid && trainingForm.get('trainingUrl').touched" class="errors">Please provide URL</span>
              </li>
              <div class="clearfix"></div>

            </ul>
            <div class="clearfix"></div>

            <button type="submit" class="cancel" data-dismiss="modal" (click)="cancelTraining()">Cancel</button>
            <button type="submit" class="save" >Submit</button>
            <div class="clearfix"></div>
          </form>
          </div>
        
        </div>
        
      </div>
  
    </div>
  </div>

</div>
<div class="buttons">
  <ul class="list-unstyled">
   
    <li class="list-items pull-right">
      <button class='save' type="submit" (click)="saveandNext()">
        Save Changes
      </button>
    </li>

    <div class="clearfix"></div>
  </ul>
</div>