<div class="feature-benefits leave company-mobile">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Company Settings</h2>
        <h1>I’ll take a little from column A<br>
          and a little from column B!
        </h1>

        <small>Make our system your system! Adjustable Theme settings to make the site look like your company. Site
          Access Rights & Management allow you to determine what your employees can do within the site. Mobile Access so
          that key data is always at your fingertips.</small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/settings-img.png" width="618" height="583" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div>
   -->

<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #content class="benefits-cont">
  <div class="container">
    <div class="row">
      <p>Customize our system and turn it into your system! Adjustable theme settings personalize Zenwork HR to fit your
        company’s unique style. Site access management allows you to determine what your employees have access to and
        mobile access keeps key data at your fingertips.
      </p>
      <p>With easily <b>customizable workflows and adjustable theme settings,</b> personalize our system into your
            system! Use <b>site access and rights management</b> to control the level of access that you as an admin
            grant to employees and managers. We offer the ability to build custom workflows to grant specific users
            approval authority, even to employees that are not directly linked.
      </p>

    </div>
  </div>

</div>