<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management']">
      <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
    </a>
    <span class="inner-icon-img">
      <img src="../../../assets/images/Manager Self Service/mss.png" class="zenwork-inner-icon"
        alt="Company-settings icon">
    </span>
    <small class="sub-title"><b>Manager Self Service</b></small>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>


<div class="manager-self-service  col-md-11">

  <div class="manager-self-tabs">

    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-reports">Manager Reports</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-approval">Manager Approvals</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-request">Manager Requests</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-front">Manager Front Page</a>
      </li>
    </ul>
    <div class="clearfix"></div>

  </div>

</div>

<router-outlet></router-outlet>

