.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 6px 15px;
    font-size: 14px;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important; vertical-align: middle;
    padding: 0 0 0 5px;
}
.mr-7{
    margin-right: 7px;
}
.zenwork-inner-icon{
    width: 33px;
    height: auto;
    vertical-align: text-bottom;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 0 10px;
}

.zenwork-margin-zero a { margin:  0 10px 0 0; color: #000;}


/*-- Author:Suresh M, Date:21-05-19  --*/
/*-- Manager self service codee  --*/
.manager-self-service { margin: 0 auto; float: none; padding: 0;}

.manager-self-tabs {display: block;padding: 20px 0 0;}
.manager-self-tabs .tab-content { margin:40px 0 0;}
.manager-self-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{ border-bottom:#439348 4px solid;background: transparent;color: #484747 !important;font-size: 18px;}
.manager-self-tabs .nav-tabs {border-bottom:none; padding: 15px 0 0; background: #fff;}
.manager-self-tabs .nav-tabs > li { margin: 0 50px;}
.manager-self-tabs .nav-tabs > li > a {font-size: 18px;line-height: 17px;font-weight:normal;color:#484747 !important;border: none;padding: 10px 0 18px !important;
margin: 0; cursor: pointer;}
.manager-self-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;color: #484747 !important;font-size: 18px;}
.manager-self-tabs .nav-tabs > li.active a{border-bottom:#439348 4px solid;color: #484747 !important;font-size: 18px;}
