<div class="zenworkers-wrapper">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <small>
        <img src="../../../assets/images/employee-management/Green/employee_4.png" class="zenwork-inner-icon" alt="Company-settings icon">
      </small>
      Edit Client Details (Existing Client)
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="zenwork-clients-wrapper">
    
    <mat-tab-group>

      <mat-tab label="Client Details">
          
        <div class="zenworkers-wrapper">
          <!-- <div class="zenwork-currentpage">
            <p class="zenwork-margin-zero">
              <small>
                <img src="../../../assets/images/employee-management/Green/employee_4.png" class="zenwork-inner-icon" alt="Company-settings icon">
              </small>
              Add Client - Reseller
            </p>
            <hr class="zenwork-margin-ten-zero">
          </div> -->

          
          <div class="create-client-wrapper">

            <!-- <mat-horizontal-stepper  #stepper="matHorizontalStepper">
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper> -->
          

            <div class="company-details-wrapper">
              <div class="company-details">
                <div class="col-xs-6">
                  <!-- <div class="green">
                    Company Details
                  </div> -->
                  <div class="form-group">
                    <label>Company Name*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name" [(ngModel)]="companyDetails.name">
                   
                  </div>

                  <div class="form-group">
                    <label>Trade Name*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name" [(ngModel)]="companyDetails.tradeName">
                  </div>

                  <div class="form-group">
                    <label>No. of employees</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="No. of Employees" [(ngModel)]="companyDetails.employeCount">
                  </div>

                  <div class="reseller-block">
                    <div class="form-group">
                      <div class="col-xs-6 padding-left-zero">
                        <label>Is the Client Reseller?</label>
                        <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client/Reseller" [(ngModel)]="companyDetails.type">
                          <mat-option value="reseller">
                            Yes
                          </mat-option>
                          <mat-option value="client">
                            No
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type != 'reseller'">
                        <div class="form-group">
                          <label>Client belongs to Reseller?</label>
                          <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client/Reseller" [(ngModel)]="companyDetails.belongsToReseller">
                            <mat-option value="true">
                              Yes
                            </mat-option>
                            <mat-option value="false">
                              No
                            </mat-option>
                          </mat-select>
                        </div>
                        <div class="form-group" *ngIf="companyDetails.belongsToReseller">
                          <label>Select Reseller</label>
                          <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client/Reseller" [(ngModel)]="companyDetails.reseller">
                            <mat-option value="Reseller1">
                              Reseller 1
                            </mat-option>
                            <mat-option value="Reseller2">
                              Reseller 2
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>


            <div class="contact-wrapper">
              <div class="col-xs-6">
                <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('primaryContact')">
                  <li>
                    <h4>Primary Company Contact</h4>
                  </li>
                  <li class="col-md-10 phone-width">
                    <div class="phone">
                      <!-- <span>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                      </span> -->
                      <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyDetails.primaryContact.name">
                    </div>
                  </li>
                  <li>
                    <h4>Email</h4>
                  </li>
                  <li class="col-md-8">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyDetails.email" required>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <h4>Phone</h4>
                  </li>
                  <li class="col-md-8">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="companyDetails.primaryContact.phone">
                    </div>
                  </li>
                  <li class="col-md-2">

                    <input type="text" class="form-control" placeholder="Ext" [(ngModel)]="companyDetails.primaryContact.extention ">

                  </li>

                  <div class="clearfix"></div>

                </ul>
                <div class="form-group">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyDetails.isPrimaryContactIsBillingContact"></mat-checkbox>
                  <small> Is Primary Contact same as billing Contact ?</small>
                </div>
              </div>
              <div class="col-xs-6">
                <ul *ngIf="!companyDetails.isPrimaryContactIsBillingContact && companyDetails.hasOwnProperty('billingContact')">
                  <li>
                    <h4>Billing Company Contact</h4>
                  </li>
                  <li class="col-md-10 phone-width">
                    <div class="phone">
                      <!-- <span>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                      </span> -->
                      <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyDetails.billingContact.name">
                    </div>
                  </li>
                  <li>
                    <h4>Email</h4>
                  </li>
                  <li class="col-md-8">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyDetails.billingContact.email">
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <h4>Phone</h4>
                  </li>
                  <li class="col-md-8">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="companyDetails.billingContact.phone">
                    </div>
                  </li>
                  <li class="col-md-2">

                    <input type="number" class="form-control" placeholder="Ext" [(ngModel)]="companyDetails.billingContact.extention ">

                  </li>

                  <div class="clearfix"></div>

                </ul>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="address-wrapper">
              <div class="clearfix"></div>
              <div class="col-xs-6">
                <h2>
                  Company Address*
                </h2>
                <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
                  <li class="col-md-8">
                    <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="companyDetails.address.address1">
                  </li>
                  <li class="col-md-8">
                    <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="companyDetails.address.address2">
                  </li>
                </ul>

                <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
                  <li class="state col-md-4">
                    <input type="text" placeholder="City" class="form-control" [(ngModel)]="companyDetails.address.city">
                  </li>
                  <li class="city col-md-4">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State" [(ngModel)]="companyDetails.address.state">
                      <mat-option value="newyork">
                        New York
                      </mat-option>
                      <mat-option value="washington">
                        Washington
                      </mat-option>
                      <mat-option value="florida">
                        Florida
                      </mat-option>
                    </mat-select>
                  </li>
                  <li class="zip col-md-4">
                    <input type="number" placeholder="ZIP" class="form-control" [(ngModel)]="companyDetails.address.zipcode">
                  </li>

                  <li class="col-md-4 united-state">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Country" [(ngModel)]="companyDetails.address.country">
                      <mat-option value="United States">
                        United States
                      </mat-option>
                    </mat-select>
                  </li>
                  <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
                <div class="form-group">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyDetails.isPrimaryAddressIsBillingAddress"></mat-checkbox>
                  <small> Primary Address same as billing address ?</small>
                </div>
              </div>
              <div class="col-xs-6" *ngIf="!companyDetails.isPrimaryAddressIsBillingAddress">
                <h2>
                  Billing Company Address*
                </h2>
                <ul class="zenwork-margin-bottom-zero">
                  <li class="col-md-8">
                    <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="companyDetails.billingAddress.address1">
                  </li>
                  <li class="col-md-8">
                    <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="companyDetails.billingAddress.address2">
                  </li>
                </ul>

                <ul class="zenwork-margin-bottom-zero">
                  <li class="state col-md-4">
                    <input type="text" placeholder="City" class="form-control" [(ngModel)]="companyDetails.billingAddress.city">
                  </li>
                  <li class="city col-md-4">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State" [(ngModel)]="companyDetails.billingAddress.state">
                      <mat-option value="newyork">
                        New York
                      </mat-option>
                      <mat-option value="washington">
                        Washington
                      </mat-option>
                      <mat-option value="florida">
                        Florida
                      </mat-option>
                    </mat-select>
                  </li>
                  <li class="zip col-md-4">
                    <input type="number" placeholder="ZIP" class="form-control" [(ngModel)]="companyDetails.billingAddress.zipcode">
                  </li>

                  <li class="col-md-4 united-state">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Country" [(ngModel)]="companyDetails.billingAddress.country">
                      <mat-option value="United States">
                        United States
                      </mat-option>
                    </mat-select>
                  </li>
                  <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        

        </div>
        <div class="clearfix"></div>

        <div class="col-xs-12">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success zenwork-custom-proceed-btn" (click)="updateCompany()">Save & continue</button>
            <button type="button" class="btn zenwork-customized-transparent-btn">Cancel</button>
            <!-- (click)="cancel()" -->
          </div>
        </div>
        <div class="clearfix"></div>
        
      </mat-tab>

      <mat-tab label="Billing History">Content 2</mat-tab>
      <mat-tab label="Upgrade/Downgrade Package">Content 1</mat-tab>
      <mat-tab label="Payment Mode">Content 2</mat-tab>
    </mat-tab-group>
    <div class="clearfix"></div>
    <!-- <hr class="zenwork-margin-ten-zero"> -->
  </div>
</div>