
.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}

.zenworkers-wrapper{
    padding: 20px 0 0 25px;
}

.search-border{
    border-radius: 3px;
    height: 25px;
    position: relative;
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 12px;
    width: 13px;
    color: #000;
    font-size: 10px;
}

.padding-left-zero{
    padding-left: 0 !important;
}

.zenwork-client-group-addon{
    background: #fff;
    border: 1px transparent;
    border-right: 1px solid #ccc;
}

.zenwork-customized-green-btn{
    background: #439348!important;
    color: #fff!important;
    padding: 7px 12px!important;
    font-size: 12px!important;
    border-radius: 0px!important;
}

.zenwork-custom-select{
    background: #fff!important;
}

.border-none{
    border:0 none !important;
}

.address-wrapper { padding:25px 0 70px;}
.address-wrapper ul { display: inline-block; width: 100%;}
.address-wrapper ul li { margin: 0 0px 20px 0; padding: 0;}
.address-wrapper ul li.details-width{ width: 100%;}
.address-wrapper ul li .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none;height: auto;padding:13px 10px 13px 10px;}
.address-wrapper ul li select { background:#fff; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.address-wrapper ul li.united-state { margin: 0; clear: left;}
.address-wrapper ul li.state, .address-wrapper ul li.city { padding: 0 10px 0 0;}

.contact-wrapper { display: block; padding: 0 0 20px;}
.contact-wrapper ul { margin: 0 0 30px;}
.contact-wrapper ul li {margin: 0 20px 15px 0; padding: 0;}
.contact-wrapper ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.contact-wrapper ul li .phone { display: block; background:#fff; padding:0 10px;clear: left; height: auto;}
.contact-wrapper ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.contact-wrapper ul li .phone span .fa { color: #636060;
    font-size: 23px;
    line-height: 20px;
    width: 18px;
    text-align: center;}
.contact-wrapper ul li .phone .form-control { display: inline-block;vertical-align: middle; width:90%; border: none; background:transparent; box-shadow: none; padding:13px 0 13px 10px; height: auto;}
.contact-wrapper ul li .form-control { display: inline-block;vertical-align: middle; width:90%; border: none; background:#fff; box-shadow: none; 
    padding:13px 10px; height: auto;}
.contact-wrapper ul li.phone-width { float: none; clear:left;}

.zenwork-custom-input{
    background: #fff !important;padding: 13px 15px; height: auto;}

.company-details-wrapper{
    padding:10px 0 10px;
    border-bottom:1px solid #c3c3c3;
}
.contact-wrapper {padding: 40px 0px 10px;
    border-bottom:1px solid #c3c3c3;}



.zenwork-custom-proceed-btn{
    background:#008f3d !important;
    border-color: transparent !important;
    border-radius: 25px !important;
    padding: 6px 30px;
}
.zenwork-customized-transparent-btn { margin: 0 0 0 20px;}

.zenwork-margin-zero small { display:inline-block; vertical-align:text-bottom; font-size: 17px; margin: 0 10px 0 0;}
.zenwork-margin-zero{ font-size: 18px; color:#585858;}

.contact-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.contact-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}
.address-wrapper h2 { color:#636060; font-size: 16px; line-height: 16px; display: inline-block; margin: 0 0 20px;}
.address-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.address-wrapper .form-group { margin: 15px 0 0;}
.address-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}

.company-details label { color:#5f5c5c; font-size: 15px; padding: 0 0 10px; font-weight: normal;}

.reseller-block { margin:60px 0 0;}

