<div class="btm-block" *ngIf="footerRestrict!='contact'">

  <small>Get ready to unleash the power of your workforce</small>
  <a class="btn" href="https://calendly.com/zenworkhr/intro" (click)="about()" target="_blank">Register for a Demo</a>

</div>



<div class="btm-block1" *ngIf="footerRestrict=='contact'">
  
</div>




<div class="contact">

  <div class="tbl">
    <div class="tbl-cell">
      <div class="container">
        <div class="row">
          <img src="../../../assets/images/home/arrow.png" width="" height="" alt="img">
          <h2>Subscribe to our Newsletter</h2>

          <small>Enter your email address to get updates on Zenwork HR <br>
            special price offers, products and events.</small>

          <div class="search col-md-7 col-sm-9 col-xs-11">
            <div class="search-lft col-xs-8">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email address">
              </div>
            </div>
            <a routerLink="/sign-up" class="btn pull-left" (click)="about()">Get Started</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<footer>
  <div class="container">
    <div class="row">

      <div class="footer-logo col-md-2 col-xs-12">
        <a href="#"> <img src="../../../assets/images/main-nav/whitelogo2.png" width="155" alt="img"></a>
        <a href="#" class="btn">Register Now</a>

        <h4>Talk to Sales</h4>
        <p><a href="tel:1-877-811-3829">1-877-811-3829</a></p>
        <p><a href="mail-to:sales@zenwork.com">info@zenworkhr.com</a></p>

      </div>

      <div class="footer-nav col-md-10 col-xs-12">

        <ul>

          <li>
            <div class="footer-cont">
              <ul>
                <li>
                  <h3>Platforms</h3>
                </li>
                <li><a href="#">Zenwork HR</a></li>
                <li><a routerLink="/home" (click)="about()">Practice Management</a></li>
                <li><a href="https://www.tax1099.com" target="_blank">Tax1099</a></li>
                <li><a href="https://www.ez2290.com" target="_blank">EZ2290</a></li>
                <li><a href="https://www.fbaronline.com" target="_blank">FBAR Online</a></li>
                <li><a href="https://ezextension.com" target="_blank">eZExtension</a></li>
              </ul>
            </div>

          </li>

          <li>
            <div class="footer-cont">
              <ul>
                <li>
                  <h3>Learn</h3>
                </li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Webinars</a></li>
              </ul>
            </div>

          </li>

          <li>
            <div class="footer-cont">
              <ul>
                <li>
                  <h3>About Zenwork HR</h3>
                </li>
                <li><a routerLink="/about" (click)="about()">About Us</a></li>
                <li><a routerLink="/pricing" (click)="about()">Pricing</a></li>
                <li><a href="#">Careers</a></li>

              </ul>
            </div>

          </li>

          <li>
            <div class="footer-cont talk-us">
              <ul>
                <li>
                  <h3>Talk to Us</h3>
                </li>
                <li><a href="tel:1-877-811-3829">1-877-811-3829</a></li>
                <li><a href="mail-to:support@zenwork.com">info@zenworkhr.com</a></li>
                <li><a routerLink="/zenwork-login" (click)="about()">Login</a></li>

              </ul>
            </div>

          </li>

          <li>
            <div class="footer-cont social-icons">

              <ul>
                <li>
                  <h3>Follow us on</h3>
                </li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

              </ul>
              <div class="clearfix"></div>
              <!-- <a href="#"><img src="../../../assets/images/home/truste.png" width="115" height="33" alt=""></a> -->
            </div>

          </li>

        </ul>
        <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>

      <div class="copy">
        <p>2019 © Copyright | Powered by Zenwork, Inc. | All Rights Reserved | <a href="#">Privacy Policy</a> |
          <a routerLink="/terms" (click)="about()">Terms of Use</a> </p>
      </div>
    </div>
  </div>
</footer>