
.btm-block { text-align: center; padding:100px 0; position: relative; z-index:99;}
.btm-block small { color: #658fa8; font-size: 28px; line-height:28px; margin: 0 0 30px; display: block;}
.btm-block a.btn {background: #ffc550;color: #313131;font-size: 16px;font-weight: 400;border-radius: 20px;padding: 10px 35px;line-height: 16px;}


.contact { background:url(../../../assets/images/home/footer-top.jpg) no-repeat top center; height: 400px; width: 100%; background-size: cover; text-align: center; margin: 0 0 40px;}
.contact img { margin: 0 auto 30px;}
.contact h2 {color: #658fa8; font-size: 30px; line-height:30px; margin: 0 0 20px; font-weight: bold;}
.contact small {color: #658fa8; font-size: 15px; line-height: 23px; margin: 0 0 40px;}

.search { margin: 20px auto 0; float: none;}
.search-lft { display: inline-block; padding: 0 0 0 55px;}
.search-lft .form-control { border-radius: 20px; height: auto; padding:12px 40px 12px 20px; border: none; color:#000;}
.search-lft .form-group { margin: 0;}

.search a.btn{background: #ffc550;color: #313131;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 12px 55px;
    line-height: 16px;  margin: 0 0 0 -30px; z-index: 99; position: relative;}



footer { background:#3e3e3e; padding: 50px 0 30px;}
.footer-logo{ text-align: center;}
.footer-logo img { margin: 0 0 30px;}
.footer-logo a.btn{border: #ffc550 1px solid;color: #ffc550;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 18px;
    line-height: 16px; margin: 0 0 25px;}
    .footer-logo a.btn:hover{ border:transparent #ffc550 1px; background:#ffc550; color:#313131;}
.footer-logo h4{ color: #fff; font-size: 15px; line-height: 15px; margin: 0 0 8px;}
.footer-logo p { margin: 0 0 4px;}
.footer-logo p a { color:#ffc550;font-size: 15px; line-height: 15px;}
.footer-logo p a:hover { border-bottom:#ffc550 1px solid; }


.footer-nav{margin:7px 0 0;}
.footer-nav { padding: 0 0 0 40px;}
.footer-nav ul {display: block;}
.footer-nav ul li { float: left; width: 20%;}
.footer-cont { display: block;}
.footer-cont ul li { width: auto; float: none; margin: 0 0 10px;}
.footer-cont ul li h3{ color:#fff; border-bottom:#3e3e3e 2px solid; font-size: 18px; line-height:22px; margin: 0 0 20px; display: inline-block;  }
/* .footer-cont ul li h3:hover { cursor: pointer; text-decoration: underline;text-decoration-color: #429348;} */
.footer-cont ul li h3:hover{ cursor: pointer; border-bottom:#099247 2px solid; line-height: 22px;}
.footer-cont ul li a{ color:#c1c1c1; font-size: 15px; line-height: 18px;}
.footer-cont ul li a:hover { color:#429348;text-decoration:underline !important;}

.social-icons.footer-cont ul { width: 100%; margin:0 0 40px;}
.social-icons.footer-cont ul li{ display:inline-block; margin: 0 15px 0 0;}
.social-icons.footer-cont ul li a{ display: inline-block;}
.social-icons.footer-cont ul li a .fa{ font-size: 20px; line-height: 20px; color:#2b2b2b; }
.social-icons.footer-cont ul li a .fa:hover{ color:#ffc550;}
.social-icons.footer-cont ul li:nth-child(1) { display: block; margin: 0 0 30px;}

.talk-us.footer-cont ul li a{ color:#ffc550; font-size: 15px; line-height: 17px;}
.talk-us.footer-cont ul li a:hover { border-bottom:#ffc550 1px solid;text-decoration: none !important;}




.copy{ padding:30px 0 0;border-top:#797777 1px solid; text-align: center; margin: 30px 0 0;}
.copy p { color: #5f5f5f; font-size: 15px; line-height: 15px;}
.copy p a {color: #5f5f5f;}
.hide{
    display: none;
}

.btm-block1 { padding: 180px 0;}