.personal { margin: 30px auto 0; float: none;}

.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.main-head .list-items span{
    vertical-align: middle; font-size: 18px;
}
.zenwork-padding-20-zero{
    padding:10px !important;
}
.img-personal-icon{
    width: 15px;
}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


.field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
}
.field-accordion .panel-title a{
    display: inline-flex;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}


.padding-left-15{
    padding: 0 0 0 15px;
}

.list-items-addresslocal{
    display: block;
    margin: 0px 5px 0px 0px;
    width: 17%;
}
.list-items-addresslocal .text-field{
    font-size: 10px;
    padding-left: 15px;
    width: 100%;
}
input{
    /* height:30px; */
    border:0;
    /* width: 178px; */
}
select{
    font-size: 12px;
}
label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 12px;
    padding: 0 0 0 2px;
}
.education-date-list {
    width: 17%;
    position: relative;
    display: inline-block;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.edu-ends-calendar-icon{
    position: absolute;
    top: 37px;
    width: 15px;
    right: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .radio-btn{
    height: 65px;
    padding: 10px 15px 0 0;  
  }
  .submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
  .mar-top-40 {
    margin-top: 40px;
}
.error {
    color:#e44a49;
}
.text-captilize { font-size: 15px; line-height: 15px; padding: 0 0 10px; display: block;}

.custom-fields { padding: 10px 0 0;}
.custom-fields .form-control { height: auto; padding: 10px 20px; border: none; box-shadow: none;}
.custom-fields .form-control:focus { border-color:transparent; outline: none; box-shadow: none;}

.date { height: 38px !important; line-height:inherit !important; width:80% !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:73%; height: auto; padding: 10px 0 10px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}