<div class="personal col-md-11">
  <div class="zenwork-documents-tab">
    <div class="personal-head">
      <ul class="list-unstyled main-head">
        <li class="list-items">
          <img src="../../../assets/images/directory_tabs/Onboarding/onboarding.png" class="img-personal-icon"
            alt="documents-icon">
        </li>
        <li class="list-items">
          <span>Custom</span>
        </li>
      </ul>
    </div>
    <hr class="zenwork-margin-ten-zero">
    <div class="custom-fields">
      <div *ngFor="let field of customFieldsData" class="col-xs-4" style="height:94px">
        <label class="text-captilize">{{field.fieldName}}</label>
        <div *ngIf="field.fieldType == 'Dropdown'" class="dropdown-field">
          <mat-select placeholder="type" [(ngModel)]="field.text" name="dropdown" #dropdown="ngModel"
            [required]="field.required">
            <mat-option *ngFor="let dropdownoption of field.dropDownOptions" [value]="dropdownoption.value">
              {{dropdownoption.value}}</mat-option>

          </mat-select>
          <span *ngIf="field.required">
            <p *ngIf="!field.text && dropdown.touched || (!field.text && isValid)" class="error">
              Please fill this field</p>
          </span>
        </div>

        <div *ngIf="field.fieldType == 'Text'" class="input-filed">
          <input type="text" [(ngModel)]="field.text" (keypress)="alphabets($event)"
            class="form-control company-legal-name" name="alpa" #alpa="ngModel" [required]="field.required">

          <span *ngIf="field.required">
            <p *ngIf="!field.text && alpa.touched || (!field.text && isValid)" class="error">
              Please fill this field</p>
          </span>

        </div>
        <div *ngIf="field.fieldType == 'Numeric'" class="input-filed">
          <input type="number" class="form-control company-legal-name" [(ngModel)]="field.text" name="numeric"
            #numeric="ngModel" [required]="field.required">
          <span *ngIf="field.required">
            <p *ngIf="!field.text && numeric.touched || (!field.text && isValid)" class="error">
              Please fill this field</p>
          </span>
        </div>
        <div *ngIf="field.fieldType == 'Yes/No'" class="input-filed radio-btn">
          <!-- <input type="number" class="form-control company-legal-name" [(ngModel)]="field.text" > -->
          <mat-radio-group aria-label="Select an option" [(ngModel)]="field.text" name="radio" #radio="ngModel"
            [required]="field.required">
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>

          <span *ngIf="field.required">
            <p *ngIf="!field.text && radio.touched || (!field.text && isValid)" class="error">
              Please fill this field</p>
          </span>
        </div>

        <div *ngIf="field.fieldType == 'Date'" class="input-filed radio-btn">
          <div class="date">
            <!-- <input type="number" class="form-control company-legal-name" [(ngModel)]="field.text" > -->
            <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control"
              [(ngModel)]="field.text" name="date" #date="ngModel"
              [required]="field.required">
            <mat-datepicker #picker1></mat-datepicker>
            <button mat-raised-button (click)="picker1.open()">
              <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </button>
            <div class="clearfix"></div>

          </div>
          <span *ngIf="field.required">
              <p *ngIf="!field.text && date.touched || (!field.text && isValid)" class="error">
                Please fill this field</p>
            </span>
        </div>

      </div>

    </div>
    <div class="clearfix"></div>
    <hr class="zenwork-margin-ten-zero">
    <div class="row mar-top-40">

      <button mat-button data-dismiss="modal">Cancel</button>
      <button mat-button class="submit-btn pull-right" (click)="saveCompanyContactInfo()">Save Changes</button>



    </div>

    <!-- <button class="btn pull-left cancel">Cancel</button> -->
    <!-- <button class="btn pull-right save" (click)="saveCompanyContactInfo()">Save Changes</button> -->

    <div class="clearfix"></div>


  </div>
</div>