.manually-add { display: block;}

.manually-add h3 { border-bottom:#ccc 1px solid; font-size:18px; margin: 0 0 20px; padding: 0 0 20px;}

.manually-in { margin: 0 auto; float: none; padding: 0;}

.manually-in > ul { display: inline-block; width: 100%; margin: 0 0 15px;}
.manually-in > ul > li { padding: 0; margin: 0 20px 0 0;}
.manually-in > ul > li label{color:#808080;font-size: 17px; padding: 0 0 10px;}
.manually-in > ul > li .form-control{ border: none; box-shadow: none; padding:12px; height: auto;
background:#f8f8f8;}
.manually-in > ul > li .form-control:focus{ box-shadow: none;}

.manually-in > ul.manually-add > li { display: block; margin: 0 0 20px; float: none;}

.manually-in > ul.manually-add > li .phone { display: block; background:#f8f8f8; padding:3px 10px;}
.manually-in > ul.manually-add > li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;
border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.manually-in > ul.manually-add > li .phone span .fa { color: #636060;
    font-size: 23px;
    line-height: 23px;
    width: 18px;
    text-align: center;}
.manually-in > ul.manually-add > li .phone .form-control { display: inline-block;vertical-align: middle; width: 85%;
border: none; background:transparent; box-shadow: none; padding:10px;line-height:inherit;}

.manually-add .btn.save {border-radius: 20px;font-size: 16px; padding:8px 30px;
background: #008f3d; color:#fff;}
.manually-add .btn.cancel {color:#e5423d; background:transparent;font-size: 16px;}

.border-top { border-top:#ccc 1px solid; padding: 20px 0 0;}
.border-mdl { margin: 0 auto; float: none; padding: 0;}