<div class="manually-add">
   <h3>Manually Add Applicant</h3>

  <div class="manually-in col-md-10">

    <ul>
      <li class="col-md-4">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First Name">
      </li>
  
      <li class="col-md-4">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name">
      </li>

    </ul>    
    <div class="clearfix"></div>

    <ul class="manually-add">
      <li class="col-md-5">
        <label>Phone Number</label>
        <div class="phone">
          <span>
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" placeholder="Phone Number">          
        </div>
      </li>
  
      <li class="col-md-5">
        <label>Work Email</label>
        <div class="phone">
          <span>
            <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
              height="16" alt="img">
          </span>
          <input type="text" class="form-control" placeholder="Work Email">          
        </div>
      </li>

      <li class="col-md-5">
        <label>Job Title Interest</label>
        <input type="text" class="form-control" placeholder="Job Title">
      </li>
  
      <li class="col-md-5">
        <label>Job Requisition Number</label>
        <input type="text" class="form-control" placeholder="Job Number">
      </li>

      <li class="col-md-5">
        <label>Area of Interest</label>
        <input type="text" class="form-control" placeholder="Area of Interest">
      </li>

    </ul>    

    <div class="clearfix"></div>

  </div>
    
   <div class="border-top">
      <div class="border-mdl col-md-10">

        <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
        <button class="btn pull-right save">Submit</button>
        <div class="clearfix"></div>

      </div>
   </div>
    

</div>