<div class="container-fluid login-bg">
  <div class="login-form">
    <img src="./assets/images/company-settings/right-circle.png">
    <h2 class="login-header">Thanks for verifying your email</h2>

    <a routerLink='/login'>
      <button type="submit" class="login-btn">Back To Login</button>
    </a>

  </div>
</div>