.center { 
    height: 200px;
    position: relative;
    /* border: 3px solid green;  */
  }
  
  .center h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-bg{
    /* background-image: linear-gradient(to bottom, #11aac0, #43b5c7, #5fbfcf, #78cad7, #9dd9e3); */
    background-size: cover;
    /* position: relative; */
    /* height: 100%; */
    background: #ffffff;
}

.login-form{
    height: 400px;
    width: 475px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2% 5%;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0, 0.1);
}
.login-header{
    text-align: center;
    color: black;
    font-weight: 500;
    /* font-family: 'sf_ui_displaymedium'; */
    margin-bottom: 25px;
}

  .login-btn{
      padding: 10px 30px;
      background-color: #fcd65c;
      border: 1px solid #fcd65c;
      color: #5a461a;
      font-size: 18px;
      margin-top: 35px;
      border-radius: 3px;

  }