.zenwork-currentpage{
    padding: 25px 0 0 !important;
}
.zenwork-margin-zero b{
    font-size: 14px!important;
    color: #404040;
}
.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding:6px 15px;
    font-size: 14px;
    margin:  0 10px 0 0;color: #000;
}
.mr-7{
    margin-right: 7px;
}
.mr-7 .fa{ font-size:15px;}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.sub-title{
    display: inline-block;
    margin: 5px 0 0;
    vertical-align:sub;
}
.zenwork-inner-icon{
    width: 30px;
    height: auto;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important;

}
.zenwork-margin-ten-zero {
    margin: 15px 0px !important;
}

.template-name{
    margin:20px 0 0 0;
}
.template-name label{
    line-height: 40px;
}
.text-field{border: none; width: 25%;padding: 11px 12px; height: 40px; box-shadow: none; background: #fff;}

.standard { margin: 0 auto; float: none;}
.off-boarding{ display: block; margin: 20px 0 0;}
.tasks{ display: block;}
.tasks-in{ position: relative;background: #edf7fe; padding: 14px 20px; margin: 20px 0 0;}
.tasks h3{color: #3a3a3a;
    margin: 0;
    font-size: 18px;}
.top-menu{position: absolute; top:-3px; right: 0;}
.tasks ul { display: block; background: #fff; padding:0 20px;}
.tasks ul li { display: block; padding: 20px 0;}
.tasks ul li h4{color: #3a3a3a;margin: 0 0 15px;font-size: 16px; font-weight:600;}

.task-names{ border-bottom:#ccc 1px solid; padding: 12px 0;}
.task-names span { display: block;color:#777474;font-size:14px;}
.task-names small { display: block;color: #ccc;font-size:12px; margin: 5px 0 0 26px;}

.standard .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.standard .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 30px;font-size: 16px;}
.termination-border {border-top:none !important; margin:30px 30px 30px 0; padding: 0;}


.error{
    font-size:12px !important;
    color: #f44336 !important;
}
.add-category{
    cursor: pointer;
}

