<div class="standard col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a routerLink="/admin/admin-dashboard/employee-management/off-boarding-landing/off-boarding-landing">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Offboarding/Group 831.png" class="zenwork-inner-icon"
          alt="Company-settings icon">
      </span>
      <small class="sub-title"><b>Offboarding Template</b></small>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="off-boarding">

    <div class="heading">
      <h4>View / Edit Custom Offboarding Template</h4>
    </div>

    <div class="template-name">
      <label>Offboarding Template Name</label><br>

      <input type="text" class="form-control text-field" [(ngModel)]="customOffboardingtemplateName"
        placeholder="Template Name" name="templateName" #templateName="ngModel" required>
      <p *ngIf="!customOffboardingtemplateName && templateName.touched || (!customOffboardingtemplateName && isValidMainSubmit)"
        class="error"> Please fill this field</p>

    </div>

    <div class="tasks">

      <div class="tasks-in">
        <h3>Offboarding Tasks</h3>
        <div class="top-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button  *ngIf="!isDisabled" mat-menu-item>
              <a data-toggle="modal" data-target="#myModal">Add</a>
            </button>
            <button  *ngIf="isDisabled" mat-menu-item>
              <a data-toggle="modal" data-target="#myModal1">Edit</a>
            </button>
            <button  *ngIf="isDisabled" mat-menu-item>
              <a (click)="deleteTask()">Delete</a>
            </button>
          </mat-menu>
        </div>
      </div>

      <ul *ngIf="customTemplateSend">
        <span>
          <li *ngFor="let task of getKeys((customTemplateSend.offBoardingTasks))">

            <h4 *ngIf="customTemplateSend['offBoardingTasks'][task].length"  >{{task}}</h4>

            <div class="task-names" *ngFor="let data of customTemplateSend['offBoardingTasks'][task]">

              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
                (ngModelChange)="singleTaskChoose(task,data.taskName,data.isChecked)"><span>{{data.taskName}}</span>
              </mat-checkbox>

              <small>{{data.assigneeEmail}} -- {{data.Date | date}}</small>
            </div>




          </li>
        </span>


      </ul>


    </div>


  </div>

  <div class="termination-border">
    <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
    <button *ngIf="!customtemp" class="btn pull-right save" (click)="customTemplateCreate()">Submit</button>

    <button *ngIf="customtemp" class="btn pull-right save" (click)="customTemplateUpdate()">Update</button>

    <div class="clearfix"></div>
  </div>


</div>



<!-- Author:Suresh M, Date:09-05-19  -->
<!-- Standard Termination Wizard -->
<div class="offboard-add">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Offboarding Add Task</h4>
        </div>
        <div class="modal-body">

          <div class="offboard-edit col-md-10">

            <ul>

              <li class="col-md-4 offboarding-width">
                <label>Task Name</label>
                <input type="text" [(ngModel)]="customTask.taskName" class="form-control" placeholder="Task Name"
                  name="taskName" #taskName="ngModel" required>
                <p *ngIf="!customTask.taskName && taskName.touched || (!customTask.taskName && isValid)" class="error">
                  Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Task Assignee</label>
                <mat-select class="form-control" [(ngModel)]="customTask.taskAssignee"
                  (ngModelChange)="empEmail($event)" placeholder="Assignee" name="taskAssignee" #taskAssignee="ngModel"
                  required>
                  <mat-option *ngFor="let data of employeeData" [value]='data._id'>{{data.personal.name.preferredName}}
                  </mat-option>
                </mat-select>
                <p *ngIf="!customTask.taskAssignee && taskAssignee.touched || (!customTask.taskAssignee && isValid)"
                  class="error"> Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Assignee Email Address</label>
                <input type="text" [(ngModel)]="customTask.assigneeEmail" class="form-control"
                  placeholder="Email Address">
              </li>

              <li class="offboarding-width col-md-8">
                <label>Task Description</label>
                <textarea [(ngModel)]="customTask.taskDesription" class="form-control" rows="5"
                  placeholder="Description" name="taskDesription" #taskDesription="ngModel" required></textarea>
                <p *ngIf="!customTask.taskDesription && taskDesription.touched || (!customTask.taskDesription && isValid)"
                  class="error"> Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Expected Task Completion Time</label>
                <mat-select [(ngModel)]="customTask.timeToComplete.time" class="form-control" placeholder="Time Period"
                  name="time" #time="ngModel" required>
                  <mat-option *ngFor="let data of taskCOmpletionTime" [value]="data">{{data}}</mat-option>
                </mat-select>
                <p *ngIf="!customTask.timeToComplete.time && time.touched || (!customTask.timeToComplete.time && isValid)"
                  class="error"> Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label></label>
                <mat-select class="form-control" [(ngModel)]="customTask.timeToComplete.unit" placeholder="Time period"
                  name="unit" #unit="ngModel" required>
                  <mat-option value='Day'>Day</mat-option>
                  <mat-option value='Week'>Week</mat-option>
                  <mat-option value='Month'>Month</mat-option>

                </mat-select>
                <p *ngIf="!customTask.timeToComplete.unit && unit.touched || (!customTask.timeToComplete.unit && isValid)"
                  class="error"> Please fill this field</p>
              </li>
            </ul>
            <div class="clearfix"></div>

            <ul>

              <li class="col-md-4">
                <label>Task Category</label>
                <span *ngIf="!categoryAddInput">
                  <mat-select [(ngModel)]="customTask.category" class="form-control" placeholder="Assignee"
                    name="category" #category="ngModel" required>
                    <mat-option *ngFor="let task of getKeys((customTemplateSend.offBoardingTasks))" [value]='task'>
                      {{task}}</mat-option>
                  </mat-select>

                  <p *ngIf="!customTask.category && category.touched || (!customTask.category && isValid)"
                    class="error"> Please fill this field</p>
                </span>
                <span *ngIf="categoryAddInput">
                  <input type="text" [(ngModel)]="customTask.category" class="form-control category"
                    placeholder="Category" name="category" #category="ngModel" required>

                  <p *ngIf="!customTask.category && category.touched || (!customTask.category && isValid)"
                    class="error"> Please fill this field</p>
                </span>

              </li>

              <li class="col-md-4">
                <label></label>
                <a (click)="categoryInputAdd()"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add
                  Category</a>
              </li>

            </ul>
            <div class="clearfix"></div>

            <div class="termination-border">
              <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
              <button class="btn pull-right save" (click)="offboardingTask()">Submit</button>
              <div class="clearfix"></div>
            </div>

          </div>


        </div>
        <div class="clearfix"></div>

      </div>

    </div>
  </div>

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Task</h4>
        </div>
        <div class="modal-body">

          <div class="offboard-edit col-md-10">

            <ul>

              <li class="col-md-4 offboarding-width">
                <label>Task Name</label>
                <input type="text" [(ngModel)]="customTaskEdit.taskName" class="form-control" placeholder="Task Name"
                  name="taskName" #taskName="ngModel" required>

                <p *ngIf="!customTaskEdit.taskName && taskName.touched || (!customTaskEdit.taskName && isValid)"
                  class="error">
                  Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Task Assignee</label>
                <mat-select class="form-control" [(ngModel)]="customTaskEdit.taskAssignee"
                  (ngModelChange)="empEmailForEdit($event)" placeholder="Assignee" name="taskAssignee" #taskAssignee="ngModel"
                  required>
                  <mat-option *ngFor="let data of employeeData" [value]='data._id'>{{data.personal.name.preferredName}}
                  </mat-option>
                </mat-select>
                <p *ngIf="!customTaskEdit.taskAssignee && taskAssignee.touched || (!customTaskEdit.taskAssignee && isValid)"
                  class="error">
                  Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Assignee Email Address</label>
                <input type="text" [(ngModel)]="customTaskEdit.assigneeEmail" class="form-control"
                  placeholder="Email Address">
              </li>

              <li class="offboarding-width col-md-8">
                <label>Task Description</label>
                <textarea [(ngModel)]="customTaskEdit.taskDesription" class="form-control" rows="5"
                  placeholder="Description" name="taskDesription" #taskDesription="ngModel" required></textarea>
                <p *ngIf="!customTaskEdit.taskDesription && taskDesription.touched || (!customTaskEdit.taskDesription && isValid)"
                  class="error">
                  Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label>Expected Task Completion Time</label>
                <mat-select [(ngModel)]="customTaskEdit.timeToComplete.time" class="form-control"
                  placeholder="Time Period" name="time" #time="ngModel" required>
                  <mat-option *ngFor="let data of taskCOmpletionTime" [value]="data">{{data}}</mat-option>
                </mat-select>
                <p *ngIf="!customTaskEdit.timeToComplete.time && time.touched || (!customTaskEdit.timeToComplete.time && isValid)"
                  class="error">
                  Please fill this field</p>
              </li>

              <li class="col-md-4">
                <label></label>
                <mat-select class="form-control" [(ngModel)]="customTaskEdit.timeToComplete.unit"
                  placeholder="Time period" name="unit" #unit="ngModel" required>
                  <mat-option value='Day'>Day</mat-option>
                  <mat-option value='Week'>Week</mat-option>
                  <mat-option value='Month'>Month</mat-option>
                </mat-select>
                <p *ngIf="!customTaskEdit.timeToComplete.unit && unit.touched || (!customTaskEdit.timeToComplete.unit && isValid)"
                  class="error">
                  Please fill this field</p>
              </li>
            </ul>
            <div class="clearfix"></div>

            <ul>

              <li class="col-md-4">
                <label>Task Category</label>
                <span *ngIf="!categoryInput">
                  <mat-select [(ngModel)]="customTaskEdit.category" (ngModelChange) = "categoryChange()" class="form-control" placeholder="category"
                    name="category" #category="ngModel" required>
                    <mat-option *ngFor="let task of getKeys((customTemplateSend.offBoardingTasks))" [value]='task'>
                      {{task}}</mat-option>
                  </mat-select>
                  <p *ngIf="!customTaskEdit.category && category.touched || (!customTaskEdit.category && isValid)"
                  class="error"> Please fill this field</p>
                </span>

                
                <span *ngIf="categoryInput">
                  <input type="text" [(ngModel)]="customTaskEdit.category" class="form-control category"
                    placeholder="Category" name="category" #category="ngModel" required>

                  <p *ngIf="!customTaskEdit.category && category.touched || (!customTaskEdit.category && isValid)"
                    class="error"> Please fill this field</p>
                </span>
              </li>

              <li class="col-md-4 add-category">
                <label></label>
                <a (click)="categoryAdd()"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Category</a>
              </li>

            </ul>
            <div class="clearfix"></div>

            <div class="termination-border">
              <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
              <button class="btn pull-right save" (click)="customTaskUpdate()">Update</button>
              <div class="clearfix"></div>
            </div>

          </div>


        </div>
        <div class="clearfix"></div>

      </div>

    </div>
  </div>
</div>