<div class="settings-add">


  <ul>
    <li class="col-md-2">
      <label>Add-On Name</label>
      <input type="text" placeholder="Add-On Name" class="form-control" maxlength="32" [(ngModel)]="addOn.name" name="name" required
        #name="ngModel">
      <span *ngIf="!addOn.name && name.touched || (!addOn.name && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter addon name</span>
    </li>
    <li class="col-md-2">
      <label>Status</label>
      <mat-select placeholder="Status" [(ngModel)]="addOn.status" name="status" required #status="ngModel">

        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">InActive</mat-option>
      </mat-select>

      <span *ngIf="!addOn.status && status.touched || (!addOn.status && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter status</span>

    </li>
  </ul>
  <div class="clearfix"></div>


  <!-- <ul>
    <li class="col-md-2">
      <label>Start Date</label>
      <div class="date">
        <input matInput [matDatepicker]="picker" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="addOn.startDate" [max]="addOn.endDate" name="date" required #startDate="ngModel">
        <mat-datepicker #picker></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!addOn.startDate && startDate.touched || (!addOn.startDate && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter startdate</span>


    </li>
    <li class="col-md-2">
      <label>End Date</label>

      <div class="date">
        <input matInput [matDatepicker]="picker1" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="addOn.endDate" [min]="addOn.startDate" name="end" required #endDate="ngModel">
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button (click)="picker1.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!addOn.endDate && endDate.touched || (!addOn.endDate && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter enddate</span>

    </li>
  </ul> -->
  <div class="clearfix"></div>

  <ul class="add-btm-block">
    <li class="col-md-2">
      <label>Cost</label>
      <input type="text" placeholder="$" class="form-control"  (keypress)="keyPress($event)" maxlength="6" [(ngModel)]="addOn.price" name="price" required
        #price="ngModel">

      <span *ngIf="!addOn.price && price.touched || (!addOn.price && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter addon cost</span>

    </li>
    <li class="col-md-2">
      <label>Frequency</label>
      <mat-select placeholder="Frequency" [(ngModel)]="addOn.subscriptionType" name="subscriptionType" required
        #subscriptionType="ngModel">
        <mat-option value="monthly">Monthly</mat-option>
        <mat-option value="yearly">Year</mat-option>
      </mat-select>

      <span *ngIf="!addOn.subscriptionType && subscriptionType.touched || (!addOn.subscriptionType && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter addon frequency</span>

    </li>
    <!-- <li class="col-md-2">
      <label>Employee Cost</label>
      <input type="text" placeholder="$" class="form-control" [(ngModel)]="addOn.price">
    </li> -->
  </ul>
  <div class="clearfix"></div>


  <button style="background: transparent; border:none;"><a class="btn" (click)="createAddOn()"
      type="Submit">Submit</a></button>
  <button style="background: transparent; border:none;"><a class="btn" (click)="cancel()">Cancel</a></button>
  <div class="clearfix"></div>


</div>