<div class="work-days">

  <ul>

    <li class="col-md-3">

      <h5>Vacation</h5>
      <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>

      <div class="vacation">
        <span><b>0.0</b>Hrs Used (YTD)</span>
        <small>0.0 Hrs Scheduled</small>
      </div>

    </li>

    <li class="col-md-3">

      <h5>Sick</h5>
      <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>

      <div class="vacation sick">
        <span><b>0.0</b>Hrs Used (YTD)</span>
        <small>0.0 Hrs Scheduled</small>
      </div>
    </li>

  </ul>

</div>


<div class="summery-main">


  <div class="summery-accord">

    <div class="panel-group" id="accordion11">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
              Requested Time Off
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="requested-time">

              <div class="mdl-history">

                <ul>
                  <li [ngClass]="{'active-border': requestType == 'Pending'}"><a (click)="timeOffRequestType('Pending')">Pending</a></li>
                  <li [ngClass]="{'active-border': requestType == 'Completed'}"><a (click)="timeOffRequestType('Completed')">Completed</a></li>
                </ul>
                <div class="clearfix"></div>
              </div>


              <table class="table">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <th>Type of Leave Requested</th>
                      <th>Request Date </th> 
                      <th>Time Off</th>
                      <th>Request Status</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let data of requestTimeOffData">
                      <td>{{data.timeoffEmployee.personal.name.preferredName}}
                        <!-- <div class="managers">
                          <span><img src="../../../../assets/images/Manager Self Service/employee.png"></span>
                          <div class="manager-right">
                            <h4>Crane Andy</h4>
                            <h5>Manager</h5>
                          </div>
                        </div> -->
                      </td>
                      <td>{{data.timeoffPolicyType}}
                        <!-- <div class="leaves">
                            <img src="../../../../assets/images/Manager Self Service/vacation.png">
                          <small>Vacation</small>
                        </div> -->
                      </td>
                      <td>{{data.timeoffStartDate | date:'MM/dd/yyyy'}}</td>
                      <td>{{data.timeOffStartTime | date:'shortTime'}}-{{data.timeoffEndTime | date:'shortTime'}}</td>
                      <td>
                          <small> <i class="fa fa-circle" aria-hidden="true"></i> &nbsp; {{data.timeoffStatus}}</small></td>
                    </tr>

                  </tbody>
                </table>

                 <!-- <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]"
                    (page)="pageEvents($event)"></mat-paginator> -->

            </div>

          </div>
        </div>
      </div>

    </div>


  </div>