.work-days {display: inline-block;width: 100%;padding:20px 10px; background: #fff; border-radius:5px;}

.work-days ul { display: block;}
.work-days ul li {display: inline-block;position: relative; text-align: center;}
.work-days ul li h5 { color:#737070; padding:0 0 10px; font-size: 18px;}
.work-days ul li figure img { margin: 0 auto 20px;} 

.work-days ul li:after{ content: ""; position: absolute; top:20%; right:8px;
border-right: #cecece 1px solid; height:70%;}
.work-days ul li:nth-last-child(1):after{ border-right: none;}

.vacation { position: relative; text-align: left; padding: 0 0 0 40px;}
.vacation span { display: inline-block; font-size: 14px; color: #ccc;}
.vacation span b { display: inline-block; font-size: 22px; color: #bfbcbc; padding: 0 7px 0 0;}
.vacation small { display:block; font-size: 14px; color: #737070;}
.vacation:after { content:''; position: absolute; top:5px; left:20px; border-left: #23a4db 5px solid; height:90%;}
.vacation.sick:after { content:''; position: absolute; top:5px; left:20px; border-left: #fad32b 5px solid; height:90%;}



.summery-main { display: block;}

.requested-time { display: block;}

.mdl-history { display: block;}
.mdl-history ul{ margin: 0 0 10px;}
.mdl-history ul li{ padding: 0 15px; display: inline-block;}
.mdl-history ul li a{color: #484747; font-weight: normal; font-size: 14px; cursor: pointer;}
.mdl-history ul li.active a { border-bottom:#008f3d 2px solid;}

.requested-time .table{ background:#fff;}
.requested-time .table>tbody>tr>th, .requested-time .table>thead>tr>th {padding: 15px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.requested-time .table>tbody>tr>td, .requested-time .table>tfoot>tr>td, .requested-time .table>tfoot>tr>th, 
.requested-time .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle; border-bottom:#ccc 1px solid;}

.requested-time .table>tbody>tr>th a, .requested-time .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; padding: 0 0 0 10px;}
.requested-time .table>tbody>tr>th a .fa, .requested-time .table>thead>tr>th a .fa { color: #6f6d6d;}
.requested-time .table>tbody>tr>td small { font-size: 15px; vertical-align: middle;}
.requested-time .table>tbody>tr>td small .fa{ color:#008f3d; font-size: 10px; vertical-align: middle;}


.managers { display: block;}
.managers span { vertical-align: middle; display: inline-block;}
.manager-right { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;}
.manager-right h4 { font-size: 15px; margin: 0 0 5px;}
.manager-right h5 {  color: #ccc;margin: 0;}

.leaves { display:inline-block; width: 150px; text-align: center;}
.leaves img { margin: 0 0 10px;}
.leaves small { display: block;color:#929191;}
.active-border {
    border-bottom: 3px solid #008f3d;
}