|<div class="forgot col-md-3">
    <div class="tab">
      <div class="tab-cel">
          <a href="#"><img src="../../../assets/images/main-nav/side-logo.png"></a>
        <ul>
          <li>
            <label>New Password</label>
            <div class="input-block">
                <input type="text" placeholder="New password" class="form-control" [type]="passwordType" 
                [(ngModel)]="newPassword" name="password" #password="ngModel" required>
                <b (click)="newPasswordView()" *ngIf="passwordType === 'password'"> <img src="../../../assets/images/authentication/not-view.png" width="17" height="9" alt="img"></b>
                <strong (click)="newPasswordView()" *ngIf="passwordType === 'text'"> <img src="../../../assets/images/authentication/view.png" width="17" height="14" alt="img"></strong>
                <div class="clearfix"></div>
            </div>
            <p *ngIf="!newPassword && password.touched || (!newPassword && isValid)" class="error">Enter New password</p>
          </li>
          <li>
              <label>Confirm Password</label>
              <div class="input-block">
                  <input type="text" placeholder="Cofirm password" class="form-control" [type]="passwordTypeNew" 
                  [(ngModel)]="confirmPassword" name="confirm" #confirm="ngModel" required>
                  <b (click)="ConfirmPasswordView()" *ngIf="passwordTypeNew === 'password'"> <img src="../../../assets/images/authentication/not-view.png" width="17" height="9" alt="img"></b>
                  <strong (click)="ConfirmPasswordView()" *ngIf="passwordTypeNew === 'text'"> <img src="../../../assets/images/authentication/view.png" width="17" height="14" alt="img"></strong>
                  <div class="clearfix"></div>
              </div>
             <p *ngIf="!confirmPassword && confirm.touched || (!confirmPassword && isValid)" class="error">Enter Confirm password</p>
          </li>
          <li>
              <button class="btn" (click)="forgetSubmit()">Submit</button>
          </li>
        </ul>

      </div>
    </div>
</div>