.forgot { display: block; float: none; margin: 0 auto; padding: 0; height: 500px;}
.tab{ display: table; width: 100%; height: 100%;}
.tab-cel{ display: table-cell; width: 100%; height: 100%; vertical-align: middle;}
.forgot a img { margin: 0 auto 40px; display: block;}
.forgot a img:focus, .reset-pass a:focus { outline: none; border: none;}

.forgot ul { display: block;}
.forgot ul li { margin: 0 0 30px; position: relative;}
.forgot ul li label { display: block; font-size: 17px; color:#525252; padding:0 0 10px;}
.forgot ul li .form-control { height: auto; padding: 10px 12px; box-shadow: none; height: auto; font-size: 15px; position: relative;
width: 90%;float: left; border:none;}

.forgot ul li .btn { border: none; background:#439348; color:#fff; border-radius:30px; padding:10px 30px; font-size: 15px;
display: block; margin:15px auto 0; cursor: pointer;}
.forgot ul li:nth-last-child(1){ margin-bottom: 0;}

.forgot ul li b {cursor: pointer; float: right; margin: 10px 10px 0 0;}
.forgot ul li strong {cursor: pointer; float: right; margin: 10px 10px 0 0;}

.input-block { display: block; border: 1px solid #ccc; border-radius:4px;}

.error { color:#e44a49; padding: 5px 0 0; font-size: 14px;}