<div class="main-template">
  <div class="modal-header">
    <span class="">Create Custom User Role - Define User Type</span>
  </div>
  <div class="custom-modal-body">
    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs col-md-3 create-custom-sidenav">
        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseSteps' }">
          <a href="#chooseSteps" data-toggle="tab" (click)="chooseFieldss('chooseSteps')">Define User Type<span
              [ngClass]="{'caret': selectedNav == 'chooseSteps' }"></span>
          </a>
        </li>
        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseFields' }">
          <a href="#chooseFields" data-toggle="tab" (click)="chooseFieldss('chooseFields')">Choose Modules & Fields
            <span [ngClass]="{'caret': selectedNav == 'chooseFields' }"></span>
          </a>
        </li>
        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseEmployees' }">
          <a href="#chooseEmployees" data-toggle="tab" (click)="chooseFieldss('chooseEmployees')">Choose Employees
            <span [ngClass]="{'caret': selectedNav == 'chooseEmployees' }"></span>
          </a>
        </li>
        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'summaryRecap' }">
          <a href="#summaryRecap" data-toggle="tab" (click)="chooseFieldss('summaryRecap')">Summary / Recap
            <span [ngClass]="{'caret': selectedNav == 'summaryRecap' }"></span>
          </a>
        </li>


      </ul>
      <div class="tab-content col-md-9">
        <div class="tab-pane" [ngClass]="{'active':selectedNav === 'chooseSteps','in':selectedNav==='chooseSteps'}"
          id="chooseSteps">
          <div class="user-type col-md-4">
            <div class="form-group">
              <label>User Type Level</label>
              <mat-select class="form-control text-field select-btn" [(ngModel)]="userRoleData.baseRoleId"
                (ngModelChange)="roleChange(userRoleData.baseRoleId)" placeholder="Select user role" name="baseRoleId"
                #baseRoleId="ngModel" required>
                <mat-option *ngFor="let data of resRolesObj.data" [value]="data._id"> {{data.name}}</mat-option>

                <!-- <mat-option value="Job2">Job2</mat-option> -->
              </mat-select>
              <p *ngIf="!userRoleData.baseRoleId && baseRoleId.touched || (!userRoleData.baseRoleId && isValid)"
                class="error">Please fill
                this field</p>
            </div>
            <div class="form-group">
              <label>Name Of The Custom Type Role</label>
              <input type="text" placeholder="Role Type" [(ngModel)]="userRoleData.name"
                class="form-control company-legal-name" name="name" #name="ngModel" required>
              <p *ngIf="!userRoleData.name && name.touched || (!userRoleData.name && isValid)" class="error">Please fill
                this field</p>
            </div>

          </div>
          <div *ngIf="userRoleData.name == 'System Admin'" class="system-admin col-xs-5">
            <mat-checkbox class="zenwork-customized-checkbox">
              Allow System Administrator to also be designated as HR Contact
            </mat-checkbox>
          </div>
          <div class="col-xs-12"></div>
          <div class="form-group col-xs-5">
            <label>Description</label>
            <textarea class="form-control rounded-0" [(ngModel)]="userRoleData.description" rows="4" name="description"
              #description="ngModel" required></textarea>
            <p *ngIf="!userRoleData.description && description.touched || (!userRoleData.description && isValid)"
              class="error">Please
              fill this field</p>

          </div>

          <div class="clearfix"></div>



          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" (click)="cancel()">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel" (click)="cancel()">Cancel</a>
              </li>
              <li *ngIf="!editCustomRole" class="list-items pull-right">
                <button class='save' type="submit" (click)="createUserRole()">
                  Proceed
                </button>
              </li>
              <li *ngIf="editCustomRole" class="list-items pull-right">
                <button class='save' type="submit" (click)="UpdateUserRole()">
                  Proceed
                </button>
              </li>

              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':selectedNav === 'chooseFields','in':selectedNav==='chooseFields'}"
          id="chooseFields">
          <div class="col-xs-12 ">
            <div class="row">
              <div class="col-md-4">
                <h4>Select the modules</h4>
                <div class="form-group">
                  <input type="text" placeholder="Role Name" [(ngModel)]="userRoleData.name"
                    class="form-control company-legal-name" name="roletype" #roletype="ngModel" readonly required>
                  <p *ngIf="!userRoleData.roletype && roletype.touched || (!userRoleData.roletype && isValid)"
                    class="error">Please fill this field</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 module-table-padding">
            <div class="row">
              <div class="col-md-6 module-table">
                <table>
                  <thead>
                    <th>Page Name</th>
                    <th>Custom {{userRoleData.name}}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of pagesAllObj.data; let i = index" >
                      <td>{{data.name}}</td>
                      <td>
                        <mat-select *ngIf="roleName == 'HR'"
                          class="form-control text-field select-btn dashboard-table-dropdown"
                          placeholder="Select access level" (change)="accessLevelChange($event)" [(ngModel)]="data.hr">
                          <mat-option *ngIf="data.baseHr=='full' || data.baseHr=='view'" value="view">View Only</mat-option>
                          <mat-option *ngIf="data.baseHr=='full'" value="full">Full Access</mat-option>
                          <mat-option *ngIf="data.baseHr=='full' || data.baseHr=='view' || data.baseHr=='no'" value="no">No access
                          </mat-option>
                        </mat-select>
                        <mat-select *ngIf="roleName == 'Manager'"
                          class="form-control text-field select-btn dashboard-table-dropdown"
                          placeholder="Select access level" [(ngModel)]="data.manager" (ngModelChange)="accessLevelChange(roleName,$event,i)">
                          <mat-option *ngIf="data.baseManager=='full' || data.baseManager=='view'" value="view">View Only</mat-option>
                          <mat-option *ngIf="data.baseManager=='full'" value="full">Full Access</mat-option>
                          <mat-option *ngIf="data.baseManager=='full' || data.baseManager=='view' || data.baseManager=='no'" value="no">No access
                          </mat-option>
                        </mat-select>
                        <mat-select *ngIf="roleName == 'Employee'"
                          class="form-control text-field select-btn dashboard-table-dropdown"
                          placeholder="Select access level" [(ngModel)]="data.employee">
                          <mat-option *ngIf="data.baseEmployee=='full' || data.baseEmployee=='view'" value="view">View Only</mat-option>
                          <mat-option *ngIf="data.baseEmployee=='full'" value="full">Full Access</mat-option>
                          <mat-option *ngIf="data.baseEmployee=='full' || data.baseEmployee=='view' || data.baseEmployee=='no'" value="no">No access
                          </mat-option>
                        </mat-select>
                        <mat-select *ngIf="roleName == 'System Admin'"
                          class="form-control text-field select-btn dashboard-table-dropdown"
                          placeholder="Select access level" [(ngModel)]="data.sysadmin">
                          <mat-option *ngIf="data.sysadmin=='full' || data.sysadmin=='view'" value="view">View Only</mat-option>
                          <mat-option *ngIf="data.sysadmin=='full'" value="full">Full Access</mat-option>
                          <mat-option *ngIf="data.sysadmin=='full' || data.sysadmin=='view' || data.sysadmin=='no'" value="no">No access
                          </mat-option>
                        </mat-select>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="myinfo-fields-controll">
            <div class="field-accordion">

              <div class="panel-group" id="accordion1">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a *ngIf="!editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#personal-info" (click)="getMyInfoTabsData('Personal')">
                        Personal Access Level
                      </a>
                      <a *ngIf="editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#personal-info">
                        Personal Access Level
                      </a>
                    </h4>
                  </div>
                  <div id="personal-info" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <!-- personaltable -->

                      <div class="person-tables">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                Field Name
                              </th>
                              <th>
                                No Access
                              </th>
                              <th>
                                View Only
                              </th>

                              <th>
                                Change Requires Approval

                              </th>

                              <th>
                                Change Without Approval
                              </th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of personalFields">
                              <td style="text-align: left">
                                {{data.field_name}}
                              </td>
                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.no_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.full_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.req_approval">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.not_req_approval">
                                </mat-checkbox>

                              </td>
                            </tr>

                          </tbody>
                        </table>


                      </div>
                      <!-- personaltable ends -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" id="accordion1">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">

                      <a *ngIf="!editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#job-info" (click)="getMyInfoTabsData('Job')">
                        Job Access Level
                      </a>
                      <a *ngIf="editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#job-info">
                        Job Access Level
                      </a>
                    </h4>
                  </div>
                  <div id="job-info" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- personaltable -->

                      <div class="person-tables">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                Field Name
                              </th>
                              <th>
                                No Access
                              </th>
                              <th>
                                View Only
                              </th>

                              <th>
                                Change Requires Approval

                              </th>

                              <th>
                                Change Without Approval
                              </th>

                              <!-- <th>
                                <div class="setting-drop">
                                  <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                  </a>
                                  <ul class="dropdown-menu">

                                    <li>
                                      <a>Edit</a>
                                    </li>

                                  </ul>
                                </div> 
                              </th> -->
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let data of JobFields">
                              <td class="text-left">
                                {{data.field_name}}


                              </td>
                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.no_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.full_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.req_approval">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.not_req_approval">
                                </mat-checkbox>

                              </td>

                            </tr>

                          </tbody>
                        </table>


                      </div>
                      <!-- personaltable ends -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" id="accordion1">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">

                      <a *ngIf="!editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#emergency-info"
                        (click)="getMyInfoTabsData('Emergency_Contact')">
                        Emergency Contact Access Level
                      </a>
                      <a *ngIf="editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#emergency-info">
                        Emergency Contact Access Level
                      </a>
                    </h4>
                  </div>
                  <div id="emergency-info" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- personaltable -->

                      <div class="person-tables">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                Field Name
                              </th>
                              <th>
                                No Access
                              </th>
                              <th>
                                View Only
                              </th>

                              <th>
                                Change Requires Approval</th>

                              <th>
                                Change Without Approval
                              </th>

                              <!-- <th> -->
                              <!-- <div class="setting-drop">
                                  <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                  </a>
                                  <ul class="dropdown-menu">

                                    <li>
                                      <a>Edit</a>
                                    </li>

                                  </ul>
                                </div> -->
                              <!-- </th> -->
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let data of emergency">
                              <td class="text-left">
                                {{data.field_name}}


                              </td>
                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.no_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.full_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.req_approval">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.not_req_approval">
                                </mat-checkbox>

                              </td>


                            </tr>

                          </tbody>
                        </table>


                      </div>
                      <!-- personaltable ends -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" id="accordion1">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">

                      <a *ngIf="!editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#compensation-info" (click)="getMyInfoTabsData('Compensation')">
                        Compensation Access Level
                      </a>
                      <a *ngIf="editCustomRole" class="accordion-toggle" data-toggle="collapse"
                        data-parent="#accordion1" href="#compensation-info">
                        Compensation Access Level
                      </a>
                    </h4>
                  </div>
                  <div id="compensation-info" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- personaltable -->

                      <div class="person-tables">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                Field Name
                              </th>
                              <th>
                                No Access
                              </th>
                              <th>
                                View Only
                              </th>

                              <th>
                                Change Requires Approval

                              </th>

                              <th>
                                Change Without Approval
                              </th>

                              <!--<th>
                                 <div class="setting-drop">
                                  <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                  </a>
                                  <ul class="dropdown-menu">

                                    <li>
                                      <a>Edit</a>
                                    </li>

                                  </ul>
                                </div> 
                              </th>-->
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let data of compensationFields">
                              <td class="text-left">
                                {{data.field_name}}


                              </td>
                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.no_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.full_access">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.req_approval">
                                </mat-checkbox>

                              </td>

                              <td>
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.not_req_approval">
                                </mat-checkbox>

                              </td>

                            </tr>

                          </tbody>
                        </table>


                      </div>
                      <!-- personaltable ends -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" (click)="backModulesandFields('chooseSteps')">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel" (click)="cancel()">Cancel</a>
              </li>
              <li *ngIf="!editCustomRole" class="list-items pull-right">
                <button class='save' type="submit" (click)="postShowFields()">
                  Save Changes
                </button>
              </li>
              <li *ngIf="editCustomRole" class="list-items pull-right">
                <button class='save' type="submit" (click)="postUpdateShowFields()">
                  Save Changes
                </button>
              </li>

              <div class="clearfix"></div>
            </ul>
          </div>

        </div>
        <div class="tab-pane"
          [ngClass]="{'active':selectedNav === 'chooseEmployees','in':selectedNav==='chooseEmployees'}"
          id="chooseEmployees">

          <div class="employees-data">
            <div class="field-accordion">
              <div class="panel-group" id="accordion2">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title heading-eligibility">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                        href="#eligibility-info">
                        Eligibility Criteria
                      </a>
                    </h4>
                  </div>
                  <div id="eligibility-info" class="panel-collapse collapse in">
                    <div class="panel-body eligibilty-border-bottom">

                      <div class="employees-data">
                        <div class="col-sm-12 table-body">
                          <div class="row">
                            <div class="col-sm-6 structure-tbl-body height-300">

                              <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">

                                <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                                  <div>

                                    <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                      [value]="fields.name"
                                      (ngModelChange)="getStructureSubFields(fields.name,fields.isChecked )">
                                      {{fields.name}}
                                    </mat-checkbox>
                                  </div>

                                </li>

                              </ul>
                            </div>

                            <div class="col-sm-1 text-center arrow-position">
                              <i class="material-icons arrow-align-one">
                                keyboard_arrow_right
                              </i>
                              <i class="material-icons arrow-align-two">
                                keyboard_arrow_right
                              </i>
                            </div>
                            <div class="col-sm-6 structure-tbl-body height-300">

                              <div *ngIf="StructureValues">
                                <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">

                                  <li class="list-items-values">
                                    <mat-checkbox class="checkbox-success"
                                      (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                      {{values.name}}
                                    </mat-checkbox>

                                  </li>

                                </ul>

                              </div>
                              <div *ngIf="customValues">
                                <ul class="list-unstyled structure-list" *ngFor="let values of customValues">

                                  <li class="list-items-values">
                                    <mat-checkbox class="checkbox-success"
                                      (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                      {{values.name}}
                                    </mat-checkbox>
                                  </li>

                                </ul>

                              </div>
                            </div>

                          </div>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>
                <div class="employees-table">
                  <div>
                    <h4 style="float: left;">Include a Specific Person</h4>
                    <h4 style="float: right;">Exclude a Specific Person</h4>
                    <div class="clearfix"></div>
                    <!-- <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
                    </ng-multiselect-dropdown> -->

                    <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format" filter=true
                      height='300px'>
                    </dual-list>
                  </div>

                </div>


              </div>
            </div>

          </div>
          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" (click)="backModulesandFields('chooseFields')">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel" (click)="cancel()">Cancel</a>
              </li>
              <li class="list-items pull-right">
                <button class='save' type="submit" (click)="postEmpData()">
                  Save Changes
                </button>
              </li>

              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':selectedNav === 'summaryRecap','in':selectedNav==='summaryRecap'}"
          id="summaryRecap">
          <div class="recap-tab">
            <!-- ===============================================first tab============================================================ -->

            <div class="field-accordion">

              <div class="panel-group" id="recap">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#recap" href="#define-user">
                        Define User Type
                      </a>
                    </h4>
                  </div>
                  <div id="define-user" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="user-type col-md-4">
                        <div class="form-group">
                          <label>User Type Level</label>
                          <mat-select class="form-control text-field select-btn" [(ngModel)]="userRoleData.name"
                            (ngModelChange)="roleChange(userRoleData.name)" placeholder="Select user role" name="name"
                            #name="ngModel" required [disabled]=true>
                            <mat-option *ngFor="let data of resRolesObj.data" [value]="data.name"> {{data.name}}
                            </mat-option>

                            <!-- <mat-option value="Job2">Job2</mat-option> -->
                          </mat-select>
                          <p *ngIf="!userRoleData.name && name.touched || (!userRoleData.name && isValid)"
                            class="error">Please fill
                            this field</p>
                        </div>
                        <div class="form-group">
                          <label>Name Of The custom Type Role</label>
                          <input type="text" placeholder="Role Type" [(ngModel)]="userRoleData.roletype"
                            class="form-control company-legal-name" name="roletype" #roletype="ngModel" required
                            readonly>
                          <p *ngIf="!userRoleData.roletype && roletype.touched || (!userRoleData.roletype && isValid)"
                            class="error">Please fill this field</p>
                        </div>

                      </div>
                      <div *ngIf="userRoleData.name == 'System Admin'" class="system-admin col-xs-5">
                        <mat-checkbox class="zenwork-customized-checkbox">
                          Allow System Administrator to also be designated as HR Contact
                        </mat-checkbox>
                      </div>
                      <div class="col-xs-12"></div>
                      <div class="form-group col-xs-5">
                        <label>Description</label>
                        <textarea class="form-control rounded-0" [(ngModel)]="userRoleData.description" rows="4"
                          name="description" #description="ngModel" required readonly></textarea>
                        <p *ngIf="!userRoleData.description && description.touched || (!userRoleData.description && isValid)"
                          class="error">Please fill this field</p>

                      </div>

                      <div class="clearfix"></div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" id="recap">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#recap" href="#modules">
                        Modules & Fields
                      </a>
                    </h4>
                  </div>
                  <div id="modules" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- =======================================secondtab ==============================================-->

                      <div class="col-xs-12 ">
                        <div class="row">
                          <div class="col-md-4">
                            <h4>Select the modules</h4>
                            <div class="form-group">
                              <input type="text" placeholder="Role Name" [(ngModel)]="userRoleData.roletype"
                                class="form-control company-legal-name" name="roletype" #roletype="ngModel" readonly
                                required readonly>
                              <p *ngIf="!userRoleData.roletype && roletype.touched || (!userRoleData.roletype && isValid)"
                                class="error">Please fill this field</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 module-table-padding">
                        <div class="row">
                          <div class="col-md-6 module-table">
                            <table>
                              <thead>
                                <th>Page Name</th>
                                <th>Custom {{userRoleData.name}}</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of pagesAllObj.data">
                                  <td>{{data.name}}</td>
                                  <td>
                                    <mat-select *ngIf="userRoleData.baseRoleId == '5cbe98f8561562212689f748'"
                                      class="form-control text-field select-btn dashboard-table-dropdown"
                                      placeholder="Select access level" [(ngModel)]="data.hr">
                                      <mat-option value="view">View Only</mat-option>
                                      <mat-option value="full">Full Access</mat-option>
                                      <mat-option value="no">No access</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="userRoleData.baseRoleId == '5cbe98a3561562212689f747'"
                                      class="form-control text-field select-btn dashboard-table-dropdown"
                                      placeholder="Select access level" [(ngModel)]="data.manager">
                                      <mat-option value="view">View Only</mat-option>
                                      <mat-option value="full">Full Access</mat-option>
                                      <mat-option value="no">No access</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="userRoleData.baseRoleId == '5cbe990e561562212689f749'"
                                      class="form-control text-field select-btn dashboard-table-dropdown"
                                      placeholder="Select access level" [(ngModel)]="data.employee">
                                      <mat-option value="view">View Only</mat-option>
                                      <mat-option value="full">Full Access</mat-option>
                                      <mat-option value="no">No access</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="userRoleData.baseRoleId == '5cbe9922561562212689f74a'"
                                      class="form-control text-field select-btn dashboard-table-dropdown"
                                      placeholder="Select access level" [(ngModel)]="data.sysadmin">
                                      <mat-option value="view">View Only</mat-option>
                                      <mat-option value="full">Full Access</mat-option>
                                      <mat-option value="no">No access</mat-option>
                                    </mat-select>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="myinfo-fields-controll">
                        <div class="field-accordion">

                          <div class="panel-group" id="accordion1">

                            <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                    href="#personal" (click)="getMyInfoTabsData('Personal')">
                                    Personal Access Level
                                  </a>
                                </h4>
                              </div>
                              <div id="personal-info" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <!-- personaltable -->

                                  <div class="person-tables">

                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Field Name
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>No Access
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>View Only
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Requires Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Without Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <div class="setting-drop">
                                              <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                              </a>
                                              <ul class="dropdown-menu">

                                                <li>
                                                  <a>Edit</a>
                                                </li>

                                              </ul>
                                            </div>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr *ngFor="let data of personalFields">
                                          <td class="zenwork-checked-border">
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>
                                              {{data.field_name}}
                                            </mat-checkbox>


                                          </td>
                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.no_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.full_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.not_req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>
                                          <td>

                                          </td>

                                        </tr>

                                      </tbody>
                                    </table>


                                  </div>
                                  <!-- personaltable ends -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-group" id="accordion1">

                            <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                    href="#job" (click)="getMyInfoTabsData('Job')">
                                    Job Access Level
                                  </a>
                                </h4>
                              </div>
                              <div id="job" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <!-- personaltable -->

                                  <div class="person-tables">

                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Field Name
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>No Access
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>View Only
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Requires Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Without Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <div class="setting-drop">
                                              <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                              </a>
                                              <ul class="dropdown-menu">

                                                <li>
                                                  <a>Edit</a>
                                                </li>

                                              </ul>
                                            </div>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr *ngFor="let data of JobFields">
                                          <td class="zenwork-checked-border">
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>
                                              {{data.field_name}}
                                            </mat-checkbox>


                                          </td>
                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.no_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.full_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.not_req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>
                                          <td>

                                          </td>

                                        </tr>

                                      </tbody>
                                    </table>


                                  </div>
                                  <!-- personaltable ends -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-group" id="accordion1">

                            <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                    href="#emergency" (click)="getMyInfoTabsData('Emergency_Contact')">
                                    Emergency Contact Access Level
                                  </a>
                                </h4>
                              </div>
                              <div id="emergency" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <!-- personaltable -->

                                  <div class="person-tables">

                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Field Name
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>No Access
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>View Only
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Requires Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Without Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <div class="setting-drop">
                                              <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                              </a>
                                              <ul class="dropdown-menu">

                                                <li>
                                                  <a>Edit</a>
                                                </li>

                                              </ul>
                                            </div>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr *ngFor="let data of emergency">
                                          <td class="zenwork-checked-border">
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>
                                              {{data.field_name}}
                                            </mat-checkbox>


                                          </td>
                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.no_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.full_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.not_req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>
                                          <td>

                                          </td>

                                        </tr>

                                      </tbody>
                                    </table>


                                  </div>
                                  <!-- personaltable ends -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-group" id="accordion1">

                            <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                    href="#compensation" (click)="getMyInfoTabsData('Compensation')">
                                    Compensation Access Level
                                  </a>
                                </h4>
                              </div>
                              <div id="compensation" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <!-- personaltable -->

                                  <div class="person-tables">

                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Field Name
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>No Access
                                            </mat-checkbox>
                                          </th>
                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>View Only
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Requires Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>Change
                                              Without Approval
                                            </mat-checkbox>
                                          </th>

                                          <th>
                                            <div class="setting-drop">
                                              <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                              </a>
                                              <ul class="dropdown-menu">

                                                <li>
                                                  <a>Edit</a>
                                                </li>

                                              </ul>
                                            </div>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr *ngFor="let data of compensationFields">
                                          <td class="zenwork-checked-border">
                                            <mat-checkbox class="zenwork-customized-checkbox" [disabled]=true>
                                              {{data.field_name}}
                                            </mat-checkbox>


                                          </td>
                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.no_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.full_access" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>

                                          <td>
                                            <mat-checkbox class="zenwork-customized-checkbox"
                                              [(ngModel)]="data.not_req_approval" [disabled]=true>
                                            </mat-checkbox>

                                          </td>
                                          <td>

                                          </td>

                                        </tr>

                                      </tbody>
                                    </table>


                                  </div>
                                  <!-- personaltable ends -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" id="recap">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#recap" href="#employees">
                        Employees
                      </a>
                    </h4>
                  </div>
                  <div id="employees" class="panel-collapse collapse">
                    <div class="panel-body">

                      <div class="employees-data">
                        <div class="field-accordion">
                          <div class="panel-group" id="accordion2">

                            <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                              <div class="panel-heading">
                                <h4 class="panel-title heading-eligibility">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                    href="#eligibility-info">
                                    Eligibility Criteria
                                  </a>
                                </h4>
                              </div>
                              <div id="eligibility-info" class="panel-collapse collapse in">
                                <div class="panel-body eligibilty-border-bottom">

                                  <div class="employees-data">
                                    <div class="col-sm-12 table-body">
                                      <div class="row">
                                        <div class="col-sm-6 structure-tbl-body height-300">

                                          <ul class="list-unstyled structure-list"
                                            *ngFor="let fields of structureFields">

                                            <li class="list-items"
                                              [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                                              <div>

                                                <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                                  [value]="fields.name"
                                                  (ngModelChange)="getStructureSubFields(fields.name,fields.isChecked )"
                                                  [disabled]=true>
                                                  {{fields.name}}
                                                </mat-checkbox>
                                              </div>

                                            </li>

                                          </ul>
                                        </div>

                                        <div class="col-sm-1 text-center arrow-position">
                                          <i class="material-icons arrow-align-one">
                                            keyboard_arrow_right
                                          </i>
                                          <i class="material-icons arrow-align-two">
                                            keyboard_arrow_right
                                          </i>
                                        </div>
                                        <div class="col-sm-6 structure-tbl-body height-300">

                                          <div *ngIf="StructureValues">
                                            <ul class="list-unstyled structure-list"
                                              *ngFor="let values of StructureValues">

                                              <li class="list-items-values">
                                                <mat-checkbox class="checkbox-success"
                                                  (change)="subFieldsStructure($event,values.name)"
                                                  [value]="values.name" [disabled]=true>
                                                  {{values.name}}
                                                </mat-checkbox>

                                              </li>

                                            </ul>

                                          </div>
                                          <div *ngIf="customValues">
                                            <ul class="list-unstyled structure-list"
                                              *ngFor="let values of customValues">

                                              <li class="list-items-values">
                                                <mat-checkbox class="checkbox-success"
                                                  (change)="subFieldsStructure($event,values.name)"
                                                  [value]="values.name" [disabled]=true>
                                                  {{values.name}}
                                                </mat-checkbox>
                                              </li>

                                            </ul>

                                          </div>
                                        </div>

                                      </div>
                                    </div>


                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="employees-table">
                              <div class="col-xs-12">
                                <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format"
                                  filter=true height='300px'>
                                </dual-list>
                              </div>
                            </div>


                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="buttons">
              <ul class="list-unstyled">
                <li class="list-items">
                  <a class="back" (click)="backModulesandFields('chooseEmployees')">Back</a>
                </li>
                <li class="list-items">
                  <a class="cancel" (click)="cancel()">Cancel</a>
                </li>
                <li class="list-items pull-right">
                  <button class='save' type="submit" (click)="closeRecapPopup()">
                    Save Changes
                  </button>
                </li>

                <div class="clearfix"></div>
              </ul>
            </div>


            <!-- ====================================third tab ========================================-->


          </div>
        </div>
      </div>
    </div>


  </div>





</div>
<!-- <div class="clearfix"></div> -->