<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management/on-boarding/on-boarding']">
      <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
    </a>
    <span class="inner-icon-img">
      <img src="../../../assets/images/Onboarding/Group 828.png" class="zenwork-inner-icon" alt="Company-settings icon">
    </span>
    <small class="sub-title">
      <b>New Hire HR</b>
    </small>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>
<div class="col-md-11 main-newhirehr">
  <div class="green zenwork-padding-25-zero">
    Details
    <span class="caret"></span>
  </div>
  <div class="form-group">
    <div class="detail-section">
      <ul class="list-unstyled name-list">
        <li class="list-name-field">
          <label>First Name</label>
          <br>
          <input type="text" name="fname" class="names" [(ngModel)]="newEmployeeDetails.name.firstName">
        </li>
        <li class="list-name-field">
          <label>Middle Name</label>
          <br>
          <input type="text" name="fname" class="names" [(ngModel)]="newEmployeeDetails.name.middleName">
        </li>
        <li class="list-name-field">
          <label>Last Name</label>
          <br>
          <input type="text" name="fname" class="names" [(ngModel)]="newEmployeeDetails.name.lastName">
        </li>
        <li class="list-name-field">
          <label>Prefered Name</label>
          <br>
          <input type="text" name="fname" class="names" [(ngModel)]="newEmployeeDetails.name.prefferedName">
        </li>
      </ul>
      <ul class="list-unstyled birth-date">
        <li class="birth-date-list padding10-listitems">
          <label>Birth Date</label>
          <br>
          <input class="form-control birthdate" #dpMDY="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy"
            name="birth-date" [(ngModel)]="newEmployeeDetails.birth">
          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon" alt="Company-settings icon" (click)="dpMDY.toggle()"
            [attr.aria-expanded]="dpMDY.isOpen">

        </li>
      </ul>
      <ul class="list-unstyled gender">
        <li class="gender-list padding10-listitems">
          <label>Gender</label>
          <mat-select class="form-control zenwork-structure-settings" [(ngModel)]="newEmployeeDetails.gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </li>
      </ul>
      <ul class="list-unstyled martial-status">
        <li class="list-martial-field">
          <label>Marital Status</label>
          <br>
          <mat-select class="form-control martial-dropdown" [(ngModel)]="newEmployeeDetails.maritalStatus">
            <mat-option value="Single">Single</mat-option>
            <mat-option value="Married">Married</mat-option>
            <mat-option value="Divorced">Divorced</mat-option>
            <mat-option value="Widowed">Widowed</mat-option>
          </mat-select>
        </li>
        <li class="list-martial-field-date">
          <label>Effective Date</label>
          <br>
          <input class="form-control effectivedate" #dpMDY1="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
            name="martial-date" class="" [(ngModel)]="newEmployeeDetails.effectiveDate">
          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon-martial" alt="Company-settings icon" (click)="dpMDY1.toggle()"
            [attr.aria-expanded]="dpMDY1.isOpen">
        </li>
      </ul>
      <ul class="list-unstyled gender">
        <li class="gender-list padding10-listitems">
          <label>Veteran Status</label>
          <mat-select class="form-control zenwork-structure-settings" [(ngModel)]="newEmployeeDetails.veteranStatus">
            <mat-option value="true">
              Yes
            </mat-option>
            <mat-option value="false">
              No
            </mat-option>
          </mat-select>

        </li>
      </ul>
      <ul class="list-unstyled name-list">
        <li class="list-name-field">
          <label>SSN</label>
          <br>
          <input type="text" name="ssn" class="names" [(ngModel)]="newEmployeeDetails.ssn">
        </li>
        <li class="list-name-field">
          <label>SIN</label>
          <br>
          <input type="text" name="sin" class="names" [(ngModel)]="newEmployeeDetails.sin">
        </li>
        <li class="list-name-field">
          <label>NIN</label>
          <br>
          <input type="text" name="nin" class="names" [(ngModel)]="newEmployeeDetails.nin">
        </li>
      </ul>
      <ul class="list-unstyled ethnicity">
        <li class="gender-list padding10-listitems ethnicity-list">
          <label>Ethnicity</label>
          <mat-select class="form-control zenwork-structure-settings " [(ngModel)]="newEmployeeDetails.ethnicity">
            <mat-option value="American">American</mat-option>
            <mat-option value="Asian">Asian</mat-option>
            <mat-option value="Indian">Indian</mat-option>
            <mat-option value="Japanese">Japanese</mat-option>
            <mat-option value="Chinese">Chinese</mat-option>
          </mat-select>
        </li>
      </ul>
      <hr class="zenwork-margin-ten-zero">
    </div>

    <div class="address">
      <div class="green zenwork-padding-20-zero">
        Address
        <span class="caret"></span>
      </div>
      <ul class="list-unstyled ">
        <li class="list-items-address">
          <input type="text" class="address1 text-field" placeholder="Street1" [(ngModel)]="newEmployeeDetails.address.address1">
        </li>
        <li class="list-items-address">
          <input type="text" class="address1 text-field" placeholder="Street2" [(ngModel)]="newEmployeeDetails.address.address2">
        </li>
      </ul>
      <ul class="list-unstyled">
        <li class="list-items-addresslocal city">
          <input type="text" class="address-city text-field" placeholder="City" [(ngModel)]="newEmployeeDetails.address.city">
        </li>
        <li class="list-items-addresslocal">
          <input type="text" class="address-city text-field" placeholder="State" [(ngModel)]="newEmployeeDetails.address.state">
        </li>
        <li class="list-items-addresslocal">
          <input type="text" class="address-city text-field zipcode-input" placeholder="ZIP" [(ngModel)]="newEmployeeDetails.address.zipcode">
        </li>
        <br>
      </ul>
      <ul class="list-unstyled">
        <li class="country-items">
          <mat-select class="form-control zenwork-structure-settings " placeholder="Country" [(ngModel)]="newEmployeeDetails.address.country">
            <mat-option value="USA">United States</mat-option>
            <mat-option value="Asia">Asia</mat-option>
            <mat-option value="India">India</mat-option>
            <mat-option value="Japan">Japan</mat-option>
            <mat-option value="China">China</mat-option>
          </mat-select>
        </li>
      </ul>
      <hr class="zenwork-margin-twenty-zero">

    </div>
    <div class="contact">
      <div class="green zenwork-padding-20-zero">
        Contact
        <span class="caret"></span>
      </div>
      <ul class="list-unstyled contact-details working-phone">
        <li class="phone-items">
          <label>Phone</label>
          <br>
          <img src="../../../assets/images/Onboarding/ic_domain_24px.png" class="landphone-img" alt="land-phone-icon">

          <input type="number" class="workphone text-field" placeholder="Work phone" [(ngModel)]="newEmployeeDetails.contact.workPhone">
          <input type="number" class="ext text-field-ext" placeholder="Ext" [(ngModel)]="newEmployeeDetails.contact.extention">
        </li>
      </ul>
      <ul class="list-unstyled contact-details mobile-phone">
        <li class="mobile">
          <img src="../../../assets/images/Onboarding/Group 1127.png" class="mobile-img" alt="mobile-phone-icon">
          <input type="number" class="mobile-phone text-field" placeholder="Mobile Phone" [(ngModel)]="newEmployeeDetails.contact.mobilePhone">

        </li>
      </ul>
      <ul class="list-unstyled contact-details home-phone">
        <li class="Home-phone">
          <img src="../../../assets/images/Onboarding/ic_home_24px.png" class="home-img" alt="home-phone-icon">
          <input type="number" class="home-phone text-field" placeholder="Home Phone" [(ngModel)]="newEmployeeDetails.contact.homePhone">

        </li>
      </ul>
      <ul class="list-unstyled contact-details mobile-phone">
        <label>Email</label>
        <br>
        <li class="email-item">
          <img src="../../../assets/images/Onboarding/ic_domain_24px.png" class="workingemail-img" alt="land-phone-icon">
          <input type="email" class="workphone text-field" placeholder="Work Email" [(ngModel)]="newEmployeeDetails.contact.workMail">
        </li>
        <li class="Home-email">
          <img src="../../../assets/images/Onboarding/ic_home_24px.png" class="homeemail-img" alt="home-phone-icon">
          <input type="email" class="home-phone text-field" placeholder="Home Email" [(ngModel)]="newEmployeeDetails.contact.personalMail">
        </li>
      </ul>
    </div>
    <hr class="zenwork-margin-twenty-zero">
  </div>
  <div class="zenwork-setting">
    <button class="btn" (click)="hireNewEmployee()">Save Changes</button>
    <button class="btn">Cancel</button>
  </div>
</div>