.zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 12px;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 14px!important;   
}
.mr-7{
    margin-right: 7px;
}
.main-newhirehr{
    margin: 0 auto;
    float: none;
    padding: 0;
}
.zenwork-padding-25-zero{
    padding: 25px 0 25px 10px!important;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
/* input select{
    border:0!important;
} */
.zenwork-general-form-settings{
    width: 18%!important;
    border-radius: 0px!important;
}
.name-list .list-name-field{
    display:inline-block;
    padding:0px 10px;
}

.address, .contact{
    margin: 0 0 0 10px;
}
label{
    font-weight: normal;
    line-height: 30px;
}

.birth-date .padding10-listitems{
    padding: 0px 10px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
/* input {
    height:30px;
} */
/* .birth-date{
    position:relative;
} */
.birth-date-list{
    position: relative;
    display: inline-block;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.calendar-icon{
    position: absolute;
    top: 38px;
    width: 15px;
    right: 15px;
}
.zenwork-structure-settings{
    width: 178px!important;
    border-radius: 0px!important;
    height:34px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gender-list{
    padding:0px 10px;
}
.gender .gender-list label,.ethnicity .ethnicity-list label{
    display: block;
}

.list-martial-field{
    display: inline-block;
    padding: 0px 10px;
    /* width: 22%; */
}
/* .martial-status{
    position:relative;
} */
.list-martial-field-date{
   /* width:18%!important; */
   display:inline-block;
   position: relative;
   padding: 0px 10px;
}
.martial-dropdown{
    border-radius:0px!important;
    border:0px!important;
    height:34px;
    width:178px!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.effectivedate{

}
.calendar-icon-martial{
    width: 15px;
    position: absolute;
    top: 40px;
    right: 10px;
}
.ethnicity{
    margin-bottom: 20px;
}
.ethnicity-list select{
    width:39%!important;
}
.zenwork-padding-20-zero{
    padding:20px 0px!important;
}
.list-items-address{
    padding: 10px 0px;
}
.list-items-address .text-field{
    font-size: 14px;
    padding-left: 15px;
}
.zipcode-input{
    width:auto;
}
.list-items-addresslocal .text-field{
    font-size: 14px;
    padding-left: 15px;
    width: 100%;
}
input{
    height:34px;
    border:0;
    width: 178px;
    outline: none;
}
select{
    font-size: 12px;
}
.address1{
    width:41%;
    /* border:1px solid #e5e5e5; */
}
.list-items-addresslocal{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 20%;
}   
.city{
    margin: 0px 10px 0px 0px;
}
.country-items{
    margin-top:20px;
}
.zenwork-margin-twenty-zero{
    margin: 20px 0px!important;
}
.ext{
    width: 70px;
    margin-left: 15px!important;
}
.text-field-ext{
    width:8%;
    font-size: 14px;
    padding-left:25px;
}
.contact-details .text-field{
    font-size: 14px;
    padding-left:35px;
}
.contact-details{
    position: relative;
}
.landphone-img{
    position: absolute;
    width: 15px;
    top: 37px;
    left: 10px;
}
.mobile-img{
    position: absolute;
    width: 12px;
    top: 6px;
    left: 11px;
}
.home-img{
    position: absolute;
    width: 15px;
    top: 7px;
    left: 8px;
}
.email-item{
    padding: 10px 0px;
    width: 28%;
}
.workingemail-img{
    position: absolute;
    width: 15px;
    top: 47px;
    left: 10px;
}
.homeemail-img{
    position: absolute;
    width: 15px;
    top: 94px;
    left: 8px;
}
.email-item .workphone{
    width: 100%;
}

.zenwork-setting .btn {border-radius: 20px; height: 34px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:20px 0 0;}
.zenwork-setting .btn:hover {background: #008f3d; color:#fff;}