<!-- Post Jobs -->
<div class="post-jobs">

    <h4>Add / Edit - Post Job</h4>
              
    <div class="post-job-main">

      <div class="post-job-add">

        <ul>
          <li class="col-md-3">
            <label>Job Title</label>
            <input type="text" class="form-control" placeholder="Job Title">
          </li>
      
          <li class="col-md-3">
            <label>Job Requisition Number</label>
            <input type="text" class="form-control" placeholder="Requisition Number">
          </li>
      
          <li class="col-md-6">
            <label>URL Posting</label>
            <input type="text" class="form-control" placeholder="URL Posting">
          </li>
        </ul>

        <ul class="col-md-9">
          <li class="col-md-4">
            <label>Select Hiring Manager</label>
            <mat-select class="form-control" placeholder="Hiring Manager">
              <mat-option value='Standard'>Manager</mat-option>
              <mat-option value='Employee'>Manager12</mat-option>
            </mat-select>
          </li>
      
          <li class="col-md-4">
            <label>Select Recruiter</label>
            <mat-select class="form-control" placeholder="Hiring Manager">
              <mat-option value='Standard'>Manager</mat-option>
              <mat-option value='Employee'>Manager12</mat-option>
            </mat-select>
          </li>
      
          <li class="col-md-4">
            <label>Assign Job Application</label>
            <mat-select class="form-control" placeholder="Hiring Manager">
              <mat-option value='Standard'>Manager</mat-option>
              <mat-option value='Employee'>Manager12</mat-option>
            </mat-select>
          </li>
        </ul>


        <ul class="col-md-6">
          <li class="col-md-6">
            <label>Posting Date</label>
            <div class="date">
              <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker1></mat-datepicker>
              <button mat-raised-button (click)="picker1.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <div class="clearfix"></div>
            </div>
          </li>
      
          <li class="col-md-6">
            <label>Expiration Date</label>
            <div class="date">
              <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker2></mat-datepicker>
              <button mat-raised-button (click)="picker2.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <div class="clearfix"></div>
            </div>
          </li>
      
        </ul>


        <div class="clearfix"></div>
        </div>


        <div class="source">
          <h3>Source</h3>
          <ul>
            <li class="col-md-4">
                <mat-radio-group>
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                  </mat-radio-group>
            </li>
            <li class="col-md-4">
                <mat-radio-group>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                  </mat-radio-group>
            </li>
            <li class="col-md-4">
                <mat-radio-group>
                    <mat-radio-button value="3">Option 3</mat-radio-button>
                  </mat-radio-group>
            </li>
          </ul>
          <div class="clearfix"></div>
          <ul>
            <li>
              <label>Source of Cost (Sum of All Source Used)</label>
              <input type="text" placeholder="$ Cost" class="form-control">
            </li>
          </ul>

        </div>

        <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
        <button class="btn pull-right save" >Submit</button>
        <div class="clearfix"></div>

    </div>

</div>