
.post-job-main {border-top: #ccc 1px solid; padding: 20px 0 0; margin: 20px 0 0;}

.date { height: auto !important; line-height:inherit !important; width:100%;background:#f8f8f8;}
.edit-work .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
width: 40px;height: 30px; min-width: auto; border-left: #ccc 1px solid; border-radius: 0;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:65%; height: auto; padding: 13px 0 13px 10px; border: none; box-shadow: none; display: inline-block;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.source {border-bottom: #ccc 1px solid; border-top: #ccc 1px solid; padding: 10px 0 40px; margin:10px 0;}
.source h3 { font-size: 20px; margin-bottom:20px;}
.source ul { margin: 0 0 30px; display: inline-block; width: 100%;}


.source ul li label{color: #484747;font-size: 17px; padding: 0 0 10px;}
.source ul li .form-control{ border: none; box-shadow: none; padding: 13px 12px; height: auto;
background:#f8f8f8; width: 25%;}
.source ul li .form-control:focus{ box-shadow: none;}


.post-job-main .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff;}
.post-job-main .btn.cancel {color:#6b6969; background:transparent;font-size: 16px;}

