<div class="leave-main col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
      <small>
        <img src="../../../../assets/images/leave-management/leave-icon.png" width="31" height="25"
          alt="Company-settings icon">
      </small>
      <em>Leave Management Eligibility Groups</em>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="leave-dashboard">


    <h2>Leave Eligibility Groups</h2>

    <div class="leave-btn">
       
            <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
    
              <button *ngIf="!checkEligibilityIds.length >=1" mat-menu-item (click)="openDialog()"> Add </button>
              <button *ngIf="(!checkEligibilityIds.length <=0) && (checkEligibilityIds.length ==1)" mat-menu-item (click)="editEligibilityGroup()"> Edit </button>
              <button *ngIf="(!checkEligibilityIds.length <=0) && (checkEligibilityIds.length >=1)" mat-menu-item (click)="deleteEligibilityGroup()"> Delete </button>
            </mat-menu>
          
    </div>

    <ul>

      <li class="col-md-6" *ngFor="let eligibility of leaveEligibilityGroups">
        <a>
          <img src="../../../../assets/images/leave-management/full_time.png" width="43" height="48" alt="img"
            *ngIf="eligibility.benefitType == 'Full Time'">
          <img src="../../../../assets/images/leave-management/part_time.png" width="43" height="48" alt="img"
            *ngIf="eligibility.benefitType == 'Part Time'">
          <h2>
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="eligibility.isChecked" (change)="selectLeaveEligibility($event, eligibility._id)">
              {{eligibility.name}}
            </mat-checkbox>

          </h2>

        </a>
      </li>

    </ul>

    <div class="clearfix"></div>

  </div>



</div>





<router-outlet></router-outlet>