.leave-main { margin:40px auto 0; float: none; padding: 0;}

.zenwork-currentpage { padding: 0;}
.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 18px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{margin-right: 7px;}


.leave-dashboard { background:#fff; border-radius:5px; box-shadow: 0 0 10px #ccc; float: none; margin:50px auto 100px; padding: 0 35px; text-align: center;position: relative;}
.leave-dashboard ul { display:inline-block;  width: 100%; padding:0 0 35px; margin: 0;}
.leave-dashboard ul li { padding: 40px 0 0; border-right:#ccc 1px solid; margin-bottom: 30px;}
.leave-dashboard ul li a { display: inline-block; cursor: pointer;}
/* .leave-dashboard ul li a img { margin: 0 0 20px;} */
.leave-dashboard ul li a h2 { margin: 0 0 10px; font-size: 20px; line-height: 20px; color:#403e3e; font-weight: normal; }
.leave-dashboard ul li h1 { margin: 0 0 60px; font-size:30px; line-height: 30px; color:#403e3e; font-weight: 600; }

.leave-dashboard h2 { font-weight: normal; text-align: center;font-size: 26px;padding: 30px 0 40px;}
.leave-btn { position: absolute; top:25px; right:25px;}

.leave-dashboard ul li:nth-child(even) { border-right: none;}