.zenwork-documents-tab { float: none; margin: 0 auto; padding: 0;}
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.main-head .list-items span{
    vertical-align: middle;
}
.zenwork-padding-20-zero{
    padding:10px !important;
}
.img-personal-icon{
    font-size: 18px;
    vertical-align: middle;
}

.audit-trail{
    padding: 0 0 0 10px;
}
.ethnicity{
    margin-bottom: 20px;
}

.ethnicity-list select{
    width:25%!important;
}
.zenwork-structure-settings{
    width: 178px!important;
    border-radius: 0px!important;
    height:30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label{
    font-weight: normal;
    line-height: 30px;
}
.education-date {
    margin: 0px 5px 0 0;
}
.education-date-list {
    width: 178px;
    position: relative;
    display: inline-block;
    margin: 0 15px 0 0;
}
.education-dates{
    margin: 20px 0 0 0;
}
.changed-list select{

    width: 178px;
}
.changed-list{
    padding: 20px 0px;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    /* width: 178px;    */
    box-shadow: none;
}

.edu-ends-calendar-icon{
    position: absolute;
    top: 37px;
    width: 15px;
    right: 10px;
}
input{
    height:30px;
    border:0;
    /* width: 178px; */
}
select{
    font-size: 12px;
}
label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 12px;
    padding: 0 0 0 2px;
}
.margin-top{
    margin-top: 40px 0 20px 0;
}
.save-changes{
    margin: 20px 0px;
}
.btn-style{
    padding: 4px 12px!important;
    border-radius: 30px!important;
    font-size: 12px;
}
.submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px 0 0;
  }
  .submit-buttons .btn-success {
      background-color: #439348;
  }
