<div class="zenwork-documents-tab col-md-11">
  <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <i class="fa fa-search img-personal-icon green" aria-hidden="true"></i>
      </li>
      <li class="list-items">
        <span>Audit Trail</span>
      </li>
    </ul>
  </div>
  <hr class="zenwork-margin-ten-zero">
  <div class="audit-trail">
    <ul class="list-unstyled ethnicity">
      <li class="ethnicity-list">
        <label>Who made the change?</label>
        <select class="form-control zenwork-structure-settings ">
          <option>Yes</option>
          <option>No</option>
        </select>
      </li>
    </ul>
    <span class="change-made-tag">When was the change made?</span>
    <div class="education-dates">
      <ul class="list-unstyled education-date">
        <li class="education-date-list padding10-listitems">
          <label>Hire Date</label><br>
          <input class="form-control birthdate address-state-dropodown" 
            #dpMDYSdate="bsDatepicker" bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
            placeholder="mm/dd/yyyy" name="birth-date">
          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon" alt="Company-settings icon"
            (click)="dpMDYSdate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen">

        </li>
        <li class="education-date-list padding10-listitems">
          <label>Rehire Date</label><br>
          <input class="form-control birthdate address-state-dropodown" 
            #dpMDYEdate="bsDatepicker" bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
            placeholder="mm/dd/yyyy" name="birth-date">
          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon" alt="Company-settings icon"
            (click)="dpMDYEdate.toggle()" [attr.aria-expanded]="dpMDYEdate.isOpen">

        </li>
      </ul>
      <ul class="list-unstyled ethnicity">
        <li class="changed-list">
          <label>What was changed? </label>
          <select class="form-control zenwork-structure-settings ">
            <option>personal</option>
            <option>public</option>
          </select>
        </li>
        <li class="">
            <select class="form-control zenwork-structure-settings ">
              <option>First Name</option>
              <option>Last name</option>
            </select>
          </li>
      </ul>
    </div>
    <div class="save-changes">
        <div class="margin-top">
          <ul class="submit-buttons list-unstyled">
            <li class="list-item">
              <button class="btn btn-success btn-style"> Save Changes</button>
            </li>
            <li class="list-item">
              <button class="btn btn-style"> cancel </button>
            </li>
          </ul>
        </div>
      </div>
  </div>

 