<div class='logo text-center'>
  <a class=""><img src="../../../assets/images/main-nav/side-logo.png" alt="img"></a>
</div>
<div class="register-lft col-md-12">
  <div class="self-details">

    <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()" class="text-center">

      <!-- <form  *ngIf = "signupDisable"  [formGroup]="signupForm" (ngSubmit)="signupUpdate()"> -->

      <ul>
        <li>
          <div formGroupName="primaryContact">
            <div class="form-group">
              <em><img src="../../../assets/images/authentication/user.png" width="13" height="13" alt="img"></em>
              <input class="form-control" placeholder="Full Name" maxlength="40" formControlName="name">
              <div class="clearfix"></div>
            </div>
            <div
              *ngIf="signupForm.get('primaryContact').get('name').invalid && signupForm.get('primaryContact').get('name').touched"
              style="color:#e44a49; padding: 5px 0 0;">Please enter full name</div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <em><img src="../../../assets/images/authentication/domain.png" width="16" height="14" alt="img"></em>
            <input type="text" class="form-control" maxlength="32" placeholder="Company Name" formControlName="name">
            <div class="clearfix"></div>
          </div>
          <div *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched"
            style="color:#e44a49; padding: 5px 0 0;">Please enter Company Name</div>
        </li>

        <li>
          <div class="form-group">
            <em><img src="../../../assets/images/authentication/employee.png" width="21" height="13" alt="img"></em>
            <input class="form-control" placeholder="Employees" maxlength="5" (keypress)="keyPress($event)"
              formControlName="employeCount" type="text">
            <div class="clearfix"></div>
          </div>
          <div *ngIf="signupForm.get('employeCount').invalid && signupForm.get('employeCount').touched"
            style="color:#e44a49; padding: 5px 0 0;">Please enter employee count</div>
        </li>




        <li>
          <div formGroupName="primaryContact">
            <div class="form-group">
              <em><img src="../../../assets/images/authentication/phone.png" width="13" height="13" alt="img"></em>
              <input class="form-control" placeholder="Phone" formControlName="phone" (keypress)="keyPress($event)"
                minlength=10 maxlength=10>
              <div class="clearfix"></div>
            </div>
            <div
              *ngIf="signupForm.get('primaryContact').get('phone').invalid && signupForm.get('primaryContact').get('phone').touched"
              style="color:#e44a49; padding: 5px 0 0;">Please enter phone number</div>
          </div>
        </li>



      </ul>

      <button type="submit" class="btn">Get Started</button>


    </form>
  </div>
</div>