<div class="zenwork-create-client-wrapper">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <h4 class="modal-title green">New Zenworker</h4>
  </div>
  <form #loginForm="ngForm">
    <div class="modal-body">
      <div class="create-client-form-wrapper">


        <div class="col-xs-5">

          <div class="form-group">
            <label>
              Name<sup class="mandatory-red">*</sup>
            </label>
            <input type="text" class="form-control zenwork-input" maxlength="32" placeholder="Enter Name"
              [(ngModel)]="createZenworker.name" name="name" required #ZenworkName="ngModel">
            <span *ngIf="!createZenworker.name && ZenworkName.touched || (!createZenworker.name && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter name</span>
          </div>

          <div *ngIf="!data1"  class="form-group">
            <label>
              Email<sup class="mandatory-red">*</sup>
            </label>
            <input type="email" class="form-control zenwork-input" placeholder="Enter Email"
              [(ngModel)]="createZenworker.email" name="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required #ZenworkEmail="ngModel">



            <span *ngIf="!createZenworker.email && ZenworkEmail.touched || (!createZenworker.email && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter email</span>

          </div>
          <div  *ngIf="data1" class="form-group">
            <label>
              Email<sup class="mandatory-red">*</sup>
            </label>

            <input type="email" class="form-control zenwork-input" placeholder="Enter Email"
              [(ngModel)]="createZenworker.email" name="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required #ZenworkEmail="ngModel" readonly>



            <span *ngIf="!createZenworker.email && ZenworkEmail.touched || (!createZenworker.email && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter email</span>

          </div>




          <div class="form-group">
            <label>
              Profile<sup class="mandatory-red">*</sup>
            </label>
            <mat-select class="form-control zenwork-input" placeholder="Profile" [(ngModel)]="createZenworker.roleId"
              (naModelChange)="profileChange()" name=roleId required #ZenworkProfile="ngModel">
              <mat-option value={{profile._id}} *ngFor="let profile of userProfile">
                {{profile.name}}
              </mat-option>
            </mat-select>

            <span *ngIf="!createZenworker.roleId && ZenworkProfile.touched || (!createZenworker.roleId && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter profile</span>

          </div>

          <div class="form-group">
            <label>
              Location<sup class="mandatory-red">*</sup>
            </label>
            <mat-select class="form-control zenwork-input" placeholder="Location"
              [(ngModel)]="createZenworker.address.state" name=address required #ZenworkLocation="ngModel">
              <mat-option *ngFor="let data of allStates" [value]="data.name">
                {{data.name}}
              </mat-option>
              <!-- <mat-option value="India">
              India
            </mat-option> -->
            </mat-select>

            <span
              *ngIf="!createZenworker.address.state && ZenworkLocation.touched || (!createZenworker.address.state && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter location</span>

          </div>

          <div class="form-group">
            <label>
              Status<sup class="mandatory-red">*</sup>
            </label>
            <mat-select class="form-control zenwork-input" placeholder="Status" [(ngModel)]="createZenworker.status"
              name=status required #ZenworkStatus="ngModel">
              <mat-option value="active">
                Active
              </mat-option>
              <mat-option value="inactive">
                InActive
              </mat-option>
            </mat-select>

            <span *ngIf="!createZenworker.status && ZenworkStatus.touched || (!createZenworker.status && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter status</span>

          </div>

        </div>

        <div class="clearfix"></div>

      </div>

      <div>
        <button type="submit" class="btn btn-success zenwork-custom-proceed-btn"
          (click)="addZenworker()">Save</button>
        <button type="button" class="btn zenwork-customized-transparent-btn"
          (click)="close()">Cancel</button>
      </div>

    </div>
  </form>

</div>