<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
    <small>
      <img src="../../../assets/images/company-settings/company-setup/company-setup.png" class="zenwork-inner-icon" alt="Company-settings icon">
    </small>
    <em>Company Setup</em>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>


<div class="zenwork-tabs col-md-11">

  <ul class="nav nav-tabs">
    <li  routerLinkActive="active" style="margin-left:0">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/general-settings">General Settings</a>
    </li>
  
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/field-maintenance">Field Maintenance</a>
    </li>
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/structure">Structure</a>
    </li>
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/training">Training</a>
    </li>
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/payroll">Payroll</a>
    </li>
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/email-templates">Email Templates</a>
    </li>
    <li  routerLinkActive="active">
      <a routerLink="/admin/admin-dashboard/company-settings/company-setup/company-policy">Company Policy</a>
    </li>


  </ul>
<div >
  <router-outlet></router-outlet>
</div>

</div>




