.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}

/*--------- This is my code -------*/
.zenwork-setting { display: block;}
.zenwork-tabs {display: block;padding: 20px 0 0;margin: 0 auto; float: none;}
.zenwork-tabs .tab-content { margin:40px 0 0;}
.zenwork-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;background: transparent;}
.zenwork-tabs .nav-tabs {border-bottom:#dbdbdb 2px solid;}
.zenwork-tabs .nav-tabs > li { margin: 0 30px;}
.zenwork-tabs .nav-tabs > li > a {font-size: 18px;line-height: 17px;font-weight:normal;color:#484747;border: none;padding: 10px 0 15px !important;margin: 0;}
.zenwork-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;}
.zenwork-tabs .nav-tabs > li.active{border-bottom:#439348 4px solid;margin: 0px 30px -1px 30px;color:#000;}


