<div class="signup">

  <div class="top-header">
    <div class="container">
      <div class="row">

      
        <a routerLink="/" class="col-xs-5 pull-right"><img src="../../../assets/images/main-nav/Component 1@2x.png"
            alt="img"></a>

          <div class="top-header-rgt col-xs-7">
            <ul>
              <li><a routerLink="/zenwork-login" class="log">Login</a></li>
              <li><a routerLink="/register" class="regi">Register for a Demo</a></li>
            </ul>
          </div>

        <div class="clearfix"></div>

      </div>
    </div>
  </div>



  <div class="register">
    <div class="container">
      <div class="row">

        <div class="register-lft col-sm-7">
          <figure><img src="../../../assets/images/authentication/signup.png" width="630" height="629" alt="img">
          </figure>
        </div>

        <div class="register-lft col-sm-5">

          <form [formGroup]="signupForm">

            <!-- <form  *ngIf = "signupDisable"  [formGroup]="signupForm" (ngSubmit)="signupUpdate()"> -->

            <ul>

              <li>
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/domain.png" width="16" height="14" alt="img"></em>
                  <input type="text" class="form-control" maxlength="32" placeholder="Company Name"
                    formControlName="name">
                  <div class="clearfix"></div>
                </div>
                <div *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Please enter Name</div>
              </li>

              <li>
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/employee.png" width="21" height="13"
                      alt="img"></em>
                  <input class="form-control" placeholder="Employees" maxlength="5" (keypress)="keyPress($event)"
                    formControlName="employeCount" type="text">
                  <div class="clearfix"></div>
                </div>
                <div *ngIf="signupForm.get('employeCount').invalid && signupForm.get('employeCount').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Please enter employee count</div>
              </li>

              <li>
                <div formGroupName="primaryContact">
                  <div class="form-group">
                    <em><img src="../../../assets/images/authentication/user.png" width="13" height="13" alt="img"></em>
                    <input class="form-control" placeholder="Full Name" maxlength="24" formControlName="name">
                    <div class="clearfix"></div>
                  </div>
                  <div
                    *ngIf="signupForm.get('primaryContact').get('name').invalid && signupForm.get('primaryContact').get('name').touched"
                    style="color:#e44a49; padding: 5px 0 0;">Please enter full name</div>
                </div>
              </li>

              <li>
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/mail.png" width="13" height="9" alt="img"></em>
                  <input class="form-control" placeholder="Email" formControlName="email"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [readonly]="signupDisable">
                  <div class="clearfix"></div>
                </div>
                <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Please enter email</div>
                <div *ngIf="signupDisable" style="color:#e44a49; padding: 5px 0 0;">Email entered can't be replaced
                </div>
              </li>

              <li>
                <div formGroupName="primaryContact">
                  <div class="form-group">
                    <em><img src="../../../assets/images/authentication/phone.png" width="13" height="13"
                        alt="img"></em>
                    <input class="form-control" placeholder="Phone" formControlName="phone"
                      (keypress)="keyPress($event)" minlength=10 maxlength=10>
                    <div class="clearfix"></div>
                  </div>
                  <div
                    *ngIf="signupForm.get('primaryContact').get('phone').invalid && signupForm.get('primaryContact').get('phone').touched"
                    style="color:#e44a49; padding: 5px 0 0;">Please enter phone number</div>
                </div>
              </li>

              <li>
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/lock.png" width="10" height="13" alt="img"></em>
                  <input class="form-control" placeholder="Password" formControlName="password" [type]="passwordType">
                  <b (click)="getview()" *ngIf="passwordType==='password'"> <img
                      src="../../../assets/images/authentication/not-view.png" width="17" height="9" alt="img"></b>
                  <strong (click)="getview()" *ngIf="passwordType==='text'"> <img
                      src="../../../assets/images/authentication/view.png" width="17" height="14" alt="img"></strong>
                  <div class="clearfix"></div>
                </div>
                <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Please enter password</div>
              </li>

            </ul>

            
          </form>

          <div class="get-btn">
              <button *ngIf="!signupDisable" type="submit" class="btn" (click)="signupSubmit()">Get Started</button>
            <button *ngIf="signupDisable" type="submit" (click)="signupUpdate()" class="btn">Get Started</button>
            <p>Already Have an Account? <a routerLink="/zenwork-login">Login </a></p>

          </div>
          
          <div class="clearfix"></div>

          <small>By clicking this button, you agree to zenwork.com's <a routerLink="/terms" (click)="terms()">Terms of
              Use</a></small>
          <var>
            <mat-checkbox>Receive compliance updates and <br> marketing communications?</mat-checkbox>
          </var>

          <h4><span>or Sign up with</span></h4>

          <a [href] = "enviUrl"  class="google">
            <p><img src="../../../assets/images/authentication/google.png" width="18" height="18" alt="img"> </p>Sign up
            with Google
          </a>

        </div>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>