.signup .top-header-rgt > ul > li > a.regi { background:#fec550; color:#000; border:transparent 1px solid;}
.signup .top-header-rgt > ul > li > a{ color:#099247;}
.signup .top-header-rgt > ul > li > a.log:hover{ background:#099247; color: #fff;}


.signup .register-lft ul li { width:80%; position: relative;}
.signup .register-lft .btn { color:#fff; padding: 10px 35px; border-radius: 30px;font-size: 15px; float: left; background: #099247; margin: 0 0 10px;}
.signup .register-lft > p { color:#2b7aca; font-size: 13px; float: left; padding: 12px 0 0 15px; margin: 0;}
.signup .register-lft > p > a { color:#e44a49;}

.signup .register-lft small { color:#464545; font-size: 14px; line-height: 14px;border-top:#e0e0e0 1px solid; padding: 10px 0 8px; margin: 10px 0 0; display: inline-block;}
.signup .register-lft small a { color:#2b7aca; font-size: 14px; line-height: 15px;}
.signup .register-lft var {margin: 0 0 25px; display:block;}
.signup .register-lft var br { display: none;}

.signup .register-lft h4 { width: 80%; margin:20px 0 0;}
.signup .register-lft a.google  { width: 80%; margin: 10px 0 0;}

.signup .register-lft ul li b { position: absolute; top:10px; right:10px; cursor: pointer;}
.signup .register-lft ul li strong { position: absolute; top:10px; right:10px; cursor: pointer;}

.get-btn { display: block;}
.get-btn p{ padding: 10px 0 0 30px; display: inline-block;}