.model-header{
    border-bottom: 1px solid gray;
    font-size: 18px;
}
.company-legal-name{
    border: none;
    padding: 10px;
    background: #f8f8f8;
    box-shadow: none;
    height: 40px;
}
.modal-body{
    position: relative;
    padding: 30px 55px;
}
label{
    line-height: 30px;
}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
.select-btn {
    border: none;
    box-shadow: none;
    height: 40px;
    width: 95%;
}
textarea{
    resize: none;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
 }
.addcategory{
    background: #fff;
    box-shadow: none;
    border: none;
}
 .buttons{
    margin: 20px 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 20px;
}

.buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
}
.buttons ul li .save{

    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background: green;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}
.error{
    font-size:12px !important;
    color: #f44336 !important;
}


.custom-template-sroll { overflow-y: auto; height: 500px;}