
<div class="main-template">

  <div class="model-header">
    <span *ngIf="!customTemplateAdd && !standardData && !editStandardData">Custom Template</span>
    <span *ngIf="standardData" class="">Standard Onboarding Template</span>
    <span *ngIf="!customTemplateAdd && editStandardData && !standardData" class="">Custom Onboarding Template</span>
    <p *ngIf="!customTemplateAdd && !standardData && !editStandardData">(Onboarding Template - Add Task)</p>
    <p *ngIf="standardData" class="">(Standard Onboarding Template - Edit Task)</p>
    <p *ngIf="!customTemplateAdd && editStandardData && !standardData" class="">(Custom Onboarding Template - Edit Task)
    </p>
  </div>
  <div class="modal-body">
      
    <div class="custom-template-sroll">

    <div class="task-name col-xs-3">
      <div class="form-group">
        <label>Task Name *</label>
        <span *ngIf="!customTemplateAdd && editStandardData">
          <input type="text" placeholder="Task Name" [(ngModel)]="data.data.taskName"
            class=" form-control company-legal-name" name="taskName" maxlength="18" #taskName="ngModel" required>
          <p *ngIf="!data.data.taskName && taskName.touched || (!data.data.taskName && isValid)" class="error">
            Please fill this field</p>
        </span>
        <span *ngIf="!customTemplateAdd && !standardData &&  !editStandardData">
          <input type="text" placeholder="Task Name" maxlength="18" [(ngModel)]="customOnboard.taskName"
            class="form-control company-legal-name" name="taskName" #taskName="ngModel" required>
          <p *ngIf="!customOnboard.taskName && taskName.touched || (!customOnboard.taskName && isValid)" class="error">
            Please fill this field</p>
        </span>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
      <div class="task-name col-xs-3">
        <div class="row">
          <div class="form-group">
            <label>Task Assignee *</label>
            <span *ngIf="!customTemplateAdd  && editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="data.data.taskAssignee"
                placeholder="Select employee" (ngModelChange)="empEmail($event,'data')" name="taskAssignee"
                #taskAssignee="ngModel" required>
                <mat-option *ngFor="let data of employeeData" [value]="data.email">{{data.personal.name.preferredName}}
                </mat-option>
                <!-- <mat-option value="Job2">Job2</mat-option> -->
              </mat-select>
              <p *ngIf="!data.data.taskAssignee && taskAssignee.touched || (!data.data.taskAssignee && isValid)"
                class="error">
                Please fill this field</p>
            </span>
            <span *ngIf="!customTemplateAdd && !editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="customOnboard.taskAssignee"
                placeholder="Select employee" (ngModelChange)="empEmail($event,'custom')" name="taskAssignee"
                #taskAssignee="ngModel" required>
                <mat-option *ngFor="let data of employeeData" [value]="data.email" value="Job1">
                  {{data.personal.name.preferredName}}</mat-option>
                <!-- <mat-option value="Job2">Job2</mat-option> -->
              </mat-select>
              <p *ngIf="!customOnboard.taskAssignee && taskAssignee.touched || (!customOnboard.taskAssignee && isValid)"
                class="error">
                Please fill this field</p>
            </span>
          </div>
        </div>
      </div>

      <div class="task-name col-xs-3">
        <div class="row">
          <div class="form-group">
            <label>Assignee Email Address</label>
            <span *ngIf="!customTemplateAdd && editStandardData">
              <input type="text" placeholder="Email" [(ngModel)]="data.data.assigneeEmail"
                class=" form-control company-legal-name" name="assigneeEmail" #assigneeEmail="ngModel" required
                readonly>
              <p *ngIf="!data.data.assigneeEmail && assigneeEmail.touched || (!data.data.assigneeEmail && isValid)"
                class="error">
                Please fill this field</p>
            </span>
            <span *ngIf="!customTemplateAdd && !editStandardData">
              <input type="text" placeholder="Email" [(ngModel)]="customOnboard.assigneeEmail"
                class=" form-control company-legal-name" name="assigneeEmail" #assigneeEmail="ngModel" required
                readonly>
              <p *ngIf="!customOnboard.assigneeEmail && assigneeEmail.touched || (!customOnboard.assigneeEmail && isValid)"
                class="error">
                Please fill this field</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="task-name col-xs-6">
      <label>Task Description *</label>
      <div class="form-group">
        <span *ngIf="!customTemplateAdd && editStandardData">
          <textarea class="form-control rounded-0" [(ngModel)]="data.data.taskDesription" rows="6" name="taskDesription"
            #taskDesription="ngModel" required></textarea>
          <p *ngIf="!data.data.taskDesription && taskDesription.touched || (!data.data.taskDesription && isValid)"
            class="error"> Please fill this field</p>
        </span>
        <span *ngIf="!customTemplateAdd && !editStandardData">
          <textarea class="form-control rounded-0" [(ngModel)]="customOnboard.taskDesription" rows="6"
            name="taskDesription" #taskDesription="ngModel" required></textarea>
          <p *ngIf="!customOnboard.taskDesription && taskDesription.touched || (!customOnboard.taskDesription && isValid)"
            class="error"> Please fill this field</p>
        </span>
      </div>

    </div>
    <div class="col-xs-12">
      <div class="task-name col-xs-3">
        <div class="row">
          <div class="form-group">
            <label>Expected Task Completion Time*</label>
            <span *ngIf="!customTemplateAdd && editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="data.data.timeToComplete.time"
                placeholder="Time" name="time" #time="ngModel" required>
                <mat-option *ngFor="let time of taskCOmpletionTime" [value]="time">{{time}}</mat-option>
                <p *ngIf="!data.data.timeToComplete.time && time.touched || (!data.data.timeToComplete.time && isValid)"
                  class="error"> Please fill this field</p>
                <!-- <mat-option value="2">2</mat-option> -->
              </mat-select>
            </span>
            <span *ngIf="!customTemplateAdd && !editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="customOnboard.timeToComplete.time"
                placeholder="Time" name="time" #time="ngModel" required>
                <mat-option *ngFor="let time of taskCOmpletionTime" [value]="time">{{time}}</mat-option>
                <!-- <mat-option value="2">2</mat-option> -->
              </mat-select>
              <p *ngIf="!customOnboard.timeToComplete.time && time.touched || (!customOnboard.timeToComplete.time && isValid)"
                class="error"> Please fill this field</p>
            </span>
          </div>
        </div>
      </div>

      <div class="task-name col-xs-3">
        <div class="row">
          <div class="form-group">
            <label> Time Period *</label>
            <span *ngIf="!customTemplateAdd  && editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="data.data.timeToComplete.unit"
                placeholder="Time" name="unit" #unit="ngModel" required>
                <mat-option *ngFor="let days of timeTypes" [value]='days'>{{days}}</mat-option>
                <!-- <mat-option value="Week">Week</mat-option> -->
                <!-- <mat-option value="Month">Month</mat-option>  -->
              </mat-select>
              <p *ngIf="!data.data.timeToComplete.unit && unit.touched || (!data.data.timeToComplete.unit && isValid)"
                class="error"> Please fill this field</p>
            </span>
            <span *ngIf="!customTemplateAdd && !editStandardData">
              <mat-select class="form-control text-field select-btn" [(ngModel)]="customOnboard.timeToComplete.unit"
                placeholder="Unit" name="unit" #unit="ngModel" required>

                <mat-option *ngFor="let days of timeTypes" [value]='days'>{{days}}</mat-option>
                <!-- <mat-option value="Week">Week</mat-option> -->
                <!-- <mat-option value="Month">Month</mat-option>  -->
              </mat-select>
              <p *ngIf="!customOnboard.timeToComplete.unit && unit.touched || (!customOnboard.timeToComplete.unit && isValid)"
                class="error"> Please fill this field</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="task-name col-xs-3">
      <!-- <div class="row"> -->
      <div class="form-group">
        <label> Task Category*</label>
        <span *ngIf="standardData">
          <!-- <mat-select [disabled]="standardData" class="form-control text-field select-btn"
            [(ngModel)]="data.data.category" placeholder="Select category" name="category" #category="ngModel" required>
            <mat-option value="HR Tasks">Hr-tasks</mat-option>
            <mat-option value="New Hire Forms">New Hire Forms</mat-option>
            <mat-option value="IT Setup">IT Setup</mat-option>
            <mat-option value="Manager Tasks">Manager Tasks</mat-option>
          </mat-select> -->

          <input type="text" [readonly]="standardData" class="form-control text-field select-btn"
            [(ngModel)]="data.data.category" placeholder="Select category" name="category" #category="ngModel" required>
          <p *ngIf="!data.data.category && category.touched || (!data.data.category && isValid)" class="error">
            Please fill this field</p>
        </span>
        <span *ngIf="!categoryInput && !customTemplateAdd && !standardData && !editStandardData">
          <mat-select class="form-control text-field select-btn" [(ngModel)]="customOnboard.category"
            placeholder="Select categoryadddddd" name="category" #category="ngModel" required>
            <mat-option *ngFor="let task of getKeys((template['Onboarding Tasks']))" [value]="task">{{task}}
            </mat-option>
          </mat-select>
          <p *ngIf="!customOnboard.category && category.touched || (!customOnboard.category && isValid)" class="error">
            Please fill this field</p>
        </span>
        <span *ngIf="!customTemplateAdd && editStandardData && !standardData">
          <mat-select class="form-control text-field select-btn" (ngModelChange)="categoryChange($event)"
            [(ngModel)]="data.data.category" placeholder="Select category" name="category" #category="ngModel" required>
            <mat-option *ngFor="let task of getKeys((template['Onboarding Tasks']))" [value]="task">{{task}}
            </mat-option>
          </mat-select>
          <p *ngIf="!data.data.category && category.touched || (!data.data.category && isValid)" class="error">
            Please fill this field</p>
        </span>
      </div>

    </div>
    <div *ngIf="!customTemplateAdd && !editStandardData" class="col-xs-3" style="padding:35px 0 0 0;">
      <button class="addcategory" (click)="addCategory()"><span class="green"><i class="fa fa-plus"></i></span>&nbsp;Add
        category</button>
    </div>
    <div class="col-xs-12">
      <div *ngIf="categoryInput" class="form-group col-xs-3">
        <div class="row">
          <input type="text" [(ngModel)]="customOnboard.category" class=" form-control company-legal-name"
            name="category" #category="ngModel" required>
          <p *ngIf="!customOnboard.category && category.touched || (!customOnboard.category && isValid)" class="error">
            Please fill this field</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr class="zenwork-margin-ten-zero">
    <div class="buttons">
      <ul class="list-unstyled">

        <li class="list-items">
          <a class="cancel" (click)="cancel()">Cancel</a>
        </li>
        <li *ngIf="!customTemplateAdd && editStandardData" class="list-items pull-right">
          <button class='save' (click)="editData()" type="submit">
            Submit
          </button>
        </li>
        <li *ngIf="!customTemplateAdd && !standardData && !editStandardData" class="list-items pull-right">
          <button class='save' (click)="addCustomOnboard()" type="submit">
            Submit
          </button>
        </li>

        <div class="clearfix"></div>
      </ul>
    </div>

  </div>
</div>
</div>