
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.img-personal-icon{
    width: 20px;
}


  /* green checkbox end */
  .upcoming-training-table{
      padding: 0 15px;
  }
  .table-heading {
    padding: 10px 0px 10px 10px;
    background-color: #edf7fe;
  }
  .table-body{
      background: #fff;
  }
  .upcoming-training-list .list-items{
      padding: 15px 0;
      border-bottom: 2px solid #eee;
  }
  

  .table-body .upcoming-training-list .training-date{
      display: block;
      color: #3e3e3ea3;
  }
  .table-history-list{
      margin-bottom: 20px;
  }

  .table-history-list .list-items{
      display: inline-block;
      padding: 0px 14px;
      font-size: 14px;
  }
  
.search-icon{
    right: 7px;
    position: absolute;
    top: 5px;
    width: 13px;
    color: #d3dbe1;
}

/* .filter-training-dropdown ,.filter-training-dropdown:active{
    background-color: #fff;
    border: none;
    font-size: 12px;
}
.edit-delete-icon{
    padding: 0 0 0 35px;
}
.icons-list .edit-icon{
    width: 12px;
}
.icons-list .delete-icon{
    width: 10px;
}
.icons-list .list-items{
    padding: 0px 10px;
    display: inline-block;
}
.complete-icon{
    width: 15px;
}
.completed-table{
    background: #fff;
    margin: 15px;
    padding: 15px;
}
.complete-img{
    padding: 15px;
}
.complete-history{
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
}
.complete-history .list-items{
    display: inline-block;
    padding: 0px 10px;
}
.employee-history{
    padding: 0 0 0 30px;
    border-bottom: 1px solid #eee;
}
.employee-history .list-items{
    width: 15%;
    padding: 10px 20px;
    display: inline-block;
}

.employee-history .list-items span{
    display: block;
    font-size: 12px;
}
.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
}
.btn-color{
    border: 1px solid #EF8086;
    color: #ef8086;
    cursor: auto;
  }
  .new-hire-training{
      padding: 0 0 15px 50px;
      border-bottom: 1px solid #eee;
  }
  .new-hire-checkbox{
    padding: 0 20px !important;
  }
  .new-hire-checkbox label{
      padding: 0 0 0 10px;
  }
  .new-hire-checkbox label::before,.new-hire-checkbox label::after{
      top: 3px !important;
  }
  .complete-summary{
      padding: 10px 0px;
  }
  .visa-list-entries .list-items{
    padding: 10px 0px;
}
.visa-info{
    color:#9a9696;
    padding: 0px 0 0 25px;
    font-size: 12px;
} */

.training-tab { margin: 0 auto; float:none; padding: 0;}

.date { height: 38px !important; line-height:inherit !important; width:80% !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:73%; height: auto; padding: 10px 0 10px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.find-btn {
    background: #fff;
    border: 1px solid #eadede;
    padding: 10px 40px;
    outline: none;
}
.apply-btn {
    background: #439348;
    border:none;
    padding:6px 30px 8px; font-size: 15px; border-radius:3px;
    outline: none;
    color: #fff;
}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}

  .assets-table{
    padding: 0px 20px;
  }

  .zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
    .custom-tables { margin: 0 auto; float: none; padding: 0 15px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px;}
.zenwork-padding-20-zero{
    padding:10px !important;
}
.search-field {
    height: auto; border: none; box-shadow: none; padding: 10px 12px; width:100%; font-size: 15px; 
    margin-top: 20px;
}
.search-field:focus {
    box-shadow: none;
}
.search-icon {
    position: absolute; top:12px; right:10px; cursor: pointer; width: 5%;
}
.material-icons {
    color: #8e8e8e; font-size:20px; font-weight: normal;
}
.form-group {
    position: relative;
}

.next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}

.personal-head label { display: block; padding: 0 0 10px;}
.training-history-table label {display: block; padding: 0 0 10px;}