<div class="training-tab col-md-11">
  <div class="personal-head">
    <ul class="list-unstyled main-head pull-right">
      <li class="list-items">
        <label>Completion Date</label>
          <div class="date">
              <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="completion_date" [min]="assignedDate">
              <mat-datepicker #picker1></mat-datepicker>
              <button mat-raised-button (click)="picker1.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <div class="clearfix"></div>
            </div>
      </li>
      <li class="list-items">
         <button class="find-btn" (click)="findTrainingDialog()">Find Training</button>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  
  <div class="custom-tables">
      <table class="table">
        <thead>
          <tr>
            <th>
            
            </th>
            <th>Active Training</th>
            <th>Assigned Date</th>
            <th>Due Date</th>
            <th>Status</th>
            
            <th>
              <mat-icon *ngIf="checkAssignTrainingIds.length" class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
              <mat-menu #menu="matMenu">
                <button *ngIf="(!checkAssignTrainingIds.length <=0) && (checkAssignTrainingIds.length ==1)"  mat-menu-item (click)="markAsCompleteTraining()">Mark as Complete</button>
                <button *ngIf="(!checkAssignTrainingIds.length <=0) && (checkAssignTrainingIds.length >=1)"  mat-menu-item (click)="deleteAssignedTrainings()">Delete</button>
              </mat-menu>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let trainings of assignedTrainings">
            <td [ngClass]="{'zenwork-checked-border': trainings.isChecked}">

                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="trainings.isChecked" (change)="checkAssignTrainings($event,trainings._id)">
                      
                </mat-checkbox>
            </td>
            <td>
              <span *ngIf="trainings.training"> {{trainings.training.trainingName}}</span>
             
            </td>
            <td>{{trainings.assigned_date | date : 'MM/dd/yyyy'}}</td>
            <td>{{trainings.due_date | date : 'MM/dd/yyyy'}}</td>
            <td>{{trainings.status}}</td>
            <td></td>
            
          </tr>


      </table>
      <hr class="zenwork-margin-ten-zero">
    </div>
  <hr class="zenwork-margin-ten-zero">
  <div class="training-history-table">
    <div>
        <div class="zenwork-padding-20-zero pull-left">
            <p style="font-size:17px;">Training History</p> 
           </div>
           <div class="clearfix"></div>
      <ul class="list-unstyled table-history-list">
      
        <li class="list-items">
         <label>From Date</label>
         <div class="date">
            <input matInput [matDatepicker]="picker2" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="from_date"
            [max]="to_date" #fdate (dateInput)="onChangeFromValue(fdate.value)">
            <mat-datepicker #picker2></mat-datepicker>
            <button mat-raised-button (click)="picker2.open()">
              <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </button>
            <div class="clearfix"></div>
          </div>
        </li>
        <li class="list-items">
             <label>To Date</label>
             <div class="date">
                <input matInput [matDatepicker]="picker3" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="to_date"
                [min]="from_date" #tdate (dateInput)="onChangeToValue(tdate.value)">
                <mat-datepicker #picker3></mat-datepicker>
                <button mat-raised-button (click)="picker3.open()">
                  <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </button>
                <div class="clearfix"></div>
              </div>
        </li>
        <!-- <li class="list-items">
          <button class="apply-btn" (click)="applyDateRange()">Apply</button>
        </li>  -->
        <li class="list-items pull-right" style="width:32%">
            <div class="form-group">
           
                <input type="mail" class="form-control search-field" placeholder="Search by training name" [(ngModel)]="searchString" (ngModelChange)="searchFilter()">
                <span class="search-icon"><i class="material-icons">search</i></span>
            
            </div>
        </li>
    
      </ul>
    </div>
    <div class="custom-tables">
        <table class="table">
          <thead>
            <tr>
              <th>
              
              </th>
              <th>Training Name</th>
              <th>Start Date</th>
              <th>Completion Date</th>
              <th>Status</th>
              <th>Score</th>
              <th>Pass/Fail</th>
              
              <th>
                <mat-icon *ngIf="checkHistoryTrainingIds.length" class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                <mat-menu #menu1="matMenu">
                    <button *ngIf="(!checkHistoryTrainingIds.length <=0) && (checkHistoryTrainingIds.length ==1)" mat-menu-item (click)="editTraining()">View</button>
                  <button *ngIf="(!checkHistoryTrainingIds.length <=0) && (checkHistoryTrainingIds.length ==1)" mat-menu-item (click)="editTraining()">Edit</button>
                  <button *ngIf="(!checkHistoryTrainingIds.length <=0) && (checkHistoryTrainingIds.length >=1)" mat-menu-item (click)="deleteHistoryTraining()">Delete</button>
                </mat-menu>
              </th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let traininHistory of allAssignedHistoryTrainings">
              <td [ngClass]="{'zenwork-checked-border': traininHistory.isChecked}">
  
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="traininHistory.isChecked" (change)="checkTrainingsHistory($event,traininHistory._id)">
                        
                  </mat-checkbox>
              </td>
              <td>{{traininHistory.training.trainingName}}</td>
              <td>{{traininHistory.start_date | date : 'MM/dd/yyyy'}}</td>
              <td>{{traininHistory.completion_date | date : 'MM/dd/yyyy'}}</td>
              <td>{{traininHistory.status}}</td>
              <td>{{traininHistory.score}}</td>
              <td>{{traininHistory.result}}</td>
              <td></td>
            </tr>
  
  
        </table>
        <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
        </mat-paginator>
      </div>
  </div>

  <hr class="zenwork-margin-ten-zero">
  <div style="margin:20px 0px;">
  
      <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
  <div class="clear-fix"></div>
    </div>
</div>