<div class="zenworkers-wrapper col-md-11">
  <div class="client-tabs">

    <ul class="nav nav-tabs">
      <li [ngClass]="{ 'active':activeTab==='create'}">
        <a data-toggle="tab" href="#tab1">Client Details</a>
      </li>
      <li [ngClass]="{ 'active':activeTab==='package'}">
        <a data-toggle="tab" href="#tab2">Billing History</a>
      </li>
      <li [ngClass]="{ 'active':activeTab==='payment'}">
        <a data-toggle="tab" href="#tab3">Upgrade/Downgrade Package</a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>


  <div class="tab-content">

    <div id="tab1" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='create','in':activeTab==='create'}">

      <div class="company-details-wrapper">
        <div class="company-details">
          <div class="col-xs-4">

            <div class="form-group">
              <label>Company Name*</label>
              <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name"
                [(ngModel)]="companyDetails.name" maxlength="28" name="name" required #name="ngModel">
              <span *ngIf="!companyDetails.name && name.touched || (!companyDetails.name && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter company name</span>
            </div>
            <div class="form-group">
              <label>Trade Name*</label>
              <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                [(ngModel)]="companyDetails.tradeName" maxlength="28" name="tradeName" required #tradeName="ngModel">
              <span *ngIf="!companyDetails.tradeName && tradeName.touched || (!companyDetails.tradeName && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter tradename name</span>
            </div>
            <div class="form-group">
              <label>No. of employees</label>
              <input type="text" class="form-control zenwork-input zenwork-custom-input" (keypress)="keyPress($event)"
                placeholder="No. of Employees" [(ngModel)]="companyDetails.employeCount" maxlength="5"
                name="employeCount" required #employeCount="ngModel">
              <span
                *ngIf="!companyDetails.employeCount && employeCount.touched || (!companyDetails.employeCount && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter employee count</span>
            </div>
            <div class="form-group">
              <div class="col-xs-6 padding-left-zero">
                <label>Is the Client Reseller?</label>
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="Client / Reseller" [(ngModel)]="companyDetails.type" name="type" required
                  #type="ngModel">
                  <mat-option value="reseller">
                    Yes
                  </mat-option>
                  <mat-option value="company">
                    No
                  </mat-option>
                </mat-select>
                <span *ngIf="!companyDetails.type && type.touched || (!companyDetails.type && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter employee count</span>
              </div>
              <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type == 'company'">
                <div class="form-group">
                  <label>Client belongs to Reseller?</label>
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                    placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller">
                    <mat-option value="true">
                      Yes
                    </mat-option>
                    <mat-option value="false">
                      No
                    </mat-option>
                  </mat-select>
                </div>
                <div class="form-group" *ngIf="companyDetails.belongsToReseller != 'false'">
                  <label>Select Reseller</label>
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                    placeholder="Client / Reseller" [(ngModel)]="companyDetails.resellerId"
                    (ngModelChange)="selectedReseller($event)" [ngModelOptions]="{standalone:true}">
                    <mat-option value="{{reseller._id}}" *ngFor="let reseller of resellersList">
                      {{reseller.name}}
                    </mat-option>

                  </mat-select>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group col-md-6">
              <label>Client Status</label>
              <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="active status"
                [(ngModel)]="clientStatus" readonly >
            </div>
            <div class="form-group col-md-6">
              <label>Inactive Date</label>
              <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="End Date"
                [(ngModel)]="comapnyInactiveDate" readonly >
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="col-xs-4">
          <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('primaryContact')">
            <li>
              <h4>Primary Company Contact*</h4>
            </li>
            <li class="phone-width">
              <div class="phone">
                <!-- <span>
                <i class="fa fa-mobile" aria-hidden="true"></i>
              </span> -->
                <input type="text" class="form-control" maxlength="28" placeholder="Contact Name"
                  [(ngModel)]="companyDetails.primaryContact.name" name="contactname" required #contactname="ngModel">

              </div>
              <span
                *ngIf="!companyDetails.primaryContact.name && contactname.touched || (!companyDetails.primaryContact.name && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter contact person name</span>
            </li>
            <li>
              <h4>Email</h4>
            </li>
            <li class="col-md-9">
              <div class="phone">
                <span>
                  <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                    height="16" alt="img">
                </span>
                <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyDetails.email"
                  name="email" required #email="ngModel">
                <span *ngIf="!companyDetails.email && email.touched || (!companyDetails.email && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter contact person name</span>
              </div>
            </li>
            <div class="clearfix"></div>
            <li>
              <h4>Phone</h4>
            </li>
            <li class="col-md-8">
              <div class="phone">
                <span>
                  <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                    height="16" alt="img">
                </span>
                <input type="text" class="form-control" placeholder="Work Phone"
                  [(ngModel)]="companyDetails.primaryContact.phone" (keypress)="keyPress($event)" name="phone"
                  maxlength="10" minlength="10" required #phone="ngModel">

              </div>
              <span
                *ngIf="!companyDetails.primaryContact.phone && phone.touched || (!companyDetails.primaryContact.phone && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter phone number</span>
            </li>
            <li class="col-md-2 right-text">

              <input type="text" class="form-control" placeholder="Ext"
                [(ngModel)]="companyDetails.primaryContact.extention" (keypress)="keyPress($event)" maxlength="3"
                name="extention" required #extention="ngModel">


            </li>
            <span
              *ngIf="!companyDetails.primaryContact.extention && extention.touched || (!companyDetails.primaryContact.extention && isValid)"
              style="color:#e44a49; padding:6px 0 0;">Enter extension number</span>

            <div class="clearfix"></div>

          </ul>
          <div class="form-group">
            <mat-checkbox class="zenwork-customized-checkbox"
              [(ngModel)]="companyDetails.isPrimaryContactIsBillingContact"></mat-checkbox>
            <small>Is Primary Contact same as billing Contact ?</small>
          </div>
        </div>
        <div class="col-xs-4">
          <ul
            *ngIf="!companyDetails.isPrimaryContactIsBillingContact && companyDetails.hasOwnProperty('billingContact')">
            <li>
              <h4>Billing Company Contact</h4>
            </li>
            <li class="phone-width">
              <div class="phone">
                <!-- <span>
                <i class="fa fa-mobile" aria-hidden="true"></i>
              </span> -->
                <input type="text" class="form-control" placeholder="Contact Name"
                  [(ngModel)]="companyDetails.billingContact.name">
              </div>
            </li>
            <li>
              <h4>Email</h4>
            </li>
            <li class="col-md-9">
              <div class="phone">
                <span>
                  <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                    height="16" alt="img">
                </span>
                <input type="email" class="form-control" placeholder="Work Email"
                  [(ngModel)]="companyDetails.billingContact.email">
              </div>
            </li>
            <div class="clearfix"></div>
            <li>
              <h4>Phone</h4>
            </li>
            <li class="col-md-8">
              <div class="phone">
                <span>
                  <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                    height="16" alt="img">
                </span>
                <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Work Phone"
                  [(ngModel)]="companyDetails.billingContact.phone">
              </div>
            </li>
            <li class="col-md-2 right-text">

              <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Ext"
                [(ngModel)]="companyDetails.billingContact.extention ">

            </li>

            <div class="clearfix"></div>

          </ul>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="address-wrapper">
        <div class="clearfix"></div>
        <div class="col-xs-5">
          <h2>
            Company Address*
          </h2>
          <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
            <li class="col-md-12">
              <input type="text" placeholder="Street1" class="form-control"
                [(ngModel)]="companyDetails.address.address1" maxlength="28" name="address1" required
                #address1="ngModel">
              <span
                *ngIf="!companyDetails.address.address1 && address1.touched || (!companyDetails.address.address1 && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter street name</span>
            </li>
            <li class="col-md-12">
              <input type="text" placeholder="Street2" class="form-control"
                [(ngModel)]="companyDetails.address.address2" maxlength="28" name="address2" required
                #address2="ngModel">
              <span
                *ngIf="!companyDetails.address.address2 && address2.touched || (!companyDetails.address.address2 && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter address</span>
            </li>
          </ul>

          <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
            <li class="state col-md-4">
              <input type="text" placeholder="City" maxlength="22" class="form-control"
                [(ngModel)]="companyDetails.address.city" name="city" required #city="ngModel">
              <span *ngIf="!companyDetails.address.city && city.touched || (!companyDetails.address.city && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter city</span>
            </li>
            <li class="city col-md-4">
              <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                placeholder="State" [(ngModel)]="companyDetails.address.state" name="state" required #state="ngModel">
                <mat-option *ngFor="let data of allStates" [value]="data.name">
                  {{data.name}}
                </mat-option>
                <!-- <mat-option value="washington">
                  Washington
                </mat-option>
                <mat-option value="florida">
                  Florida
                </mat-option> -->
              </mat-select>
              <span *ngIf="!companyDetails.address.state && state.touched || (!companyDetails.address.state && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter state</span>
            </li>
            <li class="zip col-md-4">
              <input type="text" placeholder="Zip" class="form-control" (keypress)="keyPress($event)" minlength="5"
                [(ngModel)]="companyDetails.address.zipcode" name="zipcode" required #zipcode="ngModel">
              <span
                *ngIf="!companyDetails.address.zipcode && zipcode.touched || (!companyDetails.address.zipcode && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter zipcode</span>
            </li>

            <li class="col-md-4 united-state">
              <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                placeholder=" Country" [(ngModel)]="companyDetails.address.country" name="country" required
                #country="ngModel">
                <mat-option value="United States">
                  USA
                </mat-option>
              </mat-select>
              <span
                *ngIf="!companyDetails.address.country && country.touched || (!companyDetails.address.country && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter country</span>
            </li>
            <div class="clearfix"></div>
          </ul>
          <div class="clearfix"></div>
          <div class="form-group">
            <mat-checkbox class="zenwork-customized-checkbox"
              [(ngModel)]="companyDetails.isPrimaryAddressIsBillingAddress"></mat-checkbox>
            <small>Is Primary Address same as billing address ?</small>
          </div>
        </div>

        <div class="col-xs-5" *ngIf="!companyDetails.isPrimaryAddressIsBillingAddress">
          <h2>
            Billing Company Address*
          </h2>
          <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
            <li class="col-md-12">
              <input type="text" placeholder="Street1" class="form-control"
                [(ngModel)]="companyDetails.billingAddress.address1">
            </li>
            <li class="col-md-12">
              <input type="text" placeholder="Street2" class="form-control"
                [(ngModel)]="companyDetails.billingAddress.address2">
            </li>
          </ul>

          <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
            <li class="state col-md-4">
              <input type="text" placeholder="City" class="form-control"
                [(ngModel)]="companyDetails.billingAddress.city">
            </li>
            <li class="city col-md-4">
              <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                placeholder="State" [(ngModel)]="companyDetails.billingAddress.state">
                <mat-option *ngFor="let data of allStates" [value]="data.name">
                  {{data.name}}
                </mat-option>
                <!-- <mat-option value="washington">
                  Washington
                </mat-option>
                <mat-option value="florida">
                  Florida
                </mat-option> -->
              </mat-select>
            </li>
            <li class="zip col-md-4">
              <input type="text" placeholder="Zip" class="form-control" (keypress)="keyPress($event)" minlength="5"
                [(ngModel)]="companyDetails.billingAddress.zipcode">
            </li>

            <li class="col-md-4 united-state">
              <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                placeholder="Country" [(ngModel)]="companyDetails.billingAddress.country">
                <mat-option value="United States">
                  USA
                </mat-option>
              </mat-select>
            </li>
            <div class="clearfix"></div>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-xs-12">

        <button type="button" class="btn btn-success zenwork-custom-proceed-btn" (click)="saveEditDetails()">Save &
          continue
        </button>
        <button type="button" class="btn zenwork-customized-transparent-btn" (click)="cancel()">Cancel</button>

      </div>
      <div class="clearfix"></div>

    </div>


    <div id="tab2" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='package','in':activeTab==='package'}">

      <div class="package-billing-main">


        <div class="package-billing-history">
          Biling History of {{companyNameValue}}
          <div class="setting-table">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Features/Package
                  </th>
                  <th>Add-Ons</th>
                  <th>Start Date</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>End Date</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let package of billingHistoryPackages">
                  <td>{{package.name}}</td>
                  <td></td>
                  <td>{{package.startDate | date}}</td>
                  <td>{{package.price}}</td>
                  <td>{{package.status}}</td>
                  <td>{{package.endDate | date}}</td>
                </tr>
                <tr *ngFor="let adons of billingHistoryAddons">
                  <td></td>
                  <td>{{adons.id.name}}</td>
                  <td>{{adons.startDate | date}}</td>
                  <td>{{adons.price}}</td>
                  <td>{{adons.status}}</td>
                  <!-- <td *ngIf="clientStatus == ''"> Inactive</td> -->
                  <td>{{adons.endDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>


    <div id="tab3" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='payment','in':activeTab==='payment'}">

      <div class="package-billing-main">

        <div class="col-md-7 discount-block">
          <ul class="list-unstyled discount-heading">
            <li class="list-items">
              <span [ngClass]="{'border-bottom-green':!selectedPackage.wholeSaleDiscount}">Whole sale discount
                <br>
                <small>(Reseller is billed)</small>
              </span>

            </li>
            <li class="list-items">
              <mat-slide-toggle [(ngModel)]="selectedPackage.wholeSaleDiscount"></mat-slide-toggle>
            </li>
            <li class="list-items">
              <span [ngClass]="{'border-bottom-green':selectedPackage.wholeSaleDiscount}">Direct discount
                <br>
                <small>(Client is billed)</small>
              </span>

            </li>
            <li class="list-items">
              <button class="btn" (click)="addAnotherAddOn()">
                <small>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                </small> Add-On
              </button>
            </li>
          </ul>
          <div class="package-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Package</th>
                  <th>Add-On
                    <span class="green">+</span>
                  </th>
                  <th>
                    Discount
                  </th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let package of currentPlanPackage">
                  <td>
                    {{package.name}}
                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>
                    {{package.startDate | date}}
                  </td>
                  <td>
                    {{package.endDate | date}}
                  </td>
                </tr>
                <tr>
                  <td class="package-name">
                    <mat-select class="form-control zenwork-input package-table-select"
                      [(ngModel)]="selectedPackage.name" placeholder="Select Package"
                      (ngModelChange)="getSpecificPackageDetails()">
                      <mat-option [value]="package.name" *ngFor="let package of packages">
                        {{package.name}}
                      </mat-option>
                    </mat-select>
                  </td>
                  <td>

                  </td>
                  <td>
                    <!-- <mat-select class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                      [(ngModel)]="discountValue" placeholder="Select Package" (ngModelChange)="discountBasePrice()">
                      <mat-option [value]="discount.value" *ngFor="let discount of dicountArray">
                        {{discount.viewValue}}
                      </mat-option>
                    </mat-select> -->
                    <input type="text" (keypress)="keyPress($event)"
                      class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                      [(ngModel)]="discountValue" placeholder="discount" (ngModelChange)="discountBasePrice()">
                  </td>
                  <td>
                    <div class="date">
                      {{selectedPackage.startDate | date}}
                      <div class="clearfix"></div>
                    </div>
                  </td>
                  <td>

                    <div class="date">
                      {{selectedPackage.endDate | date}}
                      <div class="clearfix"></div>
                    </div>

                  </td>
                </tr>
                <tr *ngFor="let packageAddon of selectedPackage.addOns">
                  <td>

                  </td>
                  <td class="add-on-type">
                    <span class="add-on-cancel" (click)="addonRemove(packageAddon.selectedAddOn)">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </span>
                    <mat-select class="form-control zenwork-input package-table-select add-on-select"
                      placeholder="Select Add-on" [(ngModel)]="packageAddon.selectedAddOn"
                      (ngModelChange)="addOnChange(packageAddon.selectedAddOn)">
                      <mat-option [value]="addOn.name" *ngFor="let addOn of allAddOns">
                        {{addOn.name}}
                      </mat-option>
                    </mat-select>
                  </td>
                  <td>

                  </td>
                  <td>
                    {{selectedPackage.startDate | date }}
                  </td>
                  <td>
                    {{selectedPackage.endDate | date}}
                  </td>
                </tr>
                <!-- <tr>
                  <td>

                  </td>
                  <td class="add-on-type">
                    <span class="add-on-cancel">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </span>
                    <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="BioMetric Access/Time Stamp">
                      <mat-option value="ACA">
                        BioMetric Access/Time Stamp
                      </mat-option>
                      <mat-option value="BioMetric">
                        ACA Comliance
                      </mat-option>
                      <mat-option value="Basic">
                        Advanced Training
                      </mat-option>
                    </mat-select>
                  </td>
                  <td>
                    12/12/2018
                  </td>
                  <td>
                    12/12/2019
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>

        <!-- <div class="payment-rgt col-md-5">


          <div class="billing-block">
            <h2>
              <span>Billing</span>
              <div class="annualy-block">
                <p>Monthly</p>
                <mat-slide-toggle (change)="toggleDateChange($event)"></mat-slide-toggle>
                <small>Annually</small>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </h2>

            <ul>

              <li>
                <div class="billing-price">
                  <ul>
                    <li>
                      <h5>Package</h5>
                    </li>
                    <li>
                      <span>{{selectedPackage.name}}</span>
                      <small>$ {{selectedPackage.price}}</small>

                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span>Discount</span>
                      <small>{{discountValue}}%</small>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span>Base Price</span>
                      <small>$ {{basePrice}}</small>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="billing-price">
                  <ul>

                    <li>
                      <span>Number of Employees</span>
                      <var>{{addedCompanyData.employeCount}}</var>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span>Total Employee Cost</span>
                      <small>$ {{selectedPackage.costPerEmployee * addedCompanyData.employeCount}}</small>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="billing-price">
                  <ul>
                    <li>
                      <h5>Add-on</h5>
                    </li>
                    <li *ngFor="let adon of selectedPackage.addOns">
                      <span>{{adon.selectedAddOn}}</span>
                      <small>{{adon.price}}</small>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="no-bor">
                <div class="billing-price">
                  <ul>
                    <li>
                      <span>Total Price</span>
                      <small>$ {{selectedPackage.totalPrice}}</small>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span>Tax Rate @ 8%</span>
                      <small>$ {{(selectedPackage.totalPrice * 0.08).toFixed(2)}}</small>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </li>

            </ul>

            <h4>
              <h1>Grand Price</h1>
              <p>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*0.08}}</p>
              <div class="clearfix"></div>
            </h4>

          </div>

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox2" type="checkbox">
              <label for="checkbox2">Make me the
                <small> Master Admin</small> of this client's company.</label>
            </div>
          </div>

          
          <div class="clearfix"></div>
        </div> -->
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-12">

        <button type="button" class="btn btn-success zenwork-custom-proceed-btn" (click)="savePackageDetails()">Save &
          continue
        </button>
        <button type="button" class="btn zenwork-customized-transparent-btn" (click)="cancel()">Cancel</button>

      </div>
      <div class="clearfix"></div>



    </div>




  </div>
</div>