<div class="zenwork-create-client-wrapper">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <h4 class="modal-title green">New Administrator</h4>
  </div>
  <div class="modal-body">
    <div class="create-client-form-wrapper">

      <div class="col-xs-5">
        <div class="form-group">
          <label>
            Name<sup class="mandatory-red">*</sup>
          </label>
          <input type="text" class="form-control zenwork-input" placeholder="Enter Name"
            [(ngModel)]="createZenworker.name" maxlength="24" name="name" required #adminName="ngModel">
          <!-- <span *ngIf="createZenworker.name && adminName.invalid" style="color:#e44a49; padding:6px 0 0;">Enter name</span> -->
          <span *ngIf="!createZenworker.name && adminName.touched || (!createZenworker.name && isValid)"
            style="color:#e44a49; padding:6px 0 0;">Enter name</span>
        </div>
        <div class="form-group">
          <label>
            Email<sup class="mandatory-red">*</sup>
          </label>
          <input type="email" class="form-control zenwork-input" placeholder="Enter Email"
            [(ngModel)]="createZenworker.email" name="email" required #adminEmail="ngModel">
          <span *ngIf="!createZenworker.email && adminEmail.touched || (!createZenworker.email && isValid)"
            style="color:#e44a49; padding:6px 0 0;">Enter email</span>
        </div>
        <div class="form-group">
          <label>
            Profile<sup class="mandatory-red">*</sup>
          </label>
          <mat-select class="form-control zenwork-input" placeholder="Profile" [(ngModel)]="createZenworker.roleId"
            name="profile" required #adminProfile="ngModel">
            <mat-option value={{profile._id}} *ngFor="let profile of userProfile">
              {{profile.name}}
            </mat-option>

          </mat-select>
          <span *ngIf="!createZenworker.roleId && adminProfile.touched || (!createZenworker.roleId && isValid)"
            style="color:#e44a49; padding:6px 0 0;">select profile</span>
        </div>
        <div class="form-group">
          <label>
            Location<sup class="mandatory-red">*</sup>
          </label>
          <mat-select class="form-control zenwork-input" placeholder="Location"
            [(ngModel)]="createZenworker.address.state" name="location" required #adminLocation="ngModel">
            <mat-option *ngFor="let data of allStates" [value]="data.name">
              {{data.name}}
            </mat-option>
            <!-- <mat-option value="New york">
              New york
            </mat-option>
            <mat-option value="Texas">
              Texas
            </mat-option> -->
          </mat-select>
          <span
            *ngIf="!createZenworker.address.state && adminLocation.touched || (!createZenworker.address.state && isValid)"
            style="color:#e44a49; padding:6px 0 0;">select location</span>

        </div>
        <div class="form-group">
          <label>
            Status<sup class="mandatory-red">*</sup>
          </label>
          <mat-select class="form-control zenwork-input" placeholder="Status" [(ngModel)]="createZenworker.status"
            required #adminStatus="ngModel">
            <mat-option value="active">
              Active
            </mat-option>
            <mat-option value="inactive">
              InActive
            </mat-option>
          </mat-select>
          <span *ngIf="!createZenworker.status && adminStatus.touched || (!createZenworker.status && isValid)"
            style="color:#e44a49; padding:6px 0 0;">select status</span>

        </div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
  <div>
    <button type="button" class="btn btn-success zenwork-custom-proceed-btn" (click)="addZenworker()">Proceed</button>
    <button type="button" class="btn zenwork-customized-transparent-btn"
      (click)="this.dialogRef.close();">Cancel</button>
  </div>
</div>