.zenwork-create-client-wrapper .modal-header {
    padding: 0 0 24px 0;
    border-bottom: 1px solid #e5e5e5;
}

.zenwork-custom-proceed-btn{
    background: green !important;
    border-color: transparent !important;
    border-radius: 25px !important;
    padding: 6px 25px; margin:0 0 0 30px;
}

.create-client-form-wrapper { padding: 30px 0 45px;}
.create-client-form-wrapper label { font-weight: normal; color:#524f4f; padding: 0 0 10px; font-size: 16px;}
.create-client-form-wrapper .form-control { padding:10px 15px; height: auto; border-radius: 3px; color:#524f4f;}

.create-client-form-wrapper .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#5e5e5e;
  }
  .create-client-form-wrapper .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #5e5e5e;
  }
  .create-client-form-wrapper .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #5e5e5e;
  }
  .create-client-form-wrapper .form-control:-moz-placeholder { /* Firefox 18- */
    color: #5e5e5e;
  }