<div class="time-sheet-block col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
      <small>
        <img src="../../../../assets/images/leave-management/time-approval.png" width="22" height="22" 
          alt="Company-settings icon">
      </small>
      <em>Time Sheet Approval and Maintenance</em>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>

  
  <div class="time-sheet-in">

    <div class="time-sheet-tabs">

      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#tab1">Time Sheet Approvals</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab2">Time Sheet Maintenance</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab3">Manager & Employee Approvals</a>
        </li>
      </ul>

    </div>


    <div class="tab-content">

      <div id="tab1" class="tab-pane fade in active">

        <div class="time-approval">

          <div class="panel-group" id="accordion1">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    Administrator Approval
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                  <div class="admin-tabs col-xs-4">

                    <ul class="nav nav-tabs">
                      <li>
                        <a data-toggle="tab" href="#tab4">Summary</a>
                      </li>
                                             
                      <li class="active right-border">
                        <a data-toggle="tab" href="#tab5">List</a>
                      </li>
                    
                    </ul>
              
                  </div>

                  <div class="time-missing-value col-xs-8 pull-right">
                    <ul>
                        <li class="col-md-6">
                            <label>Search by Category</label>
                            <mat-select placeholder="Select Category" [(ngModel)]="searchCategory" (ngModelChange)="searchByCategory($event)">
                              <mat-option value="AllEmployees">All Employees</mat-option>
                              <mat-option value="Approved">Approved Employees Only</mat-option>
                              <mat-option value="NotApproved">Not Approved Employees Only</mat-option>
                              <mat-option value="DirectReportiesOnly">My Direct Reports</mat-option>
                              
                            </mat-select>
                          </li>
                          <li class="col-md-6 right-select">
                              <label>Pay Cycle</label>
                            <mat-select [(ngModel)]="selectPayFrequecy" placeholder="Select Pay Group" (ngModelChange)="selectPayGroup(selectPayFrequecy)">
                                <mat-option value="Weekly">Weekly</mat-option>
                                  <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                                  <mat-option value="Semi-Monthly">Semi-Monthly</mat-option>
                                  <mat-option value="Monthly">Monthly</mat-option>
                            
                            </mat-select>
                          </li>

                          <!-- <li class="col-md-1" style="margin: 4px 0px 0px -12px;">
                            <label>Pay Cycle</label>
                          </li>
                          <li class="col-md-2" style="width:8%">
                            
                            <input type="text" class="form-control box-align" [(ngModel)]="payCycleForTimeSheet" (ngModelChange)="payCycleNumber(payCycleForTimeSheet)">
                           
                          </li> -->
  
                      <!-- <li class="col-md-2 pull-right date-cycle"> -->
                        <!-- <p> -->
                            <!-- {{payCycleDate.pay_cycle_start | date : 'MM/dd/yyyy'}} - {{payCycleDate.pay_cycle_end | date : 'MM/dd/yyyy'}} -->

                        <!-- </p> -->
                        <!-- <input type="text" class="form-control box-align"> -->
                       
                      <!-- </li> -->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="tab-content">

                    <div id="tab4" class="tab-pane fade in">
                     </div>
                      <div id="tab5" class="tab-pane fade in active">
                          <div class="time-missing-table">

                              <table class="table">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>
                                     Employee Name
                                     <!-- <span>
                                        <i aria-hidden="true" class="fa fa-filter"></i>
                                      </span> -->
                                    </th>
                                    <th>
                                      Manager Name
                                      
                                      <!-- <span>
                                        <i aria-hidden="true" class="fa fa-filter"></i>
                                      </span> -->
                                    </th>
          
                                    <th>
                                      Business Unit
                                      <!-- <span>
                                        <i aria-hidden="true" class="fa fa-filter"></i>
                                      </span> -->
                                    </th>
          
                                    <th>
                                     Department
                                      <!-- <span>
                                        <i aria-hidden="true" class="fa fa-filter"></i>
                                      </span> -->
                                    </th>
          
                                    <th>
                                    Status
                                      <!-- <span>
                                        <i aria-hidden="true" class="fa fa-filter"></i>
                                      </span> -->
                                    </th>

          
                                    <th>
                                        <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                                        <mat-menu #menu1="matMenu">
                                          <button mat-menu-item>
                                            <a (click)="reviewTimeSheet()"> Review Timesheet</a>
                                            <a data-toggle="modal" data-target="#myModal" #openEdit></a>
                                          </button>
                        
                                        </mat-menu>
                                    </th>
          
                                  </tr>
                                </thead>
                                <tbody>
          
                                  <tr *ngFor="let timeSheet of getTimeSheetList">
                                    <td [ngClass]="{'zenwork-checked-border': timeSheet.isChecked}">
          
                                        <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="timeSheet.isChecked" (change)="checkRequestTimeSheet(timeSheet.userId, timeSheet.pay_cycle, timeSheet.employee_fullname, timeSheet.pay_cycle_start, timeSheet.pay_cycle_end)">
                                        </mat-checkbox>
          
                                    </td>
                                    <td>{{timeSheet.employee_fullname}}</td>
                                    <td>{{timeSheet.manager_full_name}}</td>
                                    <td>{{timeSheet.bussiness_unit}}</td>
                                    <td>{{timeSheet.department}}</td>
                                    <td>
                                      <span *ngIf="timeSheet.isAdminApproved == true">
                                          <em class="approved"><i class="fa fa-circle" aria-hidden="true"></i></em>Approved</span>
                                      <span *ngIf="timeSheet.isAdminApproved == false">
                                          <em class="not-approved"><i class="fa fa-circle" aria-hidden="true"></i></em>Not Approved</span>

                                    </td>
                                    <td></td>
                                  
                                  </tr>
          

                              </table>
          
                            </div>
                            <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                              </mat-paginator>

                     </div>

                      </div>

                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                    Missing Punches
                  </a>
                </h4>

              </div>

              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="time-missing-value time-sheet-value">
                        <ul>
                            <li class="col-md-4" style="margin-top: 15px;">
                                <label>Search by Category</label>
                                <mat-select [(ngModel)]="category" placeholder="Select Category" (ngModelChange)="selectCategory($event)">
                                  <mat-option value="AllEmployees">All Employees</mat-option>
                                  <mat-option value="Business Unit">Business Unit</mat-option>
                                  <mat-option value="Location">Location</mat-option>
                                  <mat-option value="Department">Department</mat-option>
                                  <mat-option value="Pay Frequency">Pay Group</mat-option>
                                </mat-select>
                              </li>
      
                              <li class="col-md-4 select-search" *ngIf="selectSearchCategory" >
                                <mat-select>
                                  <mat-option *ngFor="let category of allValues" value="category.name" (click)="selectSubCategory(category.name)">{{category.name}}</mat-option>
                                 
                                </mat-select>
                              </li>
    
                          <!-- <li class="col-md-2">
                              <label>Select Date Range</label>
                              <mat-select>
                                <mat-option value="Current Pay Cycle">Current Pay Cycle</mat-option>
                                <mat-option value="Previous Pay Cycle">Previous Pay Cycle</mat-option>
                                <mat-option value="Next Pay Cycle">Next Pay Cycle</mat-option>
                                <mat-option value="Specific Date Range(T1-T2)">Specific Date Range(T1-T2)</mat-option>
                              </mat-select>
                            </li> -->
                         <li class="col-md-4 pull-right">
                            <ul class="list-unstyled education-date">
                                <li class="education-date-list padding10-listitems">
                                  <label>Start Date Range(T1)</label><br>
                                  <div class="date">
                                      <input matInput [matDatepicker]="picker3" [(ngModel)]="missingPunchStartDate" #sdate (dateInput)="onChangeStartDate(sdate.value)" placeholder="dd/mm/yy">
                                      <mat-datepicker #picker3></mat-datepicker>
                                      <button mat-raised-button (click)="picker3.open()"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></button>
                                    <div class="clearfix"></div>
                                   </div>
                                </li>
                                <li class="education-date-list padding10-listitems">
                                  <label>End Date Range(T2)</label><br>
                                  <div class="date">
                                      <input matInput [matDatepicker]="picker4" [(ngModel)]="missingPunchEndtDate" #edate (dateInput)="onChangeEndDate(edate.value)" placeholder="dd/mm/yy">
                                      <mat-datepicker #picker4></mat-datepicker>
                                      <button mat-raised-button (click)="picker4.open()"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></button>
                                    <div class="clearfix"></div>
                                   </div>
                                </li>
                              </ul>
                         </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>


                  <div class="time-missing-table">

                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>
                           Employee Name
                           <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>
                          <th>
                            Manager
                            <br> Name
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Date Missing
                            <br> Punch In
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Date Missing
                            <br> Punch Out
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Schedule
                            <br> Start Time
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Schedule
                            <br> Finish Time
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                              <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                              <mat-menu #menu2="matMenu">
                    
                                  <button mat-menu-item>
                                      <a (click)="reviewTimeSheetForMissingPunches()"> Review Timesheet</a>
                                      <a data-toggle="modal" data-target="#myModal" #openEdit3></a>
                                    </button>
              
                              </mat-menu>
                          </th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor = "let missing of missingPunches">
                            <td [ngClass]="{'zenwork-checked-border': missing.isChecked}">
                                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="missing.isChecked" (change)="checkMissingPunches(missing.EmployeeDetails._id)">
                                </mat-checkbox>
  
                            </td>
                          <td>{{missing.EmployeeDetails.personal.name.preferredName}}</td>
                          <td>{{missing.EmployeeDetails.details.name.preferredName}}</td>
                          <td>{{missing.MissingPunchType == 'IN' ? missing.MissingDate : '--'}}</td>
                          <td>{{missing.MissingPunchType == 'OUT' ? missing.MissingDate : '--'}}</td>
                        
                          <td>08:00</td>
                          <td>06:00</td>
                          <td></td>
                        </tr>

                    </table>

                  </div>
                  <!-- <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                    </mat-paginator> -->
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                    Time Sheet Summary
                  </a>
                </h4>

              </div>


              <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="time-missing-value time-sheet-value">
                        <ul>
                            <li class="col-md-4">
                                <label>Search by Category</label>
                                <mat-select [(ngModel)]="category" (ngModelChange)="selectCategory($event)">
                                  <mat-option value="AllEmployees">All Employees</mat-option>
                                  <mat-option value="Business Unit">Business Unit</mat-option>
                                  <mat-option value="Location">Location</mat-option>
                                  <mat-option value="Department">Department</mat-option>
                                  <mat-option value="Pay Frequency">Pay Group</mat-option>
                                </mat-select>
                              </li>
      
                              <li class="col-md-4 select-search1" *ngIf="selectSearchCategory">
                                <mat-select>
                                  <mat-option *ngFor="let category of allValues" value="category.name" (click)="selectSubCategory(category.name)">{{category.name}}</mat-option>
                                 
                                </mat-select>
                              </li>
                          <!-- <li class="col-md-4 pull-right">
                            <label>Pay Cycle</label>
                            <mat-select>
                              <mat-option value="date">01/01/2019-01/15/2019</mat-option>
                            </mat-select>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>


                  <div class="time-missing-table time-sheet-summery">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                          </th>
                          <th> Name
                              <!-- <span>
                                  <i aria-hidden="true" class="fa fa-filter"></i>
                                </span> -->
                          </th>
                          <th>
                            Manager
                            <br> Name
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Daily Total
                            <br> Hours
                          </th>

                          <th>
                            Weekly Total
                            <br> Hours
                          </th>
                          <th>
                              Pay Cycle
                              <br> Total
                            </th>

                          <th>
                            Approaching
                            <br> Over Time
                          </th>

                        <th>Approval Status
                          <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span></th>
                   
                          <th>
                              <mat-icon class="cursor" [matMenuTriggerFor]="menu3">more_vert</mat-icon>
                              <mat-menu #menu3="matMenu">
                    
                                  <button mat-menu-item>
                                      <a (click)="reviewTimeSheetForTimesheetSummary()"> Review Timesheet</a>
                                      <a data-toggle="modal" data-target="#myModal" #openEdit4></a>
                                    </button>
              
                              </mat-menu>
                          </th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let summary of getTimeSheetSummaryList">
                          <td [ngClass]="{'zenwork-checked-border': summary.isChecked}">

                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="summary.isChecked" (change)="checkSummaryTimeSheet(summary.timesheetDetails.userId, summary.timesheetDetails.pay_cycle,summary.timesheetDetails.employee_fullname, summary.timesheetDetails.pay_cycle_start, summary.timesheetDetails.pay_cycle_end)">

                                </mat-checkbox>

                          </td>
                          <td>{{summary.timesheetDetails.employee_fullname}}</td>
                          <td>{{summary.timesheetDetails.manager_full_name}}</td>
                          <td>{{summary.timedata.dailyTotal.hours}}:{{summary.timedata.dailyTotal.minutes}}</td>
                          <td>{{summary.timedata.weeklyTotal.hours}}:{{summary.timedata.weeklyTotal.minutes}}</td>
                          <td>{{summary.timedata.payCyleTotal.hours}}:{{summary.timedata.payCyleTotal.minutes}}</td>
                          <td>{{summary.timedata.dailyTotal.hours > 8 ? 'Yes':'No'}}</td>
                          <td>
                              <span *ngIf="summary.timesheetDetails.isAdminApproved == true">
                                  <em class="approved"><i class="fa fa-circle" aria-hidden="true"></i></em>Approved</span>
                              <span *ngIf="summary.timesheetDetails.isAdminApproved == false">
                                  <em class="not-approved"><i class="fa fa-circle" aria-hidden="true"></i></em>Not Approved</span>
                          </td>
                          <td></td>
                        </tr>
                    </table>
                  
                  </div>
                  <mat-paginator [length]="total" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                    </mat-paginator>

                </div>
              </div>

            </div>

          </div>
<!-- 
          <div class="time-sheet-employee">

            <h3>All Employees - Summary</h3>

            <ul>

              <li class="col-md-3">
                <h4>Total Number of Employees</h4>
                <small>5</small>
              </li>

              <li class="col-md-3">
                <h4>Total Daily Hours</h4>
                <small>60:00</small>
              </li>

              <li class="col-md-3">
                <h4>Total Weekly Hours</h4>
                <small>55:00</small>
              </li>

              <li class="col-md-3">
                <h4>Total Pay Cycle Hours</h4>
                <small>55:00</small>
              </li>

            </ul>
            <div class="clearfix"></div>
          </div> -->

        </div>

      </div>


      <div id="tab2" class="tab-pane fade in">

        <div class="manager-search">

          <div class="search-block col-md-4">
            <input type="text" class="form-control" placeholder="Search Employee Name" [(ngModel)]="searchString" (ngModelChange)="searchEmployee(searchString)">
            <span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <div class="col-md-8 pull-right">

          
          <div class="col-md-7">
              <label>Search by Category</label>
              <mat-select class="select-category" [(ngModel)]="category" (ngModelChange)="selectCategory($event)" placeholder="Search">
                <mat-option value="AllEmployees">All Employees</mat-option>
                <mat-option value="Business Unit">Business Unit</mat-option>
                <mat-option value="Location">Location</mat-option>
                <mat-option value="Department">Department</mat-option>
                <mat-option value="Pay Frequency">Pay Group</mat-option>
              </mat-select>
            </div>

            <div class="col-md-5" *ngIf="selectSearchCategory">
              <mat-select class="select-category" placeholder="Units">
                <mat-option *ngFor="let category of allValues" value="category.name" (click)="selectSubCategory(category.name)">{{category.name}}</mat-option>
               
              </mat-select>
            </div>

            </div>

          <div class="clearfix"></div>

        </div>

        <div class="time-approval">

          <div class="panel-group" id="accordion3">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive">
                    Time Sheet
                  </a>
                </h4>

              </div>


              <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">


                  <div class="time-missing-table time-sheet-main">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>
         
                          </th>
                            <th>
                            Name
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>Employee Number
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Pay Group
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>


                          <th>
                            Pay Type
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>


                          <th>
                              <mat-icon class="cursor" [matMenuTriggerFor]="menu4">more_vert</mat-icon>
                              <mat-menu #menu4="matMenu">
                                  <button mat-menu-item>
                                      <a (click)="reviewTimeSheetForTimesheetMaintain()"> Review Timesheet</a>
                                      <a data-toggle="modal" data-target="#myModal" #openEdit1></a>
                                    </button>
                                <button mat-menu-item (click)="reviewHistoricalTimesheet()">
                                 Review Historical Time Sheet  
                               </button>
              
                              </mat-menu>
                          </th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor = "let employee of searchEmployeeList">
                          <td [ngClass]="{'zenwork-checked-border': employee.isChecked}">
          
                            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="employee.isChecked" (change)="checkTimeSheetMaintain(employee._id)">
                            </mat-checkbox>

                        </td>

                          <td>{{employee.personal.name.preferredName}}</td>
                          <td>{{employee.job.employeeId}}</td>
                          <td>{{employee.compensation.Pay_frequency}}</td>
                          <td>{{employee.compensation.current_compensation.payType}}</td>
                          <td></td>
                        </tr>


                    </table>
                   
                  </div>
                  <mat-paginator [length]="totalLength" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                    </mat-paginator>

                </div>
             
              </div>

            </div>

          </div>
<!-- 
          <div class="time-sheet-employee">

            <h3>All Employees</h3>

            <ul>

              <li class="col-md-3">
                <h4>Total Number of Employees</h4>
                <small>5</small>
              </li>

              <li class="col-md-3">
                <h4>Total Daily Hours</h4>
                <small>60:00</small>
              </li>

              <li class="col-md-3">
                <h4>Total Weekly Hours</h4>
                <small>55:00</small>
              </li>

              <li class="col-md-3">
                <h4>Total Pay Cycle Hours</h4>
                <small>55:00</small>
              </li>

            </ul>
            <div class="clearfix"></div>
          </div> -->

        </div>

      </div>


      <div id="tab3" class="tab-pane fade">

        
        <div class="manager-search">

          <div class="search-block col-md-5">
            <input type="text" class="form-control" placeholder="Search Employee Name" [(ngModel)]="searchString" (ngModelChange)="searchEmployee(searchString)">
            <span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>

          <div class="col-md-6 pull-right">
              <label>Search by Category</label>
              <mat-select class="select-category" [(ngModel)]="category" (ngModelChange)="selectEmployeeCategory($event)">
                <mat-option value="AllEmployees">All Employees</mat-option>
                <mat-option value="ManagerApprovedOnly">Manager Approved Only</mat-option>
                <mat-option value="EmployeeApprovedOnly">Employee Approved Only</mat-option>
                <mat-option value="NoApprovals">No Approvals</mat-option>
               
              </mat-select>
            </div>
           
          <div class="clearfix"></div>

        </div>

        <div class="time-approval">

          <div class="panel-group" id="accordion2">

            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="col-md-4">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                          Approvals
                        </a>
                      </h4>
                </div>
<!--              
                <div class="time-missing-value">
                    <ul>
                      <li class="col-md-4">
                          <label>Select Date Range</label>
                          <mat-select>
                            <mat-option value="Current Pay Cycle">Current Pay Cycle</mat-option>
                            <mat-option value="Previous Pay Cycle">Previous Pay Cycle</mat-option>
                            <mat-option value="Next Pay Cycle">Next Pay Cycle</mat-option>
                            <mat-option value="Specific Date Range(T1-T2)">Specific Date Range(T1-T2)</mat-option>
                          </mat-select>
                        </li>
                     <li class="col-md-4">
                        <ul class="list-unstyled education-date">
                            <li class="education-date-list padding10-listitems" style="margin-right:30px;">
                              <label>Start Date Range(T1)</label><br>
                              <input class="form-control birthdate address-state-dropodown mar-top-10" #dpMDYSdate="bsDatepicker"
                                bsDatepicker  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                                alt="Company-settings icon" (click)="dpMDYSdate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen">
                            </li>
                            <li class="education-date-list padding10-listitems">
                              <label>End Date Range(T2)</label><br>
                              <input class="form-control birthdate address-state-dropodown mar-top-10" #dpMDYEdate="bsDatepicker"
                                bsDatepicker  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                                alt="Company-settings icon" (click)="dpMDYEdate.toggle()" [attr.aria-expanded]="dpMDYEdate.isOpen">
                            </li>
                          </ul>
                     </li>
                    </ul>
                    <div class="clearfix"></div> -->
                  <!-- </div> -->
                <div class="clearfix"></div>
              </div>

              <div id="collapseFour" class="panel-collapse collapse in">
                <div class="panel-body">

                  <div class="time-missing-table manager-employee">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                          </th>
                          <th>
                              Manager Name
                              <!-- <span>
                                <i aria-hidden="true" class="fa fa-filter"></i>
                              </span> -->
                            </th>
                          <th>
                            Manager Approved
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Manager Approval Stamp
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Employee Name
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Employee Approved
                            <!-- <span>
                              <i aria-hidden="true" class="fa fa-filter"></i>
                            </span> -->
                          </th>

                          <th>
                            Employee Approved Stamp
                          </th>

                          <th>
                              <mat-icon class="cursor" [matMenuTriggerFor]="menu5">more_vert</mat-icon>
                              <mat-menu #menu5="matMenu">
                    
                                  <button mat-menu-item>
                                      <a (click)="reviewTimeSheetForEmployeeManagerApproval()"> Review Timesheet</a>
                                      <a data-toggle="modal" data-target="#myModal" #openEdit2></a>
                                    </button>
                                <button mat-menu-item> Send Email Remainder </button>
                                <button mat-menu-item (click)="employeeMissingApproval('employeeMissingApproval')"> Email Employee Missing Approval  </button>
                                <button mat-menu-item (click)="managerMissingApproval('managerMissingApproval')"> Email Managers Missing Approval  </button>
                                <button mat-menu-item (click)="anyOneMissingApproval()"> Email Anyone Missing Approval  </button>
              
                              </mat-menu>
                          </th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor = "let approval of searchEmployeeApprovalList">
                          <td [ngClass]="{'zenwork-checked-border': approval.isChecked}">
          
                            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="approval.isChecked" (ngModelChange)="checkApproval(approval.userId,approval.pay_cycle,approval.employee_fullname, approval.pay_cycle_start, approval.pay_cycle_end )">
                            </mat-checkbox>

                        </td>

                          <td>
                              {{approval.manager_full_name}}
                          </td>
                          <td>
                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="approval.isManagerApproved" [disabled]="checkedDisable">
                            
                                </mat-checkbox>
                          </td>
                          <td>{{approval.managerApprovalTimestamp | date:'MM/dd/yyyy'}}-{{approval.managerApprovalTimestamp | date:'shortTime'}}</td>
                          <td> {{approval.employee_fullname}}</td>
                          <td>
                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="approval.isEmployeeApproved" [disabled]="checkedDisable">
                              
                                </mat-checkbox>
                          </td>
                          <td>{{approval.employeeApprovalTimestamp | date:'MM/dd/yyyy'}}-{{approval.employeeApprovalTimestamp | date:'shortTime'}}</td>

                          <td></td>
                        </tr>

                    </table>

                  </div>

                </div>
              </div>
            </div>


          </div>

        </div>


      </div>

    </div>

  </div>

</div>



<div class="time-main-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
          <div class="manager-search">

            <div class="search-block col-md-6">
              <input type="text" class="form-control" placeholder="Search Employee Name">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
  
            <div class="search-category col-md-3 pull-right">
              <label>Search by Category</label>
              <mat-select placeholder="All Employees">
                <mat-option *ngFor=" let category of categorys" [value]="category">{{category}}</mat-option>
              </mat-select>
            </div>
            <div class="clearfix"></div>  
          </div>
        </div> -->
        <h4>Employee Time Sheet</h4>
        <div class="row time-sheet-bg">
          <div class="col-xs-6">
            <h4 class="col-xs-4">Employee Name:</h4> 
            <p style="margin: 7px 0px 0 9px;font-size: 17px;">
                <span class="green" style="margin-left: -50px;"> &nbsp; &nbsp; <u> {{employeeName}}</u></span>
            </p>
            
              <!-- <span class="col-xs-5 search-bg">
                {{employeeName}} -->
                  <!-- <div>
                      <input type="text" class="form-control search-box" placeholder="Search Employee Name">
                      <span>
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                      </span>
                    </div> -->
              <!-- </span> -->
            
          </div>
          <div class="col-xs-6">
            <ul style="font-size:16px;">
              <li>
                <p>Work Schedule Name: 
                  <!-- <span class="green"> &nbsp; &nbsp; <u>Customer Service 1</u></span> -->
                </p>
              </li>
              <li>
                  <p>Work Schedule Type: 
                    <!-- <span class="green">&nbsp; &nbsp;<u>Standard</u></span> -->
                  </p>
                </li>
            </ul>
          </div>
        </div>

        <div class="modal-body">
          <div class="time-approval">

            <div class="panel-group" id="accordion4">
  
              <div class="panel panel-default">
                <div class="panel-heading" style="margin-bottom: 20px;">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseSix">
                      Time Sheet
                    </a>
                  </h4>
  
                  <div class="time-missing-value employee-time-missing pull-right">
                    <ul>
                    
                      <li class="col-md-6">
                        <label>Select Date Range</label>
                        <mat-select placeholder="Specific date range t1-t2">
                          <mat-option *ngFor="let selectDate of selectDates" [value]="selectDate">{{selectDate}}</mat-option>
                        </mat-select>
                      </li>

                      <li class="col-md-3">

                        <h5>Start Date Range (T1)</h5>
                        <div class="date">
                          <input matInput [matDatepicker]="picker1" [(ngModel)]="payCycleStartDate" disabled placeholder="dd/mm/yy">
                          <mat-datepicker #picker1></mat-datepicker>
                          <button mat-raised-button (click)="picker1.open()"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></button>
                        <div class="clearfix"></div>
                       </div>

                      </li>

                      <li class="col-md-3">

                        <h5>End Date Range (T2)</h5>
                        <div class="date">
                          <input matInput [matDatepicker]="picker" [(ngModel)]="payCycleEndDate" disabled placeholder="dd/mm/yy">
                          <mat-datepicker #picker></mat-datepicker>
                          <button mat-raised-button (click)="picker.open()"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></button>
                        <div class="clearfix"></div>
                       </div>

                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
  
  
                </div>
  
                <div id="collapseSix" class="panel-collapse collapse in">
                  <div class="panel-body">
  
                    <div class="time-missing-table">
  
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                          
                            </th>
                            <th>Name</th>
                            <th>Day</th>
  
                            <th>Date</th>
  
                            <th>Time Type</th>
  
                            <th>Time In</th>
  
                            <th>Time Out</th>
  
                            <th>Dialy Total</th>

                            <th>Weekly Total</th>

                            <th>Pay Cycle</th>

                            <th>Pay Cycle Total</th>
  
                            <th>
                              <mat-icon class="cursor" [matMenuTriggerFor]="menu6">more_vert</mat-icon>
                              <mat-menu #menu6="matMenu">
                                <button mat-menu-item (click)="addMissingPunches()">Add row</button>
                                <button mat-menu-item (click)="deletePunch()">Delete row</button>
                                <button mat-menu-item (click)="adminReject()">Remove approval</button>
                              </mat-menu>
                            </th>
  
                          </tr>
                        </thead>
                        <tbody>
  
                          <tr *ngFor = "let details of getTimeSheetDetails">
                            <td [ngClass]="{'zenwork-checked-border': details.isChecked}">
          
                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="details.isChecked">
                              </mat-checkbox>

                          </td>
                            <td>{{details.employeeName}}</td>
                            <td> {{details.punchDate | date:'EEEE'}}</td>
                            <td>{{details.punchDate | date:'MM/dd/yyyy'}}</td>
                            <td>Hours Worked</td>
                            <td>{{details.firstIn | date:'shortTime'}}</td>
                            <td>{{details.lastOut | date:'shortTime'}}</td>
                            <td>
                              <span *ngIf="details.dailyTotal">{{details.dailyTotal.hours}}:{{details.dailyTotal.minutes}}</span>
                              
                            </td>
                            <td>
                              <span *ngIf="details.weeklyTotalTime">{{details.weeklyTotalTime.hours}}:{{details.weeklyTotalTime.minutes}}</span>
                             
                            </td>
                            <td>{{details.pay_frequency}}</td>
                            <td>
                              <span *ngIf="details.payCycleTotalTime">{{details.payCycleTotalTime.hours}}:{{details.payCycleTotalTime.minutes}}</span>
                            </td>
                            <td></td>
                          </tr>

                          <tr *ngFor="let punch of punchArray">
                            <td [ngClass]="{'zenwork-checked-border': punch.isChecked}">
          
                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="punch.isChecked">
                              </mat-checkbox>

                          </td>
                            <td>{{punch.name}}</td>
                            <td> 
                                {{dayOfWeek}}
                            </td>
                            <td>
                              <div class="date" style="background: #f8f8f8;">
                                <input matInput [matDatepicker]="picker2" [(ngModel)]="missingPunch.punchDate" #fdate (dateInput)="onChangeDateValue(fdate.value)">
                                <mat-datepicker #picker2></mat-datepicker>
                                <button mat-raised-button (click)="picker2.open()"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></button>
                              <div class="clearfix"></div>
                             </div>
                            </td>
                            <td>Hours Worked</td>
                            <td class="start-time">
                              <input class="emp-time" atp-time-picker [(ngModel)]="missingPunch.punchIn">
                               <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                            </td>
                            <td class="start-time">
                              <input class="emp-time" atp-time-picker [(ngModel)]="missingPunch.punchOut">
                              <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>

  
  
                      </table>
                      <a class="admin pull-left save-btn" (click)="saveMissingPunch()">Save</a>
                      <a class="admin pull-right approve-btn" (click)="adminApproveOrRemove()">Administrator Approval</a>
                      <div class="clearfix"></div>
                    </div>
  
                  </div>
                </div>
              </div>
<!-- 
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseSeven">
                      Accrual balance details
                    </a>
                  </h4>
  
                </div>
  
                <div id="collapseSeven" class="panel-collapse collapse">
                  <div class="panel-body">
  
                    <div class="time-missing-table">
  
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox40" type="checkbox">
                                  <label for="checkbox40">Name</label>
                                </div>
                              </div>
                            </th>
                            <th>Balance-Current</th>
  
                            <th>Hourse Earned <br>This Cycle</th>
  
                            <th>Schedule Hours <br> Not Taken Yet</th>
  
                            <th>Project Balance <br> as of 12/31</th>
  
                            <th>Carryover Balance</th>                            
  
                            <th>
                              <p>
                                <a>
                                  <i aria-hidden="true" class="fa fa-pencil"></i>
                                </a>
                                <a class="pad-right">
                                  <i aria-hidden="true" class="fa fa-trash"></i>
                                </a>
                              </p>
                            </th>
  
                          </tr>
                        </thead>
                        <tbody>
  
                          <tr>
                            <td class="zenwork-border">
  
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox41" type="checkbox">
                                  <label for="checkbox41">Vacation</label>
                                </div>
                              </div>
  
                            </td>
  
                           
                            <td>15:00</td>
                            <td>05:00</td>
                            <td>12:50</td>
                            <td>12:00</td>
                            <td>04:00</td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="zenwork-border">
  
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox42" type="checkbox">
                                  <label for="checkbox42">Sick</label>
                                </div>
                              </div>
  
                            </td>
  
                           
                            <td>15:00</td>
                            <td>05:00</td>
                            <td>12:50</td>
                            <td>12:00</td>
                            <td>04:00</td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="zenwork-border">
  
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox43" type="checkbox">
                                  <label for="checkbox43">Float</label>
                                </div>
                              </div>
  
                            </td>
  
                           
                            <td>15:00</td>
                            <td>05:00</td>
                            <td>12:50</td>
                            <td>12:00</td>
                            <td>04:00</td>
                            <td></td>
                          </tr>



                    
                      </table>
  
                      
                    </div>
  
                  </div>
                </div>
              </div> -->
  
             
            </div>
  
           
  
          </div>

        </div>
      </div>
      
    </div>
  </div>

</div>