.time-sheet-block { margin:40px auto 0; float: none; padding: 0;}
.zenwork-checked-border:after { 
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  border-right: #83c7a1 4px solid;
  height: 100%;
  border-radius: 4px;
  padding: 25px;
  }
  .box-align {
    outline: none;
    border: none;
    box-shadow: none;
  }
.date-cycle {
  width: 20%;
  margin: 9px -42px 0 0px;
  background: #fff;
}

.zenwork-currentpage { padding: 0;}
.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 18px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{margin-right: 7px;}


.time-sheet-in { display: block;}

.time-sheet-tabs {padding:10px 0 0;}
.time-sheet-tabs .tab-content { margin:40px 0 0;}
.time-sheet-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;background: transparent;}
.time-sheet-tabs .nav-tabs {border-bottom:#dbdbdb 2px solid;}
.time-sheet-tabs .nav-tabs > li { padding:0 30px;}
.time-sheet-tabs .nav-tabs > li > a {font-size: 18px;line-height: 18px;font-weight:normal;color:#484747;border: none;padding: 10px 0 15px !important;margin: 0;}
.time-sheet-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;}
.time-sheet-tabs .nav-tabs > li.active{border-bottom:#439348 5px solid;padding:0px 30px 0 30px;color:#000;}


.time-approval { margin:40px 0 0;}
.time-approval .panel-default>.panel-heading { padding: 0 0 20px; background-color:transparent !important; border: none; position: relative;}
.time-approval .panel-title { display: inline-block; font-weight: 600; font-size: 17px;}
.time-approval .panel-title a:hover { text-decoration: none;}
.time-approval .panel-title>.small, .time-approval .panel-title>.small>a, .time-approval .panel-title>a, .time-approval .panel-title>small, .time-approval .panel-title>small>a { text-decoration:none;}
.time-approval .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.time-approval .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.time-approval .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.time-approval .panel-group .panel-heading+.panel-collapse>.list-group, .time-approval .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.time-approval .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.time-approval .panel-body { padding: 0 0 5px;}

.time-approval .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.time-approval .panel-default { border-color:transparent;}
.time-approval .panel-group .panel+.panel { margin-top: 20px;}


/* .time-missing-value { position: absolute; top: -10px; right: 0; width: 55%;} */
.time-missing-value ul { display:block; width: 100%; margin: 0;}
.time-missing-value ul li { padding: 0;}
.time-missing-value ul li label { color:#4c4c4c;font-size: 16px; line-height: 16px; font-weight:500;display: inline-block;
vertical-align: middle; width: 160px; padding:10px 0 10px;}
.time-missing-value ul li label.label-view { padding: 0 0 0 80px;}

.time-missing-table {margin:20px 0 0; padding: 0 0 10px;}
.time-missing-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; 
font-size: 15px; border-radius:3px;position: relative; line-height: 18px; vertical-align: middle;}
.time-missing-table .table>tbody>tr>td, .time-missing-table .table>tfoot>tr>td, .time-missing-table .table>thead>tr>td{ padding:15px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#e8e8e8 1px solid; color: #4c4b4b; font-size: 15px;}
.time-missing-table .checkbox{ margin: 0;}
.time-missing-table .table>tbody>tr>td.zenwork-border {position: relative;}
.time-missing-table .table>tbody>tr>td.zenwork-border:after { content:''; position: absolute; top: 2px;left: 2px;border-right: #83c7a1 4px solid;height: 90%;border-radius: 0 5px 5px 0;}
.time-missing-table .table>thead>tr>th p { text-align: center; margin: 0;}
.time-missing-table .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.time-missing-table .table>thead>tr>th a.pad-right { padding-right: 0;}
.time-missing-table .table>thead>tr>th a .fa { color:#777676; font-size: 15px; line-height: 15px;}
.time-missing-table .table>thead>tr>th .cont-check .checkbox label::before {left: 0;margin-left: -20px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff; top: 9px;}
.time-missing-table .cont-check .checkbox label { font-size: 15px;}
.time-missing-table .table>thead>tr>th .cont-check .checkbox label::after { top: 9px;}
.cont-check .checkbox label { padding-left: 20px; font-size: 16px; line-height: 18px; position: relative;}
.time-missing-table .table>thead>tr>th .cont-check .checkbox label span .fa { color:#6d6a6a; position: absolute; top:11px; right:-20px;}
.time-missing-table .table>thead>tr>th span {font-size: 16px;display: inline-block; cursor: pointer;}
.time-missing-table .table>thead>tr>th span .fa {color:#6d6a6a;position: absolute; top: 25px; right:65px;}
.time-missing-table .table>tbody>tr>td .cont-check .checkbox label::before {left: 0;margin-left: -20px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;font-size: 15px;}


.time-missing-table.time-sheet-summery .table>thead>tr>th { padding: 15px 10px;}
.action { display: inline-block;}
.time-sheet-summery .table>thead>tr>th small { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;font-size: 15px;}
.time-missing-table.time-sheet-summery .table>thead>tr>th .cont-check .checkbox label span .fa { color:#6d6a6a; position: absolute; top:6px; right:-20px;}
.time-missing-table.time-sheet-summery .table>thead>tr>th span {font-size: 15px;display: inline-block; cursor: pointer;}
.time-missing-table.time-sheet-summery .table>thead>tr>th span .fa {color:#6d6a6a;position: absolute; top: 25px; right:20px;}
.time-missing-table.time-sheet-summery .cont-check .checkbox label { font-size: 15px;}
.time-missing-table.time-sheet-summery .table>thead>tr>th .cont-check .checkbox label::before {top: 0;}
.time-missing-table.time-sheet-summery .table>thead>tr>th .cont-check .checkbox label::after { top:0;}

.time-missing-table.time-sheet-summery .table>thead>tr>th .dropdown-menu { min-width: 150px; border: none; top: 50px;}
.time-missing-table.time-sheet-summery .table>thead>tr>th .dropdown-menu li a { display: block; font-size: 14px; padding:8px 0 8px 10px; color: #636363; font-weight: 500;}
.time-missing-table.time-sheet-summery .table>thead>tr>th .dropdown-menu li a:hover { background-color: #f2f9f4; color:#4c4c4c;}
.action.status-action { margin: 0 0 0 30px;}
.time-missing-table tbody tr .start-time .clock-icon{
  font-size: 20px;
  color: #c7c4c4;
  position: absolute;
  top: 20px;
  right:33px;
  border-left: 1px solid #c7c4c4;
  padding: 0 0 0 5px;
}


.manager-search { border-bottom:#e1e1e1 1px solid; padding: 30px 0;}
.search-block{ padding: 0; background:#fff;}
.search-block .form-control { float: left; background: transparent; width:90%; color:#636363; border:none; font-size: 15px; box-shadow: none; padding: 20px 15px;}
.search-block .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#c0c0bf;
  }
.search-block .form-control::-moz-placeholder { /* Firefox 19+ */
    color:#c0c0bf;
  }
.search-block .form-control:-ms-input-placeholder { /* IE 10+ */
    color:#c0c0bf;
  }
.search-block .form-control:-moz-placeholder { /* Firefox 18- */
    color:#c0c0bf;
  }

.search-block span { float: right; width: 10%; text-align: center;}
.search-block span .fa { color:#777676; font-size: 14px; padding: 12px 0 0; cursor: pointer;}

.search-bg span { float: right; width: 10%; text-align: center;}
.search-bg span .fa { color:#777676; font-size: 14px; padding: 12px 0 0; cursor: pointer;}

.search-category { padding: 0;}
.search-category label { color:#4c4c4c;font-size: 16px; line-height: 16px; font-weight:500;display: inline-block; vertical-align: middle; width: 160px;}
.emp-time{
  border: 0;
  background: #f8f8f8;
  padding: 7px 0px;
  outline: none;
}
.time-missing-table tbody tr .start-time{
  width: 25%;
  position: relative;
}

.time-missing-table.manager-employee .table>thead>tr>th .cont-check .checkbox label span .fa { top:4px;}

.time-missing-table.manager-employee .table>thead>tr>th .cont-check .checkbox label::before {top:0;}
.time-missing-table.manager-employee .cont-check .checkbox label { font-size: 15px;}
.time-missing-table.manager-employee .table>thead>tr>th .cont-check .checkbox label::after { top:0;}

.time-missing-table.manager-employee .table>thead>tr>th span .fa {right:20px; top:20px;}

.time-approval .time-missing-table .btn {border-radius: 20px;color:#000; font-size: 15px; padding:6px 25px; background:transparent; margin:30px 0 0; float:left; position: static;}
.time-approval .time-missing-table .btn:hover {background: #008f3d; color:#fff;}

.time-approval .btn{border-radius: 20px;color:#484848; font-size: 16px; padding:8px 25px; background:#fff;vertical-align: middle; font-weight: 500; position: absolute; top:-10px; right: 0;}
.time-approval .btn span { display: inline-block; vertical-align: middle; padding:0 10px 0 0;}
.time-approval .btn span .fa{ color:#008f3d; font-size: 15px;}

.time-sheet-employee { display: block;}
.time-sheet-employee h3 { font-size: 18px; font-weight:500; margin: 0 0 10px;}

.time-sheet-employee ul { padding:30px; background:#fff; margin: 0; display: inline-block; width: 100%;}
.time-sheet-employee ul li { padding: 0;}
.time-sheet-employee ul li h4 { font-size: 16px; font-weight: normal; margin: 0 0 10px;}
.time-sheet-employee ul li small { font-size: 16px; font-weight: normal; margin: 0;}

.time-missing-table.time-sheet-main .table>thead>tr>th .cont-check .checkbox label span .fa { color:#6d6a6a; position: absolute; top:6px; right:-20px;}
.time-missing-table.time-sheet-main .table>thead>tr>th span .fa {color:#6d6a6a;position: absolute; top: 20px; right:100px;}
.time-missing-table.time-sheet-main .table>thead>tr>th span.date-filter .fa {right:50px;}



.time-main-popup {background: #f8f8f8;}
.time-main-popup .modal-header { padding:20px 20px 10px; border-bottom:none; position: relative;}
.time-main-popup .modal-title { color:#008f3d;}
.time-main-popup .modal-dialog { width:85%;}
.time-main-popup .modal-body {padding: 0;}
.time-main-popup .modal-content { border: none; padding:50px 40px; background-color:#f8f8f8;}
.time-main-popup .close { position: absolute; top: 5px; right:15px; opacity: 1; text-shadow: none; font-size: 30px;}
.time-main-popup .close:focus { outline: none;}

.time-main-popup a.btn { display: inline-block; background:#fff; padding:10px 20px; border-radius: 20px; vertical-align: middle; cursor: pointer; color:#565454;}
.time-main-popup a span {display: inline-block; vertical-align: middle;}
.time-main-popup a span .fa { color:#008f3d; font-size: 16px; padding: 0 10px 0 0;}

.time-main-in { display: block;}




.date { display: block; background:#fff;height:40px; line-height:40px;}
.date span { display: inline-block; vertical-align: middle; cursor: pointer; border: none !important; }
.date span .fa { color: #008f3d;font-size:18px;line-height:18px;width: 18px;text-align: center; margin-left: -10px;}
.date .form-control { display: inline-block;vertical-align: middle; width: 70%; border: none; background:transparent; box-shadow: none; padding: 0 0 0 10px;}
.date input { border:none; width: 75%; display: inline-block; float: left; padding: 0 0 0 15px;}
.date button { width: 25%; display: inline-block; float: right; background:transparent; border: none; outline: none; padding: 0 10px 0 0;}

.time-missing-value ul li h5 { color:#4c4c4c;font-size: 16px; line-height: 16px; font-weight:500;display:block; margin: 0 0 10px;}
.time-main-popup .time-missing-value { width: 60%;}
.time-main-popup .time-missing-value ul li { display: inline-block; vertical-align: bottom; float: none; padding: 0 5px;}
.time-main-popup .time-approval .panel-default>.panel-heading { padding: 0 0 20px;}
.time-main-popup .time-missing-table { margin: 0;}
.time-main-popup .time-approval .panel-title { padding: 25px 0 0;}
.time-main-popup .time-approval { margin: 10px 0 0;}
.time-main-popup .time-missing-table .table>thead>tr>th .cont-check .checkbox label::before { top: 0;}
.time-main-popup .time-missing-table .table>thead>tr>th .cont-check .checkbox label::after { top:0;}

.time-missing-table a.admin {display: inline-block; background:#797d7a;; padding:10px 35px;cursor: pointer; color:#fff; font-size: 15px; font-weight: 600; border-radius: 40px;}
.time-main-popup .time-approval .panel-group .panel + .panel { margin-top: 0;}
.education-date {
  margin: 20px 5px 20px 0;
}
.education-date-list {
  
  position: relative;
  display: inline-block;
  padding: 0px 20px 0 0;
  margin: 0px;
}
.edu-ends-calendar-icon{
  position: absolute;
  top: 40px;
  width: 15px;
  right: 25px;
}
.birthdate{
  font-size: 14px;
  padding-left: 15px;
  /* width: 178px;    */
  box-shadow: none;
}
.address-state-dropodown{
  width: 100%;
  border-radius: 0px!important;
  height: 30px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}
.mar-top-10 {
  margin-top: 10px;
}
.select-category{
  background: #fff;
  height: 40px;
  padding: 10px;
  width: 60%;
  margin-left: 20px;
}

.admin-tabs {background: #fff; width: 19%; margin: 0 0 13px;}
.admin-tabs .tab-content { margin:40px 0 0;}
.admin-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;background: transparent;}

.admin-tabs .nav-tabs > li { padding:0 20px;border-right: #e4d8d8 3px solid; margin: 0 10px;}
.admin-tabs .nav-tabs > li > a {font-size: 18px;line-height: 18px;font-weight:normal;color:#484747;border: none;
padding: 10px 0 15px !important;margin: 0; border-radius:0;}
.admin-tabs .nav-tabs > li.active a{border-bottom:#439348 5px solid;padding:0px 30px 0 30px;color:#000; border-radius: 0;}
.vertical-line {
  position: absolute;
  transform: rotate;
  transform: rotate(90deg);
  right: 74px;
  line-height: 38px;
  font-size: 40px;
  font-weight: normal;
  color: #e4d8d8;
}

.admin-tabs .nav-tabs { padding: 5px 0 0; border-bottom: transparent;}

.admin-tabs .nav>li>a:focus, .admin-tabs .nav>li>a:hover { background-color:transparent;}
.admin-tabs .nav-tabs > li.right-border { border-right:transparent 5px solid;}


.time-sheet-bg {
  background: #fff;
  padding: 10px 0px 24px 18px;
}
.search-box {
  outline: none;
  border: none;
  background: #f8f8f8;
  box-shadow: none;
}
.search-icon {
  position: absolute;
  top: 0px;
  right: 23px;
}
.search-bg {
  margin-left: -35px;
}
.approved{ 
  display: inline-block;
  font-size: 13px;
  padding: 0 5px 0 0;
  color: #008f3d;
  vertical-align: middle;
}
.not-approved {
  display: inline-block; font-size: 13px; padding:0 5px 0 0; color: #ccc;
}

.time-missing-value {padding:5px 0 0;}
.right-select { margin:0;}
.select-search { margin: 15px 0 0;}
.select-search1 { margin:0;}

.time-missing-value.time-sheet-value { margin:0;}
.employee-time-missing { margin: 0;}