<!-- Author:Kinnera Reddy, Date:20/08/2019-->

<section class="pricing-banner tbl pad-tp-40">
  <div class="container">
    <div class="row">
      <!-- <div class="pricing-banner-top">
   <img src="/assets/images/pricing/banner-top.jpg">
  </div> -->
      <div class="tbl-cell">

        <h4 class="green">Pricing</h4>
        <h1>Choose the plan that’s right for
          <br> your business</h1>
        <!-- <p class="pad-tb-20">We believe great businesses treat their employees like people, not ID numbers —and we’re
          building a pla orm that empowers organiza ons to do just that.</p> -->
      
        <p> &nbsp; </p>
        <a class="cursor" href="https://calendly.com/zenworkhr/intro" target="_blank">Register for a Demo</a>

      </div>

      <div class="tbl-cell">
        <div class="pricing-banner-bottom pull-right">
          <figure><img src="/assets/images/pricing/banner-btm.jpg" width="706" height="589" alt="img"></figure>

        </div>

      </div>
    </div>
  </div>
</section>


<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down" ></i>
  </div> -->

<div class="arrow"> <a (click)="arrowDown(zenPriceing)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>

<span #zenPriceing>
  <section class="zenwork-pricing text-center pad-tb-20">

    <figure><img src="../../../assets/images/home/pricing-lft-bg.png" width="379" height="1218" alt="img"></figure>
    <h2 class="clr-blue mar-0">Zenwork HR Pricing</h2>
    <div class="pad-tb-60">
      <a class="cursor" data-toggle="modal" data-target="#myModal">Calculator</a>
    </div>
    <ul class=" slider list-inline">
      <li>
        <p [ngClass]="{'time-brdr-bottem': !toggleValue}" class="clr-blue">Monthly Pricing</p>
      </li>
      <li>
        <mat-slide-toggle (change)="packCalculation($event)"></mat-slide-toggle>
      </li>
      <li class="save-tag">
        <p [ngClass]="{'time-brdr-bottem': toggleValue}" class="clr-blue">Annual Pricing</p>
        <!-- <img src="/assets/images/pricing/save.png" width="168" height="35"> -->
      </li>
    </ul>
  </section>

  <section>
    <div class="pricing-types pad-tb-60 text-center">
      <ul class="list-inline">
        <li class="type pos-relative">
          <img class="pos-relative" src="/assets/images/pricing/pricing1.jpg" width="305" height="auto">
          <div class="pos-absolute">
            <h3 class="text-upper pad-btm-20">Core</h3>
            <div class="pad-btm-20">
              <img src="/assets/images/pricing/core.png" width="64" height="56">
            </div>

            <p class="pad-btm-20">All the Essentials for Onboarding Employees and Managing HR.</p>
            <p class="">$39 base fee per month</p>
            <span>+</span>
            <p *ngIf="!toggleValue" class="dashed-border pad-btm-20">$6 per employee per month.</p>
            <p *ngIf="toggleValue" class="dashed-border pad-btm-20">$5 per employee per month.</p>


            <ul class="pad-tb-20" >
              <li>
                <h5>HR System</h5>
              </li>
              <li>
                <h5>Employee Self Service</h5>
              </li>
              <li>
                <h5>Business Intelligence</h5>
              </li>
              <li>
                <h5>Benefits</h5>
              </li>
              <li>
                <h5>Time Off</h5>
              </li>
              <li>
                <h5>Theme Settings</h5>
              </li>
              <li>
                <h5>Support</h5>
              </li>
              <li>
                <h5>Training</h5>
              </li>
            </ul>
            <div class="pad-tb-20 pricing-dollar">
              <p *ngIf="!toggleValue"> $6</p>
              <p *ngIf="toggleValue"> $5</p>
            </div>
            <div class="pad-tb-20">
              <a class="get-started-btn cursor clr-blue" routerLink="/sign-up">Get Started</a>
            </div>
            <div class="btm-tag pos-absolute">
              <p>LIFETIME FREE FOR 1-3 EMPLOYEES</p>
            </div>
          </div>

        </li>
        <li class="type mar-lr-10 pos-relative margin-lft-85">
          <img class="pos-relative" src="/assets/images/pricing/pricing2.jpg" width="305" height="auto">
          <div class="pos-absolute ">
            <div class="top-tag pos-absolute">
              <p class="green recommended">RECOMMENDED</p>
            </div>
            <h3 class="text-upper pad-btm-20 middle">PREMIUM</h3>
            <div class="pad-btm-20">
              <img src="/assets/images/pricing/premium.png" width="52" height="73">
            </div>

            <p class="pad-btm-20">Expanded Compliance and HR for
              Growing Companies.</p>
            <p class="">$39 base fee per month</p>
            <span>+</span>
            <p *ngIf="!toggleValue" class="dashed-border pad-btm-20">$12 per employee per month.</p>
            <p *ngIf="toggleValue" class="dashed-border pad-btm-20">$10 per employee per month.</p>

            <ul class="pad-tb-20" style="padding: 0 0 0 0">
              <li>
                <h5>HR System</h5>
              </li>
              <li>
                <h5>Employee Self Service</h5>
              </li>
              <li>
                <h5>Business Intelligence</h5>
              </li>
              <li>
                <h5>Benefits</h5>
              </li>
              <li>
                <h5>Time Off</h5>
              </li>
              <li>
                <h5>Theme Settings</h5>
              </li>
              <li>
                <h5>Support</h5>
              </li>
              <li>
                <h5>Training</h5>
              </li>
              <li>
                <h5>Compliance Training and Assistance</h5>
              </li>
              <li>
                <h5>ACA Compliance & Reporting</h5>
              </li>
              <li>
                <h5>Recruitment</h5>
              </li>
              <li>
                <h5>On Boarding and Off Boarding</h5>
              </li>
              <li>
                <h5>Integrations and API</h5>
              </li>
              <li>
                <h5>Surveys</h5>
              </li>
              <li>
                <h5>Audit Trail</h5>
              </li>
            </ul>

            <div class="pricing-dollar">
              <p *ngIf="!toggleValue"> $12</p>
              <p *ngIf="toggleValue"> $10</p>
            </div>
            <div class="pad-tb-20">
              <a class="get-started-btn cursor clr-blue" routerLink="/sign-up">Get Started</a>
            </div>

          </div>
        </li>
        <li class="type  pos-relative">
          <img class="pos-relative" src="/assets/images/pricing/pricing3.jpg" width="305" height="auto">
          <div class="pos-absolute">
            <h3 class="text-upper pad-btm-20">ADD-ON</h3>
            <div class="pad-btm-20">
              <img src="/assets/images/pricing/addon.png" height="56">
            </div>

            <p class="pad-btm-20">Add-on available only
              with Premium.</p>
            <p class="dashed-border pad-btm-20">Add-on charged per employee <br>
              per month.</p>

            <ul class="pad-tb-20">
              <li>
                <h5>Time Tracking</h5>
                <h4>$4</h4>
              </li>
              <li>
                <h5>Time and Attendance Hardware
                  Integration</h5>
                <h4>$4</h4>
              </li>
              <li>
                <h5>Performance Management</h5>
                <h4>$3</h4>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</span>



<div class="container">
  <section>
    <div class="row">

      <div class="col-sm-8 col-xs-12 mobile-price">

        <div class="pricing-tables">
          <div class="col-sm-6 col-xs-5">
            <p>FEATURES</p>
          </div>
          <div class="col-xs-3">
            <p>CORE</p>
          </div>
          <div class="col-sm-3 col-xs-4">
            <p>PREMIUM</p>
          </div>
          <div class="clearfix"></div>
        </div>


        <div class="pricing-acc">

          <div class="panel-group" id="accordion1">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    HR System
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Employee Information</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Benefits Tracking</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Default Access & Rights</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Employee Document Management</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Basic Approvals</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Basic workflow</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>In App & Email Notifications</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Custom Fields</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Single Sign-On</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Company Calendar</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Organization Chart</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Chat Tool</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                    Employee Self Service
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Time Off Tracking and Request</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Mobile App</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Employee Directory</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Leave Request</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                    Business Intelligence
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Payroll Detail and Summary Reports</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Benefits Cost Analysis</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                    Benefits
                  </a>
                </h4>
              </div>
              <div class="accordion-toggle" id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Benefits Tracking</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Benefits Tracking and Payroll Deduction Feed</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                    Time Off
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Leave Setup and Configuration</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Leave management</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                    Theme Settings
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Customize the Look and Feel</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
                    Support
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Email</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Email, Phone and Chat Support</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
                    Training
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Base Training</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Advanced Training</p>
                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-blue">done</i>
                      </p>

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
                    Compliance Training and Assistance
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Self Help Videos and Tutorials</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTen">
                    ACA Compliance and Reporting
                  </a>
                </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>ACA IRS eFile (IRS Approved eFile Provider)</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>State New Hire Reporting</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Contractor 1099 Reporting and TIN matching</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Contractor Compliance</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>W-9 Solicitation for Contractors</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>





            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEleven">
                    Compliance Training and Assistance
                  </a>
                </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Custom Job posting URL</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Mass posting to external job boards and portals</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwelve">
                    On Boarding and Off Boarding
                  </a>
                </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>I-9 Reporting</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Employee W-4 calculation wizard</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#Thirteen">
                    Integrations and API
                  </a>
                </h4>
              </div>
              <div id="Thirteen" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>QuickBooks Online Payroll</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>


                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>QuickBooks Desktop Payroll</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Xero Payroll</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Downloadable Payroll Flat Files</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#Fourteen">
                    Surveys
                  </a>
                </h4>
              </div>
              <div id="Fourteen" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Surveys</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Surveys</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="table-row">
                    <div class="col-xs-6">
                      <p>Polls</p>
                    </div>
                    <div class="col-xs-3">
                      &nbsp;

                    </div>
                    <div class="col-xs-3">
                      <p>
                        <i class="material-icons clr-green">done</i>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="table-head table-last-row pad-0">
                    <div class="col-xs-12">
                      &nbsp;
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>


      </div>


      <div class="col-sm-4 col-xs-12 mobile-price mobile-time">
        <div class="pricing-table-right text-center">
          <p> ADD-ON</p>
        </div>
        <div class="table-head col-xs-12">
          <h3> Time Tracking</h3>
        </div>
        <p class="table-row col-xs-12">Employee Time Sheets</p>
        <p class="table-row col-xs-12">Time Tracking with Automated Tracker Clock</p>
        <p class="table-row col-xs-12">Task & Reminders</p>
        <p class="table-row col-xs-12">Time Tracking Approval Workflow</p>
        <p class="table-row col-xs-12">Overtime & Holiday Pay Calculation Plus Alerts</p>
        <div class="table-head col-xs-12">
          <h3>Time & Attendance Hardware Integration</h3>
        </div>
        <p class="table-row col-xs-12">Bio-metric Hardware Installation & Integration</p>
        <p class="table-row col-xs-12">Finger Print or PIN Access</p>
        <p class="table-row col-xs-12">Optional IRIS Scan</p>
        <div class="table-head col-xs-12">
          <h3>Performance Management</h3>
        </div>
        <p class="table-row col-xs-12">--</p>
        <div class="table-head col-xs-12">
          <p>&nbsp; &nbsp; &nbsp; --</p>
        </div>
        <p class="table-row col-xs-12"></p>
        <p class="table-row col-xs-12">--</p>
        <div class="table-head col-xs-12 table-last-row pad-0">
          &nbsp;
        </div>


      </div>
    </div>
  </section>

</div>

<div class="calculator-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">

          <div class="pricing-cont">

            <ul>
              <li>
                <label>Select Package</label>
                <span>
                  <mat-select class="form-control" [(ngModel)]="selectedPackage.name"
                    (ngModelChange)="getSpecificPackageDetails()" placeholder="Package" name="Package" required
                    #Package="ngModel">
                    <mat-option *ngFor="let data of packages" [value]="data.name">{{data.name}}</mat-option>
                    <!-- <mat-option value="Core">Core</mat-option> -->
                  </mat-select>
                </span>
                <span *ngIf="!selectedPackage.name && Package.touched || (!selectedPackage.name && isValid)"
                  style="color:#e44a49; padding:4px 0 0 77px;">Select a package</span>
              </li>

              <li>
                <label>Select Number of <br> Employees</label>
                <span>
                  <input type="text" [(ngModel)]="employeeCount" placeholder="Employees" class="form-control"
                    name="empCount" required #empCount="ngModel">
                </span>
                <span *ngIf="!employeeCount && empCount.touched || (!employeeCount && isValid)"
                  style="color:#e44a49; padding:4px 0 0 77px;">Enter a EmployeeCount</span>
              </li>

              <li>
                <label>Add-On</label>
                <span>
                  <mat-select class="form-control" placeholder="Select Add-On" [(ngModel)]="addOn" multiple
                    (ngModelChange)="selectAddOn($event)" name="adons" required #adons="ngModel">
                    <mat-option *ngFor="let data of allAddOns" [value]="data">{{data.name}}
                    </mat-option>
                    <!-- <mat-option value="Performance Management">Performance Management</mat-option> -->
                  </mat-select>
                </span>
                <span *ngIf="!addOn && adons.touched || (!addOn && isValid)"
                  style="color:#e44a49; padding:4px 0 0 77px;">Select Addons</span>
              </li>
              <li>
                <span style="width: 35%; border: 1px solid #eadfdf;
                        padding: 6px;
                        text-align: center;
                        border-radius: 30px; margin-right: 10px;margin-bottom: 20px;"
                  *ngFor="let addon of addOns">{{addon.name}} &nbsp;
                  <i class="material-icons clear-icon" (click)="removeAddOns(addon.name)">
                    clear
                  </i>
                </span>
              </li>

            </ul>


            <button class="btn" (click)="openPricingModal()">Get Estimation</button>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
<div class="pricing-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <div class="row pricing-header">
            <div class="col-xs-5">
              Billing
            </div>
            <div class="col-xs-2">
              Monthly
            </div>
            <div class="col-xs-1">
              <mat-slide-toggle></mat-slide-toggle>
            </div>
            <div class="col-xs-2">
              Annually
            </div>
          </div>
          <div class="row" class="">
            <div class="col-xs-6">
              <p>Package</p>
              <p>Premium</p>
            </div>
            <div class="col-xs-6">
              $ 39.00
            </div>

          </div>

          <!-- <div class="pricing-cont">

                <ul>
                  <li>
                    <label>Package <br> Premium</label>
                    <span>
                      $ 39.00
                    </span>
                  </li>
                  <li>
                      <label> Number of Employees (53) <br>
                      Total Employee Cost
                      </label>
                      <span>
                        $ 636.00
                      </span>
                    </li>

                    <li>
                        <label>Add-On
                          <br>Time Tracking
                          <br>Performance Management
                          <br>Total Price
                        </label>
                        <span>
                           $ 53.00
                        </span>
                      </li>
                   

                </ul>

                <button class="btn">Get Started</button>

              </div> -->

        </div>

      </div>

    </div>
  </div>

</div>