
.pricing-banner .tbl-cell { padding: 150px 0 0;}
.pricing-banner{
    position: relative;  
}
.pricing-banner-bottom figure img{
    z-index: -9;
    position: relative; width: 100%; height: auto;
}

.pricing-banner-bottom figure { position: absolute; top:14%; right:90px; width: 35%;}
.slider.list-inline>li{
    vertical-align: top;
    width: 140px;

}
.margin-lft-85{
    margin: 70px 0 0 85px;
}

.zenwork-pricing { position: relative; padding: 90px 0 0 0;}
.zenwork-pricing figure { position: absolute; top: 0; left: 0;z-index: -9;}


.pricing-acc { display: block;}
.pricing-acc .panel-default>.panel-heading { padding:20px 25px; background-color:#f1f6f7; border: none;}
.pricing-acc .panel-title a { color: #5f5f5f; display:block; font-size: 17px;font-weight: 600;}
.pricing-acc .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.pricing-acc .panel-title>.small, .pricing-acc .panel-title>.small>a, .pricing-acc .panel-title>a, .pricing-acc .panel-title>small, .compensation .panel-title>small>a { text-decoration:none;}
.pricing-acc .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid;}
.pricing-acc .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.pricing-acc .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.pricing-acc .panel-group .panel-heading+.panel-collapse>.list-group, .pricing-acc .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.pricing-acc .panel-heading .accordion-toggle:after { margin:7px 15px 0; font-size: 13px; line-height: 13px;}
.pricing-acc .panel-body { padding: 0;}

.pricing-acc .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.pricing-acc .panel-default { border-color:transparent;}
.pricing-acc .panel-group .panel+.panel { margin-top: 2px;}

.pricing-acc .panel-group {
    margin-bottom: 1px;
}


.calculator-popup { text-align: center;}
.calculator-popup .modal-dialog { width:35%;}
.calculator-popup .modal-content {border-radius: 3px; padding: 50px 0; box-shadow: none;}
.calculator-popup .modal-header {padding: 25px 30px;}
.calculator-popup .modal-body { padding: 0;border-radius: 3px;}

.pricing-popup { text-align: center;}
.pricing-popup .modal-dialog { width:35%;}
.pricing-popup .modal-content {border-radius: 3px; box-shadow: none;}
.pricing-popup .modal-header {padding: 25px 30px;}
.pricing-popup .modal-body { padding: 0;border-radius: 3px;}

.pricing-cont { display: block;}
.pricing-cont ul { display: block;}
.pricing-cont ul li{ margin: 0 0 30px;}
.pricing-cont ul li label{ display: inline-block; font-size: 17px; color: #87949e; width: 150px;
vertical-align: middle;text-align: left;}
.pricing-cont ul li span{ display: inline-block; width: 50%;vertical-align: middle; text-align: left;}
.pricing-cont ul li span .form-control { height: auto; padding:10px 12px;background: #f8f8f8;border: none; font-size: 17px; box-shadow: none;}
.pricing-cont ul li span .form-control:focus{ border-color:transparent; box-shadow: none;}

.pricing-cont .btn {background:#fec550; color:#444343; border-radius:30px; padding: 8px 50px; border: none;
 margin: 50px 0 0; font-size: 17px;}

 .pricing-acc .panel-heading .accordion-toggle .collapsed::after{
    content: "\e080";
 }
 .pricing-acc .panel-heading .accordion-toggle::after{
     content: "\e114"
 }
 .addOn-box {
    width: 35%;
    border: 1px solid #cecece;
    padding: 6px;
    text-align: center;
    border-radius: 30px;
 }
 .clear-icon {
    font-size: 15px;
    color: #cecece;
    cursor: pointer;
    vertical-align: middle;
 }
.time-brdr-bottem{
    border-bottom: 2px solid #ffc550 !important;
    padding: 0px 0 3px 0;
}

