.field-maintenanance{
    height:auto;
}
.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.format{
    width:20%; 
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important; font-size: 17px;
}

.zenwork-general-form-settings{
    width: 18%!important;
    border-radius: 0px!important; border: none; box-shadow: none;
}

.zenwork-br-zero{
    border-radius: 0px!important;border: none;box-shadow: none; height: 120px; resize: none; padding: 10px; line-height: 20px;
}

.zenwork-text-area-settings{
    width:55%!important;
}

.zenwork-import-structure{
    margin:20px 0 ;
}

.ml-20{
    margin-left: 20px;
}

.zenwork-customized-table.table>thead>tr.info>td{
    padding: 13px;
}

.zenwork-customized-table.table>tbody>tr>td{
    vertical-align: middle!important;
    padding: 10px;
}

.zenwork-structure-settings{
    width: 50%!important;
    border-radius: 0px!important;
}

.zenwork-company-contact-form{
    width: 65%!important;
    border-radius: 0px!important;
}

.field-maintenance-wrapper .mat-button-toggle-standalone{
    border-radius: 25px;
}

.zenwork-btn-toggle-wrapper{
    position: relative;
}

.field-select-alignment{
    position: absolute;
    top: -8px;
    left: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    z-index: 999999999999999;
}

.field-selected{
    background: #777d7a;
    color: #fff;
    border: 1px solid #777d7a;
}

.field-maintenance-wrapper .mat-list .mat-list-item{
    height: inherit!important;
    padding: 20px;
}

.field-maintenance-wrapper .mat-list{
    padding-top: 0px!important;
}

.mat-expansion-panel:not{
    box-shadow: none!important;
}


/*--------- This is my code -------*/

.field-accordion { padding:20px 0 0;}
.field-accordion p {color: #565555;font-size: 15px;}

.field-accordion .panel-default>.panel-heading { padding: 20px 0; background-color:transparent !important; border: none;}
.field-accordion .panel-title { color: #5a5959; display: inline-block; font-size: 18px;}
.field-accordion .panel-title a:hover { text-decoration: none;color: #5a5959;}
.field-accordion .panel-title a:focus{color: #5a5959;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:6px 10px 0; font-size: 12px; line-height: 12px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top:0;}

.reports-table { display: block; width: 100%;}
.reports-table .table { margin-bottom: 30px;}
.reports-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 13px; background: #eef7ff; border-bottom:none;}
.reports-table .table>tbody>tr>td, .reports-table .table>tfoot>tr>td, .reports-table .table>thead>tr>td{ padding: 13px; background:#fff;border-top: none;}
.bottom-border { width: 100%;border-top:1px solid #ccc;}
.reports-table tr.bottom-border td{ border-bottom: none;}
.reports-table .table>tbody>tr>td{background: #f8f8f8; border-bottom:1px solid #ccc;}

.zenwork-green{background:#777d7a; padding:8px 20px; color:#fff;font-size:15px;}

.field-accordion .panel-heading { position: relative;}

.excel-report { position: absolute; top: 0; right:72px;}
.excel-report a { cursor: pointer; display: inline-block;}
.excel-report a.btn{ padding: 0; height: 30px; line-height: 30px; color:#fff; text-align: center; border-radius: 3px; background:#008f3d; padding: 0 20px; }

.field-settings { display: block;border-bottom: #ccc 1px solid; margin:10px 0 30px; padding: 0 0 30px; position: relative;}
.field-settings h4 { font-weight: normal;}

.select:active, .select:focus, .select:hover { background:#eef7ff;}
.standard-fields .modal-content { border: none; padding:30px 0 50px;}

.employee { display: block;}
.employee ul { display: block;}
.employee ul li { display: inline-block;margin: 0 25px 15px 0; width: 20%;}
.employee ul li p {color: #565555;font-size: 15px;}
.employee ul li .form-control {font-size: 15px; line-height: 15px;}


.employee-settings { display: block; width: 20%;}

.first-number{
    border: none;
    height: 40px;
    padding: 10px;
}
.emp-btns{
    margin: 20px 0;
}
.emp-btns ul li{
    display: inline-block;
    padding: 0px 15px;
}
.emp-btns .submit-btn a{
    border: 1px solid #439348;
    border-radius: 25px;
    padding: 7px 20px;
    color: #439348;
    cursor: pointer; background: #fff;
}
.emp-btns .cancel-btn a{
    color :#716e6e;
    cursor: pointer;
}
.employee-search-heading{
    margin: 20px 0
}
.employee-search-heading li{
    display: inline-block;
    padding: 0px 15px 0 0;
}
.search-list{
    width: 31%;
}
.search-filter{
    width: 100%;
    height: auto;
    padding: 12px 10px;
    border: none;
    box-shadow: none;
    font-size: 16px;

}
.search-filter:focus{border-color:transparent; box-shadow: none;}

.btn-run-report{
    padding: 3px 25px;
    display: inline-block;
    border: 1px solid #c5b9b9;
    border-radius: 24px;
    color: #000;
    cursor: pointer;
}


/* modalcss */
.modal-margintop{
    margin-top:40px;
}
/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    color: #000;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 16px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color:transparent;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/


  label{
    font-weight:normal;
    line-height: 30px;
    font-size: 16px;
}
input{
  height:30px;
  border:1px solid #e5e5e5;
}
.customize-form{
    margin-top:20px;
}
.customize-form .template{
    height:30px;
    width:40%;
    border: 0;
    background: #f8f8f8;
}
.modal-body{
    background:#f8f8f8;
    padding: 0;
}
.tabs-left .nav-tabs{
    padding: 20px;
    border-right: 0;
}
.tab-content{
  margin: 0;
  background: #fff;
  padding: 30px;
}
.tabs-customize{
    background: #f8f8f8;
    padding:0px!important;
}
.modal-body .container{
    width:100%;
}



.field-maintenance-wrapper .mat-button-toggle-standalone{
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid #dedede;
}

.zenwork-btn-toggle-wrapper{
    position: relative;
    
}

.field-select-alignment{
    position: absolute;
    top: -8px;
    left: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    z-index: 999999999999999;
}

.field-selected{
    background: #777d7a;
    color: #fff;
    border: 1px solid #777d7a;
}
.personaldata-fields-list{
    margin-top: 30px;
}
.personal-data-listitems{
    display: inline-block;
    padding: 25px 8px;
}
.caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }

  .mat-button-toggle-label-content{
  color: #000;
  font-size: 12px
  }
  .onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
}
.buttons{
    margin: 20px 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.buttons ul li .back{
    border: 1px solid #dcdbdb;
    padding: 7px 30px;
    border-radius: 31px;
    color: #636262;
    cursor: pointer;
}
.buttons ul li .save{

    border:none;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background:#429348; font-size: 16px;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}
.custom-fields-table{
    padding: 50px;
}
.modal-customfields{
    padding: 30px !important;
}
.add-custom-field{
    padding: 50px;
}
.field-name-input{
    border: none;
    background: #f8f8f8;
    box-shadow: none;
    height: 35px;
    width: 45%;
}
.edit-field-buttons{
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
}
.dropdown-listoptions{
    padding: 20px;
    -webkit-box-shadow: -1px -2px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
}
.dropdown-listoptions h4,.dropdown-listoptions ul{
    margin: 20px 0px;
}
.error{
    font-size:12px !important;
    color: #f44336 !important;
}


.filed-popup { display: block;}
.filed-popup .modal.in .modal-dialog { width:80%;}