<div class="setting-table">

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="cont-check">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="checkAllAddOns" (change)="selectAll()">
              Add-on Title
            </mat-checkbox>
          </div>
        </th>
        <th>Cost</th>
        <th>Frequency</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>
          <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/super-admin/super-admin-dashboard/settings/add-ons-add">Add</a>
              </li>
              <li>
                <a (click)="editAddOns()">Edit</a>
              </li>
              <li>
                <a (click)="deleteAddOns()">Delete</a>
              </li>
              <!-- <li>
                <a>Copy</a>
              </li> -->
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let addOn of addons">
        <td [ngClass]="{'zenwork-checked-border':addOn.isChecked}">

          <div class="cont-check">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="addOn.isChecked">
              {{addOn.name}}
            </mat-checkbox>
          </div>

        </td>
        <td>{{addOn.price}}</td>
        <td>
          <div class="include packages text-capitalize">
            {{addOn.subscriptionType}}
          </div>
        </td>
        <!-- <td>{{addOn.startDate | date}}</td>
        <td>{{addOn.endDate | date}}</td> -->
        <td>--</td>
        <td>--</td>
        <td></td>
      </tr>
  </table>


  <mat-paginator [length]="addonsCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEventsforAddons($event)">
  </mat-paginator>

</div>

<router-outlet></router-outlet>