<div class="main-template">
  <div class="modal-header">
    <span class="">Assign User Role</span>
  </div>

  <div class="main-empdata">
    <div class="user-type col-md-6">
      <div class="form-group">
        <label class="type-lebel">Employee Name</label>
        <span class="emp-name">
          <input type="text" [(ngModel)]="data.personal.name.preferredName" placeholder="Employee Name"
            class="form-control company-legal-name" readonly>
        </span>
      </div>
      <div class="form-group ">
        <label class="type-lebel">Current User Role</label>
        <span class="emp-name">
          <mat-select [disabled]=true class="form-control text-field select-btn" [(ngModel)]="data.job.Site_AccessRole"
            placeholder="Select user role">
            <mat-option *ngFor="let data of resRolesObj" [value]="data._id"> {{data.name}}</mat-option>

          </mat-select>
        </span>
      </div>
      <div class="form-group">
        <label class="type-lebel">New User Role</label>
        <span class="emp-name">
          <mat-select class="form-control text-field select-btn" [(ngModel)]="newRole" placeholder="Select user role">

            <mat-option *ngFor="let data of resRolesObj" [value]="data._id"> {{data.name}}</mat-option>
          </mat-select>
        </span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="buttons">
    <ul class="list-unstyled">

      <li class="list-items">
        <a class="cancel" (click)="cancel()">Cancel</a>
      </li>
      <li class="list-items pull-right">
        <button class='save' type="submit" (click)="submitChangeRole()">
          Save Changes
        </button>
      </li>

      <div class="clearfix"></div>
    </ul>
  </div>
</div>