.main-template{
    /* padding: 0 !important; */
    padding: 40px;
  }
  .main-template .modal-header{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  
  }
  .type-lebel{
      display: inline-block;
  }
  .emp-name{
      display: inline-block;
      padding: 0 0 0 40px;
      width: 49%;
  }
  .main-empdata{
      padding: 40px;
  }
  .company-legal-name{
    border: none;
    padding: 10px;
    background: #f8f8f8;
    box-shadow: none;
    height: 40px;
  }
  .text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
.select-btn {
    border: none;
    box-shadow: none;
    height: 40px;
    /* width: 95%; */
}
.buttons{
    margin: 35px 30px 0;
  }
  .buttons ul li{
    display: inline-block;
    padding: 0px 10px;
  }
  .buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    cursor: pointer;
  }
  .buttons ul li .save{
  
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background: green;
    /* cursor: pointer; */
  }
  .buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
  }