.field-accordion p {color: #565555;font-size: 16px;}
.field-accordion { padding: 0;}
.field-accordion .panel-default>.panel-heading { padding: 20px 0 20px; background-color:transparent !important; border: none;}
.field-accordion .panel-title { color: #3c3c3c; display: inline-block; font-size:18px;}
.field-accordion .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.field-accordion .panel-title a:focus{color: #3c3c3c;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:6px 10px 0; font-size: 12px; line-height: 12px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}
.field-accordion .panel-heading { position: relative;}
.field-accordion .panel-default {
    background: #fff;
    padding: 10px 20px;
    
}
.email-templates {
    background: #f8f8f8;
    padding: 15px;
}
.import-btn {
    border: 1px solid #797d7b;
    background-color: #797d7b;
    color: #fff;
    border-radius: 4px;
    outline: none;
  
}
.align-btn {
    margin: 30px 0px;
}
.zenwork-checked-border:after { 
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  border-right: #83c7a1 4px solid;
  height: 100%;
  border-radius: 4px;
  padding: 25px;
    }
.mar-right-15 {
    margin-right: 15px;
}

.training-modal .modal-dialog { width: 50%;}
.training-modal .modal-content { border-radius: 5px !important;}
.training-modal .modal-header {padding: 15px 15px 20px;}
.training-modal .modal-header h4 { padding: 0 0 0 30px;}

.training-class { margin:30px 30px 40px;}
.training-class ul { display: block; border-bottom:#ccc 1px solid; padding: 0 0 30px; margin: 0 0 30px;}
.training-class ul li { margin: 0 0 40px; width:35%;}
.training-class ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-class ul li .form-control{ border: none; box-shadow: none; background: #f8f8f8;padding: 10px 12px; height: auto;}
.training-class ul li .form-control:focus{ box-shadow: none;}

.training-class ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#484848;
  }
  .training-class ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484848;
  }
  .training-class ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484848;
  }
  .training-class ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484848;
  }

.training-class .cancel { color: #E85453; font-size: 15px; float: left; border: none; outline: none; background: transparent; margin: 6px 0 0;}
.training-class .save { color: #fff; font-size: 15px; float: right;background: #099247; padding: 10px 40px; border-radius: 30px;border: none; outline: none;}
#fileUpload {
  height: 0;
  display: none;
  width: 0;
}
.width-100 {
  width: 100%;
  padding-top: 10px;
}
a:focus {
  outline: none
}
a {
  color: #000;
}

.buttons{
  margin: 30px 0 0;
}
.buttons ul li{
  display: inline-block;
  padding: 0px 10px;
}
.buttons ul li .back{
  border: 1px solid gray;
  padding: 7px 30px;
  border-radius: 31px;
  color: #000;
  cursor: pointer;
}
.buttons ul li .save{

  border: 1px solid gray;
  padding: 7px 30px;
  border-radius: 31px;
  color: #fff;
background: #099247;font-size: 16px;
}
.buttons ul li .cancel{
  color:#e5423d;
  cursor: pointer;
}
.error {
  color: #e85e5e;
}
.download-icon {
  color: #ab8686;
  position: absolute;
  left: 15px;
}
.upload {
  color: #fff;
  background: #099247;
  outline: none;
}