<div class="align-btn">
  <button mat-raised-button class="import-btn" data-toggle="modal" data-target="#myModal">Load Email Templates</button>
</div>

<div class="field-accordion">

  <div class="panel-group" id="accordion1">

    <div class="panel panel-default border-bottom">
      <div class="panel-heading">
         
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            Employee Management
          </a></h4>
        <span class="pull-right">
          <mat-icon *ngIf="emailTemplate1.length" class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
          <mat-menu #menu1="matMenu" class="option-position">
            <button *ngIf="(!emailTemplate1.length <=0) && (emailTemplate1.length ==1)" mat-menu-item class="edit-color" >
                <a (click)="editEmailTemplate1()">Edit</a>
                <a data-toggle="modal" data-target="#myModal" #openEdit1></a>
              </button> 
            <button *ngIf="(!emailTemplate1.length <=0) && (emailTemplate1.length >=1)" mat-menu-item class="edit-color" (click)="deleteEmailTemplate()">Delete</button>
          </mat-menu>
        </span>

      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group">
            <p *ngFor= "let employee of employeeManagement" class="email-templates" [ngClass]="{'zenwork-checked-border': employee.isChecked}">
                <span class="mar-right-15">
                    <mat-checkbox class="checkbox-success" [(ngModel)]="employee.isChecked" (change)="checkEmailTemplate1($event, employee._id)">
                    </mat-checkbox>
                  </span>
                 
                    {{employee.givenFileName}}
                
                <span style="position: relative">
                    <a href="{{employee.url}}" target="_blank">
                    <i class="material-icons download-icon">
                        cloud_download
                        </i>
                      </a>
                </span>
            </p>

          </div>

        </div>

      </div>
    </div>
  

      <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#company-info">
              Recruitment
            </a>
          </h4>
          <span class="pull-right">
              <mat-icon *ngIf="emailTemplate2.length" class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
              <mat-menu #menu2="matMenu" class="option-position">
                <button *ngIf="(!emailTemplate2.length <=0) && (emailTemplate2.length ==1)" mat-menu-item class="edit-color">
                    <a (click)="editEmailTemplate2()">Edit</a>
                <a data-toggle="modal" data-target="#myModal" #openEdit2></a>
                </button>
                <button *ngIf="(!emailTemplate2.length <=0) && (emailTemplate2.length >=1)" mat-menu-item class="edit-color" (click)="deleteEmailTemplate()">Delete</button>
              </mat-menu>
            </span>
        </div>
        <div id="company-info" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group">
                <p class="email-templates" *ngFor="let recruitment of recruitments" [ngClass]="{'zenwork-checked-border': recruitment.isChecked}">
                  <span class="mar-right-15">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="recruitment.isChecked" (change)="checkEmailTemplate2($event, recruitment._id)">
                      </mat-checkbox>
                    </span>
                   
                      {{recruitment.givenFileName}}
                  
                  <span style="position: relative">
                      <a href="{{recruitment.url}}" target="_blank">
                      <i class="material-icons download-icon">
                          cloud_download
                          </i>
                        </a>
                  </span>
              
              </p>
      
                </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#company-info1">
              Benefits Administration
            </a>
          </h4>
          <span class="pull-right">
              <mat-icon *ngIf="emailTemplate3.length" class="cursor" [matMenuTriggerFor]="menu3">more_vert</mat-icon>
              <mat-menu #menu3="matMenu" class="option-position">
                <button *ngIf="(!emailTemplate3.length <=0) && (emailTemplate3.length ==1)" mat-menu-item class="edit-color">
                    <a (click)="editEmailTemplate3()">Edit</a>
                    <a data-toggle="modal" data-target="#myModal" #openEdit3></a>
                </button>
                <button *ngIf="(!emailTemplate3.length <=0) && (emailTemplate3.length >=1)" mat-menu-item class="edit-color" (click)="deleteEmailTemplate()">Delete</button>
              </mat-menu>
            </span>
        </div>
        <div id="company-info1" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group">
                <p class="email-templates" *ngFor="let benefits of benefitsAdministration" [ngClass]="{'zenwork-checked-border': benefits.isChecked}">
                  <span class="mar-right-15">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="benefits.isChecked" (change)="checkEmailTemplate3($event, benefits._id)">
                      </mat-checkbox>
                    </span>
                  
                      {{benefits.givenFileName}}
                  
                  <span style="position: relative">
                      <a href="{{benefits.url}}" target="_blank">
                      <i class="material-icons download-icon">
                          cloud_download
                          </i>
                        </a>
                  </span>
                  
              </p>
                </div>
          </div>
        </div>
      </div>
    

      <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#company-info2">
              Performance Management
            </a>
          </h4>
          <span class="pull-right">
              <mat-icon *ngIf="emailTemplate4.length" class="cursor" [matMenuTriggerFor]="menu4">more_vert</mat-icon>
              <mat-menu #menu4="matMenu" class="option-position">
                <button *ngIf="(!emailTemplate4.length <=0) && (emailTemplate4.length ==1)" mat-menu-item class="edit-color">
                    <a (click)="editEmailTemplate4()">Edit</a>
                <a data-toggle="modal" data-target="#myModal" #openEdit4></a>
                </button>
                <button *ngIf="(!emailTemplate4.length <=0) && (emailTemplate4.length >=1)" mat-menu-item class="edit-color" (click)="deleteEmailTemplate()">Delete</button>
              </mat-menu>
            </span>
        </div>
        <div id="company-info2" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group">
                <p class="email-templates" *ngFor="let performance of performanceManagement" [ngClass]="{'zenwork-checked-border': performance.isChecked}" >
                  <span class="mar-right-15">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="performance.isChecked" (change)="checkEmailTemplate4($event, performance._id)">
                      </mat-checkbox>
                    </span>
                    
                      {{performance.givenFileName}}
                  
                  <span style="position: relative">
                      <a href="{{performance.url}}" target="_blank">
                      <i class="material-icons download-icon">
                          cloud_download
                          </i>
                        </a>
                  </span>
              </p>
                </div>
          </div>
        </div>
      </div>
    

      <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#company-info3">
              Leave Management
            </a>
          </h4>
          <span class="pull-right">
              <mat-icon *ngIf="emailTemplate5.length" class="cursor" [matMenuTriggerFor]="menu5">more_vert</mat-icon>
              <mat-menu #menu5="matMenu" class="option-position">
                <button *ngIf="(!emailTemplate5.length <=0) && (emailTemplate5.length ==1)" mat-menu-item class="edit-color">
                    <a (click)="editEmailTemplate5()">Edit</a>
                <a data-toggle="modal" data-target="#myModal" #openEdit5></a>
                </button>
                <button *ngIf="(!emailTemplate5.length <=0) && (emailTemplate5.length >=1)" mat-menu-item class="edit-color" (click)="deleteEmailTemplate()">Delete</button>
              </mat-menu>
            </span>
        </div>
        <div id="company-info3" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group">
                <p class="email-templates" *ngFor="let leaves of leaveManagement" [ngClass]="{'zenwork-checked-border': leaves.isChecked}">
                  <span class="mar-right-15">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="leaves.isChecked" (change)="checkEmailTemplate5($event, leaves._id)">
                      </mat-checkbox>
                    </span>
                  
                      {{leaves.givenFileName}}
                  
                  <span style="position: relative">
                      <a href="{{leaves.url}}" target="_blank">
                      <i class="material-icons download-icon">
                          cloud_download
                          </i>
                        </a>
                  </span>
              </p>
                </div>
          </div>
        </div>
      </div>
    
    
  </div>

</div>


<div class="training-modal">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           <h4>Load Email Templates</h4>
          </div>
          <div class="modal-body">
            
            <div class="training-class">
             <form (ngSubmit)="uploadEmailTemplate(emailForm)" #emailForm="ngForm">
              <ul>
  
                <li>
                    <label>Upload a file*</label>

                    <input type="file" id="fileUpload" accept=".doc,.docx,application/msword,.xlsx, .xls,application/pdf" (change)="fileChangeEvent($event)" [(ngModel)]="files" name="emailTemplate"  #emailTemplate="ngModel" required>
                    <label for="fileUpload" class="browse-btn">
                  <a mat-menu-item class="edit-color upload">Browse</a>   
                   </label>
                   <span *ngIf="fileName">{{fileName}}</span>
                    
                    <p *ngIf="!fileName && isValid" class="error">Please select one file to upload</p>

                </li>
                
                <li>
                    <label>Select Module to store file*</label>
                    <mat-select class="form-control zenwork-general-form-settings" placeholder="Select Module" [(ngModel)]="module" name="selctModule" #selctModule ="ngModel" (ngModelChange)="moduleChange()" required>
     
                        <mat-option value="Employee Management">Employee Management</mat-option>
                        <mat-option value="Recruitment">Recruitment</mat-option>
                        <mat-option value="Benefits Administration"> Benefits Administration</mat-option>
                        <mat-option value="Performance Management">Performance Management</mat-option>
                        <mat-option value="Leave Management">Leave Management</mat-option>

                    </mat-select>
                    <p *ngIf="!module && selctModule.touched || (!module && isValid)" class="error">Please select one module</p>

                </li>
                
                <li>
                    <label>Name Email Templates*</label>
                    <input type="text" class="form-control" (keypress)="alphabets($event)" [(ngModel)] ="givenFileName" name="emailFileName" #emailFileName="ngModel" maxlength="40" minlength="40" required>
                    <p *ngIf="!givenFileName && emailFileName.touched || (!givenFileName && isValid)" class="error">Please enter an email template name</p>

                </li>
                
              </ul>
              
  
              <button type="submit" class="cancel" data-dismiss="modal" (click)="cancelEmailForm()">Cancel</button>
              <button type="submit" class="save">Submit</button>
              <div class="clearfix"></div>
            </form>
            </div>
           
          
          </div>
          
        </div>
    
      </div>
    </div>
  
  </div>
  <div class="buttons">
    <ul class="list-unstyled">
     
      <li class="list-items pull-right">
        <button class='save' type="submit" (click)="saveandNext()">
          Save Changes
        </button>
      </li>
  
      <div class="clearfix"></div>
    </ul>
  </div>
  <!-- <a data-toggle="modal" data-target="#myModal" #openEdit></a> -->
