<div class="job-bank col-md-11">

  <h2>Job Application</h2>

  <div class="post-jobs-cont">  
  
    <table class="table">
        <thead>
          <tr>
            <th><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></th>
            <th>Application Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <a (click)="addJobApplication()">Add</a>
                </button>
               
                <button mat-menu-item>
                    <a>Edit</a>
                </button>
                <button mat-menu-item>
                  <a>Copy</a>
                </button>
                
                <button mat-menu-item>
                  <a>Preview</a>
                </button>

                <button mat-menu-item>
                  <a>Archive</a>
                </button>

                <button mat-menu-item>
                  <a>Delete</a>
                </button>

              </mat-menu>
            </th>
          </tr>
        </thead>

        <tbody> 
          <tr>
            <td><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></td>
            <td>Administrator</td>
            <td>USA</td>
            <td>Actibe</td>
           <td></td>
           
          </tr>
          
        </tbody>
    </table>

  </div>

</div>