
<div class="job-main col-md-11">

<div class="arrow-block">

    <a routerLink="/admin/admin-dashboard/recruitment">
        <small><i class="fa fa-angle-left" aria-hidden="true"></i></small>
        <em>Back</em>
    </a>

    <h3>
        <img src="../../../assets/images/company-settings/company-setup/company-setup.png" alt="Company-settings icon">
        <span>Jobs Description & Applications</span> 
    </h3>

  </div>

  <div class="job-tabs">

    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/recruitment/job-description/job-bank">Job Bank</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/recruitment/job-description/load-job">Load Job Description</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/recruitment/job-description/job-application">Job Applications</a>
      </li>
     
    </ul>
    <div class="clearfix"></div>

  </div>

</div>


<router-outlet></router-outlet>