
.job-main { margin: 0 auto; float: none; padding: 0;}

.job-tabs {margin: 30px 0 0;}
.job-tabs .tab-content { margin:40px 0 0;}
.job-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{ border-bottom:#439348 4px solid;background: transparent;color: #484747 !important;font-size: 18px;}
.job-tabs .nav-tabs {border-bottom:none; padding: 15px 0 0; background: #fff;}
.job-tabs .nav-tabs > li { margin: 0 50px;}
.job-tabs .nav-tabs > li > a {font-size: 18px;line-height: 17px;font-weight:normal;color:#484747 !important;border: none;padding: 10px 0 18px !important;
margin: 0; cursor: pointer;}
.job-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;color: #484747 !important;font-size: 18px;border-bottom:transparent;}
.job-tabs .nav-tabs > li.active a{border-bottom:#439348 4px solid;color: #484747 !important;font-size: 18px;}
