.benefits-tab{
    padding: 0 35px 0 0;
}
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.img-personal-icon{
    width: 20px;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #000;
}

.hire-wizard{
    width:100%;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    border-radius: 0px!important;
    color: #353131!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #fff;
}

.add-education{
    font-size: 12px;
    /* margin: 0 30px 0 0; */
}
.benefits-section{
    padding: 10px;
}
.historical-table thead td{
    padding: 10px 40px;
    background: #edf7fe;
    text-align: center;
    font-size: 12px;
}
.benefits-td{
    text-align: left !important;
    padding: 0 0 0 20px !important;
}
.table-body{
    background: #fff;
}
.visa-list-entries{
    margin: 0px 10px;
    border-bottom: 1px solid #eee;
}
.visa-list-entries .list-items{
    padding: 10px;
    display: inline-block;
}
.visa-info{
    color:#9a9696;
    font-size: 12px;
}
.img-health-icon{
    width: 15px;
}
.table-body .health-text{
    padding: 0;
}
.health-content{
    padding: 0 0 10px 10px!important;
}
.health-insurance{
    margin: 10px;
    border-bottom: 1px solid #eee;
}
.border-none{
    border:0 none !important;
}
.health-insurance .list-items{
    font-size: 12px;
    line-height: 20px;
    padding: 0px 10px;

}
.health-insurance .list-items small{
    color: #3e3e3ea3;
}
.table-body .health-text span{
    font-size:12px;
}
.margin-top-10{
    margin: 10px 0 0 0;
}

.table-heading{
    padding: 10px 5px 10px 0px;
    /* border-bottom: 1px solid #bebebe; */
    background-color:#edf7fe;
}

.list-entries .list-items{
    padding: 10px;
}
.dependency-table{
    padding: 0px 10px;
}
.historical-table thead td{
    padding: 10px 40px;
    background: #edf7fe;
    text-align: center;
    font-size: 12px;
}
.type-depedent{
    text-align: left !important;
    padding: 0 0 0 10px !important;
}
.depedents-list{
    padding: 10px;
    background: #fff;
    margin: 0px 10px;
    
}
.depedents-list .list-items{
    padding: 0px 40px 0px 15px;
    display: inline-block;
}
/* green checkbox */
.checkbox {
    padding-left: 20px;
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 7px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 1px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
 
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #439348;
    border-color: #439348;
    border-radius: 10px;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
      display: none;
  }
  /* green checkbox end */

.detail-section{
    margin: 25px 0px;
}
  .name-list .list-name-field{
    display:inline-block;
    padding:0px 10px;
}
.birth-date .padding10-listitems{
    padding: 0px 10px;
}
.birth-date-list{
    position: relative;
    display: inline-block;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.calendar-icon{
    position: absolute;
    top: 38px;
    width: 15px;
    right: 15px;
}
label{
    font-weight: normal;
    line-height: 30px;
    font-size: 12px;
}
input{
    height:30px;
    border:0;
    width: 178px;
}
select{
    font-size: 12px;
}
.gender .gender-list{
    display: inline-block;
}
.gender-list{
    padding:0px 10px;
}
.zenwork-structure-settings{
    width: 178px!important;
    border-radius: 0px!important;
    height:30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.us-citizen{
    background: #fff;
    width: 178px;
    height: 30px;
}
.citizen .checkbox label::before{
    border-radius: 3px !important;
}
.citizen .checkbox label::after{
    border-radius: 3px !important;
}
.citizen .checkbox label::before{
    left:10px !important;
}
.citizen .checkbox label::after{
    left:10px !important;
}
.citizen .checkbox label{
    padding: 0 0 0 15px; 
}
.archive-status{
    background: #fff;
    height: 30px;
    width: 178px;  
}
.archive-status span{
    display: inline-block;
    font-size: 12px;
    float: left;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}
.archive-status small{
    display: inline-block;
    text-align: center;
    padding: 0 0 0 13px;
}
.archive-status b{
    display: inline-block;
    font-weight: normal;
    float: right;
    font-size: 12px;
    padding: 0 10px 0 0;
    margin: 5px 0 0 0;
}
.disabled-status{
    margin: 20px 0px;
}
.list-items-address{
    padding: 10px 0px;
}
.list-items-address .text-field{
    font-size: 10px;
    padding-left: 15px;
}
.list-items-addresslocal .text-field{
    font-size: 10px;
    padding-left: 15px;
    width: 178px;
}
.list-items-addresslocal{
    display: inline-block;
    margin: 0px 5px 0px 0px;
    width: 20%;
}
.city{
    margin: 0px 5px 0px 0px;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.zipcode-input{
    width:auto;
}
.country-items{
    margin-top:20px;
}
.address , .contact{
    padding: 0px 10px;  
}
.contact-details .text-field{
    font-size: 10px;
    padding-left:35px;
}
.contact-details{
    position: relative;
}
.landphone-img{
    position: absolute;
    width: 15px;
    top: 37px;
    left: 10px;
}
.email-item .workphone{
    width: 100%;
}
.mobile-img{
    position: absolute;
    width: 12px;
    top: 6px;
    left: 11px;
}
.contact-details .text-field{
    font-size: 10px;
    padding-left:35px;
}
.contact-details{
    position: relative;
}
.ext{
    width: 70px;
    margin-left: 15px!important;
}
.text-field-ext{
    width:8%;
    font-size: 10px;
    padding-left:25px;
}
.home-img{
    position: absolute;
    width: 15px;
    top: 7px;
    left: 8px;
}
.email-item{
    padding: 10px 0px;
    width: 28%;
}
.workingemail-img{
    position: absolute;
    width: 15px;
    top: 47px;
    left: 10px;
}
.email-item .workphone{
    width: 100%;
}
.homeemail-img{
    position: absolute;
    width: 15px;
    top: 88px;
    left: 8px;
}
.submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px;
   
  }
  .submit-buttons .btn-success {
      background-color: #439348;
  }
  .margin-top{
      margin-top: 40px;
  }
  .btn-style{
      padding: 2px 12px!important;
      border-radius: 30px!important;
      font-size: 12px;
  }
.plans-btns .list-items {
    display: inline-block;
    padding: 0px 15px;
}
.coverage-btns{
    margin: 20px 0px;
}
.plans-btns .list-items a{
    height: 25px;
    font-size: 12px;
    padding: 4px 12px !important;
    color: #000;
    background: #fff;
    border-color: #e2e1e1;
}
.plans-btns .list-items a:hover,.plans-btns .list-items a:active{
    color: #fff;
    background: #439348;
}
.settings-dropdown,.settings-dropdown:hover{
    border: none;
    background: #fff !important;
}
.settings-dropdown-list > li >a:hover{
    background-color: #439348 !important;
    color: #fff !important;
}
.open>.dropdown-menu{
    left: -110px !important;
}
.benefits-heading small{
    color: #3e3e3ea3;
}
.benefits-heading span{
    color:#000;
}
.historical-table thead td{
    padding: 10px 20px;
    background: #edf7fe;
    text-align: left;
    font-size: 12px;
}
.historical-tablerow{
    background: #fff;
}
.historical-tablerow .event{
    width: 28%;
}
.historical-tablerow td{
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #edf7fe;
    color: #3e3e3ea3;
    font-size: 12px;
}
.main-benifits { margin: 0 auto; float: none; padding: 0;}