<div class="training-modal">

    <div class="modal-header">
     <h4>Edit / View Training Classes</h4>
    </div>
 
      <div class="training-class">
        <form [formGroup]="trainingForm" (ngSubmit)="editTraining()">
        <ul>

          <li class="col-md-4">
            <label>Training Name</label>
            <input type="text" class="form-control" formControlName="trainingName" [readOnly]="disableField">
            <span *ngIf="trainingForm.get('trainingName').invalid && trainingForm.get('trainingName').touched" class="errors">Enter name</span>
          </li>
          <li class="col-md-4">
              <label>Training ID Number</label>
              <input type="number" class="form-control" formControlName="trainingId" [readOnly]="disableField">
              <span *ngIf="trainingForm.get('trainingId').invalid && trainingForm.get('trainingId').touched" class="errors">Enter number</span>
            </li>
          <div class="clearfix"></div>  

          <li class="instructor">
              <label>Instructor Name</label>
              <mat-select class="form-control zenwork-general-form-settings" formControlName="instructorName" [disabled]="disableField">
                      
                    <mat-option *ngFor="let employess of employeeData" [value]="employess._id" >
                    {{employess.personal.name.preferredName}}</mat-option>

                </mat-select>

                <span *ngIf="trainingForm.get('instructorName').invalid && trainingForm.get('instructorName').touched" class="errors">Select Name</span>

          </li>
         <div class="row" style="margin:0px">
          <li class="col-md-4">
              <label>Training Subject</label>
              <mat-select class="form-control zenwork-general-form-settings" formControlName="trainingSubject" [disabled]="disableField">
                  <mat-option value="">Subject</mat-option>
                  <mat-option *ngFor="let subjectField of trainingSubjectData" [value]="subjectField.name">{{subjectField.name}}</mat-option>

              </mat-select>
              <span *ngIf="trainingForm.get('trainingSubject').invalid && trainingForm.get('trainingSubject').touched" class="errors">Enter subject</span>
          </li>
          
          <li class="col-md-4">
              <label>Training Type</label>
              <mat-select class="form-control zenwork-general-form-settings" formControlName="trainingType" [disabled]="disableField">
                  <mat-option value="">Type</mat-option>
                  <mat-option *ngFor="let subjectField of trainingTypeData" [value]="subjectField.name">{{subjectField.name}}</mat-option>
                  
              </mat-select>
              <span *ngIf="trainingForm.get('trainingType').invalid && trainingForm.get('trainingType').touched" class="errors">Enter type</span>
          </li>
        </div>
        <div class="row" style="margin:0px">
            <li class="col-md-4">
                <label>Score</label>
                <input type="number" class="form-control" formControlName="score">

                <span *ngIf="trainingForm.get('score').invalid && trainingForm.get('score').touched" class="errors">Enter score</span>
            </li>
            
            <li class="col-md-4">
                <label>Pass / Fail?</label>
                <mat-select class="form-control zenwork-general-form-settings" formControlName="result">
                    <mat-option value="Pass">Pass</mat-option>
                    <mat-option value="Fail">Fail</mat-option>
                    <mat-option value="N/A">N/A</mat-option>
                </mat-select>
                <span *ngIf="trainingForm.get('result').invalid && trainingForm.get('result').touched" class="errors">Select result</span>
            </li>
          </div>
          <li class="instructor">
              <label>Average Time to Complete</label>
              <mat-select class="form-control zenwork-general-form-settings" formControlName="timeToComplete" [disabled]="disableField">
                  <mat-option value="">Average</mat-option>
                  <mat-option *ngFor="let subjectField of trainingAverageTime" [value]="subjectField.name">{{subjectField.name}}</mat-option>
           
              </mat-select>
              <span *ngIf="trainingForm.get('timeToComplete').invalid && trainingForm.get('timeToComplete').touched" class="errors">Enter average</span>
          </li>
          <li class="col-md-6">
              <label>Training URL</label>
              <input type="text" class="form-control" formControlName="trainingUrl" [readOnly]="disableField">
              <span *ngIf="trainingForm.get('trainingUrl').invalid && trainingForm.get('trainingUrl').touched" class="errors">Enter url</span>
          </li>
          <div class="clearfix"></div>

        </ul>
        <div class="clearfix"></div>

        <button type="submit" class="cancel" (click)="onNoClick()">Cancel</button>
        <button type="submit" class="save" >Submit</button>
        <div class="clearfix"></div>
      </form>
      </div>
  
  
  </div>
