.training-class { margin:10px 0 0 50px;}
.training-class ul { display: block; border-bottom:#ccc 1px solid; padding: 0 0 30px; margin: 0 0 30px;}
.training-class ul li { margin: 0 0 20px;}
.training-class ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-class ul li .form-control{ border: none; box-shadow: none; background: #f8f8f8;padding: 10px 12px; height: auto;}
.training-class ul li .form-control:focus{ box-shadow: none;}
.training-class ul li.instructor { padding: 0 15px;}
.training-class ul li.instructor .form-control { width:31%;}

.training-class .cancel { color: #E85453; font-size: 15px; float: left; border: none; outline: none; background: transparent; margin: 6px 0 0;}
.training-class .save { color: #fff; font-size: 15px; float: right;background: #099247; padding: 10px 40px; border-radius: 30px;border: none; outline: none;}
.errors {color:#e44a49; padding: 5px 0 0;}