.import-btn {
    border: 1px solid #797d7b;
    background-color: #797d7b;
    color: #fff;
    border-radius: 4px;
    outline: none;
  
}
.mar-top-30 {
    margin-top: 30px;
}
.mar-left-25 {
    margin-left: 25px;
}
.mar-left-25 a {
    cursor: pointer;
}
.table-body{
    background: #fff;
    padding: 35px 50px;
    margin-top: 30px;
}
.structure-list .list-items{
    padding: 15px 15px;
    border-bottom: 2px solid #eee;
}
.structure-list .list-items-values{
    padding: 17px 37px;
    border-bottom: 2px solid #eee;
}
.checkbox label{
    padding: 0 0 0 20px;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #797d7b;
    border-color: #797d7b;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
      display: none;
  }
  .structure-head {
    margin-left: 40px;
    margin-top: 30px;
  }
  .structure-tbl-body {
    background: #f8f8f8;
    width: 45%;
  }
  .bg-color {
      background: #ecf7ff;
      padding: 15px 10px;
  }
  .mar-left-40 {
      margin-left: 40px;
  }
  .active-structure {
      border-left: 4px solid #5ddb97;
      border-radius: 5px;
  }
  .arrow-position {
    position: relative;
}
.arrow-align-one {
    font-size: 40px;
    position: absolute;
    top: 145px;
    left: 30px;
    font-weight: lighter;
    color: #439348;
    
    
}
.arrow-align-two {
    font-size: 40px;
    position: absolute;
    top: 145px;
    right: 0;
    left: 26px;
    font-weight: lighter;
    color: #439348;
}
#fileUpload {
    height: 0;
    display: none;
    width: 0;
  }

  .upload{
    text-decoration: none;
}
.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
.height-300 {
    height: 300px;
    overflow: auto;
}
.buttons{
    margin: 20px 0 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    cursor: pointer;
}
.buttons ul li .save{

    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background:#008f3d; font-size: 16px;display: block; margin: 20px 0 0;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}