<div class="col-sm-12">
  <div class="row">
    <div class="mar-top-30">
        <input type="file" id="fileUpload" (change)="fileChangeEvent($event)">
        <label for="fileUpload">
            <a mat-raised-button class="import-btn upload">Import Structure</a>
            
          </label>
         
      <!-- <button class="import-btn">Import Structure</button> -->
      <span class="mar-left-25">Looking for Excel template?
        <a href="../assets/docs/Structure Fields and Values.xlsx" target="_blank" class="green">Click here to Download.</a>
      </span>
    </div>
    <div>
      <div class="col-sm-12 table-body">
        <div class="row">
          <div class="col-sm-6 structure-tbl-body height-300">
            <div class="row">
              <div class="bg-color">
                <h4 class="mar-left-40">Structure Fields</h4>
              </div>
            
            <div>
              <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">

                <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                  <div>
                    
                      <mat-checkbox class="checkbox-success"  [(ngModel)]="fields.isChecked" [value]="fields.name" (ngModelChange)="getStructureSubFields(fields.name,fields.isChecked )">
                      {{fields.name}}
                      </mat-checkbox>
                  </div>
                 
                </li>
             
              </ul>
            </div>
            </div>
          </div>
          <div class="col-sm-1 text-center arrow-position">
            <i class="material-icons arrow-align-one">
              keyboard_arrow_right
              </i>
              <i class="material-icons arrow-align-two">
                keyboard_arrow_right
                </i>
          </div>
          <div class="col-sm-6 structure-tbl-body height-300">
            <div class="row">
              <div class="bg-color">
                <h4 class="mar-left-40">Current Values
                  <span class="pull-right">
                    <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" class="option-position">
                      <button mat-menu-item class="edit-color" (click)="openDialog()">Edit</button>
                    </mat-menu>
                  </span>
                </h4>
              </div>
            </div>
            <div *ngIf="StructureValues">
              <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">

                <li class="list-items-values">
                {{values.name}}
                </li>
            
              </ul>

            </div>
            <div *ngIf="customValues">
                <ul class="list-unstyled structure-list" *ngFor="let values of customValues">
  
                  <li class="list-items-values">
                  {{values.name}}
                  </li>
              
                </ul>
  
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="buttons">
  <ul class="list-unstyled">
   
    <li class="list-items pull-right">
      <button class='save' type="submit" (click)="saveandNext()">
        Save Changes
      </button>
    </li>

    <div class="clearfix"></div>
  </ul>
</div>