<div class="leave-management">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <img src="../../../assets/images/leave-management/leave.png" width="23" height="24" alt="Company-settings icon">
      <span>Leave Management</span>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="leave-dashboard col-md-11">

    <ul>
      <li class="col-md-6 time-policies">
        <a routerLink="/admin/admin-dashboard/leave-management/time-policies">
          <img src="../../../assets/images/leave-management/timeOff.png" alt="img">
          <h2>Time Off Policies</h2>
          <small>Add or manage time off policies</small>
        </a>
        
      </li>

      <li class="col-md-6 no-bor">
          <a routerLink="/admin/admin-dashboard/leave-management/time-sheet">
        <img src="../../../assets/images/leave-management/timesheet.png" width="49" height="49" alt="img">
        <h2>Time Sheet Approval and Maintenance</h2>
        <small>Access employee timesheets</small>

          <div class="integrate col-md-5">
              <span class="pull-left">
                <i aria-hidden="true" class="fa fa-check-square"></i>
                <p>48</p>
              </span>
              <span class="pull-left">
              <var> <i aria-hidden="true" class="fa fa-exclamation-triangle"></i></var>
                  <em>02</em>
              </span>
              <div class="clearfix"></div>

              <a class="btn">integrate</a>
          </div>

        </a>
      </li>
    </ul>

    <ul class="no-bor">
      <li class="col-md-6 time-schedule">
          <a routerLink="/admin/admin-dashboard/leave-management/scheduler/holidays">
        <img src="../../../assets/images/leave-management/schedulers.png" width="49" height="49" alt="img">
        <h2>Scheduler</h2>
        <small>Build or manage schedules <br> for your employees</small>
        
        </a>
      </li>

      <li class="col-md-6 no-bor">
          <a routerLink="/admin/admin-dashboard/leave-management/leave-main/eligibility">
        <img src="../../../assets/images/leave-management/leavegroups.png" width="62" height="50" alt="img">
        <h2>Leave Eligibility Groups</h2>
        <small>Set Leave Management Eligibility Rules</small>
        </a>
      </li>

    </ul>

    <div class="clearfix"></div>

  </div>


  <div class="leave-dashboard-report col-md-11">

    <div class="work">
      <h2>Today's Report</h2>
    </div>


    <div class="employee-report-in">

      <div class="employee-report-top">

        <div class="employee-report-lft pull-left col-md-9">

          <ul>
            <li class="col-md-3">
              <label>Location</label>
              <select>
                <option>All</option>
                <option>All1</option>
                <option>All2</option>
              </select>
              <div class="clearfix"></div>
            </li>

            <li class="col-md-4">
              <label>Department</label>
              <select>
                <option>All</option>
                <option>All1</option>
                <option>All2</option>
              </select>
              <div class="clearfix"></div>
            </li>
            <li class="col-md-3">
              <label>Shift</label>
              <select>
                <option>All</option>
                <option>All1</option>
                <option>All2</option>
              </select>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="employee-report-rgt pull-right col-md-3">
          <ul>

            <li class="col-md-4">
              <select>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
              </select>
            </li>

            <li class="col-md-4">
              <select>
                <option>June</option>
                <option>April</option>
                <option>March</option>
              </select>
            </li>

          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

      </div>


      <div class="employee-self">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">

            <div class="item active">
              <div class="employee-data">
                <ul>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon1.png" width="29" height="29" alt="img">
                    <h4>Early Birds</h4>
                    <h2>245</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon2.png" width="25" height="29" alt="img">
                    <h4>Late Arrivals</h4>
                    <h2>213</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon3.png" width="44" height="29" alt="img">
                    <h4>EEs Missing Time Punches</h4>
                    <h2>65</h2>
                  </li>

                </ul>
              </div>


            </div>

            <div class="item">
              <div class="employee-data">
                <ul>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon1.png" width="29" height="29" alt="img">
                    <h4>Early Birds</h4>
                    <h2>245</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon2.png" width="25" height="29" alt="img">
                    <h4>Late Arrivals</h4>
                    <h2>213</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon3.png" width="44" height="29" alt="img">
                    <h4>EEs Missing Time Punches</h4>
                    <h2>65</h2>
                  </li>

                </ul>
              </div>


            </div>

            <div class="item">
              <div class="employee-data">
                <ul>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon1.png" width="29" height="29" alt="img">
                    <h4>Early Birds</h4>
                    <h2>245</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon2.png" width="25" height="29" alt="img">
                    <h4>Late Arrivals</h4>
                    <h2>213</h2>
                  </li>
                  <li class="col-md-4">
                    <img src="../../../assets/images/leave-management/icon3.png" width="44" height="29" alt="img">
                    <h4>EEs Missing Time Punches</h4>
                    <h2>65</h2>
                  </li>

                </ul>
              </div>


            </div>


          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-chevron-left fa-2x"></i>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-chevron-right fa-2x"></i>
          </a>

        </div>
      </div>


    </div>


  </div>




</div>