.leave-management { display: block;}
.zenwork-currentpage {
    padding-top: 40px;
}
.zenwork-margin-zero { padding: 0 0 7px;}

.zenwork-margin-zero span { display: inline-block; vertical-align: middle; padding: 0 0 0 20px; font-size: 17px; line-height: 17px;}
.zenwork-margin-zero b { display: inline-block; font-weight:500; line-height: 20px; color: #656565;}


.leave-dashboard { background:#fff; border-radius:5px; box-shadow: 0 0 10px #ccc; float: none; margin:50px auto 100px; padding: 0 35px; text-align: center;}

.leave-dashboard ul { display:inline-block; border-bottom:#ccc 1px solid; width: 100%; padding:50px 0; margin: 0;}
.leave-dashboard ul li { padding: 40px 0 0; position: relative;}
.leave-dashboard ul li a { display: inline-block; cursor: pointer;}
.leave-dashboard ul li a img { margin: 0 0 20px;}
.leave-dashboard ul li a h2 { margin: 0 0 10px; font-size: 20px; line-height: 20px; color:#403e3e; font-weight: normal; }
.leave-dashboard ul li a small {font-size:14px; line-height:16px; color:#656565; font-weight: normal;}

.leave-dashboard ul li.time-policies { position: relative; padding:70px 0 0;}
.time-policies::after { content:''; position: absolute; top:50px; right: 0;border-right:#ccc 1px solid; height:100%;}
.time-schedule { border-right:#ccc 1px solid;}

.leave-dashboard-report { display:block;margin: 0 auto 40px; float: none; padding: 0;}

.work{margin: 0 0 20px;}
.work h2 {font-size: 18px; line-height: 18px; font-weight: normal; color:#7b7b7b; margin: 0;}


.employee-report-in { display: block;}
.employee-report-top {background: #eef7ff; padding: 10px 20px;}

.employee-report-lft {padding: 0;}
.employee-report-lft ul { display: block;}
.employee-report-lft ul li { float: left; margin: 0 15px 0 0; padding: 0;}
.employee-report-lft ul li label { padding:10px 15px 0 0; color:#777777; font-weight: normal; font-size: 15px; line-height: 15px; float: left;}
.employee-report-lft ul li select {background: #fff;border: none;width:56%;height: 34px;color: #948e8e;padding:0 0 0 6px; float: left;}

.employee-report-rgt { padding: 0; text-align: right;}
.employee-report-rgt ul { display: block;}
.employee-report-rgt ul li { float: right; margin: 0 0 0 10px; padding: 0;}
.employee-report-rgt ul li select {background: #fff;border: none;width: 100%;height: 34px;color: #948e8e;padding: 6px 10px;}

.employee-self { background:#fff; padding: 30px 0;}

.employee-data { display: block;}
.employee-data ul { display: block;}
.employee-data ul li { float: left; text-align: center;}
.employee-data ul li img { margin: 0 auto 20px;}
.employee-data ul li h4 { font-size: 18px; line-height: 18px; color:#5f5e5e; margin: 0 0 20px;}
.employee-data ul li small { font-size: 13px; line-height: 13px; color:#c7c7c7;padding: 0 0 15px; display: block;}
.employee-data ul li h2 { color:#bdb5b5; margin: 0 ; font-size: 30px; font-weight: normal;}
.employee-data ul li a.btn { border:#a5a5a5 1px solid; border-radius: 20px; color:#525252; padding:8px 24px; font-size: 14px; border-radius:4px; text-transform: capitalize;}
.employee-data ul li a.btn:hover { background: #008f3d; color:#fff; border: transparent 1px solid;}


.employee-self .carousel-control.right {
	left:auto;
	right:40px; top: 40%;
}
.employee-self .carousel-control.left {
	right:auto;
	left:30px; top: 40%;
}

.employee-self .fa-2x {
    font-size:30px; color: #008f3d;
}
.employee-self .fa-2x:hover {color: #d9534f;}
.employee-self .carousel-inner { width: 90%; margin:0 auto;}
.employee-self .carousel-control { opacity: 1; box-shadow: none; text-shadow: none; width: auto;}

.integrate { float: none; margin:10px auto 0; padding: 0;}
.integrate span { width: 70px; padding: 0 0 10px;}
.integrate span .fa { font-size: 20px; color:#008f3d;}
.integrate span var .fa { font-size: 20px; color:#e43d3c;}
.integrate p { display: block; color:#008f3d; font-size: 14px; line-height: 14px;}
.integrate em { display: block; color:#e43d3c; font-size: 14px; line-height: 14px; font-style: normal;}
.integrate a.btn { display: block; color:#fff; font-size: 14px; line-height: 14px; background:#797d7a; text-transform: uppercase; padding: 11px 24px 10px;
font-weight: 600;}