a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.nav-tabs > li {
    padding: 1px 8px;
}
.main-navbar{
    margin: 20px auto; float: none; padding: 0;
}
.onboarding-tabs li a{
    padding: 0px 10px 10px;font-size: 18px;
}
.nav-tabs>li>a{
    border: none;
}
.nav>li>a:hover{
    background: transparent;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    border-radius: 0px!important;
    color: #353131!important;
    /* font-size: 16px; */
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    /* border: 1px solid transparent!important; */
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
    
}
.settings-dropdown-list > li >a:hover{
    background-color: #008f3d !important;
    color: #fff !important;
    border-bottom: none;
}
.settings-dropdown-list > li >a{
    font-size: 14px;
    padding:6px 10px; cursor: pointer;
}

.settings-dropdown,.settings-dropdown:hover,.settings-dropdown:active{
    border: none;
    background: #f8f8f8 !important;
    padding: 0px;
}
.open>.dropdown-menu{
    left: -66px !important;
    min-width: 145px;
    top: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}
.more{
    font-size: 18px !important;
    color:#008f3d !important;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}