<div class="main-navbar col-md-11">
  <ul class="nav nav-tabs onboarding-tabs">

      <li *ngIf="showTabs.Personal.hide" routerLink="./personal" routerLinkActive="active"><a routerLink="./personal"
          routerLinkActive="active">Personal</a></li>
        
      <li *ngIf="showTabs.Job.hide && jobTab" routerLink="./job"
        routerLinkActive="active"><a routerLink="./job">Job</a></li>
      <li *ngIf="showTabs.Time_Off.hide && timeSchedule" routerLink="./time-schedule" routerLinkActive="active"><a
          routerLink="./time-schedule">Time Schedule</a></li>
      <li *ngIf="showTabs.Emergency_Contact.hide && emergencyContact" routerLink="./emergency" routerLinkActive="active"><a
          routerLink="./emergency">Emergency Contact</a></li>
      <li *ngIf="showTabs.Performance.hide" routerLink="./performance" routerLinkActive="active"><a
          routerLink="./performance">Performance</a></li>
      <li *ngIf="showTabs.Compensation.hide && compensation" routerLink="./compensation" routerLinkActive="active"><a
          routerLink="./compensation">Compensation</a></li>
      <li *ngIf="showTabs.Notes.hide && notes" routerLink="./notes" routerLinkActive="active"><a routerLink="./notes">Notes</a>
      </li>
      <li *ngIf="showTabs.Benefits.hide && benifits" routerLink="./benefits" routerLinkActive="active"><a
          routerLink="./benefits">Benefits</a></li>
      <li *ngIf="showTabs.Training.hide && training" routerLink="./training" routerLinkActive="active"><a
          routerLink="./training">Training</a></li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle settings-dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <a class="more"> More</a>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu settings-dropdown-list">
            <li><a *ngIf="showTabs.Documents.hide && documents" routerLink="./documents">Documents</a></li>
            <li><a *ngIf="showTabs.Assets.hide && assets" routerLink="./assets">Assets</a></li>
            <li><a *ngIf="showTabs.Onboarding.hide && onBoarding" routerLink="./onboardingtab">Onboarding</a></li>
            <li><a *ngIf="showTabs.Offboarding.hide && offBoarding" routerLink="./offboardingtab">Offboarding</a></li>
            <li><a *ngIf="showTabs.Personal.hide && custom" routerLink="./custom">Custom</a></li>
            <li><a *ngIf="showTabs.Personal.hide && auditTrial" routerLink="./audit-trail">Audit Trail</a></li>
            <!-- <li><a *ngIf = "showTabs.Personal.hide" >Rearrange Fields</a></li> -->
          </ul>
        </div>
      </li>

  </ul>
</div>

<router-outlet></router-outlet>