.directory-settings-heading{
    padding: 5px 0 15px 15px;
    border-bottom: 1px solid #ccc;
}
.table-outer{
    border-bottom: 1px solid #ccc;
}

.reports-table { display: block; width: 60%;}
.reports-table .table { margin-bottom: 30px;}
.reports-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 13px; background: #eef7ff; border-bottom:none; width:20%;}
.reports-table .table>tbody>tr>td, .reports-table .table>tfoot>tr>td, .reports-table .table>thead>tr>td{ padding: 13px; background:#fff;border-top: none;}
.bottom-border { width: 100%;border-top:1px solid #ccc;}
.reports-table tr.bottom-border td{ border-bottom: none;}
.reports-table .table>tbody>tr>td{background: #f8f8f8;border-bottom:1px solid #ccc;}

.employees-details{
    border-top:1px solid #eeeeee;
}
.margin-top{
    margin-top:40px;
}
.margin-top-15{
    margin-top:15px;
}
.name-employee{
    top:14px;
    font-size: 14px;
}
.name-employee a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.angle{
    font-size: 9px;
}
.name{

}
.name b{
    color:#616161;
    cursor: pointer;
}
.list-details{
    font-size: 12px;
    color: #a4a7a9;
    line-height: 20px;
}
.list-personal{
    margin-top: 26px;
    font-size: 12px;
    line-height: 18px;
    color: #a4a7a9;
}
.list-personal li{
    line-height: 20px;
}
.list-profile{
    margin-left:40px;
    line-height: 18px;
}
.emp-info{
    margin-left: 10px;
}
.img-emp-info{
    width:12px;
}
.img-emp-info-mobile{
    width:9px;
}
.margin-left{
    margin-left:10px;
}

.accordion-toggle{
    color: #000;
    padding: 0 0 0 15px
}
.employee-individual-dropdown{
    padding: 20px 0;
    background: #f8f8f8;
}
.preview{
   border-bottom: 1px solid #ccc; 
}

.buttons{
    margin: 20px 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    cursor: pointer;
}
.buttons ul li .save{

    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background: green;
    /* cursor: pointer; */
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}
.emp-img{
    margin: 0 auto !important;
    display: block !important;
}