<div class="directory-settings-main">
  <div class="directory-settings-heading">
    <h4>Directory Settings</h4>
  </div>
  <div class="table-outer">
    <div class="panel-body reports-table">
      <table class="table">
        <thead>
          <tr>

            <th>Field Name</th>

            <th>Display</th>
          </tr>
        </thead>
        <tbody>

          <tr>

            <td>Photo</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.photo">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>


          <tr>

            <td>Name</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.name">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>
          <tr>

            <td>Job Title</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.job_title">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>


          <tr>

            <td>Location</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.location">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>

          <tr>

            <td>Email</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.email">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>

          <tr>

            <td>Work Phone</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.work_phone">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>





          </tr>
          <tr>
            <td>Cell Phone</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.cell_phone">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>


          </tr>

          <tr>

            <td>Department</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.department">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>
          <tr>

            <td>Business Unit</td>
            <td>
              <mat-select placeholder="Yes/No" [(ngModel)]="directorySettings.settings.business_unit">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
            </td>

          </tr>


      </table>
    </div>
  </div>
  <div class="preview">
    <div class="field-accordion" style="padding:20px 0 0 0;">
      <div class="panel-group" id="employee">


        <a class="accordion-toggle" data-toggle="collapse" data-parent="#formats" href="#emp">
          Preview
        </a>

        <div id="emp" class="panel-collapse collapse in">
          <div class="panel-body ">
            <div class="employees-details">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">

                    <span>
                      Employee's Details &nbsp;
                    </span>
                  </h4>
                </div>
              </div>
              <div>
                <div class="col-xs-12 individual-employee">
                  <div class="col-xs-1">
                    <div class="row">

                      <!-- <img src="../../../assets/images/Directory/empoyee_-1.png"> -->

                    </div>
                  </div>

                </div>
                <div class="col-xs-12 employee-individual-dropdown individual-employee">
                  <div class='row'>
                    <a href="javascript:void(0);">

                      <div *ngIf="directorySettings.settings.photo" class="col-xs-2 ">
                        <div class="row">
                          <img class="emp-img" src="../../../assets/images/Directory/empoyee_2.png">
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row">
                          <ul class="list-unstyled list-profile">
                            <li class="name">
                              <a>
                                <b *ngIf="directorySettings.settings.name">Name

                                </b>
                              </a>
                            </li>
                            <li *ngIf="directorySettings.settings.job_title" class="list-details">Job Title</li>
                            <li *ngIf="directorySettings.settings.location" class="list-details">Location</li>
                            <li *ngIf="directorySettings.settings.business_unit" class="list-details">Bussiness Unit</li>
                            <!-- <li class="linked-in symbol">
                                <img src="../../../assets/images/Directory/layer1_1_.png">
                            </li> -->
                          </ul>
                          <!-- <img src="../../../assets/images/Directory/layer1_1_.png" class="list-profile"> -->
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="row">
                          <ul class="list-personal list-unstyled">
                            <li *ngIf="directorySettings.settings.email" class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_email_24px.png" class="img-emp-info">
                              <span class="emp-info">Work Email</span>
                            </li>
                            <li *ngIf="directorySettings.settings.work_phone" class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_domain_24px1.png" class="img-emp-info">
                              <span class="emp-info">Work Phone</span>
                            </li>
                            <li *ngIf="directorySettings.settings.cell_phone" class="list-emp-detail">
                              <img src="../../../assets/images/Directory/Group 504.png" class="img-emp-info-mobile">
                              <span class="emp-info">&nbsp;Cell Phone</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="buttons">
    <ul class="list-unstyled">

      <li class="list-items">
        <a class="cancel" (click)="cancel()">Cancel</a>
      </li>
      <li class="list-items pull-right">
        <button class='save' type="submit" (click)="sendSettings()">
          Submit
        </button>
      </li>

      <div class="clearfix"></div>
    </ul>
  </div>