<div class=time-policies>

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
      <small>
        <img src="../../../../assets/images/leave-management/time.png" width="24" height="24"
          alt="Company-settings icon">
      </small>
      <em>Time Off Policies</em>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="time-policies-in col-md-11">


    <div class="policies-accordion">

      <div class="panel-group" id="accordion1">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                Policies
              </a>
            </h4>


            <div class="new-policy">
              <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Import Balances</a>
            </div>


          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">


              <div class="policies-table">

                <table class="table">
                  <thead>
                    <tr>
                      <th>
                      </th>
                      <th>Policy Name</th>
                      <th>Employee Groups</th>
                      <th>Effective Date</th>
                      <th>Employee list</th>

                      <th>

                        <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                        <mat-menu #menu="matMenu" class="option-position">
                          <button mat-menu-item class="edit-color">
                            <a (click)="addTimePolicy()" >Add</a>
                            <a data-toggle="modal" data-target="#myModal1" #openEdit></a>
                          </button>
                          <button mat-menu-item class="edit-color">
                            <a (click)="editTimePolicy()" >Edit</a>
                            <a data-toggle="modal" data-target="#myModal1" #openEdit></a>
                          </button>
                          <button mat-menu-item class="edit-color">Copy</button>
                          <button mat-menu-item class="edit-color" (click)="deleteTimeOffPolicy()">Delete</button>
                        </mat-menu>
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let policy of getAllPolicies">
                      <td [ngClass]="{'zenwork-checked-border': policy.isChecked}">
                        <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="policy.isChecked">
                      
                        </mat-checkbox>
                      </td>
                      <td>{{policy.policytype}}</td>
                      <td><span *ngFor="let p of policy.leave_eligibility_group">
                        {{p.name}},
                      </span></td>
                      <td>{{policy.policy_effective_date | date: 'MM/dd/yyyy'}}</td>
                      <td>
                        {{policy.employee_count}} 
                        
                        <span><img src="../../../../assets/images/leave-management/excel.png" width="25"
                            height="23" alt="img"></span></td>
                      <td></td>

                    </tr>
                </table>

              </div>


            </div>
          </div>

        </div>

      </div>

    </div>


  </div>



  <div class="import-balance-popup">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Import Balances</h4>
          </div>

          <div class="modal-body">

            <div class="import-cont col-md-10">

              <div class="import-cont-lft pull-left col-md-3">
                <label>Select Policy Name</label>

                <mat-select class="form-control text-field" [(ngModel)]="timePolicy.policytype" placeholder="Policy Name">
                  <mat-option *ngFor="let policy of allPolicies" [value]="policy.name">{{policy.name}}</mat-option>
              
                </mat-select>

              </div>

              <div class="import-cont-rgt pull-right">
              
                  <input type="file" id="fileUpload" (change)="fileChangeEvent($event)">
                  <label for="fileUpload">
                    <a style="cursor: pointer;"><img src="../../../../assets/images/leave-management/excel.png" width="25" height="23"
                      alt="img">
                    <small>Import Template</small></a>
                      
                    </label>
              </div>
              <div class="clearfix"></div>


            </div>
            <div class="col-md-12 border-top">
              <div class="col-md-12">

                <button mat-button data-dismiss="modal">Cancel</button>

                <button mat-button class="submit-btn pull-right" (click)="uploadImportBalance()">Submit</button>
              </div>


            </div>

            <div class="clearfix"></div>

          </div>


        </div>

      </div>
    </div>

  </div>


  <div class="time-policy-popup">

    <!-- Modal -->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Add / Edit Policy </h4>
          </div>

          <div class="modal-body">

            <div class="time-policy">

              <div class="wizard-lft col-md-3">

                <ul class="nav nav-tabs tabs-left">
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab1' }">
                    <a href="#tab1" data-toggle="tab" #policy_type (click)="onPolicy('tab1')">Policy Type
                      <small><i class="fa fa-caret-right" aria-hidden="true"></i></small>
                      </a></li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab2' }">
                    <a href="#tab2" data-toggle="tab" #time_earned (click)="onPolicy('tab2')">How is Time Earned?
                        <small><i class="fa fa-caret-right" aria-hidden="true"></i></small>
                    </a></li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab3' }">
                    <a href="#tab3" data-toggle="tab" #recap (click)="onPolicy('tab3')">Recap
                        <small><i class="fa fa-caret-right" aria-hidden="true"></i></small>
                      </a></li>
                    </ul>

              </div>

              <div class="time-policy-cont col-md-9">

                <div class="tab-content">

                  <div class="tab-pane" id="tab1" [ngClass]="{'active':selectedNav === 'tab1','in':selectedNav==='tab1'}">

                    <div class="time-policy-type col-md-11">
                      <h4>Select Policy Type</h4>
                      <div class="policy-check">

                        <ul>

                          <li class="list-width">
                            <mat-select class="form-control text-field" [(ngModel)]="timePolicy.policytype" placeholder="Policy type">
                              <mat-option *ngFor="let policy of allPolicies" [value]="policy.name">{{policy.name}}</mat-option>
                          
                            </mat-select>
                          </li>

                          <li class="list-width" style="margin-top:-30px;">
                            <label>Policy Effective Date</label>
                            
                            <div class="date">
                              <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy" [(ngModel)]="timePolicy.policy_effective_date"
                                class="form-control">
                              <mat-datepicker #picker></mat-datepicker>
                              <button mat-raised-button (click)="picker.open()" class="text-field">
                                <span>
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                          </li>

                        </ul>
                        <div class="clearfix"></div>


                      </div>


                      <div class="policy-check work-flow benefits">

                        <h4>Select Leave Eligibility Groups</h4>

                        <div class="select">
                          <div class="checkbox">
                            <input id="checkbox10" type="checkbox" [(ngModel)]="timePolicy.selectall_eligibilitygroup" (change)="selectAll($event)">
                            <label for="checkbox10">Select All / Deselect All</label>
                          </div>
                        </div>

                        <div class="clearfix"></div>

                        <ul>

                          <li *ngFor="let group of leaveEligibilityGroups" style="margin-top: 10px;">
                              <mat-checkbox [(ngModel)]="group.isChecked" (change)="selecEligibilityGroup(group.isChecked)">{{group.name}}</mat-checkbox>
                      
                          </li>

                        </ul>
                        <div class="clearfix"></div>


                      </div>
                      <h4 class="mar-head">Employee Policy Effective Date</h4>
                      <div class="policy-date col-md-11">

                        <h5>When does the policy apply to an Employee</h5>

                        <div class="policy-check" style="background: #eef7ff;">

                          <div class="policy-lft col-md-6">
                            <h6>New Hire Policy Waiting Period</h6>

                            <div class="policy-lft-in col-md-10">

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox20" type="checkbox" [(ngModel)]="timePolicy.dateOfHire" (ngModelChange)="dateOfHire(timePolicy.dateOfHire, 'DateOfHire')" [disabled]="disableDateOfHire">
                                  <label for="checkbox20">Date of hire</label>
                                </div>
                              </div>

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox21" type="checkbox" [(ngModel)]="timePolicy.firstMonth" (ngModelChange)="dateOfHire(timePolicy.firstMonth,'FirstMonth')" [disabled]="disablefirstMonth">
                                  <label for="checkbox21">First of month..</label>
                                </div>
                              </div>

                              <div class="following-hire">
                                <div class="policy-select">
                                  <div class="checkbox">
                                    <input id="checkbox22" type="checkbox" [(ngModel)]="timePolicy.followingDOH" [disabled]="disableFollowingDOH">
                                    <label for="checkbox22">Following data of hire.</label>
                                  </div>
                                </div>

                                <div class="policy-select after-select pull-left">
                                  <div class="checkbox">
                                    <input id="checkbox23" type="checkbox" [(ngModel)]="timePolicy.after" [disabled]="disableAfter">
                                    <label for="checkbox23">after</label>
                                  </div>
                                </div>

                                <input type="text" class="form-control pull-left" [(ngModel)]="timePolicy.afterDays" [readOnly]="disableAfterDays">
                                <mat-select class="pull-left policy-drop policy-drop1" [(ngModel)]="timePolicy.timerBased" [disabled]="disableTimerBased">
                                    <mat-option value="Days">Days</mat-option>
                                    <mat-option value="Months">Months</mat-option>
                                    <mat-option value="Weeks">Weeks</mat-option>
                                  </mat-select>

                                <div class="clearfix"></div>
                              </div>

                              <small>Following date of hire.</small>

                              <div class="policy-select after-select pull-left">
                                <div class="checkbox">
                                  <input id="checkbox25" type="checkbox" [(ngModel)]="timePolicy.selectDays" (ngModelChange)="dateOfHire(timePolicy.selectDays,'SelectDays')" [disabled]="disableSelectDays">
                                  <label for="checkbox25"></label>
                                </div>
                              </div>

                              <input type="text" class="form-control pull-left" [(ngModel)]="timePolicy.days" [readOnly]="disableDays">
                              <mat-select class="pull-left policy-drop policy-drop1" [(ngModel)]="timePolicy.timerDays" [disabled]="disableTimerDays">
                                  <mat-option value="Days">Days</mat-option>
                                  <mat-option value="Months">Months</mat-option>
                                  <mat-option value="Weeks">Weeks</mat-option>
                                </mat-select>

                              

                              <div class="clearfix"></div>

                              <span>Following date of hire.</span>

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox26" type="checkbox" [(ngModel)]="timePolicy.others" [disabled]="disableOther" (ngModelChange)="dateOfHire(timePolicy.others,'Other')">
                                  <label for="checkbox26">Other (Determind at the employee level)</label>
                                </div>
                              </div>

                            </div>


                          </div>

                          <!-- <div class="policy-lft no-bor col-md-6">
                            <h6>Life Event Policy Waiting Period</h6>

                            <div class="policy-lft-in col-md-10">

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox30" type="checkbox" [(ngModel)]="lifeEvent.dateOfHire">
                                  <label for="checkbox30">Date of event</label>
                                </div>
                              </div>

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox31" type="checkbox" [(ngModel)]="lifeEvent.firstMonth">
                                  <label for="checkbox31">First of month..</label>
                                </div>
                              </div>

                              <div class="following-hire col-md-10">
                                <div class="policy-select">
                                  <div class="checkbox">
                                    <input id="checkbox32" type="checkbox" [(ngModel)]="lifeEvent.followingDOH">
                                    <label for="checkbox32">Following data of event.</label>
                                  </div>
                                </div>

                                <div class="policy-select after-select pull-left">
                                  <div class="checkbox">
                                    <input id="checkbox33" type="checkbox" [(ngModel)]="lifeEvent.after">
                                    <label for="checkbox33">after</label>
                                  </div>
                                </div>

                                <input type="text" class="form-control pull-left" [(ngModel)]="lifeEvent.afterDays">
                                <select class="pull-right policy-drop" [(ngModel)]="lifeEvent.timerBased">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>

                                <div class="clearfix"></div>
                              </div>

                              <small>Following data of event.</small>

                              <div class="policy-select after-select pull-left">
                                <div class="checkbox">
                                  <input id="checkbox34" type="checkbox" [(ngModel)]="lifeEvent.selectDays">
                                  <label for="checkbox34"></label>
                                </div>
                              </div>

                              <input type="text" class="form-control pull-left" [(ngModel)]="lifeEvent.days">
                              <select class="pull-left policy-drop policy-drop1" [(ngModel)]="lifeEvent.timerDays">
                                <option value="Days">Days</option>
                                <option value="Months">Months</option>
                                <option value="Weeks">Weeks</option>
                              </select>

                              <span class="pull-right">Following data of hire.</span>

                              <div class="clearfix"></div>

                              <div class="policy-select">
                                <div class="checkbox">
                                  <input id="checkbox35" type="checkbox" [(ngModel)]="lifeEvent.others">
                                  <label for="checkbox35">Other (Determind at the employee level)</label>
                                </div>
                              </div>

                            </div>


                          </div>  -->
                          <div class="clearfix"></div>
                        </div>

                        <div class="employee-usage policy-check">

                          <h4 class="mar-head">Employee Usage</h4>

                          <label>When can Employee Begin Using the Policy?</label>

                          <mat-select placeholder="Number of Days" class="pull-left" [(ngModel)]="timePolicy.policyterm" (ngModelChange)="selectEmployeeUsage($event)">
                            <mat-option value="Immediately">Immediately</mat-option>
                            <mat-option value="Number of Days">Number of Days</mat-option>
                            <mat-option value="Number of Months">Number of Months</mat-option>
                          </mat-select>
                          <span *ngIf="showField">
                            <input type="text" placeholder="" class="form-control pull-left" [(ngModel)]="timePolicy.policytermdays">

                          </span>
                          <div class="clearfix"></div>

                        </div>

                      </div>

                      <div class="row" style="margin:30px 0px;">

                        <button mat-button data-dismiss="modal">Cancel</button>
                        
                       <button  mat-button class="submit-btn pull-right" (click)="clickPolicyType()">Proceed</button>
                        
                        
                      </div>
                      <div class="clearfix"></div>

                    </div>

                  </div>

                  <div class="tab-pane" id="tab2" [ngClass]="{'active':selectedNav === 'tab2','in':selectedNav==='tab2'}">
                    <div class="time-policy-type col-md-11">
                      <label>How is Time Earned?</label>
                      <div class="margin-btm">

                        <mat-select class="form-control text-field list-width" [(ngModel)]="timePolicy.timeearned">
                          <mat-option *ngFor="let time of allTimeEarned" [value]="time.name">{{time.name}}</mat-option>
                
                        </mat-select>

                        <div>
                          <ul class="list-unstyled list-inline time-bg">
                            <li class="list-width-time">
                              <label>Pay Period Frequency</label>
                              <mat-select class="form-control text-field1" [(ngModel)]="timePolicy.pay_period_freq" placeholder="Period frequency">
                                  <mat-option value="Weekly">Weekly</mat-option>
                                  <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                                  <mat-option value="Semi-Monthly">Semi-Monthly</mat-option>
                                  <mat-option value="Monthly">Monthly</mat-option>
                              </mat-select>
                            </li>
                            <li class="list-width-time">
                              <label>Day of Week</label>
                              <mat-select class="form-control text-field1" [(ngModel)]="timePolicy.dayofweek" placeholder="Day of Week">
                                <mat-option value="Monday">Monday</mat-option>
                                <mat-option value="Tuesday">Tuesday</mat-option>
                                <mat-option value="Wednesday">Wednesday</mat-option>
                                <mat-option value="Thursday">Thursday</mat-option>
                                <mat-option value="Friday">Friday</mat-option>
                                <mat-option value="Saturday">Saturday</mat-option>
                                <mat-option value="Sunday">Sunday</mat-option>
                             
                              </mat-select>
                            </li>
                            <li class="list-width-time">
                              <label>Date of Month</label>
                              <mat-select class="form-control text-field1" [(ngModel)]="timePolicy.dateofMonth" placeholder="Date of Month">
                                <mat-option value="First Day of Month">First Day of Month</mat-option>                         
                                <mat-option value="Last Day of Month">Last Day of Month</mat-option>
                              </mat-select>
                            </li>
                            <li class="list-width-time">
                              <label>Day of Month</label>
                              <mat-select class="form-control text-field1" [(ngModel)]="timePolicy.dayofmonth" placeholder="Day of Month">
                                <mat-option value="First Day of Month">First Day of Month</mat-option>                         
                                <mat-option value="Last Day of Month">Last Day of Month</mat-option>
                              </mat-select>
                            </li>
                          </ul>
                        </div>
                        <p class="para-policy"> <u>{{timePolicy.policytype}}</u>  Time is Earned <u>{{timePolicy.timeearned}} {{timePolicy.pay_period_freq}}</u>  on the <u>{{timePolicy.dateofMonth}}</u>  and <u>{{timePolicy.dayofmonth}}</u>  </p>
                      </div>
                      <div class="margin-btm">
                        <div>
                            <h5 class="tier-head">Tier Levels</h5>
                            <label>User tier levels based on Years of Service</label><br>
                            
                            <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.yearsofservices" (ngModelChange)="selectTierLevel($event)">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                              </mat-select>
                        </div>
                        <div *ngIf = "showField1">
                            <h5 class="tier-head">Tier Level Accrual Details</h5>
                            <div class="policies-table">
                                <div class="recap-table">
                                <table class="table" style="margin-bottom:0px;">
                                  <thead>
                                    <tr>
                                      <th>
                                     
                                      </th>
                                      <th>Tier Level</th>
                                      <th>Length of Service</th>
                                      <th>Hours Earned Max</th>
                                      <th>Hours Earned Rate</th>
                                      <th>Carry over allowed?</th>
                                      <th>Carry over max?</th>
                                     
                
                                      <th>
                
                                        <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                                        <mat-menu #menu1="matMenu" class="option-position">
                                          <button mat-menu-item class="edit-color"(click)="tierLevelModel()">Add</button>
                                          <button mat-menu-item class="edit-color"(click)="EditTierLevelModel()">Edit</button>
                                          <button mat-menu-item class="edit-color" (click)="deleteTierLevels()">Delete</button>
                                        </mat-menu>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                
                                    <tr *ngFor="let tiers of allTierLevels; let i=index;">
                                      <td [ngClass]="{'zenwork-checked-border': tiers.isChecked}">

                                              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="tiers.isChecked" (change)="checkedTierLevels($event, tiers._id)">
                                
                                              </mat-checkbox>               
                                      </td>
                                      <td>Level {{i+1}}</td>
                                      <td>{{tiers.serviceLength.date}}&nbsp;{{tiers.serviceLength.duration}}</td>
                                      <td>{{tiers.hoursEarnedMax}}</td>
                                      <td>{{tiers.hoursEarnedPerCycle}}</td>
                                      <td>{{tiers.carryOverAllowed}}</td>
                                      <td>{{tiers.carryOverMax}}</td>
                                      <td></td>
                
                                    </tr>
    
                                </table>
                                </div>
                
                              </div>
                        </div>

                      </div>
                      <div class="margin-btm row padding-top-btm">
                        <div class="col-xs-3">
                          
                              <label>Allow Negative Balance?</label>
                            
                              <mat-select class="form-control text-field mar-top-20" [(ngModel)]="timePolicy.negativebalance" (ngModelChange)="selectNegativeBalance($event)"
                              placeholder="Allow balance">
                                  <mat-option [value]="true">Yes</mat-option>
                                  <mat-option [value]="false">No</mat-option>
                                </mat-select>
                         </div>
                          <div class="col-xs-4" *ngIf="showField2">
                              <label>Negative Balance Max -(Hours) </label>
                              <input type="text" class="form-control text-field mar-top-20" [(ngModel)]="timePolicy.neg_max_hrs" placeholder="Negative balance">
                          </div>
                        
                      </div>
                      <div class="margin-btm row padding-top-btm">
                          <h5 class="tier-head">Manage Unused Time</h5>
                          <ul class="list-unstyled">
                            <li>
                                <label>Does it expire?</label>
                            
                                <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.expiretime" (ngModelChange)="selectExpire($event)"
                                placeholder="Does it expire">
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                  </mat-select>
                            </li>
                            <li *ngIf="showField3">
                                <label>Expiration Options</label>
                            
                                <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.expireoptions" (ngModelChange)="selectExpireDate($event)"
                                placeholder="Options">
                                    <mat-option value="Expires at the end of the year (12/31)">Expires at the end of the year (12/31)</mat-option>
                                    <mat-option value="Expiration Date">Expiration Date</mat-option>
                                  </mat-select>
                            </li>
                            <li *ngIf="showField3 && showField4" style="width: 25%;">
                              <label>Expiration Date</label>
                              <div class="date">
                                  <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy"
                                    class="form-control" [(ngModel)]="timePolicy.expiredate">
                                  <mat-datepicker #picker1></mat-datepicker>
                                  <button mat-raised-button (click)="picker1.open()" class="text-field">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                </div>
                            </li>

                          </ul>
                        </div>
                        <div class="row" style="margin:30px 0px;">

                            <button mat-button class="pull-left back" (click)="goToPolicy()">Back</button>
                            <button mat-button data-dismiss="modal">Cancel</button>
                          
                            <button mat-button class="submit-btn pull-right" (click)="clickTimeEarnerd()">Proceed</button>
                          
                            
                          </div>
                          <div class="clearfix"></div>
                      

                    </div>
                  </div>


                  <div class="tab-pane" id="tab3" [ngClass]="{'active':selectedNav === 'tab3','in':selectedNav==='tab3'}">

                    <div class="employee-recap col-md-11">

                      <div class="margin-btm">

                        <h5 class="tier-head">Employee Summary</h5>

                      <div class="recap-table">

                        <table class="table">
                          <thead>
                            <tr>
                             
                              <th>Employee Name</th>
                              <th>Employee ID</th>
                              <th>Manager name</th>
                              <th>Department</th>
                              <th>Effective Date</th>
                              <th>Tier Level</th>
                              <th>Policy Type</th>

                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let employee of employeeList">
            
                              <td>{{employee.personal.name.preferredName}}</td>
                              <td>{{employee.job.employeeId}}</td>
                              <td>--</td>
                              <td>{{employee.job.department}}</td>
                              <td>{{employee.personal.effectiveDate | date : 'MM/dd/yyyy'}}</td>
                              <td> -- </td>
                              <td>{{timePolicy.policytype}}</td>

                            </tr>

                        </table>
                        <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                          </mat-paginator>
                      </div>
                    </div>
                    <div class="margin-btm padding-top-btm">
                      <h5 class="tier-head">Policy Setup Summary</h5>
                      <uL>
                          <li class="list-width">
                              <label> Policy Type</label>
                              <mat-select class="form-control text-field" [(ngModel)]="timePolicy.policytype">
                                <mat-option *ngFor="let policy of allPolicies" [value]="policy.name">{{policy.name}}</mat-option>
                            
                              </mat-select>
                            </li>
                      </uL>
                   
                    </div>
                    <div class="margin-btm padding-top-btm">
                        <h4> Leave Eligibility Groups</h4>
                        <div class="policy-check work-flow benefits" style="border-bottom:none;">
                          <div class="select">
                            <div class="checkbox">
                              <input id="checkbox10" type="checkbox" [(ngModel)]="timePolicy.selectall_eligibilitygroup" (change)="selectAll($event)">
                              <label for="checkbox10">Select All / Deselect All</label>
                            </div>
                          </div>
  
                          <div class="clearfix"></div>
                        <ul>
                          
                          <li *ngFor="let group of leaveEligibilityGroups" style="margin-top: 10px;">
                            <mat-checkbox [(ngModel)]="group.isChecked" (change)="selecEligibilityGroup(group.isChecked)">{{group.name}}</mat-checkbox>
                    
                        </li>
                          

                        </ul></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="margin-btm padding-top-btm">

                        <h5 class="tier-head">Employee Policy Effective Date</h5>
                        <div class="policy-date col-md-11">
  
                          <h5>When does the policy apply to an Employee</h5>
  
                          <div class="policy-check" style="background: #eef7ff; border-bottom: none;">
  
                              <div class="policy-lft col-md-6">
                                  <h6>New Hire Policy Waiting Period</h6>
      
                                  <div class="policy-lft-in col-md-10">
      
                                    <div class="policy-select">
                                      <div class="checkbox">
                                        <input id="checkbox20" type="checkbox" [(ngModel)]="timePolicy.dateOfHire" (ngModelChange)="dateOfHire(timePolicy.dateOfHire, 'DateOfHire')" [disabled]="disableDateOfHire">
                                        <label for="checkbox20">Date of hire</label>
                                      </div>
                                    </div>
      
                                    <div class="policy-select">
                                      <div class="checkbox">
                                        <input id="checkbox21" type="checkbox" [(ngModel)]="timePolicy.firstMonth" (ngModelChange)="dateOfHire(timePolicy.firstMonth,'FirstMonth')" [disabled]="disablefirstMonth">
                                        <label for="checkbox21">First of month..</label>
                                      </div>
                                    </div>
      
                                    <div class="following-hire">
                                      <div class="policy-select">
                                        <div class="checkbox">
                                          <input id="checkbox22" type="checkbox" [(ngModel)]="timePolicy.followingDOH" [disabled]="disableFollowingDOH">
                                          <label for="checkbox22">Following data of hire.</label>
                                        </div>
                                      </div>
      
                                      <div class="policy-select after-select pull-left">
                                        <div class="checkbox">
                                          <input id="checkbox23" type="checkbox" [(ngModel)]="timePolicy.after" [disabled]="disableAfter">
                                          <label for="checkbox23">after</label>
                                        </div>
                                      </div>
      
                                      <input type="text" class="form-control pull-left" [(ngModel)]="timePolicy.afterDays" [readOnly]="disableAfterDays">
                                      <mat-select class="pull-left policy-drop policy-drop1" [(ngModel)]="timePolicy.timerBased" [disabled]="disableTimerBased">
                                          <mat-option value="Days">Days</mat-option>
                                          <mat-option value="Months">Months</mat-option>
                                          <mat-option value="Weeks">Weeks</mat-option>
                                        </mat-select>
      
                                      <div class="clearfix"></div>
                                    </div>
      
                                    <small>Following date of hire.</small>
      
                                    <div class="policy-select after-select pull-left">
                                      <div class="checkbox">
                                        <input id="checkbox25" type="checkbox" [(ngModel)]="timePolicy.selectDays" (ngModelChange)="dateOfHire(timePolicy.selectDays,'SelectDays')" [disabled]="disableSelectDays">
                                        <label for="checkbox25"></label>
                                      </div>
                                    </div>
      
                                    <input type="text" class="form-control pull-left" [(ngModel)]="timePolicy.days" [readOnly]="disableDays">
                                    <mat-select class="pull-left policy-drop policy-drop1" [(ngModel)]="timePolicy.timerDays" [disabled]="disableTimerDays">
                                        <mat-option value="Days">Days</mat-option>
                                        <mat-option value="Months">Months</mat-option>
                                        <mat-option value="Weeks">Weeks</mat-option>
                                      </mat-select>
      
                                   
                                    <div class="clearfix"></div>

                                    <span>Following date of hire.</span>
      
                                    <div class="policy-select">
                                      <div class="checkbox">
                                        <input id="checkbox26" type="checkbox" [(ngModel)]="timePolicy.others" [disabled]="disableOther" (ngModelChange)="dateOfHire(timePolicy.others,'Other')">
                                        <label for="checkbox26">Other (Determind at the employee level)</label>
                                      </div>
                                    </div>
      
                                  </div>
      
      
                                </div>
  
                            <!-- <div class="policy-lft no-bor col-md-6">
                              <h6>Life Event Policy Waiting Period</h6>
  
                              <div class="policy-lft-in col-md-10">
  
                                <div class="policy-select">
                                  <div class="checkbox">
                                    <input id="checkbox30" type="checkbox" [(ngModel)]="lifeEvent.dateOfHire">
                                    <label for="checkbox30">Date of event</label>
                                  </div>
                                </div>
  
                                <div class="policy-select">
                                  <div class="checkbox">
                                    <input id="checkbox31" type="checkbox" [(ngModel)]="lifeEvent.firstMonth">
                                    <label for="checkbox31">First of month..</label>
                                  </div>
                                </div>
  
                                <div class="following-hire col-md-10">
                                  <div class="policy-select">
                                    <div class="checkbox">
                                      <input id="checkbox32" type="checkbox" [(ngModel)]="lifeEvent.followingDOH">
                                      <label for="checkbox32">Following data of event.</label>
                                    </div>
                                  </div>
  
                                  <div class="policy-select after-select pull-left">
                                    <div class="checkbox">
                                      <input id="checkbox33" type="checkbox" [(ngModel)]="lifeEvent.after">
                                      <label for="checkbox33">after</label>
                                    </div>
                                  </div>
  
                                  <input type="text" placeholder="25" class="form-control pull-left" [(ngModel)]="lifeEvent.afterDays">
                                  <select class="pull-right policy-drop" [(ngModel)]="lifeEvent.timerBased">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                  </select>
  
                                  <div class="clearfix"></div>
                                </div>
  
                                <small>Following data of event.</small>
  
                                <div class="policy-select after-select pull-left">
                                  <div class="checkbox">
                                    <input id="checkbox34" type="checkbox" [(ngModel)]="lifeEvent.selectDays">
                                    <label for="checkbox34"></label>
                                  </div>
                                </div>
  
                                <input type="text" placeholder="25" class="form-control pull-left" [(ngModel)]="lifeEvent.days">
                                <select class="pull-left policy-drop policy-drop1" [(ngModel)]="lifeEvent.timerDays">
                                  <option value="Days">Days</option>
                                <option value="Months">Months</option>
                                <option value="Weeks">Weeks</option>
                                </select>
  
                                <span class="pull-right">Following data of hire.</span>
  
                                <div class="clearfix"></div>
  
                                <div class="policy-select">
                                  <div class="checkbox">
                                    <input id="checkbox35" type="checkbox" [(ngModel)]="lifeEvent.others">
                                    <label for="checkbox35">Other (Determind at the employee level)</label>
                                  </div>
                                </div>
  
                              </div>
  
  
                            </div> -->
                            <div class="clearfix"></div>
                          </div>
  
                          <div class="employee-usage policy-check" style="border-bottom:none;">
  
                            <h4 class="mar-head">Employee Usage</h4>
  
                            <label>When can Employee Beging Using the Policy?</label>
  
                            <mat-select placeholder="" class="pull-left" [(ngModel)]="timePolicy.policyterm" (ngModelChange)="selectEmployeeUsage($event)">
                              <mat-option value="Immediately">Immediately</mat-option>
                              <mat-option value="Number of Days">Number of Days</mat-option>
                              <mat-option value="Number of Months">Number of Months</mat-option>
                            </mat-select>
                            <span *ngIf="showField">
                              <input type="text"  class="form-control pull-left" [(ngModel)]="timePolicy.policytermdays">

                            </span>
                            <div class="clearfix"></div>
  
                          </div>
  
                        </div>
                      
                      </div>

                      <div class="margin-btm padding-top-btm">
                        <h5 class="tier-head">How is Time Earned?</h5>
                        <p class="para-policy"> <u>{{timePolicy.policytype}}</u>  Time is Earned <u>{{timePolicy.timeearned}} {{timePolicy.pay_period_freq}}</u>  on the <u>{{timePolicy.dateofMonth}}</u>  and <u>{{timePolicy.dayofmonth}}</u>  </p>
                      </div>
                      <div class="margin-btm">
                          <div>
                              <h5 class="tier-head">Tier Levels</h5>
                              <label>User tier levels based on Years of Service</label><br>
                              
                              <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.yearsofservices" (ngModelChange)="selectTierLevel($event)">
                                  <mat-option [value]="true">Yes</mat-option>
                                  <mat-option [value]="false">No</mat-option>
                                </mat-select>
                          </div>
                          <div *ngIf="showField1">
                              <h5 class="tier-head">Tier Level Accrual Details</h5>
                              <div class="policies-table">
                                  <div class="recap-table">
                                  <table class="table" style="margin-bottom:0px;">
                                    <thead>
                                      <tr>
                                      
                                        <th>Tier Level</th>
                                        <th>Length of Service</th>
                                        <th>House Earned Max</th>
                                        <th>House Earned Rate</th>
                                        <th>Carry over allowed?</th>
                                        <th>Carry over max?</th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let tiers of allTierLevels; let i=index;">
              
                                        <td>Level {{i+1}}</td>
                                        <td>{{tiers.serviceLength.date}}&nbsp;{{tiers.serviceLength.duration}}</td>
                                        <td>{{tiers.hoursEarnedMax}}</td>
                                        <td>{{tiers.hoursEarnedPerCycle}}</td>
                                        <td>{{tiers.carryOverAllowed}}</td>
                                        <td>{{tiers.carryOverMax}}</td>

                                      </tr>
                  
                                  </table>
                                  </div>
                  
                                </div>
                          </div>
  
                        </div>
                        <div class="margin-btm row padding-top-btm">
                          <div class="col-xs-3">
                            
                                <label>Allow Negative Balance?</label><br>
                              
                                <mat-select class="form-control text-field mar-top-20" [(ngModel)]="timePolicy.negativebalance" (ngModelChange)="selectNegativeBalance($event)">
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                  </mat-select>
                           </div>
                            <div class="col-xs-3" style="width:28%;" *ngIf="showField2">
                                <label>Negative Balance Max -(Hours) </label><br>
                              
                                <input type="text" class="form-control text-field mar-top-20" [(ngModel)]="timePolicy.neg_max_hrs">
                                </div>
                          
                        </div>
                        <div class="margin-btm row padding-top-btm">
                            <h5 class="tier-head">Manage Unused Time</h5>
                            <ul class="list-unstyled">
                              <li>
                                  <label>Does it expire?</label><br>
                              
                                  <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.expiretime" (ngModelChange)="selectExpire($event)">
                                      <mat-option [value]="true">Yes</mat-option>
                                      <mat-option [value]="false">No</mat-option>
                                    </mat-select>
                              </li>
                              <li *ngIf="showField3">
                                  <label>Expiration Options</label><br>
                              
                                  <mat-select class="form-control text-field tier-width" [(ngModel)]="timePolicy.expireoptions" (ngModelChange)="selectExpireDate($event)">
                                      <mat-option value="Expires at the end of the year (12/31)">Expires at the end of the year (12/31)</mat-option>
                                      <mat-option value="Expiration Date">Expiration Date</mat-option>
                                    </mat-select>
                              </li>
                              <li *ngIf="showField3 && showField4" style="width: 25%;">
                                <label>Expiration Date</label>
                                <div class="date">
                                    <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy"
                                      class="form-control" [(ngModel)]="timePolicy.expiredate">
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <button mat-raised-button (click)="picker2.open()" class="text-field">
                                      <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                  </div>
                              </li>
  
                            </ul>
                          </div>
                          <div class="row" style="margin:30px 0px;">
                              <button mat-button class="pull-left back" (click)="goToTimeEarned()">Back</button>
                              <button mat-button data-dismiss="modal">Cancel</button>
      
                              <button mat-button class="submit-btn pull-right" (click)="createTimeOffPolicy()">Submit</button>
                            </div>
                            <div class="clearfix"></div>

                    </div>

                  </div>

                </div>

              </div>
              <div class="clearfix"></div>


            </div>

          </div>


        </div>

      </div>
    </div>

  </div>
  <!-- <div class="import-balance-popup"> -->

      <!-- Modal -->
      <!-- <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog"> -->
  
          <!-- Modal content-->
          <!-- <div class="modal-content">
  
            <div class="modal-header">
              <h4 class="modal-title">Add / Edit - Tier Level - Settings</h4>
            </div>
  
            <div class="modal-body">
  
              <div class="import-cont col-md-10">
  
                  <div class="margin-btm row padding-top-btm">
                     
                      <ul class="list-unstyled">
                        <li>
                            <label>Select Date Type for Length of Service Calculation</label><br>
                        
                            <mat-select class="form-control text-field tier-width">
                                <mat-option value="Hire Date">Hire Date</mat-option>
                                <mat-option value="Rehire Date">Rehire Date</mat-option>
                                <mat-option value="Custom">Custom</mat-option>
                              </mat-select>
                        </li>
                        <li>
                            <label>Tier Level Entry Point </label><br>
                        
                            <mat-select class="form-control text-field tier-width">
                                <mat-option value="Beginning of Pay Cycle">Beginning of Pay Cycle</mat-option>
                                <mat-option value="End of Pay Cycle">End of Pay Cycle</mat-option>
                                <mat-option value="Manual Adjustment">Manual Adjustment</mat-option>
                              </mat-select>
                        </li>
                        <li>
                          <label>Number of Tier Levels</label><br>
                          <mat-select class="form-control text-field tier-width">
                              <mat-option value="Beginning of Pay Cycle">2</mat-option>
                              <mat-option value="End of Pay Cycle">3</mat-option>
                             
                            </mat-select>
                        </li>

                      </ul>
                    </div>
                    <div class="margin-btm row padding-top-btm">
                      <h5 class="tier-head">Define Tier Levels</h5>
                        <div class="recap-table">
                            <table class="table" style="margin-bottom:0px;">
                              <thead>
                                <tr>
                                  <th>
                                 
                                  </th>
                                  <th>Tier Level</th>
                                  <th>Length of Service</th>
                                  <th></th>
                                  <th>House Earned Max</th>
                                  <th>House Earned Per Cycle</th>
                                  <th>Carry over allowed?</th>
                                  <th>Carry over max?</th>
                                 
            
                                  <th>
            
                                    <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                                    <mat-menu #menu2="matMenu" class="option-position"> 
                                      <button mat-menu-item class="edit-color">Edit</button>
                                      <button mat-menu-item class="edit-color">Delete</button>
                                    </mat-menu>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
            
                                <tr>
                                  <td class="zenwork-checked-border">
            
                                      <div class="cont-check">
                                          <mat-checkbox class="zenwork-customized-checkbox" >
                            
                                          </mat-checkbox>
                                        </div>
            
                                  </td>
                                  <td>Level 1</td>
                                  <td>
                                    <input type="number" class="form-control border-tier">
                                   
                                  </td>
                                  <td style="width:13%;">
                                   
                                 <mat-select class="form-control border-tier">
                                    <mat-option value="Years">Years</mat-option>
                                   <mat-option value="Months">Months</mat-option>
                                             
                                   </mat-select>
                                    
                                  </td>
                                  <td>
                                    <input type="number" class="form-control border-tier">
                                  </td>
                                  <td>
                                      <input type="number" class="form-control border-tier">
                                  </td>
                                  <td>
                                      <mat-select class="form-control border-tier">
                                          <mat-option value="Yes">Yes</mat-option>
                                          <mat-option value="No">No</mat-option>
                                         
                                        </mat-select>
                                  </td>
                                  <td>
                                      <input type="number" class="form-control border-tier">
                                  </td>
                                  <td></td>
            
                                </tr>
            
                              
                            </table>
                            </div>
            
                      
                      </div>
 
              </div>
              <div class="col-md-12 border-top">
                <div class="col-md-12">
  
                  <button mat-button data-dismiss="modal">Cancel</button>
  
                  <button mat-button class="submit-btn pull-right" (click)="addTierLevel()">Submit</button>
                </div>
  
  
              </div>
  
              <div class="clearfix"></div>
  
            </div>
  
  
          </div>
  
        </div>
      </div>
  
    </div> -->

</div>