.time-policies { display: block;}
.zenwork-currentpage { padding-top: 40px;}

.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{margin-right: 7px;}


.time-policies-in { padding:40px 0 0; margin: 0 auto; float: none;}
.time-policies-in a.btn { color:#fff; font-size: 16px; line-height: 16px; padding: 10px 20px;background:#797d7b; margin: 0 0 30px;}

.policies-accordion { padding: 0 20px;}
.policies-accordion .panel-default>.panel-heading {background-color:transparent !important; border: none; position: relative; padding: 10px 0;}
.policies-accordion .panel-title { display: inline-block; font-size: 18px;}
.policies-accordion .panel-title a:hover { text-decoration: none;}
.policies-accordion .panel-title>.small, .policies-accordion .panel-title>.small>a, .policies-accordion .panel-title>a, .policies-accordion .panel-title>small, .policies-accordion .panel-title>small>a { text-decoration:none;}
.policies-accordion .panel { background: none; box-shadow: none; border-radius: 0;}
.policies-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.policies-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.policies-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .policies-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.policies-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 12px; line-height: 10px;}
.policies-accordion .panel-body { padding: 0 0 5px;}

.policies-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.policies-accordion .panel-default { border-color:transparent;}
.policies-accordion .panel-group .panel+.panel { margin-top: 20px;}


.new-policy { position: absolute; top: 0; right: 20px;}
.new-policy a { display: inline-block; vertical-align: middle; cursor: pointer; color:#676767; font-size: 16px; line-height: 16px;}
.new-policy a small { display: inline-block; padding: 0 15px 0 0;}
.new-policy a small .fa { color:#008f3d; font-size: 14px; line-height: 14px;}

.policies-table {margin: 40px 0 0 0;border-bottom:#fdeded 1px solid; padding: 0 0 60px;}
.policies-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 10px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.policies-table .table>tbody>tr>td, .policies-table .table>tfoot>tr>td, .policies-table .table>thead>tr>td{ padding:20px 10px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#676565;}
.policies-table .checkbox{ margin: 0;}
/* .policies-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.policies-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:3px;  height:90%;} */
.policies-table .table>tbody>tr>td span { display: inline-block; padding: 0 0 0 8px; cursor: pointer;}

.table-icons { float: right;}
.table-icons ul { display:block; margin: 0;}
.table-icons ul li { display:inline-block; padding: 0 0 0 15px;}
.table-icons ul li a { display: inline-block; cursor: pointer;}
.table-icons ul li a .fa { color:#484747; font-size: 15px; line-height: 15px;}

.cont-check .checkbox label { padding-left: 20px;}


.import-balance-popup { display: block;}
.import-balance-popup .modal-header { padding:0 60px 25px; border-bottom: 1px solid #c5c3c3;}
/* .import-balance-popup .modal-title { color:#008f3d;} */
.import-balance-popup .modal-dialog { width:70%;}
.import-balance-popup .modal-content { border: none; padding:30px 0 50px;}

.import-cont { margin:0 auto; float: none;}

.import-cont-lft { padding: 0 0 50px; }
.import-cont-lft label { font-weight: normal; padding: 0 0 20px; color:#616060; font-size: 17px;}

.import-cont-rgt { padding:40px 0 0;}
.import-cont-rgt a { display: inline-block; vertical-align:middle;}
.import-cont-rgt a small { display: inline-block; vertical-align:middle; padding: 0 0 0 20px; font-size: 17px; color:#525151;}

.import-cont .btn {border-radius: 20px;color:#000; font-size: 15px; padding:6px 25px; background:transparent; margin:30px 0 0; float:left;}
.import-cont .btn:hover {background: #008f3d; color:#fff;}

.time-policy-popup .modal-dialog { width: 85%;}
.time-policy-popup { display: block;}
.time-policy-popup .modal-header { padding:0 60px 25px; border-bottom: 1px solid #c5c3c3;}
.ntimeew-policy-popup .modal-title { color:#008f3d;}
.ntimeew-policy-popup .modal-dialog { width:70%;}
.time-policy-popup .modal-content { border: none; padding:30px 0 0;}

.time-policy { display: block;}
.time-policy-popup .modal-body { padding: 0;}

.policy-tabs { background:#f8f8f8; padding:30px 20px 0; height: 100vh;}
.policy-tabs .nav-pills>li { float: none; margin: 0 0 10px;}
.policy-tabs .nav-pills>li>a { color:#757272; font-size: 16px; padding: 11px 15px; display: block;}
.policy-tabs .nav-pills>li>a small .fa { font-size: 15px; color:#fff; float: right; padding: 3px 10px 0 0; text-align: right;}
.policy-tabs .nav>li>a:focus, .policy-tabs .nav>li>a:hover { border-radius: 30px; background: #797d7b; color:#fff;}

.policy-tabs .nav-pills>li.active>a, .policy-tabs .nav-pills>li.active>a:focus, .policy-tabs .nav-pills>li.active>a:hover { background: #797d7b; border-radius: 30px; color:#fff;}



.time-policy-cont { padding:30px 0 0;}
.time-policy-type { float: none; margin: 0 auto;}
.time-policy-type h3 { color: #008f3d; font-size: 16px; line-height: 15px; margin: 0 0 30px;}

.policy-check { margin: 0 auto; float: none; padding:0 0 10px;border-bottom:1px solid #fdeded;}
.policy-check ul { display: block;}
.policy-check ul li {float: left; margin: 0 20px 0 0;}
.policy-check ul li .selection { background:#f8f8f8; border-radius: 20px; padding: 0 33px; height:40px; line-height:40px; position: relative;}
.policy-check ul li .selection .checkbox label { color:#636363; padding-left:0; font-size: 15px; line-height: 15px;}
.policy-check ul li .selection .checkbox label::before { border-radius: 10px; width: 20px; height: 20px; top:-16px; left:-15px;}
.policy-check ul li .selection .checkbox label::after { color:#fff; background: #008f3d;border-radius: 10px; width: 20px; height: 20px;
padding: 3px 0 0 4px; top: -16px; left:-15px;}
.policy-check ul li .selection .checkbox{ margin: 0; padding: 0;}
.policy-check ul li .selection:active, .policy-check ul li .selection:focus, .policy-check ul li .selection:hover { background:#eef7ff;}


/* .policy-check h4 {font-size: 16px; line-height: 15px; margin: 0; float: left; padding: 10px 0 0;} */
.select { float:right; background:#eef7ff; border-radius:30px; padding: 0 15px; height:50px; line-height:50px; margin: 0 0 40px;}
.select .checkbox label { color:#4c4c4c; padding-left: 10px; font-size: 16px; line-height: 20px;}
.select .checkbox { margin: 0;}
.select .checkbox label::before {border-radius: 10px; width: 20px; height: 20px;}
.select .checkbox label::after { color:#fff; background: #008f3d;border-radius: 10px; width: 20px; height: 20px;padding:1px 0 0 4px;}


.time-policy-type .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.time-policy-type .btn:hover {background: #008f3d; color:#fff;}


.policy-date { float: none; padding: 0;}
.policy-date h5 {color: #545252; font-size: 17px;line-height: 30px;}

.policy-apply {background:#f8f8f8; margin: 0 0 60px;}

.policy-lft { padding: 0; border-right:#e0e0e0 1px solid;}
.policy-lft h6 {color: #5a5757; font-size: 17px; line-height: 17px; margin: 0; background:#eef7ff; padding:20px 0 20px 45px;}


.policy-select { margin: 0 0 20px;}
.policy-select .checkbox label { color:#4c4c4c; padding-left: 10px; font-size: 14px; line-height: 20px;}
.policy-select .checkbox { margin: 0;}
.policy-select .checkbox label::before {border-radius:4px; width: 20px; height: 20px;}
.policy-select .checkbox label::after { color:#fff; background: #008f3d;border-radius:4px; width: 20px; height: 20px;padding:1px 0 0 4px;}

.following-hire { margin: 0 auto; float: none; padding: 0;}
.policy-lft-in { padding: 0; float: none; margin:25px auto 0;}
.after-select { padding:7px 0 0;}
.policy-lft-in .following-hire .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; background:#fff; width: 25%; margin: 0 0 0 20px;}

.policy-lft-in .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; background:#fff; width: 15%; margin: 0 0 0 20px;}
.policy-lft-in small { display: block;color:#4c4c4c; padding-left: 10px; font-size: 14px; line-height: 20px; padding: 0 0 18px;}

.policy-drop  { background:#fff; border: none; width:35%; height: 34px; color:#948e8e; padding: 6px 10px;}
.policy-drop1 { margin: 0 0 0 20px; width:30%;}
.policy-lft-in span {color:#4c4c4c; padding-left: 10px; font-size: 14px; line-height: 20px; padding:8px 0; display: block;}

.employee-usage { display: block;}
.employee-usage h2 { color: #008f3d; font-size: 16px; line-height: 15px; margin: 0 0 30px;}

.employee-usage label {color: #545252; font-size: 17px; line-height: 17px;display: block; font-weight: normal; padding: 0 0 30px;}

.policy-date .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.policy-date .btn:hover {background: #008f3d; color:#fff;}
.employee-usage .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; background:#f8f8f8; width:15%; margin: 0 0 0 40px;
padding: 22px 10px;}


.employee-recap { float: none;margin:0 auto; padding: 0;}
.employee-recap a { vertical-align: middle; cursor: pointer;}
.employee-recap a small { display: inline-block; vertical-align: middle;color: #545252; font-size: 17px; line-height: 17px; padding: 0 0 0 20px;}


.recap-table {margin: 40px 0 0 0;}
.recap-table .table>thead>tr>th { color: #6f6f6f; font-weight: normal;  background: #eef7ff; border:none; font-size: 16px;
border-radius:3px; vertical-align: middle;}
.recap-table .table>tbody>tr>td, .recap-table .table>tfoot>tr>td, .recap-table .table>thead>tr>td{ background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#948e8e;}
.recap-table .checkbox{ margin: 0;}
.recap-table .checkbox label { padding-left: 0;}
.recap-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.recap-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:4px;height:80%; border-radius: 0 4px 4px 0; padding: 0; left: 0;}


.employee-recap .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.employee-recap .btn:hover {background: #008f3d; color:#fff;}

.table-icons { float: right;}
.table-icons ul { display:block; margin: 0;}
.table-icons ul li { display:inline-block; padding: 0 0 0 15px;}
.table-icons ul li a { display: inline-block; cursor: pointer;}
.table-icons ul li a .fa { color:#868383; font-size: 15px; line-height: 15px;}

.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.border-top {
    border-top: 1px solid #c5c3c3;
    padding-top: 30px;
}
 .date { height: auto !important; line-height:inherit !important; width:85% !important;     display: block;
    background: #f8f8f8; }
 .date button { display: inline-block; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
  height: 40px; min-width: auto; margin-left: 10px;}

 .date span { border: none !important; padding: 0 !important;}
 .date .form-control {  height: auto; padding: 12px 0 12px 10px; display: inline-block;
    vertical-align: middle; }
 .date .tier-width { width:25%; height: auto; padding: 12px 0 12px 10px;}
 .date .form-control:focus { box-shadow: none; border: none;}
 .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.list-width {
    width: 30%;
}
#fileUpload {
    height: 0;
    display: none;
    width: 0;
  }
  
  .upload{
    text-decoration: none;
  }
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 15px;
    padding: 0 0 0 2px;
}
.edu-ends-calendar-icon{
    position: absolute;
    top: 93px;
    width: 15px;
    left: 63%;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 40px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.birthdate{
    font-size: 14px;
    padding-left: 15px;
    box-shadow: none;
}
.mar-top {
    margin-top: -30px;
}
.mar-head {
    margin: 35px 0px 25px 0px;
}
.list-width-time {
    width:25%;
}
.time-bg {
    background: #f8f8f8;
    margin-top: 15px;
    width: 87%;
    padding: 10px;
}
.text-field1{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #fff;
}
.para-policy {
    margin: 20px 0px;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}
.margin-btm {
    border-bottom: 1px solid #fdeded;
}
.tier-head {
    font-size: 16px;
    margin: 20px 0px;
}
.tier-width {
    width: 20%;
    margin-top: 10px;
}
.mar-top-20 {
    margin-top: 10px;
}
.padding-top-btm {
    padding: 30px 0px;
}
.border-tier {
    border: none;
    box-shadow: none;
}
.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }

 .work-flow > ul > li {position: relative;}
.work-flow > ul > li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}

.wizard-lft { background: #f8f8f8; padding: 15px 15px 75px 0;border-radius: 0 0 0 5px; height:73vh;}
.wizard-lft.custom-wizard{height:70vh;}
.wizard-lft .nav-tabs{ border:none;}
.wizard-lft .nav-tabs>li { float: none; margin: 0 0 15px;}
.wizard-lft .nav-tabs > li.active > a, .wizard-lft .nav-tabs > li.active > a:focus, .wizard-lft .nav-tabs > li.active > a:hover 
{ border-bottom: none !important;background:transparent; color:#a5a3a3; border-radius: 30px;}
.wizard-lft .nav-tabs>li>a { font-size: 17px; margin: 0 0 0 20px; color: #a5a3a3;}
.wizard-lft .nav>li>a:focus, .wizard-lft .nav>li>a:hover { background: #787c7a; color:#fff; border-radius: 30px;}
.wizard-lft .nav-tabs>li>a small .fa { font-size: 15px; color:#fff; float: right; padding: 3px 10px 0 0; text-align: right;}
.back {
    border: 1px solid #deb8b8;
    border-radius: 25px;
    padding: 0px 30px;
}

.margin-btm ul li { margin: 0 0 15px;}
.margin-btm ul li label {display: block;}