
<div class="personal col-md-11">
  <!-- <div class="zenwork-currentpage"> -->
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management/on-boarding']">
      <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
    </a>
    <span class="inner-icon-img">
      <img src="../../../assets/images/Onboarding/Group 828.png" class="zenwork-inner-icon" alt="Company-settings icon">
    </span>
    <small class="sub-title"><b>Onboarding Template - Custom Onboarding Template</b></small>
  </p>
  <hr class="zenwork-margin-ten-zero">
  <!-- </div> -->
  <div class="heading">
    <h4>Add / Edit - Custom Onboarding Template</h4>
  </div>
  <div class="template-name">
    <label>Onboarding template Name</label><br>

    <input type="text" [(ngModel)]="template.templateName" class="form-control text-field" placeholder="Template Name"
      name="templateName" #templateName="ngModel" required>
    <p *ngIf="!template.templateName && templateName.touched || (!template.templateName && isValid)" class="error">
      Please fill this field</p>
  </div>
  <div class="main-onboarding on-boarding-template">
    <!-- <div class="panel panel-info"> -->
    <div class="panel-heading">

      <div class="field-accordion">

        <div class="panel-group" id="accordion1">

          <div class="panel panel-default border-bottom">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                  <span class="panel-title panel-font pull-left">Onboarding Tasks </span>
                </a>
              </h4>
              <span class="pull-right">
                <div class="setting-drop">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu">

                    <li *ngIf="!isDisabled">
                      <a (click)="openDialog('add')">Add</a>
                    </li>

                    <li *ngIf="isDisabled">
                      <a (click)="openDialog('edit')">Edit</a>
                    </li>
                    <li *ngIf="isDisabled">
                      <a (click)="deleteCategory()">Delete</a>
                    </li>

                  </ul>
                </div>
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in"
            *ngFor="let task of getKeys((template['Onboarding Tasks']))">
            <p *ngIf="template['Onboarding Tasks'][task].length" class="hr-tasks">{{task}}</p>

            <!-- <div *ngIf="template['Onboarding Tasks'][task].length === 0" class="panel-body">

              <p class="individual-hr-task">
                No Task Assign For This Section
              </p>
              <hr class="zenwork-margin-ten-zero margin-top-zero">

            </div> -->
            <div *ngFor="let data of template['Onboarding Tasks'][task]" class="panel-body">

              <p class="individual-hr-task">
                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
                  (ngModelChange)="singleTaskChoose(task,data.taskName,data.isChecked)">{{data.taskName}}</mat-checkbox>
                <br>
                <small>{{data.taskAssignee}}-{{data.Date | date}}</small>
              </p>

              <hr class="zenwork-margin-ten-zero margin-top-zero">

            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  <p *ngIf=" (getKeys((template['Onboarding Tasks'])).length < 0 && isValid)" class="error">
      Please fill this field</p>

    <!-- <hr class="zenwork-margin-ten-zero margin-zero"> -->


  </div>
  <div class="buttons">
    <ul class="list-unstyled">

      <li class="list-items">
        <a class="cancel"  [routerLink]="['/admin/admin-dashboard/employee-management/on-boarding']">Cancel</a>
      </li>
      <li class="list-items pull-right">
        <button class='save' (click)="customOnboardTemplateAdd()" type="submit">
          Submit
        </button>
      </li>

      <div class="clearfix"></div>
    </ul>
  </div>
</div>