<div class="lists">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance - Current</th>
        <th>Hours Earned <br> This Cycle</th>
        <th>Scheduled Hours <br> Not Taken Yet</th>
        <th>Project Balance <br> as of 12/31</th>
        <th>Carryover Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vacation</td>
        <td>15:00</td>
        <td>5:00</td>
        <td>5:00</td>
        <td>5:00</td>
        <td>5:00</td>
      </tr>

      <tr>
        <td>Vacation</td>
        <td>15:00</td>
        <td>5:00</td>
        <td>5:00</td>
        <td>5:00</td>
        <td>5:00</td>
      </tr>

    </tbody>
  </table>

</div>


<div class="summery-accord">

  <div class="panel-group" id="accordion11">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11" href="#collapseTen">
            Current Schedule
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="requested-time">

              <div class="top-history">

                  <ul>

                    <li class="pull-right">

                      <div class="range pull-left">
                        <label>Begin Date Range(T1)</label>
                        <div class="date">
                          <input matInput [matDatepicker]="picker10" placeholder="mm / dd / yy"
                            class="form-control">
                          <mat-datepicker #picker10></mat-datepicker>
                          <button mat-raised-button (click)="picker10.open()">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="range pull-left">
                        <label>End Date Range(T2)</label>
                        <div class="date">
                          <input matInput [matDatepicker]="picker11" placeholder="mm / dd / yy"
                            class="form-control">
                          <mat-datepicker #picker11></mat-datepicker>
                          <button mat-raised-button (click)="picker11.open()">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </li>

                    <li class="col-md-5 select-date pull-right">
                        <label>Select Date Range</label>
                        <mat-select placeholder="Specific date range" class="form-control">
                          <mat-option value="">Last Week</mat-option>
                        </mat-select>
                      </li>

                  </ul>
                  <div class="clearfix"></div>

                </div>


                <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </th>
                        <th> Name</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time Type</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Daily Total</th>
                        <th>Weekly Total</th>
                        <th>Pay Cycle</th>
                        <th>Pay Cycle Total</th>
                        <th>
                          <button mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu1="matMenu">
                            <button mat-menu-item>
                              <a>Edit</a>
                            </button>
                            <button mat-menu-item>
                                <a>Delete</a>
                              </button>
                          </mat-menu>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </td>
                        <td>Suresh</td>
                        <td>Monday</td>
                        <td>19/10/2020</td>
                        <td>Hours Worked</td>
                        <td>10:00</td>
                        <td>6:00</td>
                        <td>8:00</td>
                        <td>30:00</td>
                        <td>Bi-Weekly</td>
                        <td>10:00</td>
                        
                      </tr>


                    </tbody>
                  </table>


            <!-- <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]"
                    (page)="pageEvents($event)"></mat-paginator> -->

          </div>

        </div>
      </div>
    </div>

  </div>


</div>