.lists{ display: block;}

.lists .table{ background:#fff;margin-bottom:60px;}
.lists .table>tbody>tr>th, .lists .table>thead>tr>th {padding:15px; color: #484747; font-weight: normal;
font-size:18px;vertical-align: middle; position: relative; background: #edf7ff;}
.lists .table>tbody>tr>td, .lists .table>tfoot>tr>td, .lists .table>tfoot>tr>th, 
.lists .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; background: #f8f8f8;}


.top-history{ margin:-60px 0 10px; float: right; width: 70%;}
.top-history ul{ display: block;}
.top-history ul li{ padding: 0 5px;}
.top-history ul li.select-date{ margin: 28px 0 0;}
.top-history ul li label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 7px 15px 0;}
.top-history ul li .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;
width:60%; font-size: 15px;background: #fff; display: inline-block;}

.top-history ul li .range{ margin: 0 5px;}
.top-history ul li .range label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 0 7px; display: block;}

.top-history ul li .range .date { height: auto !important; line-height:inherit !important;background:#fff; width: 165px;}
.top-history ul li .range .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.top-history ul li .range .date span { border: none !important; padding: 0 !important;}
.top-history ul li .range .date .form-control { width:72%; height: auto; padding: 12px 0 12px 10px;}
.top-history ul li .range .date .form-control:focus { box-shadow: none; border: none;}
.top-history ul li .range .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


