<div class="zenwork-documents-tab" style="margin-left: 40px;">

  <div class="education-dates">
    <ul class="list-unstyled education-date" style="margin-bottom: 20px;">

      <li class="education-date-list padding10-listitems">
        <label>Onboarding Template Assigned</label><br>
        <input type="text" class="text-field form-control assign-field" [(ngModel)]="template.templateName"
          [readOnly]="disableField">

      </li>
      <li class="education-date-list padding10-listitems">
        <label>Date</label><br>
        <p class="form-control birthdate address-state-dropodown">
          {{assignedDate | date : 'MM/dd/yyyy'}}
        </p>
        <!-- <input class="form-control birthdate address-state-dropodown" type="date"
            placeholder="mm/dd/yyyy" [(ngModel)]="assignedDate" [readOnly]="disableField"> -->
        <!-- <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon" alt="Company-settings icon"
            (click)="dpMDYTDATE.toggle()" [attr.aria-expanded]="dpMDYTDATE.isOpen"> -->
      </li>



    </ul>

  </div>
  <hr class="zenwork-margin-ten-zero">

  <div class="education-dates">
    <ul class="list-unstyled education-date">

      <li class="education-date-list">
        <label>Onboarding Complete</label><br>
        <input type="text" class="text-field form-control assign-field" [(ngModel)]="template.onboarding_complete"
          [readOnly]="disableField">

        <!-- <mat-select class="address-city text-field form-control address-state-dropodown" [(ngModel)]="template.onboarding_complete">
          <mat-option [value]="">{{template.onboarding_complete}}</mat-option>
          <mat-option [value]="No">No</mat-option>
        </mat-select> -->
      </li>
      <li class="education-date-list">
        <label>Date</label><br>
        <p class="form-control birthdate address-state-dropodown">
          {{completeDate | date : 'MM/dd/yyyy'}}
        </p>

        <!-- <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon" alt="Company-settings icon"
          (click)="dpMDYTDATE.toggle()" [attr.aria-expanded]="dpMDYTDATE.isOpen"> -->
      </li>
      <li *ngIf="!onboardingTabView" class="education-date-list">
        <span>
          <mat-checkbox (change)="adminOverride($event)" [(ngModel)]="overRide" class="zenwork-customized-checkbox">
          </mat-checkbox>
        </span>
        <span class="disable">
          <button (click)="adminOverRideOfboarding()" [disabled]='btnOverRide' class="btn-run-report">
            Administrator Override
          </button>
        </span>
        <div class="clearfix"></div>
      </li>

    </ul>

  </div>
  <!-- <hr class="zenwork-margin-ten-zero"> -->
  <div class="main-onboarding">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="panel-title panel-font pull-left">Onboarding Tasks </span>

        <div class="clearfix"></div>
      </div>
      <div class="row" style="margin:0px;">
        <div class="panel-body col-xs-4"></div>
        <div class="panel-body col-xs-4">
          <p class="hr-tasks">Task Status</p>
        </div>
        <div class="panel-body col-xs-4">
          <p class="hr-tasks">Task Completion</p>
        </div>

      </div>

    </div>

    <div class="panel panel-info" *ngFor="let task of getKeys((template['Onboarding Tasks']))">
      <p *ngIf="template['Onboarding Tasks'][task].length > 0" class="hr-tasks" style="padding: 10px 0px 0px 13px;">
        {{task}}</p>
      <div class="row" style="margin:0px; border-bottom: 1px solid #efe0e0;"
        *ngFor="let data of template['Onboarding Tasks'][task]">
        <div class="panel-body col-xs-4">

          <p class="individual-hr-task">{{data.taskName}}<br>
            <small>{{data.taskAssignee}} - {{data.task_assigned_date | date:'MM/dd/yyyy'}}</small>
          </p>
        </div>
        <div class="panel-body col-xs-4">

          <p class="individual-hr-task">{{data.status}} </p>
        </div>
        <div class="panel-body col-xs-4">

          <p class="individual-hr-task">{{data.task_completion_date | date:'MM/dd/yyyy' }} </p>
        </div>
        <!-- <hr class="zenwork-margin-ten-zero margin-zero"> -->
      </div>


    </div>


    <!-- <div class="panel panel-info">
        <div class="team-introdution-card">
          <div class="panel-body padding-top-remove">
            <div class="checkbox checkbox-success">
              <input id="checkbox3" type="checkbox" class="team-checkbox">
              <label for="checkbox3">
                <span class="individual-hr-task">Team Introduction </span>
                <small>Ashley Adams -Jul 25,2018</small>
              </label>
            </div>

           

          </div>
          <hr class="zenwork-margin-ten-zero margin-top-zero">
          <p class="card-intro">
            please introduce the new hire to the team lead,and instruct the team lead to introduce the new hire
            to
            other individuals the new hire to other individuals with inthe organization<br>
            that will have a key role in their job responsibilities
          </p>
          <hr class="zenwork-margin-ten-zero margin-top-zero">
          <div class="employee-image-info">
            <img src="../../../assets/images/Onboarding/empoyee_2.png" alt="employee-icon" class="emp-image">
            <div class="employee-details borderright">
              <span class="emp-name">Crane Andy </span>

              <small class="emp-designation">Manager</small>
            </div>

            <div class="employee-details">
              <span class="emp-name ">Today</span>
              <small class="emp-designation">10:07 AM</small>
            </div>
          </div>
          <div class="team-text-area">
            <div class="form-group">
              <textarea class="form-control rounded-0" rows="3"></textarea>
            
            </div>
          </div>
          <button class="btn zenwork-customized-back-btn pull-right btn-color">
            close

          </button>
          <div class="clearfix"></div>
        </div>
      </div> -->
    <!-- <div class="panel panel-info">
        <div class="new-emp-paperwork">
          <p class="emp-paperwork-heading green">
            New Employee Paperwork
          </p>
          <div class="newhire-packets pull-left">
            <input type="checkbox" class="newhire-checkbox">
            <span class="panel-body padding-top-remove newhire-content">
              <p class="individual-hr-task">New Hire Packet- UK<br>
                <small>Adam Jones- Jul 25,2018</small>
              </p>
            </span>
            <img src="../../../assets/images/Onboarding/ic_insert_drive_file_24px.png" alt="employee-icon" class="insert-drive">

          </div>
          <div class="padding-right-10">
            <ul class="list-unstyled pull-right">
              <li class="image-items">
                <img src="../../../assets/images/Onboarding/ic_border_color_24px.png" alt="employee-icon" class="insert-drive">
              </li>
              <li class="image-items">
                <img src="../../../assets/images/Onboarding/ic_delete_24px.png" alt="employee-icon" class="insert-drive">
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
         
        </div>

      </div> -->

    <div style="margin:20px 0px;">

      <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
      <div class="clear-fix"></div>
    </div>
  </div>


</div>