
.education-date-list {
    width:23%;
    position: relative;
    display: inline-block; vertical-align: top; margin: 0 20px 0 0;
}
.education-date-list span { display: inline-block;}
.education-date-list span.disable { display: inline-block; margin: 0 0 0 20px;}
.education-date-list:nth-child(3){ margin:20px 0 0;}


label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 14px;
    padding: 0 0 0 2px;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 35px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
}

.main-onboarding .panel-heading{
    padding:10px 15px!important;
}
.main-onboarding{
    width:100%;
    margin-top: 40px;
    padding: 0 30px 0 0;
}
.main-onboarding .panel-font{
    font-weight: 600;
    margin-top: 5px;
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.main-onboarding .panel-heading .btn{
    padding:2px 6px!important;
    border-radius: 0!important;
}
.caret{
    margin-bottom: 5px!important;
}

.hr-tasks{
    font-size: 13px;
    font-weight: 600;
}

.individual-hr-task{
    font-size:14px;
}
.margin-top-zero{
    margin-top:0px!important;
}
.padding-top-remove{
    padding-top:0px!important;
}
.team-introdution-card{
    background-color: #fcfcfc;
    border-radius: 2px;
    padding: 10px;
}
.margin-zero{
    margin:0px!important;
}

.zenwork-documents-tab {
  padding: 10px 35px;
}
.assign-field {
  outline: none;
  border: none;
  height: 35px;
  box-shadow: none;
  background: #fff;
}
.next-btn {
  background-color: #439348;
  border: 1px solid #439348;
  border-radius: 20px;
  color: #fff;
  padding: 0 30px;    
}

.btn-run-report{
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #008f3d;
  border-radius: 24px;
  background: #fff;
  color: #008f3d !important;
  cursor: pointer;

}
.btn-run-report span{
  padding: 0px 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.disable button:disabled {
  background-color:#aeaeae;
  border-color: #aeaeae;
  color: #000 !important;
}