.zenworkers-wrapper{
    background: #f8f8f8;
    height: 100vh;
}

.zenwork-currentpage {
    padding: 40px 0 0 0;
}

.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}

.zenworkers-wrapper{
    padding: 0px; float: none; margin: 0 auto;
}

.search-border{
    border-radius: 3px;
    height: 25px;
    position: relative;
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 15px;
    width:22px;
    color:#9a9898;
    font-size: 13px; cursor: pointer;
}
.zenwork-margin-ten-zero {
    margin: 20px 0px!important;
}
.zenwork-margin-zero { font-size: 17px; line-height: 15px; vertical-align: middle; color:#008f3d;}
.zenwork-margin-zero small{ display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.zenwork-inner-icon { vertical-align: text-top;}

.padding-left-zero{
    padding-left: 0 !important;
}

.zenwork-client-group-addon{
    background: #fff;
    border: 1px transparent;
    border-right: 1px solid #ccc;
}

.zenwork-custom-select{
    background: #fff!important;
}

.border-none{
    border:0 none !important;
}

.box-shadow-none{
    box-shadow: none !important;
}

.zenwork-table-customized{
    background: #fff;
}

.zenwork-table-customized.table-condensed>tbody>tr>td{
    padding: 20px; border-top: none;border-bottom: #efefef 1px solid; color: #807d7d;
}

.zenwork-table-customized.table-condensed>thead>tr>th{
    padding: 15px 20px; background:#eef7ff;border-bottom:none; color: #3e3c3c; font-weight: normal;
}



.search-form .form-control {padding:12px 40px 12px 20px; height: auto;}
.zenwork-customized-green-btn{
    background: #797d7b!important;
    color: #fff!important;
    padding:3px 17px!important;
    font-size:15px!important;
}
.zenwork-customized-green-btn small { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.zenwork-customized-green-btn small .fa { color:#fff; font-size: 15px;}
.zenwork-customized-transparent-btn:focus, .zenwork-customized-transparent-btn:active{ outline: none;}