<div class="zenworkers-wrapper col-md-11">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <small>
        <img src="../../../assets/images/company-settings/site-access-hover.png" class="zenwork-inner-icon" alt="Company-settings icon">
      </small>
      Administrator
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="zenwork-clients-wrapper">
    <div class="col-xs-4 padding-left-zero">
      <div class="search-border text-left">
        <form [formGroup]="zenworkersSearch" class="search-form">
          <input type="text" class="border-none box-shadow-none form-control" formControlName="search" placeholder="Search by name,title, etc">
        </form>
        <span>
          <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-2">
      <div class="col-xs-8">
        <div class="input-group">
          <span class="input-group-addon zenwork-client-group-addon zenwork-input-group-addon">
            <img src="../../../assets/images/Directory/ic_domain_24px1.png" alt="First Name Icon" class="zenwork-demo-input-image-group zenwork-company-group">
          </span>
          <mat-select class="form-control zenwork-input zenwork-custom-select" placeholder="All Clients" [(ngModel)]="selectedZenworkRole" (ngModelChange)="getZenworkersData();">
            <mat-option value="all">
              All
            </mat-option>
         
          </mat-select>
        </div>
      </div>
      <div class="col-xs-4">
 
        <button mat-button (click)="addZenworker('')" class="btn zenwork-customized-green-btn">
            <small><i aria-hidden="true" class="fa fa-plus"></i></small> Add Administrator
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="clients-tablle-wrapper">
    <table class="table table-responsive table-condensed zenwork-table-customized">
      <thead>
        <tr class="info">
          
          <th>
            <div class="cont-check">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="allZenworkers" (change)="selectAllZenworkers()"></mat-checkbox>
            </div>
          </th>
          <th>Name</th>
          <th>
            Email
          </th>
          <th>
            Profile
          </th>
          <th>
            Action
            <!-- <button class="zenwork-customized-transparent-btn">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button> -->
            <!-- <button class="zenwork-customized-transparent-btn">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zenworker of zenworkerDetails">
          <td [ngClass]="{'zenwork-checked-border':zenworker.isChecked}">
            <div class="cont-check">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="zenworker.isChecked"></mat-checkbox>
          </div>
          </td>
          <td>{{zenworker.name}}</td>
          <td>
            {{zenworker.email}}
          </td>
          <td>
              {{zenworker.roleId.name}}
          </td>
          <td>
            <button class="zenwork-customized-transparent-btn" (click)="addZenworker(zenworker)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <!-- <button class="zenwork-customized-transparent-btn" (click)="deleteZenworker(zenworker)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>