.setting-panel { margin:50px auto 0; float: none; padding: 0;}

.zenwork-currentpage { padding:0;}

.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 18px;line-height: 17px; color:#008f3d; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{margin-right: 7px;}
.zenwork-margin-ten-zero {
    margin: 15px 0px!important;
}


.setting-panel-in { display: block;}

.setting-tabs {padding:15px 0 0;}
.setting-tabs .tab-content { margin:40px 0 0;}
.setting-tabs ul {border-bottom:#dbdbdb 2px solid; padding: 0 0 2px 60px;}
.setting-tabs ul li { padding:0 30px 10px;display: inline-block;}
.setting-tabs ul li a {font-size: 19px;line-height: 19px;font-weight:normal;color:#484747;border: none;cursor: pointer;padding:0 30px;}
.setting-tabs ul > li > a:hover, .ul > li > a:focus { background: none;}
.setting-tabs ul li.active a{border-bottom:#439348 5px solid;padding:0px 30px 9px;color:#484747;}
.setting-tabs ul li a:focus, .setting-tabs ul li a:hover{ outline: none;}


