<div class="setting-panel col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">

      <small>
        <img src="../../../assets/images/Side Menu/Green/green-client.png" width="18" height="16"
          alt="Company-settings icon">
      </small>
      <em>Settings - Super Admin Panel</em>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="setting-tabs">

    <ul>
      <li routerLinkActive="active">
        <a routerLink="/super-admin/super-admin-dashboard/settings/packages">Packages</a>
        <!-- <a routerLink="/super-admin/super-admin-dashboard/settings/packages-add"></a> -->
      </li>
      <li routerLinkActive="active">
        <a routerLink="/super-admin/super-admin-dashboard/settings/modules">Modules</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/super-admin/super-admin-dashboard/settings/add-ons">Add-ons</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/super-admin/super-admin-dashboard/settings/user-profile">User Profile</a>
      </li>
    </ul>

  </div>

  <router-outlet></router-outlet>

</div>


<!-- <div class="package-wrapper">
  <div class="zenwork-package-creation">
    <mat-tab-group>
      <mat-tab label="Create Package">
        <div class="form-group">
          <input class="form-control zenwork-input zenwork-custom-input" type="text" [(ngModel)]="package.name" placeholder="Package Name">
        </div>
        <div class="form-group">
          <input class="form-control zenwork-input zenwork-custom-input" type="number" [(ngModel)]="package.price" placeholder="Package Price">
        </div>
        <div class="form-group">
          <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Package Status" [(ngModel)]="package.status">
            <mat-option value="active">
              Active
            </mat-option>
            <mat-option value="inactive">
              In Active
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <button type="submit" (click)="createPackage()" class="btn btn-success">Create Package</button>
        </div>
      </mat-tab>
      <mat-tab label="Create Add On">
        <div class="form-group">
          <input class="form-control zenwork-input zenwork-custom-input" type="text" [(ngModel)]="addOn.name" placeholder="Add-on Name">
        </div>
        <div class="form-group">
          <input class="form-control zenwork-input zenwork-custom-input" type="number" [(ngModel)]="addOn.price" placeholder="Add-on Price">
        </div>
        <div class="form-group">
          <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Add-on Status" [(ngModel)]="addOn.status">
            <mat-option value="active">
              Active
            </mat-option>
            <mat-option value="inactive">
              In Active
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <button type="submit" (click)="createAddOn()" class="btn btn-success">Create Add-on</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->