<div class="feature-benefits leave">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Benefits Administration</h2>
        <h1>I'll sign up for that!</h1>
        <small>Build plans and use our Open Enrollment tools to make benefits a breeze! <br>Capture Employee NPS
          feedback to learn what benefits matter most to your team.</small>
        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/benefits-img.png" height="534" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
      <i class="fa fa-chevron-down"  (click)="arrowDown(content)" ></i>
    </div> -->

<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #content class="benefits-cont">
  <div class="container">
    <div class="row">
     
      <p>Our Benefits Administration module makes plan management a piece of cake. Breakdown your open enrollment by
        employees that are just getting started, employees that are in progress, and employees that have been completed.
        Create <b>benefit eligibility groups </b>to determine employee eligibility, including eligibility for
        grandfathered
        plans. With our <b>open enrollment wizard,</b> you can test and preview any changes for the upcoming year before
        publishing it. You can ensure enrollment works exactly as it should. Onboarding new employees into benefit
        enrollments has never been easier!</p>
      <p>Which plans do your employees appreciate? Which plans need further explanation? Use our built-in tools to
        <b>capture NPS feedback</b> from your employees. Gather survey information from employees and take a data-driven
        approach to benefits administration.</p>
      
    </div>
  </div>

</div>