<div class="zenwork-emergency-tab col-md-11">

  <!-- <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <img src="../../../assets/images/directory_tabs/Time off/time.png" class="img-personal-icon" alt="personal-icon">
      </li>
      <li class="list-items">
        <span>Time Schedule</span>
      </li>
    </ul>
  </div> -->

  <div class="Performance-tabs">
    <div class="hire-wizard pull-left">
      <!-- <ul class="nav nav-tabs onboarding-tabs">
        <li class="active"><a data-toggle="tab" href="#work-schedule">Work Schedule Hours</a></li>
        <li><a data-toggle="tab" href="#schedule-time-off">Schedule Time Off</a></li>

      </ul>


       <div class="tab-content">
        <div id="work-schedule" class="tab-pane fade in active tradational-tab">
          <div class="work-schedule-filters">
            <ul class="list-unstyled">
              <li class="list-items">
                <div class="schdule-type">
                  <label>
                    Select Employee
                  </label><br>
                  <mat-select class="form-control zenwork-input" placeholder="Search-Employee">
                    <mat-option value="support">
                      Employee 1
                    </mat-option>
                    <mat-option value="sr-support">
                      Employee 2
                    </mat-option>

                  </mat-select>
                </div>
              </li>
              <li class="list-items">
                <div class="schdule-type">
                  <label>
                    Select Employee
                  </label><br>
                  <mat-select class="form-control zenwork-input" placeholder="Search-Employee">
                    <mat-option value="support">
                      Employee 1
                    </mat-option>
                    <mat-option value="sr-support">
                      Employee 2
                    </mat-option>

                  </mat-select>
                </div>
              </li>
              <li class="list-items calander-list">
                <div class="schdule-type">
                  <label>
                    Schedule Effective Date
                  </label><br>
                  <input class="form-control birthdate zenwork-input" #dpMDYSdate="bsDatepicker" bsDatepicker
                    formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy"
                    name="birth-date">
                  <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon" alt="Company-settings icon"
                    (click)="dpMDYSdate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen">
                </div>
              </li>
            </ul>
          </div>
          <hr class="zenwork-margin-ten-zero">
          <div class="accural-balance">
            <ul class="list-unstyled main-head">
              <li class="list-items">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </li>
              <li class="list-items">
                <span class="green">Accural Balances</span>
              </li>
            </ul>
            <div class="">

            </div>
          </div>
          <hr class="zenwork-margin-ten-zero">
          <div class="schedule-type">
            <button class=" btn btn-success" (click)="openModalWithClass1(template1)">Edit Schedule</button>
          </div>
          <ng-template #template1>
            <div class="modal-header modal-margintop">
              <h4 class="modal-title pull-left green"><b>Create Work Schedule</b></h4>
              <div class="clearfix"></div>
            </div>
            <div class="modal-body">

              
              <div class="container">
                <div class="row">

                  <div class="tabbable tabs-left">

                    <ul class="nav nav-tabs col-md-3">
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseSteps' }">
                        <a href="#chooseSteps" data-toggle="tab" (click)="chooseFieldss('chooseSteps')">Work Schedule
                          Title
                          <span [ngClass]="{'caret': selectedNav == 'chooseSteps' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseFields' }">
                        <a href="#chooseFields" data-toggle="tab" (click)="chooseFieldss('chooseFields')">Assign Work
                          Schedule
                          <span [ngClass]="{'caret': selectedNav == 'chooseFields' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'jobSalary' }">
                        <a href="#jobSalary" data-toggle="tab" (click)="chooseFieldss('jobSalary')">Recap
                          <span [ngClass]="{'caret': selectedNav == 'jobSalary' }"></span>
                        </a>
                      </li>


                    </ul>

                    <div class="tab-content sidenav-tabcontent col-md-9">
                      <div class="tab-pane fade in active" id="chooseSteps">

                        <div class="second-popup-body">


                          <span class="second-work-schedule">
                            <ul class="list-unstyled hire-date-list">
                              <li class="list-items form-group work-title">
                                <label>Work Schedule Title</label><br>
                                <input type="text" name="nameoftemplate" class="template">
                              </li>
                              <li class="list-items hiredates-list">
                                <label>work Schedule Start Date</label><br>
                                <input class="form-control" #dpMDY="bsDatepicker" bsDatepicker formControlName="myDateMDY"
                                  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy" name="birth-date"
                                  class="hiredate">
                                <img src="../../../assets/images/Onboarding/calendar_2_.png" class="second-popup-calendar-icon"
                                  alt="Company-settings icon" (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">
                              </li>
                            </ul>
                          </span>
                          <div class="select-week-days">
                            <ul class="list-unstyled selected-days">
                              <li class="list-items main-head-weekdays">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox_1" type="checkbox" class="team-checkbox">
                                  <label for="checkbox_1" class="green">Select Days of the Week Applicable</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox1" type="checkbox" class="team-checkbox">
                                  <label for="checkbox1">Monday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox2" type="checkbox" class="team-checkbox">
                                  <label for="checkbox2">Tuesday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox3" type="checkbox" class="team-checkbox">
                                  <label for="checkbox3">Wednesday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox4" type="checkbox" class="team-checkbox">
                                  <label for="checkbox4">Thursday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox5" type="checkbox" class="team-checkbox">
                                  <label for="checkbox5">Friday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox6" type="checkbox" class="team-checkbox">
                                  <label for="checkbox6">Saturday</label>
                                </span>
                              </li>
                              <li class="list-items ">
                                <span class="checkbox checkbox-success">
                                  <input id="checkbox7" type="checkbox" class="team-checkbox">
                                  <label for="checkbox7">Sunday</label>
                                </span>
                              </li>
                            </ul>
                          </div>
                          <div class="emp-hours-working">
                            <ul class="list-unstyled work-schedule padding-left-10">
                              <li class="list-items">
                                <label>Total Hours per Day</label><br>
                                <input type="text" class="form-control benefits-dropdown">
                              </li>
                              <li class="list-items">
                                <label>Total Hours per Week</label><br>
                                <input type="text" class="form-control benefits-dropdown">

                              </li>
                            </ul>
                          </div>
                          <div class="form-group schdule-type">
                            <label>
                              Profile
                            </label><br>
                            <mat-select class="form-control zenwork-input" placeholder="Profile">
                              <mat-option value="support">
                                Standard
                              </mat-option>
                              <mat-option value="sr-support">
                                Employee Specific
                              </mat-option>

                            </mat-select>
                          </div>
                          <div class="standard-schedule-table">
                            <span class="green">
                              Standard Schedule
                            </span>
                            <div class="fist-popup-modal">
                              <div class="custom-tables">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>
                                        <div class="heade-check cont-check">
                                          <div class="checkbox">
                                            <input id="checkbox_day" type="checkbox">
                                            <label for="checkbox_day"></label>
                                          </div>
                                        </div>
                                      </th>
                                      <th>Day</th>

                                      <th>Start Time</th>
                                      <th>Lunch Start Time</th>
                                      <th>Lunch End Time</th>
                                      <th>End Time</th>
                                      <th>
                                        <a>
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                    <tr>
                                      <td class="zenwork-assets-checked-border">

                                        <div class="cont-check">
                                          <div class="checkbox">
                                            <input id="checkbox_wednesday" type="checkbox">
                                            <label for="checkbox_wednesday"></label>
                                          </div>
                                        </div>

                                      </td>
                                      <td>Wednesday</td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td class="zenwork-assets-checked-border">

                                        <div class="cont-check">
                                          <div class="checkbox">
                                            <input id="checkbox_friday" type="checkbox">
                                            <label for="checkbox_friday"></label>
                                          </div>
                                        </div>

                                      </td>
                                      <td>Friday</td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                      </td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td class="zenwork-assets-checked-border">

                                        <div class="cont-check">
                                          <div class="checkbox">
                                            <input id="checkbox_saturday" type="checkbox">
                                            <label for="checkbox_saturday"></label>
                                          </div>
                                        </div>

                                      </td>
                                      <td>Saturday</td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td class="zenwork-assets-checked-border">

                                        <div class="cont-check">
                                          <div class="checkbox">
                                            <input id="checkbox_sunday" type="checkbox">
                                            <label for="checkbox_sunday"></label>
                                          </div>
                                        </div>
                                      </td>
                                      <td>Sunday</td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="start-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td class="end-time">
                                        <input type="text" name="employee" class="emp-time">
                                        <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                      </td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="margin-top">
                              <ul class="submit-buttons list-unstyled">
                                <li class="list-item">
                                  <button class="btn btn-success btn-style"> Proceed </button>
                                </li>
                                <li class="list-item">
                                  <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                                </li>
                              </ul>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane active" id="chooseFields">
                        <div class="assign-work-schedule-tab">
                          <div class="schdule-type">
                            <label>
                              Assign Schedule during New Hire setup?
                            </label><br>
                            <mat-select class="form-control zenwork-input" placeholder="">
                              <mat-option value="support">
                                No
                              </mat-option>
                              <mat-option value="sr-support">
                                Yes
                              </mat-option>

                            </mat-select>
                          </div>
                          <hr class="zenwork-margin-ten-zero">
                          <div class="schdule-type">
                            <label>
                              Assign to a Job Title
                            </label><br>
                            <mat-select class="form-control zenwork-input" placeholder="">
                              <mat-option value="support">
                                Assistant
                              </mat-option>
                              <mat-option value="sr-support">
                                Manager
                              </mat-option>
                            </mat-select>
                          </div>
                          <div class="schdule-type">
                            <label>
                              Assign to a Specific Person
                            </label><br>
                            <mat-select class="form-control zenwork-input" placeholder="">
                              <mat-option value="support">
                                Employee 1
                              </mat-option>
                              <mat-option value="sr-support">
                                Employee 2
                              </mat-option>
                            </mat-select>
                          </div>
                          <hr class="zenwork-margin-ten-zero">
                          <div class="margin-top">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Proceed </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="jobSalary">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>



                  
                </div>
              </div>
            </div>





          </ng-template>
          <div class="current-schedle">
            <div class="field-accordion">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_currentschedule">
                        <div class="resumes-field-heading">
                          <small class="green">Current Schedule</small>
                        </div>
                      </a>
                    </h4>
                    <div class="main-punches-filters">
                      <ul class="list-unstyled search-by-category">
                        <li class="list-item search-category">
                          <ul class="list-unstyled search-category">
                            <li class="list-items">
                              <small>Select Date Range</small>
                            </li>
                            <li class="list-items">
                              <select class="form-control zenwork-structure-settings category-field">
                                <option>Week</option>
                                <option>2Weeks</option>
                                <option>Month</option>
                                <option>Specific date range t1-t2</option>
                              </select>
                            </li>
                          </ul>
                        </li>
                        <li class="list-item search-category">
                          <label>Begin Date Range(T1)</label>
                          <input class="form-control category-field" #dpMDYBegindate="bsDatepicker" bsDatepicker
                            formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy"
                            name="birth-date">
                          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                            alt="Company-settings icon" (click)="dpMDYBegindate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen">
                        </li>
                        <li class="list-item search-category">
                          <label>End Date Range(T2)</label>
                          <input class="form-control category-field" #dpMDYEnddate="bsDatepicker" bsDatepicker
                            formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy"
                            name="birth-date">
                          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                            alt="Company-settings icon" (click)="dpMDYEnddate.toggle()" [attr.aria-expanded]="dpMDYEnddate.isOpen">
                        </li>
                        <li>

                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="collapse_currentschedule" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="custom-tables">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                <div class="heade-check">
                                  <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label for="checkbox20">Name</label>

                                  </div>
                                </div>

                              </th>
                              <th>Day</th>
                              <th>Date</th>
                              <th>Time Type</th>
                              <th>Time In</th>
                              <th>Time Out</th>
                              <th>Time In</th>
                              <th>Time Out</th>
                              <th>Time In</th>
                              <th>Time Out</th>
                              <th>Pay Cycle</th>
                              <th>Pay Cycle Total</th>
                              <th>
                                <a>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="zenwork-assets-checked-border">
                                <div class="cont-check">
                                  <div class="checkbox">
                                    <input id="checkbox_21" type="checkbox">
                                    <label for="checkbox_21">Andy</label>
                                  </div>
                                </div>

                              </td>
                              <td>Monday</td>
                              <td>12/08/2018</td>
                              <td>
                                Hours Worked
                              </td>
                              <td>
                                10:12 AM
                              </td>
                              <td>
                                08:40 PM
                              </td>
                              <td>10:12 AM</td>
                              <td>08:40 PM</td>
                              <td>10:12 AM</td>
                              <td>08:40 PM</td>
                              <td>Bi-Weekly</td>
                              <td>07:12</td>
                              <td>
                                <a>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="zenwork-assets-checked-border">
                                <div class="cont-check">
                                  <div class="checkbox">
                                    <input id="checkbox_21" type="checkbox">
                                    <label for="checkbox_21">Andy</label>
                                  </div>
                                </div>

                              </td>
                              <td>Monday</td>
                              <td>12/08/2018</td>
                              <td>
                                Sick
                              </td>
                              <td>
                                --
                              </td>
                              <td>
                                --
                              </td>
                              <td>--</td>
                              <td>--</td>
                              <td>10:12 AM</td>
                              <td>08:40 PM</td>
                              <td>Bi-Weekly</td>
                              <td>07:12</td>
                              <td>
                                <a>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="zenwork-assets-checked-border">
                                <div class="cont-check">
                                  <div class="checkbox">
                                    <input id="checkbox_21" type="checkbox">
                                    <label for="checkbox_21">Andy</label>
                                  </div>
                                </div>

                              </td>
                              <td>Monday</td>
                              <td>12/08/2018</td>
                              <td>
                                Sick
                              </td>
                              <td>
                                --
                              </td>
                              <td>
                                --
                              </td>
                              <td>--</td>
                              <td>--</td>
                              <td>10:12 AM</td>
                              <td>08:40 PM</td>
                              <td>Bi-Weekly</td>
                              <td>07:12</td>
                              <td>
                                <a>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="zenwork-assets-checked-border">
                                <div class="cont-check">
                                  <div class="checkbox">
                                    <input id="checkbox_21" type="checkbox">
                                    <label for="checkbox_21">Andy</label>
                                  </div>
                                </div>

                              </td>
                              <td>Monday</td>
                              <td>12/08/2018</td>
                              <td>
                                Sick
                              </td>
                              <td>
                                --
                              </td>
                              <td>
                                --
                              </td>
                              <td>--</td>
                              <td>--</td>
                              <td>10:12 AM</td>
                              <td>08:40 PM</td>
                              <td>Bi-Weekly</td>
                              <td>07:12</td>
                              <td>
                                <a>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                      <div class="form-group button-section pull-right">
                        <ul class="submit-buttons list-unstyled">
                          <li class="list-item">
                            <button class="btn btn-success btn-style"> Submit </button>
                          </li>
                          <li class="list-item">
                            <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="zenwork-margin-ten-zero">
            <div class="accural-balance-details">
              <div class="field-accordion">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_accuralbalance">
                          <div class="resumes-field-heading">
                            <small class="green">Accural balance details</small>
                          </div>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse_accuralbalance" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="custom-tables">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>
                                  <div class="heade-check">
                                    <div class="checkbox">
                                      <input id="checkbox_accral" type="checkbox">
                                      <label for="checkbox_accral">Name</label>

                                    </div>
                                  </div>

                                </th>
                                <th>Balance-Current</th>
                                <th>Hours Earned This Cycle</th>
                                <th>Scheduled Hours Not Taken Yet</th>
                                <th>Projected Balance as of 12/31</th>
                                <th>Carryover Balance</th>

                                <th>
                                  <a>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                  <a>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="zenwork-assets-checked-border">
                                  <div class="cont-check">
                                    <div class="checkbox">
                                      <input id="checkbox_accural1" type="checkbox">
                                      <label for="checkbox_accural1">Vacation</label>
                                    </div>
                                  </div>
                                </td>
                                <td>15:00</td>
                                <td>05:00</td>
                                <td>
                                  12:00
                                </td>
                                <td>
                                  12:00
                                </td>
                                <td>
                                  04:00
                                </td>
                                <td>
                                  <a>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                  <a>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="zenwork-assets-checked-border">
                                  <div class="cont-check">
                                    <div class="checkbox">
                                      <input id="checkbox_accural2" type="checkbox">
                                      <label for="checkbox_accural2">Vacation</label>
                                    </div>
                                  </div>
                                </td>
                                <td>15:00</td>
                                <td>05:00</td>
                                <td>
                                  12:00
                                </td>
                                <td>
                                  12:00
                                </td>
                                <td>
                                  04:00
                                </td>
                                <td>
                                  <a>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                  <a>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="zenwork-margin-ten-zero">
          </div>
        </div>
        <div id="schedule-time-off" class="tab-pane fade">
          <div class="schedule-type zenwork-padding-right-30 pull-right">
            <button class=" btn btn-success" (click)="openModalWithClass(template)"> Request Time Off</button>
          </div>
          <ng-template #template>
            <div class="modal-header modal-margintop">
              <h4 class="modal-title pull-left green">Request Time Off</h4>
              <div class="clearfix"></div>
            </div>
            <div class="policy-type">
              <div class="schdule-type">
                <label>
                  Select Policy Type
                </label><br>
                <mat-select class="form-control zenwork-input" placeholder="">
                  <mat-option value="support">
                    Vaction
                  </mat-option>
                  <mat-option value="sr-support">
                    Comp-off
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="request-time-off-popup">
              <div class="modal-body">
                <div class="field-accordion">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_timesheet">
                            <div class="resumes-field-heading">
                              <small class="green">Time Sheet</small>
                            </div>
                          </a>
                        </h4>
                        <div class="main-punches-filters">
                          <ul class="list-unstyled search-by-category">
                            <li class="list-item search-category">
                              <ul class="list-unstyled search-category">
                                <li class="list-items">
                                  <small>Select Date Range</small>
                                </li>
                                <li class="list-items">
                                  <select class="form-control zenwork-structure-settings category-field">
                                    <option>Week</option>
                                    <option>2Weeks</option>
                                    <option>Month</option>
                                    <option>Specific date range t1-t2</option>
                                  </select>
                                </li>
                                <li class="list-item search-category">
                                  <label>Begin Date Range(T1)</label>
                                  <input class="form-control category-field" #dpMDYBegindate="bsDatepicker"
                                    bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                    placeholder="mm/dd/yyyy" name="birth-date">
                                  <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                                    alt="Company-settings icon" (click)="dpMDYBegindate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen">
                                </li>
                                <li class="list-item search-category">
                                  <label>End Date Range(T2)</label>
                                  <input class="form-control category-field" #dpMDYEnddate="bsDatepicker" bsDatepicker
                                    formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                    placeholder="mm/dd/yyyy" name="birth-date">
                                  <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                                    alt="Company-settings icon" (click)="dpMDYEnddate.toggle()" [attr.aria-expanded]="dpMDYEnddate.isOpen">
                                </li>
                              </ul>
                            </li>


                          </ul>
                        </div>
                      </div>
                      <div id="collapse_timesheet" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="custom-tables">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>
                                    <div class="heade-check">
                                      <div class="checkbox">
                                        <input id="checkbox20" type="checkbox">
                                        <label for="checkbox20">Name</label>

                                      </div>
                                    </div>

                                  </th>
                                  <th>Day</th>
                                  <th>Date</th>
                                  <th>Time Type</th>
                                  <th>Time In</th>
                                  <th>Time Out</th>
                                  <th>Time In</th>
                                  <th>Time Out</th>
                                  <th>Time In</th>
                                  <th>Time Out</th>
                                  <th>Pay Cycle</th>
                                  <th>Pay Cycle Total</th>
                                  <th>
                                    <a>
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="zenwork-assets-checked-border">
                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21">Andy</label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>Monday</td>
                                  <td>12/08/2018</td>
                                  <td>
                                    Hours Worked
                                  </td>
                                  <td>
                                    10:12 AM
                                  </td>
                                  <td>
                                    08:40 PM
                                  </td>
                                  <td>10:12 AM</td>
                                  <td>08:40 PM</td>
                                  <td>10:12 AM</td>
                                  <td>08:40 PM</td>
                                  <td>Bi-Weekly</td>
                                  <td>07:12</td>
                                  <td>
                                    <a>
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="zenwork-assets-checked-border">
                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21">Andy</label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>Monday</td>
                                  <td>12/08/2018</td>
                                  <td>
                                    Sick
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>--</td>
                                  <td>--</td>
                                  <td>10:12 AM</td>
                                  <td>08:40 PM</td>
                                  <td>Bi-Weekly</td>
                                  <td>07:12</td>
                                  <td>
                                    <a>
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="zenwork-assets-checked-border">
                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21">Andy</label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>Monday</td>
                                  <td>12/08/2018</td>
                                  <td>
                                    Sick
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>--</td>
                                  <td>--</td>
                                  <td>10:12 AM</td>
                                  <td>08:40 PM</td>
                                  <td>Bi-Weekly</td>
                                  <td>07:12</td>
                                  <td>
                                    <a>
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="zenwork-assets-checked-border">
                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21">Andy</label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>Monday</td>
                                  <td>12/08/2018</td>
                                  <td>
                                    Sick
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>
                                    --
                                  </td>
                                  <td>--</td>
                                  <td>--</td>
                                  <td>10:12 AM</td>
                                  <td>08:40 PM</td>
                                  <td>Bi-Weekly</td>
                                  <td>07:12</td>
                                  <td>
                                    <a>
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                          <div class="button-section">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Submit </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="clearfix"></div>
          <div class="accural-balance">
            <ul class="list-unstyled main-head">
              <li class="list-items">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </li>
              <li class="list-items">
                <span class="green">Accural Balances</span>
              </li>
            </ul>
            <div class="">

            </div>
          </div>
          <hr class="zenwork-margin-ten-zero">
          <div class="requested-time-off">
            <div class="field-accordion">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-requested-time-off">
                        <div class="resumes-field-heading">
                          <img src="../../../assets/images/Manager Self Service/Group 1370.png" class="zenwork-request-icon tab-icon"
                            alt="req-img">
                          <small class="green">Requested Time Off</small>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-requested-time-off" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="requested-time-off zenwork-margin-20-zero">
                        <div class="salary-filters">
                          <div class="pull-left ">
                            <ul class="list-unstyled date-list">

                              <li class="list-items approve-notapprove">
                                <ul class="list-unstyled tabs-approve-notapprove">
                                  <li class="list-items border-bottom">
                                    <small>Pending&nbsp;&nbsp;&nbsp;
                                      <b class="green active-dot"> &#9679;</b>
                                    </small>
                                  </li>
                                  <li class="list-items">
                                    <small class="">Completed</small>
                                  </li>
                                </ul>
                              </li>
                            </ul>

                          </div>

                          <span class="pull-right">
                            <ul class="list-unstyled search-category-date">

                              <li class=list-items>
                                <div _ngcontent-c13="" class="company-manage pull-right">
                                  <a _ngcontent-c13="" class="pull-left"><i _ngcontent-c13="" aria-hidden="true" class="fa fa-calendar"></i></a>
                                  <ul _ngcontent-c13="" class="pull-right">
                                    <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                          height="8" src="../../../../../../assets/images/company-settings/site-access/down.png"
                                          width="14"></a></li>
                                    <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                          height="11" src="../../../../../../assets/images/company-settings/site-access/refresh.png"
                                          width="11"></a></li>
                                    <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                          height="11" src="../../../../../../assets/images/company-settings/site-access/expand.png"
                                          width="11"></a></li>
                                  </ul>
                                  <div _ngcontent-c13="" class="clearfix"></div>
                                </div>
                              </li>
                              <div class="clearfix"></div>
                            </ul>
                          </span>
                          <div class="clearfix"></div>
                        </div>
                        <table class="request-table table-responsive">
                          <thead>
                            <th>Employee Name</th>
                            <th>Type of Leave Request</th>
                            <th>Request Date</th>
                            <th>Time Off</th>
                            <th>Action
                              <span>
                                <mat-slide-toggle></mat-slide-toggle>
                              </span>
                            </th>
                            <th>Request Status</th>
                          </thead>
                          <tbody>
                            <tr class="request-emp-tr">
                              <td>
                                <img src="../../../assets/images/Manager Self Service/empoyee_2.png" class="zenwork-emp-icon"
                                  alt="toggle-img">
                                <div class="emp-detail">
                                  <b>Crane Andy</b><br>
                                  <small>Manager</small>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                              <td>
                                <img src="../../../assets/images/Manager Self Service/ic_flight_takeoff_24px.png" class="zenwork-leave-icon"
                                  alt="leave-img"><br>
                                <small class="text-center">Vacation</small>
                              </td>
                              <td>
                                june 26
                              </td>
                              <td>
                                09:30-13:00
                              </td>
                              <td>
                                <mat-slide-toggle></mat-slide-toggle>
                              </td>
                              <td>
                                <b class="inactive-color active-dot"> &#9679;</b>
                              </td>
                            </tr>
                            <tr class="request-emp-tr">
                              <td>
                                <img src="../../../assets/images/Manager Self Service/empoyee_2.png" class="zenwork-emp-icon"
                                  alt="toggle-img">
                                <div class="emp-detail">
                                  <b>Crane Andy</b><br>
                                  <small>Manager</small>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                              <td>
                                <img src="../../../assets/images/Manager Self Service/Group 559.png" class="zenwork-leave-icon"
                                  alt="leave-img"><br>
                                <small class="text-center">Sick</small>
                              </td>
                              <td>
                                june 26
                              </td>
                              <td>
                                09:30-13:00
                              </td>
                              <td>
                                <mat-slide-toggle></mat-slide-toggle>
                              </td>
                              <td>
                                <b class="green active-dot"> &#9679;</b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="time-off-calendar">
            <div class="field-accordion">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_calendar">
                        <div class="resumes-field-heading">
                          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="zenwork-request-calander-icon tab-icon"
                            alt="req-img">
                          <small class="green">Time Off Calendar</small>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse_calendar" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="emp-calendar">
                        
                        <ng-template #modalContent let-close="close">
                          <div class="modal-header">
                            <h5 class="modal-title">Event action occurred</h5>
                            <button type="button" class="close" (click)="close()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div>
                              Action:
                              <pre>{{ modalData?.action }}</pre>
                            </div>
                            <div>
                              Event:
                              <pre>{{ modalData?.event | json }}</pre>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                          </div>
                        </ng-template>

                        <div class="row calander-plugin-head">
                          <div clas="calander-plugin">
                            <ul class="list-unstyled total-main-list">
                              <li class="calanderplugin-list-items">
                                <div class="btn-group">
                                  <div class="monthly-filter" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                                    Day
                                  </div>
                                  <div class="monthly-filter border-bottom" (click)="view = CalendarView.Month"
                                    [class.active]="view === CalendarView.Month">
                                    Month
                                  </div>
                                  <div class="monthly-filter" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
                                    Week
                                  </div>
                                </div>
                              </li>
                              <li class="calanderplugin-list-items">
                                <div class="btn-group">
                                  <div class="monthly-filter" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                    (viewDateChange)="activeDayIsOpen = false">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                  </div>
                                  <div class="monthly-filter" mwlCalendarToday [(viewDate)]="viewDate">
                                    Today
                                  </div>
                                  <div class="monthly-filter" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                    (viewDateChange)="activeDayIsOpen = false">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </li>
                              <li class="calanderplugin-list-items approve-notapprove">
                                <ul class="list-unstyled tabs-approve-notapprove">
                                  <li class="list-items border-bottom">
                                    <small>Approved&nbsp;&nbsp;&nbsp;
                                      <b class="green active-dot"> &#9679;</b>
                                    </small>
                                  </li>
                                  <li class="list-items">
                                    <small class="">Not Approved</small>
                                  </li>
                                </ul>
                              </li>
                              <span class="pull-right main-calendar-filters">
                                <ul class="list-unstyled search-category-date">
                                  <li class="list-items">
                                    <select class="form-control zenwork-structure-settings category-field">
                                      <option>All Employees</option>
                                      <option>Managers</option>
                                    </select>
                                  </li>
                                  <li class=list-items>
                                    <div _ngcontent-c13="" class="company-manage pull-right">
                                      <a _ngcontent-c13="" class="pull-left"><i _ngcontent-c13="" aria-hidden="true"
                                          class="fa fa-calendar"></i></a>
                                      <ul _ngcontent-c13="" class="pull-right">
                                        <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                              height="8" src="../../../../../../assets/images/company-settings/site-access/down.png"
                                              width="14"></a></li>
                                        <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                              height="11" src="../../../../../../assets/images/company-settings/site-access/refresh.png"
                                              width="11"></a></li>
                                        <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                              height="11" src="../../../../../../assets/images/company-settings/site-access/expand.png"
                                              width="11"></a></li>
                                      </ul>
                                      <div _ngcontent-c13="" class="clearfix"></div>
                                    </div>
                                  </li>
                                  <div class="clearfix"></div>
                                </ul>
                              </span>
                              <div class="clearfix"></div>
                            </ul>
                          </div>

                        </div>

                        <div [ngSwitch]="view">
                          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">

                          </mwl-calendar-month-view>
                          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
                          </mwl-calendar-week-view>
                          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
                          </mwl-calendar-day-view>
                        </div>
                        <h3>
                            Edit events
                            <button
                              class="btn btn-primary pull-right"
                              (click)="addEvent()">
                              Add new
                            </button>
                            <div class="clearfix"></div>
                          </h3>
                        
                      </div>
                      <div class="emp-dayily-status">
                        <div class="requested-time-off zenwork-margin-20-zero">
                          <div class="salary-filters">
                            <div class="pull-left">
                              <ul class="list-unstyled date-list">
                                <li class="list-items">
                                  <small>
                                    <span class="green mr-7">
                                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </span>Back
                                  </small>
                                </li>
                                <li class="list-items date-picker">
                                  <span class="salary-date">
                                    <ul class="list-unstyled">
                                      <li class="list-items">
                                        <small class="prev-date"> Dec 16 </small>
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                      </li>
                                      <li class="list-items">
                                        <small class="border-today">Today</small>
                                      </li>
                                      <li class="list-items">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <small class="next-date">Dec 18 </small>
                                      </li>
                                    </ul>
                                  </span>
                                </li>
                                <li class="list-items approve-notapprove">
                                  <ul class="list-unstyled tabs-approve-notapprove">
                                    <li class="list-items border-bottom">
                                      <small>Approved&nbsp;&nbsp;&nbsp;
                                        <b class="green active-dot"> &#9679;</b>
                                      </small>
                                    </li>
                                    <li class="list-items">
                                      <small class="">Not Approved</small>
                                    </li>
                                  </ul>
                                </li>
                              </ul>


                            </div>

                            <span class="pull-right">
                              <ul class="list-unstyled search-category-date day-emp-calendar">

                                <li class=list-items>
                                  <div _ngcontent-c13="" class="company-manage pull-right">
                                    <a _ngcontent-c13="" class="pull-left"><i _ngcontent-c13="" aria-hidden="true"
                                        class="fa fa-calendar"></i></a>
                                    <ul _ngcontent-c13="" class="pull-right">
                                      <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                            height="8" src="../../../../../../assets/images/company-settings/site-access/down.png"
                                            width="14"></a></li>
                                      <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                            height="11" src="../../../../../../assets/images/company-settings/site-access/refresh.png"
                                            width="11"></a></li>
                                      <li _ngcontent-c13=""><a _ngcontent-c13="" href="#"><img _ngcontent-c13="" alt="img"
                                            height="11" src="../../../../../../assets/images/company-settings/site-access/expand.png"
                                            width="11"></a></li>
                                    </ul>
                                    <div _ngcontent-c13="" class="clearfix"></div>
                                  </div>
                                </li>
                                <div class="clearfix"></div>
                              </ul>
                            </span>
                            <div class="clearfix"></div>
                          </div>
                          <table class="request-table table-responsive">
                            <thead>
                              <th>Employee Name</th>
                              <th>Type of Leave Request</th>
                              <th>Request Date</th>
                              <th>Time Off</th>
                              <th>Action
                                <img src="../../../assets/images/Manager Self Service/baseline-toggle_on-24px.png"
                                  class="zenwork-request-icon" alt="toggle-img">
                              </th>
                              <th>Request Status</th>
                            </thead>
                            <tbody>
                              <tr class="request-emp-tr">
                                <td>
                                  <img src="../../../assets/images/Manager Self Service/empoyee_2.png" class="zenwork-emp-icon"
                                    alt="toggle-img">
                                  <div class="emp-detail">
                                    <b>Crane Andy</b><br>
                                    <small>Manager</small>
                                    <div class="clearfix"></div>
                                  </div>
                                </td>
                                <td>
                                  <img src="../../../assets/images/Manager Self Service/ic_flight_takeoff_24px.png"
                                    class="zenwork-leave-icon" alt="leave-img"><br>
                                  <small class="text-center">Vacation</small>
                                </td>
                                <td>
                                  june 26
                                </td>
                                <td>
                                  09:30-13:00
                                </td>
                                <td>
                                  <mat-slide-toggle></mat-slide-toggle>
                                </td>
                                <td>
                                  <b class="inactive-color active-dot"> &#9679;</b>
                                </td>
                              </tr>
                              <tr class="request-emp-tr">
                                <td>
                                  <img src="../../../assets/images/Manager Self Service/empoyee_2.png" class="zenwork-emp-icon"
                                    alt="toggle-img">
                                  <div class="emp-detail">
                                    <b>Crane Andy</b><br>
                                    <small>Manager</small>
                                    <div class="clearfix"></div>
                                  </div>
                                </td>
                                <td>
                                  <img src="../../../assets/images/Manager Self Service/Group 559.png" class="zenwork-leave-icon"
                                    alt="leave-img"><br>
                                  <small class="text-center">Sick</small>
                                </td>
                                <td>
                                  june 26
                                </td>
                                <td>
                                  09:30-13:00
                                </td>
                                <td>
                                  <mat-slide-toggle></mat-slide-toggle>
                                </td>
                                <td>
                                  <b class="green active-dot"> &#9679;</b>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->


        </div>
      </div>

    <!-- </div>
  </div> -->


  <div class="time-schedule-nav col-md-12">

      <ul class="pull-left">
        <li routerLinkActive="active">
          <a [routerLink]="['/admin/admin-dashboard/employee-management/profile/profile-view/time-schedule/work-schedule']">Work Schedule Hours</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/admin/admin-dashboard/employee-management/profile/profile-view/time-schedule/schedule-time']">Schedule Time Off</a>
        </li>
      </ul>
      <div class="clearfix"></div>

</div>
     

<router-outlet></router-outlet>

</div>