.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.main-head .list-items span{
    font-size: 16px; 
}
.zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.emergency-contact{
    margin: 20px 0;
}
.img-personal-icon{
    width: 25px;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #000;
}


.hire-wizard{
    width:100%;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    background: #fff;
}

label{
    font-weight: normal;
    line-height: 30px;
    font-size: 14px;
   margin: 0 0 0 2px;
}
input{

    border:0;
    box-shadow: none;
    font-size: 12px;
 
}
select{
    height:30px;
    font-size: 12px;
}
.schdule-type{
    padding: 0 0 0 10px;
}
.schdule-type mat-select{
    width: 25% !important;
}

.modern-list li{
    padding: 0 0 15px 25px;
}
.work-schedule-filters ul li{
    display: inline-block;
    width: 18%;
}
.work-schedule-filters{
    margin: 20px 0 0 0;
}
.work-schedule-filters ul li .schdule-type .mat-select{
    width: 100% !important;
}   
.work-schedule-filters ul li .schdule-type .zenwork-input{
    background: #fff !important;
}
.work-schedule-filters ul{
    margin: 0 !important;
}
.work-schedule-filters ul .calander-list{
    position: relative;
}
.birthdate{
    font-size: 12px;
    padding-left: 15px;
    box-shadow: none;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.edu-ends-calendar-icon{
    position: absolute;
    top: 37px;
    width: 20px;
    right: 10px;
}
.accural-balance{
    padding: 0px 10px;
}
.accural-balance .main-head .list-items span{
    font-size: 15px;
}
.schedule-type{
    padding: 0 10px;
    position: relative;
}
.schedule-type button{
    background: #439348;
    border-color: #f8f8f8;
    padding: 6px 25px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #439348;
    margin: 15px 0;
}

/* accordian */
.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


.field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
    position: relative;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
}
.field-accordion .panel-title a{
    display: inline-flex;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.main-punches-filters {
    position: absolute;
    top: -24px;
    right: 28px;
}
.main-punches-filters .search-by-category .list-item{
    display: inline-block;
    padding: 0px 5px;
    /* margin: 5px; */
    position: relative;
}
.search-category .list-items{
    display: inline-block;
    padding: 0px 5px;
}
.search-category .list-items small{
    font-size: 14px;
}
.search-category-date .list-items .zenwork-structure-settings{
    height: 40px !important;
}
.zenwork-structure-settings{
    border-radius: 0px!important;
    height:30px;
    width: 23%;
    font-size: 12px;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}
.category-field {
    background: #fff;
    width: 142px;
}


/* tabel */
.custom-fields { display: block;}
.custom-fields .modal-header { width: 90%; margin:0 auto; padding:0 50px 10px; border-bottom: 1px solid #c5c3c3;}
.custom-fields .modal-title { color:#008f3d;}
.custom-fields .modal-dialog { width:70%;}
.custom-fields .modal-content { border: none; padding:30px 0 50px;}

.custom-tables { margin: 0 auto; float: none; padding: 0 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px 7px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px; text-align: center;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>tbody>tr>td a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px 7px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px; text-align: center;}
.custom-fields .checkbox{ margin: 0;}


.heade-check .checkbox label::before {width: 20px; height: 20px;top: -10px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:0px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding: 0px 0 0 5px; line-height: 0px !important; min-height: 0;font-size: 15px;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -10px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 10px 0 0 0px;border-radius: 3px;top: -10px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 5px;line-height: 0px !important;min-height: 0;font-size: 13px;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 2}
    

  .emp-time{
    width: 100%;
    border: 0;
    background: #fff;
  }
  .custom-tables tbody tr .start-time{
    width: 25%;
    position: relative;
}
.custom-tables tbody tr .end-time{
    width: 25%;
    position: relative;
}
.custom-tables tbody tr .start-time .clock-icon,.custom-tables tbody tr .end-time .clock-icon{
  font-size: 17px;
  color: #439348;
  position: absolute;
  top: 20px;
  right: 17px;
  border-left: 1px solid #c7c4c4;
  padding: 0 0 0 5px;
}
.button-section{
      padding: 0 15px 0 0;
  }
.submit-buttons .list-item {
    display: inline-block;
    padding: 0px 10px;
    }
.submit-buttons .btn-success {
    background-color: #439348;
  }
.btn-style {
    padding: 4px 20px !important;
    border-radius: 30px!important;
    font-size: 14px;
    }
.accural-balance-details .custom-tables .heade-check{
    padding: 0 13px 0 0;
    }
 .zenwork-padding-right-30{
    padding: 0 30px 0 0;
}
.requested-time-off thead th{
    padding: 15px 10px !important;
    text-align: center;
    font-size: 15px;
}
.requested-time-off table tbody td{
    text-align: center !important;
}
.requested-time-off b{
    font-weight: normal;
}
.salary-filters .date-list {
    margin: 20px 0 0 0;
}

.salary-filters .date-list .list-items{
    display: inline-block;
    padding: 3px 9px;
}
.salary-filters .date-list .list-items small span i{
    padding: 0 10px 0 0;
}
.salary-filters .date-list .date-picker{
    background: #fff;
    /* height:42px; */
}
.salary-filters small{
    /* float: left; */
    padding: 5px;
}
.approve-notapprove{
    padding: 0 0 0 10px;
    font-size: 12px;
    margin: 10px 0 0 0;
}
.tabs-approve-notapprove{
    margin: 0px 0 0 0;
}
.tabs-approve-notapprove .border-today{
    border-bottom: 2px solid #439348;
}
.tabs-approve-notapprove .border-bottom{
    border-bottom: 2px solid #439348;
    padding: 0 0 8px 0px;
}
.search-category-date{
    margin: 0;   
}
.search-category-date .list-items{
    /* display: inline-block; */
    float: left;
    margin: 0 3px 0 0;
}
.search-category-date .list-items .zenwork-structure-settings{
    height: 40px !important;
}
.category-field {
    background: #fff;
    width: 142px;
}
.company-manage { margin: 0 0 2px;}
.company-manage h3 { font-size: 16px; line-height: 16px; font-weight: normal; color:#008f3d; margin: 0 20px 0 0; padding: 10px 0 0;}
.company-manage ul {margin: 0;}
.company-manage ul li { float: left; background:#fff;}
.company-manage ul li a { display: inline-block; vertical-align: middle; padding: 5px 15px;}
.company-manage a { display: inline-block; background:#fff; padding: 5px 15px; margin: 0 3px 0 0;}
.company-manage a .fa { font-size: 15px;color:#008f3d;}

.request-emp-tr small{
    font-size: 12px;
    color:#3e3e3ea3;
}
.request-emp-tr td{
    font-size: 13px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.request-emp-tr .active-dot{
    font-size: 22px;
}
.request-emp-tr .select-dropdown-td{
    padding-left: 75px;
}
.zenwork-emp-icon{
    display: inline-block;
    vertical-align: middle
}
.emp-detail{
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
    text-align: left;
}
.emp-detail b{
    font-size: 13px;
}
.inactive-color{
    color: #bebebe;
}
table{
    width:100%;
    background: #fff;
}
thead th{
    background-color: #edf7fe;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    padding: 10px;
}
thead th .status-approval{
    vertical-align: super;
    padding: 0 0 0 5px;

}
thead th .edit-delete{
    padding: 0px 10px;  
}
.request-table thead th span{
    vertical-align: -webkit-baseline-middle;
}
.zenwork-request-icon{
    width: 20px;
}
.emp-dayily-status,.requested-time-off{
    padding: 0 20px 0 0;
}

.resumes-field-heading small{
    padding: 0 0 0 5px;
    font-size: 15px;
}
/* second-modal */
.second-modal-heading {
    padding: 15px 0px !important;
}
.second-modal-heading h4{
    font-size: 14px;
    padding: 0 0 0 15px;
    
}
.second-popup-body{
    background: #fff;
}
.second-work-schedule ul li{
    display: inline-block;
}
.second-work-schedule ul .work-title{
    width: 45%;
}
.second-work-schedule ul{
  margin: 0;
  border-bottom: 1px solid #f8f8f8;
}
.second-work-schedule ul .work-title .template{
  background: #f8f8f8;
  border: none;
  width: 100%;
}
.second-work-schedule ul .hiredates-list{
    position: relative;
    padding: 0 0 0 15px;
}
.second-work-schedule ul .hiredates-list .second-popup-calendar-icon{
  position: absolute;
  width: 15px;
  top: 38px;
  right: 17px;
}
/* green checkbox */
.checkbox {
  padding-left: 20px;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 7px;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #439348;
  border-color: #439348;
  border-radius: 3px;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    display: none;
}
/* green checkbox end */
.select-week-days{
  margin: 20px 0 0 0px;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 20px;
}
.select-week-days .main-head-weekdays{
  margin: 0 0 20px 0;
}
.emp-hours-working{
    margin: 20px 0 0 10px;
}
.schdule-type{
    padding: 0 0 0 10px;
}
.schdule-type mat-select{
    width: 25% !important;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    /* background: #f8f8f8; */
    font-size: 16px;
}
 .sidenav-tabs-tabs li a:active,.sidenav-tabs-tabs li a:visited,.sidenav-tabs-tabs li a:focus{
    background: #008f3d !important;
    border-radius: 40px !important;
    color: #fff !important;
    border: transparent !important;
}
.modal-body{
    background:#f8f8f8;
    padding: 0;
}
.tabs-left .nav-tabs{
    padding: 20px;
    border-right: 0;
}
.tab-content{
  margin: 0;
  /* background: #fff; */
}
.sidenav-tabcontent{
    background: #fff !important;
  padding: 30px;

}
.tabs-customize{
    background: #f8f8f8;
    padding:0px!important;
}
.modal-body .container{
    width:100%;
}

/* tabs-end */
.modal-margintop{
    margin-top:40px;
}
/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    /* border-right: 1px solid #ddd; */
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 12px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }
 
input{
  height:30px;
  /* border:1px solid #e5e5e5; */
}
.hiredate{
    width: 100%;
    font-size: 14px;
    padding-left: 13px;
    border: 0;
    background: #f8f8f8;
  }
.work-schedule .list-items{
    display: inline-block;
    margin: 0px 10px 0 0;
    width: 25%;
}
.work-schedule .list-items .benefits-dropdown{
    width: 100% !important;
    background: #f8f8f8;
}
/* second-popup */
.request-time-off-popup .modal-body{
    background: #fff !important;
    padding: 30px !important;
}
.request-time-off-popup .modal-body .custom-tables .table>tbody>tr>td,.fist-popup-modal .custom-tables .table>tbody>tr>td{
    background: #f8f8f8 !important;
}
.request-time-off-popup .field-accordion .panel-default > .panel-heading {
    background: #fff !important;
}
.request-time-off-popup .custom-tables{
    padding: 0 ! important;
}
.request-time-off-popup .category-field{
    background: #f8f8f8;
}
.request-time-off-popup .field-accordion .panel{
    background: #fff !important;
}
.request-time-off-popup .main-punches-filters{
    position: absolute;
    top: -24px;
    right: -8px;
}
.emp-calendar{
    padding: 0 20px 0 0px;
    width: 98%;
    margin: 0 0 30px 0;
}
.policy-type{
    padding: 30px 20px 0 20px;
    width: 70%;
}
.total-main-list{
    margin: 0 !important;
}
.calander-plugin .calanderplugin-list-items .btn-group a{
    cursor: pointer;
}
.tabs-approve-notapprove .border-today{
    border-bottom: 2px solid #439348;
}
.tabs-approve-notapprove .border-bottom{
    border-bottom: 2px solid #439348;
    padding: 0 0 10px 0px;
}
.tabs-approve-notapprove .list-items{
    padding: 5px 10px;
    display: inline-block;
}
.tabs-approve-notapprove .list-items small{
    font-size: 14px;
}

.search-category-date .list-items{
    /* display: inline-block; */
    float: left;
    margin: 10px 3px 0 0;
}
.search-category-date .list-items .zenwork-structure-settings{
    height: 30px !important;
}
.main-calendar-filters{
    padding: 0 12px 0 0;
}
.day-emp-calendar{
    margin: 10px 0 0 0;
}
.zenwork-emergency-tab { float:none; margin: 0 auto; padding: 0;}




/*--------- Suresh M  Time-Schedule Css codeee -----------*/

.time-schedule-nav { float: none; margin:25px 0 0; border-bottom: #cecece 1px solid; padding: 0 15px 30px;clear: both;}
.time-schedule-nav ul { padding: 10px 0 0;}
.time-schedule-nav ul li{ float: left; margin: 0 20px 0 0;}
.time-schedule-nav ul li a{ color: #5f5f5f; padding:10px 15px; font-size: 16px;border-radius: 4px;}
.time-schedule-nav ul li.active a { color: #fff; background: #5f5f5f;}

