<div class="pad-40-5">
  <div class="confirm-head">
    <p>{{successTxt.txt}}</p>
    <p class="note" *ngIf = "successTxt.note">{{successTxt.note}}</p>
    <p *ngIf = "successTxt1">{{successTxt1}}</p>
  </div>
  <div class="text-center bor-top pad-10">
    <button class="btn cancell-btn" (click)="onNoClick()">{{buttonText1}}</button>

    <button class="btn confirm-btn" (click)="confirm()">{{buttonText2}}</button>
  </div>
</div>