<div class="zenwork-create-client-wrapper">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <h4 class="modal-title green">Add/Edit-User Profile</h4>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="addProfile()" #f="ngForm">

  <div class="modal-body">
    <div class="create-client-form-wrapper">
      <div class="col-xs-5">

        <div class="form-group">
          <label>
            Profile Name<sup class="mandatory-red">*</sup>
          </label>
          <input type="text" class="form-control zenwork-input" placeholder="Enter Name" [(ngModel)]="createZenworker.name"
          name="name" required #profileName ="ngModel" [ngClass]="{ 'is-invalid': f.submitted && profileName.invalid }">
          <span *ngIf="(f.submitted && profileName.invalid) || (profileName.touched && profileName.invalid)"
          style="color:#e44a49; padding:6px 0 0;">Enter name</span>
        </div>

        <div class="form-group">
          <label>
            Profile Description<sup class="mandatory-red">*</sup>
          </label>
          <input type="email" class="form-control zenwork-input" placeholder="Profle Desciprtion" [(ngModel)]="createZenworker.description"
          name="description" required #profileDescription ="ngModel" [ngClass]="{ 'is-invalid': f.submitted && profileDescription.invalid }">
          <span *ngIf="(f.submitted && profileDescription.invalid) || (profileDescription.touched && profileDescription.invalid)"
          style="color:#e44a49; padding:6px 0 0;">Enter Description</span>
        </div>

        <div class="form-group">
          <label>
          Level of Access<sup class="mandatory-red">*</sup>
          </label>
          <mat-select class="form-control zenwork-input" placeholder="level of access" [(ngModel)]="createZenworker.access"
          name="access" required #LevelAccess ="ngModel" [ngClass]="{ 'is-invalid': f.submitted && LevelAccess.invalid }">
            <mat-option value="view">
              View Only
            </mat-option>
            <mat-option value="full">
              Full Access
            </mat-option>
          </mat-select>
          <span *ngIf="(f.submitted && LevelAccess.invalid) || (LevelAccess.touched && LevelAccess.invalid)"
          style="color:#e44a49; padding:6px 0 0;">Enter Access</span>
        </div>
      
        <div class="form-group">
          <label>
            Select Clients<sup class="mandatory-red">*</sup>
          </label>
          <mat-select class="form-control zenwork-input" placeholder="select client" 
          >
            <mat-option value="active">
              All Clients
            </mat-option>
            <mat-option value="inactive">
              Resellers
            </mat-option>
          </mat-select>

          <!-- <span *ngIf="(f.submitted && SelectClients.invalid) || (SelectClients.touched && LevelAccess.invalid)"
          style="color:#e44a49; padding:6px 0 0;">Enter Access</span> -->

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success zenwork-custom-proceed-btn" (click)="addProfile()">Proceed</button>
    <button type="button" class="btn zenwork-customized-transparent-btn" (click)="this.dialogRef.close();">Cancel</button>
  </div>
</form>
</div>