
<div class="policy-bg">
  <div class="policy-heading">   
    <h4 class="policy-title">
    Company Policies
 
    <span class="pull-right">
      <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu" class="option-position">

          <button *ngIf="!checkIds.length >=1" mat-menu-item class="edit-color" >
              <a data-toggle="modal" data-target="#myModal">Add</a>
          </button>
      
        <button mat-menu-item class="edit-color" *ngIf="(!checkIds.length <=0) && (checkIds.length ==1)">
            <a (click)="editCompanyPolicy()" >Edit</a>
            <a data-toggle="modal" data-target="#myModal" #openEdit></a>
        </button>
        <button *ngIf="(!checkIds.length <=0) && (checkIds.length >=1)" mat-menu-item class="edit-color" (click)="deleteCompanyPolicy()">Delete</button>
      </mat-menu>
    </span>   </h4>

  </div>
 
      <div class="form-group">
        <p class="email-templates" *ngFor="let file of getFileName" [ngClass]="{'zenwork-checked-border': file.isChecked}">
            <span class="mar-right-15">
                <mat-checkbox class="checkbox-success" [(ngModel)]="file.isChecked" (change)="checkedIds($event, file._id)">
                </mat-checkbox>
              </span>
          
                  {{file.givenFileName}}
               
              <span style="position: relative">
                  <a href="{{file.url}}" target="_blank">
                  <i class="material-icons download-icon">
                      cloud_download
                      </i>
                    </a>
              </span>   
        </p>

      </div>
    </div>


    <div class="training-modal">

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
               <h4>Upload Company Policy</h4>
              </div>
              <div class="modal-body">
                
                <div class="training-class">
                 <form (ngSubmit)="uploadPolicy(policyForm)" #policyForm="ngForm">
                  <ul>
      
                    <li>
                        <label>Select File*</label>
                        <input type="file" id="fileUpload" accept=".doc,.docx,application/msword,.xlsx, .xls,application/pdf" (change)="fileChangeEvent($event)" [(ngModel)]="files" name="emailTemplate"  #emailTemplate="ngModel" required>
                        <label for="fileUpload" class="browse-btn">
                      <a mat-menu-item class="edit-color upload">Browse</a>   
                       </label>
                       <span *ngIf="fileName">{{fileName}}</span>
                       <p *ngIf="!fileName && isValid" class="error"> Please select one file to upload </p>

                    </li>
                    
                    
                    <li>
                        <label>Policy Name*</label>
                        <input type="text" class="form-control" [(ngModel)]="givenFileName" name="emailFileName" #emailFileName="ngModel" (keypress)="alphabets($event)" maxlength="40" minlength="40" required>
                      <p *ngIf="!givenFileName && emailFileName.touched || (!givenFileName && isValid)" class="error">Please provide policy name</p>

                    </li>
                    
                  </ul>
                  
      
                  <button type="submit" class="cancel" data-dismiss="modal" (click)="cancelPolicies()">Cancel</button>
                  <button type="submit" class="save" >Submit</button>
                  <div class="clearfix"></div>
                </form>
                </div>
               
              
              </div>
              
            </div>
        
          </div>
        </div>
      
      </div>


