<div class="manager-main col-md-11">

<!-- <div class="user-nav"> 

  <div class="user-lft pull-left">
    <ul>
      <li><a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/view/system-view">Employee View</a></li>
      <li><a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/view/system-view">Manage View</a></li>
      <li><a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/view/system-view">HR View</a></li>
      <li [routerLinkActive]="['active']" ><a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/view/system-view">System Admin View</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="user-rgt pull-right">
      <small><i class="fa fa-user" aria-hidden="true"></i></small>
      <a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/manager-service" class="btn">Manager Self Service</a>
  </div>

  <div class="clearfix"></div>
</div>

<router-outlet></router-outlet> -->

<div class="">
  
</div>



</div>

