<div class="company-details-wrapper">
    <div class="stepper">
  
      <mat-horizontal-stepper [linear]="true" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
  
        <mat-step label="Client Details">

          <!-- <form #loginForm="ngForm">
            <div class="company-details">
              <div class="col-xs-4">
  
                <div class="form-group">
                  <label>Company Legal Name*</label>
                  <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name"
                    [(ngModel)]="companyDetails.name" name="name" required>
                </div>
                <div class="form-group">
                  <label>Trade Name*</label>
                  <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                    [(ngModel)]="companyDetails.tradeName" name="tradeName" required>
                </div>
                <div class="form-group">
                  <label>Email*</label>
                  <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Email"
                    [(ngModel)]="companyDetails.email" name="email" required>
                </div>
                <div class="form-group">
                  <label>Estimated Number of Employees*</label>
                  <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="No. of Employees"
                    [(ngModel)]="companyDetails.employeCount" name="employeCount" required>
                </div>
                <div class="form-group">
                  <label>Referral By</label>
                  <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Referral Company Name"
                    [(ngModel)]="companyDetails.referralcompany" name="referral">
                </div>
                <div class="form-group">
                  <div class="col-xs-6 padding-left-zero">
                    <label>Add client as a Reseller?</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client / Reseller"
                      [(ngModel)]="companyDetails.type" name="type" required>
                      <mat-option value="reseller">
                        Yes
                      </mat-option>
                      <mat-option value="company">
                        No
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type == 'company'">
                    <div class="form-group">
                      <label>Client Belongs to Reseller?</label>
                      <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                        placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller" [ngModelOptions]="{standalone:true}">
                        <mat-option value="true">
                          Yes
                        </mat-option>
                        <mat-option value="false">
                          No
                        </mat-option>
                      </mat-select>
                    </div>
                    <div class="form-group" *ngIf="companyDetails.belongsToReseller == 'true'">
                      <label>Select Reseller</label>
                      <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                        placeholder="Client / Reseller" [(ngModel)]="companyDetails.resellerId" (ngModelChange)="selectedReseller($event)"
                        [ngModelOptions]="{standalone:true}">
                        <mat-option value="{{reseller._id}}" *ngFor="let reseller of resellersList">
                          {{reseller.name}}
                        </mat-option>
  
                      </mat-select>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
  
              </div>
              <div class="clearfix"></div>
  
            </div>
            <div class="buttons">
              <ul class="list-unstyled">
                <li class="list-items">
                  <a class="back" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Back</a>
                </li>
                <li class="list-items">
                  <a class="cancel" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Cancel</a>
                </li>
                <li class="list-items pull-right">
                  <button class='save' (click)="createCompany(stepper)" [class.disabled]="loginForm.form.invalid"
                    [disabled]="loginForm.form.invalid" mdStepperNext>
                    save&continue
                  </button>
                </li>
  
                <div class="clearfix"></div>
              </ul>
            </div>
          </form> -->

          <form #loginForm="ngForm" (ngSubmit)="f.form.valid && createCompany(stepper)" #f="ngForm">
              <div class="company-details">
                <div class="col-xs-4">
                  
                  <div class="form-group">
                    <label>Company Legal Name*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name"
                      [(ngModel)]="companyDetails.name" name="name" required #companyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }">
                      <span *ngIf="(f.submitted && companyName.invalid) || (companyName.touched && companyName.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter company name</span>
                  </div>
    
                  
                  <div class="form-group">
                    <label>Trade Name*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                      [(ngModel)]="companyDetails.tradeName" name="tradeName" required #companyTrade="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyTrade.invalid }">
                      <span *ngIf="(f.submitted && companyTrade.invalid) || (companyTrade.touched && companyTrade.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter trade name</span>
                  </div>
                  <div class="form-group">
                    <label>Email*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Email"
                      [(ngModel)]="companyDetails.email" name="email" required #emailer="ngModel" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                      [ngClass]="{ 'is-invalid': f.submitted && emailer.invalid }">
                      <span *ngIf="(f.submitted && emailer.invalid) || (emailer.touched && emailer.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter email</span>
                  </div>
                  <div class="form-group">
                    <label>Estimated Number of Employees*</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="No. of Employees"
                      [(ngModel)]="companyDetails.employeCount" name="employeCount" required #count="ngModel" [ngClass]="{ 'is-invalid': f.submitted && count.invalid }">
                      <span *ngIf="(f.submitted && count.invalid) || (count.touched && count.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter employee</span>
                  </div>
                  <div class="form-group">
                    <label>Referral By</label>
                    <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Referral Company Name"
                      [(ngModel)]="companyDetails.referralcompany" name="referral">
                      <!-- <span *ngIf="(f.submitted && referal.invalid) || (referal.touched && referal.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter referal name</span> -->
                  </div>
                  <div class="form-group">
                    <div class="col-xs-6 padding-left-zero">
                      <label>Add client as a Reseller?</label>
                      <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client / Reseller"
                        [(ngModel)]="companyDetails.type" name="type" required #reseller="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reseller.invalid }">
                        <mat-option value="reseller">
                          Yes
                        </mat-option>
                        <mat-option value="company">
                          No
                        </mat-option>
                      </mat-select>
                      <span *ngIf="(f.submitted && reseller.invalid) || (reseller.touched && reseller.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter reseller</span>
                    </div>
    
                    <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type == 'company'">
                      <div class="form-group">
                        <label>Client Belongs to Reseller?</label>
                        <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                          placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller" [ngModelOptions]="{standalone:true}" 
                          required #belongReseller="ngModel" [ngClass]="{ 'is-invalid': f.submitted && belongReseller.invalid }">
                          <mat-option value="true">
                            Yes
                          </mat-option>
                          <mat-option value="false">
                            No
                          </mat-option>
                        </mat-select>
                        <span *ngIf="(f.submitted && belongReseller.invalid) || (belongReseller.touched && belongReseller.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter client reseller</span>
                      </div>
    
                      <div class="form-group" *ngIf="companyDetails.belongsToReseller == 'true'">
                        <label>Select Reseller</label>
                        <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                          placeholder="Client / Reseller" [(ngModel)]="companyDetails.resellerId" (ngModelChange)="selectedReseller($event)"
                          [ngModelOptions]="{standalone:true}" required #resellerId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && resellerId.invalid }">
                          <mat-option value="{{reseller._id}}" *ngFor="let reseller of resellersList">
                            {{reseller.name}}
                          </mat-option>
    
                        </mat-select>
                      <span *ngIf="(f.submitted && resellerId.invalid) || (resellerId.touched && resellerId.invalid)" style="color:#e44a49; padding:6px 0 0;">Select reseller</span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
    
                </div>
                <div class="clearfix"></div>
    
              </div>
              <div class="buttons">
                <ul class="list-unstyled">
                  <li class="list-items">
                    <a class="back" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Back</a>
                  </li>
                  <li class="list-items">
                    <a class="cancel" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Cancel</a>
                  </li>
                  <li class="list-items pull-right">
                    <button class='save' mdStepperNext type="submit">
                      save&continue
                    </button>
                  </li>
    
                  <div class="clearfix"></div>
                </ul>
              </div>
            </form>

        </mat-step>
        <mat-step label="Packages & Billing">
  
          <div class="package-billing-main">
  
            <div class="col-md-7 discount-block">
              <ul class="list-unstyled discount-heading">
                <li class="list-items">
                  <span [ngClass]="{'border-bottom-green':!selectedPackage.wholeSaleDiscount}">Whole sale discount
                    <br>
                    <small>(Reseller is billed)</small>
                  </span>
  
                </li>
                <li class="list-items">
                  <mat-slide-toggle [(ngModel)]="selectedPackage.wholeSaleDiscount" (change)="wholesaleDiscountChange($event)"></mat-slide-toggle>
                </li>
                <li class="list-items">
                  <span [ngClass]="{'border-bottom-green':selectedPackage.wholeSaleDiscount}">Direct discount
                    <br>
                    <small>(Client is billed)</small>
                  </span>
  
                </li>
                <li class="list-items">
                  <button class="btn" (click)="addAnotherAddOn()">
                    <small>
                      <i aria-hidden="true" class="fa fa-plus"></i>
                    </small> Add-On
                  </button>
                </li>
              </ul>
              <div class="package-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Package</th>
                      <th>Add-On
                        <span class="green">+</span>
                      </th>
                      <th>
                        Discount
                      </th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="package-name">
                        <mat-select class="form-control zenwork-input package-table-select" [(ngModel)]="selectedPackage.name"
                          placeholder="Select Package" (ngModelChange)="getSpecificPackageDetails()">
                          <mat-option [value]="package.name" *ngFor="let package of packages">
                            {{package.name}}
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
  
                      </td>
                      <td>
                        <!-- <mat-select class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                          [(ngModel)]="discountValue" placeholder="Select Package" (ngModelChange)="discountBasePrice()">
                          <mat-option [value]="discount.value" *ngFor="let discount of dicountArray">
                            {{discount.viewValue}}
                          </mat-option>
                        </mat-select> -->
                        <input type="text" (keypress)="keyPress($event)"
                        class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                        [(ngModel)]="discountValue" placeholder="discount" (ngModelChange)="discountBasePrice()">
                      </td>
                      <td>
                        <div class="date">
                          {{selectedPackage.startDate | date}}
                          <div class="clearfix"></div>
                        </div>
                      </td>
                      <td>
  
                        <div class="date">
                          <!-- {{selectedPackage.endDate | date}} -->
                          --
                          <div class="clearfix"></div>
                        </div>
  
                      </td>
                    </tr>
                    <tr *ngFor="let packageAddon of selectedPackage.addOns">
                      <td>
  
                      </td>
                      <td class="add-on-type">
                        <span class="add-on-cancel" (click)="addonRemove(packageAddon.selectedAddOn)">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                        <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="Select Add-on"
                          [(ngModel)]="packageAddon.selectedAddOn" (ngModelChange)="addOnChange(packageAddon.selectedAddOn)">
                          <mat-option [value]="addOn.name" *ngFor="let addOn of allAddOns">
                            {{addOn.name}}
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
  
                      </td>
                      <td>
                        {{selectedPackage.startDate | date }}
                      </td>
                      <td>
                        {{selectedPackage.endDate | date}}
                      </td>
                    </tr>
                    <!-- <tr>
                        <td>
    
                        </td>
                        <td class="add-on-type">
                          <span class="add-on-cancel">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                          </span>
                          <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="BioMetric Access/Time Stamp">
                            <mat-option value="ACA">
                              BioMetric Access/Time Stamp
                            </mat-option>
                            <mat-option value="BioMetric">
                              ACA Comliance
                            </mat-option>
                            <mat-option value="Basic">
                              Advanced Training
                            </mat-option>
                          </mat-select>
                        </td>
                        <td>
                          12/12/2018
                        </td>
                        <td>
                          12/12/2019
                        </td>
                      </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
  
  
  
             
  
             
            <div class="clearfix"></div>
          </div>
          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" (click)="goBack(stepper)">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Cancel</a>
              </li>
              <li class="list-items pull-right">
                <button class='save' (click)="savePackageDetails(stepper)" mdStepperNext>
                  save&continue
                </button>
              </li>
  
              <div class="clearfix"></div>
            </ul>
          </div>
        </mat-step>
  
        <mat-step label="Contact Details">
  
          <!-- <div class="contact-wrapper">
            <div class="col-xs-4">
              <ul class="zenwork-margin-bottom-zero">
                <li>
                  <h3>Contact Details</h3>
                </li>
                <li>
                  <h4>Primary Company Contact*</h4>
                </li>
                <li class="phone-width">
                  <div class="phone">
                    
                    <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyContact.name">
                  </div>
                </li>
                <li>
                  <h4>Email</h4>
                </li>
                <li class="col-md-12">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyContact.email">
                  </div>
                </li>
                <div class="clearfix"></div>
                <li>
                  <h4>Phone</h4>
                </li>
                <li class="col-md-9">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="companyContact.phone">
                  </div>
                </li>
                <li class="col-md-2 right-text">
  
                  <input type="text" class="form-control" placeholder="Ext" [(ngModel)]="companyContact.extention ">
  
                </li>
  
                <div class="clearfix"></div>
  
              </ul>
              <div class="form-group">
                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyContact.isPrimaryContactIsBillingContact"></mat-checkbox>
                <small>Is Primary Contact same as billing Contact ?</small>
              </div>
            </div>
            <div class="col-xs-4 billing-company-contact">
              <ul *ngIf="!companyContact.isPrimaryContactIsBillingContact ">
                <li>
                  <h4>Billing Company Contact</h4>
                </li>
                <li class="phone-width">
                  <div class="phone">
                    
                    <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="billingContact.name">
                  </div>
                </li>
                <li>
                  <h4>Email</h4>
                </li>
                <li class="col-md-9">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="billingContact.email">
                  </div>
                </li>
                <div class="clearfix"></div>
                <li>
                  <h4>Phone</h4>
                </li>
                <li class="col-md-8">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="billingContact.phone">
                  </div>
                </li>
                <li class="col-md-2 right-text">
  
                  <input type="number" class="form-control" placeholder="Ext" [(ngModel)]="billingContact.extention ">
  
                </li>
  
                <div class="clearfix"></div>
  
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
  
  
          <div class="address-wrapper">
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <h3>
                Address Details
              </h3>
              <h4>
                Company Address*
              </h4>
              <ul class="zenwork-margin-bottom-zero">
                <li class="col-md-12">
                  <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="address.address1">
                </li>
                <li class="col-md-12">
                  <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="address.address2">
                </li>
              </ul>
  
              <ul class="zenwork-margin-bottom-zero">
                <li class="state col-md-4">
                  <input type="text" placeholder="City" class="form-control" [(ngModel)]="address.city">
                </li>
                <li class="city col-md-4">
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State"
                    [(ngModel)]="address.state">
                    <mat-option value="newyork">
                      New York
                    </mat-option>
                    <mat-option value="washington">
                      Washington
                    </mat-option>
                    <mat-option value="florida">
                      Florida
                    </mat-option>
                  </mat-select>
                </li>
                <li class="zip col-md-4">
                  <input type="text" placeholder="Zip" class="form-control" [(ngModel)]="address.zipcode">
                </li>
  
                <li class="col-md-4 united-state">
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder=" Country"
                    [(ngModel)]="address.country">
                    <mat-option value="United States">
                      USA
                    </mat-option>
                  </mat-select>
                </li>
                <div class="clearfix"></div>
              </ul>
              <div class="clearfix"></div>
              <div class="form-group">
                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="address.isPrimaryAddressIsBillingAddress"></mat-checkbox>
                <small>Is Primary Address same as billing address ?</small>
              </div>
            </div>
  
            <div class="col-xs-5" *ngIf="!address.isPrimaryAddressIsBillingAddress">
              <h2>
                Billing Company Address*
              </h2>
              <ul class="zenwork-margin-bottom-zero">
                <li class="col-md-12">
                  <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="billingAddress.address1">
                </li>
                <li class="col-md-12">
                  <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="billingAddress.address2">
                </li>
              </ul>
  
              <ul class="zenwork-margin-bottom-zero">
                <li class="state col-md-4">
                  <input type="text" placeholder="City" class="form-control" [(ngModel)]="billingAddress.city">
                </li>
                <li class="city col-md-4">
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State"
                    [(ngModel)]="billingAddress.state">
                    <mat-option value="newyork">
                      New York
                    </mat-option>
                    <mat-option value="washington">
                      Washington
                    </mat-option>
                    <mat-option value="florida">
                      Florida
                    </mat-option>
                  </mat-select>
                </li>
                <li class="zip col-md-4">
                  <input type="text" placeholder="Zip" class="form-control" [(ngModel)]="billingAddress.zipcode">
                </li>
  
                <li class="col-md-4 united-state">
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Country"
                    [(ngModel)]="billingAddress.country">
                    <mat-option value="United States">
                      USA
                    </mat-option>
                  </mat-select>
                </li>
                <div class="clearfix"></div>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" (click)="goBack(stepper)">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel">Cancel</a>
              </li>
              <li class="list-items pull-right">
                <button class='save' (click)="saveAddressDetails()" mdStepperNext>
                  save&continue
                </button>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div> -->
          
          <div class="contact-wrapper">
              <div class="col-xs-4">
                <ul class="zenwork-margin-bottom-zero">
                  <li>
                    <h3>Contact Details</h3>
                  </li>
                  <li>
                    <h4>Primary Company Contact*</h4>
                  </li>
                  <li class="phone-width">
                    <div class="phone">
                      <!-- <span>
                          <i class="fa fa-mobile" aria-hidden="true"></i>
                        </span> -->
                      <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyContact.name" required #contact="ngModel">
    
                    </div>
                    <span *ngIf="contact.invalid && contact.touched" style="color:#e44a49; padding:6px 0 0;">Please enter contact name</span>
                  </li>
                  <li>
                    <h4>Email</h4>
                  </li>
                  <li class="col-md-12">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="email" name="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyContact.email" required
                        #workEmail="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
    
                    </div>
                    <span *ngIf="workEmail.invalid && workEmail.touched" style="color:#e44a49; padding:6px 0 0;">Please enter work email</span>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <h4>Phone</h4>
                  </li>
                  <li class="col-md-9">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input class="form-control" placeholder="Work Phone" [(ngModel)]="companyContact.phone" required #workPhone="ngModel" (keypress)="keyPress($event)"
                        minlength=10 maxlength=10>
                    </div>
                    <span *ngIf="workPhone.invalid && workPhone.touched" style="color:#e44a49; padding:6px 0 0;">Please enter work phone</span>
                  </li>
                  <li class="col-md-2 right-text">
    
                    <input type="text" class="form-control" placeholder="Ext" (keypress)="keyPress($event)" [(ngModel)]="companyContact.extention" maxlength="4" required #ext="ngModel">
                    <span *ngIf="ext.invalid && ext.touched" style="color:#e44a49; padding:6px 0 0;">Extention</span>
                  </li>
    
                  <div class="clearfix"></div>
    
                </ul>
                <div class="form-group">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyContact.isPrimaryContactIsBillingContact"></mat-checkbox>
                  <small>Is Primary Contact same as billing Contact ?</small>
                </div>
              </div>
              <div class="col-xs-4 billing-company-contact">
                <ul *ngIf="!companyContact.isPrimaryContactIsBillingContact ">
                  <li>
                    <h4>Billing Company Contact</h4>
                  </li>
                  <li class="phone-width">
                    <div class="phone">
                      <!-- <span>
                          <i class="fa fa-mobile" aria-hidden="true"></i>
                        </span> -->
                      <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="billingContact.name" required #billingName="ngModel">
                    </div>
                    <span *ngIf="billingName.invalid && billingName.touched" style="color:#e44a49; padding:6px 0 0;">Please enter billing name</span>
                  </li>
                  <li>
                    <h4>Email</h4>
                  </li>
                  <li class="col-md-9">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input type="email" name="email" class="form-control" placeholder="Work Email" [(ngModel)]="billingContact.email" required
                        #billingEmail="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    </div>
                    <span *ngIf="billingEmail.invalid && billingEmail.touched" style="color:#e44a49; padding:6px 0 0;">Please enter work email</span>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <h4>Phone</h4>
                  </li>
                  <li class="col-md-8">
                    <div class="phone">
                      <span>
                        <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                      </span>
                      <input class="form-control" placeholder="Work Phone" [(ngModel)]="billingContact.phone" required #billingPhone="ngModel"
                        (keypress)="keyPress($event)" minlength=10 maxlength=10>
                    </div>
                    <span *ngIf="billingPhone.invalid && billingPhone.touched" style="color:#e44a49; padding:6px 0 0;">Please enter work phone</span>
                  </li>
                  <li class="col-md-2 right-text">
    
                    <input type="text" class="form-control" placeholder="Ext" (keypress)="keyPress($event)" [(ngModel)]="billingContact.extention " maxlength="4" required #extn="ngModel">
                    <span *ngIf="extn.invalid && extn.touched" style="color:#e44a49; padding:6px 0 0;">Extention</span>
                  </li>
    
                  <div class="clearfix"></div>
    
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
    
    
            <div class="address-wrapper">
              <div class="clearfix"></div>
              <div class="col-xs-5">
                <h3>
                  Address Details
                </h3>
                <h4>
                  Company Address*
                </h4>
                <ul class="zenwork-margin-bottom-zero">
                  <li class="col-md-12">
                    <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="address.address1" required #companyAddress="ngModel">
                    <span *ngIf="companyAddress.invalid && companyAddress.touched" style="color:#e44a49; padding:6px 0 0;">Please enter company address</span>
                  </li>
                  <li class="col-md-12">
                    <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="address.address2" required #companyAddress1="ngModel">
                    <span *ngIf="companyAddress1.invalid && companyAddress1.touched" style="color:#e44a49; padding:6px 0 0;">Please enter company address</span>
                  </li>
                </ul>
    
                <ul class="zenwork-margin-bottom-zero">
                  <li class="state col-md-4">
                    <input type="text" placeholder="City" class="form-control" [(ngModel)]="address.city" required #companyCity="ngModel">
                    <span *ngIf="companyCity.invalid && companyCity.touched" style="color:#e44a49; padding:6px 0 0;">Enter city</span>
                  </li>
                  <li class="city col-md-4">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State" [(ngModel)]="address.state"
                      required #companyState="ngModel">
                      <mat-option *ngFor="let data of allStates" [value]="data.name">
                        {{data.name}}
                      </mat-option>
                      <!-- <mat-option value="washington">
                        Washington
                      </mat-option>
                      <mat-option value="florida">
                        Florida
                      </mat-option> -->
                    </mat-select>
                    <span *ngIf="companyState.invalid && companyState.touched" style="color:#e44a49; padding:6px 0 0;">Enter state</span>
                  </li>
                  <li class="zip col-md-4">
                    <input type="text" placeholder="Zip" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="address.zipcode" minlength="5" required #companyZip="ngModel">
                    <span *ngIf="companyZip.invalid && companyZip.touched" style="color:#e44a49; padding:6px 0 0;">Enter zip</span>
                  </li>
    
                  <li class="col-md-4 united-state">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder=" Country" [(ngModel)]="address.country"
                      required #companyCountry="ngModel">
                      <mat-option value="United States">
                        USA
                      </mat-option>
                    </mat-select>
                    <span *ngIf="companyCountry.invalid && companyCountry.touched" style="color:#e44a49; padding:6px 0 0;">Enter country</span>
                  </li>
                  <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
                <div class="form-group">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="address.isPrimaryAddressIsBillingAddress"></mat-checkbox>
                  <small>Is Primary Address same as billing address ?</small>
                </div>
              </div>
    
              <div class="col-xs-5" *ngIf="!address.isPrimaryAddressIsBillingAddress">
                <h2>
                  Billing Company Address*
                </h2>
                <ul class="zenwork-margin-bottom-zero">
                  <li class="col-md-12">
                    <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="billingAddress.address1" required #billingAddress="ngModel">
                    <span *ngIf="billingAddress.invalid && billingAddress.touched" style="color:#e44a49; padding:6px 0 0;">Please enter company address</span>
                  </li>
                  <li class="col-md-12">
                    <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="billingAddress.address2" required #billingAddress1="ngModel">
                    <span *ngIf="billingAddress1.invalid && billingAddress1.touched" style="color:#e44a49; padding:6px 0 0;">Please enter company address</span>
                  </li>
                </ul>
    
                <ul class="zenwork-margin-bottom-zero">
                  <li class="state col-md-4">
                    <input type="text" placeholder="City" class="form-control" [(ngModel)]="billingAddress.city" required #billingCity="ngModel">
                    <span *ngIf="billingCity.invalid && billingCity.touched" style="color:#e44a49; padding:6px 0 0;">Enter city</span>
                  </li>
                  <li class="city col-md-4">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State" [(ngModel)]="billingAddress.state"
                      required #billingState="ngModel">
                      <mat-option *ngFor="let data of allStates" [value]="data.name">
                        {{data.name}}
                      </mat-option>
                      <!-- <mat-option value="washington">
                        Washington
                      </mat-option>
                      <mat-option value="florida">
                        Florida
                      </mat-option> -->
                    </mat-select>
                    <span *ngIf="billingState.invalid && billingState.touched" style="color:#e44a49; padding:6px 0 0;">Enter state</span>
                  </li>
                  <li class="zip col-md-4">
                    <input type="text" placeholder="Zip" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="billingAddress.zipcode" minlength="5" required #billingZip="ngModel">
                    <span *ngIf="billingZip.invalid && billingZip.touched" style="color:#e44a49; padding:6px 0 0;">Enter zip</span>
                  </li>
    
                  <li class="col-md-4 united-state">
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Country" [(ngModel)]="billingAddress.country"
                      required #billingCountry="ngModel">
                      <mat-option value="United States">
                        USA
                      </mat-option>
                    </mat-select>
                    <span *ngIf="billingCountry.invalid && billingCountry.touched" style="color:#e44a49; padding:6px 0 0;">Enter country</span>
                  </li>
                  <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="buttons">
              <ul class="list-unstyled">
                <li class="list-items">
                  <a class="back" (click)="goBack(stepper)">Back</a>
                </li>
                <li class="list-items">
                  <a class="cancel">Cancel</a>
                </li>
                <li class="list-items pull-right">
                  <button class='save' (click)="saveAddressDetails(stepper)" mdStepperNext>
                    save&continue
                  </button>
                </li>
                <div class="clearfix"></div>
              </ul>
            </div>
        </mat-step>
  
     
      </mat-horizontal-stepper>
    </div>
  
  
  </div>