<div class="login-wrapper zenwork-customized-bg" [ngStyle]="{'height':getWindowHeight()}">
    <div class="login-logo">
        <img  src="../../assets/images/main-nav/logo.png" alt="Zenwork Logo">
    </div>
    <div class="login-form">
        <div class="col-sm-12">
            <div>
                <h4 class="login-text">Login</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="login-form-alignment">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control customized-input" formControlName="email"  placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control customized-input" formControlName="password"  placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-login-customized" role="button" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>