.login-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:0px;
    margin-bottom: 24px;
    letter-spacing: 1.1px;
    height: 28px;
    color:#383434;
}
.login-form-alignment{
    margin-top: 30px;
}
.login-form-alignment label { font-weight: 600;color:#797676; padding: 0 0 7px;}
.login-form-alignment .form-control:focus, .login-form-alignment .form-control:active{ box-shadow:none;border: #66afe9 1px solid;}
.login-form-alignment .form-control:select:focus, .login-form-alignment .form-control:select:active { box-shadow:none;border-color: #008f3d;}


.zenwork-customized-bg{
    background-color: #3e3e3e!important;
}
.btn-login-customized{
    width: 100%;
    height: 58px;
    border-radius: 5px;
    background-color: #13964f;
    color: #fff;
    box-shadow: 0px 1px 8.6px 0.5px rgba(0, 0, 0, 0.23); font-size: 18px; font-weight: 600; margin: 30px 0 0;
}

.login-wrapper{
    position: relative;
}
.login-logo{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form{
    width: 35%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 3px;
}