<div class="dashboard col-md-11">

  <ul class="pull-left">
    <li *ngIf="empType == 'Employee' || empType == 'Manager' || empType == 'HR'" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/dashboard/employee-view']">Employee View</a>
    </li>
    <li *ngIf="empType == 'Manager'" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/dashboard/manager-view']">Manager View</a>
    </li>
    <li *ngIf="empType == 'HR'" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/dashboard/hr-view']">HR View</a>
    </li>
    <li *ngIf="type == 'company'" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/dashboard/system-admin-view']">System Administrator View</a>
    </li>
  </ul>

  <!-- <a [routerLink]="['/admin/admin-dashboard/dashboard/manager-view']" class="pull-right">Manager Dashboard</a> -->
  <div class="clearfix"></div>
</div>


<router-outlet></router-outlet>