.dashboard { float: none; margin:25px auto 0; padding:15px 0 0;}
.dashboard ul { padding: 10px 0 0;}
.dashboard ul li{ float: left; margin: 0 20px 0 0;}
.dashboard > ul > li > a{ color: #5f5f5f; padding:10px 15px; font-size: 15px; background: #fff; border-radius: 4px; border: #ccc 1px solid;}

.dashboard a{ color: #5f5f5f; padding:10px 15px; font-size: 15px; background: #fff; border-radius: 4px;border: #ccc 1px solid;}

.dashboard ul li.active a { color: #fff; background: #5f5f5f; border: none;}