<div class="time-sheet col-md-11">

    <div class="time-block">

        <div class="panel-group" id="accordion10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10"
                  href="#collapseTen">
                  Time Sheet Status
                </a>
              </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse in">
              <div class="panel-body">

                <div class="time-sheet-main">

                  <div class="time-sheet-tabs">

                    <ul class="nav nav-tabs">
                      <li>
                        <a href="#tab21" data-toggle="tab">Summery</a>
                      </li>
                      <li class="active">
                        <a href="#tab22" data-toggle="tab">List</a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>

                  </div>


                  <div class="tab-content">

                    <div class="tab-pane" id="tab21">

                      <div class="summery">



                      </div>

                    </div>

                    <div class="tab-pane active" id="tab22">

                      <div class="list">

                        <div class="list-search pull-right col-md-9">

                          <ul>

                            <li class="col-md-6 pull-right">

                              <div class="searching">
                                <div class="form-group">
                                  <form>
                                    <input type="mail" class="form-control"
                                      placeholder="Search Employee by Name, Job #, Job Title etc...">
                                    <span><i class="material-icons">search</i></span>
                                  </form>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                            </li>


                            <li class="col-md-5 category pull-right">
                              <label>Search by Category</label>
                              <mat-select placeholder="My Direct Reports" class="form-control">
                                <mat-option value="">Last Week</mat-option>
                              </mat-select>
                            </li>

                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="list-table">

                          <table class="table">
                            <thead>
                              <tr>
                                <th>
                                  <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                </th>
                                <th>Employee Name <a href="#"><i aria-hidden="true"
                                      class="fa fa-filter"></i></a></th>
                                <th>Manager Name<a href="#"><i aria-hidden="true"
                                      class="fa fa-filter"></i></a></th>
                                <th>Business Unit <a href="#"><i aria-hidden="true"
                                      class="fa fa-filter"></i></a></th>

                                <th>Department <a href="#"><i aria-hidden="true"
                                  class="fa fa-filter"></i></a></th>
                                <th>Status <a href="#"><i aria-hidden="true"
                                  class="fa fa-filter"></i></a></th>

                                <th>
                                  <button mat-icon-button [matMenuTriggerFor]="menu5"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu5="matMenu">
                                    <button mat-menu-item>
                                      <a>Review Request</a>
                                    </button>
                                  </mat-menu>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                </td>
                                <td>Suresh</td>
                                <td>12/12/12</td>
                                <td>-- --</td>
                                <td>Sales and Marketing</td>
                                <td><small> <i class="fa fa-circle" aria-hidden="true"></i> &nbsp; Approved</small>

                              </tr>

                            </tbody>
                          </table>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>


        <div class="panel-group" id="accordion10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10"
                  href="#collapseEleven">
                  Missing Punches
                </a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse in">
              <div class="panel-body">


                <div class="top-history">

                  <ul>

                    <li class="col-md-4 select-date">
                      <label>Select Date Range</label>
                      <mat-select placeholder="Specific date range" class="form-control">
                        <mat-option value="">Last Week</mat-option>
                      </mat-select>
                    </li>

                    <li class="col-md-4">

                      <div class="range pull-left">
                        <label>Begin Date Range(T1)</label>
                        <div class="date">
                          <input matInput [matDatepicker]="pickerOne" placeholder="mm / dd / yy"
                            class="form-control">
                          <mat-datepicker #pickerOne></mat-datepicker>
                          <button mat-raised-button (click)="pickerOne.open()">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="range pull-left">
                        <label>End Date Range(T2)</label>
                        <div class="date">
                          <input matInput [matDatepicker]="pickerTwo" placeholder="mm / dd / yy"
                            class="form-control">
                          <mat-datepicker #pickerTwo></mat-datepicker>
                          <button mat-raised-button (click)="pickerTwo.open()">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </li>

                    <li class="col-md-4 pull-right">

                      <div class="searching history-search">
                        <div class="form-group col-md-12">
                          <form>
                            <input type="mail" class="form-control"
                              placeholder="Search Employee by Name, Job">
                            <span><i class="material-icons">search</i></span>
                          </form>
                        </div>

                      </div>

                    </li>

                  </ul>
                  <div class="clearfix"></div>

                </div>

                <div class="mdl-history">

                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </th>
                        <th>Employee Name <a href="#"><i aria-hidden="true" class="fa fa-filter"></i></a></th>
                        <th>Date Missing Punch In <a href="#"><i aria-hidden="true"
                              class="fa fa-filter"></i></a></th>
                        <th>Date Missing Punch Out <a href="#"><i aria-hidden="true"
                              class="fa fa-filter"></i></a></th>
                        <th>Scheduled Start Time</th>
                        <th>Scheduled Finish Time</th>
                        <th>
                          <button mat-icon-button [matMenuTriggerFor]="menu6"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu6="matMenu">
                            <button mat-menu-item>
                              <a>Review Request</a>
                            </button>
                          </mat-menu>
                        </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </td>
                        <td>Sureshhhh</td>
                        <td>19/10/2020</td>
                        <td>-- -- </td>
                        <td>10:00</td>
                        <td>10:00</td>
                        <td></td>
                      </tr>



                    </tbody>
                  </table>

                </div>

              </div>
            </div>
          </div>

        </div>


        <div class="panel-group" id="accordion10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10"
                  href="#collapseTwelve">
                  Time Sheet Summary
                </a>
              </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse in">
              <div class="panel-body">


                <div class="top-history">

                  <ul>

                    <li class="col-md-4 select-date">
                      <label>Search by Category</label>
                      <mat-select placeholder="Search Category" class="form-control">
                        <mat-option value="">Last Week</mat-option>
                      </mat-select>
                    </li>


                    <li class="col-md-5 pull-right">

                      <div class="searching history-search">
                        <div class="form-group col-md-12">
                          <form>
                            <input type="mail" class="form-control"
                              placeholder="Search Employee by Name, Job">
                            <span><i class="material-icons">search</i></span>
                          </form>
                        </div>

                      </div>

                    </li>

                  </ul>
                  <div class="clearfix"></div>

                </div>

                <div class="mdl-history">

                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </th>
                        <th>Name <a href="#"><i aria-hidden="true" class="fa fa-filter"></i></a></th>
                        <th>Daily Total Hours</th>
                        <th>Weekly Total Hours</th>
                        <th>Pay Cycle Total</th>
                        <th>Approaching Over Time</th>
                        <th>Approval Status</th>
                        <th>
                          <button mat-icon-button [matMenuTriggerFor]="menu7"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu7="matMenu">
                            <button mat-menu-item>
                              <a>Review Request</a>
                            </button>
                          </mat-menu>
                        </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>
                          <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                        </td>
                        <td>Sureshhhh</td>
                        <td>17:50</td>
                        <td>10:50 </td>
                        <td>17:50</td>
                        <td>10:50 </td>
                        <td><small> <i class="fa fa-circle" aria-hidden="true"></i> &nbsp; Approved</small>
                        </td>
                        <td></td>
                      </tr>



                    </tbody>
                  </table>

                </div>

              </div>
            </div>
          </div>

        </div>


        <div class="panel-group" id="accordion10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10"
                  href="#collapseThirteen">
                  My Direct Reports - Total
                </a>
              </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse in">
              <div class="panel-body">


                <div class="direct-reports">

                  <ul>

                    <li class="col-md-3">
                      <label>Total Number of Employees</label>
                      <span>10</span>
                    </li>

                    <li class="col-md-3">
                      <label>Total Daily Hours</label>
                      <span>10</span>
                    </li>

                    <li class="col-md-3">
                      <label>Total Weekly Hours</label>
                      <span>10</span>
                    </li>

                    <li class="col-md-3">
                        <label>Total Pay Cycle Hours</label>
                        <span>10</span>
                    </li>

                  </ul>
                  <div class="clearfix"></div>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

</div>






