.time-sheet{ margin: 0 auto; float: none; padding: 0;}

.time-block { padding:30px 0 0;}

.time-sheet-main { display: block}

.time-sheet-tabs {display: block;padding: 20px 0 0; margin: 0 0 7px;}
.time-sheet-tabs .tab-content { margin:40px 0 0;}
.time-sheet-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{ border-bottom:#008f3d 4px solid !important;background:transparent; color:#484747 !important;
border-radius: 0 !important;padding: 15px 10px;}
.time-sheet-tabs .nav-tabs {border-bottom:none;display: inline-block; background: #fff; width: 21%;}
.time-sheet-tabs .nav-tabs > li { margin: 0 10px; border-right:#ccc 1px solid; padding: 0 10px;}
.time-sheet-tabs .nav-tabs > li > a {font-size: 17px !important;line-height: 17px;font-weight:normal;color:#484747;border: none;
margin: 0; cursor: pointer; padding: 15px 10px;}
.time-sheet-tabs .nav > li > a:hover, .nav > li > a:focus { background:transparent; color: #484747 !important;border-radius: 0 !important;}
.time-sheet-tabs .nav-tabs > li.active{margin: 0px 10px -1px;color:#484747 !important;border-bottom:none !important; padding: 0 10px;} 
.time-sheet-tabs .nav-tabs > li:nth-last-child(1) { border-right: none;}

.summery {background: #fff; height: 150px;}


.list-search{ margin:-55px 0 0;}
.list-search ul{ display: block;}
.list-search ul li{ padding: 0 5px;}
.list-search ul li.category{ margin:0;}
.list-search ul li label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 10px 15px 0;}
.list-search ul li .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;font-size: 15px;background: #fff; display: inline-block;}



.list-table .table{ background:#fff;}
.list-table .table>tbody>tr>th, .list-table .table>thead>tr>th {padding: 10px 20px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.list-table .table>tbody>tr>td, .list-table .table>tfoot>tr>td, .list-table .table>tfoot>tr>th, 
.list-table .table>thead>tr>td {color: #484747;padding:15px 20px;font-size:15px;}
.list-table button.mat-menu-item a { color:#ccc;}
.list-table button.mat-menu-item a:hover { color:#fff; background: #099247;}
.list-table .table>tbody>tr>th a, .list-table .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; padding: 0 0 0 10px;}
.list-table .table>tbody>tr>th a .fa, .list-table .table>thead>tr>th a .fa { color: #6f6d6d;}
.list-table button { border: none; outline: none; background:transparent;}

.list-table .table>tbody>tr>td small { font-size: 15px; vertical-align: middle;}
.list-table .table>tbody>tr>td small .fa{ color:#008f3d; font-size: 10px; vertical-align: middle;}

.mdl-history .table{ background:#fff;}
.mdl-history .table>tbody>tr>th, .mdl-history .table>thead>tr>th {padding: 15px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.mdl-history .table>tbody>tr>td, .mdl-history .table>tfoot>tr>td, .mdl-history .table>tfoot>tr>th, 
.mdl-history .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle; border-bottom:#ccc 1px solid;}

.mdl-history .table>tbody>tr>th a, .mdl-history .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; padding: 0 0 0 10px;}
.mdl-history .table>tbody>tr>th a .fa, .mdl-history .table>thead>tr>th a .fa { color: #6f6d6d;}
.mdl-history .table>tbody>tr>td small { font-size: 15px; vertical-align: middle;}
.mdl-history .table>tbody>tr>td small .fa{ color:#008f3d; font-size: 10px; vertical-align: middle;}

.time-block .top-history ul li .form-control { width: 60%;}

.direct-reports { background: #fff; padding: 20px 0;}
.direct-reports ul { display: block;}
.direct-reports ul li { padding: 0; text-align: center;}
.direct-reports ul li label { display: block; font-size: 15px; color: #676767;}
.direct-reports ul li span { display: block;font-size: 15px;color: #676767;}

.top-history{ margin: 10px 0 20px;}
.top-history ul{ display: block;}
.top-history ul li{ padding: 0 5px;}
.top-history ul li.select-date{ margin: 25px 0 0;}
.top-history ul li label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 7px 15px 0;}
.top-history ul li .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;
width:50%; font-size: 15px;background: #fff; display: inline-block;}

.top-history ul li .range{ margin: 0 5px;}
.top-history ul li .range label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 0 7px; display: block;}

.top-history ul li .range .date { height: auto !important; line-height:inherit !important;background:#fff; width: 165px;}
.top-history ul li .range .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.top-history ul li .range .date span { border: none !important; padding: 0 !important;}
.top-history ul li .range .date .form-control { width:72%; height: auto; padding: 12px 0 12px 10px;}
.top-history ul li .range .date .form-control:focus { box-shadow: none; border: none;}
.top-history ul li .range .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.history-search { margin:25px 0 0;}
.history-search .form-group{ margin-bottom: 0;}