<div class="emp-time">
  <div class="row" style="margin: 0px;">
    <div *ngIf="FrontPageControls.show_work_anniversary" class="col-xs-4">
      <mat-card class="card-shadow">
        <h4>Work Anniversary</h4>
        <div class="row row-align">
          <ul class="list-inline">

            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>

            <li class="col-xs-4">
              
                <p><b>26</b> <small>June</small>  <span> Anniversary</span></p>
             
            </li>

            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>

        <div class="row row-align">
          <ul class="list-inline">
            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>
            <li class="col-xs-4">
              
                <p><b>28</b> <small>June</small>  <span> Anniversary</span></p>
             
            </li>
            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>

        <div class="row row-align">
          <ul class="list-inline">
            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>
            <li class="col-xs-4">
              
                <p><b>30</b> <small>June</small>  <span> 3rd Anniversary</span></p>
             
            </li>
            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>

      </mat-card>
    </div>
    <div *ngIf="FrontPageControls.show_birthdays" class="col-xs-4">
      <mat-card class="card-shadow">
        <h4>Birthdays</h4>

        <div class="row row-align">
          <ul class="list-inline">
            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>
            <li class="col-xs-4">
              
                <p><b>30</b> <small>June</small>  <span> Birthdays</span></p>
             
            </li>
            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>

        <div class="row row-align">
          <ul class="list-inline">
            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>
            <li class="col-xs-4">
              
                <p><b>30</b> <small>June</small>  <span> Birthdays</span></p>
             
            </li>
            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>

        <div class="row row-align">
          <ul class="list-inline">
            <li class="col-xs-6">
              <div class="managers">
                <span>
                  <i class="material-icons emplployee-icon">
                    account_circle
                  </i>
                </span>
                <div class="manager-right">
                  <h4>Crane Andy</h4>
                  <h5>Manager</h5>
                </div>
              </div>
            </li>
            <li class="col-xs-4">
              
                <p><b>30</b> <small>June</small>  <span> Birthdays</span></p>
             
            </li>
            <li class="col-xs-2 send-box pull-right">
              <img src="./assets/images/newpages/ic_send_24px.png" class="rotate-icon">
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
    <div *ngIf="FrontPageControls.show_to_do_list" class="col-xs-4">
      <mat-card class="card-shadow">
        <h4>ToDo List</h4>
        <div class="row row-margin">
          <div class="col-xs-6">
            <mat-checkbox>New Employee Intro</mat-checkbox>
          </div>
          <div class="col-xs-6" style="color: #ccc;">
            Due: 13 June,2019
          </div>

        </div>
        <div class="row row-margin">
          <div class="col-xs-6">
            <mat-checkbox>New Logo Design</mat-checkbox>
          </div>
          <div class="col-xs-6" style="color: #ccc;">
            Due: 13 June,2019
          </div>

        </div>
        <div class="row row-margin">
          <div class="col-xs-6">
            <mat-checkbox>New Employee Intro</mat-checkbox>
          </div>
          <div class="col-xs-6" style="color: #ccc;">
            Due: 13 June,2019
          </div>

        </div>
        <div class="row row-margin">
          <div class="col-xs-6">
            <mat-checkbox>New Employee Intro</mat-checkbox>
          </div>
          <div class="col-xs-6" style="color: #ccc;">
            Due: 13 June,2019
          </div>

        </div>
        <div class="row row-margin">
          <div class="col-xs-6">
            <mat-checkbox>New Employee Intro</mat-checkbox>
          </div>
          <div class="col-xs-6" style="color: #ccc;">
            Due: 13 June,2019
          </div>

        </div>
      </mat-card>
    </div>
  </div>
  <div class="row" style="margin: 20px 15px 0 15px;">

    <div class="training col-md-6 company">

      <h3>
        <img src="../../../../assets/images/dashboard/company.png" alt="img">
        <span>Company Links</span>
      </h3>

      <ul *ngIf="FrontPageControls.show_manager_links">

        <li *ngFor="let data of FrontPageControls.manager_links">

          <div class="training-cont pull-left col-md-8">
            <label>{{data.site_name}}</label>
            <a target="_blank" [href]="data.site_link">{{data.site_link}}</a>
          </div>
          <div class="clearfix"></div>

        </li>



      </ul>

    </div>


    <div class="training col-md-6">

      <h3>
        <img src="../../../../assets/images/dashboard/training.png" alt="img">
        <span>Training</span>
      </h3>

      <a class="pull-right">View My Training</a>
      <div class="clearfix"></div>

      <ul>

        <li>

          <div class="training-cont pull-left col-md-8">
            <label>New Hire On Board</label>
            <div class="date">
              <button mat-raised-button (click)="picker.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker></mat-datepicker>

              <div class="clearfix"></div>
            </div>
          </div>

          <a class="pull-right">Past Due</a>
          <div class="clearfix"></div>

        </li>

        <li>

          <div class="training-cont pull-left col-md-8">
            <label>New Hire Training</label>
            <div class="date">
              <button mat-raised-button (click)="picker1.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker1></mat-datepicker>

              <div class="clearfix"></div>
            </div>
          </div>

          <a class="pull-right">Past Due</a>
          <div class="clearfix"></div>

        </li>

      </ul>

    </div>

    <div class="clearfix"></div>
  </div>
</div>