.emp-time { padding: 25px 0 0;}
.card-shadow { box-shadow: none; }
.emplployee-icon{
    font-size: 50px;
    color: #ccc;  
}
.managers { height: 48px;}
.managers span { vertical-align: middle; display: inline-block;}
.manager-right { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;}
.manager-right h4 { font-size: 15px; margin: 0 0 5px;}
.manager-right h5 {  color: #ccc;margin: 0;}
.send-box {
    border: 1px solid #eae0e0;
    padding: 6px 0px 5px 13px;
    width: 10%;
    border-radius: 5px;
}
.rotate-icon {
    transform: rotate(-40deg);
}
.row-align {
    margin: 25px 0px;
    border-bottom: 1px solid #f5eded;
}
.row-margin {
    margin: 10px -15px 10px -15px;
}

.row-align ul li p { display: block;}
.row-align ul li p b { display: inline-block; color: #c1c1c1; font-size: 25px; padding: 0 5px 0 0; line-height: 25px;}

.row-align ul li p span { display:block; color: #a5a5a5; font-size:14px;}

.row-align ul li p small { display:inline-block; color: #ccc; font-size:16px;}

.training { padding: 0 5px; margin: 0 0 30px;}
.training h3 { vertical-align: middle; margin: 0;}
.training h3 img { vertical-align: middle; display: inline-block;}
.training h3 span { vertical-align: middle;display: inline-block; font-size: 16px; padding:0 0 0 10px;}

.training a {display: inline-block; font-size: 14px;color:  #737070; margin: -10px 0 0;}

.training ul { text-align: left;background: #fff; padding:0px 10px 0px;margin: 10px 0 0;}
.training ul li { display: block; width: auto; border-bottom: #ccc 1px solid; padding:6px 0;}
.training ul li:nth-last-child(1) { border: none;}

.training ul li .training-cont { padding: 0;}
.training ul li .training-cont label{color: #484747; font-weight: normal; font-size: 14px;display: block;}

.training ul li .training-cont .date { width: auto;}
.training ul li .training-cont .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; 
box-shadow:none; width:auto;height:auto; min-width: auto;}

.training ul li .training-cont .date button span { border: none !important; padding: 0 !important;}
.training ul li .training-cont .date .form-control { width:77%; height: auto; padding: 0 0 0 10px;}
.training ul li .training-cont .date .form-control:focus { box-shadow: none; border: none;}
.training ul li .training-cont .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.training > ul > li > a {
    color: #f0848a;
    padding: 3px 15px;
    border-radius: 20px;
    text-align: center;
    border: #f0848a 1px solid;
    margin: 13px 0 0px;
    font-size: 12px;
}

.training > ul > li .training-cont > a { color: #ccc;}
.training.company h3{ padding: 0 5px 10px;}
.training.company ul li .training-cont label { padding: 0 0 8px;} 
.training.company ul li { padding: 12px 0;}