<div class="zenwork-main-background">
  <div class="zenwork-inner-div">
    <div class="container">
      <nav class="navbar">
        <div class="zenwork-padding-left35 zenwork-margin-top20">
          <div class="navbar-header">

            <a class="navbar-brand custom-img" [routerLink]="['/home']">
              <img alt="Brand" src="./assets/images/newpages/logo.png" class="img-responsive ">
            </a>
          </div>
          <!-- <ul class="list-unstyled list-inline pull-right nav-items">
            <li class="list-items">
              <a class="login-btn" [routerLink]="['/home']">Login</a>
            </li>
            <li class="list-items ">
              <a  class="btn btn-success btn-manual" [routerLink]="['/home']">Sign Up</a>
            </li>
           
          </ul> -->
          <div class="clearfix"></div>

        
        </div>

      </nav>
      <div class="zenwork-body">   
            <div class="zenwork-padding-left35">
              <h3 class="green"><b>What do we do?</b></h3>
              <div class="body-content">
                <h2 class="content">
                  <b>Zenwork is a simplified HR system<br>
                  for the sophisticated business.</b>
                </h2>
                <small>Let Zenwork crunch the numbers while you focuson the big picture.</small>
              </div>
              <div class="btn-register zenwork-margin-top60">
                <a [routerLink] = "['/request-demo']" class="btn btn-register-demo">Register for Demo</a>
              </div>
            </div>

        </div>

    </div>
    <div class="zenwork-chat">
      <div class="chat-icon ">
        <img src="./assets/images/newpages/chat.png" class="img-responsive">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>