.zenwork-main-background{
    background-color: #f8f8f8;
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: table;
}
.zenwork-inner-div{

    border-radius: 5px;
    border-color: transparent;
    background: url("/assets/images/newpages/Group 3278.png") #fff no-repeat top right;
    height: 100vh;
    background-size: contain;
    display: table-cell;
    vertical-align: top;
}
.custom-img{
    width: 70%;
    margin-top: 10px
}
.custom-img img{
    width: 100%;
}
.nav-items{
    margin-top: 30px;
    padding-right:25px;
}
.nav-items .list-items{
    padding: 0px 10px;
    font-size: 13px;
}
.nav-items .login-btn{
    color: #439348;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #439348;
}
.navbar-brand{
    padding: 15px 0px;
}
.btn-manual{
    border-radius: 20px;
    padding: 5px 30px;
    background-color: #439348;
    font-size: 13px;
}
.zenwork-margin-top20{
    margin-top: 20px;
}
.zenwork-padding-left35{
    padding-left: 35px;
}
.zenwork-margin-top60{
    margin-top:60px;
}
.zenwork-body{
    margin-top: 100px;
}
.body-content .content{
    color: #626262;
}
.body-content small{
    color: #c9c9c9;
    font-size:12px;
}
.btn-register-demo{
    border-radius: 20px;
    padding: 5px 30px;
    background-color: #439348;
    color: #fff;
    border-color: #439348;
    font-size: 13px;
}
.chat-icon{
    margin-top: 122px;
    width: 9%;
    float: right;
}
/* media query */
/* above993 */
@media (max-width:1900px){
    .container {width: 100%;}

}
@media (max-width:1200px){
    .container {width: 100%;}

}
/* above 768 */
@media (max-width:992px){
    .container {width: 100%}
    /* .zenwork-inner-div {height:auto;} */
    /* .zenwork-body h3{font-size: 20px;}
    .body-content .content{font-size: 22px;}
    .body-content small{font-size: 10px;} */
    .chat-icon {margin-top: 0px;}

}
@media (max-width:768px){
     .zenwork-body h3{font-size: 20px;}
    .body-content .content{font-size: 22px;}
    .body-content small{font-size: 10px;}
}
@media (max-width:480px){
    .custom-img {width: 50%;margin: 0 auto;float: none!important;}
    .custom-img img{margin: 0 auto; width: 50%;}
    .zenwork-inner-div{background: none;}
    .zenwork-main-background{position: relative;}
    .navbar .zenwork-margin-top20{margin-top:0px!important;}
    .nav-items{margin-top: 17px;padding-right: 112px;}
    .nav-items .login-btn{font-size: 12px;}
    .btn-manual{font-size: 12px;padding: 2px 18px}
    .zenwork-body h3{font-size: 14px;}
    .zenwork-body {position: relative;margin-top: 40px;}
    .body-content .content {font-size: 15px;line-height: 20px;}
    .body-content small{font-size: 11x;color: #8e8a88;}
    .zenwork-margin-top60{margin-top: 30px;text-align:center;}
    .btn-register-demo{padding:3px 15px;margin-right: 25px;}
    .chat-icon{position: absolute;bottom: 0%;right: 10px;}
}
@media (max-width:320px){
    .custom-img{margin: 0 auto;float: none!important;}
    .custom-img img{width:60%;margin:15px auto;}
    .nav-items{margin-top: 0px;padding-right: 54px;}
    .zenwork-margin-top20 {padding-left: 35px;}
    .zenwork-body {margin-top: 20px;}
    .zenwork-body h3{margin-bottom: 5px!important;}
    .zenwork-padding-left35{padding-left: 0px;}
    .body-content .content{margin-top: 8px;}
    .body-content small{color: #626262;}
    .zenwork-margin-top60{margin: 10px 0px;}
    .btn-register-demo{margin-right: 0;}
    .chat-icon{bottom: 0%;width: 12%;}
}