<div class="vacation col-md-11">

    <div class="time-block">

        <div class="panel-group" id="accordion11">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11"
                  href="#collapseFourteen">
                  Time Off Requests Pending
                </a>
              </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse in">
              <div class="panel-body">

                  <div class="time-off">

                    <div class="time-off-top">
                       <ul>
                        <li class="col-md-3">
                          <mat-select placeholder="Category" class="form-control">
                              <mat-option value="">Last Week</mat-option>
                          </mat-select>
                        </li>
                        <li class="col-md-5 pull-right">
                          <div class="searching">
                              <div class="form-group">
                                <form>
                                  <input type="mail" class="form-control"
                                    placeholder="Search Employee by Name, Job #, Job Title etc...">
                                  <span><i class="material-icons">search</i></span>
                                </form>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                        </li>
                       </ul>
                       <div class="clearfix"></div>
                    </div>


                    <div class="mdl-history">

                        <table class="table">
                          <thead>
                            <tr>
    
                              <th>Employee Name</th>
                              <th>Type of Leave Requested <a href="#"><i aria-hidden="true"
                                class="fa fa-filter"></i></a> </th>
                              <th>Requested Date <a href="#"><i aria-hidden="true"
                                class="fa fa-filter"></i></a></th>
                              <th>Time Off</th> 
                              <th>Action &nbsp;
                                  <span>
                                    <mat-slide-toggle></mat-slide-toggle>
                                  </span>
                                </th>
    
                            </tr>
                          </thead>
                          <tbody>
    
                            <tr>
                              <td>
                                <div class="managers">
                                  <span><img
                                      src="../../../../assets/images/Manager Self Service/employee.png"></span>
                                  <div class="manager-right">
                                    <h4>Crane Andy</h4>
                                    <h5>Manager</h5>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="leaves">
                                    <img src="../../../../assets/images/Manager Self Service/vacation.png">
                                  <small>Vacation</small>
                                </div>
                              </td>
                              <td>June 10</td>
                              <td>09:30-13:00</td>
                              <td><span>
                                  <mat-slide-toggle></mat-slide-toggle>
                                </span>
                              </td>
                            </tr>
    
                          </tbody>
                        </table>
    
                      </div>

                  </div>

              </div>
            </div>
          </div>

        </div>


        <div class="panel-group" id="accordion11">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11"
                    href="#collapseFifteen">
                    Historical Approvals and Non Approvals
                  </a>
                </h4>
              </div>
              <div id="collapseFifteen" class="panel-collapse collapse in">
                <div class="panel-body">
  
                    <div class="time-off">
                      <h4>Requested Time Off</h4>

                        <ul class="col-md-4">
                          <li><a href="#">Show All</a></li>
                          <li><a href="#">Approved</a></li>
                          <li><a href="#">Not Approved</a></li>
                        </ul>
                        

                      <div class="time-off-top col-md-8 pull-right">
                         <ul>
                          <li class="col-md-4">
                            <mat-select placeholder="Category" class="form-control">
                                <mat-option value="">Last Week</mat-option>
                            </mat-select>
                          </li>
                          <li class="col-md-8">
                            <div class="searching">
                                <div class="form-group">
                                  <form>
                                    <input type="mail" class="form-control"
                                      placeholder="Search Employee by Name, Job #, Job Title etc...">
                                    <span><i class="material-icons">search</i></span>
                                  </form>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                          </li>
                         </ul>
                         <div class="clearfix"></div>
                      </div>
                    <div class="clearfix"></div>
  
                      <div class="mdl-history">

                          <table class="table">
                            <thead>
                              <tr>
      
                                <th>Employee Name</th>
                                <th>Type of Leave Requested</th>
                                <th>Requested Date</th>
                                <th>Time Off</th> 
                                <th>Request Status &nbsp;
                                    <span>
                                      <mat-slide-toggle></mat-slide-toggle>
                                    </span>
                                  </th> 
                              </tr>
                            </thead>
                            <tbody>
      
                              <tr>
                                <td>
                                  <div class="managers">
                                    <span><img
                                        src="../../../../assets/images/Manager Self Service/employee.png"></span>
                                    <div class="manager-right">
                                      <h4>Crane Andy</h4>
                                      <h5>Manager</h5>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="leaves">
                                      <img src="../../../../assets/images/Manager Self Service/vacation.png">
                                    <small>Vacation</small>
                                  </div>
                                </td>
                                <td>June 10</td>
                                <td>09:30-13:00</td>
                                <td><p> <i class="fa fa-circle" aria-hidden="true"></i> &nbsp; Approved</p></td>
                              </tr>
      
                            </tbody>
                          </table>
      
                        </div>
  
                    </div>
  
                </div>
              </div>
            </div>
  
          </div>
  




    </div>
      

</div>









