.vacation{ margin: 0 auto; float: none; padding: 0;}

.time-off { display: block;}

.time-off-top { display: block;}
.time-off-top ul { display: block;}
.time-off-top ul li { padding: 0;}
.time-off-top ul li .form-control{ border: none; box-shadow: none; height: auto; padding: 10px 12px;}
.time-off-top ul li .form-control:focus{ border-color: none; box-shadow: none;}


.mdl-history .table{ background:#fff;}
.mdl-history .table>tbody>tr>th, .mdl-history .table>thead>tr>th {padding: 15px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.mdl-history .table>tbody>tr>td, .mdl-history .table>tfoot>tr>td, .mdl-history .table>tfoot>tr>th, 
.mdl-history .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle; border-bottom:#ccc 1px solid;}
.mdl-history .table>tbody>tr>th a, .mdl-history .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.mdl-history .table>tbody>tr>th a .fa, .mdl-history .table>thead>tr>th a .fa { color: #6f6d6d;}

.managers { display: block;}
.managers span { vertical-align: middle; display: inline-block;}
.manager-right { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;}
.manager-right h4 { font-size: 15px; margin: 0 0 5px;}
.manager-right h5 {  color: #ccc;margin: 0;}

.mdl-history .table>tbody>tr>td p { font-size: 15px; vertical-align: middle;}
.mdl-history .table>tbody>tr>td p .fa{ color:#008f3d; font-size: 10px; vertical-align: middle;}

.leaves { display: block;}
.leaves img { margin: 0 0 10px;}
.leaves small { display: block;color:#929191;}

.time-off > ul{ margin:10px 0; padding: 0;}
.time-off ul li{ padding: 0 20px; display: inline-block;}
.time-off ul li a{color: #484747; font-weight: normal; font-size: 14px;}