
.education-date-list {
    width:23%;
    position: relative;
    display: inline-block;vertical-align: top;margin: 0px 20px 0 0;
}
.education-date-list span { display: inline-block;}
.education-date-list span.disable { display: inline-block; margin: 0 0 0 20px;}
.education-date-list:nth-child(3){ margin:20px 0 0;}


label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 14px;
    padding: 0 0 0 2px;
}

.birthdate{
    font-size: 12px;
    padding-left: 15px;
    width: 178px;   
    box-shadow: none;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 35px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
}

.main-onboarding .panel-heading{
    padding:10px 15px!important;
}
.main-onboarding{
    width:100%;
    margin-top: 40px;
    padding: 0 30px 0 0;
}
.main-onboarding .panel-font{
    font-weight: 600;
    margin-top: 5px;
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}

  
  .borderright{
      border-right: 1px solid #eee;
  }
  .team-text-area{
    margin-top:10px;
  }
  textarea{
     resize: none;
     border: 0;
     box-shadow: none;
     background: #f8f8f8;
  }
  .btn-color{
    border: 1px solid #EF8086;
    color: #ef8086;
  }
  .new-emp-paperwork{
    margin-top: 20px;
    padding-left: 15px;
  }
  .new-emp-paperwork .emp-paperwork-heading{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0 0 0;
  }
  .newhire-packets{
    display: inline-block;
    width:234px;

}
.newhire-checkbox{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
  .newhire-content{
    display: inline-block;
    vertical-align: middle;
  }
  .insert-drive{
  width: 11px;
  display: inline-block;
  vertical-align: middle;
  }
  .image-items{
      display: inline-block;
      padding:0px 7px;
  }
  .zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
    margin:  0 10px 0 0;
}
.padding-right-10{
    padding: 0 20px 0 0;
}

.zenwork-documents-tab {
  padding: 10px 35px;
}
.assign-field {
  outline: none;
  border: none;
  height: 35px;
  box-shadow: none;
  background: #fff;
}
.next-btn {
  background-color: #439348;
  border: 1px solid #439348;
  border-radius: 20px;
  color: #fff;
  padding: 0 30px;    
}

.date { height: 38px !important; line-height:inherit !important; width:80% !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:73%; height: auto; padding: 10px 0 10px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.btn-run-report{
  padding: 6px 25px;
  display: inline-block;
  border: 1px solid #008f3d;
  border-radius: 24px;
  background: #fff;
  color: #008f3d !important;
  cursor: pointer;
  /* margin: 0 0 0 20px; */

}
.btn-run-report span{
  padding: 0px 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.disable button:disabled {
  background-color:#aeaeae;
  border-color: #aeaeae;
  color: #000 !important;
}