.payroll { margin: 30px 0 0;}
.payroll .panel-default>.panel-heading { padding: 0 0 30px; background-color:transparent !important; border: none;}
.payroll .panel-title { color: #3c3c3c; display: inline-block; font-size: 18px;}
.payroll .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.payroll .panel-title>.small, .payroll .panel-title>.small>a, .payroll .panel-title>a, .payroll .panel-title>small, .payroll .panel-title>small>a { text-decoration:none;}
.payroll .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.payroll .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.payroll .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.payroll .panel-group .panel-heading+.panel-collapse>.list-group, .payroll .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.payroll .panel-heading .accordion-toggle:after { margin:7px 10px 0; font-size: 10px; line-height: 10px;}
.payroll .panel-body { padding: 0 0 5px;}

.payroll .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.payroll .panel-default { border-color:transparent;}
.payroll .panel-group .panel+.panel { margin-top: 20px;}

.payroll-cont { display: block;}
.payroll-cont .form-group { position: relative; background:#fff; padding: 0;}
.payroll-cont .form-control { height: auto; border: none; box-shadow: none; padding: 10px 12px; width:94%; font-size: 15px;}
.payroll-cont .form-control:focus { box-shadow: none;}
.payroll-cont span { position: absolute; top:12px; right:10px; cursor: pointer; width: 5%;}
.payroll-cont span .material-icons { color: #8e8e8e; font-size:20px; font-weight: normal;}


.payroll-cont .table{ background:#fff;}
.payroll-cont .table>tbody>tr>th, .payroll-cont .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.payroll-cont .table>tbody>tr>td, .payroll-cont .table>tfoot>tr>td, .payroll-cont .table>tfoot>tr>th, 
.payroll-cont .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; vertical-align: middle;}
.payroll-cont button.mat-menu-item a { color:#ccc;}
.payroll-cont button.mat-menu-item a:hover { color:#fff; background: #099247;}
.payroll-cont .table>tbody>tr>th a, .payroll-cont .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.payroll-cont .table>tbody>tr>th a .fa, .payroll-cont .table>thead>tr>th a .fa { color: #6f6d6d;}
.payroll-cont button { border: none; outline: none; background:transparent; float: right;}

.zenwork-customized-checkbox { margin:0 0 0 20px;} 
.panel-group { margin-bottom: 0;}

.date1 { height: auto !important; line-height:inherit !important;background:#fff; width: 140px;}
.date1 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
height: 30px; min-width: auto;border-radius: 0; float:none; vertical-align:top; margin: 4px 0 0;}

.date1 span { border: none !important; padding: 0 !important; position: static; width: auto;border: none !important;}
.date1 .form-control { width:70%; height: auto; padding: 12px 0 12px 10px; border: none; box-shadow: none; display: inline-block;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}



.paygroup { display: block;}
.paygroup .modal-dialog { width:70%;}
.paygroup .modal-content {border-radius: 5px; border: none; padding: 0 0 40px;}
.paygroup .modal-header {padding:30px;}
.paygroup .modal-body { padding: 0; background: #fff;border-radius: 5px;}

.paygroup-in {padding:40px 0 0; float: none; margin: 0 auto;}

.paygroup-in ul {border-bottom:#c3bebe 1px solid; margin: 0 0 30px; padding: 0 0 40px; display: inline-block; width: 100%;}
.paygroup-in ul li { margin: 0 0 25px; padding: 0;}
.paygroup-in ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.paygroup-in ul li .form-control{ border: none; box-shadow: none; padding: 13px 12px; height: auto; width:25%; background: #f8f8f8; font-size: 15px;}
.paygroup-in ul li .form-control:focus{ box-shadow: none;}

.paygroup-in .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 30px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.paygroup-in .btn.cancel { color:#e44a49; background:transparent; padding:0 0 0 30px;font-size: 16px;}

.add-calendars.paygroup-in ul li .form-control { width: 90%;}


.date2 { height: auto !important; line-height:inherit !important; width:70%; background: #f8f8f8;}
.date2 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0 0 35px; box-shadow:none; width: 40px;
height: 30px; min-width: auto;vertical-align: top; margin: 4px 0 0;border-left: #bdbdbd 1px solid; border-radius:0;}

.date2 span {padding: 0;}
.add-calendars.paygroup-in ul li .date2 .form-control { width:70%; height: auto; padding: 13px 12px; display: inline-block;}
.add-calendars.paygroup-in ul li .date2 .form-control:focus { box-shadow: none; border: none;}
.date2 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.add-calendars.paygroup-in ul { border-bottom: none; padding: 0; margin: 0;}

.paygroup-in a { background: #585858; border-radius: 20px; color: #fff; padding: 10px 30px; margin:20px 0 0;}
.border-btm {border-bottom:#c3bebe 1px solid; padding:50px 0 0; margin: 0 0 40px;}
.border-btm1 {border-bottom:#c3bebe 1px solid; padding:30px 0 0; margin: 0 0 30px;}


.next-cycle { display: block;}
.next-cycle .modal-dialog { width:80%;}
.next-cycle .modal-content {border-radius: 5px; border: none; padding:40px 0;}
.next-cycle .modal-header {padding:30px;}
.next-cycle .modal-body { padding: 0; background: #fff;border-radius: 5px;}

.next-cycle-in { text-align: center; float: none;}
.next-cycle-in img { margin: 0 auto 20px;}

.next-cycle-in small { display: block; color: #696868; font-size: 18px; padding: 0 0 15px;}
.next-cycle-in p { color: #444; font-size: 18px;font-weight: bold;}
.next-cycle-in p em { font-style: normal;}

.next-cycle-in .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 30px;background: #008f3d; color:#fff; margin: 0 20px 0 0;
display: inline-block; margin: 30px 0 0;}
.next-cycle-in .btn.cancel { color:#e44a49; background:transparent; padding:0 30px 0 0;font-size: 16px;display: inline-block;margin: 30px 0 0;}


.paygroup-in .table{ background:#fff;}
.paygroup-in .table>tbody>tr>th, .paygroup-in .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.paygroup-in .table>tbody>tr>td, .paygroup-in .table>tfoot>tr>td, .paygroup-in .table>tfoot>tr>th, 
.paygroup-in .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; vertical-align: middle; background:#f3f1f1;}
.paygroup-in button.mat-menu-item a { color:#ccc;}
.paygroup-in button.mat-menu-item a:hover { color:#fff; background: #099247;}
.paygroup-in .table>tbody>tr>th a, .paygroup-in .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.paygroup-in .table>tbody>tr>th a .fa, .paygroup-in .table>thead>tr>th a .fa { color: #6f6d6d;}
.paygroup-in button { border: none; outline: none; background:transparent; float: right;}

.salary-grade.paygroup .modal-dialog { width:83%;}

.paygroup-in .table>tbody>tr>td .form-control { height:auto; padding: 10px 12px; border: none;box-shadow: none;}
.paygroup-in .table>tbody>tr>td .form-control:focus{ border-color: transparent; box-shadow: none;}

.salary-grade .paygroup-in ul li .form-control { width:75%;}

.salarygrade-in.paygroup-in .table>tbody>tr>td, .salarygrade-in.paygroup-in .table>tfoot>tr>td, .salarygrade-in.paygroup-in .table>tfoot>tr>th, 
.salarygrade-in.paygroup-in .table>thead>tr>td { vertical-align:top;}

.zenwork-customized-checkbox.addsalary-check { vertical-align: top; padding: 6px 0 0; display: block;}

.error{
    font-size:14px;
    color: #e44a49; display: block;
}
.preview-calander{
    cursor: pointer;
}
.paycycle{
    margin: 40px 0 0 0;
}
.salarygrade-in ul li{
    width: 25%;
    display: inline-block; vertical-align: top;
}

.grade-dollar{
    background: #fff;
    padding: 0 12px;
}
.grade-dollar em{
    display: inline-block; 
    vertical-align: middle;
    font-style: normal;
}

.grade-dollar .salary-form{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px 0 4px;
    width: 88%;
}