<div class="payroll">

  <div class="panel-group" id="accordion3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
            Payroll Groups
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="payroll-cont">

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <!-- <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox> -->
                  </th>
                  <th> Payroll Group Name</th>
                  <th>Pay Frequency</th>
                  <th>Pay Group Code</th>
                  <th>Status</th>
                  <th>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button *ngIf="!deleteIds.length >=1" mat-menu-item>
                        <a data-toggle="modal" data-target="#myModal">Add</a>
                      </button>
                      <button *ngIf="deleteIds.length == 1" mat-menu-item>
                        <span data-toggle="modal" (click)="editPayrollGroupName()">Edit</span>
                        <!-- <a data-toggle="modal" data-target="#myModal1" #openEdit></a> -->
                      </button>
                      <!-- <button [disabled]="deleteId.length < 1" mat-menu-item>
                        <span (click)="deleteTemplate()">Delete</span>
                      </button> -->
                      <!-- <button mat-menu-item>
                        <a href="#">Archive</a>
                      </button> -->
                      <button *ngIf="!deleteIds.length <=0" (click)="deletePayrollGroupName()" mat-menu-item>
                        <a>Delete</a>
                      </button>
                    </mat-menu>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of payrollGroups">
                  <td>
                    <mat-checkbox class="zenwork-customized-checkbox"
                      (change)="showOptions($event,data._id,'paygroup')">
                    </mat-checkbox>
                  </td>
                  <td>{{data.payroll_group_name}}</td>
                  <td>{{data.pay_frequency}}</td>
                  <td>{{data.pay_group_code}}</td>
                  <td>{{data.status}}</td>
                  <td></td>

                </tr>

              </tbody>
            </table>

            <mat-paginator [length]="payrollGroupCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvents($event)"></mat-paginator>

          </div>


        </div>
      </div>

    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
            Payroll Calendars
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="payroll-cont">

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <!-- <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox> -->
                  </th>
                  <th>Calendar Name</th>
                  <th>Number of Cycles</th>
                  <th>Active Cycle</th>
                  <th>Current Cycle Begin Date</th>
                  <th>Current Cycle End Date</th>
                  <th>
                    <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu">

                      <button *ngIf="!calanderdeleteIds.length <= 0" (click)="startNextCycle()" mat-menu-item>
                        <a data-toggle="modal"> <small><i class="fa fa-plus" aria-hidden="true"></i></small> Start Next
                          Cycle</a>
                      </button>

                      <button *ngIf="!calanderdeleteIds.length <= 0" (click)="reopenPreviousCycle()" mat-menu-item>
                        <a data-toggle="modal"> <small><i class="fa fa-minus" aria-hidden="true"></i></small> Reopen
                          Previous Cycle</a>
                      </button>

                      <button *ngIf="!calanderdeleteIds.length >= 1" mat-menu-item style="border-top:#ccc 1px solid;">
                        <a data-toggle="modal" (click)="payrollCalenderOpen()" data-target="#myModal3">Add</a>
                      </button>


                      <button *ngIf="!calanderdeleteIds.length <= 0" mat-menu-item>
                        <a (click)="payrollCalenderEdit()">Edit</a>

                      </button>
                      <button *ngIf="!calanderdeleteIds.length <= 0" mat-menu-item>
                        <a (click)="payrollCalenderCopy()">copy</a>

                      </button>
                      <!-- <button mat-menu-item>
                        <a href="#">Archive</a>
                      </button> -->
                      <button *ngIf="!calanderdeleteIds.length <= 0" (click)="deletePayrollCalander()" mat-menu-item>
                        <a>Delete</a>
                      </button>
                    </mat-menu>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of payrollCalanderList">
                  <td>
                    <mat-checkbox [(ngModel)]="data.isChecked" class="zenwork-customized-checkbox"
                      (change)="showOptions($event,data._id,'calander')"></mat-checkbox>
                  </td>
                  <td>{{data.calendar_name}}</td>
                  <td>{{data.number_of_cycles}}</td>
                  <td *ngIf="data.active_cycle">{{data.active_cycle.pay_cycle_name}}</td>
                  <td *ngIf="!data.active_cycle">--</td>

                  <td *ngIf="data.active_cycle">
                    {{data.active_cycle.pay_cycle_start_date | date}}
                  </td>
                  <td *ngIf="!data.active_cycle">
                    --
                  </td>
                  <td *ngIf="data.active_cycle">
                    {{data.active_cycle.pay_cycle_end_date | date}}
                  </td>
                  <td *ngIf="!data.active_cycle">
                    --
                  </td>
                  <td></td>
                </tr>

              </tbody>
            </table>

            <mat-paginator [length]="payrollCalanderCount" (page)="pageEventsCalander($event)" [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>


        </div>
      </div>

    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
            Salary Grades
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="payroll-cont">

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <!-- <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox> -->
                  </th>
                  <th> Salary Grade Name</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu">
                      <button *ngIf="salaryGradedeleteIds.length == 0" mat-menu-item>
                        <a data-toggle="modal" data-target="#myModal6" (click)="openFormCalender()">Add</a>
                      </button>

                      <button *ngIf="salaryGradedeleteIds.length == 1" mat-menu-item>
                        <a (click)="editSalryGradeName()">Edit</a>

                      </button>
                      <!-- <button mat-menu-item>
                        <a href="#">Archive</a>
                      </button> -->
                      <button *ngIf="salaryGradedeleteIds.length >= 1" (click)="deleteSAlaryGrades()" mat-menu-item>
                        <a>Delete</a>
                      </button>
                    </mat-menu>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of salaryGradeList">
                  <td>
                    <mat-checkbox class="zenwork-customized-checkbox"  [(ngModel)]="data.isChecked"
                      (change)="showOptions($event,data._id,'salaryGrade')"></mat-checkbox>
                  </td>
                  <td>{{data.salary_grade_name}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
            </table>

            <mat-paginator [length]="salaryGradeCount" (page)="pageEventsSalaryGrade($event)" [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>


        </div>
      </div>

    </div>

  </div>

</div>



<!-- Payroll Groups -->
<div class="paygroup">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add Payroll Groups</h4>
        </div>

        <div class="modal-body">

          <div class="paygroup-in col-md-10">


            <ul>

              <li>
                <label>Payroll Group Name *</label>
                <input type="text" class="form-control" placeholder="Payroll Group Name" [(ngModel)]="payrollGroup.name"
                  (ngModelChange)="payrollGroupName()" maxlength="32" name="name" #name="ngModel" required>
                <p *ngIf="!payrollGroup.name && name.touched || (!payrollGroup.name && isValid)" class="error">Please
                  fill this field</p>
              </li>

              <li>
                <label>Pay Frequency *</label>

                <mat-select class="form-control" placeholder="Frequency" [(ngModel)]="payrollGroup.frequency"
                  name="frequency" #frequency="ngModel" required>
                  <mat-option value='Weekly'>Weekly</mat-option>
                  <mat-option value='Bi-Weekly'>Bi-Weekly</mat-option>
                  <mat-option value='Semi-Monthly'>Semi-Monthly</mat-option>
                  <mat-option value='Monthly'>Monthly</mat-option>

                </mat-select>
                <p *ngIf="!payrollGroup.frequency && frequency.touched  && isValid || (!payrollGroup.frequency && isValid)"
                  class="error">Please fill this field</p>
              </li>

              <li>
                <label>Pay Group Code *</label>
                <input type="text" maxlength="8" class="form-control" placeholder="Pay Group Code"
                  [(ngModel)]="payrollGroup.code" (keypress)="keyPress1($event)" (ngModelChange)="payGroupCode()"
                  name="code" #code="ngModel" required>
                <p *ngIf="!payrollGroup.code && code.touched  && isValid || (!payrollGroup.code && isValid)"
                  class="error">Please
                  fill this field</p>
              </li>

            </ul>

            <button class="btn cancel pull-left" data-dismiss="modal">Cancel</button>
            <button class="btn save pull-right" (click)="payrollGroupAdd()">Submit</button>
            <div class="clearfix"></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>



<!-- Edit Payroll Groups -->
<div class="paygroup">

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Edit Payroll Groups</h4>
        </div>

        <div class="modal-body">

          <div class="paygroup-in col-md-10">


            <ul>

              <li>
                <label>Payroll Group Name *</label>
                <input type="text" class="form-control" [(ngModel)]="SinglePayrollGroup.payroll_group_name"
                  placeholder="Payroll Group Name" maxlength="32" name="payroll_group_name"
                  #payroll_group_name="ngModel" required>
                <p *ngIf="!SinglePayrollGroup.payroll_group_name && payroll_group_name.touched || (!SinglePayrollGroup.payroll_group_name && isValid)"
                  class="error">Please
                  fill this field</p>
              </li>

              <li>
                <label>Pay Frequency *</label>

                <mat-select class="form-control" [(ngModel)]="SinglePayrollGroup.pay_frequency" placeholder="Frequency"
                  name="pay_frequency" #pay_frequency="ngModel" required>
                  <mat-option value='Weekly'>Weekly</mat-option>
                  <mat-option value='Bi-Weekly'>Bi-Weekly</mat-option>
                  <mat-option value='Semi-Monthly'>Semi-Monthly</mat-option>
                  <mat-option value='Monthly'>Monthly</mat-option>
                </mat-select>
                <p *ngIf="!SinglePayrollGroup.pay_frequency && pay_frequency.touched || (!SinglePayrollGroup.pay_frequency && isValid)"
                  class="error">Please
                  fill this field</p>
              </li>

              <li>
                <label>Pay Group Code *</label>
                <input type="text" class="form-control" maxlength="8" [(ngModel)]="SinglePayrollGroup.pay_group_code"
                  placeholder="Pay Group Code" name="pay_group_code" #pay_group_code="ngModel"
                  (keypress)="keyPress1($event)" required>
                <p *ngIf="!SinglePayrollGroup.pay_group_code && pay_group_code.touched || (!SinglePayrollGroup.pay_group_code && isValid)"
                  class="error">Please
                  fill this field</p>
              </li>

              <li>
                <label>Status *</label>
                <mat-select class="form-control" [(ngModel)]="SinglePayrollGroup.status" placeholder="Status"
                  name="status" #status="ngModel" required>
                  <mat-option value='Active'>Active</mat-option>
                  <mat-option value='Inactive'>Inactive</mat-option>
                </mat-select>
                <p *ngIf="!SinglePayrollGroup.status && status.touched || (!SinglePayrollGroup.status  && isValid)"
                  class="error">Please
                  fill this field</p>
              </li>

            </ul>


            <!-- <ul>

              <li>
                <label>Assign Payroll Calendar?</label>
                <mat-select class="form-control" placeholder="Payroll Calendar">
                  <mat-option [value]='true'>Yes</mat-option>
                  <mat-option [value]='false'>No</mat-option>
                </mat-select>
              </li>

              <li>
                <label>Payroll Calendar?</label>
                <mat-select class="form-control" placeholder="Payroll Calendar">
                  <mat-option [value]='true'>Yes</mat-option>
                  <mat-option [value]='false'>No</mat-option>
                </mat-select>
              </li>


            </ul> -->

            <button class="btn cancel pull-left" data-dismiss="modal">Cancel</button>
            <button class="btn save pull-right" (click)="updatePayrollGroup()">Submit</button>
            <div class="clearfix"></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>




<!-- Payroll Calendars -->
<div class="paygroup">

  <div class="modal fade" id="myModal3" role="dialog">
    <!-- <form #f="ngForm"> -->

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add / Edit Payroll Calendars</h4>
        </div>
        <div class="modal-body">

          <div class="paygroup-in col-md-11 add-calendars">

            <ul>

              <li class="col-md-3">
                <label>Calendar Name *</label>
                <input type="text" [(ngModel)]="payrollCalendar.calendar_name" class="form-control"
                  placeholder="Calendar Name" maxlength="26" name="calendar_name" #calendar_name="ngModel" required>
                <p *ngIf="!payrollCalendar.calendar_name && calendar_name.touched  && isValidCalander || (!payrollCalendar.calendar_name  && isValidCalander)"
                  class="error">Please
                  fill this field</p>
              </li>



              <li class="col-md-3">
                <label>Pay Group Assignment *</label>

                <mat-select class="form-control" [(ngModel)]="payrollCalendar.assigned_payroll_group"
                  placeholder="Group Assignment" (ngModelChange)="payGroupAssign()" name="assigned_payroll_group"
                  #assigned_payroll_group="ngModel">
                  <mat-option value=''>-- Select value --
                  </mat-option>
                  <mat-option *ngFor="let data of payrollGroupsDropdown" [value]='data._id'>{{data.payroll_group_name}}
                  </mat-option>
                  <!-- <mat-option value=''>No</mat-option> -->
                </mat-select>
                <p *ngIf="!payrollCalendar.assigned_payroll_group && assigned_payroll_group.touched  && isValidCalander || (!payrollCalendar.assigned_payroll_group  && isValidCalander)"
                  class="error">Please
                  fill this field</p>

              </li>

            </ul>

            <ul>




              <li class="col-md-3">
                <label>Number of Days in a Cycle *</label>

                <input type="text" [(ngModel)]="payrollCalendar.number_of_days_in_a_cycle" (keypress)="keyPress($event)"
                  class="form-control" placeholder="Number of Days" maxlength="3" name="number_of_days_in_a_cycle"
                  #number_of_days_in_a_cycle="ngModel" required readonly>
                <p *ngIf="!payrollCalendar.number_of_days_in_a_cycle && number_of_days_in_a_cycle.touched && isValidCalander || (!payrollCalendar.number_of_days_in_a_cycle  && isValidCalander)"
                  class="error">Please
                  fill this field</p>
              </li>

              <li class="col-md-3">
                <label>Number of Cycles *</label>
                <input type="text" class="form-control" [(ngModel)]="payrollCalendar.number_of_cycles"
                  (keypress)="keyPress($event)" (ngModelChange)="numberOfCycle()" maxlength="3"
                  placeholder="Number of Cycles" name="number_of_cycles" #number_of_cycles="ngModel" required>
                <p *ngIf="!payrollCalendar.number_of_cycles && number_of_cycles.touched && isValidCalander || (!payrollCalendar.number_of_cycles  && isValidCalander)"
                  class="error">Please
                  fill this field</p>
                <!-- <p class="error" *ngIf="showWeeksError">Please enter a value bellow 54</p> -->
              </li>

            </ul>

            <ul>

              <li class="col-md-3">
                <label>First Cycle Start Date *</label>

                <div class="date2">
                  <input matInput [matDatepicker]="picker4" [(ngModel)]="payrollCalendar.first_cycle_start_date"
                    placeholder="Start Date" (ngModelChange)="stattsDateChange()" 
                    name="first_cycle_start_date" #first_cycle_start_date="ngModel" required class="form-control">
                  <mat-datepicker #picker4></mat-datepicker>
                  <button mat-raised-button (click)="picker4.open()">
                    <span>
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                  </button>
                  <div class="clearfix"></div>
                </div>
                <p *ngIf="!payrollCalendar.first_cycle_start_date && first_cycle_start_date.touched && isValidCalander || (!payrollCalendar.first_cycle_start_date && isValidCalander)"
                  class="error">Please
                  fill this field</p>

              </li>


              <li class="col-md-3">
                <label>First Cycle End Date</label>

                <div class="date2">
                  <input matInput [matDatepicker]="picker5" [(ngModel)]="payrollCalendar.first_cycle_end_date"
                    placeholder="End Date" class="form-control" name="first_cycle_end_date"
                    #first_cycle_end_date="ngModel" required disabled>
                  <mat-datepicker #picker5></mat-datepicker>
                  <button mat-raised-button (click)="picker5.open()">
                    <!-- <span>
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span> -->
                  </button>
                  <div class="clearfix"></div>
                </div>

              </li>


            </ul>

            <ul>
              <li class="col-md-3">
                <label>Calendar Year *</label>


                <input type="text" class="form-control" [(ngModel)]="payrollCalendar.calendar_year"
                  (keypress)="keyPress($event)" placeholder="Calendar Year" name="calendar_year"
                  #calendar_year="ngModel" required readonly>

                <p *ngIf="!payrollCalendar.calendar_year && calendar_year.touched  && isValidCalander || (!payrollCalendar.calendar_year  && isValidCalander)"
                  class="error">Please
                  fill this field</p>

              </li>

            </ul>


            <a class="preview-calander" (click)="previewCalander()">Preview the Calendar</a>

            <div class="clearfix"></div>

            <div class="payroll-cont paycycle">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      S.No
                    </th>
                    <th>
                      Paycycle Name
                    </th>
                    <th>
                      Paycycle Start-date
                    </th>
                    <th>
                      Paycycle End-date
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let data of payrollCalanderCycle">
                    <td>
                      {{data.pay_cycle_number}}
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="data.pay_cycle_name" class="form-control" readonly>
                    </td>
                    <td>

                      <div>
                        <div class="date2">
                          <input matInput [matDatepicker]="picker101" [(ngModel)]="data.pay_cycle_start_date"
                            placeholder="End Date" class="form-control" style="width:70%;display: inline-block;">
                          <mat-datepicker #picker101></mat-datepicker>
                          <button mat-raised-button (click)="picker101.open()"
                            style="margin:0;line-height: inherit;float: none;">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="date2">
                        <input matInput [matDatepicker]="picker102" [(ngModel)]="data.pay_cycle_end_date"
                          placeholder="End Date" class="form-control" style="width:70%;display: inline-block;">
                        <mat-datepicker #picker102></mat-datepicker>
                        <button mat-raised-button (click)="picker102.open()"
                          style="margin:0;line-height: inherit;float: none;">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div class="border-btm"></div>
            <button class="btn cancel pull-left" data-dismiss="modal">Cancel</button>
            <button *ngIf="!payrollCalenderUpdate" class="btn save pull-right"
              (click)="singlePayrollCalander()">Submit</button>
            <button *ngIf="payrollCalenderUpdate" class="btn save pull-right"
              (click)="singlePayrollCalanderUpdate()">update</button>

            <div class="clearfix"></div>

          </div>

        </div>

      </div>

    </div>
    <!-- </form> -->

  </div>
</div>


<!-- Next Cycle -->
<div class="next-cycle">

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-body">

          <div class="next-cycle-in col-md-11">

            <img src="../../../../../assets/images/Manager Self Service/error.png" alt="img">

            <small>Please confirm that you want to finish the current cycle and start the next cycle.</small>
            <p *ngIf="!currentCylcle">Current Cycle: <span> cycle number:{{currentPayCycleDates.pay_cycle_number}}
              </span> <em>Cycle Begin Date{{currentPayCycleDates.pay_cycle_start_date | date}} - Cycle End
                Date{{currentPayCycleDates.pay_cycle_end_date | date}}</em></p>

            <p *ngIf="!nextCylcle">Next Cycle: <span> cycle number:{{nextPayCycleDates.pay_cycle_number}} </span>
              <em>Cycle Begin Date {{nextPayCycleDates.pay_cycle_start_date | date}} - Cycle End
                Date {{nextPayCycleDates.pay_cycle_end_date | date}}</em> </p>


            <button class="btn cancel" data-dismiss="modal">Cancel</button>
            <button class="btn save" (click)="cycleDataSend()">Submit</button>
            <div class="clearfix"></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>


<!-- Previous Cycle -->
<div class="next-cycle">

  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-body">

          <div class="next-cycle-in col-md-11">

            <img src="../../../../../assets/images/Manager Self Service/error.png" alt="img">

            <small>Please confirm that you want to reopen the previous cycle and abort the current cycle.</small>

            <p *ngIf="!currentCylcle1">Previous Cycle: <span> cycle number:{{currentPayCycleDates1.pay_cycle_number}}
              </span> <em>Cycle Begin Date{{currentPayCycleDates1.pay_cycle_start_date | date}} - Cycle End
                Date{{currentPayCycleDates1.pay_cycle_end_date | date}}></em> </p>

            <p *ngIf="!nextCylcle1">Current Cycle: <span> cycle number: </span>
              <em>{{nextPayCycleDates1.pay_cycle_start_date | date}} - Cycle End
                Date{{nextPayCycleDates1.pay_cycle_end_date | date}}</em> </p>


            <button class="btn cancel" data-dismiss="modal">Cancel</button>
            <button class="btn save" (click)="reopenCycleSubmit()">Submit</button>
            <div class="clearfix"></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>



<!-- Salary grade Brand -->
<div class="paygroup salary-grade">

  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add Salary Grade Bands</h4>
        </div>

        <div class="modal-body">

          <div class="paygroup-in col-md-11 salarygrade-in">

            <ul style="margin:0;">
              <li>
                <label>Salary Grade Name *</label>
                <input type="text" [(ngModel)]="salGrade.name" class="form-control" name="name1" #name="ngModel"
                  required placeholder="Salary Grade Name">
                <p *ngIf="!salGrade.name && name.touched && isValidSal || (!salGrade.name && isValidSal)" class="error">
                 Enter grade name
                </p>
              </li>
              <!-- <li>
                <label>Job Title</label>
                <mat-select class="form-control" [(ngModel)]="SinglePayrollGroup.status" placeholder="Status"
                  name="status" #status="ngModel" required>
               
                </mat-select>

              </li> -->
              <li>
                <label>Salary Grade Pay Frequency *</label>

                <mat-select class="form-control" placeholder="Frequency" [(ngModel)]="payrollGroup.frequency"
                  name="frequency" #frequency="ngModel" required>
                  <mat-option value='Weekly'>Weekly</mat-option>
                  <mat-option value='Bi-Weekly'>Bi-Weekly</mat-option>
                  <mat-option value='Semi-Monthly'>Semi-Monthly</mat-option>
                  <mat-option value='Monthly'>Monthly</mat-option>
                  <mat-option value='Annual'>Annual</mat-option>

                </mat-select>
                <p *ngIf="!payrollGroup.frequency && frequency.touched && isValidSal || (!payrollGroup.frequency && isValidSal)"
                  class="error">
                  Enter frequency
                </p>

              </li>
            </ul>
<!-- {{salGradeGradeBands.length}} -->
            <table class="table">
              <thead>
                <tr>
                  <th>
                   
                  </th>
                  <th>Grade</th>
                  <th>Min</th>
                  <th>Mid</th>
                  <th>Max</th>
                  <th>Average Salary</th>
                  <th>Average Market value</th>
                  <th>
                    <button mat-icon-button [matMenuTriggerFor]="menu5" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu5="matMenu">
                      <button *ngIf="salGradeGradeBands.length== 0" (click)="addSalaryGrade()" mat-menu-item>
                        <a>Add</a>
                      </button>

                      <button *ngIf="salGradeGradeBands.length >=1" (click)="deleteSalGradeBands()" mat-menu-item>
                        <a>Delete</a>
                      </button>
                    </mat-menu>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of salryGrades;let i = index">
                  <td [ngClass]="{'zenwork-checked-border':data.isChecked}">
                    <mat-checkbox [(ngModel)]="data.isChecked" (ngModelChange)="selectedSalGrade(i,$event,data)"
                      class="zenwork-customized-checkbox addsalary-check"></mat-checkbox>
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="data.grade" name="grade" #grade="ngModel" required
                      class="form-control">
                    <span *ngIf="!data.grade && grade.touched && isValidSal || (!data.grade && isValidSal)"
                      class="error">Enter grade
                    </span>

                  </td>
                  <td>
                    <div class="grade-dollar">
                      <em>$</em>
                      <input type="text" [(ngModel)]="data.min" (ngModelChange)="minValue(i,$event)"
                        (keypress)="keyPress($event)" class="form-control salary-form" name="min" #min="ngModel"
                        required>
                    </div>
                    <span *ngIf="!data.min && min.touched && isValidSal || (!data.min && isValidSal)"
                      class="error">Enter min value
                    </span>

                    <span *ngIf="data.minSalValueError" class="error">Enter less than
                      mid value
                    </span>

                  </td>

                  <td>
                    <div class="grade-dollar">
                      <em>$</em>
                      <input type="text" [(ngModel)]="data.mid" (ngModelChange)="midValue(i,$event)" name="mid"
                        #mid="ngModel" (keypress)="keyPress($event)" required class="form-control salary-form">
                    </div>
                    <span *ngIf="!data.mid && mid.touched && isValidSal|| (!data.mid && isValidSal)"
                      class="error">Enter min value
                    </span>
                    <span *ngIf="data.midSalValueError" class="error">Enter greater than
                      min value
                    </span>
                  </td>
                  <td>
                    <div class="grade-dollar">
                      <em>$</em>
                      <input type="text" [(ngModel)]="data.max" (ngModelChange)="maxValue(i,$event)"
                        (keypress)="keyPress($event)" name="max" #max="ngModel" required
                        class="form-control salary-form">
                    </div>
                    <span *ngIf="!data.max && max.touched || (!data.max && isValidSal)" class="error">Enter max value
                    </span>
                    <span *ngIf="data.maxSalValueError" class="error">Enter greater than
                      mid&max value
                    </span>
                  </td>
                  <td>
                    <div class="grade-dollar">
                      <em>$</em>
                      <input type="text" [(ngModel)]="data.average_salary" (keypress)="keyPress($event)"
                        class="form-control salary-form">
                    </div>
                  </td>

                  <td>
                    <div class="grade-dollar">
                      <em>$</em>
                      <input type="text" [(ngModel)]="data.average_market_value" (keypress)="keyPress($event)"
                        class="form-control salary-form">
                    </div>
                  </td>
                  <td> </td>

                </tr>

              </tbody>
            </table>

            <mat-paginator [length]="salaryGradeBands" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="salaryGradepageEvents($event)"></mat-paginator>


            <div class="border-btm1"></div>
            <button class="btn cancel pull-left" (click)="salaryGradeCancel()">Cancel</button>
            <button *ngIf="!updateSalGrade" class="btn save pull-right" (click)="salaryGradeSubmit()" [disabled]="addSaralySubmit" >Submit</button>
            <button *ngIf="updateSalGrade" class="btn save pull-right" (click)="salaryGradeUpdate()" >Update</button>

            <div class="clearfix"></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>