<!-- Admin Dashboard Menu Starts -->

<div class="toggle-side-nav-inner" *ngIf="userData.role == 'admin' && message != 'reseller'">

  <ul class="nav nav-sidebar dashboard-sub-menu-main-wrapper">
    <li routerLinkActive="active">

      <a [routerLink]="['/admin/admin-dashboard/dashboard']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/dashboard_grey.png" alt="Company-settings icon">
        </span>
        <small>Dashboard</small>
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/employee-management/profile/profile-view/personal']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/my_info_grey1.png" alt="Company-settings icon">
        </span>
        <small>My Info</small>

      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/inbox']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/inbox_grey1.png" alt="Company-settings icon">
        </span>
        <small>Inbox <var><i class="fa fa-check-square" aria-hidden="true"></i></var> <em><i
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></em> </small>
      </a>
    </li>
  </ul>

  <ul class="nav nav-sidebar zenwork-main-submenu">
    <li *ngIf = "!empHR && !empManager && !empEmployee" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/company-settings']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/company_settings_grey1.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/company_setting_green.png" class="hover-icon" alt="img">
        </span>
        <small>Company Settings</small>

        <!-- <img src="../../../assets/images/Side Menu/Grey/company_settings_grey1.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Company Settings -->
      </a>
    </li>
    <li *ngIf = "!empEmployee" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/employee-management']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/emp_management_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/emp_management_green.png" class="hover-icon" alt="img">
        </span>
        <small>Employee Management</small>

        <!-- <img src="../../../assets/images/Side Menu/Grey/emp_management_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Employee Management -->
      </a>
    </li>
    <li *ngIf = "!empManager && !empEmployee" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/recruitment']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/recruitment_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/recruitment_green.png" class="hover-icon" alt="img">
        </span>
        <small>Recruitment</small>


        <!-- <img src="../../../assets/images/Side Menu/Grey/recruitment_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Recruitment -->
      </a>
    </li>
    <li *ngIf = "!empManager && !empEmployee">
      <a [routerLink]="['/admin/admin-dashboard/employee-management/employee-management']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/benefits_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/benefits_green.png" class="hover-icon" alt="img">
        </span>
        <small>Benefits Administration</small>

        <!-- <img src="../../../assets/images/Side Menu/Grey/benefits_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Benefits Administration -->
      </a>
    </li>
    <li *ngIf = "!empManager && !empEmployee">
      <a [routerLink]="['/admin/admin-dashboard/employee-management/employee-management']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/performance_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/performance_green.png" class="hover-icon" alt="img">
        </span>
        <small>Performance Management</small>

        <!-- <img src="../../../assets/images/Side Menu/Grey/performance_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Performance Management -->
      </a>
    </li>
    <li *ngIf = "!empManager && !empEmployee" routerLinkActive="active">
      <a [routerLink]="['/admin/admin-dashboard/leave-management']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/leave_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/leave_green.png" class="hover-icon" alt="img">
        </span>
        <small>Leave Management</small>

        <!-- <img src="../../../assets/images/Side Menu/Grey/leave_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Leave Management -->
      </a>
    </li>
    <li *ngIf = "!empManager && !empEmployee">
      <a [routerLink]="['/admin/admin-dashboard/employee-management/employee-management']">

        <span>
          <img src="../../../assets/images/Side Menu/Grey/reports_grey.png" class="normal-icon" alt="img">
          <img src="../../../assets/images/Side Menu/Green/reports_green.png" class="hover-icon" alt="img">
        </span>
        <small>Reports</small>


        <!-- <img src="../../../assets/images/Side Menu/Grey/reports_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon"> Reports -->
      </a>
    </li>
  </ul>
</div>

<!-- Admin Dashboard Menu Ends -->

<!-- Super Admin Dashboard Menu Starts -->

<div class="toggle-side-nav-inner" *ngIf="userData.role == 'super-admin'  && message != 'reseller'">
  <!-- 

  <a href="#">
    <img src="../../../assets/images/Side Menu/Green/side-logo.png" width="213" height="36" alt="img">
  </a> -->


  <ul class="nav nav-sidebar dashboard-sub-menu-main-wrapper">
    <!-- <li class="active">

      <a [routerLink]="['/admin/admin-dashboard/employee-management/employee-management']" >
        <img src="../../../assets/images/Side Menu/Grey/dashboard_grey.png" class="zenwork-side-nav-icon" alt="Company-settings icon">   
        Dashboard
      </a>
    </li> -->

    <li routerLinkActive="active">
      <a [routerLink]="['/super-admin/super-admin-dashboard/clients']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/my_info_grey.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/green-client.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small>Clients</small>
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/super-admin/super-admin-dashboard/zenworkers']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/inbox_grey.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/green-zenwork.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small> Zenworkers</small>
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/super-admin/super-admin-dashboard/invoice']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/company_settings_grey.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/green-billings.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small> Invoice</small>
      </a>
    </li>

    <li *ngIf='!restrictLevel1' routerLinkActive="active">
      <a [routerLink]="['/super-admin/super-admin-dashboard/settings']">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/company_settings_grey1.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/company_setting_green.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small> Settings</small>
      </a>
    </li>

  </ul>
  <div class="client-details-wrapper form-group">
    <div class="client-details ">
      <div class="media-body">
        <ul class="list-unstyled">
          <li class="list-items">
            <span class="reseller-btn">R</span>
            <small>Reseller</small>
          </li>
          <div class="clearfix"></div>
          <li class="list-items">
            <span class="direct-client-btn">DC</span>
            <small>Direct Client</small>
          </li>
          <div class="clearfix"></div>
          <li class="list-items">
            <span class="reseller-direct-client-btn">RC</span>
            <small> Reseller's Client</small>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="toggle-side-nav-inner" *ngIf="message == 'reseller'">

  <ul class="nav nav-sidebar dashboard-sub-menu-main-wrapper">


    <li routerLinkActive="active">
      <a (click)="resellerClients()">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/my_info_grey.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/green-client.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small>Clients</small>
      </a>
    </li>
    <li routerLinkActive="active">
      <a (click)="administrator()">
        <span>
          <img src="../../../assets/images/Side Menu/Grey/inbox_grey.png" class="zenwork-side-nav-icon"
            alt="Company-settings icon">
          <img src="../../../assets/images/Side Menu/Green/green-zenwork.png" class="zenwork-side-nav-green"
            alt="Company-settings icon">
        </span>
        <small> Administrator</small>
      </a>
    </li>




  </ul>
  <div class="client-details-wrapper form-group">
    <div class="client-details ">
      <div class="media-body">
        <ul class="list-unstyled">
          <li class="list-items">
            <span class="reseller-btn">R</span>
            <small class="specification">Reseller </small>
          </li>
          <div class="clearfix"></div>
          <li class="list-items">
            <span class="direct-client-btn">DC</span>
            <small> Direct Client </small>
          </li>
          <div class="clearfix"></div>
          <li class="list-items">
            <span class="reseller-direct-client-btn">RC</span>
            <small> Reseller's Client </small>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="addClient" class="add-client">

  <mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step label="Client Details"> </mat-step>
    <mat-step label="Packages & Billing"> </mat-step>

    <mat-step label="Contact Details"> </mat-step>
    <mat-step label="Payment"> </mat-step>
    <mat-step label="Finished"> </mat-step>
  </mat-vertical-stepper>
</div> -->

<!-- Super Admin Dashboard Menu Ends -->


<!-- <div class="contact-info">

    <div class="top-block">
       <a href="#"><img src="../../../assets/images/company-settings/site-access/contact.png" width="43" height="43" alt="img"></a>
       <div class="right-block">
           <h2>Out Until Jul 27</h2>
           <small>Sick</small>
       </div>
    </div>


    <div class="contact-in">

            <div class="panel-group" id="accordion4">
    
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFifteen">
                      Contact Info
                    </a>
                  </h4>
                </div>
                <div id="collapseFifteen" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <div class="contacts">
                         <ul>
                           <li>
                             <span><img src="../../../assets/images/company-settings/site-access/phone.png" width="20" height="18" alt="img"></span>
                             <a href="#">801-724-6600 Ext. 1278</a>
                           </li>
                           <li>
                              <span><img src="../../../assets/images/company-settings/site-access/mobile.png" width="14" height="21" alt="img"></span>
                              <a href="tel:9955576684">995-557-6684</a>
                            </li>

                            <li>
                                <span><img src="../../../assets/images/company-settings/site-access/email.png" width="22" height="18" alt="img"></span>
                                <a href="mailto:nick@zenwork.com">nick@zenwork.com</a>
                              </li>
                              <li>
                                  <span><img src="../../../assets/images/company-settings/site-access/linked.png" width="19" height="19" alt="img"></span>
                                  <a href="#">linked in</a>
                                </li>
                         </ul>
                    </div>
                    
                  </div>
                </div>
    
              </div>
    
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseSixteen">
                      Hire Date
                    </a>
                  </h4>
    
                </div>
    
                <div id="collapseSixteen" class="panel-collapse collapse">
                  <div class="panel-body">

                      <div class="contacts">
                          <h2>June 08, 2012</h2>
                          <small>5yrs - 1m -16d</small>
                      </div>
    
                  </div>
                </div>
              </div>
    
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseSventeen">
                      Job Type
                    </a>
                  </h4>
                </div>
    
                <div id="collapseSventeen" class="panel-collapse collapse">
                  <div class="panel-body">
    
                      <div class="contacts">
                          <ul>
                            <li>
                              <span><img src="../../../assets/images/company-settings/site-access/user.png" width="18" height="18" alt="img"></span>
                              <a href="#"># 121</a>
                            </li>
                            <li>
                               <span><img src="../../../assets/images/company-settings/site-access/full.png" width="18" height="18" alt="img"></span>
                               <a href="#">Full Time</a>
                             </li>
 
                             <li>
                                 <span><img src="../../../assets/images/company-settings/site-access/customer.png" width="26" height="16" alt="img"></span>
                                 <a href="#">Customer Success</a>
                               </li>
                               <li>
                                   <span><img src="../../../assets/images/company-settings/site-access/north.png" width="18" height="18" alt="img"></span>
                                   <a href="#">North America</a>
                                 </li>

                                 <li>
                                    <span><img src="../../../assets/images/company-settings/site-access/usa.png" width="13" height="18" alt="img"></span>
                                    <a href="#">United States, Arkansas</a>
                                  </li>
                          </ul>
                     </div>

                  </div>
                </div>

              </div>


              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseEighteen">
                       Director
                      </a>
                    </h4>
                  </div>
      
                  <div id="collapseEighteen" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="director">
                            <a href="#"><img src="../../../assets/images/company-settings/site-access/director.png" width="51" height="51" alt="img"></a>
                            <div class="director-block">
                                <h2>Sanjeev Kumar</h2>
                                <small>Founder and CEO</small>
                            </div>
                         </div>
                     
                    </div>
                  </div>
  
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseNinteen">
                         Director Reports
                        </a>
                      </h4>
                    </div>
        
                    <div id="collapseNinteen" class="panel-collapse collapse">
                      <div class="panel-body">

                          <div class="director reports">
                              <a href="#"><img src="../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img"></a>
                              <div class="director-block">
                                  <h2>Crane Andy</h2>
                                  <small>Manager</small>
                              </div>
                           </div>
                       
                      </div>
                    </div>
    
                  </div>
  


    
            </div>
    
          </div>

    

</div>
 -->