
.zenwork-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.specifications{
  display: none;
}


.zenwork-sidenav {
  padding: 20px;
}

.zenwork-side-nav-icon{
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;

}
.toggle-side-nav-inner{

 padding: 30px 0 0;
}
.toggle-side-nav-inner { text-align: center;}
.toggle-side-nav-inner > a { display:inline-block;}
.toggle-side-nav-inner > a > img{ margin: 0 auto 30px 0;}

.toggle-side-nav-inner .nav>li>a{
  padding: 15px 15px 15px 30px;
  color: #8c8a8a;
  display: block;
  vertical-align: middle;
  font-size: 16px; cursor: pointer;
}

.toggle-side-nav-inner .nav>li>a:focus, .toggle-side-nav-inner .nav>li>a:hover {
  background-color: #f1f9f4;border: none; outline: none;
}

.dashboard-sub-menu-main-wrapper{
  padding: 15px 0; text-align: left;
  border-bottom:#e0e0e0 1px solid;
}

.zenwork-customized-sidebar-menu{
    width:21.666667%!important;
}

.zenwork-main-submenu{
  padding: 25px 0 !important; text-align: left;
}

.zenwork-customized-template{
  width:76.666667%!important; 
}
body{
background-color:#fff;
}

/*------ This is MySelf code ------*/


.contact-info {margin: 0 auto; width: 85%;}

.top-block { display: block;border-bottom:#008f3d 2px solid; padding: 0 0 20px; margin: 0 0 30px; }
.top-block a { display: inline-block; vertical-align: middle; width:60px;}
.right-block { display: inline-block; vertical-align: middle; width:260px;}
.right-block h2 { color:#484747; font-weight: normal; font-size:20px; line-height:20px; margin:0 0 7px;}
.right-block small { color:#8c8a8a; font-weight: normal; font-size: 17px; line-height: 17px;display: block;}

.contact-in { display: block;}

.contact-in .panel-default>.panel-heading { padding: 0 0 20px 15px; background-color:transparent !important; border: none;}
.contact-in .panel-title { color: #008f3d; display: inline-block; font-size: 17px;}
.contact-in .panel-title a:hover { text-decoration: none;}
.contact-in .panel-title>.small, .contact-in .panel-title>.small>a, .contact-in .panel-title>a, .contact-in .panel-title>small, .contact-in .panel-title>small>a { text-decoration:none;}
.contact-in .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#cccbcb 1px dashed !important;}
.contact-in .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.contact-in .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.contact-in .panel-group .panel-heading+.panel-collapse>.list-group, .contact-in .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.contact-in .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.contact-in .panel-body { padding: 0 0 5px;}

.contact-in .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.contact-in .panel-default { border-color:transparent;}
.contact-in .panel-group .panel+.panel { margin-top: 20px;}

.contacts { width: 90%; margin: 0 auto;}
.contacts ul { display: block;}
.contacts ul li { margin: 0 0 15px;}
.contacts ul li span {display: inline-block; cursor: pointer; vertical-align: middle; width: 40px;}
.contacts ul li a {  display: inline-block; cursor: pointer; vertical-align: middle; width: 200px; color:#8c8a8a; font-size: 17px; line-height: 17px;}

.contacts h2 {color:#8c8a8a; font-size: 17px; line-height: 17px; font-weight: normal; margin:0 0 10px;}
.contacts small {color:#8c8a8a; font-size: 15px; line-height: 15px; font-weight: normal;display: block; margin: 0 0 20px;}


.director {width: 90%; margin: 0 auto ; padding: 0 0 20px;}
.director a { display: inline-block; vertical-align: middle; width:60px;}
.director-block { display: inline-block; vertical-align: middle; width:230px;}
.director-block h2 { color:#8c8a8a; font-weight: normal; font-size:19px; line-height:19px; margin:0 0 7px;}
.director-block small { color:#ababab; font-weight: normal; font-size: 15px; line-height: 15px;display: block;}
.director.reports a { width:50px;} 

.green > a {
  color : #008f3d !important;
}

.zenwork-side-nav-green { display: none;}
/* .toggle-side-nav-inner .nav>li.green a.zenwork-side-nav-green{ visibility: visible;} */


.zenwork-main-submenu li a span { width:60px; display: inline-block; vertical-align: middle;}
.zenwork-main-submenu li a span img { margin: 0 auto;}
.zenwork-main-submenu li a small { display: inline-block; color: #8c8a8a; font-size: 16px;vertical-align: middle;}
.normal-icon { display: block;}
.hover-icon { display:none;}

.zenwork-main-submenu li.active a small{ color: #008f3d;}


.dashboard-sub-menu-main-wrapper li a span { width:60px; display: inline-block; vertical-align: middle; text-align: center;}
.dashboard-sub-menu-main-wrapper li a span img { margin: 0 auto; vertical-align:text-top;}
.dashboard-sub-menu-main-wrapper li a small { display: inline-block; color: #8c8a8a; font-size: 16px;vertical-align: initial;}
.dashboard-sub-menu-main-wrapper li a small var { display: inline-block; padding: 0 10px;}
.dashboard-sub-menu-main-wrapper li a small var .fa { display: inline-block; font-size:18px;color: #008f3d;}

.dashboard-sub-menu-main-wrapper li a small em { display: inline-block;}
.dashboard-sub-menu-main-wrapper li a small em .fa { display: inline-block; font-size:18px;color: #f00;}

.dashboard-sub-menu-main-wrapper li.active a small{ color: #008f3d;}

.client-details{
  font-size: 10px;
  /* float: none; */
  /* border-right: 1px solid gray; */
}

.client-details-wrapper{
  background: #fff;
  padding: 20px 20px;
  position: relative;
}

.client-details-margin{
  margin: 6px 0px;
  display: inline-block;
  /* float: none; */
}

.client-details .media-body ul{
  margin: 0;                                      
}
.client-details .media-body ul li{
  /* display: inline-block; */
  padding-bottom: 10px;
    display: block;
    float: left;
    padding-left: 25px;
}
.client-details .media-body ul li small{
  font-size: 16px !important;
}
.client-details .media-body ul{
  margin: 0;                                      
}
.client-details .media-body ul li .reseller-btn{
  background: #f3616c;
  width: 30px;
  padding: 5px 0px;
  display: inline-block;
  font-size: 15px;
  margin: 0px 10px 0 0;
  text-align: center;
}
.client-details .media-body ul li .direct-client-btn{
  background: #1aa4db;
  width: 30px;
  padding: 5px 0px;
  display: inline-block;
  font-size: 15px;
  margin: 0px 10px 0 0;
  text-align: center;
}
.client-details .media-body ul li .reseller-direct-client-btn{
  background: #fbd437;
  width: 30px;
  padding: 5px 0px;
  display: inline-block;
  font-size: 15px;
  margin: 0px 10px 0 0;
  text-align: center;
}
/* .sidenav-position{
  position: fixed;
} */