<div class="job-bank col-md-11">

  <h2>Job Description</h2>

  <div class="post-jobs-cont">  
  
    <table class="table">
        <thead>
          <tr>
            <th><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></th>
            <th>Job Title</th>
            <th>Department</th>
            <th>Business Unit</th>
            <th>Location</th>
           <th></th>
            <th>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <a data-toggle="modal" data-target="#myModal">Add</a>
                </button>
               
                <button mat-menu-item>
                    <a>Edit</a>
                </button>
                <button mat-menu-item>
                  <a>Copy</a>
                </button>
                
                <button mat-menu-item>
                  <a>Preview</a>
                </button>

                <button mat-menu-item>
                  <a>Archive</a>
                </button>

                <button mat-menu-item>
                  <a>Delete</a>
                </button>

              </mat-menu>
            </th>
          </tr>
        </thead>

        <tbody> 
          <tr>
            <td><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></td>
            <td>Administrator</td>
            <td>Sales</td>
            <td>East</td>
            <td>India</td>
            <td></td>
           <td></td>
           
          </tr>
          
        </tbody>
    </table>

  </div>

</div>





<!-- Add / Edit - Job Description -->
<div class="jobs-bank-popup">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add / Edit - Job Description</h4>
        </div>
        <div class="modal-body">
          
          <div class="jobs-bank-main">

            <div class="jobs-bank-add col-md-10">

              <ul>
                <li class="col-md-4">
                  <label>Posting Title *</label>
                  <input type="text" class="form-control" placeholder="Job Title">
                </li>                       
              </ul>
    
              <ul>
                <li class="col-md-4">
                  <label>Department *</label>
                  <mat-select class="form-control" placeholder="Department">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
            
                <li class="col-md-4">
                  <label>Location *</label>
                  <mat-select class="form-control" placeholder="Hiring Manager">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
            
                <li class="col-md-4">
                  <label>Business Unit *</label>
                  <mat-select class="form-control" placeholder="Hiring Manager">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
              </ul>

              <ul>
                <li class="col-md-4">
                  <label>Industry *</label>
                  <mat-select class="form-control" placeholder="Industry">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
            
                <li class="col-md-4">
                  <label>Function *</label>
                  <mat-select class="form-control" placeholder="Function">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
                        
              </ul>

              <ul>
                <li class="col-md-3">
                  <label>Grade *</label>
                  <mat-select class="form-control" placeholder="Grade">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>
            
                <li class="col-md-3">
                  <label>Job Type *</label>
                  <mat-select class="form-control" placeholder="Job Type">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>

                <li class="col-md-6">
                  <label>Will the position have direct reports? *</label>
                  <mat-select class="form-control" placeholder="position">
                    <mat-option value='Standard'>Manager</mat-option>
                    <mat-option value='Employee'>Manager12</mat-option>
                  </mat-select>
                </li>

                <li class="col-md-12 space-top">
                    <label>Description</label>
                  <textarea class="form-control text-area" rows="5" id="comment" placeholder="Description"></textarea>
                </li>

                <li class="col-md-12 space-top">
                    <label>Requirements</label>
                  <textarea class="form-control text-area" rows="5" id="comment" placeholder="Requirements"></textarea>
                </li>

                <li class="col-md-12 space-top">
                  <label class="about-comp">About the Compnay</label>
                  <div class="standard-cont">
                    <ul>
                      <li><a (click)="editStandard()">Edit Standard Content</a></li>
                      <li><a>Load Standard Content</a></li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  <textarea class="form-control text-area" rows="5" id="comment" placeholder="Requirements"></textarea>
              </li>
                        
              </ul>
    
              <div class="clearfix"></div>
             </div>            
             <div class="border-top">
               <div class="job-bank-width col-md-10">
                  <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                  <button class="btn pull-right save">Save / Create the Posting</button>
                  <div class="clearfix"></div>
               </div>
              
             </div>
              
          </div>

        
        </div>

      </div>

    </div>
  </div>

</div>



<!-- Job Description -- About Company -->
<div class="jobs-bank-popup">

    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
  
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add / Edit - Job Description <br>
              (About the Compnay - Standard Content)
            </h4>
          </div>
          <div class="modal-body">
            
            <div class="jobs-bank-main">
  
              <div class="jobs-bank-add col-md-11">
  
                <ul>
                  
                  <li class="col-md-12 space-top">
                      <label>About the Compnay</label>
                    <textarea class="form-control text-area" rows="5" id="comment" placeholder="Description"></textarea>
                  </li>
                
                </ul>
      
                <div class="clearfix"></div>
               </div>            
               <div class="border-top">
                 <div class="job-bank-width col-md-10">
                    <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                    <button class="btn pull-right save">Submit</button>
                    <div class="clearfix"></div>
                 </div>
                
               </div>
                
            </div>
  
           
  
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>