

.jobs-bank-popup { display: block;}
.jobs-bank-popup .modal-dialog { width:65%;}
.jobs-bank-popup .modal-content {border-radius: 5px; border: none; padding: 0 0 40px;}
.jobs-bank-popup .modal-header {padding:30px;}
.jobs-bank-popup .modal-body { padding: 0; background: #fff;border-radius: 5px;}

.jobs-bank-main {float: none; margin: 0 auto; padding: 30px 0 0;}

.jobs-bank-add {float: none; margin: 0 auto; padding: 0;} 
.jobs-bank-add ul { display:inline-block; padding: 0; width: 100%;}
.jobs-bank-add ul li {margin: 0 0 25px;}
.jobs-bank-add ul li label{color: #484747;font-size: 17px; padding: 0 0 10px;}
.jobs-bank-add ul li .form-control{ border: none; box-shadow: none; padding: 13px 12px; height: auto;
background:#f8f8f8; font-size: 15px;}
.jobs-bank-add ul li .form-control:focus{ box-shadow: none;}
.jobs-bank-add ul li .form-control.text-area{ resize: none; height: 160px;}

.jobs-bank-add ul li.space-top { margin: 0 0 40px;}

.jobs-bank-add ul li label.about-comp { display: inline-block; float:left}
.standard-cont { float: right;}
.standard-cont > ul { display: block;}
.standard-cont > ul > li { display: inline-block; margin: 0 10px;}
.standard-cont > ul > li > a { color: #848282; border:#ccc 1px solid; border-radius:30px; padding: 5px 20px; cursor: pointer;}

.jobs-bank-main .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff;}
.jobs-bank-main .btn.cancel {color:#6b6969; background:transparent;font-size: 16px;}
.border-top {border-top:#ccc 1px solid; padding: 40px 0 0; float: none; margin: 0 auto;}

.job-bank-width {float: none; margin: 0 auto; padding: 0;}