<div class="theme-main col-md-11">

<div class="zenwork-currentpage">

  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
     <small><img src="../../../assets/images/company-settings/Theme/theme.png" class="zenwork-inner-icon"
      alt="Company-settings icon"> </small>
    <span>Theme</span>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>

<div class="theme-logo">
  <img src="../../../assets/images/company-settings/Theme/Ellipse.png" class="theme-outer-circle">
  <img src="../../../assets/images/company-settings/Theme/inner-theme.png" class="theme-inner-img">
  
  
  <div class="dropdown">
      
      <img src="../../../assets/images/company-settings/Theme/edit-theme.png" class="edit-theme-img dropdown-toggle" 
      data-toggle="dropdown" type="button" id="zenworkEditTheme">
      <ul class="dropdown-menu theme-menu" aria-labelledby="zenworkEditTheme" role="menu">
        <li><a >Upload Logo</a></li>
        <li><a >View Logo</a></li>
        <li><a >Remove Logo</a></li>
      </ul>
    </div>
    <div>
      <button class="update-btn">Update</button>
    </div>
    <hr class="zenwork-margin-ten-zero">
</div>

<div>
  <p class="theme-text">Change the color scheme of the site</p>
  <img src="../../../assets/images/company-settings/Theme/Group-theme.png" class="group-theme">
  <hr class="zenwork-margin-ten-zero">
</div>
<div >
  <p class="theme-text">Change the font style</p>
  <div class="col-xs-3 form-group">
    <select class="form-control" >
      <option value="">Times New Roman</option>
      <option>Calibri</option>
      <option>Havletica</option>
    </select>
  </div>
  
      <hr class="zenwork-margin-ten-zero col-xs-12">
  
</div>

</div>

  
  
