.theme-main { margin:40px auto; float: none; padding: 0;}


.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}


.zenwork-currentpage{
    padding:0;
}
.theme-outer-circle{
    width: 15%;
    margin: 25px 0px 0px 10px;
}
.theme-logo{
    position: relative;
}
.theme-inner-img{
    position: absolute;
    top: 57px;
    left: 44px;
}
.edit-theme-img{
    position: absolute;
    top: -116px;
    left: 14%;
    cursor: pointer;
}
.dropdown-toggle::after {
    display:none;
}
.theme-menu{
    position: absolute;
    left: 134px;
    top: -90px;
    box-shadow: 5px 3px 14px 5px rgba(255, 255, 255, 0);
    padding: 0px;
    min-width: 140px;
}
.theme-menu>li>a:hover {
background-color: #119149;
cursor: pointer;

}
.update-btn{
    background-color: #119149;
    border: 1px solid #119149;
    padding: 4px 14px;
    color: #ffffff;
    margin: 20px 0px 15px 48px ;
    font-size: 11px;
}
.group-theme{
    margin: 30px 0px 0px 30px;
}
.theme-text{
    margin-top: 20px;
}