.personal { margin: 30px auto 0; float: none;}
.personal .panel-default>.panel-heading { padding: 0 0 25px; background-color:transparent !important; border: none;}
.personal .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.personal .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.personal .panel-title>.small, .personal .panel-title>.small>a, .personal .panel-title>a, .personal .panel-title>small, .personal .panel-title>small>a { text-decoration:none;}
.personal .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.personal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.personal .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.personal .panel-group .panel-heading+.panel-collapse>.list-group, .personal .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.personal .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.personal .panel-body { padding: 0 0 5px;}

.personal .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.personal .panel-default { border-color:transparent;}
.personal .panel-group .panel+.panel { margin-top: 20px;}

.list-items-addresslocal{
    display: inline-block;
    width: 25%;
}


.save {border-radius: 20px;font-size: 15px; padding: 6px 24px;margin:30px 0 0;background: #008f3d; color:#fff;}
.cancel { color:#e44a49; background:transparent; padding: 30px 0 0;}

.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }

.next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}

.date { height: auto; line-height:inherit; width:100%;background:#f8f8f8;}
.date a { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}
.date a:focus { border: none; outline: none;}
.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:75%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.error{ color: #e44a49;}

.padding-left-15{
    padding: 0 0 0 15px;
}

.historical-tablerow{
    background: #fff;
}
.historical-tablerow td{
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid #edf7fe;
}

.list-items-employement{
    display: inline-block;
    width: 24%;
    padding: 0px 7px;
    vertical-align: top;
}
.employement-details .list-job-employement {
    display: inline-block;
    width: 50%;
    padding: 0px 7px;
}

.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: auto; 
    box-shadow: none;
    background: #f8f8f8;
}

.text-area1 { width: 80%; resize: none;}

.employement-details{
    margin: 20px 0 0 0;
}

input{
    height:30px;
    border:0;
    width: 178px;
}

label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 15px;
    padding: 0 0 8px;
}

.education-date-list {
    width: 25%;
    position: relative;
    display: inline-block;
}

 .grade-band span{
    height: 40px;
    background: #f8f8f8;
    display: block;
    padding: 15px;
}
.education-date-list span {
    height: 49px;
    background: #fff;
    display: block;
    padding: 15px;
}
.education-date .padding10-listitems{
    margin: 0px 5px 0 0;
}

.historical-table thead td{
    padding: 10px 30px;
    background: #edf7fe;
    text-align: center;
    font-size: 15px;
}
.select-btn {
    border: none;
    box-shadow: none;
    height: auto;
    width: 95%;
    padding: 15px;
}



.employement-status-modal .modal-dialog { width: 60%;}
.employement-status-modal .modal-content { border-radius: 5px !important;}
.employement-status-modal .modal-header {padding: 15px 15px 20px;}
.employement-status-modal .modal-header h4 { padding: 0 0 0 30px;}

.model-bg {
    background: #fff;
    padding: 30px;
}

.zenwork-margin-ten-zero {
    margin: 10px 0px!important;
    border-top: 2px solid #eee;
}

.employment-date-list {   
    position: relative;
    display: inline-block;
    padding: 0px 23px; 
    width: 23%;   
}
.job-date-list {   
    position: relative;
    display: inline-block; 
    width: 23%;  
    margin-left: 13px; 
}
.start-date{
    font-size: 14px;
    padding-left: 15px;
    box-shadow: none;
    background: #f8f8f8;
}

.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}