<div class="personal col-md-11">

  <div class="panel-group" id="accordion3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
            Compensation Details
          </a>
        </h4>
      </div>
      <form  [formGroup]="compensationDetailsForm">
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="compensation-details padding-left-15">  
            <div class="row mar-btm-15">
              <div class="col-xs-2 list-items-addresslocal city" *ngIf="fieldsShow.Nonpaid_Record.hide !== true">
                <label>Nonpaid Record? <span *ngIf="fieldsShow.Nonpaid_Record.required">*</span></label><br>
                <mat-select class="form-control select-btn" formControlName="NonpaidPosition" [required]="fieldsShow.Nonpaid_Record.required" (ngModelChange)="nonPaidRecordsFields($event)" [disabled]="compensationTabView">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
                <span *ngIf="compensationDetailsForm.get('NonpaidPosition').invalid && compensationDetailsForm.get('NonpaidPosition').touched" class="error">Enter nonpaid record</span>
              </div>
              <div class="col-xs-4 list-items-addresslocal city" *ngIf="(fieldsShow.Highly_compensated_Employee_type.hide !== true) && showFilelds">
                <label>Highly Compensated Employee? <span *ngIf="fieldsShow.Highly_compensated_Employee_type.required">*</span></label><br>
                <mat-select class="form-control select-btn" formControlName="HighlyCompensatedEmployee" [required]="fieldsShow.Highly_compensated_Employee_type.required"
                placeholder="Highly compensated" [disabled]="compensationTabView">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
                <span *ngIf="compensationDetailsForm.get('HighlyCompensatedEmployee').invalid && compensationDetailsForm.get('HighlyCompensatedEmployee').touched" class="error">Enter compensated employee</span>

              </div>
            </div>
            <!-- <div class="row mar-btm-15" *ngIf="showFilelds">
              <div class="education-date">
                <div class="col-xs-4 education-date-list" *ngIf="fieldsShow.Pay_group.hide !== true">
                  <label>Pay Group </label><br>
                  <mat-select class="form-control select-btn" formControlName="Pay_group" [(ngModel)]="Pay_group" [required]="fieldsShow.Pay_group.required"
                  placeholder="Pay group" (ngModelChange)="payGroupChange()" disabled>
                    <mat-option *ngFor="let group of payGroupList" [value]="group._id">{{group.payroll_group_name}}</mat-option>
                  </mat-select>
                <span *ngIf="compensationDetailsForm.get('Pay_group').invalid && compensationDetailsForm.get('Pay_group').touched" class="error">You must select a value</span>

                </div>
                <div class="col-xs-4 education-date-list" *ngIf="fieldsShow.Pay_frequency.hide !== true">
                  <label>Pay Frequency </label><br>
                  <mat-select class="form-control select-btn" formControlName="Pay_frequency" [required]="fieldsShow.Pay_frequency.required"
                  placeholder="Pay Frequency" disabled>
                  <mat-option value="Weekly">Weekly</mat-option>
                  <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                  <mat-option value="Semi-Monthly">Semi-Monthly</mat-option>
                  <mat-option value="Monthly">Monthly</mat-option>

                   
                  </mat-select>
                <span *ngIf="compensationDetailsForm.get('Pay_frequency').invalid && compensationDetailsForm.get('Pay_frequency').touched" class="error">You must select a value</span>

                </div>
              </div>
            </div> -->
            <div class="row mar-btm-15" *ngIf="showFilelds">
              <div class="education-date">
                <div class="col-xs-4 education-date-list"  *ngIf="fieldsShow.Salary_Grade.hide !== true">
                  <label>Salary Grade</label><br>
                  <mat-select class="form-control select-btn" formControlName="Salary_Grade" [required]="fieldsShow.Salary_Grade.required"
                  placeholder="Salary Grade" [disabled]=true>
                    <mat-option *ngFor="let grade of salaryGradeList" [value]="grade._id">{{grade.salary_grade_name}}</mat-option>
                  </mat-select>
                
                <span *ngIf="compensationDetailsForm.get('Salary_Grade').invalid && compensationDetailsForm.get('Salary_Grade').touched" class="error">Enter salary grade</span>

                </div>
                <div class="col-xs-4 education-date-list">
                    <label>Salary Grade Band</label>
                    <span>{{salaryGradeValue}}</span>
                    
                  <!-- <input type="text"  class="form-control ratio-field" placeholder="Grade Band" formControlName="grade_band" disabled> -->

                 
                </div>
                <!-- <div class="col-xs-4 education-date-list" *ngIf="fieldsShow.Compensation_ratio.hide !== true">
                  <label>Compensation Ratio </label><br>
                  <input type="text" (keypress)="keyPress($event)" class="form-control ratio-field" placeholder="" formControlName="compensationRatio" [required]="fieldsShow.Compensation_ratio.required"
                  placeholder="Ratio" disabled>

                <span *ngIf="compensationDetailsForm.get('compensationRatio').invalid && compensationDetailsForm.get('compensationRatio').touched" class="error">You must select a value</span>

                </div> -->
              </div>
            </div>
            <!-- <div class="row mar-btm-15">
              <div class="education-date">
                  <div class="col-xs-4 education-date-list">
                      <label>Pay Type</label>
                      <mat-select class="form-control select-btn height-30" formControlName="payType" placeholder="Pay type" disabled>
                        <mat-option value="Salary">Salary</mat-option>
                        <mat-option value="Hourly">Hourly</mat-option>
                        <mat-option value="Bonus">Bonus</mat-option>
                      </mat-select>
                  </div>
                  <div class="col-xs-4 education-date-list">
                      <label>Pay Rate</label>
                    <input type="text" class="form-control ratio-field" placeholder="Pay rate" formControlName="payRate" disabled>
                    </div>
                </div>
            </div> -->
            
          <!-- <button class="btn pull-left cancel" (click)="cancelDetails()">Cancel</button> -->
          <button *ngIf="!compensationTabView" class="btn pull-right save" type="submit" (click)="saveCompensationDetails()">Save Changes</button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
            Compensation
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="employee-status  padding-left-15">

            <table class="historical-table" width="100%">
              <thead>
                <td></td>
                <td>Effective Date</td>
                <td>Pay Rate</td>
                <td>Pay Type</td>
                <td>Pay Frequency</td>
                <td>Change Reason</td>
                <td>Notes</td>
                <td>
                  <span *ngIf="showFilelds">
                    <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                      <button *ngIf="!checkCompensationIds.length >=1" mat-menu-item data-toggle="modal" data-target="#myModal" (click)="openDialog()">Add</button>
                      <button *ngIf="(!checkCompensationIds.length <=0) && (checkCompensationIds.length ==1)" mat-menu-item>
                          <a (click)="edit()" >Edit</a>
                          <a data-toggle="modal" data-target="#myModal" #openEdit></a>
                      </button>
                    </mat-menu>
                  </span>
                </td>
              </thead>
              <tbody>
                <tr class="historical-tablerow" *ngFor="let compensation of currentCompensation">
                  <td [ngClass]="{'zenwork-checked-border': compensation.isChecked}">
                    <div class="cont-check">
                      <mat-checkbox class="zenwork-customized-checkbox" (change)="checkCurrentCompensation($event, compensation._id)" [(ngModel)]="compensation.isChecked">

                      </mat-checkbox>
                    </div>

                  </td>
                  <td>{{compensation.effective_date | date : 'MM/dd/yyyy'}}</td>
                  <td>$ {{compensation.payRate}}</td>
                  <td>{{compensation.payType}}</td>
                  <td *ngIf="compensation.Pay_group">{{compensation.Pay_group.pay_frequency}}</td>
                  <td *ngIf="compensation.Pay_frequency">{{compensation.Pay_frequency}}</td>
                  <td>{{compensation.changeReason}}</td>
                  <td>{{compensation.notes}}</td>
                  <td></td>
                </tr>
         

              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>



   

  </div>
</div>

<!-- Add/Edit Compensation -->

<div class="employement-status-modal">
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="model-bg">
          <h4 class="mar-btm-30">Add / Edit - Compensation</h4>

          <hr class="zenwork-margin-ten-zero">
          <form [formGroup]="compensationForm" >
          
            
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                
                  <li class="list-items-employement">
                    <label>Pay Type*</label>
                    <mat-select class="form-control text-field height-30" formControlName="payType" [(ngModel)]="payType" placeholder="Pay type" (ngModelChange)="payTypeSelect($event)">
                      <mat-option value="Salary">Salary</mat-option>
                      <mat-option value="Hourly">Hourly</mat-option>
                      <mat-option value="Bonus">Bonus</mat-option>
                    </mat-select>
                  <span *ngIf="compensationForm.get('payType').invalid && compensationForm.get('payType').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Enter pay type</span>

                  </li>
          
                  <li class="list-items-employement" *ngIf="payTypeFields">
                      <label>Pay Group* </label><br>
                      <mat-select class="form-control text-field" formControlName="Pay_group" [(ngModel)]="Pay_group" [required]="fieldsShow.Pay_group.required"
                      placeholder="Pay group" (ngModelChange)="payGroupChange()">
                        <mat-option *ngFor="let group of payGroupList" [value]="group._id">{{group.payroll_group_name}}</mat-option>
                      </mat-select>
                    <span *ngIf="compensationForm.get('Pay_group').invalid && compensationForm.get('Pay_group').touched" class="error">Enter pay group</span>
                  </li>
                  <li class="list-items-employement" *ngIf="payTypeFields">
                    <label>Pay Frequency</label><br>
                    <mat-select class="form-control text-field height-30" formControlName="Pay_frequency" placeholder="Pay Frequency" disabled>
                      <mat-option value="Weekly">Weekly</mat-option>
                      <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                      <mat-option value="Semi-Monthly">Semi-Monthly</mat-option>
                      <mat-option value="Monthly">Monthly</mat-option>
               
                    </mat-select>
                  <!-- <span *ngIf="compensationForm.get('Pay_frequency').invalid && compensationForm.get('Pay_frequency').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">You must select a field</span> -->

                  </li>
                  <li class="list-items-employement" *ngIf="payTypeBonus == 'Bonus'">
                      <label>Pay Frequency*</label><br>
                      <mat-select class="form-control text-field height-30" formControlName="Pay_frequency" placeholder="Pay Frequency">
                        <mat-option value="Weekly">Weekly</mat-option>
                        <mat-option value="Bi-Weekly">Bi-Weekly</mat-option>
                        <mat-option value="Semi-Monthly">Semi-Monthly</mat-option>
                        <mat-option value="Monthly">Monthly</mat-option>
                        <mat-option value="Annually">Annually</mat-option>
  
  
                      </mat-select>
                    <span *ngIf="compensationForm.get('Pay_frequency').invalid && compensationForm.get('Pay_frequency').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Enter pay frequency</span>
  
                    </li>

                    <li class="list-items-employement" *ngIf="payTypeBonus == 'Bonus'">
                      <label>Pay Rate*</label>
                      <input type="number" class="form-control text-field" placeholder="Pay Rate" formControlName="payRate"
                      (keypress)="keyPress($event)" maxlength="4">
                    <span *ngIf="compensationForm.get('payRate').invalid && compensationForm.get('payRate').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Enter pay rate</span>
                   
                    </li>

                </ul>
              </div>
           
           
              <div class="employement-details padding-left-15" *ngIf="payTypeFields">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                      <label>Salary Grade</label><br>
                      <mat-select class="form-control text-field" formControlName="Salary_Grade" [required]="fieldsShow.Salary_Grade.required"
                      placeholder="Salary Grade" disabled>
                        <mat-option *ngFor="let grade of salaryGradeList" [value]="grade._id">{{grade.salary_grade_name}}</mat-option>
                      </mat-select>
                    
                    <span *ngIf="compensationForm.get('Salary_Grade').invalid && compensationForm.get('Salary_Grade').touched" class="error">You must enter a value</span>

                  </li>
                  <li class="list-items-employement grade-band">
                      <label>Salary Grade Band</label>
                      
                      <span>{{salaryGradeValue}}</span>
                   
                  </li>
                  <li class="list-items-employement" *ngIf="payTypeFields">
                      <label>Pay Rate*</label>
                      <input type="text" class="form-control text-field" placeholder="Pay Rate" formControlName="payRate"
                      (keypress)="keyPress($event)" (ngModelChange)="payRateChangeforCompensation()">
                    <span *ngIf="compensationForm.get('payRate').invalid && compensationForm.get('payRate').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Enter pay rate</span>
                    <span *ngIf="compensationError " style="color:#e44a49; padding: 5px 0 0; display: block;">Compensation does not fall
                        under the specified grade band </span>
                    </li>

                  <li class="list-items-employement">
                    <label>Compensation Ratio</label><br>
                    <input type="text" (keypress)="keyPress($event)" class="form-control text-field" placeholder="Ratio" formControlName="compensationRatio"
                    [(ngModel)]="compensationRatio" disabled>
                  <!-- <span *ngIf="compensationForm.get('compensationRatio').invalid && compensationForm.get('compensationRatio').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">You must enter a field</span> -->

                  </li>
                </ul>
              </div>
           
            
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Change Reason</label><br>
                    <mat-select class="form-control text-field height-30" formControlName="changeReason" placeholder="Change reason">
                      
                      <mat-option *ngFor="let reason of allChangeReason" [value]='reason.name'>{{reason.name}}</mat-option>
                    </mat-select>
                  <!-- <span *ngIf="compensationForm.get('changeReason').invalid && compensationForm.get('changeReason').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">You must select a field</span> -->

                  </li>
                  <li class="job-date-list padding10-listitems list-items-addresslocal">
                    <label>Effective Date</label>

                    <div class="date">
                        <input matInput [matDatepicker]="picker5" placeholder="mm / dd / yy" class="form-control" formControlName="effective_date">
                        <mat-datepicker #picker5></mat-datepicker>
                        <a mat-raised-button (click)="picker5.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="clearfix"></div>
                      </div>

                    <!-- <input class="form-control text-field start-date address-state-dropodown data-picker-align"
                      #dpMDYSdate="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy" name="birth-date" >
                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="emp-ends-calendar-icon"
                      alt="Company-settings icon" (click)="dpMDYSdate.toggle()"
                      [attr.aria-expanded]="dpMDYSdate.isOpen">
                      <span *ngIf="compensationForm.get('effective_date').invalid && compensationForm.get('effective_date').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">You must select a field</span> -->

                  </li>
                </ul>
              </div>
           
            <div class="employement-details padding-left-15 mar-btm-50">
            
                  <label>Notes</label><br>
                  <textarea class="form-control text-field text-area1" rows="5" formControlName="notes" placeholder="Notes"></textarea>
                  <!-- <span *ngIf="compensationForm.get('notes').invalid && compensationForm.get('notes').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">You must enter a field</span> -->

              
            </div>

            <hr class="zenwork-margin-ten-zero">
            <div class="row mar-top-40">

              <button mat-button data-dismiss="modal" (click)="cancelForm()">Cancel</button>

              <button *ngIf="!checkCompensationIds.length >=1" mat-button class="submit-btn pull-right" (click)="addCompensation()">Submit</button>
              <button *ngIf="(!checkCompensationIds.length <=0) && (checkCompensationIds.length ==1)" mat-button class="submit-btn pull-right" (click)="editCompensation()">Update</button>

            </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>