<div class="self-header">
  <div class="container-fluid">

    <a href="#" class="col-md-3">
      <img alt="Zenwork Hr" src="../../assets/images//main-nav/whitelogo.png">
    </a>

    <span class="col-md-3">Package & Biliing</span>
    <div class="clearfix"></div>
  </div>
</div>


<div class="self-cont">

  <!-- <div class="self-cont-lft col-md-3">

    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>

    <mat-vertical-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>

    </mat-vertical-stepper>


    <div class="copy">
      <p>2019 &copy; Copyright | Powered by Zenwork, Inc. <br>
      <a href="#">Privacy Policy</a> | <a href="#"> Terms of Use </a></p>
    </div>


   </div> -->


  <!-- <div class="self-cont-rgt col-md-9">

  </div> -->
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
</div>