.self-header { background:#3e3e3e; padding:20px 0 16px;}

.self-header a { display: inline-block;}

.self-header span { display: inline-block; color:#fff; font-size: 20px;}

.self-cont { display: block;}

.self-cont-lft { padding: 0; position: relative;}
.copy { position: absolute; bottom: 0; left: 0; text-align: center;width: 95%;
    border-top: #cecece 1px solid;
    margin: 0 auto;
    right: 0; padding: 10px 0 0;}
.copy p { color:#818583; font-size: 15px; line-height: 25px;}
.copy p a { color:#2ab3e1;}

.self-cont-rgt { padding: 0; background: #f8f8f8;}