<div class="setting-table col-md-6">

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">Module</label>
            </div>
          </div>
        </th>
       
         <th>
           <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/super-admin/super-admin-dashboard/settings/modules-add">Add</a></li>
              <li><a>Edit</a></li>
              <!-- <li><a>Delete</a></li>
              <li><a>Copy</a></li> -->
             </ul>
            </div>
         </th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox2" type="checkbox">
              <label for="checkbox2">Company Settings</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox3" type="checkbox">
              <label for="checkbox3">Employee Management</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox4" type="checkbox">
              <label for="checkbox4">Recruitment</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox5" type="checkbox">
              <label for="checkbox5">Benifits Administration</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox6" type="checkbox">
              <label for="checkbox6">Leave Management</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>

      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox7" type="checkbox">
              <label for="checkbox7">Performance Management</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


      <tr>
        <td class="zenwork-checked-border">

          <div class="cont-check">
            <div class="checkbox">
              <input id="checkbox8" type="checkbox">
              <label for="checkbox8">Reports</label>
            </div>
          </div>

        </td>
        
        <td></td>
      </tr>


  </table>


  <a class="btn">Submit</a>

</div>

<router-outlet></router-outlet>