.setting-table { padding: 0; float: none;height:100vh;}

.setting-table a.btn {border-radius: 20px;color:#484848; font-size: 15px; padding:6px 40px; background:#008f3d; margin: 35px 0 0; color:#fff;}
.setting-table .table>tbody>tr>td, .setting-table .table>tfoot>tr>td, .setting-table .table>thead>tr>td{ padding:20px 10px;}