

.contact-banner.banner{ height: 600px;}

.contact-banner .banner-lft { padding:0;}
.contact-banner .banner-lft figure { position: absolute; top: 0; left: 0; z-index: -9;}
.contact-banner .banner-lft figure img { width: 100%; height: auto;}

.contact-banner .banner-rgt { position: absolute; top:23%; right:6%; z-index: -9; width:30%;}
.contact-banner .banner-rgt figure { position: relative;}
.contact-banner .banner-rgt figure img { width: 100%; height: auto;}



.address-block { text-align: center; padding: 0 0 100px; position: relative;}
.address-block::after { content: ''; position: absolute; top:-50px; left: 0; background:url(../../../assets/images/home/contact-lft-bg.png) no-repeat top center; width: 352px; height: 1217px;}
.address-block-lft { padding: 0;}
.address-block-lft img{ margin: 0 auto 25px;}
.address-block-lft h2 { color: #ffc550; font-size: 28px; line-height:28px; margin: 0 0 30px;}
.address-block-lft h3 { color: #009040; font-size: 28px; line-height:28px; margin: 0 0 30px;}
.address-block-lft h4 { color: #009040; font-size: 15px; line-height:15px; margin: 0 0 10px;}
.address-block-lft address { margin: 0;}
.address-block-lft address p { color:#757575; font-size: 15px; line-height: 24px;}
.address-block-lft a.mail{ color:#0064ce; font-size: 16px; line-height: 15px;}
.address-block-lft a{ color:#313131; font-size: 15px; line-height: 15px; padding: 0 0 10px; display: inline-block;}
.address-block-lft a.btn {border: #009040 1px solid;color: #009040;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 50px;
    line-height: 16px; margin: 0 0 20px;}

.address-block-lft ul { margin:10px 0 0;}
.address-block-lft ul li{ display:inline-block; margin: 0 15px 0 0;}
.address-block-lft ul li a{ display: inline-block;}
.address-block-lft ul li a .fa{ font-size: 20px; line-height: 20px; color:#c2c2c2; }
.address-block-lft ul li a .fa:hover{ color:#ffc550;}

.address-block-img { position: relative;}
.address-block-img::after { content:''; position: absolute; top:-50px; right:-90px; background:url(../../../assets/images/home/cross-border.png) no-repeat top center; width: 369px; height: 369px;transform: rotateY(40deg);}


.contacts {
    background: #fff;
    box-shadow: 0 0px 20px 7px #dedede;
    margin: 0 auto 70px 20px;
    padding: 50px 0;
    text-align: left;
    position: relative;
    z-index: 999;
    }
.contacts-lft { padding: 0 20px; }
.contacts-lft h2 { color: #658fa8; font-size: 28px; line-height:28px; margin: 0 0 10px; font-weight: bold; text-align: left;}
.contacts-lft small { color: #757575; font-size:15px; line-height:20px; margin: 0 0 30px; text-align: left; display: block;}
.contacts-lft ul { text-align: left;}
.contacts-lft ul li { margin: 0 0 20px;}
.contacts-lft ul li .form-control { height: auto; padding: 9px 12px; resize: none;}
.contacts-lft a.btn {background: #ffc550;color: #313131;font-size: 16px;font-weight: 400;border-radius: 20px;padding: 10px 35px;line-height: 16px;}
.contacts-lft ul li select { color: #8e8c8c;}

.contacts-rgt {background: #1daebb; border-radius:5px; text-align: left; position:absolute; top:30%; right:-100px;}
.contacts-rgt h2 { color: #fff; font-size: 27px; line-height:37px; margin: 0 0 50px; font-weight: bold;}    
.contacts-rgt p { color: #fff; font-size: 16px; line-height:25px; margin: 0 0 50px;}    
.contacts-rgt-in { position: relative;padding:50px;}




.contacts-rgt-in ul { padding: 0 0 60px; border-bottom:#fff 1px solid; margin: 0;}
.contacts-rgt-in ul li { display: block; margin: 0 0 15px;}
.contacts-rgt-in ul li span{ float: left; width:45px; margin: 3px 0 0;}
.contacts-rgt-in > ul > li > p { color: #fff; font-size: 16px; line-height:25px; margin: 0; float: left;}    
.contacts-rgt-in > ul > li > p > a { color:#fff;}
.contacts-rgt-in address p { margin: 0; float: left;}
.contacts-rgt-in figure { position: absolute; top: 0; right:50px;}
.mail-id{ float: left;}
.mail-id p {color: #fff; font-size: 16px; line-height:25px; margin: 0;}
.mail-id p a{ color:#fff;}
.mail-id p a:hover{ text-decoration: underline;}

.social-icons { padding:20px 0 0 50px;}
.social-icons ul { margin:10px 0 0; padding: 0; border: none;}
.social-icons ul li{ display:inline-block; margin: 0 20px 0 0;}
.social-icons ul li a{ display: inline-block;}
.social-icons ul li a .fa{ font-size: 20px; line-height: 20px; color:#0e828c; }
.social-icons ul li a .fa:hover{ color:#ffc550;}


#arrow-down { margin: 0 auto 100px !important;}
.btm-block { display: none ;}