<div class="banner contact-banner">
  <div class="container">
    <div class="row">
      <div class="banner-lft">
        <figure><img src="../../../assets/images/home/contact-bg.png" width="1409" height="672" alt="img"></figure>
        <div class="col-sm-8">
          <h2>Contact Us</h2>
          <h1>
            Like what you hear? Want to hear more?<br>
            Please contact us.
          </h1>
          <!-- <small>We believe great businesses treat their employees like people, not ID numbers —and we’re <br>
                    building a platform that empowers organizations to do just that.</small> -->
          <!-- <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a> -->
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="banner-rgt pull-right">
          <figure><img src="../../../assets/images/home/contact-img.png" width="618" height="520" alt="img"></figure>
        </div>
        
      <div class="contacts col-lg-5 col-md-6 col-sm-8 col-xs-10 pull-left">

            <div class="contacts-lft  col-xs-12">
              <h2>SEND US A MESSAGE.</h2>
              <small>Please reach out to us if you have any questions or <br>
                need any additional information.</small>

              <ul>
                <li>
                  <div class="form-group">
                    <input [(ngModel)]="contact.contactName" class="form-control" required name="contactname" #contactname="ngModel" placeholder="Contact Name">
                  </div>
                  <!-- <span *ngIf="!contact.contactName && contactname.touched || (!contact.contactName && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter name</span> -->
                </li>
                <li>
                  <div class="form-group">
                    <input [(ngModel)]="contact.companyName" class="form-control" required name="companyName" #companyName="ngModel" placeholder="Company Name">
                  </div>
                  <!-- <span *ngIf="!contact.companyName && companyName.touched || (!contact.companyName && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company name</span> -->
                </li>

                <li>
                  <div class="form-group">
                    <input [(ngModel)]="contact.companySize" (keypress)="keyPress($event)" class="form-control" name="companysize" placeholder="Company Size" required #companysize="ngModel">
                  </div>
                  <!-- <span *ngIf="!contact.companySize && companysize.touched || (!contact.companySize && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company size</span> -->
                </li>

                <li>
                  <div class="form-group">
                    <input [(ngModel)]="contact.email" placeholder=" Email" class="form-control" required name="billingEmail" #billingEmail="ngModel"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    
                    
                  </div>
                  <!-- <span *ngIf="!contact.email && billingEmail.touched || (!contact.email && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter email</span> -->
                </li>

                <li>
                  <div class="form-group">
                    <input [(ngModel)]="contact.phNo" name="workPhone" class="form-control" required
                    #workPhone="ngModel" (keypress)="keyPress($event)" minlength=10 maxlength=10 
                    placeholder="Phone">
                  </div>
                  <!-- <span *ngIf="!contact.phNo && workPhone.touched || (!contact.phNo && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter phone</span> -->
                </li>

                <li>
                  <div class="form-group">

                    <textarea [(ngModel)]="contact.message" class="form-control" rows="5"
                      placeholder="Tell us about you, your business and requirements of a new project you want to start with us!"></textarea>
                  </div>
                </li>

              </ul>
              <a class="btn" (click)="contactForm()" >Submit</a>

            </div>
            
            <!-- 
             <div class="contacts-rgt col-lg-5 col-sm-6 col-xs-11">
                 <div class="contacts-rgt-in">
                 
                  <h2>DROP BY <br>
                      OUR OFFICE.</h2>
                  <p>Our office is located in a beau ful building inside <br>
                      the busiest and fast-growing city.</p>
      
                      <figure><img src="../../../assets/images/home/star.png" width="61" height="116" alt="img"></figure>
                  <ul>
                    <li>
                       <span><img src="../../../assets/images/home/address.png" width="21" height="20" alt="img"></span>
                       <address><p>1 East Center Street, #250, <br>
                          Faye eville, AR 72701</p></address>
                          <div class="clearfix"></div>
                    </li>
                    <li>
                          <span><img src="../../../assets/images/home/mail.png" width="20" height="13" alt="img"></span>
                          <div class="mail-id">
                              <p><a href="mail-to:info@zenworkhr.com">info@zenworkhr.com</a></p> 
                              <p><a href="mail-to:sales@zenworkhr.com">sales@zenworkhr.com</a></p>
                          </div>
                          
                          <div class="clearfix"></div>
                     </li>
                     <li>
                       <span><img src="../../../assets/images/home/phone.png" width="17" height="17" alt="img"></span>
                        <p><a href="tel:1-877-811-3829">1-877-811-3829</a></p>
                        <div class="clearfix"></div>
                     </li>
                  </ul>
      
                  <div class="social-icons">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
              </div>
              </div> -->
            <div class="clearfix"></div>



      </div>
      <!-- <div class="clearfix"></div> -->
     
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- <div id="arrow-down">
      <i class="fa fa-chevron-down"></i>
    </div> -->

<!-- <div class="arrow"> <a  (click)="arrowDown(content)" ><img src="../../../assets/images/home/down-arrow.png" width="94" height="41" alt="img"></a></div> -->


<!-- <div #content class="address-block">
  <div class="container">
     <div class="row">

        <div class="address-block-lft address-block-img  col-sm-6">
            <img src="../../../assets/images/home/graph.png" width="295" height="50" alt="img">
            <h3>Arkansas</h3>
            <address><p>1 East Center Street, #250, <br>
                Faye eville, AR 72701</p></address>
                <a href="mail-to:support@zenwork.com" class="mail">support@zenwork.com</a>
        </div>

        <div class="address-block-lft col-sm-6">
          
            <h2>Already using a Zenwork platform?</h2>
            <a href="#" class="btn">Login to contact us</a>
            <h4>Contact Sales</h4>
            <a href="tel:1-877-811-3829">1-877-811-3829</a>

            <address><p>Monday-Friday / 7am-5pm (PST)</p></address>
                <a href="mail-to:sales@zenwork.com" class="mail">sales@zenwork.com</a>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>

        </div>

     </div>
  </div>
</div>   -->