<div class="reset-pass">
   <div class="tab">
     <div class="tab-cel">


        <a href="#"><img src="../../../assets/images/main-nav/side-logo.png"></a>


        <h2>Reset your Password</h2>
        <small>Enter the Register email address to reset your password</small>
      
        <div class="top-block">        
        <div class="form-group">
          <em><img src="../../../assets/images/authentication/mail.png" width="13" height="9" alt="img"></em>
          <input class="form-control" placeholder="Email address" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
           [(ngModel)]="email" name="Email" #Email="ngModel" required>
          <div class="clearfix"></div>
        </div>
        <p *ngIf="!email && Email.touched || (!email && isValid)" class="errors">Enter valid email address</p>
      </div>
      
        <button class="btn" (click)="resetSubmit()">Send Reset Link</button>
        <span>Wait, I remember Take me back to <a (click)="onNoClick()">Login!</a></span>
      
        <div class="reset-copy">
          <p>2019 © Copyright | Zenwork, Inc.</p>
          <small><a href="#"> Privacy Policy </a> | <a (click)="termsClick()">Terms of Use</a></small>
        </div>

        

     </div>
   </div>
  

</div>