.reset-pass { text-align: center; height: 100%;}

.reset-pass a img { margin: 0 auto 40px; display: block;}
.reset-pass a img:focus, .reset-pass a:focus { outline: none; border: none;}
.reset-pass h2 { font-size: 20px; font-weight: normal;margin: 0 0 20px; color: #7d7d7d;}
.reset-pass small { font-size: 14px; padding: 0 0 20px;color: #7d7d7d; display: block;}
.reset-pass .btn { border: none; background:#439348; color:#fff; border-radius:30px; padding: 9px 25px; font-size: 15px;
width:50%; margin: 0 auto 15px; display: block;}
.reset-pass .form-group { background-color:#f8f8f8; border-radius: 4px; margin: 0 auto;}
.reset-pass em { float: left; width:38px; padding: 4px 0 10px 10px; border-right: #c7c7c7 1px solid; margin: 6px 0; height: 30px;}
.reset-pass .form-control { border: none; box-shadow:none; height: auto; padding: 13px 12px; float:left; width:90%; background-color:transparent;
font-size: 15px;text-align: left;}
.reset-pass .form-control:focus { border:none; box-shadow: none;}

.top-block { display: block;width: 60%; margin: 0 auto 30px;}

.reset-pass span { font-size: 14px; padding: 0 0 30px;color: #7d7d7d; display: block;}
.reset-pass span a { color:#2b7aca; cursor: pointer;}

.reset-copy {display: block;border-top: #c3c0c0 1px solid;
    padding: 20px 0 0;
    width:60%;
    margin: 0 auto;
}
.reset-copy > p {font-size: 14px;color: #7d7d7d; margin: 0 0 5px;}
.reset-copy > small { display: block; padding: 0;}
.reset-copy > small a { display: inline-block;color:#2b7aca; cursor: pointer;} 

.tab { display: table; width: 100%; height: 100%;}

.tab-cel { display: table-cell; width: 100%; height: 100%; vertical-align: middle;}

.errors { color:#e44a49; padding: 5px 0 0; font-size: 14px; text-align: left;}