<div class="feature-benefits leave leave-manage">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Leave Management</h2>
        <h1>We're going to rock around the clock!</h1>

        <small>Create Time-Off Policies to handle employee accruals. Use the Work Scheduler and <br> TimeSheet tools to
          make sure your staff is in place when you need them.</small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/leave-img.png" height="598" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->


<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #content class="benefits-cont">
  <div class="container">
    <div class="row">
      <p>Create time-off policies to handle employee requests. Use the work scheduler and timesheet tools to outsmart
        the busy season by intelligently managing your employees’ vacation requests.</p>
      <p>ZenworkHR’s Leave Administration module gives you a way to manage timesheets and administer time-off policies.
        Create standard work schedules for positions or build <b>custom schedules</b> needed for individual employees.
        Receive automatic alerts for missed employee time punches or unapproved timesheets so that your data is accurate
        when it’s time to process payroll.</p>
      <p>Employees can request time-off and compare the time-off of other employees on their team with <b>at-a-glance
          dashboards</b> so that they know when time is available</p>
    </div>
  </div>

</div>