.zenwork-jumbotron-bg{
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    padding: 35px;
    border-radius: 10px;
    position: relative;
}

.zenwork-currentpage{
    padding-top: 25px;
}
.main-employee{
    width: 22px
}
.zenwork-custom-company-settings{
    float: none;
    margin: 40px auto;
}
.zenwork-margin-zero{
margin-top: 20px !important;
}
.zenwork-margin-zero b{
    font-size: 14px!important;
    color: #404040;
}
.zenwork-custom-company-settings a{
    color : #3e3e3ea3;
    text-decoration: none;
}
.jumbotron p{
    font-size:19px!important;
}
.hire-heading{
    font-weight: 400;
    font-size: 25px; margin: 0 0 40px;
}
.zenwork-settings-wrapper{
}
.zenwork-settings-wrapper a{
    cursor: pointer;
}
.border-right{
    border-right: 1px solid #e4eae7;
    height:110px;
}
.margin-bottom-20{
    margin:0 0 20px;
}
.new-sub-heading{
    font-weight: normal;
    font-size: 18px;
    color: #545454;
    display: block;
}
.border-top{
    border-top: 1px solid #e4eae7;
}

.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding:6px 15px;
    font-size: 14px;
    margin:  0 10px 0 0;
}
.margin-top-40{
    margin: 40px 0 0 0;
}
.nav-link {
    color:#3e3e3ea3!important;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.mr-7{
    margin-right: 7px;
}
.mr-7 .fa{ font-size:15px;}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}
.zenwork-inner-icon{
    width: 30px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.sub-title{
    display: inline-block;
    margin: 5px 0 0;
    vertical-align:sub;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important;

}


.modal-margintop{
    margin-top:40px;
}
.modal-body .container{
    width: 100%;
}
.modal-body{
    background: #f8f8f8;
    padding: 0;
}
/* side nav css*/
.tabs-left{
    margin-top:0px;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
    border-right: 0!important;;
    padding: 20px;
    margin-top: 10px;
  }
  .tab-content{
      /* border-left: 1px solid #ddd; */
      margin: 0;
      background: #fff;
      /* padding: 30px; */
  
  }
  .compensation-tab{
      background: #f8f8f8 !important

  }
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 12px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .zenwork-side-nav>.zenwork-sidenav-activetab>a:focus, .zenwork-side-nav>zenwork-sidenav-activetab>a:hover{
    background: #439348 !important;
    border-radius: 40px !important;
    color: #fff !important;
    border: transparent !important;
}
.zenwork-sidenav-activetab .caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }
  .tab-content{
    /* border-left: 1px solid #ddd; */
    margin: 0;
    background: #fff;
    /* padding: 30px; */

}
.schdule-type{
    padding: 0 0 0 10px;
}
.schdule-type mat-select{
    width: 25% !important;
}
.emp-terminate-filters{
    margin: 20px 0 0 0;
}
.emp-terminate-filters label{
    font-weight: normal;
    padding: 0 0 5px;
    font-size: 12px;
}
.emp-terminate-filters .termination-date{
    position: relative;
}
.hiredate{
    width: 183px;
    height: 34px;
    font-size: 12px;
    padding-left: 13px;
    border: 0;
    background: #f8f8f8;
  }
  .calendar-icon{
    position: absolute;
    width: 17px;
    top: 34px;
    left: 22%;
}
textarea{
    resize: none;
    width: 55%;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}
.attach-file-btn{
    position: relative;
    padding: 5px 10px;
    font-size: 12px;
    /* border-color: #439348; */
    text-align: left;
    width: 191px;
    background: url("/assets/images/Ofboarding/ic_attachment_24px.png") no-repeat #439348;
}
.attach-file-btn .clip-icon{
    color: #fff;
    float: right;
    font-size: 17px;
}
.documents-list ul li {
    font-size: 12px;
    line-height: 20px;
}
.documents-list ul li small{
    padding: 0 10px 0 0;
}
.documents-list ul li small i {
    color: #e5423d;
    font-size: 15px;
}
.submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px;
  }
  .submit-buttons .btn-success {
      background-color: #439348;
  }
  .btn-style{
    padding: 4px 20px !important;
    border-radius: 30px!important;
    font-size: 12px;
}
/* tabel */
.custom-fields { display: block;}
.custom-fields .modal-header { width: 90%; margin:0 auto; padding:0 50px 10px; border-bottom: 1px solid #c5c3c3;}
.custom-fields .modal-title { color:#008f3d;}
.custom-fields .modal-dialog { width:70%;}
.custom-fields .modal-content { border: none; padding:30px 0 50px;}

.custom-tables { margin: 0 auto; float: none; padding: 0 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 12px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#f8f8f8;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 12px;}
.custom-fields .checkbox{ margin: 0;}


.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:2px 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}
  .time-off-data{
      margin: 40px 0 0 0;
  }
  .zenwork-margin-30{
      margin: 30px 0;
  }
  .direct-report .zenwork-input{
      background: #fff !important;
  }
  .direct-report table tr td .schdule-type{
      padding: 10px 0 0 0 !important;
  }
  .direct-report table tr td .schdule-type .mat-select{
    width: 100% !important; 
  }
  .direct-report .table tbody tr td{
      padding: 0px 15px;
  } 
  .company-property .custom-tables .table thead tr th{
      font-size: 11px !important;
  }






  .main-onboarding .panel-font{
    color:#439348 !important;
    font-weight: 600;
    margin-top: 5px;
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.settings-dropdown{
    float: right;
}
.main-onboarding .panel-heading .btn{
    padding: 4px 15px!important;
    border: none;
}
.caret{
    margin-bottom: 5px!important;
}
.task-details .taskname{
    width: 90%;
    height: 30px;
    padding-left: 10px;
    font-size: 12px;
    border: 0;
    background: #f8f8f8;
    color: #c1c1c1;
}
.zenwork-margin-top20{
    margin-top: 20px;
}
select{
    height: 30px;
}
label{
    font-weight: normal;
    font-size: 12px;
  

}
.zenwork-structure-settings{
    border-radius: 0px!important;
    height:30px;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
    color: #c1c1c1;
}
.assign-items .list-items{
    width: 40%;
    display: inline-block;
    padding: 0px 10px;
    height: 30px;
}
.assign-items .duedate{
    height: 30px;
    width:70%;
    border: 0;
    color: #c1c1c1;
    background: #f8f8f8;
}
.calendar-icon{
    position: absolute;
    width: 20px;
    top: 33px;
    right: 34%;
}
.text-area{
    width: 90%;
}
textarea{
    resize: none;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}

.category select{
    font-size: 12px;
    width: 20%;
}
.add-task-btns .list-items{
    display: inline-block;
    padding: 0px 10px;

}
.add-task{
    padding-left:0px!important;
}
.add-task-btns{
    padding-top: 10px;
}
.add-task-btns .btn{
  
    height: 25px;
    font-size: 12px;
    padding: 4px 12px !important;
}
.add-btn{
    cursor: auto;
    background-color: #439348 !important;
}
.add-task-setting-btns .task-btns{
    font-size: 12px;
    margin: 0px 6px
}
.panel-body{
    padding:15px 15px 0px 15px !important;
}
.attach-file-btn{
    
    padding: 5px 10px;
    font-size: 12px;
    border-color: #439348;
    text-align: left;
    width: 191px;
    background: url("/assets/images/Ofboarding/ic_attachment_24px.png") no-repeat #439348;
}
small{
    font-size: 9px;
    color:#3e3e3ea3;
}
.hr-tasks{
    font-size: 13px;
    font-weight: 600;
}
.individual-hr-task{
    font-size:12px;
}
.margin-top-zero{
    margin-top:0px!important;
}
.padding-top-remove{
    padding-top:0px!important;
}
/* team-text-card */
.team-introdution-card{
    background-color: #fcfcfc;
    /* border: 1px solid #eee; */
    border-radius: 2px;
    padding: 10px;
}
.cancel-task .btn{
    cursor: auto;
}
.margin-zero{
    margin:0px!important;
}
.team-introdution-card .padding-top-remove small{
    /* padding-left:25px;  */
}


.card-intro{
    font-size: 11px;
    padding-left: 30px;
}
.team-introdution-card .individual-hr-task{
    font-weight: 600;
    color: #439348;
}


  .checkbox {
    padding-left: 20px;
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
 
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .emp-image{
    padding-top: 0;
    width: 43px;
    display: inline-block;
    vertical-align: middle;
  }
  .employee-details{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
  }
  .employee-image-info{
    padding-left: 20px;
  }
  .emp-name{
    font-size: 11px;
    padding-left: 0;
    display: block;
    line-height: 11px;
  }
  .borderright{
      border-right: 1px solid #eee;
  }
  .team-text-area{
    margin-top:10px;
  }
  textarea{
      resize: none;
  }
  
  .btn-color{
    border: 1px solid #EF8086;
    color: #ef8086;
    cursor: auto;
  }
  .margin-zero{
      margin: 0px!important;
  }
  .benefits-offboarding{
      margin: 30px 0 0 0;
  }
  .offboardingtask{
      background: #f8f8f8;
  }
  .offboardingtask .done-not-icons{
      padding: 30px 30px 0 0;
  }
  .offboardingtask .done-not-icons ul li{
      display: inline-block;
      padding: 0px 10px;
  }
  .offboardingtask .done-not-icons ul li .cross-icon{
      color: #e5423d;

  }


/*-- Author:Suresh M, Date:06-05-19  --*/
/*-- Termination Wizard css code  --*/

.top-menu { position: absolute; top:-10px; right:-10px;}

.new-wizard { display: block;}
.new-wizard .modal-dialog { width: 75%;}
.new-wizard .modal-content {border-radius: 5px;}
.new-wizard .modal-header {padding: 20px 30px;}
.new-wizard .modal-body { padding: 0; background:transparent !important;}


.wizard-tabs { display: block;}

.wizard-lft { background: #f8f8f8; padding: 15px 15px 75px 0;border-radius: 0 0 0 5px; height:77vh;}
.wizard-lft.custom-wizard{height:70vh;}
.wizard-lft .nav-tabs{ border:none;}
.wizard-lft .nav-tabs>li { float: none; margin: 0 0 15px;}
.wizard-lft .nav-tabs > li.active > a, .wizard-lft .nav-tabs > li.active > a:focus, .wizard-lft .nav-tabs > li.active > a:hover 
{ border: none !important;background:transparent; color:#a5a3a3; border-radius: 30px;}
.wizard-lft .nav-tabs>li>a { font-size: 17px; margin: 0 0 0 20px; color: #a5a3a3;}
.wizard-lft .nav>li>a:focus, .wizard-lft .nav>li>a:hover { background: #787c7a; color:#fff; border-radius: 30px;}

.wizard-rgt { padding:0 ;}
.wizard-hight { height: 550px; overflow-y: auto;}

.terminination { height: 500px; overflow-y: auto;}
.terminination ul { display:block;}
.terminination ul li { margin: 0 0 25px; padding: 0 5px;}
.terminination ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.terminination ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%; background:#f8f8f8;}
.terminination ul li .form-control:focus{ box-shadow: none;}
.terminination ul li a {color: #484747; font-weight: normal; font-size: 16px; display:inline-block; cursor: pointer; text-decoration: underline;}

.terminination ul li .date { height: auto !important; line-height:inherit !important; width:94% !important;background:#f8f8f8;}
.terminination ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.terminination ul li .date span { border: none !important; padding: 0 !important;}
.terminination ul li .date .form-control { width:77%; height: auto; padding: 12px 0 12px 10px;}
.terminination ul li .date .form-control:focus { box-shadow: none; border: none;}
.terminination ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}



.terminination ul li.details-width { clear: both; float: none;}
.details-main {padding:30px 0 30px 20px;}
.details-main .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.details-main .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 30px;font-size: 16px;}
.details-main .btn.back { color:#4c4c4c; background:transparent;border:#b7b3b3 1px solid; padding: 8px 35px; 
border-radius: 20px;font-size: 16px;}
.termination-border {border-top:#ccc 1px solid !important; padding:25px 0 0; margin: 0 30px  0 0;}

.terminination ul li.procees .form-control { width: 50%;}

.tasks {margin: 0 0 20px;}
.tasks h3{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block; margin: 0;}
.tasks .form-control { width:30%; height: auto; padding: 10px 0 10px 10px; background: #f8f8f8; border: none; box-shadow:none;}


.reports {margin: 0 0 50px;}
.reports h3{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block; margin: 0;}
.reports .form-control{ border: none;margin: 0 0 20px; box-shadow: none; padding: 11px 12px; height: auto; width:25%; background:#f8f8f8;}

.reports-table .table { margin-bottom: 30px;}
.reports-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 13px; background: #eef7ff; border-bottom:none;}
.reports-table .table>tbody>tr>td, .reports-table .table>tfoot>tr>td, .reports-table .table>thead>tr>td{ padding: 13px; background:#fff;
border-top: none;}
.reports-table .table>tbody>tr>td{background: #f8f8f8;border-bottom:1px solid #ccc; vertical-align: middle;}
.reports-table .form-control{ border: none;margin: 0; box-shadow: none; padding:6px 12px; height: auto; width:100%; background:#fff;}

.company-property .table{ background:#fff;}
.company-property .table>tbody>tr>th, .company-property .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:16px;
vertical-align: middle; position: relative; background: #edf7ff;}
.company-property .table>tbody>tr>td, .company-property .table>tfoot>tr>td, .company-property .table>tfoot>tr>th, 
.company-property .table>thead>tr>td {color: #484747;padding:15px;font-size:15px;background: #f8f8f8;
border-bottom: 1px solid #ddd;}
.company-property button.mat-menu-item a { color:#ccc;}
.company-property button.mat-menu-item a:hover { color:#fff; background: #099247;}
.company-property .table>tbody>tr>th a, .company-property .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.company-property .table>tbody>tr>th a .fa, .company-property .table>thead>tr>th a .fa { color: #6f6d6d;}
.company-property button { border: none; outline: none; background:transparent;}


.terminination ul li .file-upload {
    position: relative;
    display: inline-block; background: #787d7a;border-radius: .4em; cursor: pointer; padding: 7px 20px;
  }
  .terminination ul li .file-upload span { display: inline-block;vertical-align: middle; padding: 0 0 0 25px;}
  .terminination ul li .file-upload span .fa{ color: #fff; font-size: 20px;}
  
  .terminination ul li .file-upload__label {
    display: inline-block;
    color: #fff; padding: 0;cursor: pointer;
  }
  .terminination ul li .file-upload__input {
    position: absolute;cursor: pointer;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
  }

  .custom-offboarding-temp{
      margin: 25px 0 0 0;
  }
  
  .terminination .emp{
      width: 25%;
  }
  .error{
    color:#e44a49;
    padding: 5px 0 0;
  }

/* ===========================================================================template in wizardpopup=============================================================== */

  .off-boarding{ display: block; margin: 20px 0 0;}
.tasks{ display: block;}
.tasks-in{ position: relative;background: #edf7fe; padding: 14px 20px; margin: 20px 0 0;}
.tasks h3{color: #3a3a3a;
    margin: 0;
    font-size: 18px;}
.top-menu{position: absolute; top:4px; right: 0;}
.tasks ul { display: block; background: #fff; padding:0 20px;}
.tasks ul li { display: block; padding: 20px 0;}
.tasks ul li h4{color: #3a3a3a;margin: 0 0 15px;font-size: 16px; font-weight:600;}

.task-names{ border-bottom:#ccc 1px solid; padding: 12px 0;}
.task-names span { display: block;color:#777474;font-size:14px;}
.task-names small { display: block;color: #ccc;font-size:12px; margin: 5px 0 0 0px;}

/* =============================================================================offboardingwizard--summary-review========================================== */

.summary-review { display: block;}


.summary-review {height: 570px; overflow-y: auto;}
.summary-review h2 { margin: 0 0 35px 20px; color: #317b36;font-size: 20px;}
.personal1{ height: auto; margin: 20px 0 0;}

.summary-review .terminination{
    height: auto !important;
}

.cross-icon{
    color: #f00;
    cursor: pointer;
}
.recap-last {    padding: 0 0 30px;
    display: inline-block;
    width: 100%;}

    .empworkflow{

    }