<div class="container-fluid">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a [routerLink]="['/admin/admin-dashboard/employee-management']">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Offboarding/Group 831.png" class="zenwork-inner-icon"
          alt="Company-settings icon">
      </span>
      <small class="sub-title"><b>Offboarding</b></small>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="zenwork-custom-company-settings col-md-11">
    <div class="tron zenwork-jumbotron-bg">
      <div class="col-xs-12 text-center">
        <div class="row">
          <p class="hire-heading">Termination Wizard</p>
        </div>
      </div>

      <div class="text-center">
        <div class="zenwork-settings-wrapper">

          <a data-toggle="modal" data-target="#myModal">
            <img src="../../../../../assets/images/employee-management/off-board.png" alt="Directory icon">
            <p class="zenwork-margin-zero">
              <span class='new-sub-heading'>Standard Termination Wizard</span>
            </p>
          </a>
        </div>
      </div>

    </div>
  </div>


  <hr class="zenwork-margin-ten-zero">


  <div class="zenwork-custom-company-settings col-md-11">
    <div class="tron zenwork-jumbotron-bg">
      <div class="col-xs-12 text-center">
        <div class="row">
          <p class="hire-heading">Offboarding Template</p>
        </div>

        <div class="top-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a (click)="customTemplateAdd()">Add</a>
            </button>

            <button mat-menu-item>
              <a>Copy</a>
            </button>
            <button mat-menu-item>
              <a (click)="customTemplateDelete()">Delete</a>
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="col-xs-12">
        <div class="col-xs-6 text-center">
          <div class="zenwork-settings-wrapper border-right">

            <a (click)="templateRedirect()">
              <img src="../../../../../assets/images/employee-management/off-board.png" alt="Directory icon">

              <p class="zenwork-margin-zero">
                <span class='new-sub-heading'>{{standardOffboardTemplate.templateName}}</span>
              </p>
            </a>
          </div>
        </div>

        <div *ngFor="let data of customOffboardTemplate" class="col-xs-6 text-center custom-offboarding-temp">

          <div class="zenwork-settings-wrapper">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
              (change)="showOptions($event,data._id)">
            </mat-checkbox>

            <a (click)="customTemplateRedirect(data._id)">
              <img src="../../../../../assets/images/employee-management/off-board.png" alt="Directory icon">

              <p class="zenwork-margin-zero">

                <span class='new-sub-heading'>{{data.templateName}}</span>

              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>


  <!-- <div class="zenwork-custom-company-settings col-md-11">
    <div class="tron zenwork-jumbotron-bg">
      <div class="col-xs-12 text-center">
        <div class="row">
          <p class="hire-heading">Active Termination Wizard</p>
        </div>
      </div>

      <div class="col-xs-6 text-center ">
        <div class="zenwork-settings-wrapper border-right margin-bottom-20">

          <a (click)="openModalWithClass(template)">
            <img src="../../../assets/images/Onboarding/on_boarding2_grey.png" alt="Directory icon" class="img-responsive center-block settings-icon ">
            <p class="zenwork-margin-zero">
              <span class='new-sub-heading'>Voluntary Termination</span>           
            </p>
          </a>
          <ng-template #template>
            <div class="modal-header modal-margintop">
              <b class="green">Voluntary Termination</b>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs col-md-3 zenwork-side-nav">
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'terminationDetails' }">
                        <a href="#terminationDetails" data-toggle="tab" (click)="activeFieldss('terminationDetails')">
                          Termination Details
                          <span [ngClass]="{'caret': selectedNav == 'terminationDetails' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'timeOffData' }">
                        <a href="#timeOffData" data-toggle="tab" (click)="activeFieldss('timeOffData')">Time Off
                          Data
                          <span [ngClass]="{'caret': selectedNav == 'timeOffData' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'directReport' }">
                        <a href="#directReport" data-toggle="tab" (click)="activeFieldss('directReport')"> Direct
                          Report
                          <span [ngClass]="{'caret': selectedNav == 'directReport' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'companyProperty' }">
                        <a href="#companyProperty" data-toggle="tab" (click)="activeFieldss('companyProperty')">
                          Company Property
                          <span [ngClass]="{'caret': selectedNav == 'companyProperty' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'offboardingTask' }">
                        <a href="#offboardingTask" data-toggle="tab" (click)="activeFieldss('offboardingTask')">
                          Offboarding Task
                          <span [ngClass]="{'caret': selectedNav == 'offboardingTask' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'benefits' }">
                        <a href="#benefits" data-toggle="tab" (click)="activeFieldss('benefits')"> Benefits
                          <span [ngClass]="{'caret': selectedNav == 'benefits' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'recap' }">
                        <a href="#recap" data-toggle="tab" (click)="activeFieldss('recap')"> Recap
                          <span [ngClass]="{'caret': selectedNav == 'recap' }"></span>
                        </a>
                      </li>
                    </ul>

                    <div class="tab-content col-md-9">
                      <div class="tab-pane active" id="terminationDetails">
                        <div class="emloyee-termination">
                          <div class="emp-terminate-filters">
                            <div class="form-group schdule-type">
                              <label>
                                Select Employee
                              </label><br>
                              <mat-select class="form-control zenwork-input" placeholder="Search-Employee">
                                <mat-option value="support">
                                  Employee 1
                                </mat-option>
                                <mat-option value="sr-support">
                                  Employee 2
                                </mat-option>

                              </mat-select>
                            </div>
                            <div class="form-group schdule-type">
                              <label>
                                Employment Status
                              </label><br>
                              <mat-select class="form-control zenwork-input" placeholder="Status">
                                <mat-option value="support">
                                  Terminated
                                </mat-option>
                                <mat-option value="sr-support">
                                  Active
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="form-group schdule-type  termination-date">
                              <label>Termination Date</label><br>
                              <input class="form-control"  #dpMDY="bsDatepicker"
                                bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon"
                                alt="Company-settings icon" (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">
                            </div>
                            <div class="form-group schdule-type">
                              <label>
                                Termination Reason
                              </label><br>
                              <mat-select class="form-control zenwork-input" placeholder="A-Absent">
                                <mat-option value="support">
                                  Terminated
                                </mat-option>
                                <mat-option value="sr-support">
                                  Active
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="form-group schdule-type  termination-date">
                              <label>Last Day Worked</label><br>
                              <input class="form-control"  #dpMDYLDAY="bsDatepicker"
                                bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon"
                                alt="Company-settings icon" (click)="dpMDYLDAY.toggle()" [attr.aria-expanded]="dpMDYLDAY.isOpen">
                            </div>
                            <div class="form-group schdule-type">
                              <label>
                                Eligible for Reason
                              </label><br>
                              <mat-select class="form-control zenwork-input" placeholder="A-Absent">
                                <mat-option value="support">
                                  Terminated
                                </mat-option>
                                <mat-option value="sr-support">
                                  Active
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="form-group schdule-type text-area">
                              <label>Comments</label><br>
                              <textarea class="form-control rounded-0" rows="3"></textarea>
                            </div>
                            <div class="form-group schdule-type ">
                              <label>Attach File(s) Max-5 Files</label><br>
                              <button class="btn btn-success attach-file-btn">Add Files
                                <i class="fa fa-paperclip clip-icon" aria-hidden="true"></i>
                                <div class="clearfix"></div>
                              </button>
                            </div>
                            <div class="form-group schdule-type documents-list">
                              <ul class="list-unstyled">
                                <li class="list-items">
                                  <small><i class="fa fa-times" aria-hidden="true"></i></small>
                                  <span>Documents</span>
                                </li>
                                <li class="list-items">
                                  <small><i class="fa fa-times" aria-hidden="true"></i></small>
                                  <span>Documents</span>
                                </li>
                                <li>

                                </li>
                                <li>

                                </li>
                                <li>

                                </li>
                              </ul>
                            </div>
                            <div class="form-group schdule-type">
                              <ul class="submit-buttons list-unstyled">
                                <li class="list-item">
                                  <button class="btn btn-success btn-style"> Proceed </button>
                                </li>
                                <li class="list-item">
                                  <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="timeOffData">
                        <div class="custom-tables time-off-data">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>
                                  <div class="heade-check">
                                    <div class="checkbox">
                                      <input id="checkbox20" type="checkbox">
                                      <label for="checkbox20"></label>
                                    </div>
                                  </div>
                                </th>
                                <th>Policy Name</th>
                                <th>Current Balance</th>
                                <th>Balance as of Termination Date</th>
                                <th>
                                  <a>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                                  <a>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="zenwork-assets-checked-border">

                                  <div class="cont-check">
                                    <div class="checkbox">
                                      <input id="checkbox_21" type="checkbox">
                                      <label for="checkbox_21"></label>
                                    </div>
                                  </div>

                                </td>
                                <td>Policy 1</td>
                                <td>05:30</td>
                                <td>
                                  09:30
                                </td>
                                <td>

                                </td>
                              </tr>
                              <tr>
                                <td class="zenwork-assets-checked-border">

                                  <div class="cont-check">
                                    <div class="checkbox">
                                      <input id="checkbox_21" type="checkbox">
                                      <label for="checkbox_21"></label>
                                    </div>
                                  </div>

                                </td>
                                <td>Policy 1</td>
                                <td>05:30</td>
                                <td>
                                  09:30
                                </td>
                                <td>

                                </td>
                              </tr>
                              <tr>
                                <td class="zenwork-assets-checked-border">

                                  <div class="cont-check">
                                    <div class="checkbox">
                                      <input id="checkbox_21" type="checkbox">
                                      <label for="checkbox_21"></label>
                                    </div>
                                  </div>

                                </td>
                                <td>Policy 1</td>
                                <td>05:30</td>
                                <td>
                                  09:30
                                </td>
                                <td>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="form-group schdule-type zenwork-margin-30">
                          <ul class="submit-buttons list-unstyled">
                            <li class="list-item">
                              <button class="btn btn-success btn-style"> Proceed </button>
                            </li>
                            <li class="list-item">
                              <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane" id="directReport">
                        <div class="custom-tables time-off-data direct-report">
                          <table class="table">
                            <thead>
                              <tr>

                                <th>Employee Names</th>
                                <th>Job</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th>New Manager</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Employee 1</td>
                                <td>Manager</td>
                                <td>
                                  Marketing
                                </td>
                                <td>
                                  US
                                </td>
                                <td>
                                  <div class="form-group schdule-type">
                                    <mat-select class="form-control zenwork-input" placeholder="Manager">
                                      <mat-option value="support">
                                        Manager 2
                                      </mat-option>
                                      <mat-option value="sr-support">
                                        Manager 3
                                      </mat-option>
                                    </mat-select>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>Employee 1</td>
                                <td>Manager</td>
                                <td>
                                  Marketing
                                </td>
                                <td>
                                  US
                                </td>
                                <td>
                                  <div class="form-group schdule-type">
                                    <mat-select class="form-control zenwork-input" placeholder="Manager">
                                      <mat-option value="support">
                                        Manager 2
                                      </mat-option>
                                      <mat-option value="sr-support">
                                        Manager 3
                                      </mat-option>
                                    </mat-select>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>Employee 1</td>
                                <td>Manager</td>
                                <td>
                                  Marketing
                                </td>
                                <td>
                                  US
                                </td>
                                <td>
                                  <div class="form-group schdule-type">
                                    <mat-select class="form-control zenwork-input" placeholder="Manager">
                                      <mat-option value="support">
                                        Manager 2
                                      </mat-option>
                                      <mat-option value="sr-support">
                                        Manager 3
                                      </mat-option>
                                    </mat-select>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                        <div class="form-group zenwork-margin-30">
                          <ul class="submit-buttons list-unstyled">
                            <li class="list-item">
                              <button class="btn btn-success btn-style"> Proceed </button>
                            </li>
                            <li class="list-item">
                              <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane" id="companyProperty">
                        <div class="company-property">
                          <div class="custom-tables time-off-data ">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>
                                    <div class="heade-check">
                                      <div class="checkbox">
                                        <input id="checkbox20" type="checkbox">
                                        <label for="checkbox20"></label>
                                      </div>
                                    </div>
                                  </th>
                                  <th>Asset category</th>
                                  <th>Asset description</th>
                                  <th>Serial#</th>
                                  <th>Date loaned</th>
                                  <th>Date returned</th>
                                  <th>
                                    <a>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="zenwork-assets-checked-border">

                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21"></label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>CellPhone</td>
                                  <td>Assets</td>
                                  <td>
                                    24399-3426
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>

                                  </td>
                                </tr>
                                <tr>
                                  <td class="zenwork-assets-checked-border">

                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21"></label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>CellPhone</td>
                                  <td>Assets</td>
                                  <td>
                                    24399-3426
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>

                                  </td>
                                </tr>
                                <tr>
                                  <td class="zenwork-assets-checked-border">

                                    <div class="cont-check">
                                      <div class="checkbox">
                                        <input id="checkbox_21" type="checkbox">
                                        <label for="checkbox_21"></label>
                                      </div>
                                    </div>

                                  </td>
                                  <td>CellPhone</td>
                                  <td>Assets</td>
                                  <td>
                                    24399-3426
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>
                                    07/24/2018
                                  </td>
                                  <td>

                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="form-group zenwork-margin-30">
                          <ul class="submit-buttons list-unstyled">
                            <li class="list-item">
                              <button class="btn btn-success btn-style"> Proceed </button>
                            </li>
                            <li class="list-item">
                              <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane" id="offboardingTask">

                      </div>
                      <div class="tab-pane" id="benefits">
                        <div class="benefits-offboarding main-onboarding">
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <h3 class="panel-title panel-font pull-left">Offboarding Tasks</h3>
                              <div class="settings-dropdown add-task-setting-btns">
                                <button class="btn btn-default task-btns" type="button" id="dropdownMenu1"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  + Add Tasks
                                </button>
                                <button class="btn btn-default task-btns dropdown-toggle" type="button" id="dropdownMenu1"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;
                                  <span class="caret"></span>
                                </button>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="offboardingtask">
                              <div class="panel-body">
                                <p class="hr-tasks green">HR Tasks</p>
                                <p class="individual-hr-task pull-left">Cobra<br>
                                  <small>Assigned to:Ashley Adams<br>
                                    <span>Completed Date</span>
                                  </small>
                                </p>
                                <span class="done-not-icons pull-right">
                                  <ul class="list-unstyled">
                                    <li class="list-items">
                                      <i class="fa fa-times cross-icon" aria-hidden="true"></i>
                                    </li>
                                    <li class="list-items">
                                      <i class="fa fa-check-square green" aria-hidden="true"></i>
                                    </li>
                                  </ul>
                                </span>
                                <div class="clearfix"></div>
                              </div>
                              <hr class="zenwork-margin-ten-zero margin-top-zero">
                              <div class="panel-body padding-top-remove">
                                <p class="individual-hr-task pull-left">Collect Employee ID Badge<br>
                                  <small>Assigned to:Ashley Adams<br>
                                    <span>Completed Date</span>
                                  </small>
                                </p>
                                <span class="done-not-icons pull-right">
                                  <ul class="list-unstyled">
                                    <li class="list-items">
                                      <i class="fa fa-times cross-icon" aria-hidden="true"></i>
                                    </li>
                                    <li class="list-items">
                                      <i class="fa fa-check-square green" aria-hidden="true"></i>
                                    </li>
                                  </ul>
                                </span>
                                <div class="clearfix"></div>
                              </div>
                              <hr class="zenwork-margin-ten-zero margin-top-zero">
                              <div class="panel-body padding-top-remove">
                                <p class="individual-hr-task pull-left">Check Vacation Payout/Accural<br>
                                  <small>Assigned to:Ashley Adams<br>
                                    <span>Completed Date</span>
                                  </small>
                                </p>
                                <span class="done-not-icons pull-right">
                                  <ul class="list-unstyled">
                                    <li class="list-items">
                                      <i class="fa fa-times cross-icon" aria-hidden="true"></i>
                                    </li>
                                    <li class="list-items">
                                      <i class="fa fa-check-square green" aria-hidden="true"></i>
                                    </li>
                                  </ul>
                                </span>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-info">
                            <div class="offboardingtask">
                              <div class="panel-body">
                                <p class="hr-tasks green">IT Setup</p>
                                <p class="individual-hr-task pull-left">Disable Email Access<br>
                                  <small>Assigned to:Ashley Adams<br>
                                    <span>Completed Date</span>
                                  </small>
                                </p>
                                <span class="done-not-icons pull-right">
                                    <ul class="list-unstyled">
                                      <li class="list-items">
                                          <i class="fa fa-times cross-icon" aria-hidden="true"></i>
                                      </li>
                                      <li class="list-items">
                                          <i class="fa fa-check-square green" aria-hidden="true"></i>
                                      </li>
                                    </ul>
                                  </span>
                                  <div class="clearfix"></div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="panel panel-info">
                            <div class="offboardingtask">
                              <div class="panel-body">
                                <p class="hr-tasks green">Manager Tasks</p>
                                <p class="individual-hr-task pull-left">Collect Company Assets<br>
                                  <small>Assigned to:Ashley Adams<br>
                                    <span>Completed Date</span>
                                  </small>
                                </p>
                                <span class="done-not-icons pull-right">
                                    <ul class="list-unstyled">
                                      <li class="list-items">
                                          <i class="fa fa-times cross-icon" aria-hidden="true"></i>
                                      </li>
                                      <li class="list-items">
                                          <i class="fa fa-check-square green" aria-hidden="true"></i>
                                      </li>
                                    </ul>
                                  </span>
                                  <div class="clearfix"></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group zenwork-margin-30">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Proceed </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="recap">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      
      <div class="col-xs-6 text-center">
        <div class="zenwork-settings-wrapper">

          <a [routerLink]="[]">
            <img src="../../../assets/images/Onboarding/on_boarding1_grey.png" alt="on-boarding icon" class="img-responsive center-block settings-icon">
            <p class="zenwork-margin-zero">
              <span class='new-sub-heading'>Involuntary Termination</span>
            </p>
          </a>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-xs-12 text-center">
        <div class="zenwork-settings-wrapper border-top">
          <div class="col-xs-12">
            <div class="row">
              <p class="hire-heading">Modify / Create Termination Wizard</p>
            </div>
          </div>

          <a [routerLink]="['/admin/admin-dashboard/employee-management/off-boarding-landing/termination-wizard/termination-wizard']">
            <img src="../../../assets/images/Onboarding/on_boarding3_grey.png" alt="employee-self icon" class="img-responsive center-block settings-icon">
            <p class="zenwork-margin-zero">
              <span class='new-sub-heading'>Termination Wizard</span>
            </p>

          </a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>-->


  <!-- Author:Suresh M, Date:06-05-19  -->
  <!-- Standard Termination Wizard -->

  <div class="new-wizard">

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Standard Termination Wizard <br>
              (Add Employee Termination - Details)</h4>
          </div>
          <div class="modal-body">

            <div class="wizard-tabs">

              <div class="wizard-lft col-md-3">
                <ul class="nav nav-tabs tabs-left">
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'ClientInfo' }">
                    <a href="#ClientInfo" data-toggle="tab" #client_Info
                      (click)="terminationDetails('ClientInfo')">Termination Details</a></li>

                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab2' }">
                    <a href="#tab2" data-toggle="tab" #offboardTask (click)="terminationDetails('tab2')">Offboarding
                      Tasks</a></li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab3' }">
                    <a href="#tab3" data-toggle="tab" #directReports (click)="terminationDetails('tab3')">Direct
                      Reports</a></li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tasks' }">
                    <a href="#tasks" data-toggle="tab" #directTasks (click)="terminationDetails('tasks')">Direct
                      Tasks</a></li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab4' }">
                    <a href="#tab4" data-toggle="tab" #companyProperty (click)="terminationDetails('tab4')">Company
                      Property</a></li>

                  <li><a href="#tab5" data-toggle="tab">Leave Management</a></li>
                  <li><a href="#tab6" data-toggle="tab">Benefits</a></li>

                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'tab7' }">
                    <a href="#tab7" data-toggle="tab" (click)="terminationDetails('tab7')">Recap</a></li>
                </ul>
              </div>

              <div class="wizard-rgt col-md-9">


                <div class="tab-content">

                  <div class="tab-pane" id="ClientInfo"
                    [ngClass]="{'active':selectedNav === 'ClientInfo','in':selectedNav==='ClientInfo'}">

                    <div class="details-main">

                      <form [formGroup]="terminationForm">

                        <div class="terminination">

                          <ul>
                            <li class="emp" style="width:25%;">
                              <label>Select Employee *</label>
                              <!-- 
                              <ng-select [allowClear]="true" [items]="items" [disabled]="disable"
                                formControlName="Employee" (data)="refreshValue($event)" (selected)="selected($event)"
                                (removed)="removed($event)" (typed)="typed($event)" placeholder="Select Employee">
                              </ng-select> -->
                              <mat-select class="form-control" placeholder="Select Employee"
                                (ngModelChange)="employeeForDirectReports()" formControlName="Employee" required>
                                <mat-option *ngFor="let data of employeeData" [value]='data._id'>
                                  {{data.personal.name.preferredName}}</mat-option>
                              </mat-select>
                              <span
                                *ngIf="terminationForm.get('Employee').invalid && terminationForm.get('Employee').touched"
                                class="error">You must select a employee</span>
                              <div *ngIf="empWorkFlow" class="error empworkflow pull-right">This employee is assigned in
                                one or more workflows.
                              </div>
                              <div class="clearfix"></div>
                            </li>

                            <li class="col-md-3">
                              <label>Employment Status *</label>
                              <mat-select class="form-control" placeholder="Status" formControlName="Status">
                                <mat-option *ngFor="let data of allEmployeeStatusArray" [value]='data.name'>
                                  {{data.name}}</mat-option>
                              </mat-select>
                              <span
                                *ngIf="terminationForm.get('Status').invalid && terminationForm.get('Status').touched"
                                class="error">You must select a employee status</span>
                            </li>
                            <li class="col-md-3">
                              <label>Termination Type *</label>
                              <mat-select class="form-control" placeholder="Type" formControlName="Type">
                                <mat-option *ngFor="let data of allTerminationTypeArray" [value]='data.name'>
                                  {{data.name}}</mat-option>

                              </mat-select>
                              <span *ngIf="terminationForm.get('Type').invalid && terminationForm.get('Type').touched"
                                class="error">You must select a termination type</span>
                            </li>
                            <div class="clearfix"></div>
                          </ul>


                          <ul>

                            <li class="col-md-3">
                              <label>Termination Reason *</label>
                              <mat-select class="form-control" placeholder="Reason" formControlName="Reason">
                                <mat-option *ngFor="let data of allTerminationReasonArray" [value]='data.name'>
                                  {{data.name}}</mat-option>
                              </mat-select>
                              <span
                                *ngIf="terminationForm.get('Reason').invalid && terminationForm.get('Reason').touched"
                                class="error">You must select a termination reason</span>
                            </li>
                            <li class="col-md-3">
                              <label>Eligible for Rehire *</label>
                              <mat-select class="form-control" placeholder="Status" formControlName="Eligible">
                                <mat-option value='yes'>Yes</mat-option>
                                <mat-option value='no'>No</mat-option>
                              </mat-select>
                              <span
                                *ngIf="terminationForm.get('Eligible').invalid && terminationForm.get('Eligible').touched"
                                class="error">You must select a eligibility for rehire</span>
                            </li>
                            <div class="clearfix"></div>
                          </ul>


                          <ul>
                            <li class="col-md-3">
                              <label>Termination Date *</label>
                              <div class="date">
                                <input matInput [matDatepicker]="picker" [max]="lastWorkingDate"
                                  (ngModelChange)="terminationDateChange()" placeholder="mm / dd / yy"
                                  class="form-control" formControlName="Date1">
                                <mat-datepicker #picker></mat-datepicker>

                                <button mat-raised-button (click)="picker.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>

                                <div class="clearfix"></div>

                              </div>
                              <span *ngIf="terminationForm.get('Date1').invalid && terminationForm.get('Date1').touched"
                                class="error">You must select a Terminate date</span>
                            </li>

                            <li class="col-md-3">
                              <label>Last Day Worked *</label>
                              <div class="date">
                                <input matInput [matDatepicker]="picker1" (ngModelChange)="lastWorkingDateChange()"
                                  [min]="terminationDate" placeholder="mm / dd / yy" class="form-control"
                                  formControlName="Date2">
                                <mat-datepicker #picker1></mat-datepicker>

                                <button mat-raised-button (click)="picker1.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>

                                <div class="clearfix"></div>

                              </div>
                              <span *ngIf="terminationForm.get('Date2').invalid && terminationForm.get('Date2').touched"
                                class="error">You must select a last working date</span>
                            </li>
                            <div class="clearfix"></div>
                          </ul>

                          <ul>

                            <li class="details-width col-md-4">
                              <label>Offboarding Template Assigned *</label>
                              <mat-select class="form-control" placeholder="Template" (ngModelChange)="templateChange()"
                                formControlName="Template">
                                <mat-option *ngFor="let data of tempTemplateTotal" [value]='data._id'>
                                  {{data.templateName}}</mat-option>
                              </mat-select>
                              <span
                                *ngIf="terminationForm.get('Template').invalid && terminationForm.get('Template').touched"
                                class="error">You must select a Template</span>

                            </li>

                            <li class="procees col-md-8">
                              <label>Terminate any assigned Performance Review in procees?</label>
                              <mat-select class="form-control" placeholder="Procees" formControlName="Procees">
                                <mat-option value=yes>Yes</mat-option>
                                <mat-option value=no>No</mat-option>
                              </mat-select>
                              <span style="display: block;"
                                *ngIf="terminationForm.get('Procees').invalid && terminationForm.get('Procees').touched"
                                class="error">You must select a review process</span>
                            </li>

                            <li class="details-width col-md-8">
                              <label>Comments *</label>
                              <textarea class="form-control" rows="5" formControlName="Comments"></textarea>
                              <span
                                *ngIf="terminationForm.get('Comments').invalid && terminationForm.get('Comments').touched"
                                class="error">please enter a comment</span>
                            </li>

                            <li>
                              <div class="file-upload">
                                <label for="upload" class="file-upload__label">Add Files</label>
                                <span><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                <input id="upload" class="file-upload__input" (change)="fileChange($event)" type="file"
                                  name="file-upload" multiple>
                              </div>
                            </li>
                            <li *ngFor="let data of filesArray; let i = index">
                              <i class="fa fa-times cross-icon" (click)="removeFile(i,data)"></i>&nbsp;&nbsp;
                              {{data}}
                            </li>


                          </ul>

                        </div>
                      </form>

                      <div class="termination-border">

                        <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                        <button class="btn pull-right save" (click)="terminationProceed()">Proceed</button>
                        <div class="clearfix"></div>
                      </div>

                    </div>

                  </div>

                  <div class="tab-pane" id="tab2"
                    [ngClass]="{'active':selectedNav === 'tab2','in':selectedNav==='tab2'}">
                    <div class="details-main">

                      <div class="tasks">
                        <h3>Onboarding Template Name </h3>
                        <!-- <input type="text" class="form-control" value="" placeholder=""> -->
                        <mat-select [disabled]=true class="form-control" placeholder="Template"
                          [(ngModel)]="OffboardingTemplateName">
                          <mat-option *ngFor="let data of tempTemplateTotal" [value]='data._id'>
                            {{data.templateName}}</mat-option>
                        </mat-select>
                      </div>

                      <div class="off-boarding">

                        <div class="tasks">

                          <div class="tasks-in">
                            <h3>Offboarding Tasks</h3>

                          </div>

                          <ul>

                            <li *ngFor="let task of getKeys((standardOffboardTemplate['offBoardingTasks']))">
                              <h4>{{task}}</h4>
                              <!-- <h4>Hr tasks</h4> -->
                              <div *ngFor="let data of standardOffboardTemplate['offBoardingTasks'][task]"
                                class="task-names">

                                <span>{{data.taskName}}</span>
                                <small>{{data.assigneeEmail}} -- {{data.Date | date}}</small>
                              </div>

                            </li>
                          </ul>


                        </div>


                      </div>


                      <div class="termination-border"></div>
                      <!-- <button class="btn pull-left back" (click)="goToTermination()">Back</button> -->
                      <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                      <button class="btn pull-right save" (click)="taskProceed()">Proceed</button>
                      <div class="clearfix"></div>

                    </div>

                  </div>


                  <div class="tab-pane" id="tab3"
                    [ngClass]="{'active':selectedNav === 'tab3','in':selectedNav==='tab3'}">

                    <div class="details-main">

                      <div class="reports">
                        <h3>Does the employee have direct reports assigned?</h3>
                        <mat-select class="form-control" placeholder="Reports">
                          <mat-option value=Yes>Yes</mat-option>
                          <mat-option value=No>No</mat-option>
                        </mat-select>

                        <div class="reports-table">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Employee Names</th>
                                <th>Job</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th>New Manager</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of directReportsArray">
                                <td>{{data.personal.name.preferredName}}</td>
                                <td>{{data.job.jobTitle}}</td>
                                <td>{{data.job.department}}</td>
                                <td>{{data.personal.address.state}}</td>
                                <td>
                                  <mat-select class="form-control" (selectionChange)="managerChange(data._id,$event)"
                                    placeholder="Managers">
                                    <mat-option *ngFor="let data of manageremployees" [value]='data._id'>
                                      {{data.personal.name.preferredName}}</mat-option>
                                  </mat-select>
                                </td>
                              </tr>



                          </table>

                        </div>
                      </div>
                      <div class="termination-border"></div>
                      <button class="btn pull-left back" (click)="goToOffboard()">Back</button>
                      <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                      <button class="btn pull-right save" (click)="reportsProceed()">Proceed</button>
                      <div class="clearfix"></div>

                    </div>

                  </div>

                  <div class="tab-pane" id="tasks"
                    [ngClass]="{'active':selectedNav === 'tasks','in':selectedNav==='tasks'}">

                    <div class="details-main">

                      <div class="reports">
                        <h3>Does the employee have direct tasks assigned?</h3>
                        <mat-select class="form-control" placeholder="Reports">
                          <mat-option value=Yes>Yes</mat-option>
                          <mat-option value=No>No</mat-option>
                        </mat-select>

                        <div class="reports-table">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Assigned Tasks</th>
                                <th>TaskType</th>
                                <th>TaskCategory</th>

                                <th>New Employee</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let data of directTasksArray;let i = index">
                                <td> {{data.taskName}}</td>

                                <td>{{data.taskType}}</td>
                                <td> {{data.taskCategory}}</td>
                                <!-- <td></td> -->
                                <td>
                                  <mat-select class="form-control" (selectionChange)="employeeChange(data,$event,i)"
                                    placeholder="Employees">

                                    <mat-option *ngFor="let data of employeeData" [value]='data'>
                                      {{data.personal.name.preferredName}}</mat-option>
                                  </mat-select>
                                  <span *ngIf="data.validate" class="error">Please select employee </span>
                                </td>
                              </tr>



                          </table>

                        </div>
                      </div>
                      <div class="termination-border"></div>
                      <button class="btn pull-left back">Back</button>
                      <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                      <button class="btn pull-right save" (click)="directTasksEmp()">Proceed</button>
                      <div class="clearfix"></div>

                    </div>

                  </div>


                  <div class="tab-pane" id="tab4"
                    [ngClass]="{'active':selectedNav === 'tab4','in':selectedNav==='tab4'}">

                    <div class="details-main">

                      <div class="reports">
                        <h3>Does the employee have direct company Property?</h3>
                        <mat-select class="form-control" placeholder="Property">
                          <mat-option value=Yes>Yes</mat-option>
                          <mat-option value=No>No</mat-option>
                        </mat-select>

                        <div class="company-property">

                          <table class="table">
                            <thead>
                              <tr>
                                <!-- <th>
                                  <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                </th> -->
                                <th>Asset category</th>
                                <th>Asset description</th>
                                <th>Serial#</th>
                                <th>Date loaned</th>
                                <th>Date returned</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of assetsData">
                                <!-- <td>
                                  <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                </td> -->
                                <td>{{data.category}}</td>
                                <td>{{data.description}}</td>
                                <td>{{data.serial_number}}</td>
                                <td>{{data.date_loaned | date}}</td>
                                <td>

                                  <span *ngIf="data.date_returned">{{data.date_returned | date}}</span>
                                  <span *ngIf="!data.date_returned"> -- </span>

                                </td>
                              </tr>

                            </tbody>
                          </table>

                        </div>

                      </div>
                      <div class="termination-border"></div>
                      <button class="btn pull-left back" (click)="goToDirect()">Back</button>
                      <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                      <button class="btn pull-right save" (click)="companyProceed()">Proceed</button>
                      <div class="clearfix"></div>

                    </div>

                  </div>




                  <div class="tab-pane" id="tab5">



                  </div>

                  <div class="tab-pane" id="tab6">



                  </div>

                  <div class="tab-pane" id="tab7"
                    [ngClass]="{'active':selectedNav === 'tab7','in':selectedNav==='tab7'}">
                    <div class="summary-review">
                      <div class="tab-pane">
                        <div class="personal personal1">
                          <h2>Termination Details</h2>
                          <div class="details-main">
                            <form [formGroup]="terminationForm">

                              <div class="terminination">

                                <ul>
                                  <li class="emp" style="width:25%;">
                                    <label>Select Employee *</label>
                                    <!-- 
                                      <ng-select [allowClear]="true" [items]="items" [disabled]="disable"
                                        formControlName="Employee" (data)="refreshValue($event)" (selected)="selected($event)"
                                        (removed)="removed($event)" (typed)="typed($event)" placeholder="Select Employee">
                                      </ng-select> -->
                                    <mat-select class="form-control" placeholder="Select Employee"
                                      formControlName="Employee" required [disabled]=true>
                                      <mat-option *ngFor="let data of employeeData" [value]='data._id'>
                                        {{data.personal.name.preferredName}}</mat-option>
                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Employee').invalid && terminationForm.get('Employee').touched"
                                      class="error">You must select a employee</span>


                                  </li>

                                  <li class="col-md-3">
                                    <label>Employment Status *</label>
                                    <mat-select class="form-control" placeholder="Status" formControlName="Status"
                                      [disabled]=true>
                                      <mat-option *ngFor="let data of allEmployeeStatusArray" [value]='data.name'>
                                        {{data.name}}</mat-option>
                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Status').invalid && terminationForm.get('Status').touched"
                                      class="error">You must select a employee status</span>
                                  </li>
                                  <li class="col-md-3">
                                    <label>Termination Type *</label>
                                    <mat-select class="form-control" placeholder="Type" formControlName="Type"
                                      [disabled]=true>
                                      <mat-option *ngFor="let data of allTerminationTypeArray" [value]='data.name'>
                                        {{data.name}}</mat-option>

                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Type').invalid && terminationForm.get('Type').touched"
                                      class="error">You must select a termination type</span>
                                  </li>
                                  <div class="clearfix"></div>
                                </ul>


                                <ul>

                                  <li class="col-md-3">
                                    <label>Termination Reason *</label>
                                    <mat-select class="form-control" placeholder="Reason" formControlName="Reason"
                                      [disabled]=true>
                                      <mat-option *ngFor="let data of allTerminationReasonArray" [value]='data.name'>
                                        {{data.name}}</mat-option>
                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Reason').invalid && terminationForm.get('Reason').touched"
                                      class="error">You must select a termination reason</span>
                                  </li>
                                  <li class="col-md-3">
                                    <label>Eligible for Rehire *</label>
                                    <mat-select class="form-control" placeholder="Status" formControlName="Eligible"
                                      [disabled]=true>
                                      <mat-option value='yes'>Yes</mat-option>
                                      <mat-option value='no'>No</mat-option>
                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Eligible').invalid && terminationForm.get('Eligible').touched"
                                      class="error">You must select a eligibility for rehire</span>
                                  </li>
                                  <div class="clearfix"></div>
                                </ul>


                                <ul>
                                  <li class="col-md-3">
                                    <label>Termination Date *</label>
                                    <div class="date">
                                      <input placeholder="mm / dd / yy" class="form-control" formControlName="Date1"
                                        readonly>




                                      <div class="clearfix"></div>

                                    </div>
                                    <span
                                      *ngIf="terminationForm.get('Date1').invalid && terminationForm.get('Date1').touched"
                                      class="error">You must select a Terminate date</span>
                                  </li>

                                  <li class="col-md-3">
                                    <label>Last Day Worked *</label>
                                    <div class="date">
                                      <input placeholder="mm / dd / yy" class="form-control" formControlName="Date2"
                                        readonly>

                                      <button mat-raised-button (click)="picker1.open()">
                                        <span>
                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                      </button>

                                      <div class="clearfix"></div>

                                    </div>
                                    <span
                                      *ngIf="terminationForm.get('Date2').invalid && terminationForm.get('Date2').touched"
                                      class="error">You must select a last working date</span>
                                  </li>
                                  <div class="clearfix"></div>
                                </ul>

                                <ul>

                                  <li class="details-width col-md-4">
                                    <label>Offboarding Template Assigned *</label>
                                    <mat-select class="form-control" placeholder="Template"
                                      (ngModelChange)="templateChange()" formControlName="Template" [disabled]=true>
                                      <mat-option *ngFor="let data of tempTemplateTotal" [value]='data._id'>
                                        {{data.templateName}}</mat-option>
                                    </mat-select>
                                    <span
                                      *ngIf="terminationForm.get('Template').invalid && terminationForm.get('Template').touched"
                                      class="error">You must select a Template</span>

                                  </li>

                                  <li class="procees col-md-8">
                                    <label>Terminate any assigned Performance Review in procees?</label>
                                    <mat-select class="form-control" placeholder="Procees" formControlName="Procees"
                                      [disabled]=true>
                                      <mat-option value=yes>Yes</mat-option>
                                      <mat-option value=no>No</mat-option>
                                    </mat-select>
                                    <span style="display: block;"
                                      *ngIf="terminationForm.get('Procees').invalid && terminationForm.get('Procees').touched"
                                      class="error">You must select a review process</span>
                                  </li>

                                  <li class="details-width col-md-8">
                                    <label>Comments *</label>
                                    <textarea class="form-control" rows="5" formControlName="Comments"
                                      readonly></textarea>
                                    <span
                                      *ngIf="terminationForm.get('Comments').invalid && terminationForm.get('Comments').touched"
                                      class="error">please enter a comment</span>
                                  </li>

                                  <li>
                                    <div class="file-upload">
                                      <label for="upload" class="file-upload__label">Add Files</label>
                                      <span><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                      <input id="upload" class="file-upload__input" (change)="fileChange($event)"
                                        type="file" name="file-upload" multiple [disabled]=true>
                                    </div>
                                  </li>
                                  <li *ngFor="let data of filesArray">{{data}}</li>


                                </ul>

                              </div>
                            </form>
                          </div>


                        </div>
                      </div>
                      <div class="tab-pane personal personal1">
                        <h2>Offboarding Tasks</h2>
                        <div class="details-main">

                          <div class="tasks">
                            <h3>Onboarding Template Name </h3>
                            <!-- <input type="text" class="form-control" value="" placeholder=""> -->
                            <mat-select [disabled]=true class="form-control" placeholder="Template"
                              [(ngModel)]="OffboardingTemplateName" [disabled]=true>
                              <mat-option *ngFor="let data of tempTemplateTotal" [value]='data._id'>
                                {{data.templateName}}</mat-option>
                            </mat-select>
                          </div>

                          <div class="off-boarding">

                            <div class="tasks">

                              <div class="tasks-in">
                                <h3>Offboarding Tasks</h3>

                              </div>

                              <ul>

                                <li *ngFor="let task of getKeys((standardOffboardTemplate['offBoardingTasks']))">
                                  <h4>{{task}}</h4>
                                  <!-- <h4>Hr tasks</h4> -->
                                  <div *ngFor="let data of standardOffboardTemplate['offBoardingTasks'][task]"
                                    class="task-names">

                                    <span>{{data.taskName}}</span>
                                    <small>{{data.assigneeEmail}} -- {{data.Date | date}}</small>
                                  </div>

                                </li>
                              </ul>

                            </div>

                          </div>

                        </div>


                      </div>

                      <div class="tab-pane personal personal1">
                        <h2>Direct Reports</h2>
                        <div class="details-main">

                          <div class="reports">
                            <h3>Does the employee have direct tasks assigned?</h3>
                            <mat-select class="form-control" placeholder="Reports">
                              <mat-option value=Yes>Yes</mat-option>
                              <mat-option value=No>No</mat-option>
                            </mat-select>

                            <div class="reports-table">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Assigned Tasks</th>
                                    <th>TaskType</th>
                                    <th>TaskCategory</th>

                                    <th>New Employee</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr *ngFor="let data of directTasksArray">
                                    <td> {{data.taskName}}</td>

                                    <td>{{data.taskType}}</td>
                                    <td> {{data.taskCategory}}</td>
                                    <!-- <td></td> -->
                                    <td>
                                      <mat-select class="form-control"
                                        (selectionChange)="employeeChange(data.templateId,$event)"
                                        placeholder="Employees">

                                        <mat-option *ngFor="let data of employeeData" [value]='data._id'>
                                          {{data.personal.name.preferredName}}</mat-option>
                                      </mat-select>

                                    </td>
                                  </tr>



                              </table>

                            </div>
                          </div>
                          <div class="termination-border"></div>
                          <button class="btn pull-left back">Back</button>
                          <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                          <button class="btn pull-right save">Proceed</button>
                          <div class="clearfix"></div>

                        </div>
                      </div>


                      <div class="tab-pane personal personal1">
                        <h2>Direct Tasks</h2>
                        <div class="details-main">

                          <div class="reports">
                            <h3>Does the employee have direct reports assigned?</h3>
                            <mat-select class="form-control" placeholder="Reports" [disabled]=true>
                              <mat-option value=Yes>Yes</mat-option>
                              <mat-option value=No>No</mat-option>
                            </mat-select>

                            <div class="reports-table">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Employee Names</th>
                                    <th>Job</th>
                                    <th>Department</th>
                                    <th>Location</th>
                                    <th>New Manager</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of directReportsArray">
                                    <td>{{data.personal.name.preferredName}}</td>
                                    <td>{{data.job.jobTitle}}</td>
                                    <td>{{data.job.department}}</td>
                                    <td>{{data.personal.address.state}}</td>
                                    <td>
                                      <mat-select class="form-control"
                                        (selectionChange)="managerChange(data._id,$event)" placeholder="Managers">
                                        <mat-option *ngFor="let data of manageremployees" [value]='data._id'>
                                          {{data.personal.name.preferredName}}</mat-option>
                                      </mat-select>
                                    </td>
                                  </tr>



                              </table>

                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="tab-pane personal personal1">
                        <h2>Company Property</h2>
                        <div class="details-main">

                          <div class="reports">
                            <h3>Does the employee have direct company Property?</h3>
                            <mat-select class="form-control" placeholder="Property" [disabled]=true>
                              <mat-option value=Yes>Yes</mat-option>
                              <mat-option value=No>No</mat-option>
                            </mat-select>

                            <div class="company-property">

                              <table class="table">
                                <thead>
                                  <tr>
                                    <!-- <th>
                                      <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                    </th> -->
                                    <th>Asset category</th>
                                    <th>Asset description</th>
                                    <th>Serial#</th>
                                    <th>Date loaned</th>
                                    <th>Date returned</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of assetsData">
                                    <!-- <td>
                                      <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                    </td> -->
                                    <td>{{data.category}}</td>
                                    <td>{{data.description}}</td>
                                    <td>{{data.serial_number}}</td>
                                    <td>{{data.date_loaned | date}}</td>
                                    <td>

                                      <span *ngIf="data.date_returned">{{data.date_returned | date}}</span>
                                      <span *ngIf="!data.date_returned"> -- </span>

                                    </td>
                                  </tr>

                                </tbody>
                              </table>

                            </div>

                          </div>


                        </div>
                      </div>


                    </div>

                    <div class="termination-border"></div>
                    <span class="details-main recap-last">
                      <button class="btn pull-left back" (click)="goToCompany()">Back</button>
                      <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                      <button class="btn pull-right save" (click)="recapSubmit()">Submit</button>
                    </span>
                    <div class="clearfix"></div>

                  </div>


                </div>

              </div>
              <div class="clearfix"></div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>


</div>