@media (max-width:1700px){
.zenwork-tabs .nav-tabs > li { margin: 0 20px !important;}
.admin-tabs .nav-tabs > li { padding: 0 15px !important; margin: 0 !important;}

.onboarding-tabs li a {
    padding: 0px 8px 10px !important;
    font-size: 17px !important;
}

.nav-tabs > li {
    padding: 1px 8px !important;
}
.information .date{
    width: 80% !important;

}

.right-space { margin: 0 0 25px !important;}
.personal-cont ul li label{ font-size: 15px !important;}
.work-schedule-top ul li .date { width: 90% !important;}


.settings-dropdown-list > li > a { font-size: 15px !important;}

.restrict-text { width: 290px !important;}

.client-tabs .nav-tabs > li {  padding: 0 30px !important;}
.invoice-left h2 { width: 240px !important; }
.invoice-left h2 span { vertical-align:super !important;}
.invoice-left h2 var { width: 185px !important; vertical-align: super !important;}

.time-missing-table tbody tr .start-time .clock-icon {top: 30px !important;}
.time-sheet-tabs .nav-tabs > li { padding: 0 30px !important;}


}



@media (max-width:1600px){
.zenwork-tabs .nav-tabs > li { margin: 0 20px !important;}

.zenwork-tabs .nav-tabs > li > a { font-size: 16px !important;}
.new-wizard .modal-dialog {
    width: 80% !important;
}
.employee-mission ul li .date { width: 150px !important;}
.time-sheet-tabs .nav-tabs > li { margin:0 30px !important;}
.mails-accord ul li{ padding: 0 8px !important;}
.emplployee-icon { font-size: 40px !important;}

.onboarding-tabs li a {
    padding: 0px 6px 10px !important;
    font-size: 16px !important;
}
.settings-dropdown-list > li > a { font-size: 14px !important;}

.personal-cont ul li .date .form-control { width:75% !important;}
.personal-cont ul li label{ font-size: 14px !important;}

.information .date { width: 100% !important;}
.information .date .form-control{ width: 68% !important;}

.restrict-text {
    width: 270px !important;
}
.payment-lft { width:58% !important;}

.invoice-left h2 {
    width: 223px !important;
}
.invoice-left h2 var {
    width: 170px !important;
}
.invoice-billing > ul > li h3 { font-size: 14px !important;}


.employement-details.padding-left-15 { padding: 0 !important;}
.list-items-employement, .employment-date-list{ padding: 0 !important;}
.list-items-employement { padding: 0 5px !important;}
.list-job-employement { width: 100% !important;}
.top-history ul li.select-date { margin:-10px !important;}

.card-buttons { padding: 10px !important;}
.card-buttons ul li .my-cards-btn { padding: 8px 22px !important;}


}


@media (max-width:1500px){
.zenwork-tabs .nav-tabs > li {
    margin: 0 15px !important;
}
.administration-contact ul li.phone-width { width:30% !important;}

.training-cont .table > tbody > tr > th, .training-cont .table > thead > tr > th 
{ padding: 10px !important; font-size:16px !important;}

.payroll-cont .table > tbody > tr > th, .payroll-cont .table > thead > tr > th
{ padding: 10px !important; font-size:16px !important;}

.new-wizard .modal-dialog {
    width: 85% !important;
}
.all-employee-filter { width: 230px !important;}


.manager-self-tabs .nav-tabs > li{ margin: 0 30px !important; padding:0 !important;}
.employee-mission ul li small { width:80% !important;}
.employee-mission ul li { margin:0 10px !important;}
.employee-mission ul li .date {
    width: 140px !important;
}

.admin-tabs { width:23% !important;}
.time-missing-value ul li .mat-select { width: 60% !important;}
.time-missing-table .table > tbody > tr > td, .time-missing-table .table > tfoot > tr > td, .time-missing-table .table > thead > tr > td
{padding: 20px 15px !important; font-size: 14px !important;}
.onboarding-tabs li a {
    padding: 3px 5px 10px !important;
    font-size: 15px !important;
}

.onboarding-tabs li .more {
    font-size: 15px !important;
}

.work-schedule-top ul li .date {
    width: 100% !important;
}

.schedule-tabs .nav-tabs { width: 23% !important;}
.restrict-text {
    width: 240px !important;
}

.invoice-left h2 var {
    width: 135px !important;
}

.invoice-left h2 {
    width: 200px !important;
}

.right-space { width:30% !important;}
.information .table > tbody > tr > td, .information .table > tfoot > tr > td, .information .table > tfoot > tr > th, 
.information .table > thead > tr > td {padding: 10px !important;}
.personal { padding: 0 !important}

.card-buttons ul li .secure-cards-btn { padding: 10px 20px 8px !important;}
.discount-block { width: 60% !important;}
.payment-rgt{
    padding: 50px 0 0 30px !important;
    width: 40% !important;
}
.card-buttons ul li { padding: 0 5px !important;}

.list-width-time {
    width: 25% !important;
}
.date .form-control { width: 65% !important;}
.select-category { margin-left: 10px !important;}
.education-date-list {width:45% !important;}
.time-main-popup .time-missing-value { width: 70% !important;}
.time-missing-value{ margin: -20px 0 0 !important;}

.time-sheet-value .education-date-list { width: 50% !important;}
.time-missing-table.time-sheet-summery .table > thead > tr > th span .fa {right: 10px !important;}

.policy-lft-in .form-control { width: 20% !important;}

.select-search, .select-search1 { margin: 50px 0 0 !important;}


}



@media (max-width:1400px){

.toggle-side-nav-inner .nav > li > a { padding: 15px !important;}
.zenwork-tabs .nav-tabs > li {
padding: 0 !important;
}
.employee-settings {
width: 30% !important;
}

.create-custom-sidenav { width: 28% !important; padding: 20px 0 0 !important;}
.tabbable.tabs-left .tab-content { width: 72% !important;}
.work-flow-lft ul { width:90% !important;}
.personal-cont ul li.personal-dob .date {
    width: 90% !important;
}
.wizard-lft .nav-tabs > li { margin: 0 0 15px !important;}
.wizard-lft .nav-tabs > li a {padding: 10px 10px 10px 15px !important; margin: 0 0 0 10px !important;}

.onboarding-tabs li a {
    padding: 3px 3px 10px !important;
}
.emp-communicate-icons { width: 100px !important;}
.work-schedule-top ul li .date .form-control { width: 75% !important;}


.restrict-text {
    width: 214px !important;
}
.payment-lft {
    width: 73% !important;
}

.personal-cont ul li.personal-dob .date .form-control{ width:50%;}
.edit-work ul li .date { width:100% !important;}
.edit-work ul li { width:25% !important;}

.total-hours li { width:23% !important;}

.employee-mission ul li .date span { padding: 0 0 0 5px !important;}
.employee-mission ul li .date {
    width: 130px !important;
}
.date .form-control{ width: 65% !important;}


.information .table>tbody>tr>th, .information .table>thead>tr>th {padding: 10px !important;font-size:15px !important;
}
.information .table>tbody>tr>td, .information .table>tfoot>tr>td, .information .table>tfoot>tr>th, 
.information .table>thead>tr>td { padding: 6px !important;}

.work-details-btm .table > tbody > tr > th, .work-details-btm .table > thead > tr > th { font-size:15px !important;}

.main-recruit { padding: 0 !important;}

.person-tables .table > thead > tr > th { font-size: 15px !important; padding: 10px !important;}
.arrow-align-one { left: 20px !important;}
.module-table { width: 75% !important;}

.emp-time-rgt ul li { padding: 0 !important;}

.education ul li.phone-width .phone .form-control { width: 80% !important;}

.list-items-addresslocal.city.hr-contact{ width: 50% !important;}

.lists .table > tbody > tr > th, .lists .table > thead > tr > th { font-size: 15px !important;}
.requested-time .table>tbody>tr>th, .requested-time .table>thead>tr>th {padding: 10px !important;}
.list-items-addresslocal {
    width: 27% !important;
}
.education-date-list, .education-date-list { width: 27% !important;}
.emplployee-icon {
    font-size: 40px !important;
}
.mails-accord ul li {
    padding: 0 5px !important;
}

.managers { height: auto !important;
    padding: 5px 0 8px !important;}

.mails-accord ul li small {
    padding: 14px 0 !important;
    font-size: 16px !important;
}

.category {
    margin: 10px -10px 20px !important;
}

.payment-rgt {
    padding: 0 !important;
    width: 60% !important;
}

.invoice-serach ul li .date .form-control { width: 70% !important;}

.invoice-left h2 {
    width: 190px !important;
}

.invoice-left h2 var {
    font-size: 16px;
}
.invoice-left { padding: 25px 7px 20px 10px !important;}
.contact-wrapper ul li .phone .form-control { width: 83% !important;}

.settings-add ul li {
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
}
.settings-add ul li .form-control { padding: 10px 5px 10px 10px !important; font-size: 14px !important;}

.settings-add ul li .date { width: 100% !important;}

.date.form-control{
    width:69% !important;
}
.policy-lft-in .form-control { width:25% !important;}
.policy-drop1{
    width: 35% !important;
}
.time-bg{ width: 100% !important;}

.import-cont{
    margin: 0 auto 0 !important;
}

.time-main-popup .modal-dialog { width: 90% !important;}
.time-missing-table .table > thead > tr > th { padding: 10px !important;}

.time-sheet-bg h4 { display: inline-block !important; width: 45% !important;}
.time-missing-value {
    padding: 10px 0 !important;
}
.time-sheet-tabs .nav-tabs > li { padding: 0 !important;}

.employement-details ul { width: 100% !important;}
.employement-details ul li { width:30% !important;}
.employement-details ul li.text-area-width { width:100% !important;}

.education-date .education-date-list.padding10-listitems.list-items-addresslocal { width:27% !important;}

.time-missing-value ul li label { font-size: 14px !important;}
.time-missing-value.time-sheet-value .education-date .education-date-list.padding10-listitems { width: 50% !important;}
.time-missing-value.time-sheet-value .education-date .education-date-list.padding10-listitems .date { width: 90% !important;}

.select-search1 {
    margin: 30px 0 0 !important;
}

.select-category { width: 56% !important; margin: 0 0 0 10px !important;}

.search-bg {
    margin: 4px 0 0 -40px !important;
    width: 50% !important;
}
.zenwork-settings-wrapper small br { display: none !important;}

.payroll-cont .table > tbody > tr > th, .payroll-cont .table > thead > tr > th {
    font-size: 14px !important;
}
.paygroup-in ul li { width: 30% !important; margin: 0 10px 20px !important;}

.paygroup-in .table > tbody > tr > th, .paygroup-in .table > thead > tr > th { font-size: 16px !important;}

.paygroup-in ul li .form-control { width: 100% !important;}
.add-calendars.paygroup-in ul li .date2 .form-control { width:80% !important;}
.date2 { width: 90% !important;}

.login-rgt figure img { width: 100% !important; height: auto !important;}



}

@media (max-width:1300px){
    
.toggle-side-nav-inner .nav > li > a {
    padding: 15px 0 !important;
}    
.company-modules ul li p { height: 160px;}
.employees-rgt figure img { width: 100%;}
.rewards { padding: 100px 0px 50px !important;}
.contacts { margin: 0 auto 70px 0 !important;}
.feature-benefits-rgt span { right: 0 !important;}
.banner.about {
    height: 600px !important;
    margin: 120px 0 0 !important;
}
.margin-lft-85 {
    margin: 70px 0 0 !important;
}
.copy {text-align: right !important; padding: 0 50px 0 0 !important;}


}

   



@media(min-width:1621px) and (max-width:2000px){
.contacts-lft{
    width: 85% !important; 
}
.benefits-cont{
    padding: 150px 0 80px;
}
.agile-hr-rgt a.btn{
    margin: 0 105px 0 0; 
}
.signup .register-lft h4,.signup .register-lft a.google{
    width:65% !important;
}
.signup .register-lft ul li{
    width:65% !important;
}
.banner-lft{
    margin: 150px 0 0 0;
}


/*---- Super Admin and HR ---------- */





}

@media(max-width:1620px){
    .employee-cont p br { display: none !important;}
    .employee-cont { top: 25% !important;}
    .about .banner-rgt { width: 60% !important;}
}    

@media(max-width:1450px){

.feature .banner-rgt figure {width: 50% !important; right: 0 !important; top:20% !important;}
.feature .banner-rgt figure img { float: right !important; clear:both !important; width: 80% !important;}

}

@media(min-width:1621px){
    .container { width: 82% !important;}
 
    .zenworks-top::after{
        left: 370px !important;
   
    }
    .zenworks-btm::after{
    right: 370px !important;
    }
    .main-nav .navbar-default{
        margin: 18px 0 0 320px !important;
    }
    

}



@media(max-width:1200px){

.login-lft ul li { width: 70% !important;}
.company-logos > ul > li { width:30% !important;}
.login-footer {margin: 0 !important;}
.contacts-lft { margin:0 !important;}
.contacts.pull-left { float: none !important;}
.btm-block1 { padding: 0 !important;}
.contacts { margin:30px auto 0 !important;}
.banner-lft h1 br { display: none !important;}
.container { width: 98% !important;}
.logo a { width: 200px !important;}
.logo a img { width: 100% !important; height: auto !important;}
.header-rgt {width: 77% !important;}
.akira > ul > li > a { padding: 8px 25px 10px !important;}
.akira > ul > li > a:hover { padding: 8px 25px 10px !important;}
.main-nav .navbar-default { margin: 15px 0 0 !important;}

.banner {margin: 150px 0 300px !important;height: auto !important;}
.banner-rgt figure span { width: 40% !important; right: 5% !important; top: 20% !important;}

.agile-hr-lft { width: 45% !important; top: 180px !important;}
.agile-hr-rgt small br { display: none !important;}
.company-modules ul li p { height: 180px !important;}
.team-rgt figure { width: 40% !important;}
.team { height: auto !important;}
.team-lft {padding: 170px 0 80px !important;}
.employees-rgt figure { float: right !important; clear: both !important; width: 80% !important;}
.employees-rgt h2 { font-size: 25px !important; line-height: 30px !important;}
.employees-rgt small { font-size:18px !important; line-height:25px !important;}
.employees-lft figure { width: 45% !important;}
.employees p { margin: 80px 0 50px !important;}
.employee-cont{ top:25% !important;}
.employee-cont p { margin:0 !important;}
.integrates ul li { padding: 0 !important;}
.zenworks-top::after { left: 140px !important;}
.zenworks-top::after { right: 170px !important;}
.employees { padding: 0 !important; margin: 50px 0 !important;}

.footer-cont ul li h3 { font-size: 16px !important;}
.footer-cont ul li a, .talk-us.footer-cont ul li a { font-size: 14px !important; line-height: 14px !important;}

.address-block::after { top:200px !important; width: 250px !important; height: 1060px !important; background-size: 100% auto !important;}
.address-block-img::after { right:-110px !important; transform: rotateY(60deg) !important;}
.contacts-lft small br { display: none !important; }
.contacts-rgt { right: -130px !important; padding: 0 !important;}
.contacts-rgt-in {padding: 40px 30px !important;}
.contacts-rgt-in figure{ right: 20px !important;}

.feature.banner small br { display: none !important; padding: 0 20px 0 0 !important;}
.feature.banner {margin: 100px 0 !important; height: auto !important;}
.team-rgt figure { width: auto !important;}
.team-rgt { width: 40% !important;}
.team-rgt span {top: 20%;width: 70%;}
.banner-lft h1{ font-size: 37px !important;}
.agile-hr-lft figure span{ top: 18% !important; width: 65% !important;}

.about .banner-rgt { width: 65% !important;}
.about .banner-rgt figure span {width:55% !important;right: 5% !important; top: 0 !important;}
.contact-banner.banner {
    height: auto !important;
    margin: 140px 0 100px !important;
}
.contact-banner .banner-rgt {
    top: 18% !important;
    right: 3% !important;
    width: 35% !important;
}
.pricing-banner h1 br { display: none !important;}
.pricing-banner-bottom figure {
    right: 20px !important;
    width: 45% !important;
}
.pricing-banner p br { display: none !important;}
.pricing-banner .tbl-cell {
    padding: 100px 0 0 !important;
}
.pricing-banner::before, .pricing-banner, .pricing-banner .container, .pricing-banner .row {
    height: 500px !important;
}
.roles-cont > ul > li p { line-height: 30px !important; padding: 20px 0 20px 30px !important;}
.banner-lft ul li { width: 60% !important;}
.partner.banner { height: auto !important; margin: 100px 0 !important;}
.partner .banner-lft h1 br { display: none !important;}

.partner .banner-rgt figure span { top:40% !important; width: 40% !important;}
.agile-hr p br { display: none !important;}

.benefits-cont p { padding: 0 40px !important;}
.btm-block { padding: 50px 0 !important;}
.feature-benefits-lft small br { display: none !important;}
.feature-benefits-lft h1 { font-size: 35px !important;}

.banner.about {
    height: 550px !important;
}
.zenwork-pricing {padding: 50px 0 0 !important;}

.register-lft figure { width: 500px !important;}
.register-lft figure img { width: 100% !important; height: auto !important;}
.signup { padding: 0 0 60px !important;}



}


@media(max-width:992px){

.login{
    padding: 50px 0 !important;
}
.login-in {
    padding: 30px 0 0 !important;
}

.banner {
    margin: 100px 0 !important;
}
    .logo a { padding: 0 !important;}
.about.banner{ margin: 100px 0 !important; height: auto !important;}    
.banner-rgt{ width: 80% !important;}
.banner-rgt figure span { top: 24% !important; right: 10% !important;} 
header { margin: 30px 0 0 !important;}
.logo a {
    width: 150px !important;
}
.header-rgt {
    width: 78% !important;
}
.main-nav .navbar-nav > li > a { margin: 0 12px !important; font-size: 15px !important;}
.akira > ul > li { margin: 0 5px 0 0 !important;}

.akira > ul > li > a {
    padding: 8px 15px 10px !important; font-size: 14px !important;
}
.main-nav .navbar-default {
    margin: 5px 0 0 !important;
}
.akira > ul > li > a:hover { padding: 8px 15px 10px !important;}
.banner-lft small{ margin: 0 0 40px !important; line-height: 20px !important;}
.banner-lft h1 { font-size: 30px !important; line-height: 45px !important;}
.banner-lft h1 br { display: none !important;}
.banner-lft { padding: 0 25px 0 0 !important;}

.agile-hr p br { display: none !important;}
.agile-hr-rgt h3 { font-size: 23px !important; line-height: 20px !important;}
.agile-hr-rgt a.btn { float: none !important; margin:0 !important;}
.company-modules ul li h2 { font-size: 20px !important;}
.company-modules ul li p {
    height: 260px !important;
}
.why-zenwork { height: auto !important; padding: 50px 0 !important; text-align: center !important;}
.why-zenwork ul li { float: none !important; display: inline-block !important; vertical-align: top !important;}
.zenworks-top::after,.zenworks-btm::after { display: none !important;}
.zenworks-top,.zenworks-btm { padding: 0 !important; margin: 0 !important;}

.integrates {padding: 50px 0 !important;}
.employee-cont {
    top: 15% !important; left: 20px !important;
}
.employee-cont p { font-size: 15px !important; line-height: 30px !important;}
.employee-right h3 { margin-top:5px !important;}
.footer-logo { padding: 0 0 30px !important;}
.social-icons.footer-cont ul li:nth-child(1) { margin: 0 0 15px !important;}
.integrates ul li { margin: 0 0 30px !important;padding:0 !important;}


.team-lft {
    padding: 170px 0 0 !important;
}
.address-block-img::after { right:-140px !important;}
.address-block::after{ z-index: -9 !important;}

.contacts-rgt {
    right: -20px !important;
}


.leadership ul li { padding: 0 !important;}
.leadership ul { margin: 50px 0 0 !important;}
.banner-lft small br { display: none !important;}
.leadership p br { display: none !important;}
.feature.banner small {line-height: 25px !important;}
.feature.banner {
    margin: 70px 0 !important;
}
.feature .banner-rgt figure {top: 17% !important;}
.feature.banner {margin:70px 0 !important;}

.btm-block { padding: 50px 0 !important;}
.employees{ margin: 50px 0 !important;}
.integrates ul li a img { width: 100% !important; height:auto !important;}
.leadership figure{ top: 0 !important;}


.contact-banner.banner {
    height: auto !important;
    margin: 90px 0 !important;
}

.contact-banner .banner-rgt figure img{ display: block !important;}
.address-block {
    padding: 0 0 60px !important;
}
.address-block-lft h2{
    font-size: 25px !important;
    line-height: 28px !important;
}
.contacts-rgt-in ul { padding: 0 0 30px !important;}
.contacts-rgt-in {
    padding: 40px 25px 10px !important;
}

.pricing-banner::before, .pricing-banner, .pricing-banner .container, .pricing-banner .row {
    height: auto !important;
}
.pricing-banner h1 {
    font-size: 35px !important;
    line-height: 45px !important;
}
.pricing-banner-bottom figure {
    top: 20% !important;
}
.pricing-banner.pad-tp-40 { padding-top:0 !important;}
.pricing-types .pos-relative { margin: 0 8px 30px !important;}
.table-head h3{ line-height: 24px !important;}

.roles-cont > ul > li p { font-size: 16px !important;}
.rewards ul {margin: 60px 0 0 !important;}
.banner-lft ul li {
    width: 85% !important;
}
.partner.banner { margin: 70px 0 !important;}
.agile-hr-rgt video { height: auto !important;}

.margin-lft-85 { margin: 70px 0 0 !important;}

.footer-nav { padding: 0 !important;}
.footer-logo a.btn { width:20% !important; margin: 0 auto 25px !important; display: block !important;}

.feature-benefits {
    height: 550px !important;
}
.feature-benefits-lft {
    padding: 120px 10px 0 !important;
}

.benefits-cont {
    padding: 0 0 30px !important;
}


.feature-benefits-lft h1 br { display: none !important;}
.feature-benefits.leave.company-mobile { height:650px !important;}

.feature-benefits-lft h2 { line-height: 40px !important;}

.feature-benefits.leave.em-service-mobile { height:650px !important;}
.feature-benefits.leave.security-mobile { height:620px !important;}

.leadership { text-align: center !important;}
.leadership ul li { float: none !important; display: inline-block !important; vertical-align: top !important; margin: 0 0 30px !important;}


.login-lft small { font-size: 15px !important; line-height: 23px !important; color:#656565 !important;}
.login-lft ul li {
    width: 95% !important;
}
.login-lft a.google { width:60% !important;}
.login-lft { padding:0 5px !important;}
.login-lft .company-logos > ul > li {
    width: 30% !important;
}
.login-lft h4 { width: 85% !important;}


.top-header {
    padding: 40px 0 !important;
}

.register-lft figure {
    width: 400px !important;
}
.top-header-rgt > ul > li a { width: auto !important;}
.top-header a { width: 250px !important;}
.top-header a img { width: 100% !important; height: auto !important;}

.signup .register-lft ul li { width: 100% !important;}
.signup .register-lft small { line-height: 23px !important;}
.signup .register-lft var br { display: block !important;}

.login-footer figure { position: static !important; padding: 0 0 15px !important;}
.login-footer { text-align: center !important;}
.copy { padding: 0 !important; text-align: center !important;}

.get-btn p { padding: 10px 0 0 !important;}
.register-lft .btn { float: none !important;}
.get-btn p { display: block !important;}

.reset-pass .form-control { width: 85% !important;}


}





@media(max-width:767px){

.contacts-lft a.btn { margin: 0 auto !important; display: block !important; width: 25% !important; padding: 10px 0 !important;}

.banner-rgt figure img { display: none !important;}
.banner-rgt figure span { position: static !important;}
.banner-rgt figure span img { display: block !important;}
.banner-rgt{ position: static !important; margin: 0 auto !important; width: 60% !important;}
.banner-rgt.pull-right{ float:none !important;}
.banner {margin: 30px 0 50px !important;text-align: center;}
.banner-lft{ margin: 0 0 40px !important; padding: 0 !important;}
    
.logo {margin: 0 0 0 15px !important;}
.main-nav .navbar-nav > li { display: block !important; margin: 0 0 8px !important;}
.main-nav .navbar-nav > li > a { font-size: 15px !important; color:#fff !important;}

header .container { width: 100% !important;}
.header-rgt {margin:20px 0 0 !important;width: 100% !important;position: relative !important;text-align: center !important;background: #000000d4 !important;}    
.main-nav .navbar-default {width: 100% !important;margin: 0 !important;}

.main-nav .navbar-toggle {margin-top: 0 !important;background: #d4171d !important;border: none !important;position: absolute !important;top: -49px !important;right: 5px !important;margin-right:5px !important;}
.main-nav .navbar-default .navbar-toggle:focus, .main-nav .navbar-default .navbar-toggle:hover { background: #d4171d !important;}
.main-nav .navbar-default .navbar-collapse, .main-nav .navbar-default .navbar-form {
    padding: 0 !important;
    border: none !important;
    border-top: none !important;
    box-shadow: none !important;
}
.main-nav .navbar-collapse.in { overflow-y: inherit !important;}    
.main-nav .navbar-nav {margin: 0 !important; text-align: center !important; padding: 18px 0 15px !important;} 
.main-nav .container-fluid>.navbar-collapse, .main-nav .container-fluid>.navbar-header, .main-nav .container>.navbar-collapse, .main-nav .container>.navbar-header { margin:0 !important; }    
.main-nav .navbar-nav > li > a { margin: 0 !important;}   
.akira { float: none !important; margin: 15px 0 0 !important;}
.main-nav .navbar-nav > li.pull-right{ float: none !important;}
.akira > ul > li > a{ padding: 8px 25px 10px !important; color:#fff !important;}    
.akira > ul > li > a:hover{ padding: 8px 25px 10px !important;} 
.company-modules ul li p {
    height: 160px !important;
}   
.why-zenwork .tbl-cell {
    padding: 70px 0 0 !important;
}
.employees p { font-size: 25px !important; margin: 80px 0 30px !important;}
.employees {
    padding: 0 !important; margin:30px 0 !important;
}
.contact{ padding: 60px 0 !important; height: auto !important;}    
.employee-cont p {font-size: 15px !important;}

.footer-nav > ul > li { width: 33% !important; height: 230px !important; margin: 0 0 25px !important;}    
.copy p { margin: 0 !important; line-height: 25px !important;}
.copy { margin: 0 !important;}
.footer-logo a.btn { display: block !important; margin: 0 auto 25px !important; width: 30% !important;}

.company-modules ul li a.btn { padding: 10px 25px !important;}
.integrates ul { display: block !important;}
.integrates {
    padding: 20px 0 0 !important;
}
.integrates h2 { margin: 0 0 40px !important;}


.address-block { padding: 0  !important;}
.address-block-lft { margin: 0 0 30px !important;}

.contacts-rgt { position:static !important; margin: 0 auto !important; float: none !important;}
.contacts-lft { margin: 0 auto !important; float: none !important; margin: 0 auto 40px !important;}
.contacts {padding: 50px 0 !important; margin: 0 auto !important;}
.address-block-img::after{ display: none !important;}


.feature .banner-lft{ margin: 0 0 40px !important; display: inline-block;}
.feature .banner-rgt figure { position:static !important;margin: 0 auto !important;}
.feature .banner-rgt figure img { width: 100% !important; float:none !important; }
.feature .banner-rgt.pull-right { float: none !important;}
.feature.banner {
    margin: 40px 0 !important;
}

.employees-lft figure { width: 100% !important; position: static !important;}
.employees-lft figure img { display: none !important;}
.employees-lft figure .employee-cont { display: block !important; position: static !important; width: 100% !important;}
.employee-bg span { display: none !important;}
.employees-lft { margin:0 0 30px !important; float: none !important;}
.employees-rgt { float: none !important;}
.employee-cont p { margin: 0 !important; line-height: 27px !important; font-size: 18px !important;}
.employees-rgt figure { margin:30px auto 0 !important; float: none !important;}
.employee-right { float: none !important; margin: 0 !important;}
.employee-right h3{ color:#000; font-size: 18px !important; font-weight: bold;}
.employee-right em { color:#000; text-align: center; font-size: 16px !important;}
.employees-rgt h2 {
    font-size: 23px !important;
}
.employee-cont { text-align: center !important;}
.employees-rgt small {
    line-height: 30px !important;
}
.employees-lft{ width: 100% !important;}

.btm-block small { font-size: 25px !important;}
.agile-hr-lft{ position: static !important; text-align: center !important; width:80% !important; margin: 0 auto 30px !important;}
.agile-hr-lft figure img { display: none !important;}
.agile-hr-lft figure span img { display: block !important;}
.agile-hr-lft figure span{ position: static !important;}
.agile-hr-in {
    margin:30px 0 0 !important;
}
.agile-hr-lft.pull-left{ float: none !important;}
.company-modules {
    margin: 60px 0 0  !important;
}


.team-rgt{ position: static !important; text-align: center !important; width:60% !important; margin: 0 auto !important;}
.team-rgt figure img { display: none !important;}
.team-rgt figure span img { display: block !important;}
.team-rgt figure span{ position: static !important;}
.team-rgt.pull-right{ float: none !important;}
.team-lft {
    padding: 10px 0 50px !important;
}
.why-zenwork{ background:#f2f5f7 !important; padding: 30px 0 !important;}
.why-zenwork .tbl-cell {
    padding:0 !important;
}
.team{ padding: 0 0 30px !important;}

.about.banner {
    margin: 20px 0 50px !important;
}
.contact-banner.banner {
    margin: 20px 0 !important;
}
.contact-banner .banner-rgt{ width: 50% !important; margin: 0 auto 50px !important;}


.pricing-banner-bottom figure {
    right: 10px !important;
    width: 50% !important;
}
.pricing-banner .tbl-cell {
    padding: 30px 0 0 !important;
}
.pricing-banner{ margin: 0 0 40px !important;}
.pricing-banner h1 {
    font-size: 30px !important;
}

.pricing-types.pad-tb-60 {
    padding: 60px 0 0 !important;
}
.pricing-tables p, .pricing-table-right p {
    font-size: 14px !important;
}
.mobile-price { margin: 0 0 30px;}

.partner.banner {
    margin: 40px 0 !important;
}
.partner .banner-lft { float: none !important;}
.partner .banner-lft ul { width: 80% !important; margin: 0 auto !important;}
.partner .banner-lft ul li {
    width:100% !important;
}
.partner .banner-lft .btn{ margin: 20px 0 !important;}
.rewards ul li { margin: 0 0 25px !important;}
.roles-cont > ul > li p {
    padding: 20px 0 20px 20px !important;
}
.hr-roles{
    padding: 0 0 30px !important;
}

.partner .banner-lft small {
    margin: 0 0 40px !important;
}

.agile-hr h2 {
    font-size: 25px !important;
    line-height: 25px !important;
    margin: 0 0 20px !important;
}
.agile-hr p{ font-size: 17px !important; line-height: 32px !important;}
.rewards h2 {
    font-size: 24px !important;
    line-height: 25px !important;
    margin: 0 0 20px !important;
}

.rewards {
    padding: 40px 50px !important;
}
.main-nav .navbar-nav > li:hover .dropdown-menu { margin: 0 auto !important; left: 0 !important; right: 0 !important;}
.agile-hr-rgt video { width: 100% !important;}

.feature-benefits { text-align: center !important;height: 670px !important;}
.feature-benefits-lft {
    padding: 50px 0 40px !important;
}
.feature-benefits-lft small { margin: 0 10px 40px !important;}
.feature-benefits-rgt span {position:static !important;}
.feature-benefits-rgt.pull-right{ float: none !important;margin: 0 auto !important; width: 350px !important;}
.benefits-cont p {
    padding: 0 20px !important;
}
.btm-block {
    padding: 30px 0 !important;
}
.benefits-cont {
    padding: 0 !important;
}
.feature-benefits-lft h1 { font-size: 35px !important; line-height: 40px !important;}
.feature-benefits.leave.leave-manage { height:750px !important;}

.feature-benefits.leave.recruitment-mobile { height: 770px !important;}

.feature-benefits.leave.company-mobile { height:770px !important;}

.feature-benefits.leave.em-service-mobile {
    height: 770px !important;
}

.feature-benefits.leave.security-mobile {
    height: 700px !important;
}

.login {
    padding: 30px 0 !important; text-align: center !important;
}
.login-in {
    padding: 10px 0 0 !important;
}
.login-lft h3 { margin: 0 0 15px !important;}
.login-lft ul {
    margin: 0 auto 20px !important;
    width: 70% !important;
    text-align: left !important;
}
.login-lft .btn { float: none !important;}
.login-lft p { float:none !important; padding: 12px 0 20px !important;}
.login-lft h4 span { width: 30% !important;}
.company-logos > ul { text-align: center !important;}
.login-lft h4 {
    width: 90% !important;
    margin: 0 auto 20px !important;
}
.login-lft a p { padding:0 10px 0 !important;}
.login-lft a.google {
    width: 45% !important;
}
.login-lft {
    padding: 0 5px 30px !important;
}
.login-rgt figure { width: 70% !important; margin: 0 auto !important;}


.top-header a { width: 220px !important; padding:6px 0 0 !important;}
.top-header a.pull-right{ float: left !important;}
.top-header-rgt { float: right !important; padding: 0 !important; text-align: right !important;}
.top-header-rgt > ul > li > a { padding: 10px 20px 10px !important;}
.top-header {
    padding: 30px 0 !important;
}

.register-lft figure { margin: 0 auto !important; padding: 0 0 30px !important;}
.register-lft ul { width: 70% !important; margin: 0 auto !important;}

.signup .register-lft var br { display: none !important;}
.register-lft a.google { margin:10px auto 0 !important;}

.signup .register-lft h4 { margin: 0 auto !important;}
.register-lft { text-align: center !important;}
.register-lft ul { text-align: left !important;}
.signup {
    padding: 0 0 40px !important;
}
.get-btn{
    width: 70% !important;
    margin: 20px auto 0 !important;
}

.top-block { width:80% !important;}


}




@media(max-width:599px){


.company-modules h3 { font-size: 25px !important;}
.company-modules h4 { font-size: 23px !important;}

.search     { width: 100% !important;}
.search a.btn { padding: 12px 35px !important;}
.contact { height: auto !important; padding: 40px 0 !important;}
footer{ padding: 30px 0 !important;}
.company-modules ul li h2 {font-size: 19px !important; height:auto !important;}
.company-modules ul li { width: 100% !important; float: none !important;}
.company-modules ul li p { height: auto !important;}
.integrates ul li a img { width: 100%; height: auto !important;}

.leadership ul li img { width: 100% !important; height: auto !important;}


.feature { text-align: center !important;}
.btm-block small { line-height: 35px !important;}


.banner-lft{ padding: 0 15px !important;}
.company-modules {
    margin: 40px 0 0 !important;
}
.company-modules h4 {
 margin: 0 0 40px !important;
}
.leadership figure { display: none !important;}

.pricing-banner .tbl-cell{ width: 100% !important; display: block !important; height: auto !important;}
.pricing-banner-bottom figure {position: static !important; width: 70% !important; margin: 0 auto !important;}
.pricing-types .pos-relative {
    margin: 0 0 30px !important;
}
.partner .banner-lft h1 {
    font-size: 26px !important;
    line-height: 40px !important;
}

.partner .banner-lft h2 { margin: 0 0 20px !important;}
.rewards h2 {
    line-height: 40px !important;
}
.rewards p br { display: none !important;}
.rewards {
    padding: 30px 50px 10px !important;
}
.partner.banner {
    margin: 30px 0 !important;
}

.arrow a img { width:60px !important; height: auto !important;}
.footer-nav { padding: 0 0 0 10px !important;}

.contacts-lft { margin: 0 auto !important;}
.feature-benefits-lft h2{ font-size: 25px !important; line-height:40px !important; padding: 0 0 20px !important; margin:0 !important;}

.feature-benefits-lft h1 { padding: 0 10px !important; font-size: 33px !important; }

.feature-benefits.leave.em-service-mobile {
    height: 820px !important;
}

.feature-benefits.leave.security-mobile {
    height: 720px !important;
}

.pricing-banner { text-align: center !important;}
.pricing-banner a {
    margin: 0 auto !important;
}

.login-lft ul {
    width: 80% !important;
}
.login-lft .company-logos > ul > li {
    width: 35% !important;
}
.login-footer {padding:20px 0 !important;}


.top-header-rgt { float: none !important; text-align: center !important; width: 100% !important; padding: 20px 0 0 !important;}
.top-header { text-align: center !important;}
.top-header a.pull-right { float: none !important;}

.get-btn{
    width: 70% !important;}

.reset-copy { width:90% !important;}
.top-block {
    width: 95% !important;
}

}


@media(max-width:479px){



.integrates ul li{ float: none !important; width:65% !important; margin: 0 auto 15px !important; }
.company-modules h4{ line-height: 30px !important; margin: 0 0 30px !important;}
    
.contact h2     { font-size: 22px !important;}
.contact small br { display: none !important;}
.search-lft{ width: 100% !important; float: none !important; margin: 0 0 20px !important;}
.search a.btn { float: none !important;}
.footer-logo a.btn{ width: 50% !important;}
.footer-nav > ul > li { width: 100% !important; float: none !important; height: auto !important; margin: 0 0 20px !important;}

.leadership h2 { font-size: 25px !important;}
.leadership ul li{ width: 100% !important; float: none !important;}
.leadership ul li small br { display:none !important;}

.address-block-lft h2 { font-size: 23px !important; line-height: 35px !important;}
.address-block {
    padding: 0 !important;
}
.contacts-lft h2 { font-size: 22px !important;}
.contacts-rgt h2 { font-size: 25px !important; line-height: 35px !important; margin: 0 0 40px !important;}
.contacts-rgt p  br { display: none !important;}
.contacts-rgt-in ul { padding: 0 0 30px !important;}

.contacts-rgt-in ul li address { float: left !important; width: 200px !important;}
.social-icons { padding: 20px 0 0 !important; text-align: center !important;}
.social-icons ul li { margin: 0 15px 0 0 !important;}
.social-icons ul { margin: 0 0 20px !important;}
.contacts-rgt-in {
    padding: 40px 20px 0 !important;
}

.feature.banner {
    margin: 20px 0 !important;
}
.feature .banner-lft h2 { margin: 0 0 20px !important;}
.feature .banner-lft h1 {
    font-size: 26px !important;
    line-height: 40px !important;
}
.feature.banner small {
    line-height: 25px !important; margin: 0 0 30px !important;
}
.feature .banner-rgt figure {
    width: 70% !important; }

.employees-rgt h2 {
    font-size: 20px !important;
}
.integrates h2 {
    margin: 0 0 20px !important; font-size: 22px !important; line-height: 25px !important;
}
.social-icons { text-align: left !important;}
.copy p{ padding: 0 15px !important;}
.copy { padding: 20px 0 0 !important;}

footer {
    padding: 30px 0 15px !important;
}

.btm-block{ padding: 30px 0 10px !important;}
.btm-block small {
    font-size: 20px !important;
    line-height: 30px !important;
    margin: 0 10px 20px !important;
}
.banner-lft h1 {
    font-size: 20px !important;
    line-height: 30px !important;
}
.banner-lft h2{ margin: 0 0 20px !important;}
.agile-hr h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px;
}

.banner-lft small {
    margin: 0 0 30px !important;
    line-height: 20px !important;
}
.banner {
    margin: 20px 0 40px !important;
}
.agile-hr p { font-size: 17px !important;}
.agile-hr-rgt h3 {
    font-size: 24px !important;
    line-height: 30px !important; margin: 0 0 20px !important;
}
.company-modules h4 {
    font-size: 21px !important;
}
.team-lft h2 { font-size: 24px !important; line-height: 35px !important; margin: 0 0 20px !important;}
.team-lft p { font-size: 16px !important; line-height: 30px !important; margin: 0 0 30px !important;}

.why-zenwork h3 {
    font-size: 25px !important;
    line-height: 25px !important;
    margin: 0 0 30px !important;
}

.why-zenwork ul li {
    margin: 0 0 30px;
}

.contact-banner .banner-rgt {
    width: 65% !important;
}
.contacts-rgt-in ul li span { width: 35px !important;}
.contact-banner .banner-lft {
    padding: 0 !important; }
.pricing-banner a{ margin: 0 auto !important;}
.pricing-banner .tbl-cell{ text-align: center !important}
.zenwork-pricing .pad-tb-60{ padding:40px 0 !important;}
.btm-tag::before{ left: 0 !important; width: 100% !important;}
.top-tag::before{ left: 0 !important; width: 100% !important;}
.btm-tag, .btm-tag p, .top-tag, .top-tag p{ width: 310px !important;}
.list-inline>li{ padding-left: 0 !important;padding-right: 0 !important;}
.pricing-banner h1 {
    font-size: 23px !important; line-height: 33px  !important;
}
.mobile-price { padding: 0 !important;}
.zenwork-pricing figure { display: none !important;}
.table-head h3{ padding: 0 !important;}
.mobile-price .table-row {padding: 20px 0 20px 0 !important;}
.mobile-time .table-head h3 { padding: 0 0 0 20px !important;}
.mobile-time .table-row { padding: 20px 0 20px 20px !important;}

.partner .banner-lft h1 {
    font-size: 23px !important;
    line-height: 35px !important;
}

.partner .banner-lft small {
    margin: 0 0 30px !important;
}
.partner .banner-lft {
 padding: 0 10px !important;
}
.partner .banner-lft ul{ width: 100% !important;}
.agile-hr p {
    font-size: 16px !important; line-height: 30px !important; padding: 0 10px !important;
}
.rewards h2 { font-size: 20px !important;
    line-height:35px !important; 
}
.rewards {
    padding: 30px 20px 10px !important;
}
.roles-cont > ul > li h3, .roles-cont > ul > li h2 { padding: 20px 0 20px 20px !important;}
.roles-cont > ul > li p {
    padding: 20px 0 20px 10px !important; font-size: 15px !important;
}
.partner-price h2 { margin: 0 0 30px !important;}
.partner-price .clr-blue{ margin: 0 10px 10px;}
.banner-lft ul li .form-control { width: 85% !important;}

.partner.banner {
    margin: 20px 0 !important;
}
.agile-hr h2 {
    font-size: 20px !important;
    line-height: 20px !important;
    margin: 0 0 10px !important;
}
.arrow a img { width:40px !important;}
.arrow { padding: 0 0 30px !important;}

.pricing-types ul.list-inline { margin-left: 0 !important;}
.contacts { width: 100% !important;}
.contacts-lft a.btn { width:40% !important;}
.contact-banner .banner-rgt {
    margin: 0 auto 30px !important;
}
.contacts-lft {
    padding: 0 10px !important;
}
.feature-benefits-lft h1 { font-size:30px !important; line-height: 40px !important;}
.feature-benefits-rgt.pull-right{ width: 300px !important;}
.feature-benefits{ height: 640px !important;}
.feature-benefits-lft {
    padding: 25px 0 40px !important;
}

.feature-benefits.leave.recruitment-mobile {
    height: 820px !important;
}


.feature-benefits.leave.company-mobile {
    height: 800px !important;
}

.login a { width: 240px !important;}
.login a img { width: 100% !important; height: auto !important;}
.login-lft ul {
    width: 100% !important;
}
.login-lft ul li {
    width: 100% !important;
}

.login-lft p a { width: auto !important;}
.login-lft .company-logos > ul > li a img { width: auto !important;}
.login-lft .company-logos > ul > li a { width: 130px !important;}
.login-lft .company-logos > ul > li {
    width: 50% !important;
    margin: 0 auto !important;
}

.login-footer figure {
    margin: 0 !important; padding: 0 !important;
}
.login-lft h4 span {
    width: 40% !important;
}

.top-header-rgt > ul > li > a {
    padding: 10px 15px 10px !important; font-size: 16px !important;
}
.register-lft figure {
    width: 100% !important;
}
.register-lft ul { width: 100% !important;}
.signup .register-lft .btn { float: none !important;}
.signup .register-lft > p { float: none !important; padding: 10px 0 0 !important;}
.signup .register-lft var br {
    display: block !important;
}
.signup {
    padding: 0 0 25px !important;
}

.reset-pass .btn { width:80% !important;}

.reset-pass em {
    width: 30px !important;
    padding: 4px 0 10px !important;
}

.reset-copy {
    width: 100% !important;
}

}