<!-- Job Calculates Results -->
<div class="post-jobs job-result">

  <h4>Job Calculator Results</h4>

  <div class="post-job-main">

    <div class="post-job-add">
      <h3>Job Title : </h3>

      <table class="table">
        <thead>
          <tr>
            <th>
              <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
            </th>
            <th>Job Requisition Number</th>
            <th>Posted Date / How Long Open</th>
            <th>Number of Applicants</th>
            <th>Requisition Candidates</th>
            <th>Source</th>
            <th>$ Amount</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
            </td>
            <td>213244345</td>
            <td>10-10-2018 - 7days</td>
            <td>22</td>
            <td>55</td>
            <td>

            </td>
            <td>$ 52</td>


          </tr>

        </tbody>
      </table>

      <div class="clearfix"></div>
    </div>


     <div class="post-job-add">

      <table class="table">
        <thead>
          <tr>
           
            <th>Resource</th>
            <th>$ Amount</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

            <tr>
                <td>Job Requisition Number</td>
                <td>45654646</td>
                <td></td>
              </tr>

              <tr>
                  <td>Hired Employee Name</td>
                  <td>Sureshh</td>
                  <td></td>
                </tr>


          <tr>
            <td>Hiring Manager</td>
            <td>$ 52</td>
            <td></td>
          </tr>

          <tr>
              <td>Recruiter</td>
              <td>$ 52</td>
              <td></td>
            </tr>

            <tr>
                <td>Source</td>
                <td>$ 52</td>
                <td></td>
              </tr>

        </tbody>
      </table>

      <div class="clearfix"></div>
    </div>

    <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
    <button class="btn pull-right save">Submit</button>
    <div class="clearfix"></div>

  </div>

</div>