.post-jobs { display: block;}

.post-job-main {padding:20px 0 0;border-top: #ccc 1px solid; margin:20px 0 0;}

.post-job-main .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 35px;
    background: #008f3d; color:#fff;}
.post-job-main .btn.cancel {color:#e5423d; background:transparent;font-size: 16px;}
.post-job-main h3 { margin: 0 0 30px; font-size: 20px; color:#666;}
.post-job-add { margin: 0 0 40px;}