<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <img src="../../../assets/images/company-settings/settings.png" alt="Company-settings icon">
    <span>Company Settings</span>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>


<div class="zenwork-custom-company-settings">
  <div class=" zenwork-jumbotron-bg col-md-11">

  <div class="company-settings-heading">

    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a [routerLink]="['/admin/admin-dashboard/company-settings/company-setup/general-settings']">
          
          <img src="../../../assets/images/company-settings/company-setup.png" alt="img">
          
          <p class="zenwork-margin-zero">
            <b>Company Setup</b>
          </p>
          <small>Settings, Field Maintainance, Structure</small>
        </a>
      </div>
    </div>

    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a [routerLink]="['/admin/admin-dashboard/company-settings/theme-management']">

          <img src="../../../assets/images/company-settings/theme.png" alt="img">

          <p class="zenwork-margin-zero">
            <b>Theme</b>
          </p>
          <small>Logo, Scheme</small>
        </a>
      </div>
    </div>

    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a [routerLink]="['/admin/admin-dashboard/company-settings/site-access-management/site']">
          <img src="../../../assets/images/company-settings/site-access.png" alt="img">

          <p class="zenwork-margin-zero">
            <b>Site Access / <br>  Rights Management</b>
          </p>
          <small>User Roles, Rights</small>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>    


  <div class="company-settings-heading no-bor"> 
    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a [routerLink]="['/admin/admin-dashboard/company-settings/workflow-approval/workflow']">

          <img src="../../../assets/images/company-settings/work-flow.png" alt="img">

          <p class="zenwork-margin-zero">
            <b>Workflow Approval</b>
          </p>
          <small>Demographic , Job and Compensation changes</small>
        </a>
      </div>
    </div>

    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a routerLink="">

            <img src="../../../assets/images/company-settings/mobile.png" alt="img">

          <p class="zenwork-margin-zero">
            <b>Mobile Access</b>
          </p>
          <small>
            Mobile Settings
          </small>
        </a>
      </div>
    </div>

    <div class="col-xs-4 text-center right-border">
      <div class="zenwork-settings-wrapper">
        <a routerLink="" class="">

            <img src="../../../assets/images/company-settings/integration.png" alt="img">

          <p class="zenwork-margin-zero">
            <b>Integration & API Partners</b>
          </p>
          <small>Third Party Connections</small>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>