.zenwork-jumbotron-bg{
    background-color: #fff !important; float: none; margin: 0 auto; border-radius: 5px; box-shadow: 0 0 20px #d8d8d8;
    padding:0 50px 30px;
}
.zenwork-currentpage{
    padding-top: 40px;
}

.zenwork-custom-company-settings{
    padding-top: 60px;
}

.zenwork-custom-company-settings a{
    color : #3e3e3ea3;
    text-decoration: none;
}


.zenwork-settings-wrapper{
    padding:0; 
}
.zenwork-margin-zero { padding: 0 0 5px;}
.zenwork-margin-ten-zero { border-bottom:#dedcdc 1px solid}
.zenwork-margin-zero span { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;color: #464646; font-size: 18px;}
.zenwork-margin-zero b { display: inline-block; font-weight:500; line-height: 20px; color: #656565; font-size: 18px;}
.zenwork-settings-wrapper b:hover { color:#008f3d;} 
.zenwork-settings-wrapper a img { margin: 0 auto 15px;}
.zenwork-settings-wrapper small { font-size: 13px;}

.company-settings-heading { border-bottom:#ccc 1px solid; padding:55px 0;}
.right-border{ position: relative;}
.right-border:after {border-right:#ccc 1px solid; content:''; position: absolute; top: 0; right: 0; height: 150px;}
.right-border:nth-child(3n):after { border: none !important; }

