.holidays-main-tab{
    margin: 20px 0 0 30px;
}
a{
    color: #000;
}
.resumes-field-heading small{
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


.field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
    position: relative;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
}
.field-accordion .panel-title a{
    display: inline-flex;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.main-punches-filters {
    position: absolute;
    top: 15px;
    right: 28px;
}
.main-punches-filters .search-category .list-items{
    display: inline-block;
    padding: 0px 10px;
    /* margin: 5px; */
    position: relative;
    /* font-size: 12px; */
}
.main-punches-filters .search-category .list-items span{
    cursor: pointer;
    font-size: 15px;
}
.custom-tables { margin: 0 auto; float: none; padding: 15px 20px 0 0;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 14px;}
.custom-fields .checkbox{ margin: 0;}


.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after {  color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>thead>tr>th.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control {    border: none; width: 110px; box-shadow: none; color: #000; background: #f8f8f8;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}
  .custom-tables .table>thead>tr>th.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}
  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}

  .excel-sheet-icon{
    display: inline-block;
    padding: 0 0 0 8px;
    cursor: pointer;
  }
    /* first-tab-modal */
   
    .modal-body{
    /* background:#f8f8f8; */
    padding: 0;
}
.tabs-left .nav-tabs{
  margin: 20px 0 0;
    border-right: 0;
}
.tab-content{
  margin: 0;
  /* background: #fff; */
}
.sidenav-tabcontent{
    background: #fff !important;
    padding: 30px 0px; margin: 0 auto; float: none;

}
.tabs-customize{
    background: #f8f8f8;
    padding:0px!important;
}
.modal-body .container{
    width:100%;
}

/* tabs-end */
.modal-margintop{
    margin-top:20px;
}
/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    /* border-right: 1px solid #ddd; */
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 15px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }
 
input{
  height:30px;
  /* border:1px solid #e5e5e5; */
}
.hiredate{
    width: 100%;
    font-size: 14px;
    padding-left: 13px;
    border: 0;
    background: #f8f8f8;
  }
.work-schedule .list-items{
    display: inline-block;
    width: 17%;
    margin-right: 30px;
    vertical-align: top;
}
.work-schedule .list-items .benefits-dropdown{
    width: 100% !important;
    background: #f8f8f8;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.sidenav-tabs-tabs>li.active>a,.sidenav-tabs-tabs>li.active>a:focus, .sidenav-tabs-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    /* background: #f8f8f8; */
    font-size: 16px;
}


.sidenav-tabs-tabs li a:active,.sidenav-tabs-tabs li a:visited,.sidenav-tabs-tabs li a:focus{
    /* background: #008f3d !important; */
    border-radius: 40px !important;
    color: #fff !important;
    /* border: transparent !important; */
}

label{
    font-weight: normal;
    /* line-height: 30px; */
    font-size: 15px;
   margin: 0 0 0 2px;
}
input{
    border:0;
    box-shadow: none;
    font-size: 12px;
}
select{
    height:30px;
    font-size: 12px;
}
.second-popup-body{
    /* padding: 10px 150px; */
    background: #fff;
}
.second-work-schedule ul li{
    display: inline-block;vertical-align: top;
}
.second-work-schedule ul .work-title{
    width: 25%;
    margin-right: 30px;
}
.second-work-schedule ul{
  margin: 0;
  border-bottom: 1px solid #f8f8f8;
}
.work-schedule-title ul{
    margin: 0;
    width: 40%;
}
.second-work-schedule ul .work-title .template,.work-schedule-title ul .work-title .template{
  background: #f8f8f8;
  border: none;
  width: 100%;
  height: auto;
  padding:11px 12px; font-size: 14px;
}
.second-work-schedule ul .hiredates-list{
    position: relative;
    padding: 0 0 0 15px;
}
.second-work-schedule ul .hiredates-list .second-popup-calendar-icon{
    position: absolute;
    width: 20px;
    top: 38px;
    right: 8px;
}
.schdule-type{
    margin: 0 0 20px 0;
}
.schdule-type mat-select{
    width: 17% !important;
}

.schdule-type label { display: block;}
.emp-hours-working {
    margin-top: 20px;
}
.schdule-type .form-control { height:auto; padding: 10px 12px;} 
.emp-hours-working .form-control {height:auto; padding: 10px 12px; font-size: 14px; box-shadow: none;}

.request-time-off-popup .modal-body{
    background: #fff !important;
    padding: 30px !important;
}
.request-time-off-popup .modal-body .custom-tables .table>tbody>tr>td,.fist-popup-modal .custom-tables .table>tbody>tr>td{
    background: #f8f8f8 !important;
}
.request-time-off-popup .field-accordion .panel-default > .panel-heading {
    background: #fff !important;
}
.request-time-off-popup .custom-tables{
    padding: 0 ! important;
}
.request-time-off-popup .category-field{
    background: #f8f8f8;
}
.request-time-off-popup .field-accordion .panel{
    background: #fff !important;
}
.request-time-off-popup .main-punches-filters{
    position: absolute;
    top: -24px;
    right: -8px;
}
.emp-calendar{
    padding: 0 20px 0 0px;
    width: 98%;
    margin: 0 0 30px 0;
}
.policy-type{
    padding: 30px 20px 0 20px;
    width: 70%;
}
.total-main-list{
    margin: 0 !important;
}


.main-calendar-filters{
    padding: 0 12px 0 0;
}
.day-emp-calendar{
    margin: 10px 0 0 0;
}
.submit-buttons .list-item {
    display: inline-block;
    padding: 10px 20px 0 0;
 }
.submit-buttons .btn-success {
    background-color: #439348;
 }
.btn-style {
   padding: 4px 20px !important;
   border-radius: 30px!important;
   font-size: 14px;
 }
 .emp-time{
   border: 0;
   background: #fff;
   outline: none;
   padding-left: 15px;
 }
 .custom-tables tbody tr .start-time{
   width: 25%;
   position: relative;
 }
.custom-tables tbody tr .end-time{
        width: 25%;
        position: relative;
 }
.custom-tables tbody tr .start-time .clock-icon,.custom-tables tbody tr .end-time .clock-icon{
  font-size: 20px;
  color: #c7c4c4;
  position: absolute;
  top: 20px;
  right: 80px;
  border-left: 1px solid #c7c4c4;
  padding: 0 0 0 5px;
}
.select-week-days{
 margin: 20px 0px;
}
.select-week-days .main-head-weekdays{
    margin: 0 0 20px 0;
 }
.open-close-time ul li{
    display: inline-block;
    padding: 0 25px 20px 0;
    position: relative;
}
.emp-open-time{
    width: 100%;
    border: 0;
    background: #f8f8f8;
    padding: 0 10px;
}
.open-close-time ul li .clock-icon{
  font-size: 17px;
  color: #439348;
  position: absolute;
  top: 40px;
  right: 30px;
  border-left: 1px solid #c7c4c4;
  padding: 0 0 0 5px;
}
.standard-schedule-table ul li{
    display: inline-block;
    padding: 0 20px 0 0;
    width: 28%;
}
.standard-schedule-table ul li mat-select{
    width: 100% !important;
}
.standard-schedule-table ul li .btn-define{
    color: #fff;
    background: #797d7a;
}
.assign-work-schedule-tab p{
    font-size: 16px;
}
.education-date {
    margin: 20px 5px 20px 0;
}
.education-date-list1 {
    width: 43%;
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0 10px;
}
.edu-ends-calendar-icon{
    position: absolute;
    top: 40px;
    width: 15px;
    right: 25px;
}
.birthdate{
    font-size: 14px;
    padding-left: 15px;
    /* width: 178px;    */
    box-shadow: none;
}
.margin-top-20 {
    margin: 40px 0px;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f8f8f8;
}
.select-employee-tab .block-out-heading{
    padding: 0 0 0 20px;
}

.field-accordion .eligibility-panel .eligibility-panel-heading{
    background: #fff !important;
    padding: 5px 20px;
}
.checkbox_allemployees label::before ,.checkbox_allemployees label::after {
    border-radius: 11px !important;
   
}
.main-punches-filters .submit-buttons{
    margin: 0;
}
.main-punches-filters ul li .checkbox_allemployees {
    background: #edf7fe;
    padding: 6px 23px;
    margin: 0;
    border-radius: 21px;
} 
.checkbox_allemployees label{
    padding: 0 0 0 5px !important;
}
.eligibility-criteria-list  {
    margin: 20px 0 0 0;
}
.eligibility-criteria-panel-body{
    background: #fff;
    padding: 0px 20px;
    /* margin: 20px 0 0 0; */
}
.eligibility-criteria-list ul{
    background: #f8f8f8;
}
.eligibility-criteria-list ul li{
    padding: 2px 0px;
    border-right: 1px solid #ededed;
}
.eligibility-criteria-select-all{
    position: absolute;
    top: 0px;
    right: 28px;
}
.eligibility-criteria-list .second-eligibility-list li{
    border-right: none;
}

.field-accordion .eligibility-panel .panel-body{
    background: #fff;
}
.mar-top-10 {
    margin-top: 10px;
    outline: none;
}
.import-date-btn {
    background-color: #797d7a;
    border: 1px solid #797d7a;
    padding: 5px 14px;
    border-radius: 50px;
    color: #fff;
    outline: none;
    font-size:12px;
  }
  .group-list .table>tbody>tr>td {
    background: #f8f8f8;
    border: none;
    vertical-align: middle;
    border-top: none;
    border-bottom: #c3c3c3 1px solid;
    color: #948e8e;
  }
  .submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;
    margin: 0 30px 0 0; 
  }
  .mar-top-10 {
      margin-top: 10px;
  }

.selected-days .list-days {
    margin-bottom: 5px;
}

.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
.back-btn {
    border: 1px solid #e6d4d4;
    border-radius: 25px;
    padding: 0px 25px;
}

.date1 { height: auto !important; line-height:inherit !important; width:100%;display: block;
    background: #f8f8f8; margin-top: 5px; }
 .date1 button { display: inline-block; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
  height: 40px; min-width: auto; margin-left: 10px;}

 .date1 span { border: none !important; padding: 0 !important;}
 .date1 .form-control {  height: auto; padding: 12px 0 12px 10px; display: inline-block;
    vertical-align: middle; }
 /* .date .tier-width { width:25%; height: auto; padding: 12px 0 12px 10px;} */
 .date1 .form-control:focus { box-shadow: none; border: none;}
 .date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

 .recap-table {margin:20px 20px 0 0;}
.recap-table .table>thead>tr>th { color: #6f6f6f; font-weight: normal;  background: #eef7ff; border:none; font-size: 16px;
border-radius:3px;}
.recap-table .table>tbody>tr>td, .recap-table .table>tfoot>tr>td, .recap-table .table>thead>tr>td{ background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#948e8e;}
.recap-table .checkbox{ margin: 0;}
.recap-table .checkbox label { padding-left: 0;}
.recap-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.recap-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:4px;height:80%; border-radius: 0 4px 4px 0; padding: 0; left: 0;}
.recap-table .table>tbody>tr>td {padding: 10px 5px;}

.recap-table1 {    margin: 20px 20px 0 0;width: 850px;overflow-x: auto;}
.recap-table1 .table>thead>tr>th { color: #6f6f6f; font-weight: normal;  background: #eef7ff; border:none; font-size: 16px;
border-radius:3px;}
.recap-table1 .table>tbody>tr>td, .recap-table1 .table>tfoot>tr>td, .recap-table1 .table>thead>tr>td{ background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#948e8e;}
.recap-table1 .checkbox{ margin: 0;}
.recap-table1 .checkbox label { padding-left: 0;}
.recap-table1 .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.recap-table1 .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:4px;height:80%; border-radius: 0 4px 4px 0; padding: 0; left: 0;}
.recap-table1 .table>tbody>tr>td {padding: 10px 5px;}

 .example-list {
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  } 
  
  .horizontal-box {
    padding:15px 10px;
    background: #fff;
  }
  .error{
    font-size:14px;padding:5px 0 0;
    color: #f44336;  
}
  
  /* .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
   */

  .structure-tbl-body {
    background: #f8f8f8;
    width: 45%;
  }
  .height-300 {
    height: 300px;
    overflow: auto;
  }
  .structure-list .list-items{
    padding: 15px 15px;
    border-bottom: 2px solid #eee;
  }
  .structure-list .list-items-values{
    padding: 17px 37px;
    border-bottom: 2px solid #eee;
  }
  .arrow-position {
    position: relative;
  }
  .arrow-align-one {
    font-size: 40px;
    position: absolute;
    top: 145px;
    left: 30px;
    font-weight: lighter;
    color: #439348; 
  }
  .arrow-align-two {
    font-size: 40px;
    position: absolute;
    top: 145px;
    right: 0;
    left: 0px;
    font-weight: lighter;
    color: #439348;
  }
  .margin-btm {
    border-bottom: 1px solid #fdeded;
    padding-bottom: 20px;
  }
  .employees-data{
    padding: 0px 30px;
  }


.date1 { height: auto; line-height:inherit; width:100%;background:#f8f8f8;}
.date1 a { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}
.date1 a:focus { border: none; outline: none;}
.date1 span { border: none !important; padding: 0 !important;}
.date1 .form-control { width:65%; height: auto; padding: 12px 0 12px 10px; background: #f8f8f8;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.sidenav-right {padding: 30px 0 0;}

.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus{ border-color:transparent; background: transparent;}

.schedule-creation { padding: 0 10px 0 0;}
.days-right { margin: 0 16px 0 0;}
.mar-top-5 {
  height: 40px;
  margin-top: 5px;
}
.dual-list .listbox button{
  background: #008f3d !important;
}
.time-picker-color{
  --body-background-color: #fff;
  --primary-font-family: 'Roboto',sans-serif;
  --button-color: #439348;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, .5);
  --dial-background-color: #439348;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #439348;
}

.dept-date {
  padding: 0px 0 0 10px;
  width: 95%;
  height: auto 0px;
  height: 35px;
  background: #f8f8f8;
}




.example-box {
  padding:5px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.intervals{
  width: 100%;
}

.working {
  border-left: 3px #787c7a solid;
  padding: 4px 6px;
  background: #fff;
  border-right: none;
}
.lunch {
  border-left: 3px #787c7a solid;
  padding: 4px 6px;
  background: #ffc550;
  border-right: none;
}
/* .lunch::after{ content:''; border-left: 3px #787c7a solid; height: 100%; width: 3px; position: absolute; top: 0; left: 0;} */

.work-lunch {
  
  padding: 4px 6px;
  background: #fff;
  border-right: none;position: relative;
}
/* .work-lunch::after{ content:''; border-left: 3px #787c7a solid; height: 100%; width: 3px; position: absolute; top: 0; left: 0;} */
.not-working {
  border-left: 3px #787c7a solid;
  padding: 4px 6px;
  background: #83c5de;
  border-right: none;
}
