<div class="holidays-main-tab">
  <div class="field-accordion">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_workschedule">
              <div class="resumes-field-heading">
                <p>Position Work Schedules</p>
              </div>
            </a>
          </h4>
          <div class="main-punches-filters">

            <ng-template #template1>
              <div class="modal-header modal-margintop">
                <h4 class="modal-title pull-left">Add / Edit Position Schedule</h4>
                <div class="clearfix"></div>
              </div>
              <div class="modal-body">
             
                <div class="container">
                  <div class="row">

                    <div class="tabbable tabs-left sidenav-tabs-tabs">

                      <div class=" sidenav-tabcontent col-md-11">
                        <div class="tab-pane fade in active" id="workSchedule">

                          <div class="second-popup-body">

                         <form (ngSubmit)="createWorkPosition(createEmployeeForm)" #createEmployeeForm="ngForm">
                            
                            <span class="second-work-schedule">
                              <ul class="list-unstyled hire-date-list">
                                <li class="list-items form-group work-title">
                                  <label>Position Schedule Title</label>
                                  <input type="text" name="nameoftemplate" class="template mar-top-10" [(ngModel)]="positionSchedule.scheduleTitle" name="title" #title="ngModel" required
                                  placeholder="Schedule Title">
                                  <p *ngIf="!positionSchedule.scheduleTitle && title.touched || ( !positionSchedule.scheduleTitle && isValid)" class="error">Enter schedule title</p>
                                </li>
                                <li class="list-items hiredates-list work-title">
                                  <label>Position Schedule Start Date</label>
                                  <div class="date1">
                                    <input matInput [matDatepicker]="picker5" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="positionSchedule.scheduleStartDate"
                                    name="startdate" #startDate="ngModel" required>
                                    <mat-datepicker #picker5></mat-datepicker>
                                    <button mat-raised-button (click)="picker5.open()">
                                      <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                    <div class="clearfix"></div>
                                  </div>
                                <p *ngIf="!positionSchedule.scheduleStartDate && startDate.touched || (!positionSchedule.scheduleStartDate && isValid)" class="error">Enter the start date</p>

                                </li>
                                <li class="list-items hiredates-list work-title">
                                  <label>Schedule Type </label>
                                  <input type="text"  class="template mar-top-10" [(ngModel)]="positionSchedule.type" name="type" #type="ngModel" required
                                  placeholder="Schedule Title" [disabled]=true>
                                  <!-- <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="positionSchedule.type" name="type" #type="ngModel" required
                                  placeholder="Schedule type">
                                    <mat-option value="Standard">
                                      Standard
                                    </mat-option>
                                    <mat-option value="Employee Specific">
                                      Employee Specific
                                    </mat-option>
    
                                  </mat-select> -->
                              <p *ngIf="!positionSchedule.type && type.touched || (!positionSchedule.type && isValid)" class="error">Select schedule type</p>

                                </li>

                              </ul>
                            </span>
                            <div>
                            <h4 style="font-size:17px;">Assign Position Schedule</h4>
                              <!-- <div class="schdule-type">
                                <label>
                                  Assign Schedule during New Hire setup?
                                </label>
                                <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="positionSchedule.assign_hire" name="assign_hire"
                                placeholder="Assign schedule setup">
                                  <mat-option [value]="true">
                                    Yes
                                  </mat-option>
                                  <mat-option [value]="false">
                                    No
                                  </mat-option>
  
                                </mat-select>
                              </div>
                             
                              <div class="schdule-type">
                                <label>
                                  Assign to a Job Title
                                </label>
                                <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="positionSchedule.assign_job_title" name="assign_job_title"
                                placeholder="Assign title">
                                  <mat-option [value]="true">
                                    Yes
                                  </mat-option>
                                  <mat-option [value]="false">
                                    No
                                  </mat-option>
                                </mat-select>
                              </div>
                              <div class="schdule-type">
                                <label>
                                 Manually Assign to Individuals?
                                </label>
                                <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="positionSchedule.manually_assign" name="manually_assign"
                                placeholder="Manually assign">
                                  <mat-option [value]="true">
                                 Yes
                                  </mat-option>
                                  <mat-option [value]="false">
                                    No
                                  </mat-option>
                                </mat-select>
                              </div> --> 
                              <div class="schdule-type" *ngIf="jobTitleShow">
                                  <label>
                                    Job Title Name
                                  </label>
                                  <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="positionSchedule.jobTitle" name="jobTitle"
                                  placeholder="Job title">
                                      <mat-option *ngFor = "let job of allJobTitles; let i=index" [value]="allJobTitles[i]._id" >
                                          {{job.name}}
                                        </mat-option>
                                  </mat-select>
                                </div>
                            </div>
                            <hr class="zenwork-margin-ten-zero">
                            <div class="select-week-days">
                              <h4>Select Days of the Week Applicable</h4>
                              <!-- <mat-checkbox [(ngModel)]="positionSchedule.selectFewDays" name="selectFewDays" (change)="selectAll($event)">Monday-Friday</mat-checkbox> -->
                              <ul class="list-unstyled selected-days" *ngFor = "let day of days;let i=index">
                                <li class="list-days">  
                                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="days[i].isChecked" name=a{{i}} (ngModelChange)="selectDay($event, day.name, day.isChecked)">
                                    {{day.name}} 
                                 </mat-checkbox>
                                 
                                </li>
                   
                              </ul>
                              
                            </div>
                            <hr class="zenwork-margin-ten-zero">
                            <div class="emp-hours-working">
                              <ul class="list-unstyled work-schedule padding-left-10">
                                <li class="list-items">
                                  <label>Total Hours per Day</label>
                                  <input type="text" class="form-control benefits-dropdown mar-top-10" [(ngModel)]="positionSchedule.totalHrsPerDay" (ngModelChange)="totalHoursDay($event)" name="total_hrs_day" #total_hrs_day="ngModel" required
                                  placeholder="Total hours day" (keypress)="numbers($event)">
                                  <p *ngIf="!positionSchedule.totalHrsPerDay && total_hrs_day.touched || (!positionSchedule.totalHrsPerDay && isValid)" class="error">Enter total hours day</p>

                                </li>
                                <li class="list-items">
                                  <label>Total Hours per Week</label>
                                  <input type="text" class="form-control benefits-dropdown mar-top-10" [(ngModel)]="positionSchedule.totalHrsPerWeek" name="week" #week="ngModel" required disabled
                                  placeholder="Total hours week">
                                  <p *ngIf="!positionSchedule.totalHrsPerWeek && week.touched || (!positionSchedule.totalHrsPerWeek && isValid)" class="error">Enter total hours week</p>

                                </li>
                                <li class="list-items" *ngIf="jobTitleShow">
                                    <label>
                                        Set Lunch Break Time?
                                      </label>
                                      <mat-select class="form-control zenwork-input mar-top-10"  [(ngModel)]="positionSchedule.lunchBreakTime" name="lunch_break_time" #lunch_break_time="ngModel"
                                      placeholder="Lunch break time" (ngModelChange)="setLunchTime($event)">
                                        <mat-option [value]='true'>
                                          Yes
                                        </mat-option>
                                        <mat-option [value]='false'>
                                          No
                                        </mat-option>
      
                                      </mat-select>
                               <!-- <p *ngIf="(!positionSchedule.lunchBreakTime && lunch_break_time.touched) || (!positionSchedule.lunchBreakTime && isValid)" class="error">Select lunch break time</p> -->

                                </li>
                              </ul>
                            </div>
                   
                            <div class="standard-schedule-table">
                           
                              <div class="fist-popup-modal">
                                <div class="custom-tables">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        
                                        <th>Day</th>

                                        <th>Start Time</th>
                                        <th *ngIf="lunchTime && jobTitleShow">Lunch Start Time</th>
                                        <th *ngIf="lunchTime && jobTitleShow">Lunch End Time</th>
                                        <th>End Time</th>
                                        <!-- <th>
                                         <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>

                                            <mat-menu #menu1="matMenu">
                                
                                                <button mat-menu-item> Edit </button>
                        
                                              </mat-menu>
                                        </th> -->
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr *ngFor = "let day of weekDays;  let j=index;">
                                        
                                        <td>
                                             {{day.day}}
                                        </td>
                                       
                                        <td class="start-time">
                                            <input class="emp-time" [ngxTimepicker]="i"  name="b{{j}}" [(ngModel)]="weekDays[j].shiftStartTime" (ngModelChange)="timeStartDay($event,j)">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                            <ngx-material-timepicker #i class="time-picker-color"></ngx-material-timepicker>
    
                                        </td>
                                        <td class="start-time" *ngIf="lunchTime && jobTitleShow">
                                            <input class="emp-time" [ngxTimepicker]="ii"  name="c{{j}}" [(ngModel)]="weekDays[j].lunchStartTime">
                                          <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                           <ngx-material-timepicker #ii class="time-picker-color"></ngx-material-timepicker>
  
                                        </td>
                                        <td class="end-time" *ngIf="lunchTime && jobTitleShow">
                                            <input class="emp-time" [ngxTimepicker]="iii"  name="d{{j}}" [(ngModel)]="weekDays[j].lunchEndTime">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                            <ngx-material-timepicker #iii class="time-picker-color"></ngx-material-timepicker>

                                        </td>
                                        <td class="end-time">
                                            <input class="emp-time" [ngxTimepicker]="iv"  name="e{{j}}" [(ngModel)]="weekDays[j].shiftEndTime" (ngModelChange)="endTimeDays($event,day)">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                            <ngx-material-timepicker #iv class="time-picker-color"></ngx-material-timepicker>
                                      
                                        </td>
                                        
                                      </tr>
                       
                                    </tbody>
                                  </table>
                                  <hr class="zenwork-margin-ten-zero">
                                </div>
                              </div>
                              <!-- <h4 style="margin-top:30px;">Preview Employee List Report
                                  <button class="import-date-btn pull-right text-report">Run Report</button>

                                </h4>
                              <div class="custom-tables group-list">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>
                                          Employee Name
                                        </th>
                                        <th>Employee ID</th>
                                        <th>Manager Name</th>
                                        <th>Department</th>
                                        <th>Effective Date</th>
                                        <th>Position Schedule Title</th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Zenwork</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>12/01/2018</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td>Test</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td>Test 1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                  </table>
                                  
                                </div>
                                <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" >
                                </mat-paginator> -->
                                <!-- <hr class="zenwork-margin-ten-zero"> -->
                                <div class="row" style="margin:30px 0px;">
  
                                    <button mat-button (click)="positionCancel()">Cancel</button>
            
                                    <button mat-button class="submit-btn pull-right">Submit</button>
                                  </div>
                                  <div class="clearfix"></div>
                               
                            </div>
                          </form>
                          </div>
                        </div>


                   
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>
              </div>

            </ng-template>
          </div>

        </div>

        <div id="collapse_workschedule" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="custom-tables">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th>Work Schedule Title</th>
                    <th>Schedule Type</th>
                    <th>Days of Week</th>
                    <th>Hours Per Day</th>
                    <th>Assigned Employees</th>
                    <th>
                        <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                        <mat-menu #menu1="matMenu">
                          <button *ngIf="!checkPostionIds.length >=1" mat-menu-item (click)="openModalWithClass1(template1)"> Add  </button>
                          <button *ngIf="(!checkPostionIds.length <=0) && (checkPostionIds.length ==1)" mat-menu-item (click)="editWorkPosition(template1)"> 
                             Edit 
                          </button>
                          <button *ngIf="(!checkPostionIds.length <=0) && (checkPostionIds.length >=1)" mat-menu-item (click)="deleteWorkPosition()"> Delete </button>
        
                        </mat-menu>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let position of allPositions">
                    <td [ngClass]="{'zenwork-checked-border': position.isChecked}">
                        <mat-checkbox class="checkbox-success" [(ngModel)]="position.isChecked" (change)="selectWorkPosition($event, position._id)">
                     
                          </mat-checkbox>
                    </td>
                    <td>{{position.scheduleTitle}}</td>
                    <td>{{position.type}}</td>
                    <td>
                      {{position.daysOfWeek}}
                    </td>
                    <td>
                      {{position.totalHrsPerDay}}
                    </td>
                    <td>
                      
                      <span class="excel-sheet-icon" *ngIf="position.employeeIds.length">
                        {{position.employeeIds.length}} 
                        <!-- <img alt="img" height="23" src="../../../../assets/images/leave-management/excel.png" width="25"> -->
                      </span>
                    </td>
                  
                    <td>

                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field-accordion">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_Departmentworkschedule">
              <div class="resumes-field-heading">
                <p>Department Work Schedule</p>
              </div>
            </a>
          </h4>
          <div class="main-punches-filters">
      
            <ng-template #template>
              <div class="modal-header modal-margintop">
                <h4 class="modal-title pull-left">Add / Edit Department Work Schedule - Details</h4>
                <div class="clearfix"></div>
              </div>
              <div class="modal-body">
                <!-- sidenavbar starts -->
                
                    <!-- tabs -->
                    <div class="tabbable tabs-left sidenav-tabs-tabs">
                      
                      <ul class="nav nav-tabs col-md-3">
                        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'defineTeam' }">
                          <a href="#defineTeam" data-toggle="tab" #define_dept (click)="chooseFieldss('defineTeam')">Define Department
                            Work Schedule

                            <span [ngClass]="{'caret': selectedNav == 'defineTeam' }"></span>
                          </a>
                        </li>
                        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'selectEmployees' }">
                          <a href="#selectEmployees" data-toggle="tab" #select_employees (click)="chooseFieldss('selectEmployees')">Select Employees
                            
                            <span [ngClass]="{'caret': selectedNav == 'selectEmployees' }"></span>
                          </a>
                        </li>
                        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'scheduleBuilder' }">
                          <a href="#scheduleBuilder" data-toggle="tab" #schedule_builder (click)="chooseFieldss('scheduleBuilder')">Schedule Builder
                            
                            <span [ngClass]="{'caret': selectedNav == 'scheduleBuilder' }"></span>
                          </a>
                        </li>
                        <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'recap2' }">
                          <a href="#recap2" data-toggle="tab" #recap_all (click)="chooseFieldss('recap2')">Recap
                            <span [ngClass]="{'caret': selectedNav == 'recap2' }"></span>
                          </a>
                        </li>
                      </ul>

                      <div class="tab-content sidenav-right col-md-9">
                        <div class="tab-pane fade in active" id="defineTeam" [ngClass]="{'active':selectedNav === 'defineTeam','in':selectedNav==='defineTeam'}">

                          <div class="second-popup-body">


                            <span class="work-schedule-title">
                              <ul class="list-unstyled hire-date-list">
                                <li class="list-items form-group work-title">
                                  <label>Department Work Schedule Name</label><br>
                                  <input type="text" name="nameoftemplate" class="template mar-top-10" [(ngModel)]="departmentSchedule.departmentScheduleName">
                                </li>
                              </ul>
                            </span>
                          
                            <div class="open-close-time">
                              <ul class="list-unstyled">
                                <li class="list-items">
                                  <label>Open Time</label>
                                  <input class="emp-open-time mar-top-10" [ngxTimepicker]="v"  [(ngModel)]="departmentSchedule.openTime" (ngModelChange)="editTime($event)">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #v class="time-picker-color"></ngx-material-timepicker>
                                 
                                </li>
                                <li class="list-items">
                                  <label>Close Time</label>
                                  <input class="emp-open-time mar-top-10" [ngxTimepicker]="vi"  [(ngModel)]="departmentSchedule.closeTime" (ngModelChange)="editTime($event)">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #vi class="time-picker-color"></ngx-material-timepicker>
                            
                                </li>
                              </ul>
                            </div>

                            <div class="form-group schdule-type">
                              <label>
                                Interval Definition
                              </label>
                              <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="departmentSchedule.intervalSpan" (ngModelChange)="changeInterval($event)">
                                <mat-option [value]="30">
                                  30 Min
                                </mat-option>
                                <mat-option [value]="60">
                                  60 Min
                                </mat-option>
                                <mat-option [value]="90">
                                  90 Min
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="standard-schedule-table">
                              <ul class="list-unstyled">
                                <li class="list-items form-group schdule-type">
                                  <label>
                                    Resource Type
                                  </label>
                                  <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="departmentSchedule.resourceType" (ngModelChange)="typeOfResource($event)">
                                    <mat-option value="Dynamic">
                                      Dynamic
                                    </mat-option>
                                    <mat-option value="Standard">
                                        Standard
                                    </mat-option>
                                  </mat-select>
                                </li>
                                <li class="define-resources list-items" *ngIf="dynamicResourceHide">
                                  <button class="btn btn-define" (click)="openDynamicResourceModel()">Define Dynamic Resources</button>
                                </li>
                              </ul>
                            </div>
                            <div class="form-group schdule-type" *ngIf="standardResourceHide">
                              <label>
                                Standard Number of Resources Needed Per Interval
                              </label>
                              <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="departmentSchedule.standardNoOfResourcesPerInterval" (ngModelChange)="standardResourceInterval($event)">
                                <mat-option [value]="11">
                                  11
                                </mat-option>
                                <mat-option [value]="10">
                                  10
                                </mat-option>
                              </mat-select>
                            </div>
                            <div class="select-week-days row">

                              <div class="col-xs-5">
                                  <h5>Select Days of the Week Applicable</h5>
                                  <ul class="list-unstyled selected-days" *ngFor = "let day of days2">
                                    <li class="list-items">
                                      <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="day.isChecked" (ngModelChange)="DepartmentSelectDay($event, day.name, day.isChecked)">
                                        {{day.name}}
                                     </mat-checkbox>
                                    </li>
                       
                                  </ul>
                             
                              </div>
                              <div class="education-dates col-xs-7">
                                <h4 style="font-size:16px;">Apply Department Work Schedule Date Range</h4>
                                  <ul class="list-unstyled education-date">
                                    <li class="education-date-list1 padding10-listitems">
                                      <label>Start Date</label><br>
                                      <div class="date1">
                                       
                                          <input matInput [matDatepicker]="picker3" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="departmentSchedule.startDate"
                                          [max]="departmentSchedule.endDate">
                                          <mat-datepicker #picker3></mat-datepicker>
                                          <button mat-raised-button (click)="picker3.open()">
                                            <span>
                                              <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                          </button>
                                        
                                        </div>
                                    </li>
                                    <li class="education-date-list1 padding10-listitems">
                                      <label>End Date</label><br>
                                      <div class="date1">
                                       
                                          <input matInput [matDatepicker]="picker4" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="departmentSchedule.endDate"
                                          [min]="departmentSchedule.startDate">
                                          <mat-datepicker #picker4></mat-datepicker>
                                          <button mat-raised-button (click)="picker4.open()">
                                            <span>
                                              <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                          </button>
                                        
                                        </div>
                                    </li>
                                  </ul>
                                </div>
                              
                            </div>
                            <hr class="zenwork-margin-ten-zero">
                            <div class="row" style="margin:30px 0px;">
  
                                <button mat-button (click)="decline()">Cancel</button>
        
                                <button mat-button class="submit-btn pull-right" (click)="clickSelectEmployees()">Proceed</button>
                              </div>
                              <div class="clearfix"></div>

                          </div>
                        </div>
  
                        <div class="tab-pane" id="selectEmployees" [ngClass]="{'active':selectedNav === 'selectEmployees','in':selectedNav==='selectEmployees'}">
                          <div class="select-employee-tab">
                          
                            <div class="Eligiblity-criteria-tab">
                              <div class="field-accordion">
                                <div class="panel-group" id="accordion">
                                  <div class="panel panel-default eligibility-panel">
                                    <div class="panel-heading  eligibility-panel-heading">
                                      <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                          href="#eligibility-criteria">
                                          <div class="resumes-field-heading">
                                            <p>Eligibility Criteria</p>
                                          </div>
                                        </a>
                                      </h4>
                                      <!-- <div class="main-punches-filters eligibility-criteria-select-all">
                                        <ul class="list-unstyled submit-buttons search-category">
                                          <li class="list-items">
                                            <span class="checkbox checkbox-success checkbox_allemployees">
                                              <input id="checkbox_allemployees" type="checkbox" class="team-checkbox">
                                              <label for="checkbox_allemployees">Select All Emplyees</label>
                                            </span>
                                          </li>
                                        </ul>
                                      </div> -->
                                    </div>
                                    <div id="eligibility-criteria" class="panel-collapse collapse in">
                                      <div class="panel-body eligibility-criteria-panel-body employees-data">
                                        <div class="col-sm-12 margin-btm">
                                            <div class="col-sm-6 structure-tbl-body height-300">

                                                <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">
                      
                                                  <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                                                    <div>
                      
                                                      <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                                        [value]="fields.name"
                                                        (ngModelChange)="eligibilityArray = [];getStructureSubFields(fields.name,fields.isChecked )">
                                                        {{fields.name}}
                                                      </mat-checkbox>
                                                    </div>
                      
                                                  </li>
                      
                                                </ul>
                                              </div>
                                              <div class="col-sm-1 text-center arrow-position">
                                                  <i class="material-icons arrow-align-one">
                                                    keyboard_arrow_right
                                                  </i>
                                                  <i class="material-icons arrow-align-two">
                                                    keyboard_arrow_right
                                                  </i>
                                                </div>
                                                <div class="col-sm-6 structure-tbl-body height-300">

                                                    <div *ngIf="StructureValues">
                                                      <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">
                          
                                                        <li class="list-items-values">
                                                          <mat-checkbox class="checkbox-success" 
                                                            (change)="subFieldsStructure($event,values.name)" [(ngModel)]="values.isChecked" [value]="values.name">
                                                            {{values.name}}
                                                          </mat-checkbox>
                          
                                                        </li>
                          
                                                      </ul>
                          
                                                    </div>
                                                    <div *ngIf="customValues">
                                                      <ul class="list-unstyled structure-list" *ngFor="let values of customValues">
                          
                                                        <li class="list-items-values">
                                                          <mat-checkbox class="checkbox-success"
                                                            (change)="subFieldsStructure($event,values.name)" [(ngModel)]="values.isChecked" [value]="values.name">
                                                            {{values.name}}
                                                          </mat-checkbox>
                                                        </li>
                          
                                                      </ul>
                          
                                                    </div>
                                                  </div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="zenwork-margin-ten-zero">
                            <div class="specific-employee">
                              <div class="field-accordion">
                                <div class="panel-group" id="accordion">
                                  <div class="panel panel-default eligibility-panel">
                                    <div class="panel-heading  eligibility-panel-heading">
                                      <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                          href="#specific-employee">
                                          <div class="resumes-field-heading">
                                            <p> Specific Employee</p>
                                          </div>
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="specific-employee" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        <!-- <div class="include-specific-person col-md-6">
                                            <h4>Include a Specific Person</h4>
                                            <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems"
                                              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                              (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                        </div>
                                        <div class="include-specific-person col-md-6">
                                            <h4>Exclude a Specific Person</h4>
                                          <ng-multiselect-dropdown [placeholder]="'custom placeholder'"
                                            [data]="dropdownList" [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                          </ng-multiselect-dropdown>
                                        </div> -->
                                        <div>
                                            <h5 style="float: left;">Include a Specific Person</h5>
                                            <h5 style="float: right;">Exclude a Specific Person</h5>
                                            <div class="clearfix"></div>
                                            <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format" filter=true
                                            height='300px' (click)="onSelectUsers(selectedUsers)">
                                          </dual-list>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <h4 style="margin-top:30px; font-size:16px;">Preview Employee List Report
                                <button class="import-date-btn pull-right text-report">Run Report</button>

                            </h4>
                            <div class="custom-tables group-list">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>
                                        Employee Name
                                      </th>
                                      <th>Employee ID</th>
                                      <th>Manager Name</th>
                                      <th>Department</th>
                                      <th>Effective Date</th>
                                      <th>Department Work Schedule Name</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let list of previewList">
                                          <td>{{list.personal.name.firstName}}</td>
                                          <td>{{list.job.employeeId}}</td>
                                          <td>
                                            <span *ngIf="list.job.ReportsTo">
                                                {{list.job.ReportsTo.personal.name.firstName}}
                                            </span>
                                            
                                          </td>
                                          <td>{{list.job.department}}</td>
                                          <td></td>
                                          <td></td>
                                        </tr>

                                </table>
                                
                              </div>
                              <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" >
                              </mat-paginator>
                              <hr class="zenwork-margin-ten-zero">
                              <div class="row" style="margin:30px 0px;">
                                 <button mat-button class="back-btn" (click)="goToDept()">Back</button>
                                  
                                  <button mat-button (click)="decline()">Cancel</button>
          
                                  <button mat-button class="submit-btn pull-right" (click)="clickSchedulerBuilder()">Proceed</button>
                                </div>
                                <div class="clearfix"></div>
                            
                          </div>
                        </div>
                        <div class="tab-pane" id="scheduleBuilder" [ngClass]="{'active':selectedNav === 'scheduleBuilder','in':selectedNav==='scheduleBuilder'}">
                          <div class="row">
                              <ul class="list-unstyled col-md-12">
                                  <li class="list-items col-md-3 schedule-creation">
                                      <label>Schedule Creation Date</label><br>
                                  <input type="text" name="nameoftemplate" class="template mar-top-10 dept-date" [(ngModel)]="departmentCreationDate" [disabled]="true">

                                      <!-- <div class="date1" style="margin-bottom: 12px;">
                                         
                                            <input matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control" >
                                            <mat-datepicker #picker></mat-datepicker>
                                            <button mat-raised-button (click)="picker.open()">
                                              <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                              </span>
                                            </button>
                                          
                                          </div> -->
                                  </li>
                                  <li class="list-items col-md-3 schedule-creation">
                                    <label>
                                      Resource Type
                                    </label><br>
                                    <mat-select class="form-control zenwork-input mar-top-5" [(ngModel)]="departmentSchedule.resourceType">
                                      <mat-option value="Dynamic">
                                          Dynamic
                                      </mat-option>
                                      <mat-option value="Standard">
                                          Standard
                                      </mat-option>
                                    </mat-select>
                                  </li>
                                  </ul>
                          </div>
                            
                              <!-- <div class="form-group schdule-type">
                                 
                                </div> -->
                              <div class="open-close-time row">
                                  <ul class="list-unstyled col-md-12">
                                    <li class="list-items">
                                        <label>Schedule Start Date</label><br>
                                        <div class="date1">
                                          
                                              <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="departmentSchedule.startDate"
                                              [max]="departmentSchedule.endDate">
                                              <mat-datepicker #picker1></mat-datepicker>
                                              <button mat-raised-button (click)="picker1.open()">
                                                <span>
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                              </button>
                                              <!-- <div class="clearfix"></div> -->
                                            </div>
                                    </li>
                                    <li class="list-items">
                                        <label>Schedule End Date</label><br>
                                        <div class="date1">
                                           
                                              <input matInput [matDatepicker]="picker2" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="departmentSchedule.endDate"
                                              [min]="departmentSchedule.startDate">
                                              <mat-datepicker #picker2></mat-datepicker>
                                              <button mat-raised-button (click)="picker2.open()">
                                                <span>
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                              </button>
                                              <!-- <div class="clearfix"></div> -->
                                            </div>
                                    </li>
                                  </ul>
                                </div>

                                <div class="pull-right col-md-2 days-right">
                                   
                                    <mat-select class="form-control zenwork-input mar-top-10" placeholder="Day" [(ngModel)]="departmentDay">
                                        
                                        <mat-option *ngFor="let day of departmentSelectDays; let i=index;" [value]="day" (click)="dayWiseEmployeeStatus(day)">
                                            {{day}}
                                          </mat-option>
                                        <!-- <mat-option *ngFor="let day of uniqueDays; let i=index;" [value]="day" (click)="dayWiseEmployeeStatus(day)">
                                          {{day}}
                                        </mat-option> -->
                                 
                                      </mat-select>
                                      
                                </div>
                                <div class="clearfix"></div>
                                
                                <div class="recap-table">
                                    <table class="table" style="margin-bottom:0px;">
                                      <thead>
                                        <tr>
                                  
                                          <th>EE Name</th>
                                          <th>Schedule Name</th>
                                          <th>Schedule Type</th>
                                          <th>Start Time</th>
                                          <th>Lunch</th>
                                          <th>End Time</th>
  
                                        </tr>
                                      </thead>
                                      <tbody>
                    
                                        <tr *ngFor="let employee of employeeList">
                                          <td>{{employee.personal.name.preferredName}}</td>
                                          <td>
                                           <span *ngIf="employee.position_work_schedule_id">{{employee.position_work_schedule_id.scheduleTitle}}</span> 
                                          </td>
                                          <td>
                                           <span *ngIf="employee.position_work_schedule_id">{{employee.position_work_schedule_id.type}}</span> 

                                          </td>
                                          <td>
                                              <span *ngIf="employee.position_work_schedule_id.time">{{employee.position_work_schedule_id.time.shiftStartTime}}</span>

                                          </td>
                                          <td>
                                              <span *ngIf="employee.position_work_schedule_id.time">{{employee.position_work_schedule_id.time.lunchStartTime}}</span>

                                          </td>
                                          <td>
                                              <span *ngIf="employee.position_work_schedule_id.time">{{employee.position_work_schedule_id.time.shiftEndTime}}</span>

                                          </td>
                                          
                    
                                        </tr>
                            
        
                                    </table>
                                    <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                                      </mat-paginator>
                                    </div>
                            <h4>Schedule Builder</h4>

                            <div class="intervals">
                                <div class="recap-table1">
         
                                    <table class="table" style="margin-bottom:0px;">
                                     <thead>
                                       <tr>
   
                                         <th># of Resource Needed</th>
                                         <th *ngFor="let interval of timeIntervals;">{{interval.resourcesNeeded}}</th>
                                         
   
                                       </tr>
                                     </thead>
                                     <tbody>
                   
                                       <tr>
                                         <td>EE Name</td>
                                        <td *ngFor="let interval of timeIntervals;">{{interval.scheduledTime}}</td>
                                         
                                       </tr>
                                       
                                           <tr *ngFor="let employee of employeeList; let i=index;" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event,i)">
                                               
                                               <td>
                                                 {{employee.personal.name.preferredName}}</td>
                                               <td class="horizontal-box" *ngFor="let status of employee.status" cdkDrag style="cursor: pointer;">
                                                 <span class="example-box" [ngClass]="{'working': status == 'Working', 'lunch': status == 'Lunch', 'work-lunch': status == 'Working/Lunch', 'not-working': status == 'Not Working'}"> {{status}}</span>
                                                
                                               </td>
                         
                                             </tr>
                                             
                                               <tr>
                                 
                                                   <td># of Resource Available</td>
                                                   <td *ngFor="let interval of timeIntervals; let j=index;">
                                                     {{interval.resourceAvailable}}
                                                   </td>
   
             
                                                 </tr>
                                        
       
                                   </table> 
                                 
                               </div>
                               <div style="margin-top:10px;">
                                  <button mat-button class="submit-btn pull-right" (click)="dayWiseSchedules(employeeList)">Save</button>
    
                              </div>
                            </div>
                         
                               
                          <hr style="margin-top:60px;">
                          <div class="row" style="margin:30px 0px;">
                             <button mat-button class="back-btn" (click)="clickSelectEmployees()">Back</button>
                              
                              <button mat-button (click)="decline()">Cancel</button>
      
                              <button *ngIf="departmentEmployeesScheduleInfo.length" mat-button class="submit-btn pull-right" (click)="recapTab()">Proceed</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-pane" id="recap2" [ngClass]="{'active':selectedNav === 'recap2','in':selectedNav==='recap2'}">
                          <hr class="zenwork-margin-ten-zero">
                          <div class="row" style="margin:30px 0px;">
                             <button mat-button class="back-btn" (click)="clickSchedulerBuilder()">Back</button>
                              
                              <button mat-button (click)="decline()">Cancel</button>
      
                              <button mat-button class="submit-btn pull-right" (click)="createDepartmentSchedule()">Submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                    <!-- /tabs -->                 
               </div>

            </ng-template>
          </div>
        </div>
        <div id="collapse_Departmentworkschedule" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="custom-tables">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                   
                    </th>
                    <th>Work Schedule Title</th>
                    <th>Resource Type</th>
                    <th>Days of Week</th>
                    <th>Hours Per Day</th>
                    <th>Assigned Employees</th>
                   
                    <th>
                        <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                        <mat-menu #menu2="matMenu">
                
                          <button *ngIf="!checkDeptScheduleIds.length >=1" mat-menu-item (click)="openModalWithClass(template)"> Add </button>
                          <button *ngIf="(!checkDeptScheduleIds.length <=0) && (checkDeptScheduleIds.length ==1)" mat-menu-item (click)="editDepartmentSchedule(template)"> Edit </button>
                          <button *ngIf="(!checkDeptScheduleIds.length <=0) && (checkDeptScheduleIds.length >=1)" mat-menu-item (click)="deleteDepartmentSchedule()"> Delete </button>
        
                        </mat-menu>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let department of allDepartments">
                    <td [ngClass]="{'zenwork-checked-border': department.isChecked}">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="department.isChecked" (change)="checkedDeptSchedules($event, department._id)">
                   
                        </mat-checkbox>
                  </td>
                    <td>{{department.departmentScheduleName}}</td>
                    <td>{{department.resourceType}}</td>
                    <td> {{department.daysOfWeekApplicable}}</td>
                   
                    <td>
                      {{department.totalHrsPerDay}}
                    </td>
                    <td>
                      {{department.assignedEmployeesCount}}
                      <!-- <span class="excel-sheet-icon">
                        <img alt="img" height="23" src="../../../../assets/images/leave-management/excel.png" width="25">
                      </span> -->
                    </td>
                  
                    <td>

                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>