<div class="work-schedule-top col-md-12">

  <ul class="col-lg-7 col-md-8">
    <li class="col-md-4">
      <label>Work Schedule Name</label>
      <!-- <input type="text" class="form-control" placeholder="Schedule Name" [(ngModel)]="editWorkSchedule.scheduletitle"> -->
      <mat-select class="form-control" placeholder="Schedule Name" [(ngModel)]="editWorkSchedule.scheduletitle">
        <mat-option [value]='names.scheduletitle' *ngFor="let names of workScheduleNames">{{names.scheduletitle}}</mat-option>
      </mat-select>
    </li>

    <li class="col-md-4">
      <label>Schedule Type</label>
      <!-- <input type="text" class="form-control" placeholder="Schedule Type" [(ngModel)]="editWorkSchedule.scheduletype"> -->
      <mat-select class="form-control" placeholder="Schedule Type" [(ngModel)]="scheduletype" (selectionChange) ="scheduleTypeChange($event)">
        <mat-option value='Standard'>Standard</mat-option>
        <mat-option value='Employee Specific'>Employee Specific</mat-option>
      </mat-select>
    </li>

    <li class="col-md-4">
      <label>Schedule Effective Date</label>
      <div class="date">
        <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="editWorkSchedule.schedulestartdate" [disabled]='true'>
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button (click)="picker1.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>

  <div class="schedule-right pull-right">
    <ul>
      <li><a data-toggle="modal" data-target="#myModal" (click)="getAllHistoryData()">Work Schedule History</a></li>
      <li><a data-toggle="modal" data-target="#myModal1">Edit Work Schedule</a></li>
      <li><a (click)="approveTimesheet()">Approve Time Sheet</a></li>
    </ul>
      
  </div>


  <div class="clearfix"></div>
</div>



<div class="work-summery col-md-12">
     <h2>Work Schedule - Summary / Details</h2>

  <div class="work-details">

    <div class="work-details-top">
        <ul class="col-md-6">
          <li class="col-md-4"><label> Select Date Range:</label></li>
          <li class="col-md-5">
              <mat-select class="form-control" placeholder="Month">
                <mat-option value=''>Month</mat-option>
                <mat-option value=''>Month</mat-option>
              </mat-select>
          </li>
        </ul>

        <div class="work-years pull-right">

        </div>
        <div class="clearfix"></div>
    </div>


    <div class="work-details-mdl">

      <div class="work-heading">

      <div class="pull-left">
        <h2>Monday - Friday</h2>
        <h4>Schedule Work Days</h4>
      </div>

      <div class="pull-right">
          <h2>10:00 AM - 07:00 PM</h2>
          <h4>Schedule Start Time / Finish Time</h4>
      </div>
      <div class="clearfix"></div>

    </div>

      <div class="work-days">

          <ul>
            <li class="col-md-3">
            
                <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
  
                <div class="vacation">
                  <span><b>07:12</b></span>
                  <small>Average Hours Per Day</small>
                </div>
  
            </li>
  
            <li class="col-md-3">

                <figure><img src="../../../../assets/images/dashboard/breavment.png" alt="img"></figure>
  
                <div class="vacation breave">
                  <span><b>95%</b></span>
                  <small>% On Time Arrival</small>
                </div>
            </li>
  
            <li class="col-md-3">

                <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>
  
                <div class="vacation sick">
                  <span><b>21</b></span>
                  <small>Early Arrival Count</small>
                </div>  
            </li>
  
            <li class="col-md-3">
            
                <figure><img src="../../../../assets/images/dashboard/duty.png" alt="img"></figure>
  
                <div class="vacation duty">
                  <span><b>05</b></span>
                  <small>Late Arrival Count</small>
                </div>
            </li>
  
          </ul>
  
        </div>

      </div>

  <div class="working-inform">

      <div class="work-days">

          <ul>
            <li>

              <h5>Hours Worked</h5>
                <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
  
                <div class="vacation">
                    <span><b>0.0</b>Hours Worked</span>
                </div>
  
            </li>


            <li>

                <h5>vacation</h5>
                  <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
    
                  <div class="vacation">
                    <span><b>0.0</b>Hours Used</span>
                  </div>
    
              </li>
  
  
            <li>
              
                <h5>Sick</h5>
                <figure><img src="../../../../assets/images/dashboard/breavment.png" alt="img"></figure>
  
                <div class="vacation breave">
                    <span><b>0.0</b>Hours Used</span>
                </div>  
            </li>
  
            <li>
            
                <h5>Breavement</h5>

                <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>
  
                <div class="vacation sick">
                    <span><b>0.0</b>Hours Used</span>
                </div>
            </li>


            <li>
            
                <h5>Over Time</h5>

                <figure><img src="../../../../assets/images/dashboard/duty.png" alt="img"></figure>
  
                <div class="vacation duty">
                    <span><b>0.0</b>Hours Used</span>
                </div>
            </li>
  
          </ul>
  
        </div>
  </div>



  <div class="work-details-btm">

    <table class="table">
      <thead>
        <tr>
          <th>Day</th>
          <th>Date</th>
          <th>Arrival</th>
          <th>Hours Worked</th>
          <th>Total Hours</th>
          <th  style="width:33%; text-align: center;">Visual Attendance</th>
          <th>Log</th>
          </tr>
      </thead>

      <tbody> 
        <tr *ngFor ="let data of timeInsideData">
          <td>{{data.key | date : 'EEEE'}}</td>
          <td>{{data.key | date : 'MM/dd/yy'}}</td>
          <td>
            <span *ngIf="data.value && data.value.lateByTime">{{data.value.lateByTime.hours}}:{{data.value.lateByTime.minutes}} Late</span>
          </td>
          <td>
              <span *ngIf="data.value && data.value.hoursworked">{{data.value.hoursworked.hours}}:{{data.value.hoursworked.minutes}} </span>
          </td>
          <td>
              <span *ngIf="data.value && data.value.grosshours">{{data.value.grosshours.hours}}:{{data.value.grosshours.minutes}} </span>

          </td>
          <td>
            <div class="attendance">
              <span *ngFor="let time of data.schedules" class="itsAbsolute" [ngStyle]="{'left':time.marginLeft+'%', 'width':time.width+'%'}">

                <div class="tooltip1">
                  <span class="tooltiptext">{{getToolTimeData(time)}}</span>
                </div>

              </span>

            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>
            <small class="time"></small>

            </div>
        

          </td>
          <td>

            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>

          </td>

          <!-- <td>

            <p class="check info"><i class="fa fa-info" aria-hidden="true"></i></p>
 

          <td>

            <p class="check wrong"><i class="fa fa-times" aria-hidden="true"></i></p>

          </td> -->

        </tr>
        
      </tbody>
    </table>

  

  </div>

  </div>


</div>



<!-- Work Schedule History -->
<div class="work-history">

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
  
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Work Schedule History</h4>
          </div>
          <div class="modal-body">
            
            <div class="history-table col-md-11">

                <table class="table">
                    <thead>
                      <tr>
                        <th>Position Schedule Name</th>
                        <th>Effective Date</th>
                        <th>End Date</th>
                       </tr>
                    </thead>
                    <tbody> 

                      <tr *ngFor="let history of workHistory">
                        <td>
                          <span *ngFor="let scheduleName of history.position_schedule_history">{{scheduleName.scheduletitle}}</span>
                        </td>
                        <td>{{history.positionschedule_startdate | date :'MM/dd/yy'}}</td>
                        <td>{{history.positionschedule_enddate | date :'MM/dd/yy'}}</td>
                      </tr>

                    </tbody>
                </table>


                <button class="btn" data-dismiss="modal">Ok</button>

            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>


<!-- Edit Work Schedule -->
  <div class="work-history">

      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
    
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Work Schedule</h4>
            </div>
            <div class="modal-body">
              
             <div class="edit-work col-md-11">

                <ul>
                  <li class="col-md-3">
                    <label>Work Schedule Title</label>

                    <mat-select class="form-control" placeholder="Title Name" [(ngModel)]="editWorkSchedule.scheduletitle" name="title" #title="ngModel" required (ngModelChange)="positionsChange($event)">
                      <mat-option [value]="positions.scheduletitle" *ngFor="let positions of workScheduleNames">{{positions.scheduletitle}}</mat-option>
                    </mat-select>

                    <!-- <input type="text" class="form-control" placeholder="Title Name"> -->
                    <p *ngIf="!editWorkSchedule.scheduletitle && title.touched || ( !editWorkSchedule.scheduletitle && isValid)" class="error">Enter Schedule title</p>
                  </li>

                  <li class="col-md-3">
                    <label>Work Schedule Start Date</label>
                    <div class="date">
                      <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="editWorkSchedule.schedulestartdate"
                      name="startdate" #startDate="ngModel" required>
                      <mat-datepicker #picker2></mat-datepicker>
                      <button mat-raised-button (click)="picker2.open()">
                        <span>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </button>
                      <div class="clearfix"></div>
                    </div>
                    <p *ngIf="!editWorkSchedule.schedulestartdate && startDate.touched || (!editWorkSchedule.schedulestartdate && isValid)" class="error">Enter the start date</p>
                  </li>

                </ul>
                <div class="clearfix"></div>


                <ul>

                    <li *ngFor ="let day of days">

                        <mat-checkbox class="zenwork-customized-checkbox" name="day-list" [(ngModel)]="day.isChecked" (ngModelChange)="selectDay($event, day.name, day.isChecked)">
                             {{day.name}}
                          </mat-checkbox>
                      </li>
                 
                </ul>


                <ul>

                  <li class="col-md-2">
                    <label>Total Hours per Day</label>
                    <input type="text" class="form-control" placeholder="Total Hours Day" [(ngModel)]="editWorkSchedule.total_hrs_day" (ngModelChange)="totalHoursDay($event)"
                    name="day" #day="ngModel" required>
                    <p *ngIf="!editWorkSchedule.total_hrs_day && day.touched || (!editWorkSchedule.total_hrs_day && isValid)" class="error">Enter total hours day</p>
                  </li>

                  <li class="col-md-2">
                    <label>Total Hours per Week</label>
                    <input type="text" class="form-control" placeholder="Total Hours Week" [(ngModel)]="editWorkSchedule.total_hrs_week"
                    name="week" #week="ngModel" required readonly>
                    <p *ngIf="!editWorkSchedule.total_hrs_week && week.touched || (!editWorkSchedule.total_hrs_week && isValid)" class="error">Enter total hours week</p>
                  </li>
                  <div class="clearfix"></div>

                  <li class="col-md-3">
                    <label>Schedule Type</label>
                    <mat-select class="form-control" placeholder="Schedule Type" [(ngModel)]="editWorkSchedule.type" name="type" #type="ngModel" required>
                      <mat-option value='Standard'>Standard</mat-option>
                      <mat-option value='Employee Specific'>Employee Specific</mat-option>
                    </mat-select>

                    <p *ngIf="!editWorkSchedule.type && type.touched || (!editWorkSchedule.type && isValid)" class="error">Enter Schedule type</p>
                  
                  </li>

                  <li class="col-md-1">
                    <div class="circle">
                        <a data-toggle="modal" data-target="#myModal2"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </div>
                  </li>


                </ul>
                <div class="clearfix"></div>

                <ul class="no-bor">
                  
                    <li class="col-md-3">
                      <label>Set Lunch Break Time?</label>
                      <mat-select class="form-control" placeholder="Lunch Break" [(ngModel)]="editWorkSchedule.lunch_break_time"
                      name="time" #time="ngModel" required>
                        <mat-option [value]='true'>Yes</mat-option>
                        <mat-option [value]='false'>No</mat-option>
                      </mat-select>
                      <p *ngIf="!editWorkSchedule.lunch_break_time && time.touched || (!editWorkSchedule.lunch_break_time && isValid)" class="error">Enter lunch break time</p>

                    </li>
  
                  </ul>
                  <div class="clearfix"></div>

                
                  <table class="table">
                      <thead>

                        <tr>
                          <!-- <th>
                            <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                          </th> -->
                          <th></th>
                          <th>Day</th>
                          <th>Start Time</th>
                          <th>Lunch Start Time</th>
                          <th>Lunch End Time</th>
                          <th>End Time</th>
                        
                          <!-- <th>
                            <button mat-icon-button [matMenuTriggerFor]="menu1"
                              aria-label="Example icon-button with a menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu1="matMenu">
                              
                              <button mat-menu-item>
                                  <a>Edit</a>
                                </button>
                              <button mat-menu-item>
                                  <a>Delete</a>
                                </button>
                            </mat-menu>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let day of weekDays; let i=index">

                         <td></td>
                          <td style="padding:30px 0 0;">{{day.day}}</td>
                          
                          <td>

                              <div class="start-time">
                                  <input class="form-control" [ngxTimepicker]="i"  name="starttime"  [(ngModel)]="day.starttime" (ngModelChange)="timeStartDay($event,i)">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #i></ngx-material-timepicker>
                              </div>

                          </td>

                          <td>

                              <div class="start-time">
                                  <input class="form-control" [ngxTimepicker]="ii"  name="lunch_starttime"  [(ngModel)]="day.lunch_starttime">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #ii></ngx-material-timepicker>
                              </div>
                           
                          </td>

                          <td>

                              <div class="start-time">
                                  <input class="form-control" [ngxTimepicker]="iii"  name="lunch_endtime"  [(ngModel)]="day.lunch_endtime">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #iii></ngx-material-timepicker>
                              </div>
              
                          </td>

                          <td>

                              <div class="start-time">
                                  <input class="form-control" [ngxTimepicker]="iv"  name="endtime"  [(ngModel)]="day.end_time" (ngModelChange)="endTimeDays($event,i)">
                                  <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                  <ngx-material-timepicker #iv></ngx-material-timepicker>
                              </div>
              
                          </td>
                         
                          
                        </tr>
  
  
                      </tbody>
                    </table>            
                    
             </div>

             <div class="border-btm col-md-11">

                <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn pull-right save" (click)="updateWorkSchedule()">Submit</button>
                <div class="clearfix"></div>
    
              </div> 
             
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>



    <!-- Schedule Type -->
<div class="work-history">

    <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
  
        <div class="modal-content">
          
          <div class="modal-body">
            
            <div class="circle-popup">

               
                <a data-toggle="modal" data-target="#myModal2"><i class="fa fa-info-circle" aria-hidden="true"></i></a>

                <p>
                  <b>Standard- </b> Every Employee will be assigned the same days of the week and have the same start and finish time.</p>
                

                  <p>
                    <b>Employee Specific- </b> Each Employee can have their own Schedule that allows for different work days, start times and finish times.
                  </p>

                <button class="btn" data-dismiss="modal">Ok</button>

            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>