<div class="standard col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a routerLink="/admin/admin-dashboard/employee-management/off-boarding-landing/off-boarding-landing">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Offboarding/Group 831.png" class="zenwork-inner-icon"
          alt="Company-settings icon">
      </span>
      <small class="sub-title"><b>Standard Offboarding Template</b></small>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="off-boarding">

    <div class="heading">
      <h4>View / Edit Standard Offboarding Template</h4>
    </div>

    <div class="template-name">
      <label>Offboarding Template Name</label><br>

      <input type="text" [(ngModel)]="standardOffboardTemplate.templateName" class="form-control text-field"
        placeholder="Template Name" readonly>
    </div>

    <div class="tasks">

      <div class="tasks-in">
        <h3>Offboarding Tasks</h3>
        <div class="top-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a data-toggle="modal" data-target="#myModal">Edit</a>
            </button>
          </mat-menu>
        </div>
      </div>

      <ul>

        <li *ngFor="let task of getKeys((standardOffboardTemplate['offBoardingTasks']))">
          <h4>{{task}}</h4>
          <!-- <h4>Hr tasks</h4> -->
          <div *ngFor="let data of standardOffboardTemplate['offBoardingTasks'][task]" class="task-names">

            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
              (ngModelChange)="singleTaskChoose(task,data.taskName,data.isChecked)">
              <span>{{data.taskName}}</span></mat-checkbox>
            <small>{{data.assigneeEmail}} -- {{data.Date | date}}</small>
          </div>

        </li>
      </ul>


    </div>
    <div class="termination-border">
      <button class="btn pull-left cancel">Cancel</button>
      <button class="btn pull-right save" (click)="updateStandardTemplate()">Submit</button>
      <div class="clearfix"></div>
    </div>


  </div>


</div>


<!-- Author:Suresh M, Date:09-05-19  -->
<!-- Standard Termination Wizard -->
<div class="offboard-add">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Offboarding Add / Edit Task</h4>
        </div>
        <div class="modal-body">

          <div class="offboard-edit col-md-10">

            <ul>

              <li class="col-md-4 offboarding-width">
                <label>Task Name</label>
                <input type="text" [(ngModel)]="popupData.taskName" class="form-control" placeholder="Task Name">
              </li>

              <li class="col-md-4">
                <label>Task Assignee</label>
                <mat-select class="form-control" [(ngModel)]="popupData.taskAssignee" placeholder="Assignee"
                  (ngModelChange)="empEmail($event)">
                  <mat-option *ngFor="let data of employeeData" [value]='data._id'>{{data.personal.name.preferredName}}
                  </mat-option>

                </mat-select>
              </li>

              <li class="col-md-4">
                <label>Assignee Email Address</label>
                <input type="text" [(ngModel)]="popupData.assigneeEmail" class="form-control"
                  placeholder="Email Address" readonly>
              </li>

              <li class="offboarding-width col-md-8">
                <label>Task Description</label>
                <textarea [(ngModel)]="popupData.taskDesription" class="form-control" rows="5"
                  placeholder="Description"></textarea>
              </li>

              <li class="col-md-4">
                <label>Expected Task Completion Time</label>
                <mat-select class="form-control" [(ngModel)]="popupData.timeToComplete.time" placeholder="time period">
                  <mat-option *ngFor="let data of taskCOmpletionTime" [value]="data">{{data}}</mat-option>

                </mat-select>
              </li>

              <li class="col-md-4">
                <label></label>
                <mat-select class="form-control" [(ngModel)]="popupData.timeToComplete.unit" placeholder="time period">
                  <mat-option value='Day'>Day</mat-option>
                  <mat-option value='Week'>Week</mat-option>
                  <mat-option value='Month'>Month</mat-option>
                </mat-select>
              </li>

            </ul>
            <div class="clearfix"></div>

            <ul>
              <li class="col-md-4">
                <label>Task Category</label>
                <input type="text" [(ngModel)]="popupData.category" class="form-control category"
                  placeholder="Category" readonly>
              </li>
            </ul>
            <div class="clearfix"></div>

            <div class="termination-border">
              <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
              <button class="btn pull-right save" (click)="editStandardOffboarding()">Submit</button>
              <div class="clearfix"></div>
            </div>

          </div>


        </div>
        <div class="clearfix"></div>

      </div>

    </div>
  </div>
</div>