<div class="work-schedule-top col-md-12">
    <h4>Employee Time Sheet</h4>
    <div class="row time-sheet-bg">
      <div class="col-xs-6">
        <h4 class="col-xs-4">Employee Name:</h4> 
          <span class="col-xs-5 search-bg">
              <div >
                  <input type="text" class="form-control search-box" placeholder="Search Employee Name">
                  <span>
                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                  </span>
                </div>
          </span>
        
      </div>
      <div class="col-xs-6">
        <ul style="font-size:16px;">
          <li>
            <p>Work Schedule Name: <span class="green"> &nbsp; &nbsp;<u>Customer Service 1</u></span></p>
          </li>
          <li>
              <p>Work Schedule Type: <span class="green">&nbsp; &nbsp;<u>Standard</u></span></p>
            </li>
        </ul>
      </div>
    </div>
   
  </div>
  
  
  
  <div class="work-summery col-md-12">
       <h4>Time Sheet - Summary / Details</h4>
  
    <div class="work-details">
  
      <div class="work-details-top">
          <ul class="col-md-6">
            <li class="col-md-4"><label> Select Date Range:</label></li>
            <li class="col-md-5">
                <mat-select class="form-control" placeholder="Month">
                  <mat-option value=''>Month</mat-option>
                  <mat-option value=''>Month</mat-option>
                </mat-select>
            </li>
          </ul>
  
          <div class="work-years pull-right">
  
          </div>
          <div class="clearfix"></div>
      </div>
  
  
      <div class="work-details-mdl">
  
        <div class="work-heading">
  
        <div class="pull-left">
          <h2>Monday - Friday</h2>
          <h4>Schedule Work Days</h4>
        </div>
  
        <div class="pull-right">
            <h2>10:00 AM - 07:00 PM</h2>
            <h4>Schedule Start Time / Finish Time</h4>
        </div>
        <div class="clearfix"></div>
  
      </div>
  
        <div class="work-days">
  
            <ul>
              <li class="col-md-3">
              
                  <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
    
                  <div class="vacation">
                    <span><b>{{arrivalDetails.averageHours.hours}}:{{arrivalDetails.averageHours.minutes}}</b></span>
                    <small>Average Hours Per Day</small>
                  </div>
    
              </li>
    
              <li class="col-md-3">
  
                  <figure><img src="../../../../assets/images/dashboard/breavment.png" alt="img"></figure>
    
                  <div class="vacation breave">
                    <span><b>{{arrivalDetails.ontimeArrival}}%</b></span>
                    <small>% On Time Arrival</small>
                  </div>
              </li>
    
              <li class="col-md-3">
  
                  <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>
    
                  <div class="vacation sick">
                    <span><b>{{arrivalDetails.earlyArrivalCount}}</b></span>
                    <small>Early Arrival Count</small>
                  </div>  
              </li>
    
              <li class="col-md-3">
              
                  <figure><img src="../../../../assets/images/dashboard/duty.png" alt="img"></figure>
    
                  <div class="vacation duty">
                    <span><b>{{arrivalDetails.lateArrivalCount}}</b></span>
                    <small>Late Arrival Count</small>
                  </div>
              </li>
    
            </ul>
    
          </div>
  
        </div>
  
    <div class="working-inform">
  
        <div class="work-days">
  
            <ul>
              <li>
  
                <h5>Hours Worked</h5>
                  <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
    
                  <div class="vacation">
                      <span><b>{{arrivalDetails.totalHoursWorked.hours}}:{{arrivalDetails.totalHoursWorked.minutes}}</b>Hours Worked</span>
                  </div>
    
              </li>
  
  
              <li>
  
                  <h5>vacation</h5>
                    <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>
      
                    <div class="vacation">
                      <span><b>0.0</b>Hours Used</span>
                    </div>
      
                </li>
    
    
              <li>
                
                  <h5>Sick</h5>
                  <figure><img src="../../../../assets/images/dashboard/breavment.png" alt="img"></figure>
    
                  <div class="vacation breave">
                      <span><b>0.0</b>Hours Used</span>
                  </div>  
              </li>
    
              <li>
              
                  <h5>Breavement</h5>
  
                  <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>
    
                  <div class="vacation sick">
                      <span><b>0.0</b>Hours Used</span>
                  </div>
              </li>
  
  
              <li>
              
                  <h5>Over Time</h5>
  
                  <figure><img src="../../../../assets/images/dashboard/duty.png" alt="img"></figure>
    
                  <div class="vacation duty">
                      <span><b>0.0</b>Hours Used</span>
                  </div>
              </li>
    
            </ul>
    
          </div>
    </div>
  
      <div class="work-details-btm">
  
        <table class="table">
          <thead>
            <tr>
              <th>Day</th>
              <th>Date</th>
              <th>Arrival</th>
              <th>Hours Worked</th>
              <th>Total Hours</th>
              <th>Visual Attendance</th>
              <th>Log</th>
             </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let data of timeInsideData">
              <td>{{data.key | date:'EEEE'}}</td>
              <td>{{data.key | date:'MM/dd/yyyy'}}</td>
              <td>
                <span *ngIf="data.value.lateByTime">{{data.value.lateByTime.hours}}:{{data.value.lateByTime.minutes}} Late</span>
              </td>
              <td>
                  <span *ngIf="data.value.hoursworked">{{data.value.hoursworked.hours}}:{{data.value.hoursworked.minutes}} </span>

              </td>
              <td>
                  <span *ngIf="data.value.grosshours">{{data.value.grosshours.hours}}:{{data.value.grosshours.minutes}} </span>

              </td>
              <td>
                  <div class="attendance">
                      <span *ngFor="let time of data.schedules" class="itsAbsolute" [ngStyle]="{'left':time.marginLeft+'%', 'width':time.width+'%'}">
        
                        <div class="tooltip1">
                          <span class="tooltiptext">{{getToolTimeData(time)}}</span>
                        </div>
        
                      </span>
        
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
                    <small class="time"></small>
        
                    </div>
              </td>
              <td>

            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
              </td>
            </tr>
    
  
          </tbody>
      </table>
  
  
      </div>
  
    </div>
  
  
  </div>
  
  
  
  
  
  <!-- Work Schedule History -->
  <div class="work-history">
  
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
    
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Work Schedule History</h4>
            </div>
            <div class="modal-body">
              
              <div class="history-table col-md-11">
  
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Position Schedule Name</th>
                          <th>Effective Date</th>
                          <th>End Date</th>
                         </tr>
                      </thead>
                      <tbody> 
                        <tr>
                          <td>Suresh M</td>
                          <td>9/10/2012</td>
                          <td>9/10/2012</td>
                        </tr>
  
                         <tr>
                            <td>Suresh M</td>
                            <td>9/10/2012</td>
                            <td>9/10/2012</td>
                          </tr>
                        
                      </tbody>
                  </table>
  
  
                  <button class="btn" data-dismiss="modal">Ok</button>
  
              </div>
    
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>
  
  
  <!-- Edit Work Schedule -->
    <div class="work-history">
  
        <div class="modal fade" id="myModal1" role="dialog">
          <div class="modal-dialog">
      
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit Work Schedule</h4>
              </div>
              <div class="modal-body">
                
               <div class="edit-work col-md-11">
  
                  <ul>
                    <li class="col-md-3">
                      <label>Work Schedule Title</label>
                      <mat-select class="form-control" placeholder="Title">
                        <mat-option value=''>Suresh</mat-option>
                        <mat-option value=''>Clerk</mat-option>
                      </mat-select>
                    </li>
  
                    <li class="col-md-3">
                      <label>Work Schedule Start Date</label>
                      <div class="date">
                        <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy" class="form-control">
                        <mat-datepicker #picker2></mat-datepicker>
                        <button mat-raised-button (click)="picker2.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </li>
  
                  </ul>
                  <div class="clearfix"></div>
  
  
                  <ul>
  
                    <li><mat-checkbox>Select Days of the Week Applicable</mat-checkbox></li>
                    <br>
                    <li><mat-checkbox>Monday - Friday</mat-checkbox></li>
                    <li><mat-checkbox>Monday</mat-checkbox></li>
                    <li><mat-checkbox>Tuesday</mat-checkbox></li>
                    <li><mat-checkbox>Wednesday</mat-checkbox></li>
                    <li><mat-checkbox>Thursday</mat-checkbox></li>
                    <li><mat-checkbox>Friday</mat-checkbox></li>
                    <li><mat-checkbox>Saturday</mat-checkbox></li>
                    <li><mat-checkbox>Sunday</mat-checkbox></li>
                  </ul>
  
  
                  <ul>
                    <li class="col-md-2">
                      <label>Total Hours per Day</label>
                      <input type="text" class="form-control" placeholder="Total Hours Day">
                    </li>
  
                    <li class="col-md-2">
                      <label>Total Hours per Week</label>
                      <input type="text" class="form-control" placeholder="Total Hours Week">
                    </li>
                    <div class="clearfix"></div>
  
                    <li class="col-md-3">
                      <label>Schedule Type</label>
                      <mat-select class="form-control" placeholder="Type">
                        <mat-option value='Standard'>Standard</mat-option>
                        <mat-option value='Employee'>Employee</mat-option>
                      </mat-select>
  
                    
                    </li>
  
                    <li class="col-md-1">
                      <div class="circle">
                          <a data-toggle="modal" data-target="#myModal2"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                      </div>
                    </li>
  
  
                  </ul>
                  <div class="clearfix"></div>
  
                  <ul class="no-bor">
                    
                      <li class="col-md-3">
                        <label>Set Lunch Break Time?</label>
                        <mat-select class="form-control" placeholder="Lunch Break">
                          <mat-option value='Yes'>Yes</mat-option>
                          <mat-option value='No'>No</mat-option>
                        </mat-select>
    
                      </li>
    
                    </ul>
                    <div class="clearfix"></div>
  
                  
                    <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                            </th>
  
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>Lunch Start Time</th>
                            <th>Lunch End Time</th>
                            <th>End Time</th>
                          
                            <th>
                              <button mat-icon-button [matMenuTriggerFor]="menu1"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu1="matMenu">
                                
                                <button mat-menu-item>
                                    <a>Edit</a>
                                  </button>
                                <button mat-menu-item>
                                    <a>Delete</a>
                                  </button>
                              </mat-menu>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <mat-checkbox class="zenwork-customized-checkbox" style="margin:10px 0 0; display: block;"></mat-checkbox>
                            </td>
                            <td style="padding:30px 0 0;">Monday</td>
                            <td>
                              <div class="date1">
                                  <input matInput [matDatepicker]="picker21" placeholder="mm / dd / yy" class="form-control">
                                  <mat-datepicker #picker21></mat-datepicker>
                                  <button mat-raised-button (click)="picker21.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                            </td>
                            <td>
  
                                <div class="date1">
                                    <input matInput [matDatepicker]="picker22" placeholder="mm / dd / yy" class="form-control">
                                    <mat-datepicker #picker22></mat-datepicker>
                                    <button mat-raised-button (click)="picker22.open()">
                                      <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                    <div class="clearfix"></div>
                                  </div>
  
                            </td>
                            <td>
                                <div class="date1">
                                    <input matInput [matDatepicker]="picker23" placeholder="mm / dd / yy" class="form-control">
                                    <mat-datepicker #picker23></mat-datepicker>
                                    <button mat-raised-button (click)="picker23.open()">
                                      <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                    <div class="clearfix"></div>
                                  </div>
                            </td>
                            <td>
                                <div class="date1">
                                    <input matInput [matDatepicker]="picker24" placeholder="mm / dd / yy" class="form-control">
                                    <mat-datepicker #picker24></mat-datepicker>
                                    <button mat-raised-button (click)="picker24.open()">
                                      <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                    <div class="clearfix"></div>
                                  </div>
                            </td>
                           
                            <td></td>
                          </tr>
    
    
                        </tbody>
                      </table>
  
  
               </div>
      
              </div>
      
            </div>
      
          </div>
        </div>
      
      </div>
  
  
  
      <!-- Schedule Type -->
  <div class="work-history">
  
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
    
          <div class="modal-content">
            
            <div class="modal-body">
              
              <div class="circle-popup">
  
                 
                  <a data-toggle="modal" data-target="#myModal2"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
  
                  <p>
                    <b>Standard- </b> Every Employee will be assigned the same days of the week and have the same start and finish time.</p>
                  
  
                    <p>
                      <b>Employee Specific- </b> Each Employee can have their own Schedule that allows for different work days, start times and finish times.
                    </p>
  
                  <button class="btn" data-dismiss="modal">Ok</button>
  
              </div>
    
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>
