

.work-summery {margin:0;}
.work-summery h2 { font-size: 20px;}

.work-details { background: #787d7a; padding:15px 10px; margin: 25px 0 0;border-radius: 5px;}

.work-details-top {margin: 0 0 20px;} 
.work-details-top ul { display: block;}
.work-details-top ul li {display: inline-block; vertical-align: middle; float: none;}
.work-details-top ul li label{color: #fff; font-weight: normal; font-size: 17px;}
.work-details-top ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%;
background:#fff;}
.work-details-top ul li .form-control:focus{ box-shadow: none;}


.work-details-mdl { background: #fff; padding:20px; border-radius:5px; margin: 0 0 20px;}
.work-details-mdl h2 { margin: 0 0 7px; color: #3a3c3b; font-size:20px; font-weight: 500;}
.work-details-mdl h4 { margin: 0; color: #787d7a; font-size: 16px;}

.work-days {display: inline-block;width: 100%;margin:0 0 10px;}

.work-days ul { display: block; text-align: center;}
.work-days ul li { float: none; display: inline-block;}
.work-days ul li h5 { color:#737070; padding:0 0 10px; font-size: 18px;}
.work-days ul li figure img { margin: 0 auto 20px;} 

.vacation { position: relative; text-align: left; padding: 0 0 0 40px;}
.vacation span { display: inline-block; font-size: 14px; color: #ccc;}
.vacation span b { display: inline-block; font-size: 22px; color: #bfbcbc; padding: 0 7px 0 0;}
.vacation small { display:block; font-size: 14px; color: #737070;}
.vacation:after { content:''; position: absolute; top:5px; left:20px; border-left: #23a4db 5px solid; height:90%;}
.vacation.sick:after { content:''; position: absolute; top:5px; left:20px; border-left: #fad32b 5px solid; height:90%;}
.vacation.breave:after { content:''; position: absolute; top:5px; left:20px; border-left: #7ac650 5px solid; height:90%;}
.vacation.duty:after { content:''; position: absolute; top:5px; left:20px; border-left: #52d3c8 5px solid; height:90%;}

.working-inform { background: #fff;border-radius:5px; padding:25px 0 20px; margin: 0 0 20px;}
.work-heading { padding: 0 0 45px;}
.working-inform .work-days ul li { width: 20%; position: relative;}
.working-inform .work-days ul li:after{ content: ""; position: absolute; top:20%; right:8px;
border-right: #cecece 1px solid; height:70%;}
.working-inform .vacation span {padding:20px 0 0; vertical-align: bottom;}
.working-inform .work-days ul li:nth-last-child(1):after{ border-right: none;}


.work-details-btm { display: block;}
.work-details-btm .table{ background:#fff;margin-bottom:0;border-radius: 5px;}
.work-details-btm .table>tbody>tr>th, .work-details-btm .table>thead>tr>th {padding:15px; color: #484747; font-weight: normal;
font-size:18px;vertical-align: middle; position: relative; background: #edf7ff;border-radius: 5px;}
.work-details-btm .table>tbody>tr>td, .work-details-btm .table>tfoot>tr>td, .work-details-btm .table>tfoot>tr>th, 
.work-details-btm .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; background: #fff;border-radius: 5px;}


.edit-work { float: none; margin: 0 auto; padding: 0;height: 680px;overflow-y: auto;}
.edit-work ul {border-bottom: #e5e5e5 1px solid; padding:25px 0; display: inline-block; width: 100%;}
.edit-work ul li {display:block; margin: 0 0 10px;}
.edit-work ul li label{color: #484747; font-weight: normal; font-size: 17px; padding: 0 0 10px; display: block;}
.edit-work ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%;
background:#f8f8f8;}
.edit-work ul li .form-control:focus{ box-shadow: none;}

.edit-work ul li .date { height: auto !important; line-height:inherit !important; width:80% !important;background:#f8f8f8;}
.edit-work ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.edit-work ul li .date span { border: none !important; padding: 0 !important;}
.edit-work ul li .date .form-control { width:77%; height: auto; padding: 12px 0 12px 10px;}
.edit-work ul li .date .form-control:focus { box-shadow: none; border: none;}
.edit-work ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.circle { margin: 40px 0 0;}
.circle a { cursor: pointer;}
.circle a .fa{ color:#5d5d5d; font-size: 25px;}



.date1 { height: auto !important; line-height:inherit !important; width:66% !important;background:#fff;}
.edit-work .date1 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
width: 40px;height: 30px; min-width: auto; border-left: #ccc 1px solid; border-radius: 0;}

.date1 span { border: none !important; padding: 0 !important;}
.date1 .form-control { width:73%; height: auto; padding: 12px 0 12px 10px; border: none; box-shadow: none; display: inline-block;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}



.edit-work .table{ background:#fff; margin: 0;}
.edit-work .table>tbody>tr>th, .edit-work .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:17px;
vertical-align: middle; position: relative; background: #edf7ff;}
.edit-work .table>tbody>tr>td, .edit-work .table>tfoot>tr>td, .edit-work .table>tfoot>tr>th, 
.edit-work .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; background: #f7f7f7;}
.edit-work button.mat-menu-item a { color:#ccc;}
.edit-work button.mat-menu-item a:hover { color:#fff; background: #099247;}
.edit-work .table>tbody>tr>th a, .edit-work .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.edit-work .table>tbody>tr>th a .fa, .edit-work .table>thead>tr>th a .fa { color: #6f6d6d;}
.edit-work button { border: none; outline: none; background:transparent;}


.circle-popup { margin: 40px 0 0; padding: 50px 0; text-align: center;}
.circle-popup a { cursor: pointer; display: inline-block; padding: 0 0 20px;}
.circle-popup a .fa{ color:#5d5d5d; font-size: 45px;}
.circle-popup p { color: #7b7b7b; font-size:20px; line-height:30px;}
.circle-popup p b { display: inline-block; font-weight: bold;}

.circle-popup .btn { background: #099247; border: none; border-radius:30px; padding: 8px 35px; color: #fff; font-size:20px; margin: 30px 0 0;}
.time-sheet-bg {
    background: #f8f8f8;
    padding: 10px 0px 24px 18px;
  }
.search-bg span { float: right; width: 10%; text-align: center;}
.search-bg span .fa { color:#777676; font-size: 14px; padding: 12px 0 0; cursor: pointer;}
.search-bg {
    margin-left: -35px;
  }
  .search-box {
    outline: none;
    border: none;
    background: #fff;
    box-shadow: none;
  }
  .search-icon {
    position: absolute;
    top: 0px;
    right: 23px;
  }

  .time { border-right:#9bcbec 1px solid; width:4%; height: 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
  .check { width:20px; height:20px; background: #099247; line-height: 18px; border-radius:50%; cursor: pointer; margin: 0; text-align: center; margin:0 auto;}
  .check .fa { color: #fff; font-size: 14px; line-height: 14px;}
  
  .check.info {background: #eac907;}
  .check.info .fa {transform:rotateX(180deg);}
  
  .check.wrong {background: #f00;}
  .check.wrong .fa {transform:rotateX(180deg);}
  
  
  .attendance { display: block; position: relative; cursor: pointer;}
  
  .attendance span { display:inline-block;}
  
  .itsAbsolute{position: absolute;background-color:#64c0f5;}
  
  .tooltip1 {
      position: relative;
      display:block; height: 22px;
      width:100%;
    }
  
    /* .tooltip1::after { content:'';position:absolute; top: 0; left: 0;
      border-top:#f00 1px solid;border-right:transparent 1px solid;border-left:transparent 1px solid;}
     */
    .tooltip1 .tooltiptext {
      visibility: hidden;
      width:200px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius:4px;
      padding: 5px 21px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s; line-height: 25px;
    }
    
    .tooltip1 .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    .tooltip1:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

