<div class="main-template">
  <div class="modal-header">
    <span class="">Create Custom User Role - Define User Type</span>
  </div>
  <div class="custom-modal-body">
    <div class="person-tables">
      <table>
        <thead>
          <tr>
            <th>Page Name</th>
            <th>Employee</th>
            <th>Manager</th>
            <th>HR</th>
            <th>System Administrator</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of sampleArray">
            <td>
              {{data.name}}
            </td>
            <td>
              <mat-select class="form-control text-field select-btn dashboard-table-dropdown"
                placeholder="Select access level" (ngModelChange)="changeaccessLevel(data)" [(ngModel)]="data.employee">
                <mat-option value="view">View Only</mat-option>
                <mat-option value="no">No Access</mat-option>
                <mat-option value="full">Full Access</mat-option>
              </mat-select>
            </td>
            <td>
              <mat-select class="form-control text-field select-btn dashboard-table-dropdown"
                placeholder="Select access level" (ngModelChange)="changeaccessLevel(data)" [(ngModel)]="data.manager">
                <mat-option value="view">View Only</mat-option>
                <mat-option value="no">No Access</mat-option>
                <mat-option value="full">Full Access</mat-option>
              </mat-select>
            </td>
            <td>
              <mat-select class="form-control text-field select-btn dashboard-table-dropdown"
                placeholder="Select access level" (ngModelChange)="changeaccessLevel(data)" [(ngModel)]="data.hr">
                <mat-option value="view">View Only</mat-option>
                <mat-option value="no">No Access</mat-option>
                <!-- <mat-option value="none">No Access</mat-option> -->
                <mat-option value="full">Full Access</mat-option>
              </mat-select>
            </td>
            <td>
              <mat-select class="form-control text-field select-btn dashboard-table-dropdown"
                placeholder="Select access level" (ngModelChange)="changeaccessLevel(data)" [(ngModel)]="data.sysadmin">
                <mat-option value="view">View Only</mat-option>
                <mat-option value="no">No Access</mat-option>
                <mat-option value="full">Full Access</mat-option>
              </mat-select>
            </td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons">
    <ul class="list-unstyled">

      <li class="list-items">
        <a class="cancel" (click)="cancel()">Cancel</a>
      </li>
      <li class="list-items pull-right">
        <button class='save' type="submit" (click)="updatePageRoles()">
          Save
        </button>
      </li>

      <div class="clearfix"></div>
    </ul>
  </div>
</div>