.main-template{
    padding: 0 !important;
  }
  .main-template .modal-header{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }

  /* personal table data */
.person-tables { margin: 0 auto; float: none; padding: 0;}
.person-tables h3 { font-size: 15px; line-height: 15px; color:#5d5d5d; margin: 0 0 30px;}

.person-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #f8f8f8; font-size: 16px; border-radius:3px;}
.person-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.person-tables .table>thead>tr>th a .fa {  font-size: 15px; line-height: 15px;}
.person-tables .table>tbody>tr>td, .person-tables .table>tfoot>tr>td, .person-tables .table>thead>tr>td{ padding: 15px; background:#f8f8f8;vertical-align:middle; border-right:#e6e6e6 1px solid;border-bottom:#e6e6e6 1px solid; color: #656464;text-align: center;}
.person-fields .checkbox{ margin: 0;}
.person-tables .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top: 0;height: 100%;}

.person-tables .table>tbody>tr>td.zenwork-checked-border {position: relative;}


.person-tables .cont-check .checkbox label { padding-left:5px;}
.person-tables .cont-check.label-pad .checkbox label { padding-left: 0;}

.person-tables table{
    width: 100%;
}
.person-tables table thead tr th{
    padding: 20px 40px 20px 15px;
    font-size: 16px;
    background: #f8f8f8;
    /* border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
}
.person-tables table tbody tr td{
    padding: 20px 40px 20px 15px;
    font-size: 16px;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}
.person-tables table thead tr th:first-child{
    border-right: 1px solid #ccc;
    /* border-right: none; */
}

.person-tables table tbody tr td:first-child{
    border-right: 1px solid #ccc;
    /* border-right: none;  */
}
.person-tables table tbody tr:last-child td{
  border-bottom: none; 
}

.custom-modal-body{
    padding: 60px;
}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
.select-btn {
    border: none;
    box-shadow: none;
    height: 40px;
    /* width: 95%; */
}
.dashboard-table-dropdown{
    background: #fff !important;
  }
  .buttons{
    margin: 20px 0;
    padding: 60px;
  }
  .buttons ul li{
    display: inline-block;
    padding: 0px 10px;
  }
  .buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    cursor: pointer;
  }
  .buttons ul li .save{
  
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background: green;
    /* cursor: pointer; */
  }
  .buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
  }