.main-recruit {float: none; margin:70px auto 0;}

.recruitment-block {text-align: center; background: #fff; border-radius:5px; padding: 60px 0; box-shadow: 0 0 30px #ada5a5;}
.recruitment-block ul { display: block;}
.recruitment-block ul li { display: inline-block; float: none; border-right:#ccc 1px solid; padding: 0 10px 0 0;
vertical-align: top;height: 165px;}
.recruitment-block ul li a { display: inline-block;}
.recruitment-block ul li a img { margin: 0 auto;}
.recruitment-block ul li a h2 { color: #232323; font-size:18px; font-weight:500; line-height: 30px;}
.recruitment-block ul li a small { color: #444; font-size:15px; font-weight: normal;}



.reports-block{ display: block;}