
<div class="main-recruit col-md-11">

  <div class="recruitment-block">

    <ul>

      <li class="col-md-3">
         <a routerLink="/admin/admin-dashboard/recruitment/post-jobs">
           <img src="../../../assets/images/recruitments/post-jobs.png">
          <h2>Post Jobs</h2>
          <small>Post Jobs to website</small>
         </a>
      </li>

      <li class="col-md-3">
          <a routerLink="/admin/admin-dashboard/recruitment/job-description">
            <img src="../../../assets/images/recruitments/job-description.png">
           <h2>Jobs Descriptions & Applications</h2>
           <small>Create job description <br> Job Bank</small>
          </a>
       </li>


       <li class="col-md-3">
          <a routerLink="/admin/admin-dashboard/recruitment/candidates">
            <img src="../../../assets/images/recruitments/site-access.png">
           <h2>Applicants & Candidates</h2>
           <small>Search existing candidates</small>
          </a>
       </li>

       <li class="col-md-3 no-bor">
          <a routerLink="/admin/admin-dashboard/recruitment/interviews">
            <img src="../../../assets/images/recruitments/interviews.png">
           <h2>Interviews</h2>
           <small>Coordinate interview schedule</small>
          </a>
       </li>

    </ul>

  </div>


  <div class="reports-block">



  </div>

</div>


<router-outlet></router-outlet>