.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}

.zenwork-currentpage { border-bottom:#ccc 1px solid; padding:30px 0 20px; margin: 0 auto; float: none;}



.application-candidates { padding: 0; float: none; margin: 0 auto;}

.search-candidates { border-bottom: #ccc 1px solid; padding: 0 0 20px; margin:30px 0;}

.search-candidates .form-group { position: relative; background:#fff; padding: 0; border-radius:5px;}
.search-candidates .form-control { height: auto; border: none; box-shadow: none; padding:12px; width:94%; font-size: 15px;}
.search-candidates .form-control:focus { box-shadow: none;}
.search-candidates span { position: absolute; top:15px; right:10px; cursor: pointer;}
.search-candidates span .material-icons { color: #8e8e8e; font-size:20px; font-weight: normal;}

.search-candidates a { background:#787d7a; color: #fff; border-radius:4px; padding: 7px 25px; cursor: pointer; margin:10px 0 0;}

.candidates-cont { display: block;}
.candidates-cont h3 { margin: 0 0 20px; font-size:18px;}


.candidates-block {background: #fff;}

.candidates-top {background:#edf7fe; padding:12px 10px;}
.candidates-top ul{ margin: 0;}
.candidates-top ul li{padding: 0; float: left;}
.candidates-top ul li h4 { margin: 0; font-size: 16px; position: relative; display: inline-block;}
.candidates-top ul li.applicant { width:35%;}
.candidates-top ul li.applicant1 { width:25%;}
.candidates-top ul li.applicant2 { width: 13%;}
.candidates-top ul li.applicant3 { width: 14%;}
.candidates-top ul li.applicant4 { width: 13%;}

.dropdown { position: absolute; top: 0; right:-30px;}
.dropdown a { color:#787d7a; cursor: pointer;}
.dropdown > ul > li { float: none;}
.dropdown > ul > li a { padding: 8px 10px;}
.dropdown > ul > li a:hover { background:#008f3d; color: #fff;}
.dropdown-menu { padding: 0; border: none;}

.candidates-mdl {padding: 0 10px;}
.candidates-mdl ul { display: block;}
.candidates-mdl ul li {border-bottom: #ccc 1px solid;}

.applications {margin: 15px 0;}
.applications ul { display: block;}
.applications ul li { float: left; border: none;}
.applications ul li.recent-data {width: 35%;}
.applications ul li.recent-data1 {width: 25%;}
.applications ul li.recent-data2 {width: 13%;}
.applications ul li.recent-data3 {width: 14%;}
.applications ul li.recent-data4 {width: 13%;}

.applications ul li.recent-data1 p { display: block;}
.applications ul li.recent-data1 p small { display: inline-block; vertical-align: middle; width:30px;}
.applications ul li.recent-data1 p span { display: inline-block; vertical-align: middle; width:230px; font-size: 15px;
color:#8e8e8e;}

.applications ul li.recent-data2 var { font-style: normal;color:#8e8e8e;}

.details-data{ display: block;}

.details-data figure{ display: inline-block; width: 110px; vertical-align: middle;}
.details-cont { display: inline-block; vertical-align: middle; width: 250px;}
.details-cont h4{ color:#444; font-size:17px; margin: 0 0 10px;}
.details-cont p{ color:#787d7a; font-size:14px; margin: 0 0 2px;}
.details-cont p span{ color:#787d7a; font-size:14px; display: inline-block;}