
<div class="zenwork-currentpage col-md-11">
  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
    <small>
      <img alt="Company-settings icon" src="../../../assets/images/company-settings/site-access/site-access-icon.png">
    </small>
    <em>Applicant Candidates</em>
  </p>
</div>


<div class="application-candidates col-md-11">

  <div class="search-candidates">
    <div class="form-group col-md-6">
      <input type="mail" class="form-control" placeholder="Search by name, Job Titles, etc..">
      <span><i class="material-icons">search</i></span>
    </div>

    <a class="pull-right" (click)="manuallyClick()">Manually Add Applicant</a>

    <div class="clearfix"></div>
  </div>


  <div class="candidates-cont">

    <h3>Recently submitted applications</h3>

     <div class="candidates-block">
        
        <div class="candidates-top">

          <ul>
            <li class="applicant"><h4>Applicant Details

              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons icon-image-preview">swap_vert</i></a>
                <ul class="dropdown-menu">
                  <li><a>Naukari.com</a></li>
              
                </ul>
              </div>              
            </h4> 
          
            </li>
            <li class="applicant1"> <h4>Contact Info</h4> </li>
            <li class="applicant2"> <h4>Date Applied</h4> </li>
            <li class="applicant3"> <h4>Source</h4> </li>
            <li class="applicant4"> <h4>Status</h4></li>
          </ul>
           <div class="clearfix"></div>
        </div>

        <div class="candidates-mdl">
          
          <ul>
            <li>
              <div class="applications">
                <ul>
                  <li class="recent-data">
                    
                    <div class="details-data">

                      <figure>
                        <img src="../../../../assets/images/Directory/empoyee_2.png">
                      </figure>

                      <div class="details-cont">
                        <h4>Suresh M</h4>
                        <p>Job Title: <span>SR Angular Developer</span></p>
                        <p>Job Number: <span>2354235</span></p>
                        <p>Department / Location / Business Unit: <span>USA</span></p>
                      </div>

                    </div>

                  </li>
                  <li class="recent-data1">
                    <p>
                      <small><img src="../../../assets/images/Directory/ic_email_24px.png"></small>
                      <span>suresh@ghgjkl.com</span>
                    </p>
                    <p>
                      <small><img src="../../../assets/images/Directory/ic_domain_24px1.png"></small>
                      <span>457688789797 Ext, 1272</span>
                    </p>
                    <p>
                      <small><img src="../../../assets/images/Directory/Group 504.png"></small>
                      <span>98794856887</span>
                    </p>
                  </li>
                  <li class="recent-data2">
                    <var>10/10/2000</var>
                  </li>
                  <li class="recent-data3">
                    ssssssssssssss
                  </li>
                  <li class="recent-data4">
                    <mat-select class="form-control" placeholder="Status">
                      <mat-option value="option1">Option 1</mat-option>                
                    </mat-select>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </li>
          </ul>

        </div>

     </div>

  </div>


</div>