<div class="modal-header">
  <span style="font-size:17px;">Assign Training to Employees</span>
</div>

        <div class="employees-data">
            <div class="field-accordion">
              <div class="panel-group">

                <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
                  <!-- <div class="panel-heading">
                    <h4 class="panel-title heading-eligibility">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                        href="#eligibility-info">
                        Eligibility Criteria
                      </a>
                    </h4>
                  </div> -->
                  <div id="eligibility-info" class="panel-collapse collapse in">
                    <div class="panel-body eligibilty-border-bottom">

                      <div class="employees-data">
                        <div class="col-sm-12 table-body">
                          <div class="row">
                            <div class="col-sm-6 structure-tbl-body height-300">

                              <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">

                                <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                                  <div>

                                    <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                      [value]="fields.name"
                                      (ngModelChange)="getStructureSubFields(fields.name,fields.isChecked )">
                                      {{fields.name}}
                                    </mat-checkbox>
                                  </div>

                                </li>

                              </ul>
                            </div>

                            <div class="col-sm-1 text-center arrow-position">
                              <i class="material-icons arrow-align-one">
                                keyboard_arrow_right
                              </i>
                              <i class="material-icons arrow-align-two">
                                keyboard_arrow_right
                              </i>
                            </div>
                            <div class="col-sm-6 structure-tbl-body height-300">

                              <div *ngIf="StructureValues">
                                <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">

                                  <li class="list-items-values">
                                    <mat-checkbox class="checkbox-success"
                                      (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                      {{values.name}}
                                    </mat-checkbox>

                                  </li>

                                </ul>

                              </div>
                              <div *ngIf="customValues">
                                <ul class="list-unstyled structure-list" *ngFor="let values of customValues">

                                  <li class="list-items-values">
                                    <mat-checkbox class="checkbox-success"
                                      (change)="subFieldsStructure($event,values.name)" [value]="values.name">
                                      {{values.name}}
                                    </mat-checkbox>
                                  </li>

                                </ul>

                              </div>
                            </div>

                          </div>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>
                <div class="employees-table modal-header">
                  <!-- <div class="col-xs-6">
                    <h4>Include a Specific Person</h4>
                    <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
                    </ng-multiselect-dropdown>
                  </div> -->
                  <!-- <div class="col-xs-6">
                    <h4>Exclude a Specific Person</h4>
                    <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList"
                      [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                  </div> -->
                  <div>
                    <h4 style="float: left;">Include a Specific Person</h4>
                    <h4 style="float: right;">Exclude a Specific Person</h4>
                    <div class="clearfix"></div>
                    <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format" filter=true
                    height='300px' (click)="onSelectUsers(selectedUsers)">
                  </dual-list>
                  </div>
                </div>

                <h4 style="margin-top:30px; font-size:16px;">Preview Employee List Report
                  <!-- <button class="import-date-btn pull-right text-report">Run Report</button> -->

              </h4>
              <div class="custom-tables group-list">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          First Name
                        </th>
                        <th>Last Name</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Manager Name</th>
                        

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let list of previewList">
                        <td>{{list.personal.name.firstName}}</td>
                        <td>{{list.personal.name.lastName}}</td>
                        <td>{{list.job.employeeId}}</td>
                        <td>{{list.job.department}}</td>
                        <td>
                            <span *ngIf="list.job.ReportsTo">
                                {{list.job.ReportsTo.personal.name.firstName}}
                            </span>
                        </td>
                        
                      </tr>
                  
                  </table>
                  
                </div>

                <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                </mat-paginator>

                <hr class="zenwork-margin-ten-zero">
                <div class="row" style="margin:30px 0px;">

                    <button mat-button (click)="onNoClick()" class="cancel">Cancel</button>

                    <button mat-button class="submit-btn pull-right" (click)="assignTraining()">Submit</button>
                </div>
                  <div class="clearfix"></div>

              </div>
            </div>

          </div>
