/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    color: #000;
    border: none;
    background: #f8f8f8;
  }
  
  .tabs-left > .nav-tabs {
    border-right: 1px solid #ddd;
    padding: 20px 20px 0 20px;
    height: 700px;
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 16px;
    margin-right: -1px;
    outline: none;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }
  .create-custom-sidenav{
    background: #f8f8f8;
    padding: 20px 0;
  }
  .main-template{
    padding: 0 !important;
  }
  .main-template .modal-header{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }

  .select-btn {
    border: none;
    box-shadow: none;
    height: 40px;

}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
.tab-content{
    padding: 20px 0;
}
.user-type label{
  line-height: 40px;

}
.company-legal-name{
  border: none;
  padding: 10px;
  background: #f8f8f8;
  box-shadow: none;
  height: 40px;
}
.custom-scroll{
  height: 700px;
  overflow-y: auto;
}
textarea{
  resize: none;
  border: 0;
  box-shadow: none;
  background: #f8f8f8;
}
.buttons{
  margin: 150px 30px 0;
}
.buttons ul li{
  display: inline-block;
  padding: 0px 10px;
}
.buttons ul li .back{
  border: 1px solid gray;
  padding: 7px 30px;
  border-radius: 31px;
  color: #000;
  cursor: pointer;
}
.buttons ul li .save{

  border: 1px solid gray;
  padding: 7px 30px;
  border-radius: 31px;
  color: #fff;
  background: green;

}
.buttons ul li .cancel{
  color:#e5423d;
  cursor: pointer;
}
.system-admin{
  padding: 40px 0 0 40px;
}
.modules-fields{
  padding: 20px;
}
.module-table table{
  width: 100%;
}
.module-table table thead th{
  padding: 20px 40px 20px 15px;
  font-size: 16px;
  background: #f8f8f8;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.module-table table tbody tr td{
  padding: 20px 40px 20px 15px;
  font-size: 16px;
  background: #f8f8f8;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.module-table-padding{
  padding: 15px 30px 30px 15px;
  border-bottom: 1px solid #ccc;
}
.dashboard-table-dropdown{
  background: #fff !important;
}

.module-table table thead th:last-child, .module-table table tbody tr td:last-child {
  border-right: 0;
  
}
.module-table table tbody tr:last-child td:last-child,.module-table table tbody tr:last-child td:first-child{
  border-bottom: 0;
}
/* accrodian css*/
.field-accordion p {color: #565555;font-size: 15px;}

.field-accordion .panel-default>.panel-heading { padding: 20px 0 20px; background-color:transparent !important; border: none;}
.field-accordion .panel-title { color: #008f3d; display: inline-block;padding: 15px 0 0 0;}
.field-accordion .panel-title a:hover { text-decoration: none;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}
/* accrodian css ends */

/* personal table data */
.person-tables { margin: 0 auto; float: none; padding: 0;}
.person-tables h3 { font-size: 15px; line-height: 15px; color:#5d5d5d; margin: 0 0 30px;}

.person-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; font-size: 16px; border-radius:3px;}
.person-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.person-tables .table>thead>tr>th a .fa {  font-size: 15px; line-height: 15px;}
.person-tables .table>tbody>tr>td, .person-tables .table>tfoot>tr>td, .person-tables .table>thead>tr>td{ padding: 15px; background:#f8f8f8;vertical-align:middle; border-right:#e6e6e6 1px solid;border-bottom:#e6e6e6 1px solid; color: #656464;text-align: center;}
.person-fields .checkbox{ margin: 0;}
.person-tables .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top: 0;height: 100%;}

.person-tables .table>tbody>tr>td.zenwork-checked-border {position: relative;text-align: left}


.person-tables .cont-check .checkbox label { padding-left:5px;}
.person-tables .cont-check.label-pad .checkbox label { padding-left: 0;}

.person-tables table thead tr th{
  border-right: 1px solid #ccc;
  
}
.person-tables table thead tr th:last-child{
  border-right: none;
}

.person-tables table tbody tr td:last-child{
  border-right: none; 
}
.person-tables table tbody tr:last-child td{
  border-bottom: none; 
}

.myinfo-fields-controll{
  padding: 15px 30px 30px 15px;
}
.main-onboarding .setting-drop .dropdown-menu{
  left: -76px !important;
  min-width: 109px !important;
}
.setting-drop .dropdown-menu>li>a{
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 8px 20px !important;
    display:block;
}

/* structure-field css */
.structure-tbl-body {
  background: #f8f8f8;
  width: 45%;
}
.bg-color {
    background: #ecf7ff;
    padding: 15px 10px;
}
.mar-left-40 {
    margin-left: 40px;
}
.active-structure {
    border-left: 4px solid #5ddb97;
    border-radius: 5px;
}
.arrow-position {
  position: relative;
}
.arrow-align-one {
  font-size: 40px;
  position: absolute;
  top: 145px;
  left: 30px;
  font-weight: lighter;
  color: #439348;
  
  
}
.arrow-align-two {
  font-size: 40px;
  position: absolute;
  top: 145px;
  right: 0;
  left: 0px;
  font-weight: lighter;
  color: #439348;
}
#fileUpload {
  height: 0;
  display: none;
  width: 0;
}

.upload{
  text-decoration: none;
}
.zenwork-checked-border:after { 
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  border-right: #83c7a1 4px solid;
  height: 100%;
  border-radius: 4px;
  padding: 25px;
  }
.height-300 {
  height: 300px;
  overflow: auto;
}
/* structure-fieldds css ends */


.structure-list .list-items{
  padding: 15px 15px;
  border-bottom: 2px solid #eee;
}
.structure-list .list-items-values{
  padding: 17px 37px;
  border-bottom: 2px solid #eee;
}
.arrow-position {
  position: relative;
}


.structure-tbl-body {
  background: #f8f8f8;
  width: 45%;
}
.height-300 {
  height: 300px;
  overflow: auto;
}
.bg-color {
  background: #ecf7ff;
  padding: 15px 10px;
}
.mar-left-40 {
  margin-left: 40px;
}
.heading-eligibility{
  padding: 15px 0 0 30px !important;
}
.field-accordion .eligibilty-border-bottom{
  padding: 0 0 40px !important;
}
.employees-data{
  padding: 30px;
}
.error{
  font-size:12px !important;
  color: #f44336 !important;
}
.employees-table{
  margin: 60px 0 0 0;
}
.recap-tab{
  padding: 40px;
}
.import-date-btn {
  background-color: #797d7a;
  border: 1px solid #797d7a;
  padding: 5px 14px;
  border-radius: 50px;
  color: #fff;
  outline: none;
  font-size:12px;
}
.custom-tables { margin: 0 auto; float: none; padding: 15px 30px 0 0px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 14px;}
.group-list .table>tbody>tr>td {
  background: #f8f8f8;
  border: none;
  vertical-align: middle;
  border-top: none;
  border-bottom: #c3c3c3 1px solid;
  color: #948e8e;
}
.submit-btn {
  background-color: #439348;
  border: 1px solid #439348;
  border-radius: 35px;
  color: #fff;
  padding: 0 25px;    
}
.cancel { color:#e5423d;}
.dual-list .listbox button{
  background: #008f3d !important;
}