.zenwork-currentpage{

}

.zenwork-workflow-approval-wrapper{
    padding: 35px 0 0; margin: 0 auto; float: none;
}

.zenwork-workflow-approval-wrapper ul>li{
    display: inline-block;
    margin-right: 10px;
}

.modal-header {
    padding: 25px 35px;
}

/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none; margin: 0 0 15px;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px; margin: 0 20px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;background:#f8f8f8; padding: 30px 0 0; height: 100vh;
  }
  
  .tabs-left > .nav-tabs > li > a {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
            font-size: 16px !important; color: #6f6969;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee; background:#eeeeee; border-radius: 40px;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/

  .caret{
    margin-left: 50px !important;
    transform: rotate(-90deg);
  }

  .zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 8px 20px;
    color: #525151;
    font-size: 13px;
    line-height: 13px;
    border: 1px solid transparent;
    margin: 0 20px 0 0;
    vertical-align: middle;
}
.zenwork-currentpage small {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
}
  
.zenwork-inner-icon {
  width: 20px;
  height: auto;
}
.zenwork-currentpage em {
  font-size: 18px;
  line-height: 18px;
  color: #484747;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}
.mr-7{
  margin-right: 7px;
}
.zenwork-green-btn:active, .zenwork-green-btn:hover { background: #696767 !important;color: #fff!important;
  padding: 10px 20px!important;
  border-radius: 4px!important; border:transparent 1px solid;
}

.zenwork-green-btn { background: #fff !important;color: #696767 !important; border:#eeeeee 1px solid;
  padding: 10px 20px!important;
  font-size: 15px!important;
  border-radius: 4px!important;
}


.zenwork-request { margin:50px auto 0; float: none;}
.zenwork-request ul { display: block; margin:50px 0 0;}
.zenwork-request h4 { margin: 0; line-height: 20px;}
.zenwork-request ul li {float: left; margin: 0 20px 0 0; padding: 0;}
.zenwork-request ul li .selection { background:#f8f8f8; border-radius: 20px; padding: 0 30px; height:38px; line-height:38px; position: relative;}
.zenwork-request ul li .selection .checkbox label { color:#484848; padding-left:0; font-size: 15px; line-height: 15px;}
.zenwork-request ul li .selection .checkbox label::before { border-radius: 10px; width: 20px; height: 20px; top:-20px; left:-4px;}
.zenwork-request ul li .selection .checkbox label::after { color:#fff; background: #008f3d;border-radius: 10px; width: 20px; height: 20px;
     padding: 3px 0 0 4px; top: -20px; left:-4px;}
.zenwork-request ul li .selection .checkbox{ margin: 0; padding: 0;}
.zenwork-request .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.zenwork-request .btn:hover {background: #008f3d; color:#fff;}

.zenwork-approve { display: block; border-bottom:#d0d0d0 1px solid; padding: 0 0 10px;}
.zenwork-approve > ul { display: block; margin: 0;}
.zenwork-approve > ul > li { margin: 0;}

.zenwork-manager { display: block;}
.zenwork-manager > ul { display: block;}
.zenwork-manager > ul > li { display: block; float:none; margin: 0 0 20px;}
.zenwork-manager > ul > li > label { display: block; color:#696969; font-weight: normal; padding: 0 0 10px; font-size: 15px;}

.workflow-manager { margin: 0 0 15px;}
.workflow-manager .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.workflow-manager .checkbox label::after { color:#fff; background: #008f3d;width: 20px; height: 20px; padding: 3px 0 0 4px; border-radius:3px;}
.workflow-manager .checkbox{ margin: 0; display: inline-block;}
.workflow-manager .checkbox label { padding-left: 10px;}


.workflow-select-drop select { background:#f8f8f8; border: none; width: 60%; height:40px; color:#525252; padding: 6px 10px;}

.zenwork-Questions { margin:50px auto 0; float: none;}
.zenwork-Questions h4 { margin: 0; line-height: 20px;}

.status-block {border-bottom:#c3c3c3 1px solid; padding: 0 0 10px;display:inline-block; width: 100%;}
.current-status { margin:50px 0 0;}
.current-status .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #ffe5e3; border:none; font-size: 15px;
border-right: #c7c7c7 1px solid;}
.new-status.current-status .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #c7e2d4; border:none; font-size: 15px;
  border-right: #c7c7c7 1px solid;}
.current-status .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #ffe5e3; border:none; font-size: 15px;
  border-right: #c7c7c7 1px solid;}
.current-status .table>thead>tr>th:nth-last-child(1) { border-right: none;}
.select-drop { display: block;}
.select-drop select { background:#fff; border: none; width:100%; height: 34px; color:#656464; padding: 6px 10px;}
.current-status .table>tbody>tr>td, .current-status .table>tfoot>tr>td, .current-status .table>thead>tr>td{ padding: 10px 15px; background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#696868;border-right: #c7c7c7 1px solid;}
.current-status .table>tbody>tr>td:nth-last-child(1) { border-right: none;}

.date { display: block; background:#fff;height: 30px; line-height: 30px; width: 150px;}
.date span { display: inline-block; vertical-align: middle; cursor: pointer;    border-left: #bdbdbd 1px solid;padding: 0 0 0 10px;}
.date span .fa { color: #008f3d;
    font-size:18px;
    line-height:18px;
    width: 18px;
    text-align: center;}
.date .form-control { display: inline-block;vertical-align: middle; width: 70%; border: none; background:transparent; box-shadow: none; padding: 0 0 0 10px;}

.zenwork-Questions .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.zenwork-Questions .btn:hover {background: #008f3d; color:#fff;}

.additional-block { margin: 20px 0 0;}
.additional-block ul { display: block;}
.additional-block ul li { display: block; margin: 0 0 20px;}
.additional-block ul li label { display: block; color:#696969; font-weight: normal; padding: 0 0 10px; font-size: 15px;}
.additional-drop { display: block;}
.additional-drop select { background:#f8f8f8; border: none; width:25%; height: 34px; color:#656464; padding: 6px 10px;}

.additional-block ul li .form-control { min-height: 80px;background:#f8f8f8; padding:20px; resize:none; border: none; box-shadow: none; line-height: 20px;}

.zenwork-review { margin: 50px auto 0; float: none;}
.zenwork-review h4 { margin: 0 0 15px; line-height: 20px;color: #6f6969;}
.zenwork-review .form-control {background:#f8f8f8;border: none; box-shadow: none; line-height:38px; height:38px; color:#000; margin: 0 0 25px; padding: 0 10px;
width:28%;}

.review-approve { display: block; margin: 0 0 30px;}

.review-approve .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #eef7ff; border:none; font-size: 15px;
  width: 50%;}

.review-approve .table>tbody>tr>td, .review-approve .table>tfoot>tr>td, .review-approve .table>thead>tr>td{ padding:20px 15px; background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#696868;}
  
.zenwork-review .current-status { margin:0;}
.zenwork-review .current-status .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #ffe5e3; border:none; font-size: 15px;
border-right: #c7c7c7 1px solid;}
.zenwork-review .current-status .table>tbody>tr>td, .zenwork-review .current-status .table>tfoot>tr>td, .zenwork-review .current-status .table>thead>tr>td{ padding: 10px 15px; background:#ffe5e3;border: none;vertical-align:middle; border-top:#c3c3c3 1px solid;border-bottom:#c3c3c3 1px solid; color:#484848;border-right: #c7c7c7 1px solid;}
.zenwork-review .current-status .table>thead>tr>th:nth-last-child(1) { border-right: none;}
.zenwork-review .current-status .table>tbody>tr>td:nth-last-child(1) { border-right: none;}


.zenwork-review .summary-status.current-status .table>thead>tr>th { color: #484848; font-weight: normal; padding: 14px 20px; background: #cce9d8; border:none; font-size: 15px;border-right: #c7c7c7 1px solid;}
.zenwork-review .summary-status.current-status .table>tbody>tr>td, .zenwork-review .current-status .table>tfoot>tr>td, .zenwork-review .current-status .table>thead>tr>td{ padding: 10px 15px; background:#cce9d8;border: none;vertical-align:middle; border-top:#c3c3c3 1px solid;border-bottom:#c3c3c3 1px solid; color:#484848;border-right: #c7c7c7 1px solid;}
.zenwork-review .summary-status.current-status .table>thead>tr>th:nth-last-child(1) { border-right: none;}
.zenwork-review .summary-status.current-status .table>tbody>tr>td:nth-last-child(1) { border-right: none;}
  
.zenwork-review .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:50px 0 0;}
.zenwork-review .btn:hover {background: #008f3d; color:#fff;}

.date input { border:none; width: 75%; display: inline-block; float: left; padding: 0 0 0 10px;}
.date button { width: 25%; display: inline-block; float: right; background:transparent; border: none; outline: none; padding: 0 10px 0 0;}
.zenwork-old-new-values { margin: 0 auto;}





/*-- Author:Suresh M, Date:22-04-19  --*/
/*-- Popup css code  --*/
.work-flow { float: none; margin:40px auto 0;}
.work-flow > ul { margin:50px 0 40px; width: 100%; display: inline-block;}
.work-flow > ul > li {position: relative;}
.work-flow > ul > li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.work-flow > ul > li h2 {background: #f8f8f8;
  border-radius: 20px;text-align:center;
  padding: 12px 0;
  font-size: 16px;
  line-height: 16px; color: #484848;}

.work-flow-lft { margin:30px 0;}
.work-flow-lft ul { background:#f8f8f8; padding:20px 20px 0; margin: 30px 0 0;}
.work-flow-lft ul li { border-bottom:#3a3a3a dashed 1px; margin: 0 0 15px; padding: 0 0 15px;}
.work-flow-lft ul li h6{ margin: 0 0 5px; font-size: 15px;}
.work-flow-lft ul li.border{ border: none;}

.work-flow-lft ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%; background:#fff;}
.work-flow-lft ul li .form-control:focus{ box-shadow: none;}
.work-flow-lft ul li span { vertical-align:middle; display: inline-block; padding: 0 25px 0 0;}
.work-flow-lft ul li span .fa{ color:#c1c1c1; font-size:20px; line-height:20px; vertical-align:text-bottom;}


.work-flow .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.work-flow .btn.cancel { color:#e44a49; background:transparent; padding:0 0 0 30px;font-size: 16px;}


.example-box {
  padding:10px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  vertical-align: middle;
  margin: 0 0 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.title-level{
  padding: 25px 0 0 64px;
}
.levels ul .list-item{
  padding: 0 0 0 65px;
  display: inline-block;
}
.buttons-levels{
  padding: 30px 0 0 0;
}

.buttons-levels .list-item .btn{
border-radius: 20px;
height: 40px;
line-height: 38px;
font-size: 16px;
padding: 0 24px;
background: #008f3d;
color: #fff;
margin: 0 20px 0 0;
}
.error{
  font-size:12px !important;
  color: #f44336 !important;
}