<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
    <small> <img src="../../../assets/images/company-settings/workflow-approval/workflow-approval-green.png"
        class="zenwork-inner-icon" alt="Company-settings icon"></small>
    <em>Workflow Approval</em>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>


<div class="zenwork-workflow-approval-wrapper col-md-11">
  <ul class="list-unstyled">
    <li>
      <button class="btn zenwork-green-btn" (click)="workflowApprovalModal(demographicWorkflowTemplate)">
        Demographic Workflow
      </button>
    </li>
    <li>
      <button class="btn zenwork-green-btn zenwork-default-background zenwork-color-black"
        (click)="workflowApprovalModal(jobChangeWorkflowTemplate)">
        Job Change Workflow
      </button>
    </li>
    <li>
      <button class="btn zenwork-green-btn zenwork-default-background zenwork-color-black"
        (click)="workflowApprovalModal(compensationChangeWorkflowTemplate)">
        Compensation Change Workflow
      </button>
    </li>
  </ul>
</div>

<div class="levels">
  <ul class="list-unstyled">
    <h4 class="title-level">Declare the levels</h4>
    <li class="list-item col-md-2">
      <label>Manager</label>
      <input type="text" type="text" (keypress)="keyPress($event)" maxlength="1" [(ngModel)]="mangerLevels" class="form-control" 
      name="mangerLevels1" #mangerLevels1="ngModel" required>
      <p *ngIf="!mangerLevels && mangerLevels1.touched || (!mangerLevels && isValidManagerlevel)"
      class="error"> Please fill this field</p>
    </li>
    <li class="list-item col-md-2">
      <label>HR</label>
      <input type="text" type="text" (keypress)="keyPress($event)" maxlength="1" [(ngModel)]="hrLevels" class="form-control" 
      name="hrLevels1" #hrLevels1="ngModel" required>
      <p *ngIf="!hrLevels && hrLevels1.touched || (!hrLevels && isValidHrlevel)"
      class="error"> Please fill this field</p>
    </li>
    <div class="clearfix"></div>
  </ul>

  <ul class="buttons-levels list-unstyled">
    <li class="list-item col-md-2">
      <button class="btn save align-center" (click)="levelnumberSubmitManager()">Submit</button>
    </li>
    <li class="list-item col-md-2">
      <button class="btn save text-center" (click)="levelnumberSubmitHr()">Submit</button>

    </li>
  </ul>
</div>

<div>


  <!-- Author:Suresh M, Date:22-04-19  -->
  <!-- Popup Content -->
  <ng-template #demographicWorkflowTemplate class="demographic-popup">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Demographic Workflow</h4>
      <div>

      </div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="work-flow col-md-11">
        <h4>Who can request the change?</h4>

        <ul>
          <li class="col-md-2">
            <h2>Employee</h2>
          </li>
          
        </ul>
        <div class="clearfix"></div>

        <h4>Who can Approve?</h4>

        <div class="work-flow-lft col-md-5">

          <h4>Select a role for Approval. More than one role can be selected</h4>

          <ul class="col-md-7">
            <li>
              <h6>Roles</h6>
            </li>
            <li *ngIf="!updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="managerName" (ngModelChange)="empManagerPerson($event)"
                placeholder="reports To">
                <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
                </mat-option>
              </mat-select>
            </li>
            <li *ngIf="updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="managerName"
                (ngModelChange)="empManagerPersonUpdate($event)" placeholder="reports To">
                <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
                </mat-option>
              </mat-select>
            </li>

            <li *ngIf="!updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="hrName" (ngModelChange)="empHrPerson($event)"
                placeholder="HR">
                <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
                </mat-option>
              </mat-select>
            </li>

            <li *ngIf="updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="hrName" (ngModelChange)="empHrPersonUpdate($event)"
                placeholder="HR">
                <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
                </mat-option>
              </mat-select>
            </li>

            <li *ngIf="!updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="splRole" (ngModelChange)="empSplRole($event)"
                placeholder="special Role">
                <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
                </mat-option>
              </mat-select>
            </li>

            <li *ngIf="updateWorkflow">
              <mat-select class="form-control" [(ngModel)]="splRole" (ngModelChange)="empSplRoleUpdate($event)"
                placeholder="special Role">
                <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
                </mat-option>
              </mat-select>
            </li>

            <li *ngIf="!updateWorkflow" class="border">
              <mat-select class="form-control" [(ngModel)]="empName" (ngModelChange)="empSpecialPerson($event)"
                placeholder="SpecificPerson">
                <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
                </mat-option>
              </mat-select>
            </li>
            <li *ngIf="updateWorkflow" class="border">
              <mat-select class="form-control" [(ngModel)]="empName" (ngModelChange)="empSpecialPersonUpdate($event)"
                placeholder="SpecificPerson">
                <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
                </mat-option>
              </mat-select>
            </li>
          </ul>
          <div class="clearfix"></div>

        </div>


        <div class="work-flow-lft col-md-6 pull-right">
          <h4>Move the role up or down to the desired approval priority ranking.</h4>
          <ul class="col-md-7">

            <li class="border">
              <h6>Approval Priority</h6>
            </li>

            <li cdkDropList class="example-list border" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let data of priorityUsers" cdkDrag><span><i class="fa fa-list-ul"
                    aria-hidden="true"></i></span>{{data.name}}</div>
            </li>

          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <hr>

        <button class="btn pull-left cancel" (click)="modalRef.hide()">Cancel</button>
        <button *ngIf="!updateWorkflow" class="btn pull-right save" (click)="workflowSubmit()">Submit</button>

        <button *ngIf="updateWorkflow" class="btn pull-right save" (click)="updateDemographicWorkflow()">update</button>
        <div class="clearfix"></div>

      </div>

    </div>
  </ng-template>

</div>

<ng-template #jobChangeWorkflowTemplate class="demographic-popup">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Job Change Workflow</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="work-flow col-md-11">
      <h4>Who can request the change?</h4>

      <ul>
        <!-- <li class="col-md-2">
          <mat-checkbox>Employee</mat-checkbox>
        </li> -->

        <li class="col-md-2">
          <h2>Manager</h2>
        </li>
      </ul>
      <div class="clearfix"></div>

      <h4>Who can Approve?</h4>

      <div class="work-flow-lft col-md-5">

        <h4>Select a role for Approval. More than one role can be selected</h4>

        <ul class="col-md-7">
          <li>
            <h6>Roles</h6>
          </li>
          <li *ngIf="!updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobManagerName" (ngModelChange)="empJobManagerPerson($event)"
              placeholder="Reports To">
              <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobManagerName"
              (ngModelChange)="empJobManagerPersonUpdate($event)" placeholder="Reports To">
              <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="!updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobHrName" (ngModelChange)="empJobHrPerson($event)"
              placeholder="HR">
              <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobHrName" (ngModelChange)="empJobHrPersonUpdate($event)"
              placeholder="HR">
              <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="!updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobSplRole" (ngModelChange)="jobSpecialRole($event)"
              placeholder="special Role create">
              <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="updateJobWorkflow">
            <mat-select class="form-control" [(ngModel)]="jobSplRole" (ngModelChange)="jobSpeciaRoleUpdate($event)"
              placeholder="special Role update">
              <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="!updateJobWorkflow" class="border">
            <mat-select class="form-control" [(ngModel)]="jobEmpName" (ngModelChange)="empJobSpecialPerson($event)"
              placeholder="SpecificPerson">
              <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="updateJobWorkflow" class="border">
            <mat-select class="form-control" [(ngModel)]="jobEmpName"
              (ngModelChange)="empJobSpecialPersonUpdate($event)" placeholder="SpecificPerson">
              <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
              </mat-option>
            </mat-select>
          </li>
        </ul>


        <div class="clearfix"></div>

      </div>


      <div class="work-flow-lft col-md-6 pull-right">
        <h4>Move the role up or down to the desired approval priority ranking.</h4>
        <ul class="col-md-7">

          <li class="border">
            <h6>Approval Priority</h6>
          </li>

          <li cdkDropList class="example-list border" (cdkDropListDropped)="dropForJob($event)">
            <div class="example-box" *ngFor="let data of priorityUsersJob" cdkDrag><span><i class="fa fa-list-ul"
                  aria-hidden="true"></i></span>{{data.name}}</div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <hr>

      <button class="btn pull-left cancel" (click)="modalRef.hide()">Cancel</button>
      <button *ngIf="!updateJobWorkflow" class="btn pull-right save" (click)="jobWorkflowSubmit()">Submit</button>

      <button *ngIf="updateJobWorkflow" class="btn pull-right save" (click)="jobUpdateWorkflow()">update</button>
      <div class="clearfix"></div>
      <div class="clearfix"></div>

    </div>

  </div>
</ng-template>

<ng-template #compensationChangeWorkflowTemplate class="demographic-popup">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Compensation Change Workflow</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="work-flow col-md-11">
      <h4>Who can request the change?</h4>

      <ul>
        <!-- <li class="col-md-2">
          <mat-checkbox>Employee</mat-checkbox>
        </li> -->

        <li class="col-md-2">
          <h2>Manager</h2>
        </li>
      </ul>
      <div class="clearfix"></div>

      <h4>Who can Approve?</h4>

      <div class="work-flow-lft col-md-5">

        <h4>Select a role for Approval. More than one role can be selected</h4>

        <ul class="col-md-7">
          <li>
            <h6>Roles</h6>
          </li>
          <li *ngIf="!updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationManagerName"
              (ngModelChange)="empCompensationManagerPerson($event)" placeholder="Manager">
              <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationManagerName"
              (ngModelChange)="empCompensationManagerPersonUpdate($event)" placeholder="Manager">
              <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="!updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationHrName"
              (ngModelChange)="empCompensationHrPerson($event)" placeholder="HR">
              <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationHrName"
              (ngModelChange)="empCompensationHrPersonUpdate($event)" placeholder="HR">
              <mat-option *ngFor="let data of hrData" [value]="data._id"> {{data.levelName}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="!updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationSplRole"
              (ngModelChange)="compensationSpecialRole($event)" placeholder="special Role create">
              <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
              </mat-option>
            </mat-select>
          </li>

          <li *ngIf="updateCompensationWorkflow">
            <mat-select class="form-control" [(ngModel)]="compensationSplRole"
              (ngModelChange)="compensationSpeciaRoleUpdate($event)" placeholder="special Role update">
              <mat-option *ngFor="let data of splRoleData" [value]="data._id"> {{data.name}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="!updateCompensationWorkflow" class="border">
            <mat-select class="form-control" [(ngModel)]="compensationEmpName"
              (ngModelChange)="empCompensationSpecialPerson($event)" placeholder="SpecificPerson">
              <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
              </mat-option>
            </mat-select>
          </li>
          <li *ngIf="updateCompensationWorkflow" class="border">
            <mat-select class="form-control" [(ngModel)]="compensationEmpName"
              (ngModelChange)="empCompensationSpecialPersonUpdate($event)" placeholder="SpecificPerson">
              <mat-option *ngFor="let data of employeeData" [value]="data._id">{{data.personal.name.preferredName}}
              </mat-option>
            </mat-select>
          </li>
        </ul>

        <div class="clearfix"></div>

      </div>


      <div class="work-flow-lft col-md-6 pull-right">
        <h4>Move the role up or down to the desired approval priority ranking.</h4>
        <ul class="col-md-7">

          <li class="border">
            <h6>Approval Priority</h6>
          </li>

          <li cdkDropList class="example-list border" (cdkDropListDropped)="dropCompensation($event)">
            <div class="example-box" *ngFor="let data of priorityUsersCompensation" cdkDrag><span><i
                  class="fa fa-list-ul" aria-hidden="true"></i></span>{{data.name}}</div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <hr>

      <button class="btn pull-left cancel" (click)="modalRef.hide()">Cancel</button>
      <button *ngIf="!updateCompensationWorkflow" class="btn pull-right save"
        (click)="compensationWorkflowSubmit()">Submit</button>

      <button *ngIf="updateCompensationWorkflow" class="btn pull-right save"
        (click)="compensationUpdateWorkflow()">update</button>
      <div class="clearfix"></div>

    </div>

  </div>

</ng-template>