<div class="work-schedule-top col-md-12">

    <ul class="col-md-7">
      <li class="col-md-4">
        <label>Leave Eligibility Group</label>
        <input type="text" class="form-control" [(ngModel)]="groupName" disabled>
        <!-- <mat-select class="form-control" placeholder="Select Group">
          <mat-option value=""></mat-option>
        </mat-select> -->
      </li>
  
  
      <li class="col-md-4">
        <label>Leave Eligibility <br> Group Effective Date</label>
        <div class="date">
          <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="effectiveDate" disabled>
          <mat-datepicker #picker1></mat-datepicker>
          <button mat-raised-button (click)="picker1.open()">
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </button>
          <div class="clearfix"></div>
        </div>
      </li>
    </ul>
  
    <div class="schedule-right pull-right">
      <ul>
        <li><a data-toggle="modal" data-target="#myModal" (click)="getLeaveEligibilityGroupHistory()">Change Leave Eligibility Group</a></li>
        <li><a data-toggle="modal" data-target="#myModal1">Request Time Off</a></li>
      </ul>
    </div>
  
    <div class="clearfix"></div>
  </div>
  
<div class="schedule-time-main">

<div class="schedule-tabs">
   <h2>Accrual Balances</h2>
  <ul class="nav nav-tabs">
    <li>
      <a href="#tab1" data-toggle="tab">Summary</a>
    </li>
    <li class="active">
      <a href="#tab2" data-toggle="tab">List</a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>


  <div class="tab-content">

    <div class="tab-pane" id="tab1">
        <app-summery></app-summery>
    </div>

    <div class="tab-pane active" id="tab2">
      <app-list></app-list>
    </div>

  </div>



</div>



<!-- Work Schedule History -->
<div class="work-history">

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
  
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change Leave Eligibility Group</h4>
          </div>
          <div class="modal-body">
            
            <div class="history-table col-md-11">

                <table class="table">
                    <thead>
                      <tr>
                        <th>Leave Eligibility Group Name</th>
                        <th>Effective Date</th>
                        <th>End Date</th>
                       </tr>
                    </thead>
                    <tbody> 
                      <tr *ngFor ="let history of leaveEligibilityGroupHistory">
                        <td>
                          <span *ngIf="history.leave_eligibility_id">
                              {{history.leave_eligibility_id.name}}
                          </span></td>
                        <td>
                         <span *ngIf="history.leave_eligibility_id"> {{history.leave_eligibility_id.effectiveDate | date:'MM/dd/yyyy'}}</span>
                        </td>
                        <td>{{history.leave_EligGrp_EndDate | date:'MM/dd/yyyy'}}</td>
                      </tr>

                      
                    </tbody>
                </table>


                <button class="btn" data-dismiss="modal">Ok</button>

            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>


  <!-- Request Time Off -->
<div class="work-history">

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Request Time Off</h4>
        </div>
        <div class="modal-body">
          
          <div class="request-time-of col-md-11">

             <ul>

               <li>
                 <label>Employee Name</label>
                 <mat-select class="form-control" placeholder="Employee Name">
                  <mat-option value=''>Name</mat-option>
                  <mat-option value=''>name</mat-option>
                </mat-select>
               </li>

               <li>
                  <label>Select Policy Type</label>
                  <mat-select class="form-control" placeholder="Policy Type">
                   <mat-option value=''>Name</mat-option>
                   <mat-option value=''>name</mat-option>
                 </mat-select>
                </li>

             </ul>


             <div class="summery-accord">

                <div class="panel-group" id="accordion12">
              
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseTen1">
                          Time Sheet
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTen1" class="panel-collapse collapse in">
                      <div class="panel-body">
              
                        <div class="requested-time">
              
                            <div class="top-history">
              
                                <ul>
              
                                  <li class="pull-right">
              
                                    <div class="range pull-left">
                                      <label>Begin Date Range(T1)</label>
                                      <div class="date">
                                        <input matInput [matDatepicker]="picker10" placeholder="mm / dd / yy"
                                          class="form-control">
                                        <mat-datepicker #picker10></mat-datepicker>
                                        <button mat-raised-button (click)="picker10.open()">
                                          <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                          </span>
                                        </button>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
              
                                    <div class="range pull-left">
                                      <label>End Date Range(T2)</label>
                                      <div class="date">
                                        <input matInput [matDatepicker]="picker11" placeholder="mm / dd / yy"
                                          class="form-control">
                                        <mat-datepicker #picker11></mat-datepicker>
                                        <button mat-raised-button (click)="picker11.open()">
                                          <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                          </span>
                                        </button>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
              
                                    <div class="clearfix"></div>
                                  </li>
              
                                  <li class="col-md-5 select-date pull-right">
                                      <label>Select Date Range</label>
                                      <mat-select placeholder="Specific date range" class="form-control">
                                        <mat-option value="">Last Week</mat-option>
                                      </mat-select>
                                    </li>
              
                                </ul>
                                <div class="clearfix"></div>
              
                              </div>
              
              
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>
                                        <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                      </th>

                                      <th>Day</th>
                                      <th>Date</th>
                                      <th>Total Number of Hours</th>
                                      <th>Current Accrual Balance</th>
                                      <th>Accrual Balance as of 12/31</th>
                                      <th>Schedule Hours Not Taken Yet</th>
                                      
                                      <th>
                                        <button mat-icon-button [matMenuTriggerFor]="menu1"
                                          aria-label="Example icon-button with a menu">
                                          <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu1="matMenu">
                                          <button mat-menu-item>
                                            <a (click)="timeOffAdd()">Add</a>
                                          </button>
                                          <button mat-menu-item>
                                              <a>Edit</a>
                                            </button>
                                          <button mat-menu-item>
                                              <a>Delete</a>
                                            </button>
                                        </mat-menu>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                                      </td>
                                      <td>Monday</td>
                                      <td>19/10/2020</td>
                                      <td>10:00</td>
                                      <td>6:00</td>
                                      <td>Bi-Weekly</td>
                                      <td>7:00</td>
                                    </tr>
              
              
                                  </tbody>
                                </table>
              
              
                          <!-- <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]"
                                  (page)="pageEvents($event)"></mat-paginator> -->
              
                        </div>
              
                      </div>
                    </div>
                  </div>
              
                </div>
              
                <button class="btn submit" (click)="applyScheduleTimeOff()">Submit</button>
                <button class="btn cancel" data-dismiss="modal">Cancel</button>
               <div style="margin-top:25px;">
                <button class="btn submit" (click)="updateScheduleTimeOff('Approved')">Approve</button>
                <button class="btn reject" (click)="updateScheduleTimeOff('Rejected')">Reject</button>
                <button class="btn cancel" data-dismiss="modal" (click)="updateScheduleTimeOff('Pending')">Cancel</button>
               </div>
              
              </div>


              
          </div>

        </div>

      </div>

    </div>
  </div>

</div>



  <!-- Request Time Off Added-->
  <div class="work-history request-add">

      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
    
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Request Time Off Added</h4>
            </div>
            <div class="modal-body">
              
              <div class="request-time-of col-md-11">
    
                 <ul>
    
                   <li>
                     <label>Day</label>
                    <input class="form-control" type="text" placeholder="Day">
                   </li>

                   <li>
                      <label>Date</label>
                      <div class="date1">
                          <input matInput [matDatepicker]="picker20" placeholder="mm / dd / yy"
                            class="form-control">
                          <mat-datepicker #picker20></mat-datepicker>
                          <button mat-raised-button (click)="picker20.open()">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                          <div class="clearfix"></div>
                        </div>
                    </li>

                    
                    <li>
                      <label>Total Number of Hours</label>
                      <input class="form-control" type="text" placeholder="Number of Hours">
                    </li>


                    <li>
                        <label>Current Accrual Balance</label>
                        <input class="form-control" type="text" placeholder="Current Balance">
                      </li>


                      <li>
                          <label>Accrual Balance</label>
                          <input class="form-control" type="text" placeholder="Accrual Balance">
                        </li> 

                        <li>
                            <label>Schedule Hours Not Taken Yet</label>
                            <input class="form-control" type="text" placeholder="Schedule Hours">
                          </li>     
    
                 </ul>

                 <button class="btn submit">Submit</button>
                <button class="btn cancel" data-dismiss="modal">Cancel</button>
                 
    
              </div>
    
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>