.schedule-right ul li a { width: 250px !important;}
.request-time-of ul li label { height: 50px !important;}

.schedule-time-main { display: block; clear: both;}

.schedule-tabs {padding:5px 0 0; margin: 0 0 7px;}
.schedule-tabs h2{ font-size: 20px; color: #484747; padding: 0 0 15px;}
.schedule-tabs .tab-content { margin:40px 0 0;}
.schedule-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{ border-bottom:#008f3d 4px solid !important;background:transparent; color:#484747 !important;
border-radius: 0 !important;padding: 15px 10px;}
.schedule-tabs .nav-tabs {border-bottom:none;display: inline-block; background: #fff; width: 21%;}
.schedule-tabs .nav-tabs > li { margin: 0 10px; border-right:#ccc 1px solid; padding: 0 10px;}
.schedule-tabs .nav-tabs > li > a {font-size: 17px !important;line-height: 17px;font-weight:normal;color:#484747;border: none;
margin: 0; cursor: pointer; padding: 15px 10px;}
.schedule-tabs .nav > li > a:hover, .nav > li > a:focus { background:transparent; color: #484747 !important;border-radius: 0 !important;}
.schedule-tabs .nav-tabs > li.active{margin: 0px 10px -1px;color:#484747 !important;border-bottom:none !important; padding: 0 10px;} 
.schedule-tabs .nav-tabs > li:nth-last-child(1) { border-right: none;}


.request-time-of { float: none; margin: 0 auto; padding: 0;}

.request-time-of ul {padding: 10px 0 0;}
.request-time-of ul li { margin: 0 0 15px; padding: 0;}
.request-time-of ul li label{color: #484747; font-weight: normal; font-size: 16px;display:inline-block; width: 150px;}
.request-time-of ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:20%;
background:#f8f8f8; font-size: 16px;display: inline-block;}
.request-time-of ul li .form-control:focus{ box-shadow: none;}

.top-history{ margin:-10px 0 10px; float: right; width: 70%;}
.top-history ul{ display: block;}
.top-history ul li{ padding: 0 5px;}
.top-history ul li.select-date{ margin:48px 0 0;}
.top-history ul li label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 7px 15px 0;width:auto;}
.top-history ul li .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;
width:60%; font-size: 15px;background: #f8f8f8; display: inline-block;}

.top-history ul li .range{ margin: 0 5px;}
.top-history ul li .range label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 0 7px; display: block;}

.top-history ul li .range .date { height: auto !important; line-height:inherit !important;background:#f8f8f8; width: 165px;}
.top-history ul li .range .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.top-history ul li .range .date span { border: none !important; padding: 0 !important;}
.top-history ul li .range .date .form-control { width:72%; height: auto; padding: 12px 0 12px 10px;}
.top-history ul li .range .date .form-control:focus { box-shadow: none; border: none;}
.top-history ul li .range .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.summery-accord .btn.submit {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff;
margin: 0 20px 0 0; display: inline-block;}
.summery-accord .btn.reject {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #fff; border: 1px solid #efc0c0;
    margin: 0 20px 0 0; display: inline-block;}
.summery-accord .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 20px;font-size: 16px; display: inline-block;}

.summery-accord .panel-group {
    margin-bottom: 50px;
}
.work-schedule-top ul li label { height: 50px;}


.date1 { height: auto !important; line-height:inherit !important;background:#f8f8f8; width: 165px;}
.date1 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;border-left: #ccc 1px solid;
border-radius: 0;}

.date1 span { border: none !important; padding: 0 !important;}
.request-add .date1 .form-control { width:72% !important; height: auto; padding: 12px 0 12px 10px;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.request-add .request-time-of ul li { margin: 0 0 25px;}
.request-add .request-time-of ul li label { padding: 0 0 10px; display: block; height:auto !important; width:auto;}
.request-add .request-time-of ul li .form-control { width: 16%;}


.request-add .request-time-of .btn.submit {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff;
    margin: 0 20px 0 0; display: inline-block;}
.request-add .request-time-of .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 20px;font-size: 16px; display: inline-block;}
.request-add .request-time-of ul {padding:30px 0;}