.schedule-main { display: block;}

.schedule-main h3 { border-bottom:#ccc 1px solid; font-size:18px; margin: 0 0 20px; padding: 0 0 20px;color: #696666;}

.schedule-in { margin: 0 auto; float: none; padding: 0;}
.schedule-in h4 {font-size:18px; margin: 0; padding: 0 0 20px;color: #696666;}

.schedule-in > ul { display: inline-block; width: 100%; margin: 0 0 15px;}
.schedule-in > ul > li { padding: 0; margin: 0 20px 0 0;}
.schedule-in > ul > li label{color:#808080;font-size: 17px; padding: 0 0 10px;}
.schedule-in > ul > li .form-control{ border: none; box-shadow: none; padding:12px; height: auto;
background:#f8f8f8;}
.schedule-in > ul > li .form-control:focus{ box-shadow: none;}

.interview-details{border-top:#ccc 1px solid; padding: 20px 0 0; margin: 20px 0 0;}
.interview-details-in { margin: 0 auto; float: none; padding: 0;}
.interview-details-in li a {color:#808080; font-size: 16px; text-decoration: underline;}
.interview-details-in li { margin: 0 0 20px;}

.schedule-main .btn.save {border-radius: 20px;font-size: 16px; padding:6px 30px;
background: #008f3d; color:#fff;}
.schedule-main .btn.cancel {color:#e5423d; background:transparent;font-size: 16px;}

.border-top { border-top:#ccc 1px solid; padding: 20px 0 0;}
.border-mdl { margin: 0 auto; float: none; padding: 0;}


.date { height: auto !important; line-height:inherit !important; width:100%;background:#f8f8f8;}
.edit-work .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
width: 40px;height: 30px; min-width: auto; border-left: #ccc 1px solid; border-radius: 0;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:65%; height: auto; padding: 13px 0 13px 10px; border: none; box-shadow: none; display: inline-block;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}