<div class="schedule-main">
  <h3>Schedule / Score Interview </h3>

 <div class="schedule-in col-md-11">

    <h4>Interview Follow Up</h4>

   <ul>
     <li class="col-md-4">
       <label>Candidate Name</label>
       <input type="text" class="form-control" placeholder="Candidate name">
     </li>
   </ul>    
   <div class="clearfix"></div>

   <ul>
    <li class="col-md-3">
      <label>Job Title</label>
      <input type="text" class="form-control" placeholder="Job title">
    </li>

    <li class="col-md-3">
      <label>Job Requisition Number</label>
      <input type="text" class="form-control" placeholder="Job number">
    </li>
  </ul>    
  <div class="clearfix"></div>


  <ul>
    <li class="col-md-3">
      <label>Interviewer Name</label>
      <input type="text" class="form-control" placeholder="Interviewer name">
    </li>

    <li class="col-md-3">
      <label>Interviewer Role</label>
      <input type="text" class="form-control" placeholder="Interviewer role">
    </li>
  </ul>    
  <div class="clearfix"></div>


  <ul>
    <li class="col-md-3">
      <label>Interview Date</label>
      <div class="date">
        <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control">
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button (click)="picker1.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>
    </li>

    <li class="col-md-3">
      <label>Interview Round</label>
      <mat-select class="form-control" placeholder="Interview round">        
        <mat-option value="option1">Option 1</mat-option>
      </mat-select>
    </li>

    <li class="col-md-3">
      <label>Interview Score</label>
      <input type="text" class="form-control" placeholder="Interview score">
    </li>
  </ul>     
  <div class="clearfix"></div>

 </div>

 <div class="schedule-in interview-details">
    <div class="interview-details-in col-md-11">

  <h4>Interview Details</h4>

  <ul>
    <li><a href="#">Decline</a></li>
    <li><a href="#">Schedule Another Interview</a></li>
    <li><a href="#">Recommend for Another Position</a></li>
    <li><a href="#">Make Offer</a></li>
  </ul>    
  <div class="clearfix"></div>

</div>
</div>
   
  <div class="border-top">
     <div class="border-mdl col-md-11">
       <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
       <button class="btn pull-right save">Submit</button>
       <div class="clearfix"></div>

     </div>
  </div>
   

</div>