<div class="manager-approval col-md-11">

 
  <div class="approval-tabs">

    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-approval/compensation">Compensation</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-approval/job">Job</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-approval/time-sheet">Time Sheet</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/admin-dashboard/employee-management/manager-self-service/manager-approval/vacation">Vacation</a>
      </li>
    </ul>
    <div class="clearfix"></div>

  </div>


  
</div>



<router-outlet></router-outlet>