.manager-approval { margin: 0 auto; float: none;padding: 0;}

.approval-tabs {display: block;padding:20px 0 0;}
.approval-tabs .tab-content { margin:40px 0 0;}
.approval-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{ border: none !important;background:#5b5e5c; color:#fff !important;border-radius: 4px !important;}
.approval-tabs .nav-tabs {border-bottom:#ccc 1px solid ; padding: 0 0 25px;}
.approval-tabs .nav-tabs > li { margin: 0 30px;}
.approval-tabs .nav-tabs > li > a {font-size: 17px !important;line-height: 17px;font-weight:normal;color:#484747;
border: none;padding:13px 30px 14px !important;margin: 0; cursor: pointer;}
.approval-tabs .nav > li > a:hover, .nav > li > a:focus { background:#787d7a; color: #fff !important;border-radius: 4px !important;}
.approval-tabs .nav-tabs > li.active a{color:#fff !important;} 