<div class="login-footer">
  <div class="container">
    <div class="row">

      <figure><a href="#"><img src="../../../assets/images/main-nav/whitelogo2.png" width="200" alt="img"></a></figure>

      <div class="copy">
        <p>2019 © Copyright | Zenwork, Inc. | All Rights Reserved. | <a href="#">Privacy Policy</a> | 
          <a routerLink="/terms" (click)="termsClick()">Terms
            of Use</a> </p>
      </div>

    </div>
  </div>
</div>