
.login-footer { background: #3e3e3e; padding: 30px 0 25px; margin:50px 0 0; position: relative;}

.login-footer figure { position: absolute; top:35px; left: 10%;}

.copy{ text-align: center;}
.copy p { color: #807e7e; font-size: 15px; line-height: 15px; padding: 10px 0 0;}
.copy p a {color: #807e7e;}