<div class="setting-table">

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="cont-check">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="selectPackages" (change)="selectAllPackages()">
              Package Name
            </mat-checkbox>
          </div>
        </th>
        <th>Package Cost</th>
        <th>Per Employee Cost</th>
        <th>Frequency</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>
          <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/super-admin/super-admin-dashboard/settings/packages-add">Add</a>
              </li>
              <li>
                <a (click)="editPackage()">Edit</a>
              </li>
              <li >
                <a (click)="deletePackages()">Delete</a>
              </li>
              <!-- <li>
                <a>Copy</a>
              </li> -->
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let package of packages">
        <td [ngClass]="{'zenwork-checked-border':package.isChecked}">

          <div class="cont-check">
            <div>
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="package.isChecked">
                {{package.name}}
              </mat-checkbox>

            </div>
          </div>

        </td>
        <td>{{package.price}}</td>
        <td>{{package.costPerEmployee}}</td>
        <td>{{package.subscriptionType}}</td>
        <td>{{package.status}}</td>
        <!-- <td>{{package.startDate | date}}</td>
        <td>{{package.endDate | date}}</td> -->
        <td>--</td>
        <td>--</td>
        <td></td>
      </tr>

  </table>
  <mat-paginator [length]="packagesCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEventsforPackages($event)">
  </mat-paginator>

  <div class="tax-rate">
    <h2>Zenwork Tax</h2>
    <ul>
      <li class="col-md-2">
        <label>Tax Rate</label>
        <input type="text" placeholder="tax-rate" maxlength="3" (keypress)="keyPress($event)" [(ngModel)]="taxrate.tax_rate"
          class="form-control">
      </li>
      <li class="col-md-2">
        <a class="btn" (click)="taxrateSend()" type="submit">Submit</a>
      </li>
    </ul>
    <div class="clearfix"></div>

  </div>

  <h5>coupons</h5>

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="cont-check">
            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="selectAllCoupons" (change)="selectAll()">
              Coupon Name
            </mat-checkbox>
          </div>
        </th>
        <th>Coupon %</th>
        <th>Coupon $</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>
          <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/super-admin/super-admin-dashboard/settings/coupons-add">Add</a>
              </li>
              <li>
                <a (click)="editCoupon()">Edit</a>
              </li>
              <li>
                <a (click)="deleteAdons()">Delete</a>
              </li>
              <!-- <li>
              <a>Delete</a>
            </li>
            <li>
              <a>Copy</a>
            </li> -->
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let coupon of coupons">
        <td [ngClass]="{'zenwork-checked-border':coupon.isChecked}">

          <div class="cont-check">
            <div>
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="coupon.isChecked">
                {{coupon.name}}
              </mat-checkbox>

            </div>
          </div>

        </td>
        <td *ngIf="coupon.couponType == 'Percentage'">{{coupon.percentage}} % </td>
        <td *ngIf="coupon.couponType != 'Percentage'">-- </td>
        <td *ngIf="coupon.couponType == 'Value'">$ {{coupon.flatDiscountAmount}}</td>
        <td *ngIf="coupon.couponType != 'Value'">-- </td>
        <td>{{coupon.startDate | date}}</td>
        <td>{{coupon.endDate | date}}</td>
        
        <td></td>
      </tr>

  </table>

  <mat-paginator [length]="countforCoupon" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEventsforCoupons($event)">
  </mat-paginator>



</div>

<router-outlet></router-outlet>