/* .setting-table{height: 100vh;} */
.setting-table .table>thead>tr>th { padding: 18px 15px;}
.setting-table .table>tbody>tr>td, .setting-table .table>tfoot>tr>td, .setting-table .table>thead>tr>td { padding: 17px 15px;}

.tax-rate { margin: 40px 0 0;}
.tax-rate h2 {font-size: 18px; color:#008f3d; margin: 0 0 20px;}

.tax-rate > ul { margin: 0 0 30px; width: 100%; display: inline-block;}
.tax-rate > ul > li { padding: 0 10px 0 0; margin: 0 20px 0 0;}
.tax-rate > ul > li label { font-size: 17px; line-height: 17px; color:#484747; margin: 0; font-weight: normal; padding: 0 0 14px;}
.tax-rate > ul > li .form-control { background:#fff; height: auto; border: none; color:#484747; box-shadow: none; padding: 12px 16px; font-size: 15px;}

.tax-rate ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #484747;
}
.tax-rate ul li .form-control::-moz-placeholder { /* Firefox 19+ */
color: #484747;
}
.tax-rate ul li .form-control:-ms-input-placeholder { /* IE 10+ */
color: #484747;
}
.tax-rate ul li .form-control:-moz-placeholder { /* Firefox 18- */
color: #484747;
}
.tax-rate a.btn {border-radius: 20px;color:#fff; font-size: 15px; padding:6px 35px; background:#008f3d; margin: 35px 0 0;}

.setting-table h5 {font-size: 18px; color:#008f3d; margin: 0 0 20px;}