.zenwork-jumbotron-bg{
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    padding: 35px;
}
.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 6px 16px;
    font-size: 14px;
    margin:  0 10px 0 0;
}
.margin-top-40{
    margin: 40px 0 0 0;
}

.nav-link {
    color:#3e3e3ea3!important;
}

.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}
.zenwork-inner-icon{
    width: 30px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.sub-title{
    display: inline-block;
    margin: 5px 0 0;
}
a:hover{
    text-decoration: none;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important;
    vertical-align: middle;
}
.main-tabs-heading{
    margin: 0 auto;
    float: none;
    padding: 0;
}
::ng-deep .ngx-tabs-customstyle a{
    width: 33%!important;
} 
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{

    border-radius: 0px!important;
    color: #353131!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348;
    background: #f8f8f8;
}
.hire-wizard{
    width:100%;
    float:left; margin: 30px 0 0;
}

.hire-wizard-empty{
    width:100%;
    border-bottom: 1px solid #ddd;
    float:right;
    margin-top:45px;
}

.zenwork-currentpage{
    padding-top: 25px;
}
.main-employee{
    width: 22px
}
.zenwork-custom-company-settings{
    padding-top: 40px;
    width:100%;
}

.zenwork-margin-zero b{
    font-size: 14px!important;
    color: #404040;
}
.zenwork-custom-company-settings a{
    color : #3e3e3ea3;
    text-decoration: none;
}
.jumbotron p{
    font-size:25px !important; font-weight: 600;color: #3f3e3f;
}


.zenwork-settings-wrapper{
    padding: 20px; 
}
small{
    font-size: 9px;
    color:#3e3e3ea3;
}
.border-top{
    border-top: 1px solid #e4eae7;
}
.border-right{
    border-right: 1px solid #e4eae7;
    height:110px;
}
/* 
div.border-right:nth-child(odd) { border-right:#000 10px solid;} */

.margin-bottom-20{
    margin:0 0 20px;
}
.hire-heading{
    font-weight: 400;
    font-size: 20px; padding: 15px 0 30px;
}
.new-sub-heading{
    font-weight: 600;
    font-size: 18px; color:#636363; padding: 15px 0 0; display: block;
}
.add-template-main{
    width:100%;
    border-bottom: 1px solid #eeeeee;

}
.add-template{
    width:20%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.add-template .btn-employee{
    background-color: #439348 !important;
    font-size: 12px;
    padding: 3px 12px !important;
}
.add-fields{
    width:80%;
    float: right;
    margin-top:20px;

}
.add-buttons{
    display: inline-block;
    float: right;
}
.list-buttons{
    display: inline-block;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 600;
}
.plus-icon{
    color:#439348 !important;
}
.main-onboarding .panel-heading{
    padding:10px 15px!important;
}
.main-onboarding{
    width:100%;
    margin-top: 40px;
}
.main-onboarding .panel-font{
    color:#439348 !important;
    font-weight: 600;
    margin-top: 5px;
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.settings-dropdown{
    float:right;
    background: #fff;
    border: none;
}
.main-onboarding .panel-heading .btn{
    padding:2px 6px!important;
    border-radius: 0!important;
}
.caret{
    margin-bottom: 5px!important;
}
.panel-body{
    padding:15px 15px 0px 15px !important;
}
.hr-tasks{
    font-size: 13px;
    font-weight: 600;
}
.individual-hr-task{
    font-size:12px;
}
.margin-top-zero{
    margin-top:0px!important;
}
.padding-top-remove{
    padding-top:0px!important;
}
.team-introdution-card{
    background-color: #fcfcfc;
    border-radius: 2px;
    padding: 10px;
}
.margin-zero{
    margin:0px!important;
}
.team-introdution-card .padding-top-remove small{
    padding-left:25px; 
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.card-intro{
    font-size: 11px;
    padding-left: 30px;
}
.team-introdution-card .individual-hr-task{
    font-weight: 600;
    color: #439348;
}


  .checkbox {
    padding-left: 20px;
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 7px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 7px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
    
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
 
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #439348 !important;
    border-color: #439348 !important;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .emp-image{
    padding-top: 0;
    width: 43px;
    display: inline-block;
    vertical-align: middle;
  }
  .employee-details{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
  }
  .employee-image-info{
    padding-left: 20px;
  }
  .emp-name{
    font-size: 11px;
    padding-left: 0;
    display: block;
    line-height: 11px;
  }
  .borderright{
      border-right: 1px solid #eee;
  }
  .team-text-area{
    margin-top:10px;
  }
  textarea{
     resize: none;
     border: 0;
     box-shadow: none;
     background: #f8f8f8;
  }
  .btn-color{
    border: 1px solid #EF8086;
    color: #ef8086;
  }
  .new-emp-paperwork{
    margin-top: 20px;
    padding-left: 15px;
  }
  .new-emp-paperwork .emp-paperwork-heading{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0 0 0;
  }
  .newhire-packets{
    display: inline-block;
    width:234px;

}
.newhire-checkbox{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
  .newhire-content{
    display: inline-block;
    vertical-align: middle;
  }
  .insert-drive{
  width: 11px;
  display: inline-block;
  vertical-align: middle;
  }
  .image-items{
      display: inline-block;
      padding:0px 7px;
  }
  .open>.settings-dropdown.btn-default{
    background: #fff;
}
.settings-dropdown:hover,.settings-dropdown:active{
    background: #fff !important;
}


/*-- Author:Suresh M, Date:18-04-19  --*/
/*-- Tab css code  --*/

.new-hire-wizard { position: relative;}
.top-menu { position: absolute; top:-20px; right:-10px;}

.new-wizard { display: block;}
.new-wizard .modal-dialog { width: 75%;}
.new-wizard .modal-content {border-radius: 5px;}
.new-wizard .modal-header {padding: 20px 30px;}
.new-wizard .modal-body { padding: 0;}

.wizard-tabs { display: block;}

.wizard-lft { background: #f8f8f8; padding: 15px 15px 75px 0;border-radius: 0 0 0 5px; height:80vh;}
.wizard-lft.custom-wizard{height:70vh;}
.wizard-lft .nav-tabs{ border:none;}
.wizard-lft .nav-tabs>li { float: none; margin: 0 0 15px;}
.wizard-lft .nav-tabs > li.active > a, .wizard-lft .nav-tabs > li.active > a:focus, .wizard-lft .nav-tabs > li.active > a:hover 
{ border-bottom: none !important;background:transparent; color:#a5a3a3; border-radius: 30px;}
.wizard-lft .nav-tabs>li>a { font-size: 17px; margin: 0 0 0 20px; color: #a5a3a3;}
.wizard-lft .nav>li>a:focus, .wizard-lft .nav>li>a:hover { background: transparent; color:#a5a3a3;}

.wizard-rgt { padding:0 0 30px 30px;}
.wizard-hight { height: 550px; overflow-y: auto;}

.personal { margin: 30px auto 40px; float: none; height: 500px; overflow-y: auto;}
.personal .panel-default>.panel-heading { padding: 0 0 25px; background-color:transparent !important; border: none;}
.personal .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.personal .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.personal .panel-title>.small, .personal .panel-title>.small>a, .personal .panel-title>a, .personal .panel-title>small, .personal .panel-title>small>a { text-decoration:none;}
.personal .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.personal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.wizard-popup {border-bottom:#ccc 1px solid !important; margin: 0 0 25px;}
.personal .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.personal .panel-group .panel-heading+.panel-collapse>.list-group, .personal .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.personal .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.personal .panel-body { padding: 0 0 5px;}

.personal .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.personal .panel-default { border-color:transparent;}
.personal .panel-group .panel+.panel { margin-top: 20px;}
.personal .panel.border{ border: none !important;}



.personal-cont { display:block; padding: 0 0 30px;}
.personal-cont ul { display:inline-block; width:100%;}
.personal-cont ul li { margin: 0 0 25px; padding: 0;}
.personal-cont ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.personal-cont ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%; background:#f8f8f8;}
.personal-cont ul li .form-control:focus{ box-shadow: none;}
.personal-cont ul li a {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    background: #484747;
    margin:34px 0 0;
    padding: 8px 10px;
}

.personal-cont ul li .btn {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
    background: #484747;
    margin:34px 0 0;
    padding: 8px 10px;
}

.personal-cont ul li .date { height: auto !important; line-height:inherit !important; width:95%;background:#f8f8f8;}
.personal-cont ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.personal-cont ul li .date span { border: none !important; padding: 0 !important;}
.personal-cont ul li .date .form-control { width:77%; height: auto; padding: 12px 0 12px 10px;}
.personal-cont ul li .date .form-control:focus { box-shadow: none; border: none;}
.personal-cont ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.personal-cont ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#484747;
  }
.personal-cont ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484747;
  }
.personal-cont ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484747;
  }
.personal-cont ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484747;
  }

.personal-cont ul li.veteran, .personal-cont ul li.personal-dob { float: none; clear: both;}

.personal-cont ul li em { display: inline-block; width:12%; background:#f8f8f8; float: left; font-style: normal; padding: 11px 0; text-align: center;}
.personal-cont ul li .form-control.payrate{ width: 83%; display: inline-block;float:left; padding: 11px 12px 11px 0;}

.administration-address { padding: 0 0 20px;}
.administration-address ul { display: inline-block; width: 100%;}
.administration-address ul li { padding: 0; margin: 0 20px 20px 0; float: none;}
.administration-address ul li.details-width{ width: 25%;}
.administration-address ul li .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; height: auto; width: 100%; padding: 12px;background: #f8f8f8;}
.administration-address ul li select { background:#fff; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.administration-address ul li.city { width: 20%;float: left;}
.administration-address ul li.state { width: 20%; float: left;}
.administration-address ul li.zip { width: 20%; float: left; padding: 0;}
.administration-address ul li.united-state {width: 20%; padding: 0; clear: left;}

.administration-contact { display: block;}
.administration-contact ul { margin: 0 0 30px;display: inline-block; width: 100%;}
.administration-contact ul li {margin: 0 20px 15px 0; padding: 0;}
.administration-contact ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.administration-contact ul li .phone { display: block; background:#f8f8f8; padding:8px 10px;clear: left;}
.administration-contact ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding:4px 10px;}
.administration-contact ul li .phone span .fa { color: #636060;font-size: 23px;line-height: 20px;width: 18px;text-align: center;}
.administration-contact ul li .phone .form-control { display: inline-block;vertical-align:middle; width: 80%; border: none; background:#f8f8f8; box-shadow: none; padding: 0 0 0 10px;
height: auto; line-height: inherit;}
.administration-contact ul li .form-control { display: inline-block;vertical-align: middle; width: 40%; border: none;background: #f8f8f8; box-shadow: none; 
height: 40px; line-height: 40px; padding: 0 10px; font-size: 15px; margin: 0;}
.administration-contact ul li.phone-width {  clear:left;width:33%}
.administration-contact ul li.email-width { float: none;}
.social.administration-contact ul li.phone-width {  clear:left;width:25%}

.administration-contact ul li .phone.email-phone {display: inline-block;vertical-align: middle;width: 42%;}
.administration-contact ul li var {display: inline-block;vertical-align: middle;padding: 0 0 0 20px;font-style: normal; color:#a5a3a3; }

.wizard-rgt .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.wizard-rgt .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 30px;font-size: 16px;}
.wizard-rgt .btn.back { color:#4c4c4c; background:transparent;border:#b7b3b3 1px solid; padding: 8px 35px; border-radius: 20px;font-size: 16px;}

.personal .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.personal .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 30px;font-size: 16px;}
.personal .btn.back { color:#4c4c4c; background:transparent;border:#b7b3b3 1px solid; padding: 8px 35px; border-radius: 20px;font-size: 16px;}

.personal-cont .benefits > ul { margin:0 0 20px;}
.personal-cont .benefits > ul > li {position: relative;}
.personal-cont .benefits > ul > li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}

.personal-cont ul li.personal-dob .date .form-control{ width:80%;}
.personal-cont ul li.personal-dob .date{ width: 70%;}

.personal-cont ul li.personal-dob .form-control { width: 50%;}



/*-- Author:Suresh M, Date:18-04-19  --*/
/*-- Tab css code  --*/

.on-board{ padding:0;}
.on-board label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.on-board .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:25%; background:#f8f8f8; margin: 0 0 20px;}


.on-board .panel-default>.panel-heading { padding:15px 0 15px 30px; background-color:#edf7fe; border: none;}
.on-board .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.on-board .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.on-board .panel-title>.small, .on-board .panel-title>.small>a, .on-board .panel-title>a, .on-board .panel-title>small, .on-board .panel-title>small>a { text-decoration:none;}
.on-board .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid;}
.on-board .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.on-board .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.on-board .panel-group .panel-heading+.panel-collapse>.list-group, .on-board .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.on-board .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.on-board .panel-body { padding: 0 !important;}

.on-board .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto;}
.on-board .panel-default { border-color:transparent;}
.on-board .panel-group .panel+.panel { margin-top: 20px;}

.on-board-cont { background: #f8f8f8; padding: 20px 0 20px 30px;}
.on-board-cont h4 { margin: 0 0 20px; color:#484747;}

.on-board-cont ul { display: block;}
.on-board-cont ul li { border-bottom:#ccc 1px solid; padding: 0 0 15px; margin: 0 0 15px;}
.on-board-cont ul li h5 { margin: 0 0 5px;color:#484747;}
.on-board-cont ul li small { font-size: 14px; color:#ccc;}


.leave-schedule { display: block;}
.leave-schedule h3 {color:#484747; font-size: 18px; margin: 0 0 20px;}
.leave-schedule .table{ background:#fff; margin-bottom: 60px;}
.leave-schedule .table>tbody>tr>th, .leave-schedule .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.leave-schedule .table>tbody>tr>td, .leave-schedule .table>tfoot>tr>td, .leave-schedule .table>tfoot>tr>th, 
.leave-schedule .table>thead>tr>td {color: #484747;padding:15px;font-size:15px;background: #f8f8f8;border-bottom: 1px solid #ddd;}
.leave-schedule button.mat-menu-item a { color:#ccc;}
.leave-schedule button.mat-menu-item a:hover { color:#fff; background: #099247;}
.leave-schedule .table>tbody>tr>th a, .leave-schedule .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.leave-schedule .table>tbody>tr>th a .fa, .leave-schedule .table>thead>tr>th a .fa { color: #6f6d6d;}
.leave-schedule button { border: none; outline: none; background:transparent;}

.checkbox-for-custom{ display: inline-block;vertical-align:super; padding: 0 20px 0 0;}
.zenwork-custom-company-settings a { display: inline-block; vertical-align:text-bottom;}
.zenwork-custom-company-settings a img { cursor: pointer;}


.field-accordion .panel-default>.panel-heading { padding:10px 0 10px 14px; border: none;background-color: #edf7fe !important;}
.field-accordion .panel-title {  display: inline-block; padding: 0 0 0 7px;}
.field-accordion .panel-title a:hover { text-decoration: none;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;background: #fff;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}
.field-accordion span { padding: 0 0 0 30px;}

.hr-tasks{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 0 30px;
}
.hire-forms{
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0 0 27px;
}

.individual-hr-task{ 
    font-size:15px;
    padding: 15px 0;
    margin: 0;
}

.individual-hr-task small{
    padding: 0 0 0 28px;
    color: #ccc; font-size: 12px;
}
.summary-review { display: block;}


.summary-review {height: 570px; overflow-y: auto;}
.summary-review h2 { margin: 0 0 35px; color: #317b36;font-size: 20px;}
.personal1{ height: auto; margin: 20px 0 0;}
.newhire-summary {height: 570px; overflow-y: auto;margin: 20px 0 0;}
.newhire-summary h2 { margin: 0 0 35px; color: #317b36;font-size: 20px;}






.edit-work { float: none; margin: 0 auto;height:700px;overflow-y: auto; padding: 0;}
.edit-work ul {border-bottom: #e5e5e5 1px solid; padding:25px 0; display: inline-block; width: 100%;}
.edit-work ul li {display:block; margin: 0 0 10px;}
.edit-work ul li label{color: #484747; font-weight: normal; font-size: 17px; padding: 0 0 10px; display: block;}
.edit-work ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%;
background:#f8f8f8;}
.edit-work ul li .form-control:focus{ box-shadow: none;}

.edit-work ul li .date { height: auto; line-height:inherit; width:75%;background:#f8f8f8;}
.edit-work ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.edit-work ul li .date span { border: none !important; padding: 0 !important;}
.edit-work ul li .date .form-control { width:65%; height: auto; padding: 12px 0 12px 10px; display: inline-block;}
.edit-work ul li .date a { display: inline-block;}
.edit-work ul li .date a:focus {outline: none;border:none;}
.edit-work ul li .date .form-control:focus { box-shadow: none; border: none;}
.edit-work ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.date1 { height: auto !important; line-height:inherit !important; width:66% !important;background:#fff;}
.edit-work .date1 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
width: 40px;height: 30px; min-width: auto; border-left: #ccc 1px solid; border-radius: 0;}

.date1 span { border: none !important; padding: 0 !important;}
.date1 .form-control { width:73%; height: auto; padding: 12px 0 12px 10px; border: none; box-shadow: none; display: inline-block;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.edit-work .table{ background:#fff; margin:20px 0 10px;}
.edit-work .table>tbody>tr>th, .edit-work .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:17px;
vertical-align: middle; position: relative; background: #edf7ff;}
.edit-work .table>tbody>tr>td, .edit-work .table>tfoot>tr>td, .edit-work .table>tfoot>tr>th, 
.edit-work .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; background: #f7f7f7;}
.edit-work button.mat-menu-item a { color:#ccc;}
.edit-work button.mat-menu-item a:hover { color:#fff; background: #099247;}
.edit-work .table>tbody>tr>th a, .edit-work .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.edit-work .table>tbody>tr>th a .fa, .edit-work .table>thead>tr>th a .fa { color: #6f6d6d;}
.edit-work button { border: none; outline: none; background:transparent;}

.scroll { display: block;}
.border-btm {border-top: #bdb7b7 1px solid; padding:30px 0 0; float: none; margin: 40px auto 30px;}
.scroll .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.scroll .btn.cancel {color:#e44a49; background:transparent; padding:0 0 0 30px;font-size: 16px;}

.edit-work .table>tbody>tr>td .form-control { display: inline-block;border: none; height:auto; padding:10px; box-shadow: none;}
.edit-work .table>tbody>tr>td .fa { display: inline-block;font-size: 20px;top: 5px; position: absolute;
    right: 10px;
    border-left: #ccc 1px solid;
    padding: 6px 0 6px 10px; color: #ccc;}
.edit-work .table>tbody>tr>td .form-control:focus{ border-color:transparent;box-shadow: none;}
.start-time { position: relative; width:30%;}


.edit-work ul.total-hours { padding:20px 0;}
.edit-work ul.total-hours li { margin: 0 0 25px;}

.main-works { display: block;}
.errors {color:#e44a49; padding: 5px 0 0; display: block;}

.disableTab{
    pointer-events: none;
}
.skip-template{
    padding: 30px 0 0 0 !important;
}
.skip-temp-float{
    float: left !important;
}