.zenwork-compensation-tab{
    padding: 0 35px 0 0;
}
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
    font-size: 16px;
}
.zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.img-personal-icon{
    width: 20px;
}

.add-notes{
    padding: 30px 0 0 15px;
}
.add-notes .cancel { background: transparent; border: none; color:#6b6f71;}
.padding-left-15{
    padding: 0 0 0 15px;
}
.notes .list-items span{
    font-size: 14px;
    padding: 0 0 0 5px;
}
.img-plus-icon{
    width: 20px;
}
.notes .list-items{
    display: inline-block;
    padding: 0px 10px 0 0;
}
.archive-btn{
    padding: 7px 13px;
    background: #fff;
    border: none;
    font-size: 16px;
    border: 1px solid #c6d4de;
    color: #544f4f;

}
.submit-buttons .btn-success {
    background-color: #439348;
}
.submit-buttons  .list-item{
    display: inline-block;
    padding: 0px 25px 0 0;

}
.btn-style{
    padding: 6px 16px!important;
    border-radius: 30px!important;
    font-size: 14px;
}
.text-area{
    padding: 0 10px;
}
.employee-notes{
    margin: 10px;
}
textarea{
    resize: none;
    border: 0;
    box-shadow: none;
    font-size: 14px;
 }
 .emp-notes-head{
     background: #edf7fe;
     padding: 10px;
 }
 .notes-heading{
     font-size: 14px;
 }
 .archive-text{
     padding: 0 15px 0 0;
 }
 .archive-text small{
     padding: 0 0 0 5px;
     font-size: 14px;
 }
 .note-body{
     background: #fff;
     padding: 15px;
 }
 .note-body small{
     color:#edf7fe;
 }
 .employee-img{
    width: 33px;
    margin: 0 10px 0 0;
 }
 .emp-details{
    width: 44%;
    display: inline-block;
    vertical-align:top; padding: 10px 0 0 10px;
 }
 .emp-details-timings::before{
    content: "";
    position: absolute;
    border-left: 1px solid #eee;
    top: 8px;
    left: -4px;
    height: 60%
 }
 .emp-details-timings{
    display: inline-block;
    position: relative;
    padding: 0 0 0 10px;

 }
 .emp-details span{
    font-size: 14px;
    display: block;
 }
.emp-details-timings span{
     font-size: 14px;
 }
 .emp-details small,.emp-details-timings small{
    color: #3e3e3ea3;
    font-size: 12px;
 }
 .emp-main-details{
    padding: 10px;
    background: #fff;
 }
 .icons-list .list-items{
     padding: 0px 10px;
     display: inline-block;
 }
 .emp-description p {
     font-size: 14px;
    margin: 0 0 0 45px;
 }
 .zenwork-compensation-tab { float: none; margin: 0 auto; padding: 0;}

 .rounded-0:focus{
   box-shadow: none;
 }
 .emplployee-icon{
    font-size: 30px;
    color: #ccc;
 }
 .next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}
.zenwork-margin-ten-zero {
    margin: 20px 0px!important;
}