<div class="zenwork-compensation-tab col-md-11">
  <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <img src="../../../assets/images/directory_tabs/Notes/notes.png" class="img-personal-icon" alt="money-icon">
      </li>
      <li class="list-items">
        <span>Notes</span>
      </li>
    </ul>
  </div>
  <hr class="zenwork-margin-ten-zero ">
  <div class="add-notes">
    <ul  *ngIf="!notesTabView" class="list-unstyled notes pull-left" style="margin-bottom:20px;">
      <li class="list-items">
        <img src="../../../assets/images/directory_tabs/Notes/note_plus.png" class="img-plus-icon">
        <span>Add Notes</span>
      </li>
      <li class="list-items">
        <button class="btn archive-btn" (click)="viewArchivedNotes()" [disabled]="archiveDisabled">view archived notes</button>
      </li>
    </ul>
    <!-- <ul class="list-unstyled submit-buttons pull-right">
      <li class="list-item">
        <button class="btn btn-success btn-style" (click)="saveNotes()"> Save Changes</button>
      </li>
      <li class="list-item">
        <button class="btn btn-style"> cancel </button>
      </li>
    </ul> -->
    <div class="clearfix"></div>
  </div>
  <div  *ngIf="!notesTabView" class="text-area form-group">
    <textarea class="form-control rounded-0" rows="5" placeholder="Add a note..." [(ngModel)]="employeeNotes.description"></textarea>
  </div>

  <div *ngIf="!notesTabView" class="add-notes">
    <ul class="list-unstyled submit-buttons pull-right">
      <li class="list-item">
        <button class="btn btn-success btn-style" (click)="saveNotes()"> {{noteId ? 'Update' : 'Save Changes'}}</button>
      </li>
      <li class="list-item">
        <button class="btn cancel" (click)="cancelNotes()"> Cancel </button>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <hr class="zenwork-margin-ten-zero">
  <!-- <div class="employee-notes" *ngFor="let note of allNotes">
    <div class="emp-notes-head">
      <span class="notes-heading pull-left">Employee Notes</span>
      <span class="archive-text pull-right">
        <img src="../../../assets/images/directory_tabs/Notes/archive.png" class="archive-icon" alt="arcchiveicon">
        <small>Add to archive</small>
      </span>
      <div class="clearfix"></div>
    </div>
    <div class="emp-main-details" >
      <div class="emp-individual-details pull-left col-md-4">
        <img src="../../../assets/images/Directory/empoyee_-1.png" class="employee-img">
        <div class="emp-details">
          <span class="emp-name">{{note.createdBy.name}}</span>
          <small>{{note.createdBy.type}}</small>
        </div>
        <div class="emp-details-timings">
          <span>{{note.createdDate.split('T')[0]}}</span><br>
          <small>{{note.createdDate.split('T')[1].split('Z')[0].split('.')[0]}}</small>
        </div>
      </div>
      <div class="pull-right">
        <ul class="list-unstyled icons-list">
          <li class="list-items">
            <img src="../../../assets/images/directory_tabs/Assets/edit.png" class="edit-icon">
          </li>
          <li class="list-items">
            <img src="../../../assets/images/directory_tabs/Assets/delete.png" class="edit-icon">
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <hr class="zenwork-margin-ten-zero">
      <div class="row">
        <div class="col-xs-9">
          <div class="emp-description">
            <p>
              {{note.description}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <div class="employee-notes" *ngFor="let notes of allNotes">
      <div class="emp-notes-head">
        <span class="notes-heading pull-left">Employee Notes</span>
        <span  *ngIf="!notesTabView" class="archive-text pull-right">
          <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editNotes(notes._id)">Edit</button>
            <button mat-menu-item (click)="deleteNotes(notes._id)">Delete</button>
            <button mat-menu-item (click)="archiveNotes(notes._id)" *ngIf="notes.archive == false">
              Archive</button>
              <button mat-menu-item (click)="unArchiveNotes(notes._id)" *ngIf="notes.archive == true">
                  Unarchive</button>

          </mat-menu>
        </span>
        <div class="clearfix"></div>
      </div>
      <div class="emp-main-details">

        <div class="emp-individual-details pull-left col-md-4">

          <span>
            <i *ngIf="notes.addedBy.type == 'company'" class="material-icons emplployee-icon employee-img">
              account_circle
            </i>
            <img *ngIf="notes.addedBy.type == 'employee'" src="{{notes.addedBy.personal.profile_pic_details.url}}">

          </span>
         
          <div class="emp-details">
            <span class="emp-name" *ngIf="notes.addedBy.type == 'company'">System Admin</span>
            <span class="emp-name" *ngIf="notes.addedBy.type == 'employee'">{{notes.addedBy.personal.name.preferredName}}</span>

            <small></small>
          </div>

          <div class="emp-details-timings">
            <span>{{notes.createdAt | date: 'MM/dd/yyyy'}}</span><br>
            <small>{{notes.createdAt | date: "shortTime"}}</small>
          </div>
        </div>
    
        <div class="clearfix"></div>
        <hr class="zenwork-margin-ten-zero">
        <div class="row">
          <div class="col-xs-9">
            <div class="emp-description">
              <p>{{notes.note}}</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    

    <div style="margin:20px 0px;">
  
        <!-- <button mat-button class="next-btn pull-right" (click)="nextTab()">Next</button>
    <div class="clear-fix"></div> -->
      </div>
</div>