<div class="zenworkers-wrapper col-md-11">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <small>
        <img src="../../../assets/images/employee-management/Green/employee_4.png" class="zenwork-inner-icon" alt="Company-settings icon">
      </small>
      Add Client - Reseller
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="create-client-wrapper">

    <!-- <mat-horizontal-stepper  #stepper="matHorizontalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper> -->

    <div class="client-tabs">

      <ul class="nav nav-tabs">
        <li [ngClass]="{ 'active':activeTab==='create'}">
          <a data-toggle="tab" href="#tab1">Client Details</a>
        </li>
        <li [ngClass]="{ 'active':activeTab==='package'}">
          <a data-toggle="tab" href="#tab2">Billing History</a>
        </li>
        <li [ngClass]="{ 'active':activeTab==='payment'}">
          <a data-toggle="tab" href="#tab3">Upgrade/Downgrade Package</a>
        </li>
        <li [ngClass]="{ 'active':activeTab==='finished'}">
          <a data-toggle="tab" href="#tab4">Payment</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>


    <!-- <div class="tab-content">

      <div id="tab1" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='create','in':activeTab==='create'}">

        <div class="company-details-wrapper">
          <div class="company-details">
            <div class="col-xs-4">

              <div class="form-group">
                <label>Company Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name"
                  [(ngModel)]="companyDetails.name">
              </div>
              <div class="form-group">
                <label>Trade Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                  [(ngModel)]="companyDetails.tradeName">
              </div>
              <div class="form-group">
                <label>No. of employees</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="No. of Employees"
                  [(ngModel)]="companyDetails.employeCount">
              </div>
              <div class="form-group">
                <div class="col-xs-6 padding-left-zero">
                  <label>Is the Client Reseller?</label>
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Client / Reseller"
                    [(ngModel)]="companyDetails.type">
                    <mat-option value="reseller">
                      Yes
                    </mat-option>
                    <mat-option value="company">
                      No
                    </mat-option>
                  </mat-select>
                </div>
                <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type == 'company'">
                  <div class="form-group">
                    <label>Client belongs to Reseller?</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller">
                      <mat-option value="true">
                        Yes
                      </mat-option>
                      <mat-option value="false">
                        No
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="form-group" *ngIf="companyDetails.belongsToReseller != 'false'">
                    <label>Select Reseller</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.reseller">
                      <mat-option value="Reseller1">
                        Reseller1
                      </mat-option>
                      <mat-option value="Reseller2">
                        Reseller2
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group col-md-6">
                <label>Client Status</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="active status"
                  [(ngModel)]="clientStatus">
              </div>
              <div class="form-group col-md-6">
                <label>Inactive Date</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="End Date"
                  [(ngModel)]="comapnyInactiveDate">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="contact-wrapper">
          <div class="col-xs-4">
            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('primaryContact')">
              <li>
                <h4>Primary Company Contact*</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                  <!-- <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span> -->
                  <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyDetails.primaryContact.name">
                </div>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-9">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyDetails.email">
                </div>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-8">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="companyDetails.primaryContact.phone">
                </div>
              </li>
              <li class="col-md-2 right-text">

                <input type="text" class="form-control" placeholder="Ext" [(ngModel)]="companyDetails.primaryContact.extention ">

              </li>

              <div class="clearfix"></div>

            </ul>
            <div class="form-group">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyDetails.isPrimaryContactIsBillingContact"></mat-checkbox>
              <small>Is Primary Contact same as billing Contact ?</small>
            </div>
          </div>
          <div class="col-xs-4">
            <ul *ngIf="!companyDetails.isPrimaryContactIsBillingContact && companyDetails.hasOwnProperty('billingContact')">
              <li>
                <h4>Billing Company Contact</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                  <!-- <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span> -->
                  <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="companyDetails.billingContact.name">
                </div>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-9">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyDetails.billingContact.email">
                </div>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-8">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="number" class="form-control" placeholder="Work Phone" [(ngModel)]="companyDetails.billingContact.phone">
                </div>
              </li>
              <li class="col-md-2 right-text">

                <input type="number" class="form-control" placeholder="Ext" [(ngModel)]="companyDetails.billingContact.extention ">

              </li>

              <div class="clearfix"></div>

            </ul>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="address-wrapper">
          <div class="clearfix"></div>
          <div class="col-xs-5">
            <h2>
              Company Address*
            </h2>
            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="companyDetails.address.address1">
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="companyDetails.address.address2">
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('address')">
              <li class="state col-md-4">
                <input type="text" placeholder="City" class="form-control" [(ngModel)]="companyDetails.address.city">
              </li>
              <li class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State"
                  [(ngModel)]="companyDetails.address.state">
                  <mat-option value="newyork">
                    New York
                  </mat-option>
                  <mat-option value="washington">
                    Washington
                  </mat-option>
                  <mat-option value="florida">
                    Florida
                  </mat-option>
                </mat-select>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control" [(ngModel)]="companyDetails.address.zipcode">
              </li>

              <li class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder=" Country"
                  [(ngModel)]="companyDetails.address.country">
                  <mat-option value="United States">
                    USA
                  </mat-option>
                </mat-select>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
            <div class="form-group">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="companyDetails.isPrimaryAddressIsBillingAddress"></mat-checkbox>
              <small>Is Primary Address same as billing address ?</small>
            </div>
          </div>

          <div class="col-xs-5" *ngIf="!companyDetails.isPrimaryAddressIsBillingAddress">
            <h2>
              Billing Company Address*
            </h2>
            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="companyDetails.billingAddress.address1">
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="companyDetails.billingAddress.address2">
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
              <li class="state col-md-4">
                <input type="text" placeholder="City" class="form-control" [(ngModel)]="companyDetails.billingAddress.city">
              </li>
              <li class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="State"
                  [(ngModel)]="companyDetails.billingAddress.state">
                  <mat-option value="newyork">
                    New York
                  </mat-option>
                  <mat-option value="washington">
                    Washington
                  </mat-option>
                  <mat-option value="florida">
                    Florida
                  </mat-option>
                </mat-select>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control" [(ngModel)]="companyDetails.billingAddress.zipcode">
              </li>

              <li class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select" placeholder="Country"
                  [(ngModel)]="companyDetails.billingAddress.country">
                  <mat-option value="United States">
                    USA
                  </mat-option>
                </mat-select>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="col-xs-12">

          <button type="button" class="btn btn-success zenwork-custom-proceed-btn" (click)="editCompany()">Save &
            continue
          </button>
          <button type="button" class="btn zenwork-customized-transparent-btn" (click)="cancel()">Cancel</button>

        </div>
        <div class="clearfix"></div>

      </div>


      <div id="tab2" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='package','in':activeTab==='package'}">

        <div class="package-billing-main">


          <div class="package-billing-history">
            Biling History of {{companyName}}
            <div class="setting-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Features/Package
                    </th>
                    <th>Add-Ons</th>
                    <th>Start Date</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>End Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let package of billingHistoryPackages">
                    <td>{{package.name}}</td>
                    <td></td>
                    <td>{{package.startDate | date}}</td>
                    <td>{{package.price}}</td>
                    <td>{{clientStatus}}</td>
                    <td>{{package.endDate | date}}</td>
                  </tr>
                  <tr *ngFor = "let adons of billingHistoryAddons">
                      <td ></td>
                      <td>{{adons.id.name}}</td>
                      <td>{{adons.startDate | date}}</td>
                      <td>{{adons.price}}</td>
                      <td></td>
                      <td>{{adons.endDate | date}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>


      <div id="tab3" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='payment','in':activeTab==='payment'}">

        <div class="package-billing-main">

          <div class="col-md-7 discount-block">
            <ul class="list-unstyled discount-heading">
              <li class="list-items">
                <span [ngClass]="{'border-bottom-green':!selectedPackage.wholeSaleDiscount}">Whole sale discount
                  <br>
                  <small>(Reseller is billed)</small>
                </span>

              </li>
              <li class="list-items">
                <mat-slide-toggle [(ngModel)]="selectedPackage.wholeSaleDiscount" (change)="wholesaleDiscountChange($event)"></mat-slide-toggle>
              </li>
              <li class="list-items">
                <span [ngClass]="{'border-bottom-green':selectedPackage.wholeSaleDiscount}">Direct discount
                  <br>
                  <small>(Client is billed)</small>
                </span>

              </li>
              <li class="list-items">
                <button class="btn" (click)="addAnotherAddOn()">
                  <small>
                    <i aria-hidden="true" class="fa fa-plus"></i>
                  </small> Add-On
                </button>
              </li>
            </ul>
            <div class="package-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Package</th>
                    <th>Add-On
                      <span class="green">+</span>
                    </th>
                    <th>
                      Discount
                    </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        premium 
                    </td>
                    <td>

                    </td>
                    <td>
                      discount
                    </td>
                    <td>
                      {{currentPlan.startDate | date}}
                    </td>
                    <td>
                        {{currentPlan.endDate | date}}
                    </td>
                  </tr>
                  <tr>
                    <td class="package-name">
                      <mat-select class="form-control zenwork-input package-table-select" [(ngModel)]="selectedPackage.name"
                        placeholder="Select Package" (ngModelChange)="getSpecificPackageDetails()">
                        <mat-option [value]="package.name" *ngFor="let package of packages">
                          {{package.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>

                    </td>
                    <td>
                      <mat-select class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                        [(ngModel)]="discountValue" placeholder="Select Package" (ngModelChange)="discountBasePrice()">
                        <mat-option [value]="discount.value" *ngFor="let discount of dicountArray">
                          {{discount.viewValue}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <div class="date">
                        {{selectedPackage.startDate | date}}
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td>

                      <div class="date">
                        {{selectedPackage.endDate | date}}
                        <div class="clearfix"></div>
                      </div>

                    </td>
                  </tr>
                  <tr *ngFor="let packageAddon of selectedPackage.addOns">
                    <td>

                    </td>
                    <td class="add-on-type">
                      <span class="add-on-cancel" (click)="addonRemove(packageAddon.selectedAddOn)">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </span>
                      <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="Select Add-on"
                        [(ngModel)]="packageAddon.selectedAddOn" (ngModelChange)="addOnChange(packageAddon.selectedAddOn)">
                        <mat-option [value]="addOn.name" *ngFor="let addOn of allAddOns">
                          {{addOn.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>

                    </td>
                    <td>
                      {{selectedPackage.startDate | date }}
                    </td>
                    <td>
                      {{selectedPackage.endDate | date}}
                    </td>
                  </tr>
                  <!-- <tr>
                      <td>
  
                      </td>
                      <td class="add-on-type">
                        <span class="add-on-cancel">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                        <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="BioMetric Access/Time Stamp">
                          <mat-option value="ACA">
                            BioMetric Access/Time Stamp
                          </mat-option>
                          <mat-option value="BioMetric">
                            ACA Comliance
                          </mat-option>
                          <mat-option value="Basic">
                            Advanced Training
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
                        12/12/2018
                      </td>
                      <td>
                        12/12/2019
                      </td>
                    </tr> -->
                </tbody>
              </table>
            </div>
          </div>

          <div class="payment-rgt col-md-5">


            <div class="billing-block">
              <h2>
                <span>Billing</span>
                <div class="annualy-block">
                  <p>Monthly</p>
                  <mat-slide-toggle (change)="toggleDateChange($event)"></mat-slide-toggle>
                  <small>Annually</small>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </h2>

              <ul>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Package</h5>
                      </li>
                      <li>
                        <span>{{selectedPackage.name}}</span>
                        <small>$ {{selectedPackage.price}}</small>

                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Discount</span>
                        <small>{{discountValue}}%</small>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Base Price</span>
                        <small>$ {{basePrice}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>

                      <li>
                        <span>Number of Employees</span>
                        <var>{{addedCompanyData.employeCount}}</var>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Employee Cost</span>
                        <small>$ {{selectedPackage.costPerEmployee * addedCompanyData.employeCount}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Add-on</h5>
                      </li>
                      <li *ngFor="let adon of selectedPackage.addOns">
                        <span>{{adon.selectedAddOn}}</span>
                        <small>{{adon.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="no-bor">
                  <div class="billing-price">
                    <ul>
                      <li>
                        <span>Total Price</span>
                        <small>$ {{selectedPackage.totalPrice}}</small>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Tax Rate @ 8%</span>
                        <small>$ {{(selectedPackage.totalPrice * 0.08).toFixed(2)}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>

              <h4>
                <h1>Grand Price</h1>
                <p>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*0.08}}</p>
                <div class="clearfix"></div>
              </h4>

            </div>

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">Make me the
                  <small> Master Admin</small> of this client's company.</label>
              </div>
            </div>

            <!-- <a class="btn" (click)="savePackageDetails(stepper)">Save & Continue</a>
            <a class="btn">Cancel</a> -->
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>




      </div>


      <div id="tab4" class="tab-pane fade" [ngClass]="{ 'active':activeTab==='finished','in':activeTab==='finished'}">

          <div class="payment-lft col-md-7">
              <h2>Select Payment Method</h2>
              <!-- <a>Secure Payment Details</a> -->
              <div class="clearfix"></div>
  
              <div class="payment-method">
  
                <div class="panel-group" id="accordion1">
  
                  <div class="panel panel-default">
  
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                          <span></span> Credit Card Payment
                        </a>
                      </h4>
                    </div>
  
                    <div id="collapseTwo" class="panel-collapse collapse in">
                      <div class="panel-body credit-card-payment">
  
                        <div class="credit-payment">
                          <!-- Credit Card PaymentCredit Card PaymentCredit Card PaymentCredit Card Payment -->
                          <div class="card-buttons">
                            <ul class="list-unstyled">
                              <li class="list-items pull-left">
                                <a class="btn btn-default my-cards-btn ">My Cards</a>
                              </li>
                              <li class="list-items pull-left">
                                <a class="btn btn-default my-cards-btn ">Add New Card</a>
                              </li>
                              <li class="list-items pull-right">
                                <a class="btn btn-default secure-cards-btn ">Secure Credit Card Payment Details</a>
                              </li>
  
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="wrapper">
                          <ul class="list-unstyled">
                            <li class="list-items">
                              <div class="form-group col-xs-7">
                                <label>Name On Card*</label>
                                <input type="text" placeholder="Name" [(ngModel)]="cardDetails.cardName" class="form-control">
                              </div>
                            </li>
                            <li class="list-items">
                              <div class="form-group col-xs-7">
                                <label>Card Number*</label>
                                <input type="text" placeholder="Card Number" [(ngModel)]="cardDetails.cardNumber" class="form-control">
                              </div>
                            </li>
                            <li class="list-items credit-card-details-date">
                              <ul class="list-unstyled col-xs-8">
                                <li class="in-list-items">
                                  <div class="form-group">
                                    <label>Card expiry date*</label>
                                    <input type="text" placeholder="Expiration Month" [(ngModel)]="cardDetails.expMonth"
                                      class="form-control">
                                  </div>
                                </li>
                                <li class="in-list-items">
                                  <div class="form-group">
                                    <input type="text" placeholder="Expiration Year" [(ngModel)]="cardDetails.expYear"
                                      class="form-control">
                                  </div>
                                </li>
                                <li class="in-list-items">
                                  <div class="form-group">
                                    <label>CVV*</label>
                                    <input type="text" placeholder="CVV" [(ngModel)]="cardDetails.cvv" class="form-control">
                                  </div>
                                </li>
  
                              </ul>
                            </li>
                          </ul>
                          <!-- <div class="form-group">
                            <button (click)="chargeCreditCard()">Submit</button>
                          </div> -->
                        </div>
                        <div class="agree-policy col-xs-7">
                          <ul class="list-unstyled terms">
                            <li class="list-items">
                              <mat-checkbox class="zenwork-customized-checkbox"> I have read accept terms and privacy
                                polciy</mat-checkbox>
  
                            </li>
                            <li class="list-items">
                              <mat-checkbox class="zenwork-customized-checkbox"> I agree to allow this credit card to be
                                used for automatic recurring payments</mat-checkbox>
                            </li>
                          </ul>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
  
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                          <span></span> ECheck/ACH Payment
                        </a>
                      </h4>
                    </div>
  
                    <div id="collapseOne" class="panel-collapse collapse ">
                      <div class="panel-body">
  
                        <div class="ach-payment">
                          <!-- ECheck/ACH Payment ECheck/ACH Payment ECheck/ACH Payment -->
                        </div>
  
  
                      </div>
                    </div>
                  </div>
  
  
                  <div class="panel panel-default">
  
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                          <span></span> PayPal Payment
                        </a>
                      </h4>
                    </div>
  
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
  
                        <div class="credit-payment">
                          <!-- PayPal PaymentPayPal PaymentPayPal PaymentPayPal PaymentPayPal Payment -->
                        </div>
  
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
  
              </div>
  
  
  
            </div>
  
      </div>


    </div> -->




  </div>
</div>
<div class="clearfix"></div>