<div class="zenworkers-wrapper col-md-11">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <small>
        <img src="../../../assets/images/employee-management/Green/employee_4.png" class="zenwork-inner-icon"
          alt="Company-settings icon">
      </small>
      Edit Client - Reseller
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="create-client-wrapper">

    <!-- <mat-horizontal-stepper  #stepper="matHorizontalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel><div class="zenwork-dot"></div></ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper> -->

    <div class="client-tabs">

      <ul class="nav nav-tabs">
        <li style="cursor:pointer" [ngClass]="{ 'active':activeTab==='create'}">
          <a data-toggle="tab" (click)="activeTab='create'">Client Details</a>
        </li>
        <li style="cursor:pointer" [ngClass]="{ 'active':activeTab==='package'}">
          <a data-toggle="tab" (click)="activeTab='package'">Billing History</a>
        </li>
        <li style="cursor:pointer" [ngClass]="{ 'active':activeTab==='payment'}">
          <a data-toggle="tab" (click)="activeTab='payment'">Upgrade/Downgrade Package</a>
        </li>
        <li style="cursor:pointer" [ngClass]="{ 'active':activeTab==='finished'}">
          <a data-toggle="tab" (click)="activeTab='finished'">Payment</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>


    <div class="tab-content">

      <div id="tab1" class="tab-pane" [ngClass]="{ 'active':activeTab==='create','in':activeTab==='create'}">

        <div class="company-details-wrapper">
          <div class="company-details">
            <div class="col-xs-4">

              <div class="form-group">
                <label>Company Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Company Name"
                  [(ngModel)]="companyDetails.name" maxlength="32" name="name" required #companyName="ngModel">
                <span *ngIf="!companyDetails.name && isValid || (!companyName.name && companyName.touched)"
                  style="color:#e44a49; padding:6px 0 0;">Enter name</span>
              </div>
              <div class="form-group">
                <label>Trade Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                  [(ngModel)]="companyDetails.tradeName" maxlength="32" name="name1" required #tradeName="ngModel">
                <span *ngIf="!companyDetails.tradeName && tradeName.touched || (!companyDetails.tradeName && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter Trade name</span>
              </div>
              <div class="form-group">
                <label>No. of employees</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" (keypress)="keyPress($event)"
                  placeholder="No. of Employees" maxlength="4" [(ngModel)]="companyDetails.employeCount"
                  name="employeCount" required #employeCount="ngModel">
                <span
                  *ngIf="!companyDetails.employeCount && employeCount.touched || (!companyDetails.employeCount && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter employees</span>
              </div>
              <div class="form-group">
                
                  <label>Is the Client Reseller?</label>
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                    placeholder="Client / Reseller" [(ngModel)]="companyDetails.type"
                    (ngModelChange)="wholesaleDiscountChange($event)">
                    <mat-option value="reseller">
                      Yes
                    </mat-option>
                    <mat-option value="company">
                      No
                    </mat-option>
                  </mat-select>

                <div *ngIf="companyDetails.type == 'company'">
                  <div class="form-group">
                    <label>Client belongs to Reseller?</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller">
                      <mat-option [value]=true>
                        Yes
                      </mat-option>
                      <mat-option [value]=false>
                        No
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="form-group" *ngIf="companyDetails.belongsToReseller != false">
                    <label>Select Reseller</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.resellerId"
                      (ngModelChange)="selectedReseller($event)" [ngModelOptions]="{standalone:true}">
                      <mat-option value="{{reseller._id}}" *ngFor="let reseller of resellersList">
                        {{reseller.name}}
                      </mat-option>

                    </mat-select>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group col-md-6">
                <label>Client Status</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="active status"
                  [(ngModel)]="clientStatus" name="status" required #status="ngModel" readonly>

              </div>
              <div class="form-group col-md-6">
                <label>Inactive Date</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="End Date"
                  [(ngModel)]="comapnyInactiveDate" name="status" required #inactiveData="ngModel" readonly>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="contact-wrapper">
          <div class="col-xs-8">
            <ul class="zenwork-margin-bottom-zero col-xs-6" *ngIf="companyDetails.hasOwnProperty('primaryContact')">
              <li>
                <h4>Primary Company Contact*</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                  <!-- <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span> -->
                  <input type="text" class="form-control" placeholder="Contact Name"
                    [(ngModel)]="companyDetails.primaryContact.name" maxlength="32" name="contact" required
                    #contact="ngModel">

                </div>
                <span
                  *ngIf="!companyDetails.primaryContact.name && contact.touched || (!companyDetails.primaryContact.name && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter Primary contact</span>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-xs-12">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" class="form-control" placeholder="Work Email"
                    [(ngModel)]="companyDetails.primaryContact.email" name="email" required #primaryEmail="ngModel">

                </div>
                <span
                  *ngIf="!companyDetails.primaryContact.email && primaryEmail.touched || (!companyDetails.primaryContact.email && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter email</span>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-8">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" class="form-control" placeholder="Work Phone" (keypress)="keyPress($event)"
                    [(ngModel)]="companyDetails.primaryContact.phone" maxlength="10" name="phone" required
                    #phoneNumber="ngModel">

                </div>
                <span
                  *ngIf="!companyDetails.primaryContact.phone && phoneNumber.touched || (!companyDetails.primaryContact.phone && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter phone</span>
              </li>
              <li class="col-md-2 right-text">

                <input type="text" class="form-control" placeholder="Ext" maxlength="4" (keypress)="keyPress($event)"
                  [(ngModel)]="companyDetails.primaryContact.extention" name="ext" required #ext="ngModel">

              </li>
              <span
                *ngIf="!companyDetails.primaryContact.extention && ext.touched || (!companyDetails.primaryContact.extention && isValid)"
                style="color:#e44a49; padding:6px 0 0;">Enter ext</span>

              <div class="clearfix"></div>

            </ul>
            <div class="form-group col-xs-7 left-padding">
              <mat-checkbox class="zenwork-customized-checkbox"
                [(ngModel)]="companyDetails.isPrimaryContactIsBillingContact"></mat-checkbox>
              <small>Is Primary Contact same as billing Contact ?</small>
            </div>
          </div>
          <div class="col-xs-4">
            <ul
              *ngIf="!companyDetails.isPrimaryContactIsBillingContact && companyDetails.hasOwnProperty('billingContact')">
              <li>
                <h4>Billing Company Contact</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                  <!-- <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span> -->
                  <input type="text" class="form-control" placeholder="Contact Name"
                    [(ngModel)]="companyDetails.billingContact.name">
                </div>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-9">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" class="form-control" placeholder="Work Email"
                    [(ngModel)]="companyDetails.billingContact.email">
                </div>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-8">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" class="form-control" (keypress)="keyPress($event)" maxlength="10"
                    placeholder="Work Phone" [(ngModel)]="companyDetails.billingContact.phone">
                </div>
              </li>
              <li class="col-md-2 right-text">

                <input type="text" class="form-control" (keypress)="keyPress($event)" minlength="2" maxlength="4"
                  placeholder="Ext" [(ngModel)]="companyDetails.billingContact.extention">

              </li>

              <div class="clearfix"></div>

            </ul>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="address-wrapper">
          <div class="clearfix"></div>
          <div class="col-xs-5">
            <h2>
              Company Address*
            </h2>
            <ul class="zenwork-margin-bottom-zero">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control" maxlength="32"
                  [(ngModel)]="companyDetails.primaryAddress.address1" name="address" required #CompanyAdd="ngModel">
                <span
                  *ngIf="!companyDetails.primaryAddress.address1 && CompanyAdd.touched || (!companyDetails.primaryAddress.address1 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter Company address</span>
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control"
                  [(ngModel)]="companyDetails.primaryAddress.address2" maxlength="32" name="address1" required
                  #CompanyAddress="ngModel">
                <span
                  *ngIf="!companyDetails.primaryAddress.address2 && CompanyAddress.touched || (!companyDetails.primaryAddress.address2 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter Company address</span>
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero">
              <li class="state col-md-4">
                <input type="text" placeholder="City" class="form-control"
                  [(ngModel)]="companyDetails.primaryAddress.city" name="city" maxlength="24" required #city="ngModel">
                <span
                  *ngIf="!companyDetails.primaryAddress.city && city.touched || (!companyDetails.primaryAddress.city && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter city</span>
              </li>
              <li class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="State" [(ngModel)]="companyDetails.primaryAddress.state" name="state" required
                  #states="ngModel">
                  <mat-option *ngFor="let data of allStates" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                  <!-- <mat-option value="Washington">
                    Washington
                  </mat-option>
                  <mat-option value="Florida">
                    Florida
                  </mat-option> -->
                </mat-select>
                <span
                  *ngIf="!companyDetails.primaryAddress.state && states.touched || (!companyDetails.primaryAddress.state && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter state</span>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control" (keypress)="keyPress($event)" maxlength="5"
                  [(ngModel)]="companyDetails.primaryAddress.zipcode" name="zip" required #zip="ngModel">
                <span
                  *ngIf="!companyDetails.primaryAddress.zipcode && zip.touched || (!companyDetails.primaryAddress.zipcode && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter zipcode</span>
              </li>

              <li class="col-md-6 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder=" Country" [(ngModel)]="companyDetails.primaryAddress.country" name="country" required
                  #countryName="ngModel">
                  <mat-option *ngFor="let data of allCountryes" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                </mat-select>
                <span
                  *ngIf="!companyDetails.primaryAddress.country && countryName.touched || (!companyDetails.primaryAddress.country && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter country</span>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
            <div class="form-group">
              <mat-checkbox class="zenwork-customized-checkbox"
                [(ngModel)]="companyDetails.isPrimaryAddressIsBillingAddress"></mat-checkbox>
              <small>Is Primary Address same as billing address ?</small>
            </div>
          </div>

          <div class="col-xs-5" *ngIf="!companyDetails.isPrimaryAddressIsBillingAddress">
            <h2>
              Billing Company Address*
            </h2>
            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control"
                  [(ngModel)]="companyDetails.billingAddress.address1">
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control"
                  [(ngModel)]="companyDetails.billingAddress.address2">
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero" *ngIf="companyDetails.hasOwnProperty('billingAddress')">
              <li class="state col-md-4">
                <input type="text" placeholder="City" class="form-control"
                  [(ngModel)]="companyDetails.billingAddress.city">
              </li>
              <li class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="State" [(ngModel)]="companyDetails.billingAddress.state">
                  <mat-option *ngFor="let data of allStates" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                  <!-- <mat-option value="Washington">
                    Washington
                  </mat-option>
                  <mat-option value="Florida">
                    Florida
                  </mat-option> -->
                </mat-select>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control"
                  [(ngModel)]="companyDetails.billingAddress.zipcode">
              </li>

              <li class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="Country" [(ngModel)]="companyDetails.billingAddress.country">
                  <mat-option *ngFor="let data of allCountryes" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                </mat-select>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="col-xs-12">

          <button type="button" class="btn btn-success zenwork-custom-proceed-btn" (click)="saveEditDetails()">Save &
            continue
          </button>
          <button type="button" class="btn zenwork-customized-transparent-btn" (click)="cancel()">Cancel</button>

        </div>
        <div class="clearfix"></div>

      </div>


      <div id="tab2" class="tab-pane" [ngClass]="{ 'active':activeTab==='package','in':activeTab==='package'}">

        <div class="package-billing-main">


          <div class="package-billing-history">
            Biling History of {{companyNameValue}}
            <div class="setting-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Features/Package
                    </th>
                    <th>Add-Ons</th>
                    <th>Start Date</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>End Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let package of billingHistoryPackages">
                    <td *ngFor="let pack of package">{{pack.name}}</td>
                    <td></td>
                    <td *ngFor="let pack of package">{{pack.startDate | date}}</td>
                    <td *ngFor="let pack of package">{{pack.price}}</td>
                    <td *ngFor="let pack of package"> {{pack.payment_status}}</td>
                    <td *ngFor="let pack of package">{{pack.endDate | date}}</td>
                  </tr>
                  <tr *ngFor="let adons of billingHistoryAddons">
                    <td></td>
                    <td *ngFor=" let adon of adons">{{adon.id.name}}</td>
                    <td *ngFor=" let adon of adons">{{adon.startDate | date}}</td>
                    <td *ngFor=" let adon of adons">{{adon.price || NA}}</td>

                    <td *ngFor=" let adon of adons">{{adon.payment_status}} </td>
                    <td *ngFor=" let adon of adons">{{adon.endDate | date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>


        <div class="clearfix"></div>
      </div>


      <div id="tab3" class="tab-pane" [ngClass]="{'active':activeTab ==='payment','in':activeTab ==='payment'}">

        <div class="package-billing-main">

          <div class="col-md-7 discount-block">
            <ul class="list-unstyled discount-heading">
              <li class="list-items">
                <span [ngClass]="{'border-bottom-green':!selectedPackage.wholeSaleDiscount}">Whole sale discount
                  <br>
                  <small>(Reseller is billed)</small>
                </span>

              </li>
              <li class="list-items">
                <mat-slide-toggle [(ngModel)]="selectedPackage.wholeSaleDiscount"></mat-slide-toggle>
              </li>
              <li class="list-items">
                <span [ngClass]="{'border-bottom-green':selectedPackage.wholeSaleDiscount}">Direct discount
                  <br>
                  <small>(Client is billed)</small>
                </span>

              </li>
              <li class="list-items">
                <button [disabled]="discountEnable" class="btn" (click)="addAnotherAddOn()">
                  <small>
                    <i aria-hidden="true" class="fa fa-plus"></i>
                  </small> Add-On
                </button>
              </li>
            </ul>
            <div class="package-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Package</th>
                    <th>Add-On
                      <span class="green">+</span>
                    </th>
                    <th>
                      Discount
                    </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let package of currentPlanPackage">
                    <td>
                      {{package.name}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                      {{package.startDate | date}}
                    </td>
                    <td>
                      {{package.endDate | date}}
                    </td>
                  </tr>
                  <tr>
                    <td class="package-name">
                      <mat-select class="form-control zenwork-input package-table-select"
                        [(ngModel)]="selectedPackage.name" placeholder="Select Package"
                        (ngModelChange)="getSpecificPackageDetails()">
                        <mat-option [value]="package.name" *ngFor="let package of packages">
                          {{package.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>

                    </td>
                    <td>
                      <input type="text" (keypress)="keyPress($event)"
                        class="form-control zenwork-input package-table-select"
                        [(ngModel)]="discountValue" [disabled]="discountEnable" maxlength="3" placeholder="discount"
                        (ngModelChange)="discountBasePrice()">
                    </td>
                    <td>
                      <div class="date">
                        {{selectedPackage.startDate | date}}
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td>

                      <div class="date">
                        {{selectedPackage.endDate | date}}
                        <div class="clearfix"></div>
                      </div>

                    </td>
                  </tr>
                  <tr *ngFor="let packageAddon of selectedPackage.adons">
                    <td>

                    </td>
                    <td class="add-on-type">
                      <span class="add-on-cancel" (click)="addonRemove(packageAddon.selectedAddOn)">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </span>
                      <mat-select class="form-control zenwork-input package-table-select add-on-select"
                        placeholder="Select Add-on" [(ngModel)]="packageAddon.selectedAddOn"
                        (ngModelChange)="addOnChange(packageAddon.selectedAddOn)">
                        <mat-option [value]="addOn.name" *ngFor="let addOn of allAddOns">
                          {{addOn.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>

                    </td>
                    <td>
                      {{selectedPackage.startDate | date }}
                    </td>
                    <td>
                      {{selectedPackage.endDate | date}}
                    </td>
                  </tr>
                  <!-- <tr>
                      <td>
  
                      </td>
                      <td class="add-on-type">
                        <span class="add-on-cancel">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                        <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="BioMetric Access/Time Stamp">
                          <mat-option value="ACA">
                            BioMetric Access/Time Stamp
                          </mat-option>
                          <mat-option value="BioMetric">
                            ACA Comliance
                          </mat-option>
                          <mat-option value="Basic">
                            Advanced Training
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
                        12/12/2018
                      </td>
                      <td>
                        12/12/2019
                      </td>
                    </tr> -->
                </tbody>
              </table>
            </div>
          </div>

          <div class="payment-rgt col-md-5">


            <div class="billing-block">
              <h2>
                <span>Billing</span>
                <div class="annualy-block">
                  <p>Monthly</p>
                  <mat-slide-toggle (change)="toggleDateChange($event)"></mat-slide-toggle>
                  <small>Annually</small>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </h2>

              <ul>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Package</h5>
                      </li>
                      <li>
                        <span>{{selectedPackage.name}}</span>
                        <!-- <small>$ {{selectedPackage.price}}</small> -->

                        <div class="clearfix"></div>
                      </li>

                      <li>
                        <span>Base Price</span>
                        <small>$ {{selectedPackage.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>

                      <li>
                        <span>Number of Employees</span>
                        <var>{{addedCompanyData.employeCount}}</var>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Employee Cost</span>
                        <small>$ {{selectedPackage.costPerEmployee * addedCompanyData.employeCount}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Add-on</h5>
                      </li>
                      <li *ngFor="let adon of selectedPackage.adons">
                        <span>{{adon.selectedAddOn}}</span>
                        <small>{{adon.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="no-bor">
                  <div class="billing-price">
                    <ul>
                      <li>
                        <span>Discount</span>
                        <small>{{discountValue}}%</small>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Price</span>
                        <small>$ {{selectedPackage.totalPrice}}</small>
                        <div class="clearfix"></div>
                      </li>

                      <li>
                        <span>Tax Rate @ {{taxrate.tax_rate}} %</span>
                        <small>$ {{(selectedPackage.totalPrice * (taxrate.tax_rate))/100}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>

              <h4>
                <h1>Grand Price</h1>
                <p>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*(taxrate.tax_rate)/100}}</p>
                <!-- <p>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*0.08}}</p> -->
                <div class="clearfix"></div>
              </h4>

            </div>

            <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">Make me the
                  <small> Master Admin</small> of this client's company.</label>
              </div>
            </div>

            <!-- <a class="btn" (click)="savePackageDetails(stepper)">Save & Continue</a>
            <a class="btn">Cancel</a> -->
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-xs-12" style="margin: 20px 0 0 0">


          <button type="button" class="btn zenwork-customized-transparent-btn pull-left"
            (click)="cancel()">Cancel</button>
          <button [disabled]="discountEnable" type="button"
            class="btn btn-success zenwork-custom-proceed-btn pull-right"
            (click)="savePackageDetails($event)">Save</button>
        </div>
        <div class="clearfix"></div>



      </div>


      <div id="tab4" class="tab-pane" [ngClass]="{'active':activeTab ==='finished','in':activeTab ==='finished'}">

        <div class="payment-lft col-md-7">
          <h2>Select Payment Method</h2>
          <!-- <a>Secure Payment Details</a> -->
          <div class="clearfix"></div>

          <div class="payment-method">

            <div class="panel-group" id="accordion1">

              <div class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                      <span></span> Credit Card Payment
                    </a>
                  </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body credit-card-payment">

                    <div class="credit-payment">
                      <!-- Credit Card PaymentCredit Card PaymentCredit Card PaymentCredit Card Payment -->
                      <div class="card-buttons">
                        <ul class="list-unstyled">
                          <li class="list-items pull-left">
                            <a class="btn btn-default my-cards-btn ">My Cards</a>
                          </li>
                          <li class="list-items pull-left">
                            <a class="btn btn-default my-cards-btn ">Add New Card</a>
                          </li>
                          <li class="list-items pull-right">
                            <a class="btn btn-default secure-cards-btn ">Secure Credit Card Payment Details</a>
                          </li>

                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="wrapper">
                      <ul class="list-unstyled">
                        <li class="list-items">
                          <div class="form-group col-xs-7">
                            <label>Name On Card*</label>
                            <input type="text" placeholder="Name" [(ngModel)]="cardDetails.cardName"
                              class="form-control" maxlength="18" maxlength="18" name="cardName" required
                              #cardName="ngModel">
                            <span
                              *ngIf="!cardDetails.cardName && cardName.touched || (!cardDetails.cardName && isValidcard)"
                              style="color:#e44a49; padding:6px 0 0;">Enter name on card</span>
                          </div>
                        </li>
                        <li class="list-items">
                          <div class="form-group col-xs-7">
                            <label>Card Number*</label>
                            <input type="text" placeholder="Card Number" [(ngModel)]="cardDetails.cardNumber"
                              class="form-control" (keypress)="keyPress($event)" maxlength="16" name="cardNumber"
                              required #cardNumber="ngModel">
                            <span
                              *ngIf="!cardDetails.cardNumber && cardNumber.touched || (!cardDetails.cardNumber && isValidcard)"
                              style="color:#e44a49; padding:6px 0 0;">Enter card number</span>
                          </div>
                        </li>
                        <li class="list-items credit-card-details-date">
                          <ul class="list-unstyled col-xs-8">
                            <li class="in-list-items">
                              <div class="form-group">
                                <label>Card expiry month*</label>
                                <!-- <input type="text" placeholder="Expiration Month" maxlength="02"
                                  [(ngModel)]="cardDetails.expMonth" (keypress)="keyPress($event)" class="form-control"
                                  name="expMonth" required #expMonth="ngModel"> -->
                                <mat-select class="form-control" placeholder="Expiration Month"
                                  [(ngModel)]="cardDetails.expMonth" name="expMonth" required #expMonth="ngModel">
                                  <mat-option *ngFor="let data of monthsArray" [value]="data">
                                    {{data}}
                                  </mat-option>

                                </mat-select>
                                <span
                                  *ngIf="!cardDetails.expMonth && expMonth.touched || (!cardDetails.expMonth && isValidcard)"
                                  style="color:#e44a49; padding:6px 0 0;">Enter expire month</span>
                              </div>
                            </li>
                            <li class="in-list-items">
                              <div class="form-group">
                                <!-- <input type="text" placeholder="Expiration Year" maxlength="4"
                                  [(ngModel)]="cardDetails.expYear" (keypress)="keyPress($event)" class="form-control"
                                  name="expYear" required #expYear="ngModel"> -->

                                <mat-select class="form-control" placeholder="Expiration Year"
                                  [(ngModel)]="cardDetails.expYear" name="expYear" required #expYear="ngModel">
                                  <mat-option *ngFor="let data of yearsArray" [value]="data">
                                    {{data}}
                                  </mat-option>

                                </mat-select>

                                <span
                                  *ngIf="!cardDetails.expYear && expYear.touched || (!cardDetails.expYear && isValidcard)"
                                  style="color:#e44a49; padding:6px 0 0;">Enter expire year</span>
                              </div>
                            </li>
                            <li class="in-list-items">
                              <div class="form-group">
                                <label>CVV*</label>
                                <input type="text" placeholder="CVV" maxlength="4" (keypress)="keyPress($event)"
                                  [(ngModel)]="cardDetails.cvv" class="form-control" name="cvv" required #cvv="ngModel">
                                <span *ngIf="!cardDetails.cvv && cvv.touched || (!cardDetails.cvv && isValidcard)"
                                  style="color:#e44a49; padding:6px 0 0;">Enter cvv number</span>
                              </div>
                            </li>

                          </ul>
                        </li>
                      </ul>
                      <!-- <div class="form-group">
                            <button (click)="chargeCreditCard()">Submit</button>
                          </div> -->
                    </div>
                    <div class="agree-policy col-xs-7">
                      <ul class="list-unstyled terms">
                        <li class="list-items">
                          <mat-checkbox class="zenwork-customized-checkbox"> I have read accept terms and privacy
                            policy</mat-checkbox>

                        </li>
                        <li class="list-items">
                          <mat-checkbox class="zenwork-customized-checkbox"> I agree to allow this credit card to be
                            used for automatic recurring payments</mat-checkbox>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      <span></span> ECheck/ACH Payment
                    </a>
                  </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse ">
                  <div class="panel-body">

                    <div class="ach-payment">
                      <!-- ECheck/ACH Payment ECheck/ACH Payment ECheck/ACH Payment -->
                    </div>


                  </div>
                </div>
              </div>


              <div class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                      <span></span> PayPal Payment
                    </a>
                  </h4>
                </div>

                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">

                    <div class="credit-payment">
                      <!-- PayPal PaymentPayPal PaymentPayPal PaymentPayPal PaymentPayPal Payment -->
                    </div>

                  </div>
                </div>
              </div>





            </div>

          </div>



        </div>

        <div class="col-xs-12" style="margin: 20px 0 0 0">


          <button type="button" class="btn zenwork-customized-transparent-btn pull-left"
            (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-success zenwork-custom-proceed-btn pull-right"
            (click)="chargeCreditCard()">Save</button>
        </div>
        <div class="clearfix"></div>

      </div>


    </div>




  </div>
</div>
<div class="clearfix"></div>