.zenwork-currentpage {
    padding: 40px 0 0 0;
}

.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}

.zenworkers-wrapper{
    padding:0; float: none;margin: 0 auto 30px;
}

.search-border{
    border-radius: 3px;
    height: 25px;
    position: relative;
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 12px;
    width: 13px;
    color: #000;
    font-size: 10px;
}

.padding-left-zero{
    padding-left: 0 !important;
}

.zenwork-client-group-addon{
    background: #fff;
    border: 1px transparent;
    border-right: 1px solid #ccc;
}

.zenwork-customized-green-btn{
    background: #439348!important;
    color: #fff!important;
    padding: 7px 12px!important;
    font-size: 12px!important;
    border-radius: 0px!important;
}

.zenwork-custom-select{
    background: #fff!important;
}

.border-none{
    border:0 none !important;
}


.address-wrapper { padding: 0 0 20px;}
.address-wrapper ul { display: inline-block; width: 100%;}
.address-wrapper ul li { margin: 0 0px 20px 0; padding: 0;}
.address-wrapper ul li.details-width{ width: 100%;}
.address-wrapper ul li .form-control { font-size: 15px; line-height:15px;border: none; box-shadow: none; height: auto;padding:13px 0 13px 10px;}
.address-wrapper ul li select { background:#fff; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.address-wrapper ul li.united-state { margin: 0; clear: left;}
.address-wrapper ul li.state, .address-wrapper ul li.city { padding: 0 10px 0 0;}

.contact-wrapper { display: block; padding: 0 0 20px;}
.contact-wrapper ul { margin: 0 0 30px; padding: 0;}
.contact-wrapper ul li {margin: 0 0 15px 0; padding: 0;}
.contact-wrapper ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.contact-wrapper ul li .phone { display: block; background:#fff; padding: 0 10px;clear: left;}
.contact-wrapper ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.contact-wrapper ul li .phone span .fa { color: #636060;
font-size: 23px;
line-height: 20px;
width: 18px;
text-align: center;}
.contact-wrapper ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 84%; border: none; background:transparent; box-shadow: none; padding:13px 0 13px 10px;}
.contact-wrapper ul li .form-control { display: inline-block;vertical-align: middle; width:100%; border: none; background:#fff; box-shadow: none;padding:13px 10px;
height: auto;}
.contact-wrapper ul li.phone-width { float: none; clear:left;}
.contact-wrapper ul li.phone-width .phone .form-control { width: 100%; padding: 13px 10px 13px 10px;}

.zenwork-custom-input{
    background: #fff !important; padding: 13px 15px; height: auto;
}

.company-details-wrapper , .contact-wrapper{
    padding:30px 0px;
    border-bottom: 1px dotted;
}

.address-wrapper{
    padding: 40px 0px;
}

.zenwork-custom-proceed-btn{
    background:#008f3d !important;
    border-color: transparent !important;
    border-radius: 25px !important;
    padding: 6px 30px;
    margin: 0 0 0 40px;
}
.zenwork-customized-transparent-btn { margin: 0 0 0 20px;}


.zenwork-margin-zero small { display:inline-block; vertical-align: middle; font-size: 17px; margin: 0 10px 0 0;}
.zenwork-margin-zero{ font-size: 18px; color:#585858;}
.company-details h2 { color:#008f3d; font-size: 18px; line-height: 18px; display: inline-block; margin: 0 0 20px;}
.company-details label { color:#5f5c5c; font-size: 15px; padding: 0 0 10px; font-weight: normal;}
.right-text { margin: 0 0 0 20px !important;}
 
.contact-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.contact-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}
.address-wrapper h2 { color:#636060; font-size: 17px; line-height: 17px; display: inline-block; margin: 0 0 20px;}
.address-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.address-wrapper .form-group { margin: 15px 0 0;}
.address-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}


.client-tabs {padding:10px 0 0;}
.client-tabs .tab-content { margin:40px 0 0;}
.client-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;background: transparent;}
.client-tabs .nav-tabs {border-bottom:#dbdbdb 2px solid;}
.client-tabs .nav-tabs > li { padding:0 30px;}
.client-tabs .nav-tabs > li > a {font-size: 18px;line-height: 18px;font-weight:normal;color:#484747;border: none;padding: 10px 0 15px !important;margin: 0;}
.client-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;}
.client-tabs .nav-tabs > li.active{border-bottom:#439348 5px solid;padding:0px 30px 0 30px;color:#000;}

/* package-billing css */
.package-billing-main{
    margin: 40px 0 0 0;
}

.package-billing-main .billing-block h2 { padding: 20px 20px 5px;}

.discount-block{
    padding: 0;
}
.billing-package-block{
    float: none;
}
.border-bottom-green{
    border-bottom: 2px solid #439348;
    padding: 0 0px 5px 0;
}
.discount-heading .list-items{
    display: inline-block;
    padding: 0px 20px 5px 0;
    font-size: 16px; float: left;
}
.discount-heading .list-items span{
    display: block;
}
.package-table { margin: 0 auto; float: none; padding: 0 30px 0 0px;}
.package-table h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.package-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;text-align: center; width: 34%;}
.package-table .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.package-table .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.package-table .table>tbody>tr>td, .package-table .table>tfoot>tr>td, .package-table .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-bottom: #e0dada 1px solid;font-size: 15px;text-align: center;}
.package-table .table>tbody>tr>td .mat-select-placeholder{
    font-size: 15px;
    text-align: left;
}
.package-table .table>tbody>tr>td .package-table-select{
    background: #f8f8f8;
}
.add-on-cancel{
    float: left;
    padding:5px 3px 0 0;
}
.package-table .table>tbody>tr>td .add-on-select{
    float: right;
    width: 86% !important;
}
.package-table .table>tbody>tr .add-on-type{
    width:40%;
}
.package-table .table>tbody>tr .package-name{
    width: 21%;
}

.payment { margin: 50px 0 0;}

.payment-lft { padding:30px 15px 0 0;}
.payment-lft h2 {color:#008f3d; font-size: 17px; line-height: 17px;margin: 0; float: left; padding: 5px 0 0; font-weight: 600;}
.payment-lft > a {color:#008f3d; font-size: 16px; line-height: 17px;margin: 0; cursor: pointer; float: right; border-radius: 30px; padding: 10px 20px; border:#008f3d 1px solid;}

.payment-method { margin: 30px 0 0;}


.payment-method .panel-default>.panel-heading {background-color:#fff !important; border: none; position: relative; padding:0; box-shadow: 0 0 10px #ccc; display: block;}
.payment-method .panel-title { color:#808080; display:block; font-size: 15px; font-weight: 600;}
.payment-method .panel-title span { display: inline-block; padding:0 10px 0 0; margin: 0 10px 0 0; border-right:#ccc 1px solid;}
.payment-method .panel-title a:hover { text-decoration: none;}
.payment-method .panel-title>.small, .payment-method .panel-title>.small>a, .payment-method .panel-title>a, .payment-method .panel-title>small, .payment-method .panel-title>small>a { text-decoration:none; display: block; padding: 15px;}
.payment-method .panel { background: none; box-shadow: none; border-radius: 0;}
.payment-method .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color:#798993;
}

.payment-method .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.payment-method .panel-group .panel-heading+.panel-collapse>.list-group, .payment-method .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.payment-method .panel-heading .accordion-toggle:after { margin:4px 0 0; font-size: 12px; line-height: 10px;}
.payment-method .panel-body { padding: 0 0 5px;}

.payment-method .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.payment-method .panel-default { border-color:transparent;}
.payment-method .panel-group .panel+.panel { margin-top: 20px;}


.ach-payment { margin: 20px 0 0 0;}

.credit-payment { margin: 20px 0 0;}


.paypal-payment { margin: 20px 0 0;}


.payment-rgt { padding:50px 0 0 20px;}
.payment-rgt h3 { color:#008f3d; font-size: 16px; line-height: 17px; display: inline-block; margin: 0 0 20px;}

.billing-block { background:#fff;}
.billing-block h2 { background:#f0be19; padding: 20px; border-radius:5px 5px 0 0;margin:0;}
.billing-block h2 span { float: left; color:#3e3e3e; font-size: 16px; line-height: 16px;}
.billing-block h2 small { float:right; color:#3e3e3e; font-size: 16px; line-height: 16px;}
.annualy-block { float: right;}
.annualy-block p { float:left; color:#3e3e3e; font-size: 16px; line-height: 16px; border-bottom:#3e3e3e 1px solid; display:inline-block; margin: 0 30px 0 0;}
.billing-block > ul { padding:10px 0; margin: 0;}
.billing-block > ul > li { border-bottom:#b8c0c6 1px dashed; padding:13px 0 10px;}

.billing-price { padding: 0 20px;}
.billing-price > ul {  padding:0;}
.billing-price > ul > li { margin: 0 0 7px; border-bottom:none;}
.billing-price ul li h5 { color:#008f3d; font-size: 15px; line-height: 15px; margin: 0 0 3px; border-bottom:#008f3d 1px solid; display: inline-block;}
.billing-price ul li span { float: left; color:#777; font-size: 15px; line-height: 15px;}
.billing-price ul li small { float:right; color:#008f3d; font-size: 15px; line-height: 15px;}
.billing-price ul li a { float: left; cursor: pointer; display: inline-block; background:#b8c0c6; font-size: 13px; line-height: 13px; padding:4px 10px; color:#fff;
border-radius: 3px; margin: -3px 0 0 15px;}
.billing-price ul li var { float: left;; color:#008f3d; font-size: 16px; line-height: 15px; margin: 0 0 0 10px; font-style: normal;}

.billing-btm { margin:0 20px;}
.billing-btm .form-control { float: left; border:#d2cbcb 1px solid; width: 30%; padding: 15px 10px; border-radius: 5px; box-shadow: none;text-transform: uppercase;}
.billing-btm a.apply { float: left; color:#92b8ce; margin:6px 0 0 10px; font-size: 14px; cursor: pointer;}
.billing-btm em { float: right; color:#777; font-size: 15px; line-height: 15px; font-style: normal; padding: 10px 0 0;}

.billing-block h4 { background:#eef7ff; padding: 20px;margin:0;}
.billing-block h4 h1 { float: left; color:#008f3d; font-size: 18px; line-height: 16px; font-weight: bold; margin: 0;}
.billing-block h4 p { float:right; color:#008f3d; font-size: 18px; line-height: 16px;font-weight: bold; margin: 0;}

.payment-rgt a.btn {border-radius: 20px;color:#616060; font-size: 15px; padding:6px 25px; background:transparent; margin:40px 0 0; float:left; position: static;}
.payment-rgt a.btn:hover {background: #008f3d; color:#fff;}

.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#008f3d;width: 20px; height: 20px; padding:0 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0; color:#948e8e; font-size: 13px; line-height: 20px; padding: 0 0 0 10px;}


.payment-rgt .cont-check { margin:20px 20px 0;}
.payment-rgt .cont-check .checkbox label::after { padding:2px 0 0 4px;border-radius: 3px;}
.payment-rgt .cont-check .checkbox label { padding-left:15px;color:#6d6d6d; font-size: 15px;line-height: 17px;}
.payment-rgt .cont-check .checkbox label small { color:#008f3d;font-size: 15px; }

.date { height: auto !important; line-height:inherit !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0;}
.date span { border: none !important; padding: 0 !important;}
.date .form-control { width: 70% !important;}
.date .form-control:focus { box-shadow: none; border: none;}

/* packahe-billing-css-ends */

.discount-block .btn {
    background: #008f3d!important;
    color: #fff!important;
    padding: 8px 20px!important;
    font-size: 15px!important; margin: 0 0 0 20px;
}
.discount-block small { padding:0 10px 0 0;}
.discount-block small .fa { font-size: 14px;}




/* ==========================edit-company-starts========================== */

.setting-table{height: 100vh;}
.setting-table .table>thead>tr>th { padding: 18px 15px;background: #eec700}
.setting-table .table>tbody>tr>td, .setting-table .table>tfoot>tr>td, .setting-table .table>thead>tr>td { padding: 17px 15px;}


.payment-method .panel-group .credit-card-payment {
    background: #fff;
    -webkit-box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    margin: 10px 0 0 0;
}

.card-buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.card-buttons ul li .my-cards-btn{
    border-radius: 20px;
    background: #fff;
    color: #777d7a;
    padding: 8px 30px; 
}
.card-buttons ul li .my-cards-btn:hover,.card-buttons ul li .my-cards-btn:active,.card-buttons ul li .my-cards-btn:visited{
    border-radius: 20px;
    background: #777d7a;
    color: #fff;
    padding: 8px 30px;

}

.card-buttons ul li .secure-cards-btn:hover,.card-buttons ul li .secure-cards-btn:active,.card-buttons ul li .secure-cards-btn:visited{
    border-radius: 20px;
    background: #439348;
    color: #fff;
    padding: 8px 30px;
    border: 1px solid #439348;
}
.card-buttons ul li .secure-cards-btn{
    border-radius: 20px;
    background: #fff;
    color: #439348;
    padding: 8px 30px;
    border: 1px solid #439348;
}
.credit-card-details-date ul li{
    display: inline-block;
    padding: 0px 10px 0 0;
    width: 29.5%;
}
.wrapper{
    padding: 10px 25px;
}
.agree-policy{
    padding: 25px 40px;
}
.card-buttons {
    display: block;
    padding: 10px 20px;
}
.wrapper{
    padding: 10px 25px;
}
.card-buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.card-buttons ul li .my-cards-btn{
    border-radius: 20px;
    background: #fff;
    color: #777d7a;
    padding: 8px 30px; 
}
.card-buttons ul li .my-cards-btn:hover,.card-buttons ul li .my-cards-btn:active,.card-buttons ul li .my-cards-btn:visited{
    border-radius: 20px;
    background: #777d7a;
    color: #fff;
    padding: 8px 30px;

}

.card-buttons ul li .secure-cards-btn:hover,.card-buttons ul li .secure-cards-btn:active,.card-buttons ul li .secure-cards-btn:visited{
    border-radius: 20px;
    background: #439348;
    color: #fff;
    padding: 8px 30px;
    border: 1px solid #439348;
}
.card-buttons ul li .secure-cards-btn{
    border-radius: 20px;
    background: #fff;
    color: #439348;
    padding: 8px 30px;
    border: 1px solid #439348;
}

.left-padding { padding: 0;}