<div class="personal col-md-11">
  <form [formGroup]="jobDetailsForm" (ngSubmit)="saveJobDetails()">

    <div class="panel-group" id="accordion3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
              Details
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="employee-details padding-left-15">
              <div class="row">
                <div class="col-xs-2 list-items-addresslocal city" *ngIf="!fieldsShow.Employee_Id.hide">
                  <label>Employee#
                    <span *ngIf="fieldsShow.Employee_Id.required"> * </span>
                  </label>
                  <input *ngIf="fieldsShow.Employee_Id.format == 'number'" type="text" (keypress)="keyPress($event)" class="form-control text-field"
                    placeholder="" formControlName="employeeId" [required]="fieldsShow.Employee_Id.required" placeholder="Employee" [readonly]="jobTabView">

                  <input *ngIf="fieldsShow.Employee_Id.format == 'Alpha' || fieldsShow.Employee_Id.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control text-field" placeholder="Employee"
                    formControlName="employeeId" [required]="fieldsShow.Employee_Id.required" [readonly]="jobTabView">

                  <input *ngIf="fieldsShow.Employee_Id.format == 'AlphaNumeric'" type="text" (keypress)="omit_special_char($event)"
                    class="form-control text-field" placeholder="Employee" formControlName="employeeId"
                    [required]="fieldsShow.Employee_Id.required" [readonly]="jobTabView">

                  <span *ngIf="jobDetailsForm.get('employeeId').invalid && jobDetailsForm.get('employeeId').touched"
                    class="error">You must enter a employee Id</span>
                </div>
                <div class="col-xs-2 list-items-addresslocal" *ngIf="!fieldsShow.Employee_Type.hide">
                  <label>Employee Type <span *ngIf="fieldsShow.Employee_Type.required"> * </span></label>
                  <mat-select class="form-control text-field select-btn" placeholder="Select employee type"
                    formControlName="employeeType" [required]="fieldsShow.Employee_Type.required" [disabled]="jobTabView">
                    <mat-option *ngFor="let emp of empType" [value]="emp.name">{{emp.name}}
                    </mat-option>

                  </mat-select>
                  <span *ngIf="jobDetailsForm.get('employeeType').invalid && jobDetailsForm.get('employeeType').touched"
                    class="error">You must select a employee type</span>
                </div>
                <!-- <div class="col-xs-2 list-items-addresslocal city" *ngIf="!fieldsShow.Employee_Self_Service_Id.hide">
                  <label>Employee Self Service ID <span *ngIf="fieldsShow.Employee_Self_Service_Id.required"> *
                    </span></label><br>

                  <input *ngIf="fieldsShow.Employee_Self_Service_Id.format == 'number'" type="text" (keypress)="keyPress($event)"
                    class="form-control text-field" placeholder="" formControlName="employeeSelfServiceId"
                    [required]="fieldsShow.Employee_Self_Service_Id.required">
                  <input
                    *ngIf="fieldsShow.Employee_Self_Service_Id.format == 'Alpha' || fieldsShow.Employee_Self_Service_Id  .format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control text-field" placeholder=""
                    formControlName="employeeSelfServiceId" [required]="fieldsShow.Employee_Self_Service_Id.required">
                  <input *ngIf="fieldsShow.Employee_Self_Service_Id.format == 'AlphaNumeric'" type="text" (keypress)="omit_special_char($event)" 
                    class="form-control text-field" placeholder="" formControlName="employeeSelfServiceId"
                    [required]="fieldsShow.Employee_Self_Service_Id.required">


                  <span
                    *ngIf="jobDetailsForm.get('employeeSelfServiceId').invalid && jobDetailsForm.get('employeeSelfServiceId').touched"
                    class="error">You must enter a employee self service Id</span>
                </div> -->
                <div class="col-xs-4 pull-right">
                  <div class="col-xs-3 education-date-list emp-imgs">

                    <img src="../../../assets/images/directory_tabs/jobs/emp.png" class="img-emp-icon" alt="emp-icon">
                    <div class="emp-communicate-icons">
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>

                  </div>
                  <div class="col-xs-6 city hr-contact">
                    <label>HR Contact*</label>
                    <input type="text" class="form-control text-field" placeholder="" formControlName="HRContact" [readonly]="jobTabView">
                    <span *ngIf="jobDetailsForm.get('HRContact').invalid && jobDetailsForm.get('HRContact').touched"
                      class="error">You must enter a HR contact</span>
                  </div>
                </div>
              </div>
              
              <div class="row education-dates">
                <div class="col-xs-2 list-items-addresslocal" *ngIf="!fieldsShow.Work_Location.hide">
                  <label>Work Location <span *ngIf="fieldsShow.Work_Location.required"> * </span></label>
                  <mat-select class="form-control text-field select-btn" placeholder="Select location"
                    formControlName="location" [required]="fieldsShow.Work_Location.required" [disabled]="jobTabView">
                    <mat-option *ngFor="let locations of location" [value]="locations.name">
                      {{locations.name}}</mat-option>

                  </mat-select>
                  <span *ngIf="jobDetailsForm.get('location').invalid && jobDetailsForm.get('location').touched"
                    class="error">You must select a work location</span>
                </div>
                <div class="col-xs-2 list-items-addresslocal" *ngIf="!fieldsShow.Reporting_Location.hide">
                  <label>Reporting Location <span *ngIf="fieldsShow.Reporting_Location.required"> * </span></label>
                  <mat-select class="form-control text-field select-btn" placeholder="Select location"
                    formControlName="reportingLocation" [required]="fieldsShow.Reporting_Location.required" [disabled]="jobTabView">
                    <mat-option *ngFor="let locations of location" [value]='locations.name'>
                      {{locations.name}}</mat-option>
                  </mat-select>
                  <span
                    *ngIf="jobDetailsForm.get('reportingLocation').invalid && jobDetailsForm.get('reportingLocation').touched"
                    class="error">You must select a reporting location</span>
                </div>
              </div>

              <div class="row education-dates">
                <div class="education-date">
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Hire_Date.hide">
                    <label>Hire Date <span *ngIf="fieldsShow.Hire_Date.required"> * </span></label>


                    <div class="date">
                        <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control" formControlName="hireDate" [max]="jobTerminationData" (ngModelChange)="hireDateChange()" [required]="fieldsShow.Hire_Date.required" [disabled]="jobTabView">
                        <mat-datepicker #picker1></mat-datepicker>
                        <a mat-raised-button (click)="picker1.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="clearfix"></div>
                      </div>

                    <span *ngIf="jobDetailsForm.get('hireDate').invalid && jobDetailsForm.get('hireDate').touched"
                    class="error">You must select a hire date</span>

                    <!-- <input class="form-control text-field birthdate address-state-dropodown" #dpMDYSdate="bsDatepicker"
                      bsDatepicker formControlName="hireDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                      placeholder="mm/dd/yyyy" name="birth-date" [required]="fieldsShow.Hire_Date.required">

                  

                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                      alt="Company-settings icon" (click)="dpMDYSdate.toggle()"
                      [attr.aria-expanded]="dpMDYSdate.isOpen"> -->

                  </div>
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Rehire_Date.hide" >
                    <label>Rehire Date <span *ngIf="fieldsShow.Rehire_Date.required"> * </span></label>

                    <div class="date">
                        <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy" class="form-control" formControlName="reHireDate" [min]="jobHireData" (ngModelChange)="reHireDateChange()" [required]="fieldsShow.Rehire_Date.required" [disabled]="jobTabView">
                        <mat-datepicker #picker2></mat-datepicker>
                        <a mat-raised-button (click)="picker2.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="clearfix"></div>
                      </div>


                      <span *ngIf="jobDetailsForm.get('reHireDate').invalid && jobDetailsForm.get('reHireDate').touched"
                      class="error">You must select a rehire date</span>

                    <!-- <input class="form-control text-field birthdate address-state-dropodown" #dpMDYEdate="bsDatepicker"
                      bsDatepicker formControlName="reHireDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                      placeholder="mm/dd/yyyy" name="birth-date" [required]="fieldsShow.Rehire_Date.required">
                   
                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                      alt="Company-settings icon" (click)="dpMDYEdate.toggle()"
                      [attr.aria-expanded]="dpMDYEdate.isOpen"> -->

                  </div>
                  <div class="col-xs-4 pull-right">
                    <div class="col-xs-3 education-date-list emp-manager-imgs">
                      <img src="../../../assets/images/directory_tabs/jobs/emp.png" class="img-emp-icon" alt="emp-icon">
                      <div class="emp-communicate-icons">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-xs-6 city hr-contact">
                      <label>Manager Contact*</label><br>
                      <input type="text" class="form-control text-field" placeholder="" formControlName="managerContact"
                        required [disabled]="jobTabView">
                      <span
                        *ngIf="jobDetailsForm.get('managerContact').invalid && jobDetailsForm.get('managerContact').touched"
                        class="error">You must enter a manager contact</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row education-dates ">
                <div class=" education-date">
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Termination_Date.hide">
                    <label>Termination Date <span *ngIf="fieldsShow.Termination_Date.required"> * </span></label>


                    <div class="date">
                        <input matInput [matDatepicker]="picker3" placeholder="mm / dd / yy" class="form-control" formControlName="terminationDate"   [min]="jobHireData"  (ngModelChange)="terminationDateChange()" [required]="fieldsShow.Termination_Date.required" [disabled]="jobTabView">
                        <mat-datepicker #picker3></mat-datepicker>
                        <a mat-raised-button (click)="picker3.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="clearfix"></div>
                      </div>

                      <span
                      *ngIf="jobDetailsForm.get('terminationDate').invalid && jobDetailsForm.get('terminationDate').touched"
                      class="error">You must select a termination date</span>

                    <!-- <input class="form-control text-field birthdate address-state-dropodown" #dpMDYTDATE="bsDatepicker"
                      bsDatepicker formControlName="terminationDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                      placeholder="mm/dd/yyyy" name="birth-date" [required]="fieldsShow.Termination_Date.required">
                    
                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="edu-ends-calendar-icon"
                      alt="Company-settings icon" (click)="dpMDYTDATE.toggle()"
                      [attr.aria-expanded]="dpMDYTDATE.isOpen"> -->
                  </div>
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Termination_Reason.hide">
                    <label>Termination Reason <span *ngIf="fieldsShow.Termination_Reason.required"> * </span></label>
                    <mat-select class="form-control text-field select-btn" placeholder="Select termination"
                      formControlName="terminationReason" [required]="fieldsShow.Termination_Reason.required" [disabled]="jobTabView">
                      <mat-option value="Absence">A-Absence</mat-option>
                      <mat-option value="Performance">B-Performance</mat-option>
                      <mat-option value="Better Opportunity">C-Better Opportunity</mat-option>
                      <mat-option value="Misconduct">D-Misconduct</mat-option>
                    </mat-select>
                    <span
                      *ngIf="jobDetailsForm.get('terminationReason').invalid && jobDetailsForm.get('terminationReason').touched"
                      class="error">You must select a termination reason</span>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="row education-dates">
                <div class="col-xs-2 list-items-addresslocal" *ngIf="!fieldsShow.Rehire_Status.hide">
                  <label>Rehire Status <span *ngIf="fieldsShow.Rehire_Status.required"> * </span></label>
                  <mat-select class="form-control text-field select-btn" placeholder="Select status"
                    formControlName="rehireStatus" [required]="fieldsShow.Rehire_Status.required" [disabled]="jobTabView">
                    <mat-option *ngFor="let data of rehireArray" [value]="data.name">{{data.name}}</mat-option>
                    <!-- <mat-option value="inactive">Inactive</mat-option> -->
                  </mat-select>
                  <span *ngIf="jobDetailsForm.get('rehireStatus').invalid && jobDetailsForm.get('rehireStatus').touched"
                    class="error">You must select a status</span>
                </div>
                <div class="col-xs-2 list-items-addresslocal" *ngIf="!fieldsShow.Archive_Status.hide">
                  <label>Archive Status <span *ngIf="fieldsShow.Archive_Status.required"> * </span></label>
                  <mat-select class="form-control text-field select-btn" placeholder="Select status"
                    formControlName="archiveStatus" [required]="fieldsShow.Archive_Status.required" [disabled]="jobTabView">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inactive">Inactive</mat-option>
                  </mat-select>
                  <span
                    *ngIf="jobDetailsForm.get('archiveStatus').invalid && jobDetailsForm.get('archiveStatus').touched"
                    class="error">You must select a status</span>
                </div>
              </div>

              <div class="row education-dates ">
                <div class="education-date">
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.FLSA_Code.hide">
                    <label>FLSA Code <span *ngIf="fieldsShow.FLSA_Code.required"> * </span></label><br>
                    <mat-select class="form-control text-field select-btn" placeholder="Select code"
                      formControlName="FLSA_Code" [required]="fieldsShow.FLSA_Code.required" [disabled]="jobTabView">
                      <mat-option [value]='flsa.name' *ngFor="let flsa of flsaCode">{{flsa.name}}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="jobDetailsForm.get('FLSA_Code').invalid && jobDetailsForm.get('FLSA_Code').touched"
                      class="error">You must select a FLSA code</span>
                  </div>
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.EEO_Job_Category.hide">
                    <label>EEO Job Category <span *ngIf="fieldsShow.EEO_Job_Category.required"> * </span></label><br>
                    <mat-select class="form-control text-field select-btn" placeholder="Select category"
                      formControlName="EEO_Job_Category" [required]="fieldsShow.EEO_Job_Category.required" [disabled]="jobTabView">
                      <mat-option [value]='eeo.name' *ngFor="let eeo of eeoJob">{{eeo.name}}
                      </mat-option>
                    </mat-select>
                    <span
                      *ngIf="jobDetailsForm.get('EEO_Job_Category').invalid && jobDetailsForm.get('EEO_Job_Category').touched"
                      class="error">You must select job category</span>
                  </div>
                </div>
              </div>
              <div class="row education-dates ">
                <div class="col-xs-2 list-items-addresslocal city" *ngIf="!fieldsShow.Vendor_Id.hide">
                  <label>Vendor ID <span *ngIf="fieldsShow.Vendor_Id.required"> * </span></label>
                  <input *ngIf="fieldsShow.Vendor_Id.format == 'number'" type="number" class="form-control text-field"
                    placeholder="Vendor id" formControlName="VendorId" [required]="fieldsShow.Vendor_Id.required" [readonly]="jobTabView">
                  <input *ngIf="fieldsShow.Vendor_Id.format == 'Alpha' || fieldsShow.Vendor_Id.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control text-field" placeholder="Vendor id"
                    formControlName="VendorId" [required]="fieldsShow.Vendor_Id.required" [readonly]="jobTabView">
                  <input *ngIf="fieldsShow.Vendor_Id.format == 'AlphaNumeric'" type="text"
                    class="form-control text-field" placeholder="Vendor id" formControlName="VendorId"
                    [required]="fieldsShow.Vendor_Id.required" [readonly]="jobTabView">


                  <span *ngIf="jobDetailsForm.get('VendorId').invalid && jobDetailsForm.get('VendorId').touched"
                    class="error">You must enter a vendor Id</span>
                </div>

                <div class="col-xs-3 list-items-addresslocal"
                  *ngIf="!fieldsShow.Specific_Workflow_Approval.hide">
                  <label>Specific Workflow Approval <span *ngIf="fieldsShow.Specific_Workflow_Approval.required"> *
                    </span></label><br>
                  <mat-select class="form-control text-field select-btn" placeholder="Select approval"
                    formControlName="Specific_Workflow_Approval"
                    [required]="fieldsShow.Specific_Workflow_Approval.required" [disabled]="jobTabView">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                  <span
                    *ngIf="jobDetailsForm.get('Specific_Workflow_Approval').invalid && jobDetailsForm.get('Specific_Workflow_Approval').touched"
                    class="error">You must select a workflow approval</span>
                </div>
              </div>
              <div class="row education-dates">
                <div class="education-date">
                  <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Site_AccessRole.hide">
                    <label>Site Access Role <span *ngIf="fieldsShow.Site_AccessRole.required"> * </span></label><br>
                    <mat-select class="form-control text-field select-btn" placeholder="Select role"
                      formControlName="Site_AccessRole" [required]="fieldsShow.Site_AccessRole.required" [disabled]="jobTabView">
                      <mat-option *ngFor="let data of companyRoles" [value]="data._id">{{data.name}}</mat-option>
                      <!-- <mat-option value="Job2">Job2</mat-option> -->
                    </mat-select>

                    <span
                      *ngIf="jobDetailsForm.get('Site_AccessRole').invalid && jobDetailsForm.get('Site_AccessRole').touched"
                      class="error">You must select a access role</span>
                  </div>
                  <!-- <div class="col-xs-2 education-date-list padding10-listitems list-items-addresslocal"
                    *ngIf="!fieldsShow.Type_of_User_Role_type.hide">
                    <label>Type of User Role <span *ngIf="fieldsShow.Type_of_User_Role_type.required"> *
                      </span></label><br>
                    <mat-select class="form-control text-field select-btn" placeholder="Select role"
                      formControlName="typeofUserRoletype" [required]="fieldsShow.Type_of_User_Role_type.required">
                      <mat-option value="role1">Role 1</mat-option>
                      <mat-option value="role2">Role 2</mat-option>
                    </mat-select>
                    <span
                      *ngIf="jobDetailsForm.get('typeofUserRoletype').invalid && jobDetailsForm.get('typeofUserRoletype').touched"
                      class="error">You must select a user role</span>
                  </div> -->
                </div>
              </div>

              <div *ngIf="!jobTabView" class="save-changes">
                <div class="margin-top">
                  <ul class="submit-buttons list-unstyled">
                    <li class="list-item">
                      <button class="btn btn-success btn-style" type="submit"> Save </button>
                    </li>
                    <li class="list-item">
                      <button class="cancel" (click)="cancelJob()"> Cancel </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <hr class="zenwork-margin-ten-zero"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
              Employee Status History
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table">
              <thead class="tbl-head">
                <tr>

                  <th>Status</th>
                  <th>Effective Date</th>
                  <th>End Date</th>

                  <th>
                    <span *ngIf="!jobTabView">
                      <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item data-toggle="modal" data-target="#myModal">Update Employment
                          Status</button>

                      </mat-menu>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of employeeStatusHistory" class="rows-bg">
                  <td>
                    {{data.status}}
                  </td>
                  <td>
                    {{data.effective_date | date}}
                  </td>
                  <td *ngIf="data.end_date">
                    {{data.end_date | date}}
                  </td>
                  <td *ngIf="!data.end_date">
                      --
                    </td>


                  <td>

                  </td>
                </tr>




              </tbody>
            </table>
            <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
              Job Information History
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table">
              <thead class="tbl-head">
                <tr>

                  <th> Job Title</th>
                  <th> Business Unit</th>
                  <th>Department</th>

                  <th>Union</th>
                  <th>Reports To</th>
                  <th>Effective Date</th>
                  <th>End Date</th>

                  <th>
                    <span *ngIf="!jobTabView" class="option-position">
                      <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                      <mat-menu #menu1="matMenu">
                        <button mat-menu-item data-toggle="modal" data-target="#myModal2">Update Job Information
                        </button>

                      </mat-menu>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of jobInfoHistory " class="rows-bg">
                  <td>
                    {{data.jobTitle.name}}
                  </td>

                  <td>
                    {{data.businessUnit}}
                  </td>
                  <td>
                    {{data.department}}
                  </td>
                  <td>
                    {{data.unionFields}}
                  </td>
                  <td>
                    <span *ngIf="data.ReportsTo">{{data.ReportsTo.personal.name.preferredName || '--'}}</span>
                    <span *ngIf="!data.ReportsTo"> -- </span>

                  </td>

                  <td>

                    {{data.effective_date | date}}
                  </td>
                  <td *ngIf="data.end_date">
                      {{data.end_date | date}}
                  </td>
                  <td *ngIf="!data.end_date">
                     --
                  </td>
                  <td>

                  </td>


                </tr>

              </tbody>
            </table>
            <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>


      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive">
              Direct Reports

            </a>

          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="employees-details">
              <accordion class="margin-top-15">
                <accordion-group #group [isOpen]="isFirstOpen">
                  <span accordion-heading class="panel-border">
                    Employee's Details &nbsp;<i class="fa"
                      [ngClass]="group?.isOpen ? 'fa-caret-down': 'fa-caret-right'"></i>
                  </span>
                  <div *ngIf="individualEmployee">


                    <div class="col-xs-12 name-employee">
                      <div class="row">
                        <a (click)="detailEmployee()">
                          Crane Andy

                          <i class="glyphicon glyphicon-triangle-right angle"></i>
                        </a>
                      </div>

                    </div>

                  </div>
                  <div *ngIf="individualEmployeeDropdown"
                    class="col-xs-12 employee-individual-dropdown individual-employee">
                    <div class='row'>


                      <div class="col-xs-5">
                        <div class="row">
                          <ul class="list-unstyled list-profile">
                            <li class="name"> <a (click)="hideEmployeeData()"><b>Crane Andy
                                  <i class="glyphicon glyphicon-triangle-bottom angle"></i></b></a>
                            </li>
                            <li class="list-details">Sr. HR Administrator in Human Resources</li>
                            <li class="list-details"> Lindon,Utah</li>
                            <li class="list-details"> North America</li>
                          
                          </ul>
                          <img src="../../../assets/images/Directory/layer1_1_.png" class="list-profile">
                        </div>
                      </div>

                      <div class="col-xs-7">
                        <div class="row">
                          <ul class="list-personal list-unstyled">
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_email_24px.png" class="img-emp-info">
                              <span class="emp-info">craneandy@efficientoffice.com</span>
                            </li>
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_domain_24px1.png" class="img-emp-info">
                              <span class="emp-info">801-724-6600 Ext.1272</span>
                            </li>
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/Group 504.png" class="img-emp-info-mobile">
                              <span class="emp-info">&nbsp;415-555-8985</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div *ngIf="individualEmployeefly">


                    <div class="col-xs-12 name-employee">
                      <div class="row">
                        <a (click)="detailEmployeefly()">
                          Crane Andy

                          <i class="glyphicon glyphicon-triangle-right angle"></i>
                        </a>
                      </div>

                    </div>

                  </div>
                  <div *ngIf="individualEmployeeflyDropdown"
                    class="col-xs-12 employee-individual-dropdown individual-employee">
                    <div class='row'>


                      <div class="col-xs-5">
                        <div class="row">
                          <ul class="list-unstyled list-profile">
                            <li class="name"> <a (click)="hideEmployeeflyData()"><b>Crane Andy
                                  <i class="glyphicon glyphicon-triangle-bottom angle"></i></b></a>
                            </li>
                            <li class="list-details">Sr. HR Administrator in Human Resources</li>
                            <li class="list-details"> Lindon,Utah</li>
                            <li class="list-details"> North America</li>
                        
                          </ul>
                          <img src="../../../assets/images/Directory/layer1_1_.png" class="list-profile">
                        </div>
                      </div>

                      <div class="col-xs-7">
                        <div class="row">
                          <ul class="list-personal list-unstyled">
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_email_24px.png" class="img-emp-info">
                              <span class="emp-info">craneandy@efficientoffice.com</span>
                            </li>
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/ic_domain_24px.png" class="img-emp-info">
                              <span class="emp-info">801-724-6600 Ext.1272</span>
                            </li>
                            <li class="list-emp-detail">
                              <img src="../../../assets/images/Directory/Group 504.png" class="img-emp-info-mobile">
                              <span class="emp-info">&nbsp;415-555-8985</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </accordion-group>

              </accordion>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </form>
</div>

<!-- Update employment status -->

<div class="employement-status-modal">
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="col-xs-12 model-bg">
          <h4 class="mar-btm-30">Employment Status</h4>

          <hr class="zenwork-margin-ten-zero">

          <div class="col-xs-12">
            <div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Current Status</label><br>
                    <input type="text" [(ngModel)]="jobData.current_employment_status.status"
                      class="form-control text-field" placeholder="Status" readonly>
                  </li>
                </ul>
              </div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Select New Status</label><br>
                    <mat-select class="form-control text-field" [(ngModel)]="newStatus.empStatus" (ngModelChange)="empStatusChange($event)" placeholder="Select status">
                      <mat-option *ngFor="let data of allEmployementStatusArray" [value]="data.name">{{data.name}}
                      </mat-option>

                    </mat-select>
                  </li>
                </ul>
              </div>
            </div>
            <div class="employmnent-dates">
              <ul class="list-unstyled status-date">
                <li class="employment-date-list padding10-listitems list-items-addresslocal">
                  <label>Select Effective Date</label>

                  <div class="date">
                      <input matInput [matDatepicker]="picker4" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="newEffectivedate.effectDate">
                      <mat-datepicker #picker4></mat-datepicker>
                      <a mat-raised-button (click)="picker4.open()">
                        <span>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </a>
                      <div class="clearfix"></div>
                    </div>


                  <!-- <input class="form-control text-field start-date address-state-dropodown data-picker-align"
                    [(ngModel)]="newEffectivedate" #dpMDYSdate="bsDatepicker" bsDatepicker autocomplete="off"
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy" name="birth-date">

                  <img src="../../../assets/images/Onboarding/calendar_2_.png" class="emp-ends-calendar-icon"
                    alt="Company-settings icon" (click)="dpMDYSdate.toggle()" [attr.aria-expanded]="dpMDYSdate.isOpen"> -->

                </li>

              </ul>
            </div>
            <div class="employement-details padding-left-15 mar-btm-45">
              <!-- <ul class="list-unstyled">
                <li class="list-items-employement" style="width:24%">
                  <label>Available Termination Wizards</label><br>
                  <mat-select class="form-control text-field">
                    <mat-option value="">Standard Termination Wizard</mat-option>
                  </mat-select>
                </li>
              </ul> -->
            </div>
            <hr class="zenwork-margin-ten-zero">
            <div class="row mar-top-40">

              <button mat-button data-dismiss="modal">Cancel</button>

              <button mat-button class="submit-btn pull-right" (click)="updateEmployeeStatusInfo()">Submit</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update job information -->

<div class="employement-status-modal">
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="col-xs-12 model-bg">
          <h4 class="mar-btm-30">Update Job Information</h4>

          <hr class="zenwork-margin-ten-zero">

          <div class="col-xs-12">
            <div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Job Title</label>
                    <mat-select [(ngModel)]="updateJobData.jobTitle" class="form-control text-field" placeholder="Job title">
                      <mat-option *ngFor="let data of alljobTitleArray" [value]="data._id">{{data.name}}</mat-option>
                    </mat-select>
                  </li>
                  <li class="list-items-employement">
                    <label>Reports to</label>
                    <mat-select [(ngModel)]="updateJobData.ReportsTo" class="form-control text-field" placeholder="Reports to">
                      <mat-option *ngFor="let data of employeeData" [value]='data._id'>
                        {{data.personal.name.preferredName}}</mat-option>
                    </mat-select>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Business Unit</label>
                    <mat-select [(ngModel)]="updateJobData.businessUnit" class="form-control text-field" placeholder="Business unit">
                      <mat-option *ngFor="let data of allbusinessUnitData" [value]="data.name">{{data.name}}
                      </mat-option>
                    </mat-select>
                  </li>
                  <li class="list-items-employement">
                    <label>Department</label>
                    <mat-select [(ngModel)]="updateJobData.department" class="form-control text-field" placeholder="Department">
                      <mat-option *ngFor="let data of allDepartmentData" [value]="data.name">{{data.name}}
                      </mat-option>
                    </mat-select>
                  </li>
                  <li class="list-items-employement">
                    <label>Union</label>
                    <mat-select [(ngModel)]="updateJobData.unionFields" class="form-control text-field" placeholder="Union">
                      <mat-option *ngFor="let data of allUnionData" [value]="data.name">{{data.name}}
                      </mat-option>
                    </mat-select>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Location</label>
                    <mat-select [(ngModel)]="updateJobData.location" class="form-control text-field" placeholder="Location">
                      <mat-option *ngFor="let data of allLocationData" [value]="data.name">{{data.name}}
                      </mat-option>
                    </mat-select>
                  </li>
                  <li class="list-items-employement">
                    <label>Work Remote</label>
                    <mat-select [(ngModel)]="updateJobData.workRemote" class="form-control text-field" placeholder="Work remote">
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="employement-details padding-left-15">
                <ul class="list-unstyled">
                  <li class="list-items-employement">
                    <label>Change Reason</label>
                    <mat-select [(ngModel)]="updateJobData.changeReason" class="form-control text-field" placeholder="Change reason">
                      <mat-option value="A-Promotion">A-Promotion</mat-option>
                    </mat-select>
                  </li>
                  <li class="job-date-list padding10-listitems list-items-addresslocal">
                    <label>Effective Date</label>


                    <div class="date">
                        <input matInput [matDatepicker]="picker5" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="updateJobData.effective_date">
                        <mat-datepicker #picker5></mat-datepicker>
                        <a mat-raised-button (click)="picker5.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="clearfix"></div>
                      </div>

                    <!-- <input class="form-control text-field start-date address-state-dropodown data-picker-align"
                      [(ngModel)]="updateJobData.effective_date" #dpMDYSdate="bsDatepicker" bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="mm/dd/yyyy" name="birth-date">
                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="emp-ends-calendar-icon"
                      alt="Company-settings icon" (click)="dpMDYSdate.toggle()"
                      [attr.aria-expanded]="dpMDYSdate.isOpen"> -->

                  </li>
                </ul>
              </div>
            </div>
            <div class="employement-details padding-left-15 mar-btm-50">
              <ul class="list-unstyled">
                <li class="list-job-employement text-area-width">
                  <label>Notes</label><br>
                  <textarea class="form-control" [(ngModel)]="updateJobData.notes" rows="5" placeholder="Note"></textarea>
                </li>
              </ul>
            </div>

            <hr class="zenwork-margin-ten-zero">
            <div class="row mar-top-40">

              <button mat-button data-dismiss="modal">Cancel</button>

              <button mat-button class="submit-btn pull-right" (click)="updateJobInfo()">Submit</button>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
  <div style="margin:20px 50px;">

    <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
    <div class="clear-fix"></div>
  </div>
</div>