.personal { margin: 30px auto 0; float: none;}
.personal .panel-default>.panel-heading { padding: 0 0 25px; background-color:transparent !important; border: none;}
.personal .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.personal .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.personal .panel-title>.small, .personal .panel-title>.small>a, .personal .panel-title>a, .personal .panel-title>small, .personal .panel-title>small>a { text-decoration:none;}
.personal .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.personal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.personal .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.personal .panel-group .panel-heading+.panel-collapse>.list-group, .personal .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.personal .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.personal .panel-body { padding: 0 0 5px;}

.personal .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.personal .panel-default { border-color:transparent;}
.personal .panel-group .panel+.panel { margin-top: 20px;}



.employee-details{
    margin: 10px 0 0 0;
}
.padding-left-15{
    padding: 0 0 0 15px;
 
}
.list-items-addresslocal{
    display: inline-block;
    padding: 0px 7px;margin: 0 0 20px;
}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
}
.mar-btm-25 {
    margin-bottom: 25px;
}
input{
    height:30px;
    border:0;
    /* width: 178px; */
}
select{
    font-size: 12px;
}
label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 15px;
    padding: 0 0 6px;
}
.address-state-dropodown{
    width: 100%;
    border-radius: 0px!important;
    height: 30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.education-date {
    margin: 0px 5px 10px 0;
}
.emp-imgs{
    vertical-align: text-bottom;
    margin: 0 0 6px 0;
    /* margin-left: 20%; */
    height: 64px;
}

.emp-communicate-icons {
    padding: 10px 0 0 0; width: 80px;
}
.emp-communicate-icons i{
    display: inline-block;
    font-size: 20px;
    padding: 0px 10px;
}
.education-date-list {
    
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    
}
.birthdate{
    font-size: 14px;
    padding-left: 15px;
    box-shadow: none;
}

.edu-ends-calendar-icon{
    position: absolute;
    top: 42px;
    width: 15px;
    right: 15px;
}
.width-17 {
    width: 17%;
}

.status-list-items{
    display: inline-block;
    padding: 0px 10px;
}
.submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px 0 0;
  }
  .submit-buttons .btn-success {
      background-color: #fff;
      color:#439348;
      border: #439348 1px solid;
  }
  .margin-top{
      margin-top: 40px 0 20px 0;
  }
  .save-changes{
      margin: 20px 0px;
  }
  .btn-style{
      padding: 7px 28px;
      border-radius: 30px;
      font-size: 15px;
  }
  .zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.add-education{
    font-size: 14px;
    margin: 0 30px 0 0;
}

.submit-buttons .cancel { background: transparent; border: transparent; color: #e44a49; font-size: 16px;}

.name b{
    color:#616161;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
}

.select-btn {
    border: none;
    box-shadow: none;
    height: 40px;
    width:100%;
}




.emp-manager-imgs {
    vertical-align: text-bottom;
    margin: 0 0 6px 0;
    height: 64px;
}
.tbl-head {
    background: #ecf7ff
}
.rows-bg {
    background: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8; font-size: 15px; padding: 15px 10px;
}

.employement-status-modal .modal-dialog { width: 60%;}
.employement-status-modal .modal-content { border-radius: 5px !important;}
.employement-status-modal .modal-header {padding: 15px 15px 20px;}
.employement-status-modal .modal-header h4 { padding: 0 0 0 30px;}

.model-bg {
    background: #fff;
    padding: 30px;
}
.zenwork-margin-ten-zero {
    margin: 10px 0px!important;
    border-top: 2px solid #eee;
}
.mar-btm-30 {
    margin-bottom: 25px;
}

input{
    height:30px;
    border:0;
}
.list-items-employement{
    display: inline-block;
    width: 24%;
    padding: 0px 7px;
}
.list-job-employement {
    display: inline-block;
    width: 50%;
    padding: 0px 7px;
}
.list-job-employement .text-field {
    resize: none;
    border: none;
    background: #f8f8f8;
    width: 100%;
}
.list-items-employement .text-field{
    font-size: 15px;
    padding-left: 15px;
    width: 100%;
    background: #f8f8f8
}
.employement-details{
    margin: 20px 0 0 0;
}
.padding-left-15{
    padding: 0 0 0 15px;
 
}
.emp-select-btn {
    border: none;
    box-shadow: none;
    height: auto;
    width: 100%;
    background: #f8f8f8;
}
.height-30 {
    height: 30px;
}
.status-date {
    margin: 0px 5px 10px 0;
}
.employment-date-list {   
    position: relative;
    display: inline-block;
    padding: 0px 23px; 
    width: 27%;   
}
.job-date-list {   
    position: relative;
    display: inline-block; 
    width: 24%;   
}


.employmnent-dates {
    margin-top: 20px;
}
.mar-btm-45 {
    margin-bottom: 45px;
}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.mar-top-40 {
    margin-top: 40px;
}
.mar-btm-50 {
    margin-bottom: 50px;
}
.error {
    color:#e44a49;
    padding: 5px 0 0;
}
textarea{
    resize: none;
    width:90%;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}
.next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}


.date { height: auto; line-height:inherit; width:100%;background:#fff;}
.date a { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}
.date a:focus { border: none; outline: none;}
.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:75%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.employmnent-dates .date, .job-date-list .date { background:#f8f8f8;}