.emp-time { padding: 25px 0 0;}

.emp-time-lft { text-align: center}
.emp-time-lft-in {  background: #fff; padding: 15px 0 100px; border-radius: 5px;}
.emp-time-lft h4 { padding:0 0 35px;}
.emp-time-lft ul { display: block;}
.emp-time-lft ul li { margin: 0 0 30px; cursor: pointer;}
.emp-time-lft ul li a { display: block;}
.emp-time-lft ul li a figure img { margin: 0 auto 20px;} 
.emp-time-lft ul li a small { color:#737070; padding: 6px 15px; font-size: 14px; 
border: #ccc 1px solid; border-radius:15px;}


.emp-time-rgt {display: inline-block;}
.emp-time-rgt-in {  background: #fff; padding: 15px 0 25px;border-radius: 5px;box-shadow: 0 0 8px #c5c5c5; margin: 0 0 25px;}
.emp-time-rgt-in h4 { padding:0 0 10px 20px;}

.emp-time-rgt ul { display: block; text-align: center;}
.emp-time-rgt ul li { float: none; display: inline-block;}
.emp-time-rgt ul li a { display: block;}
.emp-time-rgt ul li a h5 { color:#737070; padding:0 0 10px; font-size: 18px;}
.emp-time-rgt ul li a figure img { margin: 0 auto 20px;} 

.vacation { position: relative; text-align: left; padding: 0 0 0 40px;}
.vacation span { display: inline-block; font-size: 14px; color: #ccc;}
.vacation span b { display: inline-block; font-size: 22px; color: #bfbcbc; padding: 0 7px 0 0;}
.vacation small { display:block; font-size: 14px; color: #737070;}
.vacation:after { content:''; position: absolute; top:5px; left:20px; border-left: #23a4db 5px solid; height:90%;}
.vacation.sick:after { content:''; position: absolute; top:5px; left:20px; border-left: #fad32b 5px solid; height:90%;}
.vacation.breave:after { content:''; position: absolute; top:5px; left:20px; border-left: #7ac650 5px solid; height:90%;}
.vacation.duty:after { content:''; position: absolute; top:5px; left:20px; border-left: #52d3c8 5px solid; height:90%;}


.training { padding: 0 5px; margin: 0 0 30px;}
.training h3 { vertical-align: middle; margin: 0;}
.training h3 img { vertical-align: middle; display: inline-block;}
.training h3 span { vertical-align: middle;display: inline-block; font-size: 16px; padding:0 0 0 10px;}

.training a {display: inline-block; font-size: 14px;color:  #737070; margin: -10px 0 0;}

.training ul { text-align: left;background: #fff; padding:0px 10px 0px;margin: 10px 0 0;}
.training ul li { display: block; width: auto; border-bottom: #ccc 1px solid; padding:6px 0;}
.training ul li:nth-last-child(1) { border: none;}

.training ul li .training-cont { padding: 0;}
.training ul li .training-cont label{color: #484747; font-weight: normal; font-size: 14px;display: block;}

.training ul li .training-cont .date { width: auto;}
.training ul li .training-cont .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; 
box-shadow:none; width:auto;height:auto; min-width: auto;}

.training ul li .training-cont .date button span { border: none !important; padding: 0 !important;}
.training ul li .training-cont .date .form-control { width:77%; height: auto; padding: 0 0 0 10px;}
.training ul li .training-cont .date .form-control:focus { box-shadow: none; border: none;}
.training ul li .training-cont .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.training > ul > li > a {
    color: #f0848a;
    padding: 3px 15px;
    border-radius: 20px;
    text-align: center;
    border: #f0848a 1px solid;
    margin: 13px 0 0px;
    font-size: 12px;
}

.training > ul > li .training-cont > a { color: #ccc;}
.training.company h3{ padding: 0 5px 10px;}
.training.company ul li .training-cont label { padding: 0 0 8px;} 
.training.company ul li { padding: 12px 0;}

.training.policy ul li {padding:15px 0;}
.card-align {
    margin: 0 15px 30px 15px;
}
.card-shadow{
    box-shadow: none;
}
.bg-color {
    background: #f8f8f8;
    margin-bottom: 10px;
}
.date-align {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: green;
    border-right: 1px solid #ece3e3;
}