<div class="emp-time">

  <div class="card-align">
    <mat-card class="card-shadow">
      <h4>Company Announcements and News ({{companyAddList.length}})</h4>
      <mat-card class="card-shadow bg-color">
        <div class="row">
          <div class="col-xs-1">
            <p class="date-align">24 <br> MAR</p>
          </div>
          <div *ngFor="let data of companyAddList" class="col-xs-11">
            <p>{{data.description}}</p>
          </div>
        </div>
      </mat-card>
      

    </mat-card>
  </div>






  <div class="emp-time-lft col-md-3">
    <div class="emp-time-lft-in">
      <h4>My Time</h4>
      <ul>
        <li>
          <a (click)="punchIn()">
            <figure><img src="../../../../assets/images/dashboard/punch-in.png" alt="img"></figure>
            <small>Punch In</small>
          </a>
        </li>
        <li>
          <a (click)="punchOut()">
            <figure><img src="../../../../assets/images/dashboard/punch-in.png" alt="img"></figure>
            <small>Punch Out</small>
          </a>
        </li>
        <li>
          <a routerLink='/admin/admin-dashboard/employee-management/profile/profile-view/time-schedule/work-schedule'>
            <figure><img src="../../../../assets/images/dashboard/approve.png" alt="img"></figure>
            <small>Approve / View Time Sheet</small>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="emp-time-rgt col-md-9">

    <div class="emp-time-rgt-in">
      <h4>My Time Off</h4>

      <div class="time-off">

        <ul>
          <li class="col-md-3">
            <a href="#">
              <h5>Vacation</h5>
              <figure><img src="../../../../assets/images/dashboard/vacation.png" alt="img"></figure>

              <div class="vacation">
                <span><b>0.0</b>Hrs Used (YTD)</span>
                <small>0.0 Hrs Scheduled</small>
              </div>

            </a>
          </li>

          <li class="col-md-3">
            <a href="#">
              <h5>Sick</h5>
              <figure><img src="../../../../assets/images/dashboard/sick.png" alt="img"></figure>

              <div class="vacation sick">
                <span><b>0.0</b>Hrs Used (YTD)</span>
                <small>0.0 Hrs Scheduled</small>
              </div>

            </a>
          </li>

          <li class="col-md-3">
            <a href="#">
              <h5>Breavement</h5>
              <figure><img src="../../../../assets/images/dashboard/breavment.png" alt="img"></figure>

              <div class="vacation breave">
                <span><b>0.0</b>Hrs Used (YTD)</span>
                <small>0.0 Hrs Scheduled</small>
              </div>

            </a>
          </li>

          <li class="col-md-3">
            <a href="#">
              <h5>Jury Duty</h5>
              <figure><img src="../../../../assets/images/dashboard/duty.png" alt="img"></figure>

              <div class="vacation duty">
                <span><b>0.0</b>Hrs Used (YTD)</span>
                <small>0.0 Hrs Scheduled</small>
              </div>

            </a>
          </li>

        </ul>

      </div>
    </div>

    <div *ngIf="managersData.show_training" class="training col-md-6">

      <h3>
        <img src="../../../../assets/images/dashboard/training.png" alt="img">
        <span>Training</span>
      </h3>

      <a href="#" class="pull-right">View My Training</a>
      <div class="clearfix"></div>

      <ul>

        <li>

          <div class="training-cont pull-left col-md-8">
            <label>New Hire On Board</label>
            <div class="date">
              <button mat-raised-button (click)="picker.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker></mat-datepicker>

              <div class="clearfix"></div>
            </div>
          </div>

          <a href="#" class="pull-right">Past Due</a>
          <div class="clearfix"></div>

        </li>

        <li>

          <div class="training-cont pull-left col-md-8">
            <label>New Hire On Board</label>
            <div class="date">
              <button mat-raised-button (click)="picker1.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control">
              <mat-datepicker #picker1></mat-datepicker>

              <div class="clearfix"></div>
            </div>
          </div>

          <a href="#" class="pull-right">Past Due</a>
          <div class="clearfix"></div>

        </li>

      </ul>

    </div>

    <div *ngIf="managersData.show_company_links" class="training col-md-6 company">

      <h3>
        <img src="../../../../assets/images/dashboard/company.png" alt="img">
        <span>Compnay Links</span>
      </h3>

      <ul>

        <li *ngFor="let data of managersData.company_links">

          <div class="training-cont pull-left col-md-8">
            <label>{{data.site_name}}</label>
            <a target="_blank" [href]="data.site_link">{{data.site_link}}</a>
          </div>
          <div class="clearfix"></div>

        </li>

        <li>

          <div class="training-cont pull-left col-md-8">
            <label>New Hire On Board</label>
            <a href="#">Zenwork.com</a>
          </div>
          <div class="clearfix"></div>

        </li>


      </ul>

    </div>

    <div class="clearfix"></div>



    <div *ngIf="managersData.show_company_policies" class="training col-md-6 policy">

      <h3>
        <img src="../../../../assets/images/dashboard/training.png" alt="img">
        <span>Company Policies</span>
      </h3>

      <ul>

        <li>
          <div class="training-cont">
            <label>Company Handbook</label>
          </div>
        </li>

        <li>
          <div class="training-cont">
            <label>Company Handbook</label>
          </div>
        </li>


      </ul>

    </div>


  </div>

  <div class="clearfix"></div>
</div>