<div class="zenwork-documents-tab" style="margin-left: 35px;">
  <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <span>Documents</span>
      </li>
    </ul>
  </div>

  <div class="custom-tables">
    <table class="table">
      <thead>
        <tr>
          <th>

          </th>
          <th>Document Name
            <i class="material-icons arrow-down" (click)="documentSort(1)">
              arrow_right_alt
            </i>
            <i class="material-icons arrow-up" (click)="documentSort(-1)">
              arrow_right_alt
            </i>
          </th>
          <th>Document Type
            <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true"
                class="fa fa-filter"></i></a>
            <ul class="dropdown-menu list">
              <li *ngFor="let documentType of allDocumentType"><a class="documents"
                  (click)="filter(documentType.name)">{{documentType.name}}</a></li>
            </ul>
          </th>
          <th>Original File Name</th>
          <th *ngIf="!documentsTabView">
            <mat-icon class="cursor" [matMenuTriggerFor]="menu" style="float:right">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button *ngIf="!checkDocumentIds.length >=1" mat-menu-item (click)="openDocumentDialog()">Add</button>
              <button *ngIf="(!checkDocumentIds.length <=0) && (checkDocumentIds.length ==1)" mat-menu-item
                (click)="editDocument()">Edit</button>
              <button *ngIf="(!checkDocumentIds.length <=0) && (checkDocumentIds.length >=1)" mat-menu-item
                (click)="deleteDocument()">Delete</button>
            </mat-menu>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let document of allDocuments">
          <td [ngClass]="{'zenwork-checked-border': document.isChecked}">

            <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="document.isChecked"
              (change)="checkDocument($event, document._id)">

            </mat-checkbox>
          </td>
          <td>
            {{document.documentName}}
          </td>
          <td>
            {{document.documentType}}
          </td>
          <td>
            <a href="{{document.url}}" target="_blank">
              {{document.originalFilename}}
            </a>
          </td>
          <td>

          </td>

        </tr>


    </table>
    <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
    </mat-paginator>



  </div>

  <div *ngIf="!documentsTabView" style="margin:20px 28px;">

    <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
    <div class="clear-fix"></div>
  </div>

  <!-- <hr class="zenwork-margin-ten-zero">

  <div class="personal-head">
      <ul class="list-unstyled main-head">
        <li class="list-items">
          <span>Company Policies</span>
        </li>
      </ul>
    </div>
  <div class="custom-tables">
      <table class="table">
        <thead>
          <tr>
            <th>
            
            </th>
            <th>Policy Name</th>
            <th>Acknowledgment Date</th>
            <th>Renewal Date</th>
          
          </tr>
        </thead>
        <tbody>
  
          <tr>
         
              <td>
  
            </td>
            <td>Company Handbook</td>
            <td>
                <div class="date">
                    <input matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control ">
                    <mat-datepicker #picker></mat-datepicker>
                    <button mat-raised-button (click)="picker.open()">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                    </button>
                    <div class="clearfix"></div>
                  </div>
            </td>
            <td>
                <div class="date">
                    <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control" >
                    <mat-datepicker #picker1></mat-datepicker>
                    <button mat-raised-button (click)="picker1.open()">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                    </button>
                    <div class="clearfix"></div>
                  </div>
            </td>
           
          </tr>
  
  
      </table>
      <mat-paginator [length]="" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]">
      </mat-paginator>

      <button class="btn pull-right save" type="submit">Save Changes</button>

      <div class="clearfix"></div>
    </div>
   -->