.zenwork-documents-tab {
    padding: 10px 30px;
}
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.main-head .list-items span{
    vertical-align: middle;
    font-size: 16px;
}

a:focus {
    outline: none
}
a, a:hover {
  color: black;
}

.custom-tables { margin: 0 auto; float: none; padding: 0 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px; position: relative;}
.custom-tables .table>thead>tr>th a { display: inline-block; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px;}
.custom-fields .checkbox{ margin: 0;}
.custom-tables.table>tbody>tr>th a, .custom-tables .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.custom-tables .table>tbody>tr>th a .fa, .custom-tables .table>thead>tr>th a .fa { color: #6f6d6d;}
.custom-tables button { border: none; outline: none; background:transparent;}

.custom-tables .table>tbody>tr>th .dropdown-menu, .custom-tables .table>thead>tr>th .dropdown-menu { top:50px; border:none; margin: 0; padding: 0;}
.list>li>a { padding: 6px 20px; color:#ccc; display: block !important;}
.list>li>a:hover {color:#fff !important; background: #099247;}



.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid;  border-radius: 20px; background: transparent; font-size: 15px; margin: 5px 0 0;}

  .assets-table{
    padding: 0px 20px;
  }

.zenwork-checked-border:after { 
content: '';
position: absolute;
top: 0;
left: -50px;
border-right: #83c7a1 4px solid;
height: 100%;
border-radius: 4px;
padding: 25px;
}

.date { height: 38px !important; line-height:inherit !important; width:42% !important; background: #f8f8f8;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important; margin-left: 15px;}
.date .form-control { width:82%; height: auto; padding: 12px 0 12px 10px; margin-right: 20px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.document-field {
    background: #f8f8f8;
}
.save {border-radius: 20px; height:40px; line-height:38px;font-size: 15px; padding: 0 24px;margin:30px 0 0;background: #008f3d; color:#fff;}

.arrow-up {
    transform: rotate(-90deg);
    margin-left: 12px;
    position: absolute;
    top: 18px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.arrow-down {
    transform: rotate(90deg);
    position: absolute;
    top: 18px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}