<div class="company-details-wrapper">
  <div class="stepper">

    <mat-horizontal-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>

      <mat-step label="Client Details" *ngIf="isClientDetailshide">


        <form #loginForm="ngForm" (ngSubmit)="f.form.valid && createCompany(stepper)" #f="ngForm">
          <div class="company-details">
            <div class="col-xs-4">

              <div class="form-group">
                <label>Company Legal Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" maxlength="32"
                  placeholder="Company Name" [(ngModel)]="companyDetails.name" name="name" required
                  #companyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }">
                <span *ngIf="(f.submitted && companyName.invalid) || (companyName.touched && companyName.invalid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter company name</span>


              </div>


              <div class="form-group">
                <label>Trade Name*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Trade Name"
                  [(ngModel)]="companyDetails.tradeName" name="tradeName" maxlength="32" required
                  #companyTrade="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyTrade.invalid }">
                <span *ngIf="(f.submitted && companyTrade.invalid) || (companyTrade.touched && companyTrade.invalid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter trade name</span>
              </div>
              <div class="form-group">
                <label>Email*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Email"
                  [(ngModel)]="companyDetails.email" name="email" required #emailer="ngModel" type="email"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  [ngClass]="{ 'is-invalid': f.submitted && emailer.invalid }">
                <span *ngIf="(f.submitted && emailer.invalid) || (emailer.touched && emailer.invalid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  valid email</span>

              </div>
              <div class="form-group">
                <label>Estimated Number of Employees*</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input"
                  placeholder="No. of Employees" (keypress)="keyPress($event)" maxlength="4"
                  [(ngModel)]="companyDetails.employeCount" name="employeCount" required #count="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && count.invalid }">
                <span *ngIf="(f.submitted && count.invalid) || (count.touched && count.invalid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  employee</span>
              </div>
              <div class="form-group">
                <label>Referral By</label>
                <input type="text" class="form-control zenwork-input zenwork-custom-input"
                  placeholder="Referral Company Name" [(ngModel)]="companyDetails.referralcompany" maxlength="24"
                  name="referral">
                <!-- <span *ngIf="(f.submitted && referal.invalid) || (referal.touched && referal.invalid)" style="color:#e44a49; padding:6px 0 0;">Enter referal name</span> -->
              </div>
              <div class="form-group">
                <div class="col-xs-9 padding-left-zero">
                  <label>Add client as a Reseller?</label>
                  <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                    placeholder="Client / Reseller" [(ngModel)]="companyDetails.type" name="type"
                    (ngModelChange)="wholesaleDiscountChange($event)" required #reseller="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && reseller.invalid }">
                    <mat-option value="reseller">
                      Yes
                    </mat-option>
                    <mat-option value="company">
                      No
                    </mat-option>
                  </mat-select>
                  <span *ngIf="(f.submitted && reseller.invalid) || (reseller.touched && reseller.invalid)"
                    style="color:#e44a49; padding:6px 0 0;">Enter
                    reseller</span>
                </div>

                <div class="col-xs-6 padding-right-zero" *ngIf="companyDetails.type == 'company'">
                  <div class="form-group">
                    <label>Client Belongs to Reseller?</label>
                    <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.belongsToReseller"
                      [ngModelOptions]="{standalone:true}" required #belongReseller="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && belongReseller.invalid }">
                      <mat-option value="true">
                        Yes
                      </mat-option>
                      <mat-option value="false">
                        No
                      </mat-option>
                    </mat-select>
                    <span
                      *ngIf="(f.submitted && belongReseller.invalid) || (belongReseller.touched && belongReseller.invalid)"
                      style="color:#e44a49; padding:6px 0 0;">Enter client reseller</span>
                  </div>

                  <div class="form-group" *ngIf="companyDetails.belongsToReseller == 'true'">
                    <label>Select Reseller</label>
                    <mat-select class="form-control -input zenwork-custom-input zenwork-custom-select"
                      placeholder="Client / Reseller" [(ngModel)]="companyDetails.resellerId"
                      (ngModelChange)="selectedReseller($event)" [ngModelOptions]="{standalone:true}" required
                      #resellerId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && resellerId.invalid }">
                      <mat-option value="{{reseller._id}}" *ngFor="let reseller of resellersList">
                        {{reseller.name}}
                      </mat-option>

                    </mat-select>
                    <span *ngIf="(f.submitted && resellerId.invalid) || (resellerId.touched && resellerId.invalid)"
                      style="color:#e44a49; padding:6px 0 0;">Select reseller</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            <div class="clearfix"></div>

          </div>
          <div class="buttons">
            <ul class="list-unstyled">
              <li class="list-items">
                <a class="back" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Back</a>
              </li>
              <li class="list-items">
                <a class="cancel" (click)="cancel()">Cancel</a>
              </li>
              <li class="list-items pull-right">
                <button class='save' mdStepperNext type="submit">
                  Save & Continue
                </button>
              </li>

              <div class="clearfix"></div>
            </ul>
          </div>
        </form>

      </mat-step>

      <mat-step label="Packages & Billing">

        <div class="package-billing-main" style="font-family: lato">

          <div class="col-md-7 discount-block">
            <ul class="list-unstyled discount-heading">
              <li *ngIf="isClientDetailshide" class="list-items">
                <span [ngClass]="{'border-bottom-green':!selectedPackage.wholeSaleDiscount}">Whole sale discount
                  <br>
                  <small>(Reseller is billed)</small>
                </span>

              </li>
              <li *ngIf="isClientDetailshide" class="list-items">
                <mat-slide-toggle [(ngModel)]="selectedPackage.wholeSaleDiscount"></mat-slide-toggle>
              </li>
              <li *ngIf="isClientDetailshide" class="list-items">
                <span [ngClass]="{'border-bottom-green':selectedPackage.wholeSaleDiscount}">Direct discount
                  <br>
                  <small>(Client is billed)</small>
                </span>

              </li>
              <li [ngClass]="{ 'padding-left-self-boarding': !isClientDetailshide }" class="list-items">
                <button [disabled]="discountEnable" class="btn" (click)="addAnotherAddOn()">
                  <small>
                    <i aria-hidden="true" class="fa fa-plus"></i>
                  </small> Add-On
                </button>
              </li>
            </ul>
            <div class="package-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Package</th>
                    <th>Add-On
                      <span class="green">+</span>
                    </th>
                    <th *ngIf="isClientDetailshide">
                      Discount
                    </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="package-name">
                      <mat-select class="form-control zenwork-input package-table-select"
                        [(ngModel)]="selectedPackage.name" placeholder="Select Package"
                        (ngModelChange)="getSpecificPackageDetails()">
                        <mat-option [value]="package.name" *ngFor="let package of packages">
                          {{package.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td>

                    </td>
                    <td *ngIf="isClientDetailshide">
                      <!-- <mat-select class="form-control zenwork-input package-table-select" [disabled]="discountEnable" [(ngModel)]="discountValue"
                        placeholder="Select Package" (ngModelChange)="discountBasePrice()">
                        <mat-option [value]="discount.value" *ngFor="let discount of dicountArray">
                          {{discount.viewValue}}
                        </mat-option>
                      </mat-select> -->

                      <input type="text" (keypress)="keyPress($event)"
                        class="form-control zenwork-input package-table-select" [disabled]="discountEnable"
                        [(ngModel)]="discountValue" placeholder="discount" maxlength="3"
                        (ngModelChange)="discountBasePrice()">
                    </td>
                    <td *ngIf="isClientDetailshide">
                      <div class="date1">
                        {{selectedPackage.startDate | date}}
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td *ngIf="!isClientDetailshide">
                      <div class="date">
                        {{selectedPackage.startDate | date}}
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td *ngIf="isClientDetailshide">

                      <div class="date1">
                        {{selectedPackage.endDate | date}}
                        <div class="clearfix"></div>
                      </div>

                    </td>
                    <td *ngIf="!isClientDetailshide">

                      <div class="date">
                        {{selectedPackage.endDate | date}}
                        <div class="clearfix"></div>
                      </div>

                    </td>
                  </tr>
                  <tr *ngFor="let packageAddon of selectedPackage.adons">
                    <td>

                    </td>
                    <td class="add-on-type">
                      <span class="add-on-cancel" (click)="addonRemove(packageAddon.selectedAddOn)">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </span>
                      <mat-select class="form-control zenwork-input package-table-select add-on-select"
                        placeholder="Select Add-on" [(ngModel)]="packageAddon.selectedAddOn"
                        (ngModelChange)="addOnChange(packageAddon.selectedAddOn)">
                        <mat-option [value]="addOn.name" *ngFor="let addOn of allAddOns">
                          {{addOn.name}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td *ngIf="isClientDetailshide">

                    </td>
                    <td>
                      {{selectedPackage.startDate | date }}
                    </td>
                    <td>
                      {{selectedPackage.endDate | date}}
                    </td>
                  </tr>
                  <!-- <tr>
                      <td>
  
                      </td>
                      <td class="add-on-type">
                        <span class="add-on-cancel">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                        <mat-select class="form-control zenwork-input package-table-select add-on-select" placeholder="BioMetric Access/Time Stamp">
                          <mat-option value="ACA">
                            BioMetric Access/Time Stamp
                          </mat-option>
                          <mat-option value="BioMetric">
                            ACA Comliance
                          </mat-option>
                          <mat-option value="Basic">
                            Advanced Training
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
                        12/12/2018
                      </td>
                      <td>
                        12/12/2019
                      </td>
                    </tr> -->
                </tbody>
              </table>
            </div>
          </div>

          <div class="payment-rgt col-md-5">


            <div class="billing-block">
              <h2>
                <span>Billing</span>
                <div class="annualy-block">
                  <p>Monthly</p>
                  <mat-slide-toggle (change)="toggleDateChange($event)"></mat-slide-toggle>
                  <small>Annually</small>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </h2>

              <ul>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Package</h5>
                      </li>
                      <li>
                        <span>{{selectedPackage.name}}</span>
                        <small></small>

                        <div class="clearfix"></div>
                      </li>

                      <li>
                        <span>Base Price</span>
                        <small>$ {{selectedPackage.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>

                      <li>
                        <span>Number of Employees</span>
                        <var><input type="text" class="form-control" (keypress)="keyPress($event)"
                            [(ngModel)]="addedCompanyData.employeCount" maxlength="4" required>
                        </var>
                        <a (click)="updateEmployeeCount()" style="margin: 0 0 0 15px">Update</a>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Employee Cost</span>
                        <small>$ {{selectedPackage.costPerEmployee * addedCompanyData.employeCount}}</small>
                        <div class="clearfix"></div>
                      </li>

                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Add-on</h5>
                      </li>
                      <!-- {{selectedPackage.adons.price}} -->
                      <li *ngFor="let adon of selectedPackage.adons">
                        <span>{{adon.selectedAddOn}}</span>
                        <small>{{adon.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="no-bor">
                  <div class="billing-price">
                    <ul>
                      <li *ngIf="isClientDetailshide">
                        <span>Discount</span>
                        <small>(-){{discountValue}}%</small>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Price</span>
                        <small>$ {{selectedPackage.totalPrice}}</small>
                        <div class="clearfix"></div>
                      </li>

                      <li>
                        <span>Tax Rate @ {{taxrate.tax_rate}} %</span>
                        <small>$ {{(selectedPackage.totalPrice * (taxrate.tax_rate))/100}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>

              <h4>
                <h1 *ngIf="!isClientDetailshide">Grand Total</h1>
                <h1 *ngIf="isClientDetailshide">Estimated Price</h1>
                <p>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*(taxrate.tax_rate)/100}}</p>
                <div class="clearfix"></div>
              </h4>

            </div>
            <div *ngIf="!isClientDetailshide" class="cont-check">

            </div>
            <div *ngIf="isClientDetailshide" class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2" style="font-family: lato">Make me the
                  <small> Master Admin</small> of this client's company.</label>
              </div>
            </div>

            <!-- <a class="btn" (click)="savePackageDetails(stepper)">Save & Continue</a>
            <a class="btn">Cancel</a> -->
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="buttons">
          <ul class="list-unstyled">
            <!-- add-client -->
            <li *ngIf="isClientDetailshide" class="list-items">
              <a class="back" (click)="goBack(stepper)">Back</a>
            </li>
            <li *ngIf=" isClientDetailshide" class="list-items">
              <a class="cancel" (click)="cancel()">Cancel</a>
            </li>
            <li *ngIf="!isClientDetailshide" class="list-items">
              <a class="back" (click)="backHome()">Back</a>
            </li>
            <!-- self-signon -->
            <li *ngIf="!isClientDetailshide" class="list-items">
              <a class="cancel" (click)="cancel1()">Cancel</a>
            </li>
            <li class="list-items pull-right">
              <button [disabled]="!selectedPackage.totalPrice" class='save' (click)="savePackageDetails(stepper)"
                mdStepperNext>
                Save & Continue
              </button>
            </li>

            <div class="clearfix"></div>
          </ul>
        </div>
      </mat-step>

      <mat-step label="Contact Details">



        <div class="contact-wrapper" style="font-family: lato">

          <div class="col-xs-8">

            <ul class="zenwork-margin-bottom-zero col-xs-7">
              <li>
                <h3>Contact Details</h3>
              </li>
              <li>
                <h4>Primary Company Contact*</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                 
                  <input type="text" class="form-control" placeholder="Contact Name" maxlength="50"
                    [(ngModel)]="companyContact.name" required #contact="ngModel">

                </div>
                <span *ngIf="!companyContact.name && contact.touched || (!companyContact.name && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please enter
                  contact name</span>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-12">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" name="email" class="form-control" placeholder="Work Email"
                    [(ngModel)]="companyContact.email" required #workEmail="ngModel"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" readonly>


                  <!-- <input type="text" class="form-control zenwork-input zenwork-custom-input" placeholder="Email"
                  [(ngModel)]="companyDetails.email" name="email" required #emailer="ngModel" type="email"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  [ngClass]="{ 'is-invalid': f.submitted && emailer.invalid }">  -->


                </div>
                <span *ngIf="!companyContact.email && workEmail.touched || (!companyContact.email && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter work email</span>
                <p *ngIf=companyContact.email [hidden]="workEmail.untouched || workEmail.valid "
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter a valid email </p>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-9">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input class="form-control" placeholder="Work Phone" [(ngModel)]="companyContact.phone" required
                    #workPhone="ngModel" (keypress)="keyPress($event)" minlength=10 maxlength=10>
                </div>
                <span *ngIf="!companyContact.phone && workPhone.touched || (!companyContact.phone && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter work phone</span>
              </li>
              <li class="col-md-2 right-text">

                <input type="text" class="form-control" placeholder="Ext" minlength="3" maxlength="4"
                  (keypress)="keyPress($event)" [(ngModel)]="companyContact.extention" required #ext="ngModel">
                <span *ngIf="!companyContact.extention && ext.touched || (!companyContact.extention && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Extention</span>
              </li>

              <div class="clearfix"></div>

            </ul>

            <div class="form-group col-xs-8">
              <mat-checkbox class="zenwork-customized-checkbox"
                [(ngModel)]="companyContact.isPrimaryContactIsBillingContact"></mat-checkbox>
              <small>Is Primary Contact same as billing Contact ?</small>
            </div>
            <div class="clearfix"></div>

          </div>

          <div class="col-xs-4 billing-company-contact">
            <ul *ngIf="!companyContact.isPrimaryContactIsBillingContact ">
              <li>
                <h4>Billing Company Contact</h4>
              </li>
              <li class="phone-width">
                <div class="phone">
                  <!-- <span>
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span> -->
                  <input type="text" class="form-control" placeholder="Contact Name" [(ngModel)]="billingContact.name"
                    required #billingName="ngModel">
                </div>
                <span *ngIf="!billingContact.name && billingName.touched || (!billingContact.name && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter billing name</span>
              </li>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-9">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="email" name="email" class="form-control" placeholder="Work Email"
                    [(ngModel)]="billingContact.email" required #billingEmail="ngModel"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                </div>
                <span *ngIf="!billingContact.email && billingEmail.touched || (!billingContact.email && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter work email</span>
              </li>
              <div class="clearfix"></div>
              <li>
                <h4>Phone</h4>
              </li>
              <li class="col-md-8">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input class="form-control" placeholder="Work Phone" [(ngModel)]="billingContact.phone" required
                    #billingPhone="ngModel" (keypress)="keyPress($event)" minlength=10 maxlength=10>
                </div>
                <span *ngIf="!billingContact.phone && billingPhone.touched || (!billingContact.phone && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter work phone</span>
              </li>
              <li class="col-md-2 right-text">

                <input type="text" class="form-control" placeholder="Ext" (keypress)="keyPress($event)" maxlength="4"
                  [(ngModel)]="billingContact.extention " required #extn="ngModel" type="number">
                <span *ngIf="!billingContact.extention && extn.touched || (!billingContact.extention && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Extention</span>
              </li>

              <div class="clearfix"></div>

            </ul>
          </div>

          <div class="clearfix"></div>

        </div>


        <div class="address-wrapper" style="font-family: lato">
          <div class="clearfix"></div>

          <div class="col-xs-5">
            <h3>
              Address Details
            </h3>
            <h4>
              Company Address*
            </h4>
            <ul class="zenwork-margin-bottom-zero">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control" maxlength="50"
                  [(ngModel)]="address.address1" required #companyAddress="ngModel">
                <span *ngIf="!address.address1 && companyAddress.touched || (!address.address1 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company address</span>
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control" maxlength="50"
                  [(ngModel)]="address.address2">
                <!-- <span *ngIf="!address.address2 && companyAddress1.touched || (!address.address2 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company address</span> -->
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero">
              <li class="state col-md-4">
                <input type="text" placeholder="City" maxlength="24" class="form-control" [(ngModel)]="address.city"
                  required #companyCity="ngModel">
                <span *ngIf="!address.city && companyCity.touched || (!address.city && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  city</span>
              </li>
              <li *ngIf="!isClientDetailshide" class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="State" [(ngModel)]="address.state" required #companyState="ngModel">
                  <mat-option *ngFor="let data of allStates" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                  <!-- <mat-option value="washington">
                    Washington
                  </mat-option>
                  <mat-option value="florida">
                    Florida
                  </mat-option> -->
                </mat-select>
                <span *ngIf="!address.state && companyState.touched || (!address.state && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  state</span>
              </li>
              <li *ngIf="isClientDetailshide" class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="State" [(ngModel)]="address.state" required #companyState="ngModel">
                  <mat-option *ngFor="let data of allStates" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                  <!-- <mat-option value="washington">
                      Washington
                    </mat-option>
                    <mat-option value="florida">
                      Florida
                    </mat-option> -->
                </mat-select>
                <span *ngIf="!address.state && companyState.touched || (!address.state && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  state</span>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control" maxlength="10" [(ngModel)]="address.zipcode"
                  required #companyZip="ngModel">
                <span *ngIf="!address.zipcode && companyZip.touched || (!address.zipcode && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  zip</span>
              </li>

              <li *ngIf="!isClientDetailshide" class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder=" Country" [(ngModel)]="address.country" required #companyCountry="ngModel">

                  <mat-option *ngFor="let data of allCountryes" [value]="data.name">
                    {{data.name}}
                  </mat-option>


                </mat-select>
                <span *ngIf="!address.country && companyCountry.touched || (!address.country && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  country</span>
              </li>
              <li *ngIf="isClientDetailshide" class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder=" Country" [(ngModel)]="address.country" required #companyCountry="ngModel">

                  <mat-option *ngFor="let data of allCountryes" [value]="data.name">
                    {{data.name}}
                  </mat-option>


                </mat-select>
                <span *ngIf="!address.country && companyCountry.touched || (!address.country && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  country</span>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>

            <div class="form-group">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="address.isPrimaryAddressIsBillingAddress">
              </mat-checkbox>
              <small>Is Primary Address same as billing address ?</small>
            </div>
            
          </div>

          <div class="col-xs-5" *ngIf="!address.isPrimaryAddressIsBillingAddress">
            <h2>
              Billing Company Address*
            </h2>
            <ul class="zenwork-margin-bottom-zero">
              <li class="col-md-12">
                <input type="text" placeholder="Street1" class="form-control" [(ngModel)]="billingAddress.address1"
                  required #billingAddress="ngModel">
                <span
                  *ngIf="!billingAddress.address1 && billingAddress.touched || (!billingAddress.address1 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company address</span>
              </li>
              <li class="col-md-12">
                <input type="text" placeholder="Street2" class="form-control" [(ngModel)]="billingAddress.address2"
                  required #billingAddress1="ngModel">
                <span
                  *ngIf="!billingAddress.address2 && billingAddress1.touched || (!billingAddress.address2 && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Please
                  enter company address</span>
              </li>
            </ul>

            <ul class="zenwork-margin-bottom-zero">
              <li class="state col-md-4">
                <input type="text" placeholder="City" class="form-control" [(ngModel)]="billingAddress.city" required
                  #billingCity="ngModel">
                <span *ngIf="!billingAddress.city && billingCity.touched || (!billingAddress.city && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  city</span>
              </li>
              <li class="city col-md-4">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="State" [(ngModel)]="billingAddress.state" required #billingState="ngModel">
                  <mat-option *ngFor="let data of allStates" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                  <!-- <mat-option value="washington">
                    Washington
                  </mat-option>
                  <mat-option value="florida">
                    Florida
                  </mat-option> -->
                </mat-select>
                <span *ngIf="!billingAddress.state && billingState.touched || (!billingAddress.state && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  state</span>
              </li>
              <li class="zip col-md-4">
                <input type="text" placeholder="Zip" class="form-control" maxlength="10" [(ngModel)]="billingAddress.zipcode" required
                  #billingZip="ngModel">
                <span *ngIf="!billingAddress.zipcode && billingZip.touched || (!billingAddress.zipcode && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  zip</span>
              </li>

              <li class="col-md-4 united-state">
                <mat-select class="form-control zenwork-input zenwork-custom-input zenwork-custom-select"
                  placeholder="Country" [(ngModel)]="billingAddress.country" required #billingCountry="ngModel">
                  <mat-option *ngFor="let data of allCountryes" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                </mat-select>
                <span *ngIf="!billingAddress.country && billingCountry.touched || (!billingAddress.country && isValid)"
                  style="color:#e44a49; padding:6px 0 0;">Enter
                  country</span>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="buttons">
          <ul class="list-unstyled">
            <li class="list-items">
              <a class="back" (click)="goBack(stepper)">Back</a>
            </li>
            <li class="list-items">
              <a class="cancel" (click)="cancel()">Cancel</a>
            </li>
            <li class="list-items pull-right">
              <button class='save' type="submit" (click)="saveAddressDetails(stepper)" mdStepperNext>
                Save & Continue
              </button>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </mat-step>

      <mat-step label="Payment">
        <div class="payment">

          <div class="payment-lft col-md-7">
            <h2>Select Payment Method</h2>
            <!-- <a>Secure Payment Details</a> -->
            <div class="clearfix"></div>

            <div class="payment-method">

              <div class="panel-group" id="accordion1">

                <div class="panel panel-default">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        <span><img src="../../../assets/images/main-nav/card.png" alt="img"></span> Credit Card Payment
                      </a>
                    </h4>
                  </div>

                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body credit-card-payment">

                      <div class="credit-payment">
                        <!-- Credit Card PaymentCredit Card PaymentCredit Card PaymentCredit Card Payment -->
                        <div class="card-buttons">
                          <ul class="list-unstyled">
                            <li class="list-items pull-left">
                              <a class="btn btn-default my-cards-btn ">My Cards</a>
                            </li>
                            <li *ngIf="isClientDetailshide" class="list-items pull-left">
                              <a class="btn btn-default my-cards-btn ">Add New Card</a>
                            </li>
                            <li *ngIf="isClientDetailshide" class="list-items pull-right">
                              <a class="btn btn-default secure-cards-btn ">Secure Credit Card Payment Details</a>
                            </li>

                          </ul>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="wrapper">
                        <ul class="list-unstyled">
                          <li class="list-items">
                            <div class="form-group col-xs-7">
                              <label>Name On Card*</label>
                              <input type="text" placeholder="Name On Card" [(ngModel)]="cardDetails.cardName"
                                class="form-control" name="cardName" maxlength="24" required #cardName="ngModel">
                              <span
                                *ngIf="!cardDetails.cardName && cardName.touched || (!cardDetails.cardName && isValidcard)"
                                style="color:#e44a49; padding:6px 0 0;">Enter name on card</span>
                            </div>
                          </li>
                          <li class="list-items">
                            <div class="form-group col-xs-7">
                              <label>Card Number*</label>
                              <input type="text" placeholder="Card Number" minlength="16" maxlength="16"
                                (keypress)="keyPress($event)" [(ngModel)]="cardDetails.cardNumber" class="form-control"
                                name="cardNumber" required #cardNumber="ngModel">
                              <span
                                *ngIf="!cardDetails.cardNumber && cardNumber.touched || (!cardDetails.cardNumber && isValidcard)"
                                style="color:#e44a49; padding:6px 0 0;">Enter valid cardnumber</span>
                            </div>
                          </li>
                          <li class="list-items credit-card-details-date">
                            <ul class="list-unstyled col-xs-10">
                              <li class="in-list-items">
                                <div class="form-group">
                                  <label>Card expiry month*</label>
                                  <!-- <input type="text" placeholder="Expiration Month" minlength="2" (keypress)="keyPress($event)"
                                    [(ngModel)]="cardDetails.expMonth" class="form-control" name="expMonth" required
                                    #expMonth="ngModel"> -->
                                  <mat-select class="form-control" placeholder="Expiration Month"
                                    [(ngModel)]="cardDetails.expMonth" name="expMonth" required #expMonth="ngModel">
                                    <mat-option *ngFor="let data of monthsArray" [value]="data">
                                      {{data}}
                                    </mat-option>

                                  </mat-select>
                                  <span
                                    *ngIf="!cardDetails.expMonth && expMonth.touched || (!cardDetails.expMonth && isValidcard)"
                                    style="color:#e44a49; padding:6px 0 0;">Enter expire month</span>
                                </div>
                              </li>
                              <li class="in-list-items">
                                <div class="form-group">
                                  <label style="height:23px;"></label>
                                  <!-- <input type="text" placeholder="Expiration Year" (keypress)="keyPress($event)"
                                    minlength="4" [(ngModel)]="cardDetails.expYear" class="form-control" name="expYear"
                                    required #expYear="ngModel"> -->

                                  <mat-select class="form-control" placeholder="Expiration Year"
                                    [(ngModel)]="cardDetails.expYear" name="expYear" required #expYear="ngModel">
                                    <mat-option *ngFor="let data of yearsArray" [value]="data">
                                      {{data}}
                                    </mat-option>

                                  </mat-select>
                                  <span
                                    *ngIf="!cardDetails.expYear && expYear.touched || (!cardDetails.expYear && isValidcard)"
                                    style="color:#e44a49; padding:6px 0 0;">Enter expire year</span>
                                </div>
                              </li>
                              <li class="in-list-items">
                                <div class="form-group">
                                  <label>CVV*</label>
                                  <input type="text" placeholder="CVV" (keypress)="keyPress($event)" maxlength="4"
                                    [(ngModel)]="cardDetails.cvv" class="form-control" name="cvv" required
                                    #cvv="ngModel">
                                  <span *ngIf="!cardDetails.cvv && cvv.touched || (!cardDetails.cvv && isValidcard)"
                                    style="color:#e44a49; padding:6px 0 0;">Enter cvv number</span>
                                </div>
                              </li>

                            </ul>
                          </li>
                        </ul>
                        <!-- <div class="form-group">
                          <button (click)="chargeCreditCard()">Submit</button>
                        </div> -->
                      </div>
                      <div class="agree-policy col-xs-7">
                        <ul class="list-unstyled terms">
                          <li class="list-items">
                            <mat-checkbox (change)="termsAndConditionCheckbox($event)"
                              class="zenwork-customized-checkbox"> I have read accept terms and <a routerLink="/terms"
                                style="color:#008f3d; display: inline-block;" (click)="terms()">
                                privacy
                                policy </a>
                            </mat-checkbox>

                          </li>

                          <li *ngIf="isClientDetailshide" class="list-items">
                            <mat-checkbox class="zenwork-customized-checkbox"> I agree to allow this credit card to be
                              used for automatic recurring payments</mat-checkbox>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="panel panel-default">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <span><img src="../../../assets/images/main-nav/card1.png" alt="img"></span> ECheck/ACH Payment
                      </a>
                    </h4>
                  </div>

                  <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">

                      <div class="ach-payment">
                        <!-- ECheck/ACH Payment ECheck/ACH Payment ECheck/ACH Payment -->
                      </div>


                    </div>
                  </div>
                </div>


                <div class="panel panel-default">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                        href="#collapseThree">
                        <span><img src="../../../assets/images/main-nav/card2.png" alt="img"></span> PayPal Payment
                      </a>
                    </h4>
                  </div>

                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                      <div class="credit-payment">
                        <!-- PayPal PaymentPayPal PaymentPayPal PaymentPayPal PaymentPayPal Payment -->
                      </div>

                    </div>
                  </div>
                </div>





              </div>

            </div>



          </div>


          <div class="payment-rgt col-md-5" style="font-family: lato">

            <!-- <h3 *ngIf="isClientDetailshide">Rate Chart (Temporary Link)</h3> -->

            <div class="billing-block">
              <h2>
                <span>Billing</span>
                <div class="annualy-block">
                  <p *ngIf="selectedPackage.billingFrequency == 'monthly'">Monthly</p>
                  <!-- <mat-slide-toggle (change)="toggleDateChange($event)"></mat-slide-toggle> -->
                  <p *ngIf="selectedPackage.billingFrequency == 'annually'">Annually</p>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </h2>

              <ul>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Package</h5>
                      </li>
                      <li>
                        <span>{{selectedPackage.name}}</span>
                        <a (click)="changePlan(stepper)"
                          style="padding: 2px 15px 2px 15px; margin: 0 0 0 15px; background: #8da4b5; color: #fff; font-size: 13px;">Change
                          Plan</a>
                        <small *ngIf="!isClientDetailshide"> $ {{selectedPackage.price}}</small>
                        <div class="clearfix"></div>
                      </li>

                      <li *ngIf="isClientDetailshide">
                        <span>Base Price</span>
                        <small>$ {{selectedPackage.price}} </small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>

                      <li>
                        <span>Number of Employees</span>
                        <var>{{addedCompanyData.employeCount}}</var>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Employee Cost</span>
                        <small>$ {{selectedPackage.costPerEmployee * addedCompanyData.employeCount}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <div class="billing-price">
                    <ul>
                      <li>
                        <h5>Add-on</h5>
                      </li>
                      <li *ngFor="let adon of selectedPackage.adons">
                        <span>{{adon.selectedAddOn}}</span>
                        <small>{{adon.price}}</small>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="no-bor">
                  <div class="billing-price">
                    <ul>
                      <li *ngIf="isClientDetailshide">
                        <span>Discount</span>
                        <small>(-){{discountValue}}%</small>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <span>Total Price</span>
                        <small>{{selectedPackage.totalPrice}}</small>
                        <div class="clearfix"></div>
                      </li>


                      <li>
                        <span>Tax Rate @ {{taxrate.tax_rate}}%</span>
                        <small>{{(selectedPackage.totalPrice * (taxrate.tax_rate))/100}}</small>
                        <div class="clearfix"></div>
                      </li>
                      <li class="coupons-block">
                        <span>
                          <input type="text" placeholder="coupon code" [(ngModel)]="addedCoupon" class="form-control"
                            [readonly]="!couponEnable">

                        </span>
                        <a (click)="couponApply()">Apply</a>
                        <small>$-{{finalCouponValue}}</small>
                        <div class="clearfix"></div>
                      </li>
                      <li class="coupons-code-check">
                        <span>
                          <mat-checkbox (change)="couponCode($event)" class="zenwork-customized-checkbox"> I have a
                            coupon code to apply</mat-checkbox>
                        </span>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>

              <h4>
                <h1>Grand Total</h1>
                <p *ngIf="!finalCouponValue">$
                  {{ selectedPackage.totalPrice + selectedPackage.totalPrice*(taxrate.tax_rate)/100}}</p>
                <p *ngIf="finalCouponValue">{{grandPrice}}</p>
                <div class="clearfix"></div>
              </h4>

            </div>


            <div *ngIf="isClientDetailshide" class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">Make me the
                  <small> Master Admin</small> of this client's company.</label>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>



          <div class="clearfix"></div>
        </div>
        <div class="buttons">
          <ul class="list-unstyled">
            <li class="list-items">
              <a class="back" (click)="goBack(stepper)">Back</a>
            </li>
            <li class="list-items">
              <a class="cancel" (click)="cancel()">Cancel</a>
            </li>
            <li class="list-items pull-right">
              <button [disabled]="!paymentBtn" class='save' (click)="chargeCreditCard(stepper)" mdStepperNext>
                Save & Continue
              </button>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </mat-step>

      <mat-step label="Finished">


       <div class="stepper-top">

        <div class="dropdown">
          <button class="menu-dropdown dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

          </button>
          <ul class="dropdown-menu menu-dropdown-list">
            <li>
              <a (click)="downloadPdf()">Download as PDF</a>
            </li>
            <li>
              <a>Send to Email</a>
            </li>
            <li>
              <a>Print</a>
            </li>
          </ul>
        </div>

        <div id="invoice">

          <div
            style="padding:30px 50px 0 50px; background: #fff;border-bottom:1px solid gray; margin: 0 auto; float: none;"
            class="col-md-11">
            <div style="padding-bottom: 20px;" class="invoice-block">
              <a href="#" style="float: left"><img src="http://52.207.167.138:3003/api/client/images/mainblacklogo.png" width="330"
                  height="41" alt="img"></a>
              <span style="float: right;cursor:pointer">
                <span class="menu"></span>
              </span>
              <div class="clearfix"></div>
            </div>

          </div>

          <div>
            <div style="padding:45px 40px 50px; background:#fff; float: none; margin: 0 auto;" class="col-md-11">
              <div class="col-md-4">
                <ul style="list-style-type: none;">
                  <li style="line-height: 23px;">
                    <b>Billing Company Contact</b>
                  </li>
                  <li style="color: #439348;line-height: 23px;">{{invoiceData.name}}</li>
                  <li style="line-height: 23px;">Client Type:
                    <span style="color:#439348;">{{invoiceData.type}}</span>
                  </li>
                  <li style="line-height: 23px;">Billing Type:
                    <span style="color:#439348;">Wholesale Client</span>
                  </li>
                  <li style="line-height: 23px;">{{invoiceData.email}}</li>
                  <li style="line-height: 23px;">
                    {{invoiceData.primaryContact.phone}}&nbsp;Ext.{{invoiceData.primaryContact.extention}}</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul style="list-style-type: none;">
                  <li style="line-height: 23px;">
                    <b>Billing Company Address</b>
                  </li>
                  <li style="line-height: 23px;">{{invoiceBillingCompanyAddress.address1}}</li>
                  <li style="line-height: 23px;">{{invoiceBillingCompanyAddress.city}}</li>
                  <li style="line-height: 23px;">{{invoiceBillingCompanyAddress.state}}
                    {{invoiceBillingCompanyAddress.zipcode}}
                  </li>
                  <li style="line-height: 23px;">{{invoiceBillingCompanyAddress.country}}</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul style="list-style-type: none;">
                  <li style="line-height: 23px;">
                    <b style="color: #439348">Invoice Details</b>
                  </li>
                  <li style="line-height: 23px;">Client ID:xxxxxxx123</li>
                  <li style="line-height: 23px;">Billing ID:xxxxxxxx789</li>
                  <li style="line-height: 23px;">Invoice Number: xxxxxxxxx12</li>
                </ul>
              </div>
              <div style="clear:both;"></div>
            </div>
          </div>

          <div style="background:#fff;padding: 0 0 60px 0; float: none; margin: 0 auto;" class="col-md-11">
            <div style="background: #efbf32;padding: 15px 25px;margin: 0px 50px;">
              <span style="float: left;">Billing Summary</span>
              <span style="float: right;">Invoice Date:{{invoiceData.createdAt | date}}</span>
              <div style="clear:both"></div>
            </div>
            <div>
              <ul
                style="list-style-type: none; border-bottom:1px solid gray;margin: 0 50px;padding: 0 50px 15px 25px; background: #f8f8f8;">
                <li style="line-height: 23px; padding: 20px 0 0 0;">Package Start Date
                  <span style="color:#439348;">{{invoiceData1.startDate | date}}</span>
                </li>
                <li style="line-height: 23px;">Package End Date
                  <span style="color:#439348;">{{invoiceData1.endDate | date}}
                  </span>
                </li>
                <li style="line-height: 23px;">Payment Type:
                  <span style="color:#439348;">credit card</span>
                </li>
                <li style="line-height: 23px;">Status:{{paymentstatus}}</li>
              </ul>
            </div>
            <div style=" border-bottom: 1px solid gray;  background: #f8f8f8;margin: 0 50px;padding: 0 20px 15px 25px;">
              <ul style="width:50%; float:left;list-style-type: none;">
                <li style="line-height: 23px;color:#439348; padding: 20px 0 0 0;">package</li>
                <li style="line-height: 23px; ">{{selectedPackage.name}}</li>

                <li style="line-height: 23px;">Base Price</li>
                <li style="line-height: 23px;padding: 10px 0 0 0">Number of Employees-
                  <span style="color:#439348;">{{addedCompanyData.employeCount}}</span>
                </li>
                <li style="line-height: 23px;">Total Employee Cost</li>
              </ul>
              <ul style="width:5%; float:right;list-style-type: none;">
                <li style="line-height: 23px;padding: 20px 0 0 0;">&nbsp;</li>
                <li style="line-height: 23px; color: #439348;text-align: right;"> </li>
                <li style="line-height: 23px; color: #439348;text-align: right;">${{selectedPackage.price}}</li>
                <li style="line-height: 23px;padding: 10px 0 0 0 ">&nbsp;</li>
                <li style="line-height: 23px; color: #439348;text-align: right;">$ {{selectedPackage.costPerEmployee *
                  addedCompanyData.employeCount}}
                </li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <div *ngFor="let adon of invoiceadons"
              style=" border-bottom: 1px solid gray;  background: #f8f8f8;margin: 0 50px;padding: 0 20px 15px 25px;">
              <ul style="width:50%; float:left;list-style-type: none;">
                <li style="line-height: 23px;color:#439348; padding: 20px 0 0 0;">
                  <u>Add-on</u>
                </li>
                <li style="line-height: 23px; ">{{adon.selectedAddOn}}</li>

              </ul>
              <ul style="width:5%; float:right;list-style-type: none;">
                <li style="line-height: 23px;padding: 20px 0 0 0;">&nbsp;</li>
                <li style="line-height: 23px; color: #439348;text-align: right;">$ {{adon.price}}</li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <div style="background: #f8f8f8;margin: 0 50px;padding: 10px 20px 15px 25px;">
              <ul style="width:50%; float:left;list-style-type: none;">
                <li style="line-height: 23px; ">Total price</li>
                <li style="line-height: 23px;">Discount</li>
                <li style="line-height: 23px;">Tax Rate @ {{taxrate.tax_rate}}%</li>
              </ul>
              <ul style="width:5%; float:right;list-style-type: none;">
                <li style="line-height: 23px; color: #439348;text-align: right;">$ {{selectedPackage.totalPrice}}</li>
                <li style="line-height: 23px; color: #439348;text-align: right;">{{discountValue}}%</li>
                <li style="line-height: 23px; color: #439348;text-align: right;">$ {{(selectedPackage.totalPrice *
                  0.08).toFixed(2)}}
                </li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <div style="background:#fff">
              <div style="background: #edf7fe;padding:15px 20px 15px 25px;margin: 0px 50px;">
                <span style="float: left;color: #439348">
                  <b>Grand Total</b>
                </span>
                <span style="float: right;color:#439348; text-align: right;">
                  <b>$ {{ selectedPackage.totalPrice + selectedPackage.totalPrice*0.08}}
                  </b>
                </span>
                <div style="clear:both"></div>
              </div>
            </div>
            <div *ngIf="isClientDetailshide" style="margin:45px 70px;">
              <button style="background: #439348;color: #fff;border-radius: 25px;padding: 8px 40px;border: none;">
                <a style="color: #fff;" [routerLink]="['/super-admin/super-admin-dashboard/clients']">Ok</a>
              </button>
            </div>
            <div *ngIf="!isClientDetailshide" style="margin:45px 70px;">
              <button style="background: #439348;color: #fff;border-radius: 25px;padding: 8px 40px;border: none;">
                <a style="color: #fff;" [routerLink]="['/home']">Ok</a>
              </button>
            </div>
          </div>

        </div>
      </div> 

      </mat-step>

    </mat-horizontal-stepper>
  </div>


</div>