.company-details-wrapper , .contact-wrapper{
    padding:30px 0px;
}
.company-details-wrapper{
    height: 100vh;
}
.company-details{
    border-bottom: 1px dotted;

}
.company-details h2 { color:#008f3d; font-size: 18px; line-height: 18px; display: inline-block; margin: 0 0 20px;}
.company-details label { color:#5f5c5c; font-size: 15px; padding: 0 0 10px; font-weight: normal;}
.zenwork-custom-input{
    background: #fff !important; padding: 13px 15px; height: auto;
}
.zenwork-custom-select{
    background: #fff!important;
}
.buttons{
    margin: 40px 0 0 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.buttons ul li .back{
    border: 1px solid #e8e8e8;
    padding: 10px 40px;
    border-radius: 31px;
    color: #757575;
    cursor: pointer;
    background: #fff; display: block;font-size: 15px;
}
.disabled{
    background: grey !important; 
}
.buttons ul li .save{

    border:none;
    padding:12px 30px 9px;
    border-radius: 31px;
    color: #fff;
    background:#099247;
    /* cursor: pointer; */
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;font-size: 15px;
}
/* package&billing css starts */
.package-billing-main{
    margin: 40px 0 0 0;
    border-bottom: 1px dotted;
}

.package-billing-main .billing-block h2 { padding: 20px 20px 5px;}

.discount-block{
    padding: 0;
}
.billing-package-block{
    float: none;
}
.border-bottom-green{
    border-bottom: 2px solid #439348;
    padding: 0 0px 5px 0;
}
.discount-heading .list-items{
    display: inline-block;
    padding: 0px 20px 5px 0;
    font-size: 16px; float: left;
}
.discount-heading .list-items span{
    display: block;
}
.package-table { margin: 0 auto; float: none; padding: 0 30px 0 0px;}
.package-table h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.package-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;text-align: center; width: 34%;}
.package-table .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.package-table .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.package-table .table>tbody>tr>td, .package-table .table>tfoot>tr>td, .package-table .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-bottom: #e0dada 1px solid;font-size: 15px;text-align: center;}
.package-table .table>tbody>tr>td .mat-select-placeholder{
    font-size: 15px;
    text-align: left;
}
.package-table .table>tbody>tr>td .package-table-select{
    background: #f8f8f8;
}
.add-on-cancel{
    float: left;
    padding:5px 3px 0 0;
    cursor: pointer;
}
.package-table .table>tbody>tr>td .add-on-select{
    float: right;
    width: 87% !important;
}
.package-table .table>tbody>tr .add-on-type{
    width:40%;
}
.package-table .table>tbody>tr .package-name{
    width: 21%;
}

.payment { margin: 50px 0 0;border-bottom: 1px #ccc solid !important;}

.payment-lft { padding:30px 15px 0 0;}
.payment-lft h2 {color:#008f3d; font-size: 17px; line-height: 17px;margin: 0; float: left; padding: 5px 0 0; font-weight: 600;}
.payment-lft > a {color:#008f3d; font-size: 16px; line-height: 17px;margin: 0; cursor: pointer; float: right; border-radius: 30px; padding: 10px 20px; border:#008f3d 1px solid;}

.payment-method { margin: 30px 0 0;}
.payment-method .panel-group { margin-bottom: 40px;}


.payment-method .panel-default>.panel-heading {background-color:#fff !important; border: none; position: relative; padding:0; box-shadow: 0 0 10px #ccc; display: block;}
.payment-method .panel-title { color:#808080; display:block; font-size: 15px; font-weight: 600; font-family: 'Lato', sans-serif !important;}
.payment-method .panel-title span { display: inline-block; padding:5px 25px 5px 0; margin:0 25px 5px 0; border-right:#ccc 1px solid;
vertical-align:middle; width: 80px;}
.payment-method .panel-title a:hover { text-decoration: none;color:#808080;}
.payment-method .panel-title>.small, .payment-method .panel-title>.small>a, .payment-method .panel-title>a, .payment-method .panel-title>small, .payment-method .panel-title>small>a 
{ text-decoration:none; display: block; padding:15px 15px 10px;}
.payment-method .panel { background: none; box-shadow: none; border-radius: 0;}
.payment-method .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color:#798993;
}
.payment-method .panel-title a:hover, .payment-method .panel-title a:focus {color:#808080;}

.payment-method .panel-title span img { display:block; margin: 0 auto;}

.payment-method .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.payment-method .panel-group .panel-heading+.panel-collapse>.list-group, .payment-method .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.payment-method .panel-heading .accordion-toggle:after { margin:8px 0 0; font-size: 12px; line-height: 10px;}
.payment-method .panel-body { padding: 0 0 5px;}

.payment-method .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.payment-method .panel-default { border-color:transparent;}
.payment-method .panel-group .panel+.panel { margin-top: 20px;}


.ach-payment { margin: 20px 0 0 0;}

.credit-payment { margin: 20px 0 0;}


.paypal-payment { margin: 20px 0 0;}


.payment-rgt { padding:50px 0 0 20px;}
.payment-rgt h3 { color:#008f3d; font-size: 16px; line-height: 17px; display: inline-block; margin: 0 0 20px;}

.billing-block { background:#fff;}
.billing-block h2 { background:#f0be19; padding: 20px; border-radius:5px 5px 0 0;margin:0;}
.billing-block h2 span { float: left; color:#3e3e3e; font-size: 16px; line-height: 16px;}
.billing-block h2 small { float:right; color:#3e3e3e; font-size: 16px; line-height: 16px;}
.annualy-block { float: right;}
.annualy-block p { float:left; color:#3e3e3e; font-size: 16px; line-height: 16px;display:inline-block; margin: 0 30px 0 0;}
.billing-block > ul { padding:10px 0; margin: 0;}
.billing-block > ul > li { border-bottom:#b8c0c6 1px dashed; padding:13px 0 10px;}

.billing-price { padding: 0 20px;}
.billing-price > ul {  padding:0;}
.billing-price > ul > li { margin: 0 0 7px; border-bottom:none;}
.billing-price ul li h5 { color:#008f3d; font-size: 16px; line-height: 15px; margin: 0 0 3px; border-bottom:#008f3d 1px solid; display: inline-block;font-family: 'Lato', sans-serif !important;}
.billing-price ul li span { float: left; color:#777; font-size: 15px; line-height:20px;font-family: 'Lato', sans-serif !important;}
.billing-price ul li small { float:right; color:#008f3d; font-size: 15px; line-height: 15px;font-family: 'Lato', sans-serif !important;}
.billing-price ul li a { float: left; cursor: pointer; display: inline-block;font-size: 16px; line-height: 16px;
padding:10px 0 0; color:#8da4b5;border-radius: 3px; margin: 5px 0 0 15px;font-family: 'Lato', sans-serif !important; font-weight:600;}
.billing-price ul li var { float: left;; color:#008f3d; font-size: 16px; line-height: 15px; margin: 0 0 0 10px; font-style: normal;font-family: 'Lato', sans-serif !important; width: 10%;}

.billing-btm { margin:0 20px;}
.billing-btm .form-control { float: left; border:#d2cbcb 1px solid; width: 30%; padding: 15px 10px; border-radius: 5px; box-shadow: none;text-transform: uppercase;}
.billing-btm a.apply { float: left; color:#92b8ce; margin:6px 0 0 10px; font-size: 14px; cursor: pointer;}
.billing-btm em { float: right; color:#777; font-size: 15px; line-height: 15px; font-style: normal; padding: 10px 0 0;}

.billing-block h4 { background:#eef7ff; padding: 20px;margin:0;}
.billing-block h4 h1 { float: left; color:#008f3d; font-size: 18px; line-height: 16px; font-weight: bold; margin: 0;font-family: 'Lato', sans-serif !important;}
.billing-block h4 p { float:right; color:#008f3d; font-size: 18px; line-height: 16px;font-weight: bold; margin: 0;font-family: 'Lato', sans-serif !important;}

.payment-rgt a.btn {border-radius: 20px;color:#616060; font-size: 15px; padding:6px 25px; background:transparent; margin:40px 0 0; float:left; position: static;}
.payment-rgt a.btn:hover {background: #008f3d; color:#fff;}

.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#008f3d;width: 20px; height: 20px; padding:0 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0; color:#948e8e; font-size: 13px; line-height: 20px; padding: 0 0 0 10px;}


.payment-rgt .cont-check { margin:20px 20px;}
.payment-rgt .cont-check .checkbox label::after { padding:2px 0 0 4px;border-radius: 3px;}
.payment-rgt .cont-check .checkbox label { padding-left:15px;color:#6d6d6d; font-size: 15px;line-height: 17px;}
.payment-rgt .cont-check .checkbox label small { color:#008f3d;font-size: 15px; }

.date { height: auto !important; line-height:inherit !important;width:300px !important}
.date1 { height: auto !important; line-height:inherit !important; width:150px}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0;}
.date span { border: none !important; padding: 0 !important;}
.date .form-control { width: 70% !important;}
.date .form-control:focus { box-shadow: none; border: none;}
/* package&billing css ends */

/* contact-detail css starts */

.address-wrapper { padding: 0 0 20px; border-bottom: 1px dotted;}
.address-wrapper ul { display: inline-block; width: 100%;}
.address-wrapper ul li { margin: 0 0px 20px 0; padding: 0;}
.address-wrapper ul li.details-width{ width: 100%;}
.address-wrapper ul li .form-control { font-size: 15px; line-height:15px;border: none; box-shadow: none; height: auto;padding:13px 0 13px 10px;}
.address-wrapper ul li select { background:#fff; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.address-wrapper ul li.united-state { margin: 0; clear: left;}
.address-wrapper ul li.state, .address-wrapper ul li.city { padding: 0 10px 0 0;}

.contact-wrapper { display: block; padding: 0 0 20px;}
.contact-wrapper ul { margin: 0 0 30px; padding: 0;}
.contact-wrapper ul li {margin: 0 0 15px 0; padding: 0;}
.contact-wrapper ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.contact-wrapper ul li .phone { display: block; background:#fff; padding: 0 10px;clear: left;}
.contact-wrapper ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.contact-wrapper ul li .phone span .fa { color: #636060;
font-size: 23px;
line-height: 20px;
width: 18px;
text-align: center;}
.contact-wrapper ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 84%; border: none; background:transparent; box-shadow: none; padding:13px 0 13px 10px;}
.contact-wrapper ul li .form-control { display: inline-block;vertical-align: middle; width:100%; border: none; background:#fff; box-shadow: none;padding:13px 10px;
height: auto;}
.contact-wrapper ul li.phone-width { float: none; clear:left;}
.contact-wrapper ul li.phone-width .phone .form-control { width: 100%; padding: 13px 10px 13px 10px;}

.zenwork-custom-input{
    background: #fff !important; padding: 13px 15px; height: auto;
}

.company-details-wrapper , .contact-wrapper{
    padding:30px 0px;
    border-bottom: 1px dotted;
}
.billing-company-contact{
    padding: 60px 0 0 60px;
}

.address-wrapper{
    padding: 40px 0px;
}

.zenwork-custom-proceed-btn{
    background:#008f3d !important;
    border-color: transparent !important;
    border-radius: 25px !important;
    padding: 6px 30px;
    margin: 0 0 0 40px;
}
.zenwork-customized-transparent-btn { margin: 0 0 0 20px;}


.zenwork-margin-zero small { display:inline-block; vertical-align: middle; font-size: 17px; margin: 0 10px 0 0;}
.zenwork-margin-zero{ font-size: 18px; color:#585858;}
.company-details h2 { color:#008f3d; font-size: 18px; line-height: 18px; display: inline-block; margin: 0 0 20px;}
.company-details label { color:#5f5c5c; font-size: 15px; padding: 0 0 10px; font-weight: normal;}
.right-text { margin: 0 0 0 20px !important;}
 
.contact-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.contact-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}
.address-wrapper h2 { color:#636060; font-size: 17px; line-height: 17px; display: inline-block; margin: 0 0 20px;}
.address-wrapper .zenwork-customized-checkbox { vertical-align: top; display: inline-block;}
.address-wrapper .form-group { margin: 15px 0 0;}
.address-wrapper small { display: inline-block; vertical-align: middle;font-size: 16px; color:#585858; line-height: 23px;}

/* contact-details css ends */

.payment-method .panel-group .credit-card-payment {
    background: #fff;
    -webkit-box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 21px -1px rgba(0,0,0,0.75);
    margin: 10px 0 0 0;
}
.card-buttons {
    display: block;
    padding: 10px 20px;
}
.wrapper{
    padding: 10px 25px; width: 100%; display: inline-block; margin: 30px 0 0;
}

.wrapper ul li { margin: 0 0 15px;}
.wrapper ul li label { color: #737373; padding: 0 0 5px; display: block;font-family: 'Lato', sans-serif !important;}

.wrapper ul li .form-control { height: auto; padding: 10px 12px; border: 1px solid #e8e8e8;font-family: 'Lato', sans-serif !important;}

.card-buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}
.card-buttons ul li .my-cards-btn{
    border-radius: 20px;
    background: #fff;
    color: #777d7a;
    padding: 12px 25px 10px;
    line-height: 14px;font-family: 'Lato', sans-serif !important;
}
.card-buttons ul li .my-cards-btn:hover,.card-buttons ul li .my-cards-btn:active,.card-buttons ul li .my-cards-btn:visited{
    border-radius: 20px;
    background: #777d7a;
    color: #fff;
    padding: 12px 25px 10px;
    line-height: 14px;

}

.card-buttons ul li .secure-cards-btn:hover,.card-buttons ul li .secure-cards-btn:active,.card-buttons ul li .secure-cards-btn:visited{
    border-radius: 30px;
    background: #439348;
    color: #fff;
    padding:10px 25px 8px;
    border: 1px solid #439348;
}
.card-buttons ul li .secure-cards-btn{
    border-radius: 30px;
    background: #fff;
    color: #439348;
    padding:10px 25px 8px;
    border: 1px solid #439348;font-family: 'Lato', sans-serif !important;
}
.credit-card-details-date ul li{
    display: inline-block;
    padding: 0px 10px 0 0;
    width: 29.5%; vertical-align:top;
}
.agree-policy{
    padding: 25px 40px;
}
.coupon-code{
    padding: 7px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
}
.coupons-block span .coupon-code a{
    margin: 5px 0 0 20px !important;
}
.coupons-block{
    margin: 20px 0 30px 0 !important;
}
.coupons-code-check{
    margin: 0 0 50px !important;
}
.coupons-code-check span mat-checkbox{
    font-family: lato !important;
}

.payment{
    border-bottom: 1px dotted;
}

.coupons-block .form-control {border: 1px solid #e8e8e8; height:auto; padding: 10px 12px; font-size: 16px;}
.coupons-block .form-control:focus{ border-color: none; box-shadow: none;}
.coupons-block span { display: inline-block;}




.menu-dropdown{
    background: #fff;
    border: none; font-size: 23px;
}
.menu-dropdown-list{
    right: 0px !important;
    left: auto;
}
.menu-dropdown-list>li>a:focus, .menu-dropdown-list>li>a:hover{
    background-color: #008f3d; 
    color: #fff;
    cursor: pointer;
}


.menu-dropdown-list{
    right: 0px !important;
    left: auto;
}
.menu-dropdown-list>li>a:focus, .menu-dropdown-list>li>a:hover{
    background-color: #008f3d; 
    color: #fff;
}
.padding-left-self-boarding{
    padding-left: 250px !important;
}
.dropdownhide{
    display: none;
}
.menu{
    position: relative;
}
.dropdown{
    position: absolute;
    top:15px;
    right: 112px;
    z-index: 99;
}

.invoice-block { display:block;}
.invoice-block a { display: inline-block;}
.invoice-block a img { width:200px; height:auto;}   

#invoice{ position: relative;}

.stepper-top { position: relative;}