<div class="invoice-main col-md-11">

  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <small>
        <img src="../../../assets/images/Side Menu/Green/green-billings.png" alt="Company-settings icon">
      </small>
      Invoice
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>


  <div class="invoice-serach">

    <ul>
      <li class="col-md-3">
        <div class="padding-left-zero">
          <div class="search-border text-left">
            <form [formGroup]="invoiceSearch" class="search-form">
              <input type="text" class="border-none box-shadow-none form-control" formControlName="search"
                placeholder="Search by name,title, etc">
            </form>
            <span>
              <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
            </span>
          </div>
        </div>
      </li>

      <li class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon zenwork-client-group-addon zenwork-input-group-addon">
            <img src="../../../assets/images/Directory/ic_domain_24px1.png" alt="First Name Icon"
              class="zenwork-demo-input-image-group zenwork-company-group">
          </span>
          <mat-select class="form-control zenwork-input zenwork-custom-select" placeholder="All Clients"
            [(ngModel)]="invoiceSelect" [(ngModel)]="clientType" (ngModelChange)="invoiceClientsData($event)">
            <mat-option value="all">
              All Clients
            </mat-option>
            <mat-option value="company">
              Direct Client
            </mat-option>
            <mat-option value="reseller">
              Resellers
            </mat-option>
            <mat-option value="reseller-client">
              Reseller Client
            </mat-option>
          </mat-select>
        </div>
      </li>


      <li class="col-md-3">
        <label>Status</label>

        <div class="status-paid">
          <div class="input-group">
            <span class="input-group-addon zenwork-client-group-addon zenwork-input-group-addon">
              <img src="../../../assets/images/Side Menu/Green/green-billings.png" alt="First Name Icon">
            </span>
            <mat-select class="form-control zenwork-input zenwork-custom-select" [(ngModel)]="status"
              placeholder="Paid / Unpaid" [(ngModel)]="invoicePadiUnpaid" (ngModelChange)="invoicePaymentData()">
              <mat-option value="">
                All
              </mat-option>
              <mat-option value="initialized">
                Initialized
              </mat-option>
              <mat-option value="pending">
                Pending
              </mat-option>

              <mat-option value="failed">
                Failed
              </mat-option>
              <mat-option value="success">
                Success
              </mat-option>
            </mat-select>
          </div>
        </div>
      </li>

      <li class="col-md-2">
        <div class="date">
          <input matInput [(ngModel)]="fromDate" (ngModelChange)="formmdatefun()" [max]='toDate'
            [matDatepicker]="picker" placeholder="dd / mm / yy" class="form-control">
          <mat-datepicker #picker></mat-datepicker>
          <button mat-raised-button (click)="picker.open()">
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </button>
          <div class="clearfix"></div>
        </div>
      </li>

      <li class="col-md-2">
        <div class="date">
          <input matInput [(ngModel)]="toDate" [min]='fromDate' (ngModelChange)="todatefun()" [matDatepicker]="picker1"
            placeholder="dd / mm / yy" class="form-control">
          <mat-datepicker #picker1></mat-datepicker>
          <button mat-raised-button (click)="picker1.open()">
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </button>
          <div class="clearfix"></div>
        </div>
      </li>

    </ul>

    <div class="clearfix"></div>
  </div>



  <div class="invoice-details">

    <h2>
      <span><img src="../../../assets/images/Side Menu/Green/green-billings.png" alt="First Name Icon">
        <small><img src="../../../assets/images/Side Menu/Grey/unpaid.png" alt="First Name Icon"></small>
      </span>
      All Clients-Paid/Unpaid Billing Details
    </h2>

    <div class="invoice-billing">
      <ul>
        <li>
          <!-- <div class="cont-check">
            <div class="checkbox"> -->
          <!-- <input id="checkbox1" type="checkbox"> -->
          <label for="checkbox1">All Clients Billing</label>
          <!-- </div>
          </div> -->
        </li>
        <li>
          <h3>Billing<br>Frequency</h3>
        </li>
        <li>
          <h3>Month</h3>
        </li>
        <li>
          <h3>Payment<br>Type</h3>
        </li>
        <li>
          <h3>Average Employee Count</h3>
        </li>
        <!-- <li class="average"><h3>Average<br>Employee Count</h3></li> -->
        <li>
          <h3>Total<br>Amount</h3>
        </li>
        <li>
          <h3>Status</h3>
        </li>
        <li>
          <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="editClientBillingHistory('package')">Billing History</a></li>
              <li>
                <a>Download</a>
              </li>

            </ul>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="invoice-clients" *ngFor="let invoice of invoices">

      <div class="invoice-left" >
        <mat-checkbox [(ngModel)]="invoice.isChecked"
          (ngModelChange)="singleTaskChoose(invoice.company,invoice.isChecked)"></mat-checkbox>

        <h2 *ngIf="invoice.company.type =='company'"> <span>DC</span><var>{{invoice.company.name}} </var></h2>
        <h2 *ngIf="invoice.company.type =='reseller'"> <small>R</small><var> {{invoice.company.name}} </var></h2>
        <h2 *ngIf="invoice.company.type =='reseller-client'"> <em>RC</em><var> {{invoice.company.name}} </var></h2>


      </div>

      <div class="invoice-right pull-right">

        <ul>
          <li>
            <h5>{{invoice.billingFrequency}}</h5>
          </li>
          <li>
            <h5>{{invoice.createdDate | date}}</h5>
          </li>
          <li>
            <h5>{{invoice.paymentType}} </h5>
          </li>
          <li>
            <h5>{{invoice.company.employeCount}}</h5>
          </li>
          <li>
            <h5><em>${{invoice.amount/100 || 'NA'}}</em></h5>
          </li>
          <li *ngIf="invoice.paymentStatus == 'initialized'">
            <h5><small><img src="../../../assets/images/Side Menu/Grey/unpaid.png"
                  alt="First Name Icon"></small>{{invoice.paymentStatus}}</h5>
          </li>
          <li *ngIf="invoice.paymentStatus == 'success'">
            <h5><small>
                <div class="cont-check1">

                </div>
              </small>{{invoice.paymentStatus}}</h5>
          </li>
        </ul>
        <div class="clearfix"></div>

        <span class="pull-left">Invoice Date:{{invoice.updatedDate | date}}</span>
        <small class="pull-right">Invoice Number:{{invoice.id}}</small>
        <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>
    </div>
    <mat-paginator [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageEvents($event)">
    </mat-paginator>
    <!-- <div class="invoice-clients">

      <div class="invoice-left ">
          <div class="cont-check">
              <div class="checkbox">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2"></label>
              </div>
            </div>
            <h2>
                <span><img src="../../../assets/images/Side Menu/Grey/logo.png" alt="First Name Icon"></span>
                Mockingbird Utilities LLC
            </h2>  
          <p>Client Type: Reseller</p>   
      </div>
      <div class="invoice-right pull-right">
        
          <ul>
              <li><h5>Annual</h5></li>
              <li><h5>November</h5></li>
              <li><h5>Credit Card</h5></li>
              <li><h5>$0</h5></li>
              <li><h5>35</h5></li>
              <li><h5><em>$10</em></h5></li>
              <li><h5><small><img src="../../../assets/images/Side Menu/Grey/unpaid.png" alt="First Name Icon"></small>Unpaid</h5></li>
          </ul>
          <div class="clearfix"></div>

          <span class="pull-left">Invoice Date:11/24/2018-09:26AM</span>
          <small class="pull-right">Invoice Number:XXXXXXXXXX123</small>
          <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>
  </div> -->


  </div>

</div>