.invoice-main { margin:40px auto 0; float: none; padding: 0;}
.zenwork-customized-back-btn{
background:#fff;
border-radius: 25px;
padding:8px 20px;
font-size: 10px;
color:#525151;
font-size: 13px; line-height: 13px; border: 1px solid transparent;
margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage { padding: 0;}
.zenwork-currentpage small { margin: 0 10px 0 0; display: inline-block; vertical-align: top;}
.mr-7{margin-right: 7px;}
.zenwork-margin-zero { color:#008f3d; font-size: 18px; line-height: 18px;display: inline-block; vertical-align:middle;}
.zenwork-margin-ten-zero {
    margin: 15px 0px!important;
}


.invoice-serach { margin: 30px 0 0; border-bottom: 1px solid #eee; padding: 0 0 20px;}
.invoice-serach ul { display: block;}
.invoice-serach ul li { padding: 0 15px 0 0;}

.search-border{
    border-radius: 3px;
    height: 25px;
    position: relative;
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 15px;
    width:22px;
    color:#9a9898;
    font-size: 13px; cursor: pointer;
}

.padding-left-zero{
    padding-left: 0 !important;
}

.zenwork-client-group-addon{
    background: #fff;
    border: 1px transparent;
    border-right: 1px solid #ccc; border-radius: 0;
}

.zenwork-customized-green-btn{
    background: #008f3d!important;
    color: #fff!important;
    padding:8px 35px!important;
    font-size:15px!important;
}
.zenwork-customized-green-btn small { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.zenwork-customized-green-btn small .fa { color:#fff; font-size: 15px;}

.zenwork-custom-select{
    background: #fff!important;
}

.border-none{
    border:0 none !important;
}

.box-shadow-none{
    box-shadow: none !important;
}

.zenwork-custom-progress-bar{
    width: 30% !important;
    height: 7px !important;
    margin-bottom: 0px !important;
    display: inline-block !important;
}
.search-form .form-control {padding:12px 40px 12px 20px; height: auto;}
.input-group .form-control { height: auto; padding: 12px;}
.invoice-serach ul li label { font-weight: normal; color:#5f5e5e; float: left; padding:12px 0 0;}
.status-paid { float: right; width: 80%;}

.invoice-serach ul li .date { height: auto !important; line-height:inherit !important; width:100% !important;}
.invoice-serach ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;}
.invoice-serach ul li .date span { border: none !important; padding: 0 !important;}
.invoice-serach ul li .date .form-control { width:61% !important; height: auto; padding: 12px 0 12px 10px;}
.invoice-serach ul li .date .form-control:focus { box-shadow: none; border: none;}

.invoice-details { margin:35px 0 0;}
.invoice-details h2 { color:#404040; font-weight:600; font-size: 18px; line-height:18px; display: inline-block; vertical-align: middle; margin: 0 0 30px;}
.invoice-details > h2 > span { display: inline-block; vertical-align:text-top; position: relative; margin: 0 20px 0 0;}
.invoice-details h2 span small { position: absolute; bottom: -6px; right:-7px;}

.invoice-billing { background: #eef7ff; padding: 10px 20px;}
.invoice-billing > ul { margin: 0;}
.invoice-billing > ul > li { display: inline-block; vertical-align: middle; width: 12%;}
.invoice-billing > ul > li:nth-child(1) { width: 25%;}
.invoice-billing > ul > li h3 {color:#565656; font-weight: normal; font-size: 15px; line-height:18px; display: inline-block; vertical-align: middle; margin: 0;}
.invoice-billing > ul > li:nth-last-child(1) { width: 3%;}
.invoice-billing > ul > li .cont-check .checkbox label { font-size: 16px; padding-left:30px; color: #565656;}
.invoice-billing > ul > li.average { width: 11%;}

.invoice-clients { margin: 10px 0;}
.invoice-left { width: 25%; float: left; padding:25px 7px 20px 15px; background:#fff;position: relative;}
.invoice-left h2 { color:#4a4747; font-weight: normal; font-size: 17px; line-height:17px; display: inline-block; vertical-align: middle; margin: 0; width : 300px;} 
.invoice-left h2 span { margin: 0 5px 0 0;}
.invoice-left p { color:#008f3d; border-top:1px dashed #cec7c7; margin: 15px 0 0; padding: 15px 0 0; font-size: 14px; font-weight: 600;}
.invoice-left .cont-check { display: inline-block; vertical-align: top; width:30px; }

.invoice-left:after{
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    border-left: #83c7a1 5px solid;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.invoice-right {width: 74.5%;float: left; background:#fff; padding: 15px 10px;}
.invoice-right > ul { margin: 0; padding: 0 0 14px;}
.invoice-right > ul > li { display: inline-block; vertical-align: middle; width: 15.6%;}
.invoice-right > ul > li h5 {color:#4a4747; font-weight: normal; font-size: 15px; line-height:18px; display: inline-block; vertical-align: middle; margin: 0;}
.invoice-right > ul > li h5 em { color: #008f3d; font-style: normal;}
.invoice-right > ul > li h5 small { display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.invoice-right span, .invoice-right small { color:#4a4747; font-size: 14px; line-height: 14px;}

.cont-check .success-checkbox label ::before{
    border-radius: 20px !important;
}

.invoice-left h2 span {background:  #1aa4db;width: 26px;display: inline-block;font-size: 15px;margin: 0px 10px 0 15px;text-align: center; 
height: 26px; line-height: 26px; border-radius: 4px; cursor: pointer; vertical-align: bottom;} 
.invoice-left h2 small {background: #f3616c;width: 26px;display: inline-block;font-size: 15px;margin: 0px 10px 0 15px;text-align: center; 
height: 26px; line-height: 26px; border-radius: 4px;cursor: pointer;vertical-align: bottom;}
.invoice-left h2 em {background: #fbd437;width: 26px;display: inline-block;font-size: 15px;margin: 0px 10px 0 15px;text-align: center;
height: 26px; line-height: 26px; border-radius: 4px;cursor: pointer; vertical-align: bottom;}
.invoice-left h2 var{ width: 236px; display: inline-block; font-style: normal;}