<!-- Author:Suresh M, Date:08-04-19  -->
<!-- Emergency Contact Accordion -->

<div class="emergency col-md-11">

  <div class="panel-group" id="accordion3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4  class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
            Employee's Details
          </a>
          <button *ngIf="!emergencyTabView" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!contactIds.length >=1">
              <a data-toggle="modal" data-target="#myModal">Add</a>
            </button>

            <button mat-menu-item *ngIf="(!contactIds.length <=0) && (contactIds.length ==1)">
              <a (click)="edit()" >Edit</a>
              <a data-toggle="modal" data-target="#myModal" #openEdit></a>
            </button>

            <button mat-menu-item *ngIf="(!contactIds.length <=0) && (contactIds.length >=1)">
              <a (click)="delete()">Delete</a>
            </button>
          </mat-menu>

        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="emergency-cont">

            <ul>

              <li *ngFor="let contacts of emergencyContacts">

                <small class="col-md-1">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="contacts.isChecked" (ngModelChange)="checkContact($event,contacts._id)"></mat-checkbox>
                </small>

                <var class="col-md-1">
                    <em><i class="material-icons star-position" [ngClass]="{'primary-color': contacts.primaryContact == true}">star</i></em> 
                </var>


                <div class="employee col-md-10">

                  <span class="col-md-1">
                      <i class="material-icons emplployee-icon">
                          account_circle
                        </i>
                    </span>

                   
                  <div class="employee-rgt col-md-11">

                    <div class="panel-group" id="accordion4">

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4"
                              href="#collapseTwo">
                              {{contacts.fullName}}
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                          <div class="panel-body">

                            <div class="emergency-cont-in">
                              <div class="employee-address col-md-8">
                                <address>
                                  <p>Relationship: &nbsp;{{contacts.relationship}} <br> {{contacts.address.street1}} <br> {{contacts.address.street2}}, {{contacts.address.city}} - {{contacts.address.zipcode}}</p>
                                </address>
                              </div>
                              <div class="employee-address col-md-4 pull-right">

                                <ul>
                                  <li>
                                    <p><var><img src="../../../../../assets/images/Directory/ic_email_24px.png"
                                          width="16" height="13" alt="img"></var>
                                      <a href="mail-to:">{{contacts.contact.workMail}}</a> </p>
                                  </li>
                                  <li>
                                    <p><var><img src="../../../../../assets/images/Directory/ic_domain_24px1.png"
                                          width="18" height="16" alt="img"></var>
                                      <a href="tel:">{{contacts.contact.workPhone}}</a> Ext.{{contacts.contact.extention}} </p>
                                  </li>
                                  <li>
                                    <p><var><img src="../../../../../assets/images/Directory/Group 504.png" width="10"
                                          height="16" alt="img"></var>
                                      <a href="tel:">{{contacts.contact.homePhone}}</a></p>
                                  </li>
                                </ul>

                              </div>
                              <div class="clearfix"></div>

                            </div>
                            <div class="clearfix"></div>

                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="employee-cont pull-right">

                </div>
                <div class="clearfix"></div>
              </li>

            </ul>

          </div>


          <div class="clearfix"></div>


        </div>
      </div>


    </div>
    <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)"></mat-paginator>

  </div>
 
</div>
<div style="margin:20px 65px;">
  
    <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
<div class="clear-fix"></div>
  </div>


<div class="employee-contacts">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4>Add/Edit Emergency Contact</h4>
        </div>
        <div class="modal-body">

          <div class="employee-details">

            <!-- Author:Suresh M, Date:09-04-19  -->
            <!-- Emergency Contact Accordion -->
            <form [formGroup]="employeeForm">


              <ul>
                <li class="col-md-3 relation" *ngIf="fieldsShow.Name.hide !== true">
                  <label>Name <span *ngIf="fieldsShow.Name.required">*</span></label>
                 
                  <input *ngIf="fieldsShow.Name.format == 'Alpha' || fieldsShow.Name.format == 'text'" (keypress)="alphabets($event)" type="text" class="form-control" placeholder="Full Name" formControlName="fullName" [required]="fieldsShow.Name.required"> 
                  <span *ngIf="employeeForm.get('fullName').invalid && employeeForm.get('fullName').touched" style="color:#e44a49; padding: 5px 0 0; display: block;"> Enter name</span>
                </li>
                <li class="col-md-3 relation" *ngIf="fieldsShow.Relationship.hide !== true">
                  <label>Relationship <span *ngIf="fieldsShow.Relationship.required">*</span></label>
                  <mat-select class="form-control" placeholder="Select relationship" formControlName="relationship" [required]="fieldsShow.Relationship.required">
                    <mat-option *ngFor="let relation of allRelation" [value]='relation.name'>{{relation.name}}</mat-option>

                  </mat-select>
                  <span *ngIf="employeeForm.get('relationship').invalid && employeeForm.get('relationship').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Select relationship</span>
                </li>
                <li class="col-md-2 relation">
                  <mat-checkbox class="zenwork-customized-checkbox" formControlName="primaryContact" (change)="checkPrimaryContact($event)">Primary Contact</mat-checkbox>
                </li>
              </ul>

              <ul>
                <li>
                  <h4>Phone</h4>
                </li>
                <li class="col-md-4" *ngIf="fieldsShow.Work_Phone.hide !== true">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18" height="16" alt="img">
                    </span>
                    <input *ngIf="fieldsShow.Work_Phone.format == 'number'" (keypress)="keyPress($event)" minlength=10 maxlength=10  class="form-control" placeholder="Work Phone" formControlName="workPhone" [required]="fieldsShow.Work_Phone.required">
                    <!-- <input *ngIf="fieldsShow.Work_Phone.format == 'Alpha' || fieldsShow.Work_Phone.format == 'text'" (keypress)="alphabets($event)" type="text"  class="form-control" placeholder="Work Phone" formControlName="workPhone" [required]="fieldsShow.Work_Phone.required">
                    <input *ngIf="fieldsShow.Work_Phone.format == 'AlphaNumeric'" type="text" class="form-control" placeholder="Work Phone" formControlName="workPhone" [required]="fieldsShow.Work_Phone.required"> -->

                    
                  </div>
                  <span *ngIf="employeeForm.get('workPhone').invalid && employeeForm.get('workPhone').touched" style="color:#e44a49; padding: 5px 0 0; display: block; border:none;">Enter valid mobile phone</span>
                </li>

                <li class="col-md-2" *ngIf="fieldsShow.Ext.hide !== true">

                  <input  class="form-control" placeholder="Ext" (keypress)="keyPress($event)" minlength=4
                  maxlength=4 formControlName="extention" [required]="fieldsShow.Ext.required">
                  <span *ngIf="employeeForm.get('extention').invalid && employeeForm.get('extention').touched" style="color:#e44a49; padding: 5px 0 0; display: block;">Provide valid Ext</span>

                </li>
                <div class="clearfix"></div>
             </ul>
                

             <ul>
                <li class="col-md-4 phone-width" *ngIf="fieldsShow.Mobile_Phone.hide !== true">
                  <div class="phone">
                    <span>
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span>
                    <input *ngIf="fieldsShow.Mobile_Phone.format == 'number'" (keypress)="keyPress($event)" minlength=10 maxlength=10 class="form-control" placeholder="Mobile Phone" formControlName="mobilePhone" [required]="fieldsShow.Mobile_Phone.required">
                    <!-- <input *ngIf="fieldsShow.Mobile_Phone.format == 'Alpha' || fieldsShow.Mobile_Phone.format == 'text'" (keypress)="alphabets($event)" type="text"  type="number" class="form-control" placeholder="Mobile Phone" formControlName="mobilePhone" [required]="fieldsShow.Mobile_Phone.required">
                    <input *ngIf="fieldsShow.Mobile_Phone.format == 'AlphaNumeric'" type="number" class="form-control" placeholder="Mobile Phone" formControlName="mobilePhone" [required]="fieldsShow.Mobile_Phone.required"> -->

                  </div>
                  <span *ngIf="employeeForm.get('mobilePhone').invalid && employeeForm.get('mobilePhone').touched" style="color:#e44a49; padding: 5px 0 0;">Enter valid mobile phone</span>
                </li>
                <li class="col-md-4 phone-width" *ngIf="fieldsShow.Home_Phone.hide !== true">
                  <div class="phone">
                    <span>
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <input *ngIf="fieldsShow.Home_Phone.format == 'number'" (keypress)="keyPress($event)" minlength=10 maxlength=10 class="form-control" placeholder="Home Phone*" formControlName="homePhone" [required]="fieldsShow.Home_Phone.required">
                    <!-- <input *ngIf="fieldsShow.Home_Phone.format == 'Alpha' || fieldsShow.Home_Phone.format == 'text'"  type="text" (keypress)="alphabets($event)" class="form-control" placeholder="Home Phone" formControlName="homePhone" [required]="fieldsShow.Home_Phone.required">
                    <input *ngIf="fieldsShow.Home_Phone.format == 'AlphaNumeric'" type="text" class="form-control" placeholder="Home Phone" formControlName="homePhone" [required]="fieldsShow.Home_Phone.required">                                         -->
                  </div>
                  <span *ngIf="employeeForm.get('homePhone').invalid && employeeForm.get('homePhone').touched" style="color:#e44a49; padding: 5px 0 0;">Enter valid home phone</span>
                </li>
              </ul>

              <ul>

                <li>
                  <h4 *ngIf="fieldsShow.Work_Email.hide !== true || fieldsShow.Home_Email.hide !== true">Email</h4>
                </li>

                <li class="col-md-5 email-width" *ngIf="fieldsShow.Work_Email.hide !== true">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="email" class="form-control" placeholder="Work Email" formControlName="workMail" [required]="fieldsShow.Work_Email.required"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                   
                  </div>
                  <span *ngIf="employeeForm.get('workMail').invalid && employeeForm.get('workMail').touched" style="color:#e44a49; padding: 5px 0 0;">Provide valid work E-mail</span>
                </li>

                <li class="col-md-5 email-width" *ngIf="fieldsShow.Home_Email.hide !== true">
                  <div class="phone">
                    <span>
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Home Email*" formControlName="personalMail" [required]="fieldsShow.Home_Email.required"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    
                  </div>
                  <span *ngIf="employeeForm.get('personalMail').invalid && employeeForm.get('personalMail').touched" style="color:#e44a49; padding: 5px 0 0;">Provide valid home E-mail</span> 
                </li>
              </ul>

              <ul>
                <li>
                  <h4 *ngIf="fieldsShow.Street_1.hide !== true || fieldsShow.Street_2.hide !== true || fieldsShow.City.hide !== true || fieldsShow.State.hide !== true || fieldsShow.Zip.hide !== true">Address</h4>
                </li>

                <li class="col-md-5 address" *ngIf="fieldsShow.Street_1.hide !== true">
                  <input *ngIf="fieldsShow.Street_1.format == 'number'" type="number" placeholder="Street1*" maxlength="28" class="form-control" formControlName="street1" [required]="fieldsShow.Street_1.required">
                  <input *ngIf="fieldsShow.Street_1.format == 'Alpha' || fieldsShow.Street_1.format == 'text'" maxlength="28"  type="text" placeholder="Street1*" class="form-control" formControlName="street1" [required]="fieldsShow.Street_1.required">
                  <input *ngIf="fieldsShow.Street_1.format == 'AlphaNumeric'" type="text" placeholder="Street1*" class="form-control" maxlength="28" formControlName="street1" [required]="fieldsShow.Street_1.required">

                  <span *ngIf="employeeForm.get('street1').invalid && employeeForm.get('street1').touched" style="color:#e44a49; padding: 5px 0 0;">Provide valid address in street 1</span> 
                </li>
                <li class="col-md-5 address" *ngIf="fieldsShow.Street_2.hide !== true">
                  <input *ngIf="fieldsShow.Street_2.format == 'number'" type="number" placeholder="Street2" maxlength="28" class="form-control" formControlName="street2" >
                  <input *ngIf="fieldsShow.Street_2.format == 'Alpha' || fieldsShow.Street_2.format == 'text'" maxlength="28" type="text" placeholder="Street2" class="form-control" formControlName="street2" >
                  <input *ngIf="fieldsShow.Street_2.format == 'AlphaNumeric'" type="text" class="form-control" maxlength="28" formControlName="street2" >

                  <!-- <span *ngIf="employeeForm.get('street2').invalid && employeeForm.get('street2').touched" style="color:#e44a49; padding: 5px 0 0;">You must enter a street2</span>  -->
                </li>
              </ul>

              <ul>
                <li class="state" *ngIf="fieldsShow.City.hide !== true">
        
                  <input *ngIf="fieldsShow.City.format == 'Alpha' || fieldsShow.City.format == 'text'" maxlength="24" (keypress)="alphabets($event)" type="text" placeholder="City*" class="form-control" formControlName="city" [required]="fieldsShow.Zip.required">


                  <span *ngIf="employeeForm.get('city').invalid && employeeForm.get('city').touched" style="color:#e44a49; padding: 5px 0 0;">Enter city name</span>
                </li>

                <li class="city" *ngIf="fieldsShow.State.hide !== true">
                  <mat-select class="form-control" placeholder="State*" formControlName="state" [required]="fieldsShow.State.required">
                    <mat-option *ngFor="let state of allState" [value]="state.name">{{state.name}}</mat-option>
                  </mat-select>
                  <span *ngIf="employeeForm.get('state').invalid && employeeForm.get('state').touched" style="color:#e44a49; padding: 5px 0 0;">Enter state name</span>
                </li>

                <li class="zip" *ngIf="fieldsShow.Zip.hide !== true">
                  <input *ngIf="fieldsShow.Zip.format == 'number'" minlength="5" maxlength="5" (keypress)="keyPress($event)" placeholder="ZIP*" class="form-control" formControlName="zipcode" [required]="fieldsShow.Zip.required">
     

                  <span *ngIf="employeeForm.get('zipcode').invalid && employeeForm.get('zipcode').touched" style="color:#e44a49; padding: 5px 0 0;">Enter valid zip</span>
                </li>

                <li class="col-md-3 united-state">
                  <mat-select class="form-control" placeholder="Country" formControlName="country">
                    <mat-option *ngFor="let country of allCountry" [value]="country.name">{{country.name}}</mat-option>

                  </mat-select>
                  <span *ngIf="employeeForm.get('country').invalid && employeeForm.get('country').touched" style="color:#e44a49; padding: 5px 0 0;">Enter country name</span>
                </li>
              </ul>


            </form>
              <div class="clearfix"></div>

              <hr>
              <button class="btn pull-left cancel"  data-dismiss="modal" (click)="cancelEmergencyContact()">Cancel</button>
              <button class="btn pull-right save" type="submit" (click)="employeeEmergencyContactSubmit()"> Submit</button>

              <div class="clearfix"></div>


          </div>

          


        </div>

      </div>

    </div>
  </div>

</div>