/*-- Author:Suresh M, Date:08-04-19  --*/
/*-- Informaton relative css code  --*/

.emergency { margin: 30px auto 0; float: none;}
.emergency .panel-default>.panel-heading {  border: none; position: relative;}
.emergency .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px; float: left;}
.emergency .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.emergency .panel-title>.small, .emergency .panel-title>.small>a, .emergency .panel-title>a, .emergency .panel-title>small, .emergency .panel-title>small>a { text-decoration:none;}
.emergency .panel { box-shadow: none; border-radius: 0;}
.emergency .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}
.emergency .panel-heading {background:#edf7ff; padding: 15px 0 35px 20px;}

.emergency .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.emergency .panel-group .panel-heading+.panel-collapse>.list-group, .emergency .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.emergency .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.emergency .panel-body { padding: 0 0 5px;}

.emergency .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.emergency .panel-default { border-color:transparent;}
.emergency .panel-group .panel+.panel { margin-top: 20px;}

.emergency button.mat-menu-item a { color:#ccc;}
.emergency button.mat-menu-item a:hover { color:#fff; background: #099247;}
.emergency button { border: none; outline: none; background:transparent; position: absolute; top:3px; right: 0;}


.emergency-cont {width: 100%; background:#fff; padding: 30px 20px;}
.emergency-cont ul { display: block;}
.emergency-cont ul li { border-bottom:#eaeaea 1px solid; padding: 0 0 15px; margin: 0 0 15px;}
.emergency-cont ul li small { margin:15px 0 0;}

.employee span { float: left;}
.employee-rgt {margin:10px 0 0;}
.employee-rgt em { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.employee-rgt em .material-icons {  font-size: 20px; line-height: 15px;}
.primary-color {color:#fec550;}

.employee-rgt .panel-default>.panel-heading {  border: none; background-color:transparent;}
.employee-rgt .panel-title a { color: #888888; display: inline-block; font-size: 19px; position: static; float: none;}
.employee-rgt .panel-title a:hover { text-decoration: none;color: #888888;}
.employee-rgt .panel-title>.small, .employee-rgt .panel-title>.small>a, .employee-rgt .panel-title>a, .employee-rgt .panel-title>small, .employee-rgt .panel-title>small>a { text-decoration:none;}
.employee-rgt .panel { box-shadow: none; border-radius: 0;}
.employee-rgt .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}
.employee-rgt .panel-heading {padding:0;}

.employee-rgt .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.employee-rgt .panel-group .panel-heading+.panel-collapse>.list-group, .employee-rgt .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.employee-rgt .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.employee-rgt .panel-body { padding: 0 0 5px;}
.employee-rgt .panel-group { margin-bottom: 0;}

.employee-rgt .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.employee-rgt .panel-default { border-color:transparent;}
.employee-rgt .panel-group .panel+.panel { margin-top: 20px;}

.emergency-cont-in { padding: 10px 0 0;}
.employee-address {padding: 0;}
.employee-address address { margin: 0;}
.employee-address address p { color:#a7a5a5; font-size: 15px; line-height: 24px;}
.employee-address address p:hover{color:#a7a5a5;}

.employee-address ul { display: block;}
.employee-address ul li { border-bottom: none; padding: 0;}
.employee-address ul li p{ color:#a7a5a5;}
.employee-address ul li p var { display: inline-block; vertical-align: middle; width: 30px;}
.employee-address ul li p a{ display: inline-block; vertical-align: middle;color:#a7a5a5;font-size: 15px;}

.employee-contacts .modal-dialog { width: 50%;}
.employee-contacts .modal-content { border-radius: 5px !important;}
.employee-contacts .modal-header {padding: 15px 15px 20px;}
.employee-contacts .modal-header h4 { padding: 0 0 0 30px;}


.employee-contacts { display: block;}

.employee-details { padding: 30px 25px 35px 50px;}

.employee-details ul { display: inline-block; width: 100%;}
.employee-details ul li {margin: 0 20px 20px 0; padding: 0;}
.employee-details ul li h4 { color:#636060; font-size: 17px; line-height: 16px; margin: 0 0 15px;}
.employee-details ul li .phone { display: block; background:#f8f8f8; padding: 0 10px; height: 38px; line-height: 38px; clear: left;}
.employee-details ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.employee-details ul li .phone span .fa { color: #636060;
    font-size: 23px;
    line-height: 20px;
    width: 18px;
    text-align: center;}
.employee-details ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 80%; border: none; background:#f8f8f8; box-shadow: none; padding: 0 0 0 10px;}
.employee-details ul li .form-control { display: inline-block;vertical-align: middle; width: 40%; border: none; background:#f8f8f8; box-shadow: none; 
height: 40px; line-height: 40px; padding: 0 10px; font-size: 15px;}
.employee-details ul li.phone-width {  clear:left;}
.employee-details ul li.email-width { float: none;}
.social.administration-contact ul li.phone-width {  clear:left;width:25%}


.employee-details ul li.details-width{ width: 25%;}
.employee-details ul li .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; height: auto; width: 100%; padding: 10px;}
.employee-details ul li select { background:#f8f8f8; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.employee-details ul li.city { width: 19.5%;float: left;}
.employee-details ul li.state { width: 19.5%; float: left;}
.employee-details ul li.zip { width: 12%; float: left; padding: 0;}
.employee-details ul li.united-state { margin: 0; padding: 0; clear: left;}
.employee-details ul li.address{ float: none;}

.employee-contacts .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 15px; padding: 0 24px;margin:20px 20px 0 0;background: #008f3d; color:#fff;}
.employee-contacts .btn.cancel { color:#e44a49; background:transparent; font-size: 17px; padding:20px 0 0 20px;}




/*-- Author:Suresh M, Date:09-04-19  --*/
/*-- Informaton relative css code  --*/

.employee-details ul li.relation{ float:left; display: inline-block; vertical-align:middle; width:30%}
.employee-details ul li label { font-weight: normal; font-size:17px;color:#636060; line-height: 17px; display: block; padding: 0 0 10px;}
.employee-details ul li.relation:nth-child(3) { margin-top:27px;}
.employee-details hr { margin:30px 0;}

/* -----------------    ------------------------*/

.next-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 20px;
    color: #fff;
    padding: 0 30px;    
}
.emergency-cont ul li var {padding:10px 0 0;}