.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 6px 15px;
    font-size: 14px;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 14px!important; vertical-align: middle; padding: 0 0 0 5px;
}
.mr-7{
    margin-right: 7px;
}
.zenwork-inner-icon{
    width: 33px;
    height: auto;
    vertical-align: text-bottom;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 10px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:transparent !important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
    font-size: 16px;
}
.hire-wizard{
    width:100%;
}
.main-tabs-heading{
    
    float: none;
    margin: 0 auto; padding: 0;
}

.text-area{
    margin:15px 30px;
}
.text-area textarea{
    height: auto;
    resize: none;
    border: none;
    box-shadow: none;
}
.text-area .form-control{
    font-size: 15px;
    line-height: 25px;
    padding: 8px 30px 8px;
    background: #fff;
}
.zenwork-buttons{
    margin: 20px 25px;
}
.submit-btn{
    font-size: 14px;
    padding: 0px 22px !important;
    border-radius: 25px;
    margin: 0 10px 0 0;
    border: 1px solid #439348;
    color: #439348;background:#fff;
}

.cancel{
    color: #e44a49;
}

.cancel-btn{
    font-size: 12px;
    padding: 5px 12px !important;
    border-radius: 25px;
}

.personal { margin: 30px auto 0; float: none;}
.personal .panel-default>.panel-heading { background-color:transparent !important; border: none;}
.personal .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.personal .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.personal .panel-title>.small, .personal .panel-title>.small>a, .personal .panel-title>a, .personal .panel-title>small, .personal .panel-title>small>a { text-decoration:none;}
.personal .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.personal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.personal .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.personal .panel-group .panel-heading+.panel-collapse>.list-group, .personal .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.personal .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.personal .panel-body { padding: 0 0 5px;padding: 15px;}

.personal .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.personal .panel-default { border-color:transparent; background: #fff; 
    padding: 15px 25px;}
.personal .panel-group .panel+.panel { margin-top: 20px;}
.employee-mission ul li {
    margin: 0px 30px 0 30px;
}

.employee-mission ul.list-inline{ margin-left: 0;}

.employee-mission ul li small { display: inline-block; margin: 0 0 0 20px;}
.employee-mission ul li small .form-control {border: none;
    font-size: 16px;
    box-shadow: none;
    height: auto;
    padding: 10px 12px;background-color: #fff;} 

.employee-mission ul li small.form-control:focus{ border-color:transparent;box-shadow: none;}

.date { height: 38px !important; line-height:inherit !important; width:80% !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;vertical-align: top;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:70%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.border-bottom {
    border-bottom: 1px solid #e8dddd;
    padding-bottom: 15px;
}
.content-field {
    margin-top: 10px;
    border: none;
    box-shadow: none;
}
.custom-tables { margin: 0 auto; float: none; padding: 0 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#3c3a3a;background: #f8f8f8;
height: auto; padding: 10px 12px; font-size: 16px;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}
  .save-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.label-font {
    font-size: 15px; padding: 0 0 15px;
}

.company-top { margin: 0 0 20px;background: #f8f8f8; padding: 20px 0 15px;}

.zenwork-checked-border:after {
    top:-11px;
    left: -80px;
    border-right: #83c7a1 4px solid;
    right: auto;
    height:55px;
    border-radius: 4px;
    padding: 25px;
}

.zenwork-customized-ccheckbox { margin: 0 0 0 30px;}

.zenwork-checked { position: relative;}
.zenwork-checked:after {
    content:'';
    position: absolute;
    top:8px;
    left: -48px;
    border-right: #83c7a1 4px solid;
    right: auto;
    height:55px;
    border-radius: 4px;
    padding: 25px;
}
.error { color: #e44a49; padding: 4px 0 0;}
.show { margin: 20px 0;}

.manager-link-main {
    border-bottom: 1px solid #e8dddd;
    padding-bottom: 15px;
    margin: 20px 0 0;
}

.manager-link-main label { padding: 0 0 15px; display: block; font-size: 17px;}
.back { color: #e44a49; font-size: 14px;}