<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management']">
      <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
    </a>
    <span class="inner-icon-img">
      <img src="../../../assets/images/Employee Self Service/ess.png" class="zenwork-inner-icon"
        alt="Company-settings icon">
    </span>
    <small class="sub-title"><b>Employee Self Service</b></small>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>
<div class="main-tabs-heading col-md-11">
  <div class="hire-wizard">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Employee Front Page Setup</a></li>
    </ul>
  </div>



  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="personal">
        
      <div class="panel-group" id="accordion3">

        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
                    Employee Announcement
                </a>
                <span class="pull-right">
                    <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                    <mat-menu #menu1="matMenu">
                      <button mat-menu-item (click)="companyAdd()">Add</button>
                      <button mat-menu-item (click)="companyEdit()">Edit</button>
                      <button mat-menu-item (click)="companyDelete()">Delete</button>
                    </mat-menu>
                  </span> 
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                
                <div class="company-top" *ngFor="let list of companyAddList; let i =index">

                  <div class="employee-mission">
                    <ul class="list-unstyled list-inline border-bottom">

                      <li [ngClass]="{'zenwork-checked-border':list.isChecked}">
                          <mat-checkbox class="checkbox-success" style="display: inline-block;" [(ngModel)]="list.isChecked" (change)="employeCheck($event,list._id)"></mat-checkbox>
                        <small>
                          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="list.title" [readonly]="list.edit">
                        </small>
                      </li>
                      
                      <li>
                        <label class="label-font">Schedule Date</label>
                      </li>
                      <li style="margin:0px">
                          <div class="date">
                              <input matInput [matDatepicker]="picker3" placeholder="mm / dd / yy" class="form-control" [(ngModel)] ="list.scheduled_date" [disabled]="list.edit" [min]="pastDate">
                              <mat-datepicker #picker3></mat-datepicker>
                              <button mat-raised-button (click)="picker3.open()">
                                <span>
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                              </button>
                              <div class="clearfix"></div>
                            </div>
                      </li>
                      
                      
                      <li>
                          <label class="label-font">Expiration Date</label>
                        </li>
                        <li style="margin:0px">
                            <div class="date">
                                <input matInput [matDatepicker]="picker4" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="list.expiration_date" [disabled]="list.edit" [min]="list.scheduled_date">
                                <mat-datepicker #picker4></mat-datepicker>
                                <button mat-raised-button (click)="picker4.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                        </li>
                       
                      
                    </ul>
                  </div>

                  <div class="text-area">
                      <textarea class="form-control" rows="5" placeholder="Description..." [(ngModel)]="list.description" [readonly]="list.edit"></textarea>
                    </div>
                    <div class="zenwork-buttons pull-right" *ngIf="!list.buttonDisabled">

                      <button mat-button class="cancel" *ngIf="list._id" (click)="resetClick()">Reset</button>  
                      <button mat-button class="cancel" *ngIf="!list._id" (click)="cancelClick(i)">Cancel</button>
                      <button mat-button class="submit-btn" (click)="companySubmit(list)">Submit</button>
                    
                    </div>
                    <div class="clearfix"></div>
              </div>

            </div>
            </div>
          </div>

      </div>
      </div>
    <div>
      
      <h4>Additional Content</h4>
      <div class="border-bottom" style="margin-top: 20px;">
        <div class="col-xs-2">
          <label class="label-font">Show Time?</label>
          <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_time">
             <mat-option [value]="true">Yes</mat-option>
             <mat-option [value]="false">No</mat-option>
          </mat-select>
        </div>
        <div class="col-xs-2">
            <label class="label-font">Show Benefits?</label>
            <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_benifits">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
          </div>
          <div class="col-xs-2">
              <label class="label-font">Show Training?</label>
              <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_training">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
            <div class="col-xs-3">
                <label class="label-font">Show Company Policies?</label>
                <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_company_policies">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
              </div>
              <div class="clearfix"></div>
      </div>
      <div class="border-bottom" style="margin-top: 20px;">
          <div class="col-xs-2">
            <label class="label-font">Show Birthdays?</label>
            <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_birthdays">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
          </div>
          <div class="col-xs-3">
              <label class="label-font">Select Employees-Birthday</label>
              <mat-select class="form-control content-field" [(ngModel)]="additionalContents.birthday_settings">
                 <mat-option value="My Team Only">My Team Only</mat-option>
                 <mat-option value="My Department Only">My Department Only</mat-option>
                 <mat-option value="Entire Company">Entire Company</mat-option>
              </mat-select>
            </div>
            
            <div class="col-xs-3">
                <label class="label-font">Show Work Anniversary?</label>
                <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_work_anniversary">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
              </div>
              <div class="col-xs-3">
                  <label class="label-font">Select Employees-Work Anniversary</label>
                  <mat-select class="form-control content-field" [(ngModel)]="additionalContents.work_anniversary_settings">
                      <mat-option value="My Team Only">My Team Only</mat-option>
                      <mat-option value="My Department Only">My Department Only</mat-option>
                      <mat-option value="Entire Company">Entire Company</mat-option>
                  </mat-select>
                </div>

                
                <div class="col-xs-2 show">
                  
                    <label class="label-font">Show Company Links?</label>
                    <mat-select class="form-control content-field" [(ngModel)]="additionalContents.show_company_links">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                  </div>
                  
                  <div class="clearfix"></div>
          </div>
            <br>
          <button mat-button class="save-btn" (click)="managerSave()">Save</button>

        <div class="row manager-link-main">
           
                <label class="label-font">Company Links</label><br>
                <div class="custom-tables">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                          
                          </th>
                          <th>Site Name</th>
                          <th>Site Link</th>
                          <th>
                            <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                            <mat-menu #menu2="matMenu">
                              <button mat-menu-item (click)="companyLinkAdd()">Add</button>
                              <button mat-menu-item (click)="companyLinkEdit()">Edit</button>
                              <button mat-menu-item (click)="companyLinksDelete()">Delete</button>
                            </mat-menu>
                          </th>
                        </tr>
                      </thead>
                      <tbody>

                        
              
                        <tr *ngFor="let list of additionalContents.company_links">

                          <td [ngClass]="{'zenwork-checked' : list.isChecked }">
                              <mat-checkbox class="zenwork-customized-ccheckbox" [(ngModel)]="list.isChecked" (ngModelChange)="companyCheck(list._id,list)"></mat-checkbox>
                          </td>
                          <td>
                            <input type="text" class="form-control" placeholder="Site Name" [(ngModel)]="list.site_name" [readonly]="list.linkEdit"
                            name="sitename" #siteName="ngModel" required>
                            <p *ngIf="!list.site_name && siteName.touched || (!list.site_name && isValid)" class="error">Enter the Site name</p>
                          </td>
                          <td>
                              <input type="text" class="form-control" placeholder="Site Link" [(ngModel)]="list.site_link" [readonly]="list.linkEdit"
                              name="sitelink" #siteLink="ngModel" required>
                              <p *ngIf="!list.site_link && siteLink.touched || (!list.site_link && isValid)" class="error">Enter the Site link</p>
                          </td>
                          <td></td>
                        </tr>
              
              
                    </table>
                   
                  </div>
            
            </div>
            <div class="row" style="margin:20px 0px;">

                <button mat-button (click)="essBackClick()" class="back">Back</button>
          
                <button mat-button class="save-btn pull-right" (click)="companyLinksAdd()">Save</button>
          <div class="clear-fix"></div>
              </div>
    </div>
    
    </div>
  </div>
</div>