.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}
.zenwork-currentpage { border-bottom:#ccc 1px solid; padding:30px 0 20px; margin: 0 auto; float: none;}


.interviews { margin:20px auto 0; float: none; padding: 0;}
.interviews h2 { margin: 0 0 30px; font-size: 20px; color:#444;}


.interviews { display: block;}
.interviews .table{ background:#fff;}
.interviews .table>tbody>tr>th, .interviews .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:17px;
vertical-align: middle; position: relative; background: #edf7ff;}
.interviews .table>tbody>tr>td, .interviews .table>tfoot>tr>td, .interviews .table>tfoot>tr>th, 
.interviews .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle;}

.interviews .table>tbody>tr>th a, .interviews .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.interviews .table>tbody>tr>th a .fa, .interviews .table>thead>tr>th a .fa { color: #6f6d6d;}


.interview-data{ display: block;}
.interview-data figure{ display: inline-block; width:60px; vertical-align: middle;}
.interview-data h4{ color:#444; font-size:17px;display: inline-block; vertical-align: middle;}