<div class="zenwork-currentpage col-md-11">
  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
    <small>
      <img alt="Company-settings icon" src="../../../assets/images/company-settings/site-access/site-access-icon.png">
    </small>
    <em>Interviews</em>
  </p>
  
</div>


<div class="interviews col-md-11">

 <h2>Interviews</h2>


 <table class="table">
  <thead>
    <tr>
      <th><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></th>
      <th>Candidates</th>
      <th>Job Title</th>
      <th>Job Number</th>
      <th>Scheduled Date</th>
      <th>Location</th>
     <th>Interview Score / Status</th>
      <th>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a>Reschedule</a>
          </button>
         
          <button mat-menu-item>
              <a>Review Candidates</a>
          </button>

          <button mat-menu-item>
            <a (click)="scheduleClick()">schedule / Score Interview</a>
          </button>

        </mat-menu>
      </th>
    </tr>
  </thead>

  <tbody> 
    <tr>
      <td><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></td>
      <td>
        <div class="interview-data">

          <figure>
            <img src="../../../../assets/images/Directory/empoyee_-1.png">
          </figure>

            <h4>Candidates</h4>

        </div>
      </td>
      <td>Job Title</td>
      <td>5345345</td>
      <td>June 20</td>
      <td>Hyd</td>
     <td>sfsdfsfsdfsd</td>
      <td></td>
    </tr>
    
  </tbody>
</table>

</div>