<div class="feature-benefits leave security-mobile">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Security</h2>
        <h1>It’s like having a superhero protect your data!</h1>

        <small>We want to secure our platform and offer the leading practical security options to our users, such as
          two-factor authentication.</small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/security-img.png" width="618" height="520" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->

<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>



<div #content class="benefits-cont">
  <div class="container">
    <div class="row">

      <p>Zenwork HR protects your sensitive information under 256-bit encrypted security. The same security level used
        by banks, the U.S. government, and even the U.S. military. This encryption level would take 2 to the 256th power
        (1.1579209*10^77) different combinations to break, something that even the most advanced computers in our day
        would find problematic to figure out. Zenwork also renews and becomes certified in SSAE-16 Type II every year.
        We take advice from security audit professionals and stay one step ahead in data security.</p>

    </div>
  </div>

</div>