.inbox-main { float: none; margin: 0 auto; padding:30px 0 0;}
.inbox-main h4 { margin: 0;}


.category{ margin: 10px -50px 20px; padding: 0;}
.category label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 15px 15px 0;}
.category .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;
width:65%; font-size: 15px;background: #fff; display: inline-block;}

.all-email { background: #edf7fe; padding: 5px 15px;}

.current-mails{ margin: 20px 0 0;}

.current-mails .panel-default>.panel-heading { padding: 0; background-color:transparent !important; border: none; position: relative;}
.current-mails .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px; display: block;}
.current-mails .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.current-mails .panel-title>.small, .current-mails .panel-title>.small>a, .current-mails .panel-title>a, .current-mails .panel-title>small, .current-mails .panel-title>small>a { text-decoration:none;}
.current-mails .panel { background: none; box-shadow: none; border-radius: 0;}
.current-mails .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}
.current-mails .panel-heading .accordion-toggle{ position: absolute; top: 0;}
.current-mails .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.current-mails .panel-group .panel-heading+.panel-collapse>.list-group, .current-mails .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.current-mails .panel-heading .accordion-toggle:after { margin:7px 15px 0; font-size: 13px; line-height: 13px;}
.current-mails .panel-body { padding: 0 0 5px;}

.current-mails .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.current-mails .panel-default { border-color:transparent; background:#fff; padding: 15px 5px 0;}
.current-mails .panel-group .panel+.panel { margin-top: 20px;}


.current-mails .btn.approve {border-radius: 20px;font-size: 16px; padding:6px 32px;
background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.current-mails .btn.cancel { color:#e44a49; background:transparent; padding:22px 0 0 30px;font-size: 16px;}
.current-mails .btn.reject { color:#e44a49; background:transparent;border:#b7b3b3 1px solid; padding:6px 32px; 
border-radius: 20px;font-size: 16px; border: #e44a49 1px solid; margin: 0 20px 0 0;}
.right-approve { margin:20px 0 0;}

.mails-btm { float: none; margin: 0 auto; padding:20px 0 30px;}


.mails-accord {border-bottom:#ccc 1px solid; padding: 0 0 10px;}
.mails-accord ul { display: block;}
.mails-accord ul li { display:inline-block; border-right:#ccc 1px solid;}
.mails-accord ul li small { display: block; padding:17px 0;font-size: 17px;}
.mails-accord ul li p { display: block; padding:11px 0 6px;}
.mails-accord ul li.border{ border: none;}
.mails-accord ul li small em { display: inline-block; font-size: 13px; padding:0 5px 0 0; color: #008f3d; vertical-align: middle;}
.mails-accord ul li.approve small em { display: inline-block; font-size: 13px; padding:0 5px 0 0; color: #008f3d;}
.mails-accord ul li span em { display: inline-block; font-size: 13px; padding:0 5px 0 0; color: #ccc;}
.mails-accord > ul > li > span { vertical-align: middle; padding: 10px 0 0; display: block; font-size: 17px; color: #777;}
.mails-accord ul li span em .fa { vertical-align: top;}
.mails-accord ul li var { display: block; padding:17px 0;font-size: 17px;font-style: normal;}
.mails-accord ul li var em { display: inline-block; font-size: 13px; padding:0 5px 0 0; color: #ff0a0a;font-style: normal;}
.mails-accord ul li var em .fa { vertical-align: top;}

.managers { height: 48px;}
.managers span { vertical-align: middle; display: inline-block; padding: 0;}
.manager-right { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;}
.manager-right h4 { font-size: 15px; margin: 0 0 5px;}
.manager-right h5 {  color: #ccc;margin: 0;}

.current-mails-cont { margin: 10px auto 0; float: none; padding: 0 0 15px;}
.current-mails-cont label {  color: #4c4848;font-size:16px; padding: 0 0 5px;}
.current-mails-cont p {  color: #ccc;margin: 0 0 4px; font-size: 15px;}

.current-mails-cont h5 {margin: 0 0 7px;}

.current-mails-cont .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff;}
.current-mails .current-mails-cont .btn.cancel { color:#e44a49; background:transparent;font-size: 16px; padding: 0;}
textarea.form-control { margin: 0 0 20px; resize: none;}


.email-head {padding:15px 0; background: #fff;}
.email-head ul { display: block;}
.email-head ul li { display:inline-block;}
.email-head ul li small { display: block; font-size: 16px;}
.email-head ul li.border{ border: none;}
.email-head ul li small a {color: #929191;font-size: 15px;}


.mat-paginator-page-size-label { font-size: 15px;}
.mail-check{ display: inline-block; position: absolute; top:10px; left:20px;}
.mail-check em{position: relative;}
.mail-check em::after{ content:''; position: absolute; top:-12px; right:-40px; height:50px;border-right:#ccc 1px solid;}

.zenwork-checked-border::after {top: -19px !important;left: -73px !important;border-right: #83c7a1 5px solid !important;
height: 60px !important;right: auto !important;}
.emplployee-icon{
    font-size: 50px;
    color: #ccc;  
}