<div class="inbox-main col-md-11">

  <h4>Current Emails</h4>

  <div class="category col-md-4 pull-right">
    <label>Category</label>
    <mat-select placeholder="Inbox- All Emails" class="form-control" [(ngModel)]="categoryName" (ngModelChange)="categoryFilter(categoryName)">
      <mat-option  *ngFor="let list of lists" [value]="list.name">{{list.name}}</mat-option>
    </mat-select>
  </div>
  <div class="clearfix"></div>

  <div class="all-email" >
    <h5 class="pull-left">Inbox - All Emails ( {{count}} )</h5>
    <span class="pull-right" >
      <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>
          <a (click)="archiveMails()">Archive</a>
        </button>
       
        <button mat-menu-item>
          <a (click)="deleteEmails()">Delete</a>
        </button>
      </mat-menu>
    </span>
    <div class="clearfix"></div>
  </div>


  <div class="email-head">
    <ul>
      <li class="col-md-1">

      </li>
      <li class="col-md-2">
        <small>From  </small>
      </li>
      <li class="col-md-2">
        <small>Subject</small>
      </li>
      <li class="col-md-2">
        <small>Date</small>
      </li>
      <li class="col-md-2">
        <small>Time</small>
      </li>
      <li class="col-md-2 pull-right border">
        <small>Status</small>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>


  <div class="current-mails">

    <div class="panel-group" id="accordion1">

      <div class="panel panel-default" *ngFor="let data of dataList;let i=index;">
        <div class="panel-heading">
          <h4 class="panel-title">
             <div class="mail-check">
                
                <mat-checkbox [ngClass]="{'zenwork-checked-border':data.isChecked}"  class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
                (ngModelChange)="selectData(data._id, data.taskStatus)" disabled="{{data.taskStatus=='Pending' || data.request_status=='Pending'}}"></mat-checkbox>
                <em></em>
             </div>
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne{{i+1}}" (click)="markAsRead(data._id)">

              <div class="mails-accord">
                <ul>
                  <li class="col-md-1">
                
                  </li>
                  <li class="col-md-2">
                    <div class="managers">
                      <span>
                          <i class="material-icons emplployee-icon">
                              account_circle
                            </i>
                        <!-- <img src="../../../assets/images/Manager Self Service/employee.png"> -->
                      </span>
                      <div class="manager-right" *ngIf="data.from">
                        <h4 *ngIf = "data.from.type == 'company'">System Admin</h4>
                        <h4 *ngIf = "data.from.type == 'employee'">{{data.from.personal.name.preferredName}}</h4>
                        <!-- <h5>Manager</h5> -->
                      </div>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <small>{{data.subject}}</small>

                  </li>

                  <li class="col-md-2">
                    <small>{{data.createdAt | date:"MM/dd/yy"}}</small>

                  </li>

                  <li class="col-md-2">
                    <small>{{data.createdAt | date:"shortTime"}}</small>

                  </li> 

                  <li *ngIf= "data.subject == 'On-boarding Tasks' || data.subject == 'Off-boarding Tasks'"  class="col-md-2 pull-right border">
                    <span *ngIf="data.taskStatus=='Pending'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.taskStatus}}</span>
                    <small *ngIf="data.taskStatus=='Completed'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.taskStatus}}</small>
                  </li>
                  <li *ngIf= "data.subject == 'Manager Requests'" class="col-md-2 pull-right border">
                    <small *ngIf="data.request_status=='Approved'"><em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</small>
                    <var *ngIf="data.request_status=='Rejected'"><em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</var>
                    <span *ngIf="data.request_status=='Pending'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</span>
                  </li>

                </ul>
                <div class="clearfix"></div>
              </div>

            </a>

          </h4>
        </div>

        <div id="collapseOne{{i+1}}" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="current-mails-cont col-md-10" >
            
              <label *ngIf="data.subject !== 'Manager Requests'">Task Name: {{data.taskName}}</label>
              <label *ngIf="data.subject == 'Manager Requests'"> {{data.subject}}</label>

              <p>Impacted Employee: {{data.impactedEmployee.personal.name.preferredName}}</p> 

              <p *ngIf="data.onboarding_template_id">Task Assignment Date: {{data.onboarding_template_id.assigned_date | date : 'MM/dd/yy'}}</p>
              <p *ngIf="data.offboarding_template_id">Task Assignment Date: {{data.offboarding_template_id.assigned_date | date : 'MM/dd/yy'}}</p>
              <p *ngIf="data.manager_request_id">Request Date: {{data.manager_request_id.requestedDate | date : 'MM/dd/yy'}}</p>


              <h5>Add Notes:</h5>
              <form [formGroup]="currentEmails" (ngSubmit)="currentEmailSubmit(data._id)">
              <textarea rows="4" class="form-control" formControlName="textarea"></textarea>

              <button class="btn pull-left cancel">Cancel</button>
              <button class="btn pull-right save" type="submit">Mark as Complete</button>
              <div class="clearfix"></div>
            </form>
            </div>

          </div>
        </div>
      </div>
     

      <div class="col-md-11 mails-btm">
      <button class="btn pull-left cancel">Cancel</button>
      <div class="pull-right right-approve">
        <button class="btn pull-left reject">Reject</button>
        <button class="btn pull-right approve">Approve</button>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
     </div>

      <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]"
        (page)="pageEvents($event)"></mat-paginator>


    </div>


  </div>

  <br>

  <h4>Archived Emails</h4>

  <div class="category col-md-4 pull-right">
    <label>Category</label>
    <mat-select placeholder="Inbox- All Emails" class="form-control" [(ngModel)]="categoryName" (ngModelChange)="archiveCategoryFilter(categoryName)">
      <mat-option  *ngFor="let list of lists" [value]="list.name">{{list.name}}</mat-option>
    </mat-select>
  </div>
  <div class="clearfix"></div>

  <div class="all-email">
    <h5 class="pull-left">Inbox - All Emails ( {{archiveCount}} )</h5>
    <span class="pull-right" >
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a (click)="archiveDelete()">Delete</a>
        </button>
        <button mat-menu-item>
          <a (click)="restoreEmails()">Restore</a>
        </button>
      </mat-menu>
    </span>
    <div class="clearfix"></div>
  </div>


  <div class="email-head">
    <ul>
      <li class="col-md-1">

      </li>
      <li class="col-md-2">
        <small>From  </small>
      </li>
      <li class="col-md-2">
        <small>Subject </small>
      </li>
      <li class="col-md-2">
        <small>Date </small>
      </li>
      <li class="col-md-2">
        <small>Time</small>
      </li>
      <li class="col-md-2 pull-right border">
        <small>Status</small>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>


  <div class="current-mails">

    <div class="panel-group" id="accordion1">

      <div class="panel panel-default" *ngFor="let data of archiveDataList;let i=index;">
        <div class="panel-heading">
          <h4 class="panel-title">
             <div class="mail-check">
                <mat-checkbox [ngClass]="{'zenwork-checked-border':data.isChecked}"  class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked"
                (ngModelChange)="selectData(data._id)"></mat-checkbox>
                <em></em>
             </div>
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">

              <div class="mails-accord">
                <ul>
                  <li class="col-md-1">
                
                  </li>
                  <li class="col-md-2">
                    <div class="managers">
                      <span>
                          <i class="material-icons emplployee-icon">
                              account_circle
                            </i>
                      </span>
                      <div class="manager-right" *ngIf="data && data.from">
                        <h4 *ngIf = "data.from.type == 'company'">System Admin</h4>
                        <h4 *ngIf = "data.from.type == 'employee'">{{data.from.personal.name.preferredName}}</h4>
                      </div>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <small>{{data.subject}}</small>

                  </li>

                  <li class="col-md-2">
                    <small>{{data.createdAt | date:"MM/dd/yy"}}</small>

                  </li>

                  <li class="col-md-2">
                    <small>{{data.createdAt | date:"shortTime"}}</small>

                  </li>


                  <li *ngIf= "data.subject == 'On-boarding Tasks' || data.subject == 'Off-boarding Tasks'"  class="col-md-2 pull-right border">
                    <span *ngIf="data.taskStatus=='Pending'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.taskStatus}}</span>
                    <small *ngIf="data.taskStatus=='Completed'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.taskStatus}}</small>
                  </li>
                  <li *ngIf= "data.subject == 'Manager Requests'" class="col-md-2 pull-right border">
                    <small *ngIf="data.request_status=='Approved'"><em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</small>
                    <var *ngIf="data.request_status=='Rejected'"><em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</var>
                    <span *ngIf="data.request_status=='Pending'"> <em><i class="fa fa-circle" aria-hidden="true"></i></em>{{data.request_status}}</span>
                  </li>
               
                </ul>
                <div class="clearfix"></div>
              </div>

            </a>

          </h4>
        </div>

      </div>

      <mat-paginator [length]="archiveCount" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]"
        (page)="archivePageEvents($event)"></mat-paginator>


    </div>


  </div>


</div>