<div class="feature-benefits leave recruitment-mobile">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Recruitment</h2>
        <h1>You have chosen wisely!</h1>

        <small>Post jobs to websites and store candidate information within Zenwork HR. Use the job calculator to select
          the best method in filling your open position. Schedule interviews with applicants, track the candidates
          as
          they go through the recruitment process, and track the potential scores for possible future open positions.
        </small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/recruitment-img.png" width="618" height="611" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->


<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #content class="benefits-cont">
  <div class="container">
    <div class="row">

      <p>Examine what resources hiring takes, such as the associated time and costs of hiring for each position. The
        recruitment module updates you on the status of your job postings as well as turn around time for it. Use our
        <b>job calculator</b> to identify hidden recruitment costs and identify which hiring tools are the most
        effective for
        your varying open position. You can manage your job postings of various popular platforms such as LinkedIn,
        Indeed, and more to generate traffic for your job openings.</p>
      <p>Schedule interviews and track <b>candidate statuses and candidate potential scores,</b> all from inside Zenwork
        HR.
        Tired of starting of scratch from when hiring for a new job opening? We make creating and storing job
        descriptions in your <b>job bank</b> easy and guarantee that using Zenwork HR tools it will help speed up the
        process of
        filling new job openings.</p>
    </div>
  </div>

</div>