.navbar-right{
    padding-top:0 !important; margin: 0 20px 0 0;

}
.search-border{
    border : 1px solid #9e9e9e;
    border-radius: 25px;
    position: relative;
    bottom:5px; width: 300px; margin:10px 0 0;
}
.search-border .form-control { padding:10px 45px 10px 20px; height: auto; color:#fff;}
.search-border .form-control:focus { outline: none; box-shadow: none;}

.search-border .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#fff;
  }
  .search-border .form-control::-moz-placeholder { /* Firefox 19+ */
    color:#fff;
  }
  .search-border .form-control:-ms-input-placeholder { /* IE 10+ */
    color:#fff;
  }
  .search-border .form-control:-moz-placeholder { /* Firefox 18- */
    color:#fff;
  }

  .search-border span { width: 30px;}

.search-icon{
    right: 13px;
    position: absolute;
    top: 11px;
}
.border-none{
    border: none;
    background: transparent;
}
.dropdown{
    padding-top: 0 !important;
}
.dropdown a{
    color: #fff !important; cursor: pointer;
}
.caret{
    display: inline !important;
    margin-left: 25px !important;
    padding-top: 6px !important;
}
.main-nav-image{
    margin: 16px 0 0;
} 
.main-nav-image-notification{
    
    margin-right: 10px !important;
}
.zenwork-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .custom-navbar .navbar-nav>li { margin: 0 15px;}
.custom-navbar .navbar-nav>li>a { padding: 0; cursor: pointer;}

.custom-navbar .navbar-brand{
    padding:0 !important;
}
 
.logo { width: auto; padding: 12px 0 0 30px;}

.custom-navbar { padding: 10px 0;}
.toggle-menu { cursor: pointer;padding:19px 0 0 80px;}
.custom-navbar .navbar-nav>li.logout { margin: 0 0 0 30px; padding:2px 0 0;}

.custom-navbar .nav .open>a, .custom-navbar .nav .open>a:focus, .custom-navbar .nav .open>a:hover { background:transparent;}
.custom-navbar .dropdown-menu { min-width: 300px;left: auto; right: -20px; border: none; padding: 0; background:transparent; box-shadow:0 6px 12px #e0e0e0;}
.top-block { background:#5f5f5f; padding:15px 25px; border-radius: 5px 5px 0 0;}
.left-block { display: inline-block; vertical-align:middle; width: 195px;}
.left-block h2 { font-size: 20px; line-height: 20px; color:#fff; font-weight: normal; padding: 0 0 7px; margin: 0;}
.left-block small { font-size: 14px; line-height: 14px; color:#efeded; font-weight: normal; display: block;}
.top-block span { display: inline-block; vertical-align: middle; cursor: pointer;}

.settings { background:#fff; padding: 8px 0; border-radius: 0 0 5px 5px;}
.settings ul { display: block;}
.settings ul li { display: block;}
.settings ul li a { display: block; font-size: 15px; line-height: 15px; color:#8c8c8c !important; padding:12px 0 12px 25px;}
.settings ul li a:hover { background:#008f3d; color:#fff !important;}

.reseller-logo{
    margin: 10px 0 10px 50px !important;
    color: #fff; 
}