<nav class="navbar navbar-inverse custom-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a *ngIf="message != 'reseller'" class="navbar-brand" href="#">
        <img src="../../assets/images/main-nav/whitelogo.png" alt="Zenwork Hr" class="logo">
      </a>
      <a *ngIf="message == 'reseller'" class="navbar-brand" href="#">
        <h3 class="reseller-logo"> {{resellerName}}</h3>
      </a>
      <a class="inline-block toggle-menu">
        <img src="../../assets/images/main-nav/expand.png" alt="Menu Expand" class="img-responsive">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <div class="search-border">
              <input type="text" class="border-none form-control">
              <span>
                <img src="../../assets/images/main-nav/ic_search_24px.png" alt="search-icon"
                  class="img-responsive search-icon">
              </span>
            </div>

          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/images/main-nav/ic_home_24px.png" alt="home-img"
              class="img-responsive main-nav-image">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/images/main-nav/ic_notifications_24px.png" alt="notification-img"
              class="img-responsive main-nav-image">
          </a>
        </li>
        <li>
          <div class="dropdown">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              <img src="../../assets/images/main-nav/ic_settings_24px.png" alt="settings-icon"
                class="img-responsive main-nav-image">
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

              <div class="top-block">
                <div class="left-block">
                  <h2>Nick Bondurant</h2>
                  <small>Director</small>
                </div>
                <span><img src="../../../assets/images/main-nav/Employees.png" width="53" height="53" alt="img"></span>
              </div>

              <div class="settings">

                <ul>
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Password Recovery</a></li>
                  <li><a href="#">My Account Settings</a></li>
                  <li><a href="#">My Info</a></li>
                  <li><a href="#">My API Keys</a></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>

              </div>

            </div>
          </div>
        </li>
        <li class="logout">
          <a href="javascript:void(0)" (click)="logOut()">
            <img src="../../assets/images/main-nav/ic_power_settings_new_24px.png " alt="power-img"
              class="img-responsive main-nav-image">
          </a>
        </li>

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>