<div class="setting-table">

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="cont-check">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="checkAllAddOns" (change)="selectAll()">
                  Profile Name
              </mat-checkbox>
          </div>
        </th>
        <th>Profile Description</th>
        
        <th>
          <div class="setting-drop">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="addEditUser('data')">Add</a>
              </li>
              <li>
                <a (click)="editUserProfile()">Edit</a>
              </li>
              <!-- <li>
                <a>Delete</a>
              </li>
              <li>
                <a>Copy</a>
              </li> -->
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let profile of userProfile">
        <td [ngClass]="{'zenwork-checked-border':profile.isChecked}">

          <div class="cont-check">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="profile.isChecked">
                  {{profile.name}}
              </mat-checkbox>
          </div>

        </td>
        <td>{{profile.description}}</td>
        
        <td></td>
      </tr>
  </table>

  

</div>