<div class="banner partner">
  <div class="container">
    <div class="row">
      <div class="banner-lft col-sm-7 col-xs-12">
        <!-- <h2>Zenwork Partner</h2> -->
        <h1>Create more value by<br>
          Partnering with <img src="../../../assets/images/main-nav/Component 1@2x12.png" alt="img" width="245px;"></h1>
        <!-- <small>Let Zenwork crunch the numbers while you focus on the big picture.</small> -->
        <small>&nbsp;&nbsp;</small>
        <form [formGroup]="partnerForm" (ngSubmit)="partnerSubmit()">
          <ul>

            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/domain.png" width="16" height="14" alt="img"></em>
                <input class="form-control" placeholder="Company Name" formControlName="name">
                <div class="clearfix"></div>
              </div>
              <!-- <div *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched" style="color:#e44a49; padding: 5px 0 0;">Please enter Name</div> -->
            </li>

            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/employee.png" width="21" height="13" alt="img"></em>
                <input class="form-control" placeholder="Number of Client Employees" formControlName="employeCount"
                  type="number">
                <div class="clearfix"></div>
              </div>
              <!-- <div *ngIf="signupForm.get('employeCount').invalid && signupForm.get('employeCount').touched" style="color:#e44a49; padding: 5px 0 0;">Please enter Employee</div> -->
            </li>

            <li>
              <div formGroupName="primaryContact">
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/user.png" width="13" height="13" alt="img"></em>
                  <input class="form-control" placeholder="Full Name" formControlName="name">
                  <div class="clearfix"></div>
                </div>
                <!-- <div *ngIf="signupForm.get('primaryContact').get('name').invalid && signupForm.get('primaryContact').get('name').touched" style="color:#e44a49; padding: 5px 0 0;">Please enter Full name</div> -->
              </div>
            </li>

            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/mail.png" width="13" height="9" alt="img"></em>
                <input class="form-control" placeholder="Email" formControlName="email"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <div class="clearfix"></div>
              </div>
              <!-- <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" style="color:#e44a49; padding: 5px 0 0;">Please enter Email</div> -->
            </li>

            <li>
              <div formGroupName="primaryContact">
                <div class="form-group">
                  <em><img src="../../../assets/images/authentication/phone.png" width="13" height="13" alt="img"></em>
                  <input class="form-control" placeholder="Phone" formControlName="phone" (keypress)="keyPress($event)"
                    minlength=10 maxlength=10>
                  <div class="clearfix"></div>
                </div>
                <!-- <div *ngIf="signupForm.get('primaryContact').get('phone').invalid && signupForm.get('primaryContact').get('phone').touched" style="color:#e44a49; padding: 5px 0 0;">Please enter Phone</div> -->
              </div>
            </li>

          </ul>

          <button type="submit" class="btn">Become a Partner</button>
        </form>


      </div>
      <div class="banner-rgt pull-right">
        <figure><img src="../../../assets/images/home/partner-bg.png" width="1133" height="936" alt="img">
          <span><img src="../../../assets/images/home/partner-img.png" width="668" height="706" alt="img"></span>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- 
<div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->


<div class="arrow"> <a (click)="arrowDown(agile)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #agile class="agile-hr">
  <div class="container">
    <div class="row">
      <h2>Agile HR Experience</h2>
      <p>Your clients look to you for technical solutions to their everyday needs. In addition to our tax services such
        as Tax1099 and eFile Assist, we now offer <br> Zenwork HR! Zenwork HR is a cloud-based HCM solution that has the
        core
        functionality any business can use at a price that won't break the bank. <br> Become more invested with your
        clients
        by meeting more than just their tax once a year... be a part of their everyday life... be a partner of Zenwork
        HR!</p>
    </div>
  </div>
</div>


<div class="rewards">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/rewards-bg.png" width="802" height="1105" alt="img"></figure>

      <h2>Unlock rewards as you grow with ZenworkHR</h2>
      <p>Pass on bulk discounts or earn revenue as you add clients, <br> plus access exclusive perks</p>

      <ul class="col-md-8 col-xs-12 pull-right">

        <li class="col-sm-3 col-xs-6"><a href="#">
            <figure>
              <img src="../../../assets/images/home/client1.png" width="103" height="105" alt="img">
              <div class="clients">
                <div class="tbl">
                  <div class="tbl-cell">

                    <h4>Starter</h4>
                    <small>1-2 Clients</small>
                  </div>
                </div>
              </div>
            </figure>
          </a>
        </li>

        <li class="col-sm-3 col-xs-6"><a href="#">
            <figure>
              <img src="../../../assets/images/home/client2.png" width="103" height="105" alt="img">
              <div class="clients">
                <div class="tbl">
                  <div class="tbl-cell">

                    <h4>Bronze <br> Partner</h4>
                    <small>3-14 Clients</small>
                  </div>
                </div>
              </div>
            </figure>
          </a>
        </li>

        <li class="col-sm-3 col-xs-6"><a href="#">
            <figure>
              <img src="../../../assets/images/home/client3.png" width="103" height="105" alt="img">
              <div class="clients">
                <div class="tbl">
                  <div class="tbl-cell">

                    <h4>Silver <br> Partner</h4>
                    <small>15-49 Clients</small>
                  </div>
                </div>
              </div>
            </figure>
          </a>
        </li>


        <li class="col-sm-3 col-xs-6"><a href="#">
            <figure>
              <img src="../../../assets/images/home/client4.png" width="103" height="105" alt="img">
              <div class="clients">
                <div class="tbl">
                  <div class="tbl-cell">

                    <h4>Gold <br> Partner</h4>
                    <small>50+ Clients</small>
                  </div>
                </div>
              </div>
            </figure>
          </a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="hr-roles">
  <div class="container">
    <div class="row">
      <div class="hr-roles-in">

        <ul>
          <li>
            <div class="roles-cont">
              <ul>
                <li class="btm-border">
                  <h3>Free Software</h3>
                </li>
                <!-- <li>
                  <p>Free ZenworkHR Payroll for your firm</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li> -->
                <!-- <li>
                  <p>Free ZenworkHR Complete HR tools for your firm</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li> -->
                <li class="btm-border">
                  <p>Lifetime Free for your Clients of 1-3 Employees</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </li>


          <li>
            <div class="roles-cont">
              <ul>
                <li class="btm-border">
                  <h2>Service</h2>
                </li>
                <!-- <li>collateral -->
                <li>
                  <p>Free migrations to move clients to Zenwork HR</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li class="btm-border">
                  <p>VIP Care for your Firm</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </li>


          <li>
            <div class="roles-cont">
              <ul>
                <li class="btm-border">
                  <h2>Marketing tools</h2>
                </li>
                <li>
                  <p>Co-branded dashboards and referral tools</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <p>Flexible payment options for you and your clients</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <p>Free Zenwork HR marketing collateral for your firm and clients</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <p>Zenwork HR partner badges to add to your your website</p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <p>Listing in Zenwork HR's <small> Partner Directory</small></p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
                <li class="btm-border">
                  <p>Featured profile in Zenwork HR's <small> Partner Directory</small></p>
                  <span><i class="material-icons">done</i></span><span><i class="material-icons">done</i></span>
                  <span><i class="material-icons">done</i></span><span class="greens"><i
                      class="material-icons">done</i></span>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </li>


          <li>
            <div class="roles-cont">
              <ul>
                <li class="btm-border">
                  <h2>Financial Incentives</h2>
                </li>
                <li class="discount">
                  <p>Discounts to pass along or keep as revenue share</p>
                  <span>0%</span><span>10%</span>
                  <span>15%</span><span>20%</span>
                  <div class="clearfix"></div>
                </li>

              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>


<section class="zenwork-pricing text-center pad-tb-20 partner-price">
  <h2 class="clr-blue mar-0">Zenwork HR Pricing</h2>


  <ul class=" slider list-inline">
    <li>
      <p [ngClass]="{'time-brdr-bottem': !toggleValue}" class="clr-blue">Monthly Pricing</p>
    </li>
    <li>
      <mat-slide-toggle (change)="packCalculation($event)"></mat-slide-toggle>
    </li>
    <li class="save-tag">
      <p [ngClass]="{'time-brdr-bottem': toggleValue}" class="clr-blue">Annual Pricing</p>
      <!-- <img src="/assets/images/pricing/save.png" width="168" height="35"> -->
    </li>
  </ul>
</section>


<section>
  <div class="pricing-types pad-tb-60 text-center">
    <ul class="list-inline">
      <li class="type pos-relative">
        <img class="pos-relative" src="/assets/images/pricing/pricing1.jpg" width="305" height="auto">
        <div class="pos-absolute">
          <h3 class="text-upper pad-btm-20">Core</h3>
          <div class="pad-btm-20">
            <img src="/assets/images/pricing/core.png" width="64" height="56">
          </div>

          <p class="pad-btm-20">All the Essentials for Onboarding Employees and Managing HR.</p>
          <p class="">$39 base fee per month</p>
          <span>+</span>
          <p *ngIf="!toggleValue" class="dashed-border pad-btm-20">$6 per employee per month.</p>
          <p *ngIf="toggleValue" class="dashed-border pad-btm-20">$5 per employee per month.</p>


          <ul class="pad-tb-20">
            <li>
              <h5>HR System</h5>
            </li>
            <li>
              <h5>Employee Self Service</h5>
            </li>
            <li>
              <h5>Business Intelligence</h5>
            </li>
            <li>
              <h5>Benefits</h5>
            </li>
            <li>
              <h5>Time Off</h5>
            </li>
            <li>
              <h5>Theme Settings</h5>
            </li>
            <li>
              <h5>Support</h5>
            </li>
            <li>
              <h5>Training</h5>
            </li>
          </ul>
          <div class="pad-tb-20 pricing-dollar">
            <p *ngIf="!toggleValue"> $6</p>
            <p *ngIf="toggleValue"> $5</p>
          </div>
          <div class="pad-tb-20">
            <a class="get-started-btn cursor clr-blue" routerLink="/sign-up">Get Started</a>
          </div>
          <div class="btm-tag pos-absolute">
            <p>LIFETIME FREE FOR 1-3 EMPLOYEES</p>
          </div>
        </div>

      </li>
      <li class="type mar-lr-10 pos-relative margin-lft-85">
        <img class="pos-relative" src="/assets/images/pricing/pricing2.jpg" width="305" height="auto">
        <div class="pos-absolute ">
          <div class="top-tag pos-absolute">
            <p class="green recommended">RECOMMENDED</p>
          </div>
          <h3 class="text-upper pad-btm-20 middle">PREMIUM</h3>
          <div class="pad-btm-20">
            <img src="/assets/images/pricing/premium.png" width="52" height="73">
          </div>

          <p class="pad-btm-20">Expanded Compliance and HR for
            Growing Companies.</p>
          <p class="">$39 base fee per month</p>
          <span>+</span>
          <p *ngIf="!toggleValue" class="dashed-border pad-btm-20">$12 per employee per month.</p>
          <p *ngIf="toggleValue" class="dashed-border pad-btm-20">$10 per employee per month.</p>

          <ul class="pad-tb-20" style="padding: 0 0 0 0;">
            <li>
              <h5>HR System</h5>
            </li>
            <li>
              <h5>Employee Self Service</h5>
            </li>
            <li>
              <h5>Business Intelligence</h5>
            </li>
            <li>
              <h5>Benefits</h5>
            </li>
            <li>
              <h5>Time Off</h5>
            </li>
            <li>
              <h5>Theme Settings</h5>
            </li>
            <li>
              <h5>Support</h5>
            </li>
            <li>
              <h5>Training</h5>
            </li>
            <li>
              <h5>Compliance Training and Assistance</h5>
            </li>
            <li>
              <h5>ACA Compliance & Reporting</h5>
            </li>
            <li>
              <h5>Recruitment</h5>
            </li>
            <li>
              <h5>On Boarding and Off Boarding</h5>
            </li>
            <li>
              <h5>Integrations and API</h5>
            </li>
            <li>
              <h5>Surveys</h5>
            </li>
            <li>
              <h5>Audit Trail</h5>
            </li>
          </ul>

          <div class="pricing-dollar">
            <p *ngIf="!toggleValue"> $12</p>
            <p *ngIf="toggleValue"> $10</p>
          </div>
          <div class="pad-tb-20">
            <a class="get-started-btn cursor clr-blue" routerLink="/sign-up">Get Started</a>
          </div>

        </div>
      </li>
      <li class="type  pos-relative">
        <img class="pos-relative" src="/assets/images/pricing/pricing3.jpg" width="305" height="auto">
        <div class="pos-absolute">
          <h3 class="text-upper pad-btm-20">ADD-ON</h3>
          <div class="pad-btm-20">
            <img src="/assets/images/pricing/addon.png" height="56">
          </div>

          <p class="pad-btm-20">Add-on available only
            with Premium.</p>
          <p class="dashed-border pad-btm-20">Add-on charged per employee <br>
            per month.</p>

          <ul class="pad-tb-20">
            <li>
              <h5>Time Tracking</h5>
              <h4>$4</h4>
            </li>
            <li>
              <h5>Time and Attendance Hardware
                Integration</h5>
              <h4>$4</h4>
            </li>
            <li>
              <h5>Performance Management</h5>
              <h4>$3</h4>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>




<div class="employees">
  <div class="container">
    <div class="row">
      <div class="employees-lft pull-left">
        <figure>
          <div class="employee-bg">
            <img src="../../../assets/images/home/employee-bg.png" width="806" height="1160" alt="img">
            <span><img src="../../../assets/images/home/employee-lady.png" width="288" height="270" alt="img"></span>
            <div class="employee-cont">
              <p>Moving to Zenwork HR has made us wonder how <br>
                we survived before it happened, the product is <br>
                comprehensive, built with great a en on to <br>
                detail and is highly differen ated from most other <br>
                HRIS Products in the market.</p>
              <div class="employee-right">
                <h3>Business Analyst</h3>
                <em>Sarah-Crisp</em>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="employees-rgt col-sm-7 pull-right">
        <h2>Employees love the Zenwork HR experience</h2>
        <small>Enterprises across sectors use Zenwork HR to manage their Human Capital.</small>
        <figure><img src="../../../assets/images/home/employee.jpg" width="727" height="621" alt="img"></figure>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>