
.partner.banner { height:800px;}
.partner .banner-rgt { position: absolute; top: 0; right:0; z-index: -9;}
.partner .banner-rgt figure { position: relative; }
.partner .banner-rgt figure img { width: 100%; height: auto;}
.partner .banner-rgt figure span { position: absolute; top:30%; right:10%; width: 60%;}



.banner-lft ul { margin: 0 0 50px;}
.banner-lft ul li { width: 50%; margin: 0 0 20px;}
.banner-lft ul li .form-group{ margin-bottom: 20px;background-color:#f8f8f8; border-radius: 4px; margin-bottom: 0;}
.banner-lft ul li em { float: left; width:38px; padding: 4px 0 10px 10px; border-right: #c7c7c7 1px solid; margin: 6px 0; height: 30px;}
.banner-lft ul li .form-control { background-color:transparent; border: none; box-shadow:none; height: auto; padding: 11px 12px; width: 87%; float: left;}
.banner-lft ul li .form-control:focus { border:none; box-shadow: none;}
.banner-lft .btn { color:#000; padding: 10px 35px; border-radius: 30px;font-size: 15px;background: #fec550; margin: 0 0 20px;}

.partner .banner-lft small { margin: 0 0 60px;}

.rewards { text-align: center; padding: 100px 50px 50px; position: relative;}
.rewards h2 { color: #658fa8; font-size: 30px; line-height:30px; margin: 0 0 30px;}
.rewards p { display: block; font-size: 18px; line-height: 28px;color: #5f5f5f; margin: 0; }
.rewards figure { position: absolute; top: 0; left: 0; z-index: -9;}
.rewards figure img { width: 100%; height: auto;}

.rewards ul { margin:130px 0 0;}
.rewards ul li { padding: 0;}
.rewards ul li a { display: inline-block;}
.rewards ul li a figure { display:block; position: relative; width: auto;}
.rewards ul li a figure img { display:block;}
.clients { position: absolute; top:0; left: 0; right: 0; margin: 0 auto; height:100%;}
.clients h4{ color:#fff; display: block; font-size: 16px; line-height:20px; font-weight: 500; margin: 0;}
.clients small{ color:#fff;font-size: 12px; line-height: 12px;}
.clients .tbl-cell { width: 100%; height:100%;}


.hr-roles { padding: 0 0 70px;}

.hr-roles-in { background:#fff; box-shadow: 0 0 10px #efefef;}
.hr-roles-in ul { display:block;}
.hr-roles-in ul li { display:block;}
.roles-cont > ul { display:block;}
.roles-cont > ul > li {border-bottom:#f0f6f7 2px solid;}
.roles-cont > ul > li.btm-border { border: none; margin-bottom: 0;}
.roles-cont > ul > li h3 { color:#fff; background: #658da2; font-size: 18px; line-height: 18px; padding:35px 0 35px 40px;
border-radius: 5px 5px 0 0; font-weight: 600;margin: 0;}
.roles-cont > ul > li p { color:#656464;font-size: 18px; line-height: 18px; float: left; width: 50%; margin: 0; padding:20px 0 20px 45px;}
.roles-cont > ul > li p small{ display: inline-block; color: #166dc5;}
.roles-cont > ul > li span { float: left; width: 12%; text-align: center; padding:12px 0 0;}
.roles-cont > ul > li span.greens i.material-icons { color:#5ddb96;}
.roles-cont > ul > li h2 { color:#fff; background: #658da2; font-size: 18px; line-height: 18px; padding:35px 0 35px 40px;font-weight: 600; margin: 0;}

.roles-cont > ul > li span i.material-icons { color: #71b2d2;font-weight: bold; font-size: 30px;line-height: 35px;}
.roles-cont > ul > li.discount { background: #507382;}
.roles-cont > ul > li.discount p { color: #fff;}
.roles-cont > ul > li.discount span { color: #fff; padding:20px 0 0;}


.pad-tb-60 {
    padding:60px 0; 
}
.list-inline>li{ vertical-align: middle;}
.partner-price h2 { margin: 0 0 60px;}
.partner-price-type { margin: 60px 0 0;}
.time-brdr-bottem{
    border-bottom: 2px solid #ffc550 !important;
    padding: 0px 0 3px 0;
}
.margin-lft-85{
    margin: 70px 0 0 85px;
}
