.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 14px!important;   
}
.mr-7{
    margin-right: 7px;
}
.main-terminarion{
    float: none;
    margin: 0 auto;
    padding: 0;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}
a{
    color:#000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.add-template-main{
    width:100%;
    border-bottom: 1px solid #eeeeee;

}
.add-template{
    width:20%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.add-template .btn-employee{
        background-color: #439348 !important;
        font-size: 12px;
        padding: 3px 12px !important;
    cursor: auto;
}
.add-template .btn-employee{
    background-color: #439348 !important;
    font-size: 12px;
    padding: 3px 12px !important;
}
.add-fields{
    width:80%;
    float: right;
    margin-top:20px;

}
.add-buttons{
    display: inline-block;
    float: right;
}
.list-buttons{
    display: inline-block;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 600;
}
.plus-icon{
    color:#439348 !important;
}
.main-onboarding .panel-font{
    color:#439348 !important;
    font-weight: 600;
    margin-top: 5px;
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.settings-dropdown{
    float:right;
}
.main-onboarding .panel-heading .btn{
    padding:2px 6px!important;
    border-radius: 0!important;
}
.caret{
    margin-bottom: 5px!important;
}
.task-details .taskname{
    width: 90%;
    height: 30px;
    padding-left: 10px;
    font-size: 12px;
    border: 0;
    background: #f8f8f8;
    color: #c1c1c1;
}
.zenwork-margin-top20{
    margin-top: 20px;
}
select{
    height: 30px;
}
label{
    font-weight: normal;
    font-size: 12px;
  

}
.zenwork-structure-settings{
    border-radius: 0px!important;
    height:30px;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
    color: #c1c1c1;
}
.assign-items .list-items{
    width: 40%;
    display: inline-block;
    padding: 0px 10px;
    height: 30px;
}
.assign-items .duedate{
    height: 30px;
    width:70%;
    border: 0;
    color: #c1c1c1;
    background: #f8f8f8;
}
.calendar-icon{
    position: absolute;
    width: 15px;
    top: 7px;
    right: 34%;
}
.text-area{
    width: 90%;
}
textarea{
    resize: none;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}

.category select{
    font-size: 12px;
    width: 20%;
}
.add-task-btns .list-items{
    display: inline-block;
    padding: 0px 10px;

}
.add-task{
    padding-left:0px!important;
}
.add-task-btns{
    padding-top: 10px;
}
.add-task-btns .btn{
  
    height: 25px;
    font-size: 12px;
    padding: 4px 12px !important;
}
.add-btn{
    cursor: auto;
    background-color: #439348 !important;
}
.add-task-setting-btns .task-btns{
    font-size: 12px;
    margin: 0px 6px
}
.panel-body{
    padding:15px 15px 0px 15px !important;
}
.attach-file-btn{
    
    padding: 5px 10px;
    font-size: 12px;
    border-color: #439348;
    text-align: left;
    width: 191px;
    background: url("/assets/images/Ofboarding/ic_attachment_24px.png") no-repeat #439348;
}
small{
    font-size: 9px;
    color:#3e3e3ea3;
}
.hr-tasks{
    font-size: 13px;
    font-weight: 600;
}
.individual-hr-task{
    font-size:12px;
}
.margin-top-zero{
    margin-top:0px!important;
}
.padding-top-remove{
    padding-top:0px!important;
}
/* team-text-card */
.team-introdution-card{
    background-color: #fcfcfc;
    /* border: 1px solid #eee; */
    border-radius: 2px;
    padding: 10px;
}
.cancel-task .btn{
    cursor: auto;
}
.margin-zero{
    margin:0px!important;
}
.team-introdution-card .padding-top-remove small{
    /* padding-left:25px;  */
}


.card-intro{
    font-size: 11px;
    padding-left: 30px;
}
.team-introdution-card .individual-hr-task{
    font-weight: 600;
    color: #439348;
}


  .checkbox {
    padding-left: 20px;
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
 
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .emp-image{
    padding-top: 0;
    width: 43px;
    display: inline-block;
    vertical-align: middle;
  }
  .employee-details{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
  }
  .employee-image-info{
    padding-left: 20px;
  }
  .emp-name{
    font-size: 11px;
    padding-left: 0;
    display: block;
    line-height: 11px;
  }
  .borderright{
      border-right: 1px solid #eee;
  }
  .team-text-area{
    margin-top:10px;
  }
  textarea{
      resize: none;
  }
  
  .btn-color{
    border: 1px solid #EF8086;
    color: #ef8086;
    cursor: auto;
  }
  .margin-zero{
      margin: 0px!important;
  }