<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management/off-boarding-landing/off-boarding-landing']">
      <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back
      </button>
    </a>
    <span class="inner-icon-img">
      <img src="../../../assets/images/Offboarding/Group 831.png" class="zenwork-inner-icon" alt="Company-settings icon">
    </span>
    <small class="sub-title">
      <b>Offboarding</b>
    </small>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>
<div class="col-md-11 main-terminarion col-md-11">
  <div class="add-template-main">
    <!-- <div class="add-template">
    <button class="btn btn-success btn-employee">- Terminate Employee </button>
  </div> -->
    <div class="add-fields">
      <ul class="add-buttons list-unstyled">
        <li class="list-buttons">
          <span class="plus-icon">+</span>
          Add task</li>
        <li class="list-buttons">
          <span class="plus-icon">+</span>
          Add Category</li>
        <li class="list-buttons">
          <span class="plus-icon">+</span>
          Add Template</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="main-onboarding">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title panel-font pull-left">Offboarding Tasks</h3>
        <button class="btn btn-default dropdown-toggle settings-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;
          <span class="caret"></span>
        </button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body task-details">
        <div class="col-xs-12 zenwork-margin-top20">
          <div class='row'>
            <div class="col-xs-6">
              <div class="row">
                <input type="text" class="taskname" name="taskName" placeholder="Task Name*">

              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <ul class="list-unstyled assign-items">
                  <li class="list-items">
                    <select class="form-control zenwork-structure-settings">
                      <option>Auto</option>
                      <option>Manual</option>
                    </select>
                  </li>
                  <li class="list-items">
                    <input class="form-control" #dpMDY="bsDatepicker" bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                      placeholder="Due Date" name="birth-date" class="duedate">
                  </li>
                  <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon" alt="Company-settings icon" (click)="dpMDY.toggle()"
                    [attr.aria-expanded]="dpMDY.isOpen">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area zenwork-margin-ten-zero">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-6">
                <div class="row">
                  <div class="form-group">
                    <textarea class="form-control rounded-0" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-xs-6"></div>
            </div>
          </div>

        </div>
        <div class="category">
          <select class="form-control zenwork-structure-settings">
            <option>Category(Optional)</option>
            <option>category</option>
          </select>
        </div>
        <div class="category zenwork-margin-ten-zero">
          <label>Attach File (s)</label>
          <br>
          <!-- <select class="form-control zenwork-structure-settings">
          <option>Add Company Files</option>
          <option>category</option>
        </select> -->
          <button class="btn btn-success attach-file-btn">Add Company Files</button>
        </div>
        <div class="add-task-btns zenwork-margin-ten-zero">
          <ul class="list-unstyled">
            <li class="list-items add-task">
              <button class="btn btn-success add-btn">Add a Task</button>
            </li>
            <li class="list-items cancel-task">
              <button class="btn">Cancel</button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="main-onboarding">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title panel-font pull-left">Offboarding Tasks</h3>
        <div class="settings-dropdown add-task-setting-btns">
          <button class="btn btn-default task-btns" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            + Add Tasks
          </button>
          <button class="btn btn-default task-btns dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;
            <span class="caret"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <p class="hr-tasks green">HR Tasks</p>
        <p class="individual-hr-task">New Hire Orientation
          <br>
          <small>jennifer Caldwell-Jul 25,2018</small>
        </p>
      </div>
      <hr class="zenwork-margin-ten-zero margin-top-zero">
      <div class="panel-body padding-top-remove">
        <p class="individual-hr-task">Collect Employee ID Badge
          <br>
          <small>Shannon Anderson -Jul 25,2018</small>
        </p>
      </div>
      <hr class="zenwork-margin-ten-zero margin-top-zero">
      <div class="panel-body padding-top-remove">
        <p class="individual-hr-task">Check Vacation Payout/Accural
          <br>
          <small>Shannon Anderson -Jul 25,2018</small>
        </p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-body">
        <p class="hr-tasks green">IT Setup</p>
        <p class="individual-hr-task">Disable Email Access
          <br>
          <small>Eric Pasture - Jul 25,2018</small>
        </p>
      </div>
      <hr class="zenwork-margin-ten-zero margin-top-zero">
      <div class="panel-body padding-top-remove">
        <p class="individual-hr-task">Disable Access to Internal System & Shared Drive
          <br>
          <small>Ashley Adams -Jul 25,2018</small>
        </p>
      </div>
      <hr class="zenwork-margin-ten-zero margin-top-zero">
      <div class="panel-body padding-top-remove">
        <p class="individual-hr-task">Disable Access to Other Software Systems
          <br>
          <small>Ashley Adams -Jul 25,2018</small>
        </p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-body">
        <p class="hr-tasks green">Manager Tasks</p>
        <p class="individual-hr-task">Collect Company Assets
          <br>
          <small>Eric Pasture - Jul 25,2018</small>
        </p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="team-introdution-card">
        <div class="panel-body padding-top-remove">
          <div class="checkbox checkbox-success">
            <input id="checkbox3" type="checkbox" class="team-checkbox">
            <label for="checkbox3">
              <span class="individual-hr-task ">Collect Company Assets </span>
              <br>
              <small>Ashley Adams -Jul 25,2018</small>
            </label>
          </div>

        </div>
        <hr class="zenwork-margin-ten-zero">
        <p class="card-intro">
          please introduce the new hire to the team lead,and instruct the team lead to introduce the new hire to other individuals
          the new hire to other individuals with inthe organization
          <br> that will have a key role in their job responsibilities
        </p>
        <hr class="zenwork-margin-ten-zero margin-top-zero">
        <div class="employee-image-info">
          <img src="../../../assets/images/Onboarding/empoyee_2.png" alt="employee-icon" class="emp-image">
          <div class="employee-details borderright">
            <span class="emp-name">Crane Andy </span>

            <small class="emp-designation">Manager</small>
          </div>

          <div class="employee-details">
            <span class="emp-name ">Today</span>
            <small class="emp-designation">10:07 AM</small>
          </div>
        </div>
        <div class="team-text-area">
          <div class="form-group">
            <textarea class="form-control rounded-0" placeholder="Add a note..." rows="3"></textarea>

          </div>
        </div>
        <button class="btn zenwork-customized-back-btn pull-right btn-color">
          close

        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>