.zenwork-customized-template { padding: 0;}

.zenwork-create-client-wrapper .modal-header {
    padding: 0 0 24px 0;
    border-bottom: 1px solid #e5e5e5;
    height: 100vh;
}

.zenwork-custom-proceed-btn{
    background: green !important;
    border-color: transparent !important;
    border-radius: 25px !important;
    padding: 6px 25px;
}

.zenworkers-wrapper{
    background: #f8f8f8; margin:0 auto; float: none; padding: 0;height: 100vh;
}

.zenwork-margin-zero { font-size: 20px; line-height: 20px; vertical-align: middle; color:#008f3d;}
.zenwork-currentpage{
    padding:40px 0 0 0;
}
.zenwork-margin-ten-zero {
    margin:30px 0px!important;
}
.zenwork-currentpage small { display: inline-block; vertical-align:text-top; margin: 0 15px 0 0;}

.mr-7{
    margin-right: 7px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}

.search-border{
    border-radius: 3px;
    height: 25px;
    position: relative;
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 15px;
    width:22px;
    color:#9a9898;
    font-size: 13px; cursor: pointer;
}

.padding-left-zero{
    padding-left: 0 !important;
}

.zenwork-client-group-addon{
    background: #fff;
    border: 1px transparent;
    border-right: 1px solid #ccc;
}

.zenwork-customized-green-btn{
    background: #797d7b!important;
    color: #fff!important;
    padding:3px 35px!important;
    font-size:15px!important;
}
.zenwork-customized-green-btn small { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.zenwork-customized-green-btn small .fa { color:#fff; font-size: 15px;}

.zenwork-custom-select{
    background: #fff!important;
}

.border-none{
    border:0 none !important;
}

.box-shadow-none{
    box-shadow: none !important;
}

.zenwork-custom-progress-bar{
    width: 30% !important;
    height: 7px !important;
    margin-bottom: 0px !important;
    display: inline-block !important;
}

.client-details{
    font-size: 10px;
    /* float: none; */
    border-right: 1px solid gray;
}

.client-details-wrapper{
    background: #fff;
    padding: 20px 20px;
    position: relative;
}

.client-details-margin{
    margin: 6px 0px;
    display: inline-block;
    /* float: none; */
}
.menu-icon{
    font-size: 19px !important;
    cursor: pointer;
}
.menu-dropdown{
    background: #fff;
    border: none;
}
.menu-dropdown-list{
    right: 0px !important;
    left: auto;
}
.menu-dropdown-list>li>a:focus, .menu-dropdown-list>li>a:hover{
    background-color: #008f3d; 
    color: #fff;
}
.client-details .media-body ul li{
    display: inline-block;
}
.client-details .media-body ul{
    margin: 0;                                      
}
.client-details .media-body ul li .reseller-btn{
    background: #f3616c;
    width: 30px;
    padding: 5px 0px;
    display: inline-block;
    font-size: 15px;
    margin: 0px 10px 0 0;
    text-align: center;
}
.client-details .media-body ul li .direct-client-btn{
    background: #1aa4db;
    width: 30px;
    padding: 5px 0px;
    display: inline-block;
    font-size: 15px;
    margin: 0px 10px 0 0;
    text-align: center;
}
.client-details .media-body ul li .reseller-direct-client-btn{
    background: #fbd437;
    width: 30px;
    padding: 5px 0px;
    display: inline-block;
    font-size: 15px;
    margin: 0px 10px 0 0;
    text-align: center;
}
.right-divide{
    border-right: 1px solid gray;
    height: 5px;
}
.media-left{
    padding-right: 25px;
}


.zenwork-client-type-position-bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.zenwork-client-type-position-top{
    position: absolute;
    top: 10px;
    right: 10px;
}

.zenwork-client-action-button-position-middle{
    position: absolute;
    right: 10px;
    top: 38%;
}

.zenwork-client-detail-icon{
    width: 17px !important;
    height: auto;
    margin-right: 6px;
}

.client-type{
    padding: 10px 0px 0px 45px; 
    text-align: right;
}

.search-form .form-control {padding:12px 40px 12px 20px; height: auto;}

.media-heading  { font-size: 20px;margin-bottom: 10px;
    color: #676565;}
.media-body { vertical-align: top;}
.media-right { margin: 10px 0 0;}
.zenwork-client-type-position-top .btn, .zenwork-client-type-position-bottom .btn { color:#008f3d !important; font-size:17px;}
.client-details-margin span { font-size: 12px; display: inline-block; margin: 0 5px 0 0; color: #5a5959;}
.zenwork-custom-progress-bar .green { font-size:12px; display: inline-block;}
.client-details-margin small { font-size: 14px; display: inline-block; color: #797979; padding: 0 0 0 10px; vertical-align: middle;}
.client-details-margin em { font-style: normal; display: inline-block; color:#008f3d; font-size: 12px; margin: 0 0 0 6px;}

