<div class="zenworkers-wrapper col-md-11">
    <div class="zenwork-currentpage">
      <p class="zenwork-margin-zero">
        <small>
          <img src="../../../assets/images/Directory/ic_domain_24px.png" class="zenwork-inner-icon" alt="Company-settings icon">
        </small>
      {{resellerName}} Clients ({{zenworkClients}})
      </p>
      <hr class="zenwork-margin-ten-zero">
    </div>
  
    <div class="zenwork-clients-wrapper">
  
      <div class="col-xs-4 padding-left-zero">
        <div class="search-border text-left">
          <form [formGroup]="clientsSearch" class="search-form">
            <input type="text" class="border-none box-shadow-none form-control" formControlName="search" placeholder="Search by name,title, etc">
          </form>
          <span>
            <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
          </span>
        </div>
      </div>
  
      <div class="col-xs-7 pull-right">
        <span class="col-xs-3 client-type"></span>
        <div class="col-xs-6">
          <!-- <div class="input-group">
  
            <span class="input-group-addon zenwork-client-group-addon zenwork-input-group-addon">
              <img src="../../../assets/images/Directory/ic_domain_24px1.png" alt="First Name Icon" class="zenwork-demo-input-image-group zenwork-company-group">
            </span>
            <mat-select class="form-control zenwork-input zenwork-custom-select" placeholder="All Clients" [(ngModel)]="selectedClient"
              (ngModelChange)="filterForClient()">
              <mat-option value="all">
                All
              </mat-option>
              <mat-option value="company">
                Direct-client
              </mat-option>
              <mat-option value="reseller">
                Reseller
              </mat-option>
            </mat-select>
          </div> -->
        </div>
        <div class="col-xs-3">
          <a (click)="addclient()" mat-button class="btn zenwork-customized-green-btn">
            <small><i aria-hidden="true" class="fa fa-plus"></i></small> Add Client
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
  
      <div class="clearfix"></div>
      <hr class="zenwork-margin-ten-zero">
    </div>
    <div class="client-details-wrapper form-group" *ngFor="let company of companyDetails">
      <div class="client-details col-xs-4">
        <div class="media-body">
          <ul class="list-unstyled">
            <li *ngIf="company.type =='reseller'" class="list-items">
              <span class="reseller-btn">R</span>
            </li>
            <li *ngIf="company.type =='company'" class="list-items">
              <span class="direct-client-btn">DC</span>
            </li>
            <li *ngIf="company.type =='reseller-client'" class="list-items">
              <span class="reseller-direct-client-btn">RC</span>
            </li>
            <li class="list-items">
              <h4> {{company.companyId.name}} </h4>
            </li>
          </ul>
  
        </div>
      </div>
  
      <div class="client-details-margin col-xs-8">
        <span>Info</span>
        <div class="progress zenwork-custom-progress-bar">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width: 40%">
            <span class="sr-only"><em>40%</em> Completed</span>
          </div>
        </div>
        <span><em>40%</em> Completed</span>
        <span class="menu-icon pull-right">
  
          <div class="dropdown">
            <button class="menu-dropdown dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
  
            </button>
            <ul class="dropdown-menu menu-dropdown-list" aria-labelledby="dropdownMenu1">
              <!-- <li><a (click)="resellerDashboard(company._id,company.name)">view as Reseller Admin</a></li>
              <li><a>Billing History</a></li> -->
              <li><a (click)="editResellerClient(company,company.companyId._id)">Edit</a></li>
              <li><a>Archive</a></li>
            </ul>
          </div>
        </span>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <mat-paginator [length]="zenworkClients" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvents($event)">
    </mat-paginator>
  </div>
  
  
  <!-- <div class="client-details-wrapper form-group" *ngFor="let company of companyDetails">
      <div class="client-details">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="../../../assets/images/Directory/ic_domain_24px.png" alt="Company Logo">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{company.name}}
            </h4>
            <div>
              <small>
                {{company.city}}
              </small>
            </div>
            <div class="client-details-margin">
              <span>Info</span>
              <div class="progress zenwork-custom-progress-bar">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100" style="width: 40%">
                  <span class="sr-only"><em>40%</em> Completed</span>
                </div>
              </div>
              <span><em>40%</em> Completed</span>
            </div>
            <div class="client-details-margin">
              <img src="../../../assets/images/Side Menu  - Sick/ic_email_24px.png" class="zenwork-inner-icon zenwork-client-detail-icon"
                alt="Company-settings icon"> <small> {{company.email}}</small>
            </div>
            <div class="client-details-margin">
              <img src="../../../assets/images/Side Menu  - Sick/ic_domain_24px.png" class="zenwork-inner-icon zenwork-client-detail-icon"
                alt="Company-settings icon"> <small>{{company.primaryContact.phone}}
                Extn-{{company.primaryContact.extention}}</small>
            </div>
            <div class="client-details-margin">
              <img src="../../../assets/images/Side Menu  - Sick/ic_smartphone_24px.png" class="zenwork-inner-icon zenwork-client-detail-icon"
                alt="Company-settings icon"> <small> {{company.billingContact.phone || "NA"}}
                Extn-{{company.billingContact .extention || "NA"}}</small>
            </div>
          </div>
          <div class="media-right">
            <div class="zenwork-client-type-position-top">
              <button class="btn zenwork-customized-transparent-btn green">
                View as Reseller Admin
              </button>
            </div>
            <div class="clearfix"></div>
            <div class="zenwork-client-action-button-position-middle">
              <a href="javascript:void(0)" class="btn zenwork-customized-transparent-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </a>
              <button class="btn zenwork-customized-transparent-btn" (click)="editCompany(company)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn zenwork-customized-transparent-btn">
                <i class="fa fa-archive" aria-hidden="true"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <div class="zenwork-client-type-position-bottom">
              <button class="btn zenwork-customized-transparent-btn green">
                Client Type : {{company.type}}
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div> -->