.zenwork-compensation-tab{
    padding: 0 35px 0 0;
}
.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;
}
.main-head .list-items span{
    vertical-align: middle;
}
.zenwork-padding-20-zero{
    padding:10px !important;
}
.img-personal-icon{
    width: 25px;
}
/* tabel */
.custom-fields { display: block;}
.custom-fields .modal-header { width: 90%; margin:0 auto; padding:0 50px 10px; border-bottom: 1px solid #c5c3c3;}
.custom-fields .modal-title { color:#008f3d;}
.custom-fields .modal-dialog { width:70%;}
.custom-fields .modal-content { border: none; padding:30px 0 50px;}

.custom-tables { margin: 0 auto; float: none; padding: 0 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px;}
.custom-fields .checkbox{ margin: 0;}


.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:2px 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}

  .assets-table{
    padding: 0px 20px;
  }

  .zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
    .next-btn {
      background-color: #439348;
      border: 1px solid #439348;
      border-radius: 20px;
      color: #fff;
      padding: 0 30px;    
  }