<div class="zenwork-documents-tab" style="margin-left: 50px;">
  <!-- <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <img src="../../../assets/images/directory_tabs/Assets/assets.png" class="img-personal-icon" alt="documents-icon">
      </li>
      <li class="list-items">
        <span>Assets</span>
      </li>
    </ul>
  </div>
  <hr class="zenwork-margin-ten-zero"> -->
  <div class="assets-table">
    <div class="zenwork-padding-20-zero pull-left">
     <p style="font-size:17px;">Assets</p> 
    </div>
    <div class="clearfix"></div>
    <div class="custom-tables">
      <table class="table">
        <thead>
          <tr>
            <th>
            
            </th>
            <th>Asset category</th>
            <th>Asset description</th>
            <th>Serial #</th>
            <th>Date loaned</th>
            <th>Date returned</th>
            <th *ngIf="!assetsTabView">
              <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
              <mat-menu #menu="matMenu">
                <button *ngIf="!checkAssetIds.length >=1" mat-menu-item (click)="openDialog()">Add</button>
                <button *ngIf="(!checkAssetIds.length <=0) && (checkAssetIds.length ==1)" mat-menu-item (click)="editAsset()">Edit</button>
                <button *ngIf="(!checkAssetIds.length <=0) && (checkAssetIds.length >=1)" mat-menu-item (click)="deleteAssets()">Delete</button>
              </mat-menu>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let assets of allAssets">
            <td [ngClass]="{'zenwork-checked-border': assets.isChecked}">

                <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="assets.isChecked" (change)="checkedAssets($event, assets._id)">
                      
                </mat-checkbox>
            </td>
            <td>{{assets.category}}</td>
            <td>{{assets.description}}</td>
            <td>{{assets.serial_number}}</td>
            <td>{{assets.date_loaned | date : 'MM/dd/yyyy'}}</td>
            <td>{{assets.date_returned | date : 'MM/dd/yyyy'}}</td>
            <td></td>
          </tr>


      </table>
      <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
      </mat-paginator>
    </div>
  </div>
  <hr class="zenwork-margin-ten-zero">
  <div *ngIf="!assetsTabView" style="margin:20px 40px;">
  
      <button mat-button class="next-btn pull-right" (click)="nextTab()">Save Changes</button>
    <div class="clear-fix"></div>
    </div>
</div>