.personal-head{
    margin: 10px;
}
.main-head .list-items {
    display: inline-block;
    padding: 0px 5px;    
}
.zenwork-emergency-tab{
    padding: 0 30px 0 0;
}
.zenwork-padding-20-zero{
    padding:10px 0px!important;
}
.emergency-contact{
    margin: 20px 0;
}
.img-personal-icon{
    width: 15px;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.hire-wizard{
    width:100%;

}
.nav>li>a {
    padding: 5px 15px;
}
.nav-tabs>li{
    padding: 0px 10px;
}
.tradational-tab{
    padding: 0 0 0 10px;
}
.current-review-heading{
    margin: 30px 0 0 0;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    border-radius: 0px!important;
    color: #353131!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #fff;
}
.performance-score-table{
    background: #fff;
    margin: 30px 0;

}
.performance-icon{
    width: 60px;
    padding: 20px 0px;
}
.score-list .list-items{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle
}
.employee-score{
    font-size: 30px;
    font-weight: 700;
    color: #3bafba;
}
.individual-score{

}
.year-performance{
    font-size: 14px;
    color: #acb1ae;
}

.employee-details{
    margin:40px 0 0 0;
    /* border-bottom: 1px solid #e4eae7; */
    padding: 0px 0 20px;
}
.total-employee{
    margin: 0 auto;
}
.previous-score-list{
    margin: 0;
    background: #fff;
}
.previous-score-list .list-items{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle
}
.previous-tabs{

}
.previous-tabs li a{
    /* border-top: 4px solid #439348!important; */
    padding: 5px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    position: relative;
    
}

.previous-tabs li{
   margin: 0 0 0 25px;
    width: 13%;
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
.previous-tabs .active{
    border: 1px solid transparent!important;
    border-top: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;

}
.link-heading{
    padding: 0 0 0 25px;
}
.search-border{
    border : 1px solid #c4cbd1;
    border-radius: 25px;
    /* height: 25px; */
}
.search-border .form-control{
    height:25px;
    box-shadow: none;
    padding: 6px 60px 6px 15px;
   
}
.links-heading{
    background: #edf7fe;
    padding: 5px 0px;
}
.border-none{
    border: none;
    background: transparent;
}
.find-links{
    margin: 0;
}


.find-links .list-items{
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    float: none;

}
.add-link{
    margin: 5px 15px 0 0;
}
.table-body{
    background: #fff;
    padding: 10px;
    color: #bbb7b7;
    font-size: 12px;
}
label{
    font-weight: normal;
    line-height: 30px;
    font-size: 12px;
   margin: 0 0 0 2px;
}
input{
    height:30px;
    border:0;
    box-shadow: none;
    font-size: 12px;
 
}
select{
    height:30px;
    font-size: 12px;
}
.modern-list li{
    padding: 0 0 15px 25px;
}
.review-custom-width{
    width: 30%;
    border: none;
    box-shadow: none;
}
.date-input{
    width: 100%;
    border: none;
    box-shadow: none;
}
.finishing{
    position: relative;
    display: inline-block;
    width: 30%;
}
.calendar-icon{
    position: absolute;
    top: 7px;
    right: 6px;
    width: 17px;

}
.save-changes{
    padding: 0 0 0 15px;
}

.submit-buttons .btn-success {
    background-color: #439348;
}
.submit-buttons  .list-item{
    display: inline-block;
    padding: 0px 10px;
}
.margin-top{
    margin-top: 40px;
}
.btn-style{
    padding: 2px 12px!important;
    border-radius: 30px!important;
    font-size: 12px;
}
.zenwork-emergency-tab { float:none; margin: 0 auto; padding: 0;}