<div class="zenwork-emergency-tab col-md-11">
  <div class="personal-head">
    <ul class="list-unstyled main-head">
      <li class="list-items">
        <img src="../../../assets/images/directory_tabs/Performance/icon-1.png" class="img-personal-icon" alt="personal-icon">
      </li>
      <li class="list-items">
        <span>Performance</span>
      </li>
    </ul>
  </div>
  <hr class="zenwork-margin-ten-zero">
  <div class="Performance-tabs">
    <div class="hire-wizard pull-left">
      <ul class="nav nav-tabs onboarding-tabs">
        <li class="active"><a data-toggle="tab" href="#tradational">Tradational</a></li>
        <li><a data-toggle="tab" href="#thirdparty">3rd Party</a></li>
        <li><a data-toggle="tab" href="#modern">Modern</a></li>
      </ul>
      <div class="tab-content">
        <div id="tradational" class="tab-pane fade in active tradational-tab">
          <div class="current-review-heading">
            <span class="green">Current Review Score</span>
            <span class="caret"></span>
            <div class="performance-score-table text-center">
              <ul class="list-unstyled score-list">
                <li class="list-items">
                  <img src="../../../assets/images/directory_tabs/Performance/icon.png" class="performance-icon" alt="score-icon">
                </li>
                <li class="list-items">
                  <h4 class="employee-score">
                    4.6
                  </h4>
                  <small class="year-performance">2018 Performance Score</small>
                </li>
              </ul>
            </div>
            <hr class="zenwork-margin-ten-zero">
          </div>
          <div class="current-review-heading">
            <span class="green">Previous Review Score</span>
            <span class="caret"></span>
            <div class="employee-details">

              <div class="tab-content">

                <div id="total" class="tab-pane fade in active text-center content-of-employee">
                  <div class="text-center">
                    <ul class="list-unstyled previous-score-list">
                      <li class="list-items">
                        <img src="../../../assets/images/directory_tabs/Performance/icon.png" class="performance-icon"
                          alt="score-icon">
                      </li>
                      <li class="list-items">
                        <h4 class="employee-score">
                          4.6
                        </h4>
                        <small class="year-performance">2018 Performance Score</small>
                      </li>
                    </ul>
                  </div>

                </div>

                <div id="employeeStatus" class="tab-pane fade">

                </div>
                <div id="location" class="tab-pane fade">

                </div>
                <div id="employeeType" class="tab-pane fade">
                </div>
                <div id="department" class="tab-pane fade">

                </div>
              </div>

              <ul class="previous-tabs">
                <li class="active"><a data-toggle="tab" href="#total">2017</a></li>
                <li><a data-toggle="tab" href="#employeeStatus">2016</a></li>
                <li><a data-toggle="tab" href="#location">2015</a></li>
                <li><a data-toggle="tab" href="#employeeType">2014</a></li>
                <li><a data-toggle="tab" href="#department">2013</a></li>
                <li><a data-toggle="tab" href="#department">2012</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div id="thirdparty" class="tab-pane fade">
          <div class="current-review-heading">
            <span class="green link-heading">Links</span>
            <span class="caret"></span>
            <div class="links-table">
              <div class="links-heading">
                <ul class="list-unstyled find-links pull-left col-md-6">
                  <li class="list-items col-md-2">
                    Find Links
                  </li>
                  <li class="list-items search-bar col-md-6">
                    <div class="search-border">
                      <input type="text" class="border-none form-control" placeholder="Search">
                    </div>
                  </li>
                </ul>
                <span class="pull-right add-link">
                  <small class="green"> +</small> Add Link
                </span>
                <span class="clearfix"></span>
              </div>
              <div class="table-body">
                <span>No Link Information entries have been added.</span>
              </div>
            </div>
          </div>

        </div>
        <div id="modern" class="tab-pane fade">
          <div class="current-review-heading">
            <span class="green link-heading">Reviews</span>
            <span class="caret"></span>
            <div class="add-contact-list">

              <ul class="list-unstyled modern-list">
                <li class="list-items col-xs-7">
                  <label>How do you feel this week</label><br>
                  <select class="form-control review-custom-width" placeholder="country">
                    <option>United States</option>
                    <option>India</option>
                  </select>
                </li>
                <li class="list-items col-xs-7">
                  <label>What did you work on?</label><br>
                  <input type="text" class="form-control" placeholder="Text message">
                </li>

                <li class="list-items col-xs-7 birth-date">
                  <label>How close are you finishing?</label><br>
                  <div class="finishing">
                    <input class="form-control date-input"  #dpMDY="bsDatepicker"
                      bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                      placeholder="mm/dd/yyyy" name="birth-date">
                    <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon" alt="Company-settings icon"
                      (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">
                  </div>
                </li>
                <li class="list-items col-xs-7">
                  <label>Do you need support</label><br>
                  <select class="form-control review-custom-width" placeholder="country">
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </li>
                <li class="list-items col-xs-7">
                  <label>What was the most </label><br>
                  <input type="text" class="form-control" placeholder="text field">
                </li>
                <li class="list-items col-xs-7">
                  <label>What was the most rewarding assignment you faced this week?</label><br>
                  <input type="text" class="form-control" placeholder="text field">
                </li>
                <li class="list-items col-xs-7">
                  <label>What would you like learn more about at the position / company?</label><br>
                  <input type="text" class="form-control" placeholder="text field">
                </li>
                <li class="list-items col-xs-7">
                    <label>What would you like to see changed at the position / company?</label><br>
                    <input type="text" class="form-control" placeholder="text field">
                  </li>
                  <li class="list-items col-xs-7">
                      <label>NPS score</label><br>
                      <select class="form-control review-custom-width" placeholder="country">
                        <option>09</option>
                        <option>08</option>
                      </select>
                    </li>
              </ul>
             
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="save-changes">
              <div class="margin-top">
                <ul class="submit-buttons list-unstyled">
                  <li class="list-item">
                    <button class="btn btn-success btn-style"> Save Changes</button>
                  </li>
                  <li class="list-item">
                    <button class="btn btn-style"> cancel </button>
                  </li>
                </ul>
              </div>
            </div>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
 
</div>