<div class="">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a [routerLink]="['/admin/admin-dashboard/employee-management']">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Directory/Group 2202.png" class="zenwork-inner-icon"
          alt="Company-settings icon">
      </span>
      <small class="sub-title">
        <b>

          Directory


        </b>
      </small>
    </p>
    <hr class="zenwork-margin-ten-zero zenwork-border-bottom">
  </div>
  <div class="col-md-11 main-directory-tab">
    <div class="add-employee">
      <button class="btn btn-success btn-employee" (click)="openModalWithClass(template)">Demographic Mass Update &nbsp;
        <i class="fa fa-globe globe-icon" aria-hidden="true"></i>
      </button>
      <button class="btn btn-success btn-employee pull-right" (click)="openDialog()">Directory Settings</button>
      <div class="clearfix"></div>
      <ng-template #template>
        <div class="modal-header modal-margintop">
          <h4 class="modal-title pull-left green">
            <b>Demographic Mass Update</b>
          </h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="tabbable tabs-left">
                <ul class="nav nav-tabs col-md-3">
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'updateBenefits' }">
                    <a href="#updateBenefits" data-toggle="tab" (click)="chooseFieldss('updateBenefits')">Update
                      Benefits?
                      <span [ngClass]="{'caret': selectedNav == 'updateBenefits' }"></span>
                    </a>
                  </li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseFields' }">
                    <a href="#chooseFields" data-toggle="tab" (click)="chooseFieldss('chooseFields')">Choose Fields
                      <span [ngClass]="{'caret': selectedNav == 'chooseFields' }"></span>
                    </a>
                  </li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'addEditDelete' }">
                    <a href="#addEditDelete" data-toggle="tab" (click)="chooseFieldss('addEditDelete')">Add/Edit/Delete
                      <span [ngClass]="{'caret': selectedNav == 'addEditDelete' }"></span>
                    </a>
                  </li>
                  <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'summaryReview' }">
                    <a href="#summaryReview" data-toggle="tab" (click)="chooseFieldss('summaryReview')">Summary/Review
                      <span [ngClass]="{'caret': selectedNav == 'summaryReview' }"></span>
                    </a>
                  </li>
                </ul>
                <div class="tab-content col-md-9">
                  <div class="tab-pane active" id="updateBenefits">
                    <div class="main-customizeform">
                      <ul class="list-unstyled question-list">
                        <li class="list-items">
                          <label>Make Eligible for Benefits?</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </li>
                        <li class="list-items">
                          <label>Select type</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Benefits</option>
                            <option>Demographic</option>
                          </select>
                        </li>
                      </ul>
                      <div class="margin-top">
                        <ul class="submit-buttons list-unstyled">
                          <li class="list-item">
                            <button class="btn btn-success btn-style"> Proceed </button>
                          </li>
                          <li class="list-item">
                            <button class="btn btn-style" (click)="modalRef.hide()"> Cancel </button>
                          </li>
                        </ul>

                      </div>

                    </div>
                  </div>
                  <div class="tab-pane" id="chooseFields">
                    <div class="main-customizeform-benefits">
                      <label class="green">Benefits</label>&nbsp;
                      <span class="glyphicon glyphicon-triangle-bottom caret-dropdown"></span>
                      <ul class="list-unstyled question-list">
                        <li class="list-items">
                          <label>Plan Types</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </li>
                        <li class="list-items">
                          <label>Plans</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </li>
                      </ul>
                    </div>
                    <div class="demogrsphic-section">
                      <label class="green">Demographics</label>&nbsp;
                      <span class="glyphicon glyphicon-triangle-bottom caret-dropdown"></span>
                      <ul class="list-unstyled question-list">
                        <li class="list-items">
                          <label>My Info sections</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </li>
                        <li class="list-items">
                          <label>Fields</label>
                          <br>
                          <select class="form-control benefits-dropdown">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </li>
                      </ul>
                    </div>
                    <div class="margin-top">
                      <ul class="submit-buttons list-unstyled">
                        <li class="list-item">
                          <button class="btn btn-success btn-style"> Proceed </button>
                        </li>
                        <li class="list-item">
                          <button class="btn btn-style" (click)="modalRef.hide()"> Cancel </button>
                        </li>
                      </ul>

                    </div>
                  </div>
                  <div class="tab-pane" id="addEditDelete">
                    <div class="main-customizeform-date">
                      <div class="add-delete-section">
                        <span class="Effective-date">
                          Effective date?
                        </span>
                        <br>
                        <ul class="list-unstyled date-list">
                          <li class="list-items">
                            <label>Start Date</label>
                            <br>

                            <input type="text" class="benefits-dropdown">
                          </li>
                          <li class="list-items">
                            <label>End Date</label>
                            <br>
                            <input type="text" class="benefits-dropdown">

                          </li>
                        </ul>

                        <ul class="list-unstyled question-list">
                          <li class="list-items">
                            <label>Make Eligible for Benefits?</label>
                            <br>
                            <select class="form-control benefits-dropdown">
                              <option>Yes</option>
                              <option>No</option>
                            </select>
                          </li>
                        </ul>
                      </div>
                      <div class="margin-top">
                        <ul class="submit-buttons list-unstyled">
                          <li class="list-item">
                            <button class="btn btn-success btn-style"> Proceed </button>
                          </li>
                          <li class="list-item">
                            <button class="btn btn-style" (click)="modalRef.hide()"> Cancel </button>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="summaryReview">
                    <div class="main-customizeform">
                      <div class="main-customizeform">
                        <ul class="list-unstyled question-list">
                          <li class="list-items">
                            <label>A.Make Eligible for Benefits?</label>
                            <br>
                            <select class="form-control benefits-dropdown">
                              <option>Yes</option>
                              <option>No</option>
                            </select>
                          </li>
                        </ul>
                      </div>
                      <div class="margin-top">
                        <ul class="submit-buttons list-unstyled">
                          <li class="list-item">
                            <button class="btn btn-success btn-style"> Proceed </button>
                          </li>
                          <li class="list-item">
                            <button class="btn btn-style" (click)="modalRef.hide()"> Cancel </button>
                          </li>
                        </ul>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </div>
    <div class="Employee-filters">
      <div class="col-xs-12 border-bottom">
        <div class="row">
          <div class="col-xs-6">
            <div class="row">
              <div class=search-bar>
                <form [formGroup]="employeeSearch" class="search-form">
                  <input type="text" class="border-none box-shadow-none form-control" formControlName="search"
                    placeholder="Search by name,title, etc">
                </form>
                <span>
                  <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
                </span>
              </div>
            </div>
          </div>


          <div class="display-right col-xs-5 pull-right">

            <mat-select class="form-control" (click)="filterOptionsClear()" placeholder="All Employees">
              <mat-option>All Employees</mat-option>

              <mat-accordion>

                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Employment Status
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="display-settings">
                    <ul>
                      <li *ngFor="let data of StructureValuesEmpStatus">
                        <mat-checkbox #checkbox="matCheckbox" [(ngModel)]="data.isChecked" [checked]="data.selected"
                          (change)="filterEmployee($event,'Employment Status',data)" [value]="data._id">{{data.name}}
                        </mat-checkbox>
                      </li>

                    </ul>
                  </div>

                </mat-expansion-panel>


                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Location
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="display-settings">
                    <ul>
                      <li *ngFor="let data of StructureValuesLocation">
                        <mat-checkbox #checkbox="matCheckbox" [(ngModel)]="data.isChecked" [checked]="data.selected"
                          (change)="filterEmployee($event,'Location',data)" [value]="data._id">{{data.name}}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>

                </mat-expansion-panel>


                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Employee Type
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="display-settings">
                    <ul>
                        <li *ngFor="let data of StructureValuesEmpType">
                        <mat-checkbox #checkbox="matCheckbox" [(ngModel)]="data.isChecked" [checked]="data.selected"
                        (change)="filterEmployee($event,'Employee Type',data)" [value]="data._id">{{data.name}}
                      </mat-checkbox>
                      </li>
                    </ul>
                  </div>

                </mat-expansion-panel>

                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Department
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="display-settings">
                    <ul>
                        <li *ngFor="let data of StructureValuesDepartment">
                     <mat-checkbox #checkbox="matCheckbox" [(ngModel)]="data.isChecked" [checked]="data.selected"
                        (change)="filterEmployee($event,'Department',data)" [value]="data._id">{{data.name}}
                      </mat-checkbox>
                      </li>
                    </ul>
                  </div>

                </mat-expansion-panel>


              </mat-accordion>

            </mat-select>

            <label>Display</label>

            <div class="clearfix"></div>
          </div>


          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="employees-details">
      <accordion class="margin-top-15">
        <accordion-group #group [isOpen]=true>

          <span accordion-heading class="panel-border">
            Employee Details &nbsp;
          </span>
          <div *ngFor="let employee of allEmployeeDetails">
            <!-- <div class="col-xs-12 individual-employee" *ngIf="individualEmployee"> 
              <div class="col-xs-1">
                <div class="row">


                </div>
              </div> 
               <div class="col-xs-11 name-employee">
                <div class="row">
                  <a (click)="detailEmployee()">
                    {{employee.personal.name.firstName}} {{employee.personal.name.middleName}} {{employee.personal.name.lastName}}

                    <i class="glyphicon glyphicon-triangle-right angle"></i>
                  </a>
                </div>

              </div> 
             </div> -->
            <div *ngIf="individualEmployeeDropdown" class="col-xs-12 employee-individual-dropdown individual-employee">
              <div class='row'>
                <a>

                  <div class="col-xs-1">
                    <div class="row">
                      <!-- <img src="../../../assets/images/Directory/empoyee_2.png"> -->
                      <span *ngIf="!employee.personal.profile_pic_details">
                        <i *ngIf="directorySettings.settings.photo" class="material-icons emplployee-icon">
                          account_circle
                        </i>
                      </span>
                      <span *ngIf="directorySettings.settings.photo">
                        <img *ngIf="employee.personal.profile_pic_details"
                          [src]="employee.personal.profile_pic_details.url" class="s3img" alt="employee-img">
                      </span>

                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="row">
                      <ul class="list-unstyled list-profile" (click)="editDetailsOfEmployee(employee)">
                        <li class="name">
                          <a style="cursor:pointer;">
                            <b><span
                                *ngIf="directorySettings.settings.name">{{employee.personal.name.firstName}}</span>&nbsp;&nbsp;
                              <span
                                *ngIf="directorySettings.settings.name">{{employee.personal.name.middleName}}</span>&nbsp;&nbsp;
                              <span
                                *ngIf="directorySettings.settings.name">{{employee.personal.name.lastName}}</span>&nbsp;&nbsp;
                              <!-- <i class="glyphicon glyphicon-triangle-bottom angle"></i> -->
                            </b>
                          </a>
                        </li>
                        <li *ngIf="directorySettings.settings.job_title" class="list-details">
                          <span *ngIf="employee.job.jobTitle">{{employee.job.jobTitle.name}}</span>
                          <span *ngIf="!employee.job.jobTitle">--</span>
                         
                       
                        </li>
                        <li *ngIf="directorySettings.settings.location" class="list-details">
                          {{employee.personal.address.city}},{{employee.personal.address.state}}
                        </li>
                        <li *ngIf="directorySettings.settings.location" class="list-details">
                          {{employee.personal.address.country}}</li>
                        <!-- <li class="linked-in symbol">
                    <img src="../../../assets/images/Directory/layer1_1_.png">
                </li> -->
                      </ul>
                      <img src="../../../assets/images/Directory/layer1_1_.png"
                        (click)="linkedInLink(employee.personal.social_links.linkedin)" class="list-profile linked-in">
                    </div>
                  </div>

                  <div class="col-xs-4 linked-in" (click)="editDetailsOfEmployee(employee)">
                    <div class="row">
                      <ul class="list-personal list-unstyled">
                        <li *ngIf="directorySettings.settings.email" class="list-emp-detail">
                          <img src="../../../assets/images/Directory/ic_email_24px.png" class="img-emp-info">
                          <span class="emp-info">{{employee.personal.contact.workMail}}</span>
                        </li>
                        <li *ngIf="directorySettings.settings.work_phone" class="list-emp-detail">
                          <img src="../../../assets/images/Directory/ic_domain_24px1.png" class="img-emp-info">
                          <span class="emp-info">{{employee.personal.contact.workPhone}}
                            Ext.{{employee.personal.contact.extention}}</span>
                        </li>
                        <li *ngIf="directorySettings.settings.cell_phone" class="list-emp-detail">
                          <img src="../../../assets/images/Directory/Group 504.png" class="img-emp-info-mobile">
                          <span class="emp-info">&nbsp;{{employee.personal.contact.homePhone}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- <div *ngIf="individualEmployeefly" class="">
          <div class="col-xs-12 individual-employee margin-top-15">
            <div class="col-xs-1">
              <div class="row">
                <img src="../../../assets/images/Directory/empoyee_-2.png">
              </div>
              <img src="../../../assets/images/Directory/ic_flight_takeoff_24px.png">

            </div>
            <div class="col-xs-11 name-employee">
              <div class="row">
                <a (click)="detailEmployeefly()">
                  Crane Andy

                  <i class="glyphicon glyphicon-triangle-right angle"></i>
                </a>
              </div>

            </div>
          </div>
        </div> -->
          <!-- <div *ngIf="individualEmployeeflyDropdown" class="col-xs-12 employee-individual-dropdown individual-employee margin-top">
          <div class='row'>
            <div class="col-xs-1">
              <div class="row">
                <img src="../../../assets/images/Directory/empoyee_-3.png">
              </div>

              <img src="../../../assets/images/Directory/ic_flight_takeoff_24px.png" class="margin-left">
              <span class="out-date"> OUT JUL 23-28</span>
            </div>
            <div class="col-xs-7">
              <div class="row">
                <ul class="list-unstyled list-profile">
                  <li class="name" (click)="hideEmployeeflyData()">
                    <b>Crane Andy
                      <i class="glyphicon glyphicon-triangle-bottom angle"></i>
                    </b>
                  </li>
                  <li class="list-details">Sr. HR Administrator in Human Resources</li>
                  <li class="list-details"> Lindon,Utah</li>
                  <li class="list-details"> North America</li>
                  //<li class="linked-in symbol">
                      //  <img src="../../../assets/images/Directory/layer1_1_.png">
                    //</li>
                </ul>
                <img src="../../../assets/images/Directory/layer1_1_.png" class="list-profile">
              </div>
            </div>
            <div class="col-xs-4">
              <div class="row">
                <ul class="list-personal list-unstyled">
                  <li class="list-emp-detail">
                    <img src="../../../assets/images/Directory/ic_email_24px.png" class="img-emp-info">
                    <span class="emp-info">craneandy@efficientoffice.com</span>
                  </li>
                  <li class="list-emp-detail">
                    <img src="../../../assets/images/Directory/ic_domain_24px.png" class="img-emp-info">
                    <span class="emp-info">801-724-6600 Ext.1272</span>
                  </li>
                  <li class="list-emp-detail">
                    <img src="../../../assets/images/Directory/Group 504.png" class="img-emp-info-mobile">
                    <span class="emp-info">&nbsp;415-555-8985</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        </accordion-group>

      </accordion>
    </div>
    <mat-paginator [length]="allEmpLength" [pageSize]="10" (page)="pageEvent($event)"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>