.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 6px 15px;
    font-size: 14px;
    margin: 3px 15px 0px 0px;

}
.s3img{
    margin: 20px 0 0 14px;
    object-fit: contain;
    border-radius: 50%;
    width:100%;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.main-directory-tab{
    float: none;
    margin: 0 auto;
    padding: 0
}
.mr-7{
    margin-right: 7px;
}
.zenwork-currentpage .sub-title b{
    vertical-align: middle;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.zenwork-structure-settings{
    border-radius: 0px!important;
    height:30px;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.sub-title{
    display: inline-block;
    font-size: 16px; vertical-align:text-top; padding: 0 0 0 10px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}


a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.zenwork-border-bottom{
    border-bottom: 1px solid #ddd;
}
.add-employee{
    /* margin-top: 40px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.add-employee .btn-employee{
    background-color: #797d7a !important;
    font-size: 12px;
    padding: 7px 12px !important;
    border: 1px solid #797d7a;
}
.img-plug{
    width: 12px;
    margin: 0px 7px;
}
.globe-icon{
    font-size: 17px;
    vertical-align: top;
}
.search-bar input{
    font-size: 14px; 
    outline: none;
    border: none;
    box-shadow: none; height:auto; padding: 13px;
   
}
.down-img{
    vertical-align: middle;
    color: #797d7b;
    font-size: 9px;
}
.Employee-filters{
    margin-bottom: 20px;
    padding-bottom:35px;
}

.input-search{
    width:100%;
    position: relative;
    height: 32px;
    border: none;
    padding: 0 0 0 10px;    
}
.search-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #999c9a;
}
.group-by{
    padding-left: 30px;
}
.domain-img{
    padding: 0px 6px;
    border-right: 1px solid #999c9a;
}

.name-dropdown{
    width: 128px;
    height: 32px;
    font-size: 14px;
    border: none;
    display: inline-block;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    
}
.employees-dropdown{
    width: 84.3%;padding:13px 0;
    border: 0px;
    font-size: 14px;
    border-radius: 0;
    background-color: #fff;
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
    height: auto;
}
.all-employee-filter{
    /* border:1px solid #999c9a; */
    background: #fff;
}

.individual-employee{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;   
}
.employees-details{
    border-top:1px solid #eeeeee;
}

.margin-top{
    margin-top:40px;
}
.margin-top-15{
    margin-top:15px;
}
.name-employee{
    top:14px;
    font-size: 14px;
}
.name-employee a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.angle{
    font-size: 9px;
}
.name{
    font-size: 18px;
}
.name b{
    color:#616161;
    cursor: pointer;
}
.list-details{
    font-size: 16px;
    color: #a4a7a9;
    line-height: 28px
}
.list-personal{
    margin-top: 26px;
    font-size: 16px;
    line-height: 28px;
    color: #a4a7a9;
}
.list-profile{
    margin-left:40px;
    margin-top: 15px;
    line-height: 18px;
    cursor: pointer;
}
.emp-info{
    margin-left: 10px;
}
.img-emp-info{
    width:17px;
}
.img-emp-info-mobile{
    width:14px;
}
.margin-left{
    margin-left:10px;
}
.out-date{
    font-size: 9px;
    color: #439348;
}
/* .panel{
    border: none!important;  
} */
.panel-border .panel{
    border:0;
}
/* modalcss */
.modal-margintop{
    margin-top:40px;
}
/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 12px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  .customize-form{
    margin-top:20px;
}
.customize-form .template{
    height:30px;
    width:40%;
    border: 0;
    background: #f8f8f8;
}
.modal-body{
    background:#f8f8f8;
    padding: 0;
}
.tabs-left .nav-tabs{
    padding: 20px;
    border-right: 0;
}
.tab-content{
  margin: 0;
  background: #fff;
  padding: 10px 30px;
  height: 100vh;
}
.tabs-customize{
    background: #f8f8f8;
    padding:0px!important;
}
.modal-body .container{
    width:100%;
}
.caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }
  .benefits-dropdown{
    width: 25%;
    height: 30px;
    border-radius: 0px!important;
    border: 0;
    background: #f8f8f8;
    box-shadow: none;
  }
  label{
    font-weight:normal;
    line-height: 30px;
    font-size: 12px;
}
.question-list{
    margin: 0 0 20px 0;
}
.question-list .list-items{
    padding:10px 0px;
}
.submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px 0px 0px;
  }
  .submit-buttons .btn-success {
      background-color: #439348;
  }
  .btn-style {
    padding: 2px 12px!important;
    border-radius: 30px!important;
}
.main-customizeform-benefits {
    margin: 10px 0 20px 0;
    border-bottom: 2px solid #ededed;

}
.caret-dropdown {
    font-size: 10px;
    vertical-align: middle;
}
.date-list .list-items {
    display: inline-block;
    padding: 0 20px 0 0;
    width: 30%;
}
.main-customizeform-date{
    margin: 20px 0 0 0;
}
.date-list .list-items .benefits-dropdown {
    width: 100%;
}

.main-filter-rights{
    
}
.emplployee-icon{
    font-size: 100px;
    color: #ccc;
    padding: 20px 0 0 0; 
}
.label-display { padding:10px 15px 0 0;}
.label-display label { font-size: 15px;}
.linked-in{
    cursor: pointer
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

.display-right { padding: 0;}
.display-right label {font-size: 16px; padding: 10px 20px 0 0; float: right;}
.display-right .form-control { width:60%;border:none;box-shadow: none; float:right; height: auto; padding: 14px 12px;
background:url(../../../../assets/images/Directory/ic_domain_24px1.png) no-repeat 15px center #fff;}

.display-right .form-control:focus { border-color: transparent;}

.mat-expansion-indicator::after { display: none !important;}
.display-settings { margin:0 0 0 15px;}
.display-settings ul { display: block;}
.display-settings ul li { display: block;}