.personal{
    padding: 0px 40px;
    float : none;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important;

}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-margin-zero{
    margin: 20px 0 !important;
}
.zenwork-margin-zero b{
    font-size: 16px!important;
    color: #404040;
}
.zenwork-padding-10{
    padding: 10px;
}
.zenwork-customized-back-btn{
    background: #fff;
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
    margin:  0 10px 0 0;
}
.mr-7{
    margin-right: 7px;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.text-field{
    border: none; 
    width: 20%;
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
}
.template-name{
    margin: 30px 0 0 0;
}
.template-name label{
    line-height: 40px;
}
.add-template-main{
    width:100%;
    border-bottom: 1px solid #eeeeee;

}
.field-accordion p {color: #565555;    font-size: 15px;
    background: #fff;
    margin: 0px 0 0 0px;}

.field-accordion .panel-default>.panel-heading { padding: 20px 0 20px; border: none;}
.field-accordion .panel-title {  display: inline-block; padding: 0 0 0 7px;}
.field-accordion .panel-title a:hover { text-decoration: none;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;background: #fff;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


.add-fields{
    width:80%;
    float: right;
    margin-top:20px;

}

.main-onboarding .panel-heading{
    padding:10px 0px!important;
}
.main-onboarding{
    width:100%;
    margin-top: 20px;
}
.main-onboarding .panel-font{
    font-weight: 600;
    padding: 0 0 0 20px;    
}
.main-onboarding .panel{
    border:0px !important;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.settings-dropdown{
    float:right;
    background: #fff;
    border: none;
}
.main-onboarding .panel-heading .btn{
    padding:2px 6px!important;
    border-radius: 0!important;
}
.caret{
    margin-bottom: 5px!important;
}
.panel-body{
    padding:0px 15px 0px 15px !important;
}
.hr-tasks{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 0 40px;
}
.hire-forms{
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0 0 27px;
}

.individual-hr-task{
    font-size:15px;
    padding: 15px 0;
    margin: 0;
}
.main-onboarding .setting-drop .dropdown-menu{
    left: -76px !important;
    min-width: 109px !important;
}
.individual-hr-task small{
    padding: 0 0 0 28px;
    color: #ccc;
}
.margin-top-zero{
    margin-top:0px!important;
}
.padding-top-remove{
    padding-top:0px!important;
}
.team-introdution-card{
    background-color: #fcfcfc;
    border-radius: 2px;
    padding: 10px;
}
.margin-zero{
    margin:0px!important;
}
.team-introdution-card .padding-top-remove small{
    padding-left:25px; 
    color: #ccc;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.card-intro{
    font-size: 15px;
    padding-left: 30px;
}
.team-introdution-card .mat-checkbox{
    display: block;
}
.team-introdution-card .individual-hr-task{
    font-weight: 600;
    display: block;
    font-size: 16px;
}
.team-introdution-card small{
    font-size: 14px;
}


 
  .emp-image{
    padding-top: 0;
    width: 43px;
    display: inline-block;
    vertical-align: middle;
  }
  .employee-details{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
  }
  .employee-image-info{
    padding-left: 20px;
  }
  .emp-name{
    font-size: 11px;
    padding-left: 0;
    display: block;
    line-height: 11px;
  }
  .borderright{
      border-right: 1px solid #eee;
  }
  .team-text-area{
    margin-top:10px;
  }
  textarea{
     resize: none;
     border: 0;
     box-shadow: none;
     background: #f8f8f8;
  }
  .btn-color{
    color: #ef8086;
  }
  .new-emp-paperwork{
    margin-top: 20px;
    padding-left: 15px;
  }
  .new-emp-paperwork .emp-paperwork-heading{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0 0 0;
  }
  .newhire-packets{
    display: inline-block;
    width:234px;

}
.newhire-checkbox{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
  .newhire-content{
    display: inline-block;
    vertical-align: middle;
  }
  .insert-drive{
  width: 11px;
  display: inline-block;
  vertical-align: middle;
  }
  .image-items{
      display: inline-block;
      padding:0px 7px;
  }
  .open>.settings-dropdown.btn-default{
    background: #fff;
}
.settings-dropdown:hover,.settings-dropdown:active{
    background: #fff !important;
}


.buttons{
    margin: 20px 0;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}

.buttons ul li .back{
    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
}
.buttons ul li .save{

    border: 1px solid gray;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background: green;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}
.error{
    font-size:12px !important;
    color: #f44336 !important;
}