
.employee-service { margin: 30px auto; padding: 0 0 50px; float: none;}

.user-nav { padding:0 0 30px; border-bottom:#cecece 1px solid; margin: 0 0 30px;}
.user-rgt { display: block;}
.user-rgt small { display: inline-block; vertical-align: middle; margin: 0 15px 0 0;}
.user-rgt small .fa { color:#7b7b7b; font-size: 30px; line-height: 30px;}
.employee-service .user-rgt > a { display:inline-block; vertical-align: middle;}
.employee-service .user-rgt > a.btn { background:#008f3d; height: 40px;line-height: 28px; color:#fff; text-align: center; padding: 6px 20px; font-size: 17px;}

.employee-service > a.btn {display:inline-block; cursor: pointer; background:#fff; padding:10px 25px; border-radius: 3px; color:#565555; 
font-size: 16px; line-height: 16px; border:#cecece 1px solid; margin: 0 0 30px;}
    
.employee-report { display:block;border-bottom:#cecece 1px solid; padding: 0 0 30px; margin: 0 0 40px;}

.work{margin: 0 0 20px;}
.work small { vertical-align: middle; display: inline-block;}
.work h2 { display: inline-block; vertical-align: middle; font-size: 18px; line-height: 18px; font-weight: normal; color:#008f3d; margin: 0 0 0 5px;}



.employee-report-in { display: block;}

.employee-report-top {background: #eef7ff; padding: 10px 20px;}

.employee-report-lft {padding: 0;}
.employee-report-lft ul { display: block;}
.employee-report-lft ul li { float: left; margin: 0 15px 0 0; padding: 0;}
.employee-report-lft ul li label { padding:13px 15px 0 0; color:#777777; font-weight: normal; font-size: 15px; line-height: 15px; float: left;}
.employee-report-lft ul li select {background: #fff;border: none;width:56%;height: 34px;color: #948e8e;padding:10px; float: left;}

.employee-report-rgt { padding: 0; text-align: right;}
.employee-report-rgt ul { display: block;}
.employee-report-rgt ul li { float: right; margin: 0 0 0 10px; padding: 0;}
.employee-report-rgt ul li select {background: #fff;border: none;width: 100%;height: 34px;color: #948e8e;padding: 6px 10px;}

.employee-self { background:#fff; padding: 30px 0;}

.employee-data { display: block;}
.employee-data ul { display: block;}
.employee-data ul li { float: left; text-align: center;}
.employee-data ul li img { margin: 0 auto 20px;}
.employee-data ul li h3 { font-size: 13px; line-height: 13px; color:#5f5e5e; margin: 0 0 15px;}
.employee-data ul li h4 { font-size: 18px; line-height: 18px; color:#5f5e5e; margin: 0 0 20px;}
.employee-data ul li small { font-size: 13px; line-height: 13px; color:#c7c7c7;padding: 0 0 15px; display: block;}
.employee-data > ul > li > h2 { color:#bdb5b5; margin: 0 ; font-size: 30px; font-weight: normal;}
.employee-work .employee-data ul li h2 { color:#5f5e5e;margin: 0 0 20px; font-size: 16px; line-height: 16px;}
.employee-work .employee-data ul li h3 { margin: 0 0 7px;}
.employee-work .employee-data ul li img { margin: 0 auto 10px;}
.employee-data ul li a.btn { border:#a5a5a5 1px solid; border-radius: 20px; color:#525252; padding:8px 24px; font-size: 14px; border-radius:4px; text-transform: capitalize;}
.employee-data ul li a.btn:hover { background: #008f3d; color:#fff; border: transparent 1px solid;}


.employee-self .carousel-control.right {
	left:auto;
	right:40px; top: 40%;
}
.employee-self .carousel-control.left {
	right:auto;
	left:30px; top: 40%;
}

.employee-self .fa-2x {
    font-size:30px; color: #008f3d;
}
.employee-self .fa-2x:hover {color: #d9534f;}
.employee-self .carousel-inner { width: 90%; margin:0 auto;}
.employee-self .carousel-control { opacity: 1; box-shadow: none; text-shadow: none; width: auto;}



.work-anniversary { padding: 0 0 30px;border-bottom: #d8d6d6 1px solid; margin: 0 0 50px;}
.work{margin: 0 0 20px;}
.work small { vertical-align: middle; display: inline-block;}
.work small img { margin: -4px 0 0;}
.work small .fa { color:#6f6e6e; font-size: 20px; line-height: 20px;}
.work h2 { display: inline-block; vertical-align: middle; font-size: 18px; line-height: 18px; font-weight: normal; color:#008f3d; margin: 0 0 0 10px;}

.anniversary-lft { display: block; padding:10px 0 0;}
.anniversary-lft ul { display: block;}
.anniversary-lft ul li { float: left; margin: 0 20px 0 0;}
.anniversary-lft ul li a { display: inline-block; color:#6f6e6e; font-size: 15px; line-height: 15px; padding: 0 10px 10px;}
.anniversary-lft ul li a.active { border-bottom:#008f3d 2px solid;}

.company-manage { margin: 0 0 2px;}
.company-manage h3 { font-size: 16px; line-height: 16px; font-weight: normal; color:#008f3d; margin: 0 20px 0 0; padding: 10px 0 0;}
.company-manage ul {margin: 0;}
.company-manage ul li { float: left; background:#fff;}
.company-manage ul li a { display: inline-block; vertical-align: middle; padding: 9px 15px;}
.company-manage a { display: inline-block; background:#fff; padding: 8px 15px; margin: 0 3px 0 0;}
.company-manage a .fa { font-size: 20px;color:#008f3d;}


.companies-block { padding: 0 0 20px;border-bottom: #d8d6d6 1px solid; }

.company-list { margin: 0;}

.company-lft{ display: block;}
.company-lft small { vertical-align: middle; display: inline-block;}
.company-lft small img { display: block;}
.company-lft h2 { display: inline-block; vertical-align: middle; font-size: 16px; line-height: 16px; font-weight: normal; color:#008f3d; margin: 0 0 0 10px;}

.compnay-sites { display: block; background:#fff; padding: 15px 30px 0;}
.compnay-sites ul { display: block; margin: 0;}
.compnay-sites ul li { display: block; border-bottom:#efefef 1px solid; padding: 0 0 15px; margin: 0 0 15px; min-height: 56px;}
.compnay-sites ul li h4 { font-weight: normal; font-size: 14px; line-height: 14px; color:#5f5e5e; margin: 0 0 5px;}
.compnay-sites ul li span { font-weight: normal; font-size: 13px; line-height: 13px; color:#c7c7c7; display: block;}
.compnay-sites ul li:nth-last-child(1) { border-bottom: none;}

.training-left { padding: 0;}
.training-left h4 { font-weight: normal; font-size: 14px; line-height: 14px; color:#5f5e5e; margin: 0 0 5px;}
.training-left a { display: inline-block; vertical-align: middle;}
.training-left p { font-weight: normal; font-size: 13px; line-height: 13px; color:#a5a5a5; display:inline-block; vertical-align: middle; margin: 0 0 0 10px;}
.compnay-sites > ul > li > a.btn { border:#e65a61 1px solid; border-radius: 20px; color:#e65a61; padding:5px 20px; font-size: 13px; margin: 10px 0 0;}

.employee-out { display: block;border-bottom: #d8d6d6 1px solid; margin: 0 0 50px; padding: 0 0 20px;}
.employee-outing { margin: 0;}


.employee-heading { display: block;background: #eef7ff;padding: 15px 10px;}
.employee-heading ul { display: block; margin: 0;}
.employee-heading ul li { float: left; width: 18%;}
.employee-heading ul li small { color: #868686; font-weight: normal; font-size: 14px; display: block;}
.employee-heading ul li:nth-child(1) { width: 24%;}

.employee-table-data { display: block;background: #fff;}
.employee-table-data > ul { display: block; margin:0;}
.employee-table-data > ul > li { display:block; padding: 10px 0;border-bottom:#ececec 1px solid;}
.employee-table-data > ul > li:nth-last-child(1) { border-bottom:none;}

.employee-hires .employee-heading { text-align: center;}
.employee-hires .employee-heading ul li { width: 33%;}


.employee-table-in { display: block;}
.employee-table-in ul { display: block; margin: 0;}
.employee-table-in ul li { display:inline-block; width: 17%; text-align: center;}
.employee-table-in ul li small { color: #868686; font-weight: normal; font-size: 14px; display: block;}
.employee-table-in ul li span { background:#008f3d; width: 8px; height:8px; border-radius: 100%; display: block; margin: 0 auto;}
.employee-table-in ul li:nth-child(1) { width: 22%;}

.employee-hires .employee-table-in ul li { width: 32%;}
.employee-hires .employee-table-in ul li:nth-child(1) { width: 33%;}

.director{padding: 0 0 0 10px; text-align: left;}
.director a { display: inline-block; vertical-align: middle; width:40px;}
.director-block { display: inline-block; vertical-align: middle; width:85px; text-align: left;}
.director-block h2 { color:#848080; font-weight: normal; font-size:15px; line-height:15px;margin: 0;}
.director-block small { color:#cacaca; font-weight: normal; font-size: 14px; line-height: 14px;display: block; padding: 7px 0 0;}
.director.reports a { width:50px;} 

.action { display: inline-block;}

.style-scroll {overflow-x: auto;
	height: 300px;
	overflow-y: scroll;}

.style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #898c8e;
	border-radius: 10px;
	background-color: #eef7ff;
}
	
.style-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #eef7ff;
}

.style-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #898c8e;
	background-color: #898c8e;
}	
