<div class="employee-service col-md-11">

    <div class="user-nav">

        <div class="user-rgt pull-right">
            <small>
                <img src="../../../../../../assets/images/company-settings/site-access/employee-service.png" width="47" height="37"
                    alt="img">
            </small>
            <a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user/view" class="btn">Employee Self Service</a>
        </div>

        <div class="clearfix"></div>
    </div>

    <a class="btn" [routerLink]="['/admin/admin-dashboard/employee-management/manager-self-service/manager-self-service']">Manager Actions</a>


    <div class="employee-report">

        <div class="work">
            <small>
                <img src="../../../../../../assets/images/company-settings/site-access/calendar-reports.png" width="20" height="20"
                    alt="img">
            </small>
            <h2>Today's Report</h2>
        </div>


        <div class="employee-report-in">

            <div class="employee-report-top">

                <div class="employee-report-lft pull-left col-md-8">
                    <ul>
                        <li class="col-md-3">
                            <label>Location</label>
                            <select>
                                <option>All</option>
                                <option>All1</option>
                                <option>All2</option>
                            </select>
                            <div class="clearfix"></div>
                        </li>

                        <li class="col-md-3">
                            <label>Department</label>
                            <select>
                                <option>All</option>
                                <option>All1</option>
                                <option>All2</option>
                            </select>
                            <div class="clearfix"></div>
                        </li>
                        <li class="col-md-3">
                            <label>Shift</label>
                            <select>
                                <option>All</option>
                                <option>All1</option>
                                <option>All2</option>
                            </select>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="employee-report-rgt pull-right col-md-4">
                    <ul>

                        <li class="col-md-3">
                            <select>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>
                        </li>

                        <li class="col-md-3">
                            <select>
                                <option>June</option>
                                <option>April</option>
                                <option>March</option>
                            </select>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>


            <div class="employee-self">

                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="employee-data">
                                <ul>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/working.png" width="34" height="29" alt="img">
                                        <h4>Working</h4>
                                        <h2>1218</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/leave.png" width="29" height="29" alt="img">
                                        <h4>On Leave</h4>
                                        <h2>65</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/small-clock.png" width="29" height="29" alt="img">
                                        <h4>Early Birds</h4>
                                        <h2>245</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/late.png" width="25" height="29" alt="img">
                                        <h4>Late Arrivals</h4>
                                        <h2>213</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/outdoor.png" width="44" height="29" alt="img">
                                        <h4>WFH / Outdoor</h4>
                                        <h2>165</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/medical.png" width="35" height="29" alt="img">
                                        <h4>On Medical Leave</h4>
                                        <h2>51</h2>
                                    </li>
                                </ul>
                            </div>


                        </div>

                        <div class="item">
                            <div class="employee-data">
                                <ul>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/working.png" width="34" height="29" alt="img">
                                        <h4>Working</h4>
                                        <h2>1218</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/leave.png" width="29" height="29" alt="img">
                                        <h4>On Leave</h4>
                                        <h2>65</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/small-clock.png" width="29" height="29" alt="img">
                                        <h4>Early Birds</h4>
                                        <h2>245</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/late.png" width="25" height="29" alt="img">
                                        <h4>Late Arrivals</h4>
                                        <h2>213</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/outdoor.png" width="44" height="29" alt="img">
                                        <h4>WFH / Outdoor</h4>
                                        <h2>165</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/medical.png" width="35" height="29" alt="img">
                                        <h4>On Medical Leave</h4>
                                        <h2>51</h2>
                                    </li>
                                </ul>
                            </div>


                        </div>


                        <div class="item">
                            <div class="employee-data">
                                <ul>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/working.png" width="34" height="29" alt="img">
                                        <h4>Working</h4>
                                        <h2>1218</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/leave.png" width="29" height="29" alt="img">
                                        <h4>On Leave</h4>
                                        <h2>65</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/small-clock.png" width="29" height="29" alt="img">
                                        <h4>Early Birds</h4>
                                        <h2>245</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/late.png" width="25" height="29" alt="img">
                                        <h4>Late Arrivals</h4>
                                        <h2>213</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/outdoor.png" width="44" height="29" alt="img">
                                        <h4>WFH / Outdoor</h4>
                                        <h2>165</h2>
                                    </li>
                                    <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/medical.png" width="35" height="29" alt="img">
                                        <h4>On Medical Leave</h4>
                                        <h2>51</h2>
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left fa-2x"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="fa fa-chevron-right fa-2x"></i>
                    </a>

                </div>
            </div>



        </div>


    </div>


    <div class="employee-out">


        <div class="employee-outing col-md-6">

            <div class="work">
                <small>
                    <img src="../../../../../../assets/images/company-settings/site-access/out.png" width="27" height="23" alt="img">
                </small>
                <h2>Who's Out</h2>
            </div>

            <div class="anniversary-lft pull-left">
                <ul>
                    <li>
                        <a href="#" class="active">Pending</a>
                    </li>
                    <li>
                        <a href="#">Completed</a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>

            <div class="company-manage pull-right">
                <a class="pull-left">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
                <ul class="pull-right">
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

            <div class="employee-table">

                <div class="employee-heading">
                    <ul>
                        <li>
                            <small>Employee Name</small>
                        </li>
                        <li>
                            <small>Request Date</small>
                        </li>
                        <li>
                            <small>Time Off</small>
                        </li>
                        <li>
                            <small> Action
                                <div class="action">
                                    <mat-slide-toggle></mat-slide-toggle>
                                </div>
                            </small>
                        </li>
                        <li>
                            <small>Request Status</small>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="employee-table-data style-scroll">

                    <ul>
                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                            <div class="employee-table-in">
                                <ul>
                                    <li>
                                        <div class="director">
                                            <a href="#">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                    width="38" height="38" alt="img">
                                            </a>
                                            <div class="director-block">
                                                <h2>Crane Andy</h2>
                                                <small>Manager</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>June 26</small>
                                    </li>
                                    <li>
                                        <small>09:30-13:00</small>
                                    </li>
                                    <li>
                                        <div class="action">
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                    </li>
                                    <li>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li>

                                <div class="employee-table-in">
                                    <ul>
                                        <li>
                                            <div class="director">
                                                <a href="#">
                                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                        width="38" height="38" alt="img">
                                                </a>
                                                <div class="director-block">
                                                    <h2>Crane Andy</h2>
                                                    <small>Manager</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <small>June 26</small>
                                        </li>
                                        <li>
                                            <small>09:30-13:00</small>
                                        </li>
                                        <li>
                                            <div class="action">
                                                <mat-slide-toggle></mat-slide-toggle>
                                            </div>
                                        </li>
                                        <li>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
    
                        </li>

                        <li>

                                <div class="employee-table-in">
                                    <ul>
                                        <li>
                                            <div class="director">
                                                <a href="#">
                                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                        width="38" height="38" alt="img">
                                                </a>
                                                <div class="director-block">
                                                    <h2>Crane Andy</h2>
                                                    <small>Manager</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <small>June 26</small>
                                        </li>
                                        <li>
                                            <small>09:30-13:00</small>
                                        </li>
                                        <li>
                                            <div class="action">
                                                <mat-slide-toggle></mat-slide-toggle>
                                            </div>
                                        </li>
                                        <li>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
    
                        </li>
                    </ul>

                </div>

            </div>



        </div>

        <div class="employee-outing employee-hires col-md-6">

            <div class="work">
                <small>
                    <img src="../../../../../../assets/images/company-settings/site-access/hires.png" width="16" height="16"
                        alt="img">
                </small>
                <h2>New Hires</h2>
            </div>

            <div class="anniversary-lft pull-left">
                <ul>
                    <li>
                        <a href="#" class="active">Freshers</a>
                    </li>
                    <li>
                        <a href="#">Experienced</a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>

            <div class="company-manage pull-right">
                <a class="pull-left">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
                <ul class="pull-right">
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>


            <div class="employee-table">


                    <div class="employee-heading">
                            <ul>
                                <li>
                                    <small>Employee Name</small>
                                </li>
                                <li>
                                    <small>Position</small>
                                </li>
                                <li>
                                    <small>Date of Join</small>
                                </li>
                                
                            </ul>
                            <div class="clearfix"></div>
                        </div>
        
                        <div class="employee-table-data style-scroll">
        
                            <ul>
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                          
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                           
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                           
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                            
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                            
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                    <div class="employee-table-in">
                                        <ul>
                                            <li>
                                                <div class="director">
                                                    <a href="#">
                                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                            width="38" height="38" alt="img">
                                                    </a>
                                                    <div class="director-block">
                                                        <h2>Crane Andy</h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <small>June 26</small>
                                            </li>
                                            <li>
                                                <small>09:30-13:00</small>
                                            </li>
                                           
                                        </ul>
                                    </div>
        
                                </li>
        
                                <li>
        
                                        <div class="employee-table-in">
                                            <ul>
                                                <li>
                                                    <div class="director">
                                                        <a href="#">
                                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                                width="38" height="38" alt="img">
                                                        </a>
                                                        <div class="director-block">
                                                            <h2>Crane Andy</h2>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <small>June 26</small>
                                                </li>
                                                <li>
                                                    <small>09:30-13:00</small>
                                                </li>
                                                
                                            </ul>
                                        </div>
            
                                </li>
        
                                <li>
        
                                        <div class="employee-table-in">
                                            <ul>
                                                <li>
                                                    <div class="director">
                                                        <a href="#">
                                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png"
                                                                width="38" height="38" alt="img">
                                                        </a>
                                                        <div class="director-block">
                                                            <h2>Crane Andy</h2>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <small>June 26</small>
                                                </li>
                                                <li>
                                                    <small>09:30-13:00</small>
                                                </li>
                                                
                                            </ul>
                                        </div>
            
                                </li>
                            </ul>
        
                        </div>

            </div>



        </div>

        <div class="clearfix"></div>

    </div>


    <div class="work-anniversary">

        <div class="work">
            <small>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
            </small>
            <h2>Work Anniversary</h2>
        </div>

        <div class="anniversary-lft pull-left">
            <ul>
                <li>
                    <a href="#" class="active">Pending</a>
                </li>
                <li>
                    <a href="#">Completed</a>
                </li>
            </ul>
            <div class="clearfix"></div>

        </div>

        <div class="company-manage pull-right">
            <a class="pull-left">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
            <ul class="pull-right">
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                            alt="img">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                            alt="img">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                            alt="img">
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>


        <div class="employee-self employee-work">

            <div id="myCarousel1" class="carousel slide">
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                            </ul>
                        </div>


                    </div>

                    <div class="item">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                            </ul>
                        </div>


                    </div>

                    <div class="item">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                    <h2>June 26</h2>
                                    <a href="#" class="btn">Let's Celebrate</a>
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <i class="fa fa-chevron-left fa-2x"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </a>

            </div>
        </div>

    </div>


    <div class="work-anniversary">

        <div class="work">
            <small>
                <img src="../../../../../../assets/images/company-settings/site-access/cake.png" width="18" height="22" alt="img">
            </small>
            <h2>BirthDay's</h2>
        </div>

        <div class="anniversary-lft pull-left">
            <ul>
                <li>
                    <a href="#" class="active">Pending</a>
                </li>
                <li>
                    <a href="#">Completed</a>
                </li>
            </ul>
            <div class="clearfix"></div>

        </div>

        <div class="company-manage pull-right">
            <a class="pull-left">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
            <ul class="pull-right">
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                            alt="img">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                            alt="img">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                            alt="img">
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>


        <div class="employee-self employee-work">

            <div id="myCarousel2" class="carousel slide">
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>
                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                            </ul>
                        </div>


                    </div>

                    <div class="item">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                            </ul>
                        </div>


                    </div>

                    <div class="item">
                        <div class="employee-data">
                            <ul>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                                <li class="col-md-2">
                                    <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                    <h3>Crane Andy</h3>
                                    <small>Manager</small>

                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <i class="fa fa-chevron-left fa-2x"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </a>

            </div>
        </div>

    </div>


    <div class="companies-block">

        <div class="company-list col-md-6">

            <div class="company-lft pull-left">
                <small>
                    <img src="../../../../../../assets/images/company-settings/site-access/list.png" width="16" height="23">
                </small>
                <h2>Company Links</h2>
            </div>

            <div class="company-manage pull-right">
                <h3 class="pull-left">Manage</h3>
                <ul class="pull-right">
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>


            <div class="compnay-sites">
                <ul>
                    <li>
                        <h4>Company</h4>
                        <span>Company Website</span>
                    </li>
                    <li>
                        <h4>Benifits</h4>
                        <span>Company Benifits</span>
                    </li>
                    <li>
                        <h4>Benifits</h4>
                        <span>Company Benifits</span>
                    </li>
                </ul>
            </div>

        </div>


        <div class="training col-md-6">

            <div class="company-lft pull-left">
                <small>
                    <img src="../../../../../../assets/images/company-settings/site-access/training.png" width="24" height="21">
                </small>
                <h2>Training</h2>
            </div>

            <div class="company-manage pull-right">
                <h3 class="pull-left">View My Training</h3>
                <ul class="pull-right">
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11"
                                alt="img">
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>


            <div class="compnay-sites">
                <ul>
                    <li>
                        <div class="training-left pull-left">
                            <h4>Unlawful Harassment</h4>
                            <a href="#">
                                <img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15"
                                    height="16" alt="img">
                            </a>
                            <p>Due Nov 30, -1</p>
                        </div>
                        <a href="#" class="btn pull-right">Past Due</a>
                        <div class="clearfix"></div>
                    </li>

                    <li>
                        <div class="training-left pull-left">
                            <h4>New Hire Training</h4>
                            <a href="#">
                                <img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15"
                                    height="16" alt="img">
                            </a>
                            <p>Due Nov 30, -1</p>
                        </div>
                        <a href="#" class="btn pull-right">Past Due</a>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="training-left pull-left">
                            <h4>Company Handbook Quiz</h4>
                            <a href="#">
                                <img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15"
                                    height="16" alt="img">
                            </a>
                            <p>Due Nov 30, -1</p>
                        </div>
                        <a href="#" class="btn pull-right">Past Due</a>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>


</div>