
.register-popup { text-align: center;}
.register-popup .modal-dialog { width:35%;}
.register-popup .modal-content {border-radius: 3px; padding: 40px 0;}
.register-popup .modal-header {padding: 25px 30px;}
.register-popup .modal-body { padding: 0; background: #fff;border-radius: 3px;}

.register-popup a img { margin:0 auto 15px;}
.register-popup h5{ color:#696767; font-size:18px;}

.time-zone { padding: 20px 0;}
.time-zone small { display: inline-block; vertical-align: middle; font-size: 17px; float:none; color:#757575;}
.time-zone span { display: inline-block; vertical-align: middle; text-align: left; float: none;}
.time-zone span .form-control { height: auto; padding:10px 12px;background: #f1f1f1;border: none;}
.time-zone span .form-control:focus{ border-color:transparent; box-shadow: none;}

.register-popup em { font-style: normal;color:#696767; font-size: 15px; display: block; padding: 0 0 15px;}

.register-popup p {color:#099247; font-size:20px;display: block; padding: 0 0 50px; font-weight: 500;}

.register-popup .btn { background: #099247; border-radius: 20px; color: #fff; text-align: center; 
padding:8px 50px; font-size: 17px;}

.register-popup .btm-popup{ border-top: #d0cccc 1px solid; padding: 20px 0 0; margin:50px 50px 0;}
.register-popup .btm-popup p {color:#696767; font-size: 15px; padding: 0; margin: 0 0 5px;}
.register-popup .btm-popup ul { display: block;}
.register-popup .btm-popup ul li { display: inline-block;} 
.register-popup .btm-popup ul li a { color: #276bb1; font-size: 18px;}