<div class="top-header">
  <div class="container">
    <div class="row">

      <a routerLink="/" class="pull-left"><img src="../../../assets/images/main-nav/Component 1@2x.png"
          alt="img"></a>
      <div class="top-header-rgt pull-right">
        <ul>
          <li><a routerLink="/zenwork-login" class="reg-log">Login</a></li>
          <li><a routerLink="/sign-up" class="sign">Sign Up</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
</div>


<div class="register">
  <div class="container">
    <div class="row">
      <div class="register-lft col-md-6">

        <h2>Register for a Demo</h2>
        <small>Our team is happy to answer your questions and <br> take you on a product demo.</small>

        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

          <ul>
            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/user.png" width="13" height="13" alt="img"></em>
                <input class="form-control" placeholder="Name" formControlName="name">
                <div class="clearfix"></div>
              </div>
              <div *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched"
                style="color:#e44a49; padding: 5px 0 0;">Please enter Name</div>
            </li>


            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/mail.png" width="13" height="9" alt="img"></em>
                <input class="form-control" placeholder="Email Address" formControlName="email">
                <div class="clearfix"></div>
              </div>
              <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
                style="color:#e44a49; padding: 5px 0 0;">Please enter Email</div>
            </li>

            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/phone.png" width="13" height="13" alt="img"></em>
                <input class="form-control" placeholder="Phone" formControlName="phone">
                <div class="clearfix"></div>
              </div>
              <div *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched"
                style="color:#e44a49; padding: 5px 0 0;">Please enter Phone</div>
            </li>

          </ul>

          <button type="submit" class="btn" data-toggle="modal" data-target="#myModal">Get Started</button>

        </form>

        <h4><span>or Sign in with</span></h4>

        <a href="#" class="google">
          <p><img src="../../../assets/images/authentication/google.png" width="18" height="18" alt="img"> </p>Sign up
          with Google
        </a>

      </div>

      <div class="register-lft col-md-6">
        <figure><img src="../../../assets/images/authentication/register.png" width="767" height="753" alt="img">
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



<div class="register-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
         
           <a href="#"> <img src="../../../assets/images/main-nav/Component 1@2x.png"  alt="img"></a>
            <h5>What time works best for you?</h5>
            
            <div class="time-zone">
                <small class="col-md-3">Time Zone: </small>
                <span class="col-md-5">
                  <mat-select class="form-control" placeholder="Time zone">
                    <mat-option [value]="country" *ngFor="let country of countrys">{{country}}</mat-option>
                  </mat-select>
                </span>
                <div class="clearfix"></div>
            </div>

            <h5>Select Day That works for you</h5>
            <div class="time-zone">
                
                <span class="col-md-4">
                  <mat-select class="form-control" placeholder="Years">
                    <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
                  </mat-select>
                </span>

                <span class="col-md-3">
                    <mat-select class="form-control" placeholder="Date">
                      <mat-option [value]="date" *ngFor="let date of dates">{{date}}</mat-option>
                    </mat-select>
                  </span>

                <div class="clearfix"></div>
            </div>

            <h5>Select Time that works for you</h5>

            <div class="time-zone">
                
                <span class="col-md-3">
                  <mat-select class="form-control" placeholder="Time">
                    <mat-option [value]="time" *ngFor="let time of times">{{time}}</mat-option>
                  </mat-select>
                </span>

                <small class="col-md-4" style="font-size:14px;">(Demo Length-30 Minutes)</small>

                <div class="clearfix"></div>
            </div>

            <em>Your Scheduled Slot</em>
            <p>20 January,2019 - Thursday -12:30PM</p>

            <button class="btn">Confirm your Slot</button>

            <div class="btm-popup">
                <p>2019 &copy; Copyright | Powered by Zenwork, Inc.</p>
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li> &nbsp; | &nbsp;</li>
                  <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>

        </div>

      </div>

    </div>
  </div>

</div>