<div class="login">
  <div class="container">
    <div class="row">

      <a routerLink="/"><img src="../../../assets/images/main-nav/Component 1@2x.png" alt="img"></a>

      <div class="login-in">

        <div class="login-lft col-sm-6">
          <h2>HRIS Management</h2>
          <small>Let Zenwork crunch the numbers while you focus on the big picture.</small>

          <h3>Login as</h3>
          
          <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

          <ul>

            <li>
                <mat-select class="form-control" formControlName="type">
                    <mat-option value="">Select</mat-option>
                    <mat-option value="employee">Employee</mat-option>
                    <mat-option value="reseller">Reseller</mat-option>
                    <mat-option value="company">Company</mat-option>
                  </mat-select>

            </li>
            
            <li>
              <div class="form-group">
                <em><img src="../../../assets/images/authentication/mail.png" width="13" height="9" alt="img"></em>
                <input  class="form-control" placeholder="User mail" formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <div class="clearfix"></div>
              </div>  
              <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="errors">
                  Please enter Email
                </div>
            </li>
            

            <li>
              <div class="form-group">
                  <em><img src="../../../assets/images/authentication/lock.png" width="10" height="13" alt="img"></em>
                <input  class="form-control" placeholder="Password" formControlName="password" [type]="passwordType">
                <b (click)="getview()" *ngIf="passwordType==='password'"> <img src="../../../assets/images/authentication/not-view.png" width="17" height="9" alt="img"></b>
                <strong (click)="getview()" *ngIf="passwordType==='text'"> <img src="../../../assets/images/authentication/view.png" width="17" height="14" alt="img"></strong>
                <div class="clearfix"></div>
              </div>  
              <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="errors">
                  Please enter password
                </div>
            </li>

            <li>
              <a class="forget" (click)="openDialog()">Forgot Password?</a>
            </li>
          </ul>

          <button type="submit" class="btn">Login</button>

        </form>
        
          
          
          <p>Don't Have an Account? <a routerLink="/sign-up">Get Started </a></p>
          <div class="clearfix"></div>

          <h4><span>or Login with</span></h4>

          <a  [href] = "enviUrl" class="google"><p><img src="../../../assets/images/authentication/google.png" width="18" height="18" alt="img"> </p>Google</a>

          <div class="company-logos">
            <ul>
              <li><a href="#"><img src="../../../assets/images/authentication/intuit.png" width="52" height="15" alt="img"></a></li>
              <li><a href="#"><img src="../../../assets/images/authentication/xero.png" width="78" height="24" alt="img"></a></li>
            </ul>
            <div class="clearfx"></div>
          </div>
        
        </div>


        <div class="login-rgt col-sm-6">
          <figure><img src="../../../assets/images/authentication/login-img.png" width="679" height="594" alt="img"></figure>
        </div>
        <div class="clearfix"></div>

      </div>


    </div>
  </div>
</div>



