.login { padding: 100px 0;}

.login a { display: inline-block;}


.login-in { padding: 50px 0 0;}

.login-lft { padding: 0;}
.login-lft h2 { color:#c1c2c1; font-size: 27px; line-height: 25px; font-weight: bold; padding: 0 0 10px;}
.login-lft small { color:#cccccc; font-size: 13px; line-height: 14px; padding: 0 0 20px; display: block;}

.login-lft h3 { color:#000; font-size: 16px; padding: 0 0 10px;}
.login-lft a.forget { color:#e44a49;font-size: 14px; line-height: 14px; margin: 5px 0 0; cursor: pointer;}

.login-lft ul { margin: 0 0 40px;}
.login-lft ul li { width: 56%; margin: 0 0 20px; position: relative;}
.login-lft ul li .form-group { background-color:#f8f8f8; border-radius: 4px; margin-bottom: 0;}
.login-lft ul li em { float: left; width:38px; padding: 4px 0 10px 10px; border-right: #c7c7c7 1px solid; margin: 6px 0; height: 30px;}
.login-lft ul li .form-control { border: none; box-shadow:none; height: auto; padding: 11px 12px; float:left; width: 87%; background-color:transparent;}
.login-lft ul li .form-control:focus { border:none; box-shadow: none;}
.login-lft ul li:nth-last-child(1) { background-color: transparent;}

.login-lft h4 { border-top:#e0e0e0 1px solid; position: relative;width: 50%; padding: 8px 0 0;}
.login-lft h4 span { 
    color: #9c9c9c;
    font-size: 13px;
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    display: inline-block;
    width: 40%;
    margin: 0 auto;
}

.login-lft .btn { color:#fff; padding: 10px 35px; border-radius: 30px;font-size: 15px; float: left; background: #099247; margin: 0 0 10px;}
.login-lft p { color:#2b7aca; font-size: 13px; float: left; padding: 12px 0 0 15px; margin: 0;}
.login-lft p a { color:#e44a49;}


.login-rgt { padding: 0;}
.login-rgt figure { display: block;}


.login-lft a p{ display: inline-block; float:none; padding: 0 10px 0 0; vertical-align: text-top;}
.login-lft a.google { color:#076c93;font-size: 14px; line-height:14px;border-radius:30px;text-align: center;
    background: #f1f9f4; padding:15px 0; width: 56%; font-weight: bold; margin: 5px 0 0;}


.company-logos { margin: 10px 0 0;}
.company-logos > ul { display: block;}
.company-logos > ul > li{ display:inline-block; margin: 0 10px 0 0; background-color: transparent; width: 27%;}
.company-logos > ul > li a { color:#076c93;font-size: 14px; line-height:14px;border-radius:30px;text-align: center;
background: #f1f9f4; padding:15px 0; font-weight: bold; width: 100%; cursor: pointer;}

.login-lft ul li b { position: absolute; top:10px; right:10px; cursor: pointer;}
.login-lft ul li strong { position: absolute; top:10px; right:10px; cursor: pointer;}


.errors {color:#e44a49; padding: 5px 0 0;}