<div class="scheduler-main-section">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a [routerLink]="['/admin/admin-dashboard/leave-management']">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Manager Self Service/mss.png" class="zenwork-inner-icon" alt="Company-settings icon">
      </span>
      <small class="sub-title"><b>Scheduler</b></small>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="main-navbar">
    <ul class="nav nav-tabs onboarding-tabs">
      <li routerLink="./holidays" routerLinkActive="active"><a routerLink="./holidays" routerLinkActive="active">Holidays</a></li>
      <li routerLink="./blackoutdates" routerLinkActive="active"><a routerLink="./blackoutdates">Blackout Dates</a></li>
      <li routerLink="./workschedules" routerLinkActive="active"><a routerLink="./workschedules">Work Schedules</a></li>

    </ul>
  </div>
  <router-outlet></router-outlet>