.zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    font-size: 13px;
    padding: 6px 20px;
    /* font-size: 10px; */
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 16px!important;
    padding: 0 0 0 5px;
    vertical-align: sub;
}
.mr-7{
    margin-right: 7px;
}
.zenwork-inner-icon{
    width: 33px;
    height: auto;
    vertical-align: text-bottom;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
    padding: 0 0 0 15px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.nav-tabs > li {
    padding: 0px 30px 0 0;
}
.main-navbar{
    margin: 20px 0 0 40px;
}
.onboarding-tabs li a{
    padding: 0px 10px;
}
.nav-tabs>li>a{
    border: 0;
    font-size: 16px;
}
.nav>li>a:hover{
    background: #f8f8f8;
}
.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    /* border: 1px solid transparent!important; */
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
}