<div class="field-accordion">

  <div class="panel-group" id="accordion1">

    <div class="panel panel-default border-bottom">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            General
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group">
            <p>
              Do you want to lock access to the site ?
            </p>
            <mat-select class="form-control zenwork-general-form-settings"
              [(ngModel)]="companyContactInfo.settings.general.lockAccessNeeded" name="lockAccessNeeded"
              #lockAccessNeeded="ngModel" required>

              <mat-option [value]=true>Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
            
          </div>

          <div class="form-group">
            <p>
              Do you want to boot all users currently in the site ?
            </p>

            <mat-select class="form-control zenwork-general-form-settings"
              [(ngModel)]="companyContactInfo.settings.general.bootAllUsersNeeded" name="bootAllUsersNeeded"
              #bootAllUsersNeeded="ngModel" required>
              <mat-option [value]=true>Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
           
          </div>
          <div class="form-group">
            <p>
              Do you want to post a message on the front page of the site before logging in?
            </p>
            <mat-select class="form-control zenwork-general-form-settings"
              [(ngModel)]="companyContactInfo.settings.general.messageOnFrontPageNeeded" name="messageOnFrontPageNeeded"
              #messageOnFrontPageNeeded="ngModel" required>
              <mat-option [value]=true>Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
           
          </div>
          <div *ngIf="companyContactInfo.settings.general.messageOnFrontPageNeeded == true" class="form-group">
            <textarea class="form-control zenwork-br-zero zenwork-text-area-settings" rows="4"
              placeholder="Front page message" [(ngModel)]="companyContactInfo.settings.general.messageOnFrontPage"
              name="messageOnFrontPage" #messageOnFrontPage="ngModel" maxlength="1000" required></textarea>
            <p *ngIf="!companyContactInfo.settings.general.messageOnFrontPage && messageOnFrontPage.touched || (!companyContactInfo.settings.general.messageOnFrontPage && isValid)"
              class="error">Please fill this field</p>
          </div>

        </div>

      </div>
    </div>

    <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#company-info">
            Company Information
          </a>
        </h4>
      </div>
      <div id="company-info" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-4 company-legal-info">
                <div class="row">
                  <div class="form-group">
                    <p>Company Legal Name*</p>
                    <input type="text" class="form-control company-legal-name"
                      [(ngModel)]="companyContactInfo.companyDetails.name" name="name" #name="ngModel" required>
                    <p *ngIf="!companyContactInfo.companyDetails.name && name.touched || (name.touched && !companyContactInfo.companyDetails.name && isValid)"
                      class="error">Please fill this field</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 company-legal-info">
                <div class="row">
                  <p>FEIN(Federal Employer ID Number)*</p>
                  <input class="form-control company-legal-name" [(ngModel)]="companyContactInfo.companyDetails.fein"
                    name="fein" #fein="ngModel" mask="00-00000000" maxlength="10" minlength="10"
                    [dropSpecialCharacters]="false" required>
                  <p *ngIf="!companyContactInfo.companyDetails.fein && fein.touched || (fein.touched && !companyContactInfo.companyDetails.fein && isValid)"
                    class="error">Please fill this field</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default border-bottom">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#cmpny-address">
            Company Address
          </a>
        </h4>
      </div>
      <div id="cmpny-address" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-4 company-legal-info">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" placeholder="Street 1 *" class=" form-control company-legal-name"
                        [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.address1" name="address1"
                        #address1="ngModel" required>
                      <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.address1 && address1.touched || (address1.touched && !companyContactInfo.companyDetails.primaryAddress.address1 && isValid)"
                        class="error">Please fill this field</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-4 company-legal-info">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" placeholder="Street 2 *" class=" form-control company-legal-name"
                        [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.address2" name="address2"
                        #address2="ngModel" required>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 company-address">
              <div class="row">
                <div class="col-xs-2 company-address-city">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" placeholder="City *" class=" form-control company-legal-name" onkeypress="return (event.charCode > 64 && 
                          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                        [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.city" name="city" #city="ngModel"
                        required>
                      <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.city && city.touched || (city.touched && !companyContactInfo.companyDetails.primaryAddress.city && isValid)"
                        class="error">Please fill this field</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 company-address-state">
                  <div class="row">
                    <mat-select class="form-control" placeholder="State"
                      [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.state"
                      (ngModelChange)="comapanyConactCountrty()" name="state" #state="ngModel" required>
                      <mat-option *ngFor="let data of stateArray" value='data.name'>
                          {{data.name}}</mat-option>
                    </mat-select>
                    <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.state && state.touched || (!companyContactInfo.companyDetails.primaryAddress.state && isValid)"
                      class="error">Please fill this field</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" placeholder="Zip *" maxlength="5" (keypress)="keyPress($event)"
                        class=" form-control company-legal-name"
                        [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.zipcode" name="zipcode"
                        #zipcode="ngModel" (ngModelChange)="phoneNumberChange('primaryAddress','zipcode')" required>
                      <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.zipcode && zipcode.touched || (zipcode.touched && !companyContactInfo.companyDetails.primaryAddress.zipcode && isValid)"
                        class="error">Please fill this field</p>
                        <p *ngIf = "zipcodeCompanyAddress" class="error"> Please enter numeric values</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-2 company-address-state">
                  <div class="row company-address">
                    <mat-select class="form-control" placeholder="Country"
                      [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.country" name="country"
                      #country="ngModel" required>
                      <mat-option *ngFor="let data of countryArray" [value]='data.name'>
                          {{data.name}}</mat-option>
                    </mat-select>
                    <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.country && country.touched || (country.touched && !companyContactInfo.companyDetails.primaryAddress.country && isValid)"
                      class="error">Please fill this field</p>
                  </div>
                </div>
                <div class="col-xs-2 company-address-state">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" [(ngModel)]="companyContactInfo.companyDetails.primaryAddress.phone"
                        placeholder="Telephone Number *" maxlength="10" (ngModelChange)="phoneNumberChange('primaryAddress','phone')" (keypress)="keyPress($event)"
                        class=" form-control company-legal-name" name="phone" #phone="ngModel" required>
                      <p *ngIf="!companyContactInfo.companyDetails.primaryAddress.phone && phone.touched || (phone.touched && !companyContactInfo.companyDetails.primaryAddress.phone && isValid)"
                        class="error">Please fill this field</p>
                        <p *ngIf = "phoneCompanyAddress" class="error">Please enter numeric values </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#compny-info-primary">
            Company Contact (Primary)
          </a>
        </h4>
      </div>
      <div id="compny-info-primary"
        class="panel-collapse                                                                                                                                                                                                                                                 collapse">
        <div class="panel-body">
          <div class="administration-contact">

            <ul>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-3">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" class="form-control" placeholder="Work Email*"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    [(ngModel)]="companyContactInfo.companyDetails.primaryContact.email"
                    (ngModelChange)="emailStatus($event)" name="email1" #email1="ngModel" required>
                  <p *ngIf="!companyContactInfo.companyDetails.primaryContact.email && email1.touched || (!companyContactInfo.companyDetails.primaryContact.email && isValid)"
                    class="error">Please fill this field</p>
                  <p *ngIf=companyContactInfo.companyDetails.primaryContact.email
                    [hidden]="companyContactInfo.companyDetails.primaryContact.email.untouched || email1.valid "
                    class="error">Please
                    enter a valid email </p>
                </div>
              </li>

              <span *ngIf="companyContactInfo.companyDetails.primaryContact.isEmailVerified"
                class="verify-email-btn">Verified</span>
              <button class="verify-email-btn" [ngClass]="{'emailverification':!emialFirstDisable}"
                *ngIf="!companyContactInfo.companyDetails.primaryContact.isEmailVerified" [disabled]="emialFirstDisable"
                (click)="sendVerificationEmail(companyContactInfo.companyDetails.primaryContact.email)">
                Verify </button>

              <div class="clearfix"></div>
              <li class="col-md-3 phone-width">
                <div class="phone">
                  <span>

                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" (keypress)="keyPress($event)" maxlength="10" class="form-control"
                    placeholder="Work Phone*" [(ngModel)]="companyContactInfo.companyDetails.primaryContact.phone"
                    name="phone1" #phone1="ngModel" (ngModelChange)="phoneNumberChange('primaryContact','phone')"
                    required>
                  <p *ngIf="!companyContactInfo.companyDetails.primaryContact.phone && phone1.touched || (phone1.touched && !companyContactInfo.companyDetails.primaryContact.phone && isValid)"
                    class="error">Please fill this field</p>
                  <p *ngIf="phoneNumeric" class="error">Please enter numeric values</p>
                </div>
              </li>
              <li class="col-md-2 ">

                <input type="text" (keypress)="keyPress($event)" class="form-control" maxlength="4" placeholder="Extn"
                  [(ngModel)]="companyContactInfo.companyDetails.primaryContact.extention"
                  (ngModelChange)="phoneNumberChange('primaryContact','extention')" name="extention"
                  #extention="ngModel" required>
                <p *ngIf="!companyContactInfo.companyDetails.primaryContact.extention && extention.touched || (extention.touched && !companyContactInfo.companyDetails.primaryContact.extention && isValid)"
                  class="error">Please fill this field</p>
                <p *ngIf="extentionNumeric" class="error">Please enter numeric values</p>
              </li>

              <div class="clearfix"></div>
              <li class="col-md-3 phone-width">
                <div class="phone">
                  <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span>
                  <input type="text" (keypress)="keyPress($event)" maxlength="10" class="form-control"
                    placeholder="Mobile Phone*"
                    [(ngModel)]="companyContactInfo.companyDetails.primaryContact.mobilePhone" name="mobilePhone"
                    #mobilePhone="ngModel" (ngModelChange)="phoneNumberChange('primaryContact','mobilePhone')" required>
                  <p *ngIf="!companyContactInfo.companyDetails.primaryContact.mobilePhone && mobilePhone.touched || (mobilePhone.touched && !companyContactInfo.companyDetails.primaryContact.mobilePhone && isValid)"
                    class="error">Please fill this field</p>
                  <p *ngIf="mobilePhoneNumeric" class="error">Please enter numeric values</p>
                </div>
              </li>
            </ul>

            <ul>

              <!-- <li>
                      <h4>Phone</h4>
                    </li>
    
                    <li class="col-md-3 phone-width">
                      <div class="phone">
                        <span>
                          <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                            height="16" alt="img">
                        </span>
                        <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyContactInfo.workEmail">
                      </div>
                    </li>
    
                    <li class="col-md-3 phone-width">
                      <div class="phone">
                        <span>
                          <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Home Email" [(ngModel)]="companyContactInfo.homeEmail">
                      </div>
                    </li> -->
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="panel panel-default panel-border-remove" style="border-bottom:none;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#compny-info-secondary">
            Company Contact (Secondary)
          </a>
        </h4>
      </div>
      <div id="compny-info-secondary" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="administration-contact">

            <ul>
              <li>
                <h4>Email</h4>
              </li>
              <li class="col-md-3">
                <div class="phone">
                  <span>
                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" class="form-control" placeholder="Work Email*"
                    [(ngModel)]="companyContactInfo.companyDetails.secondaryContact.email"
                    (ngModelChange)="emailStatus2()" name="email" #email="ngModel" required>
                  <p *ngIf="!companyContactInfo.companyDetails.secondaryContact.email && email.touched || (!companyContactInfo.companyDetails.secondaryContact.email && isValid)"
                    class="error">Please fill this field</p>
                </div>
              </li>
              <span *ngIf="companyContactInfo.companyDetails.secondaryContact.isEmailVerified"
                class="verify-email-btn">Verified</span>
              <span class="disable">
                <button [ngClass]="{'emailverification':!emialSecondDisable}" class="verify-email-btn"
                  data-title="Dieser Link führt zu Google"
                  *ngIf="!companyContactInfo.companyDetails.secondaryContact.isEmailVerified"
                  [disabled]="emialSecondDisable"
                  (click)="sendVerificationEmail(companyContactInfo.companyDetails.secondaryContact.email)">
                  Verify </button>
              </span>
              <li class="col-md-3 phone-width">
                <div class="phone">
                  <span>

                    <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                      height="16" alt="img">
                  </span>
                  <input type="text" (keypress)="keyPress($event)" maxlength="10" class="form-control"
                    placeholder="Work Phone*" [(ngModel)]="companyContactInfo.companyDetails.secondaryContact.phone"
                    name="phone2" (ngModelChange)="phoneNumberChange('secondaryContact','phone')" #phone2="ngModel"
                    required>
                  <p *ngIf="!companyContactInfo.companyDetails.secondaryContact.phone && phone2.touched || (!companyContactInfo.companyDetails.secondaryContact.phone && isValid)"
                    class="error">Please fill this field</p>
                  <p *ngIf="phoneSecondary" class="error">please enter numeric values</p>
                </div>
              </li>
              <li class="col-md-2 ">

                <input type="text" class="form-control" (keypress)="keyPress($event)" maxlength="4" placeholder="Extn"
                  [(ngModel)]="companyContactInfo.companyDetails.secondaryContact.extention"
                  (ngModelChange)="phoneNumberChange('secondaryContact','extention')" name="extention2"
                  #extention2="ngModel" required>
                <p *ngIf="!companyContactInfo.companyDetails.secondaryContact.extention && extention2.touched || (extention2.touched && !companyContactInfo.companyDetails.secondaryContact.extention && isValid)"
                  class="error">Please fill this field</p>
                <p *ngIf="extentionSecondary" class="error">please enter numeric values</p>
              </li>
              <div class="clearfix"></div>
              <li class="col-md-3 phone-width">
                <div class="phone">
                  <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" (keypress)="keyPress($event)" maxlength="10"
                    placeholder="Mobile Phone*"
                    [(ngModel)]="companyContactInfo.companyDetails.secondaryContact.mobilePhone"
                    (ngModelChange)="phoneNumberChange('secondaryContact','mobilePhone')" name="mobilePhone2"
                    #mobilePhone2="ngModel" required>
                  <p *ngIf="!companyContactInfo.companyDetails.secondaryContact.mobilePhone && mobilePhone2.touched || (mobilePhone2.touched && !companyContactInfo.companyDetails.secondaryContact.mobilePhone && isValid)"
                    class="error">Please fill this field</p>
                  <p *ngIf="mobilephoneSecondary" class="error">please enter numeric values</p>
                </div>
              </li>
            </ul>

            <ul>

              <!-- <li>
                        <h4>Phone</h4>
                      </li>
      
                      <li class="col-md-3 phone-width">
                        <div class="phone">
                          <span>
                            <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                              height="16" alt="img">
                          </span>
                          <input type="email" class="form-control" placeholder="Work Email" [(ngModel)]="companyContactInfo.workEmail">
                        </div>
                      </li>
      
                      <li class="col-md-3 phone-width">
                        <div class="phone">
                          <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                          </span>
                          <input type="email" class="form-control" placeholder="Home Email" [(ngModel)]="companyContactInfo.homeEmail">
                        </div>
                      </li> -->
            </ul>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>



<div class="buttons">
  <ul class="list-unstyled">
    <li class="list-items">
      <a class="back" (click)="previousPage()">Back</a>
    </li>
    <li class="list-items">
      <a class="cancel" (click)="cancelReset()">Cancel</a>
    </li>
    <li class="list-items pull-right">
      <button class='save' type="submit" (click)="saveCompanySetup()">
        Save Changes
      </button>
    </li>

    <div class="clearfix"></div>
  </ul>
</div>