.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}

.error{
    font-size:12px !important;
    color: #f44336 !important;  
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}

.zenwork-general-form-settings{
    width: 18%!important;
    border-radius: 0px!important; border: none; box-shadow: none; height:auto;padding: 10px 12px;
}

.zenwork-br-zero{
    border-radius: 0px!important;border: none;box-shadow: none; height: 120px; resize: none; padding: 10px; line-height: 20px;
}


/*--------- This is my code -------*/

.field-accordion { padding:20px 0;}
.field-accordion p {color: #565555;font-size: 15px;}

.field-accordion .panel-default>.panel-heading { padding: 20px 0; background-color:transparent !important; border: none;}
.field-accordion .panel-title { color: #5a5959; display: inline-block; font-size: 18px;}
.field-accordion .panel-title a:hover { text-decoration: none;color: #5a5959;}
.field-accordion .panel-title a:focus{color: #5a5959;}
.field-accordion .panel-title>.small, .field-accordion .panel-title>.small>a, .field-accordion .panel-title>a, .field-accordion .panel-title>small, .field-accordion .panel-title>small>a { text-decoration:none;}
.field-accordion .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.field-accordion .panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: grey;}

.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:6px 10px 0; font-size: 12px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top:0;}
.field-accordion .panel-heading { position: relative;}


.administration-contact { display: block; padding: 0 0 20px;}
.administration-contact ul { margin: 0 0 30px;}
.administration-contact ul li {margin: 0 20px 15px 0; padding: 0;}
.administration-contact ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.administration-contact ul li .phone { display: block; background:#fff; padding: 0 10px; height:45px;  clear: left;}
.administration-contact ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.administration-contact ul li .phone span .fa { color: #636060;
    font-size: 23px;
    line-height: 20px;
    width: 18px;
    text-align: center;}
.administration-contact ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 80%; border: none; background:transparent; box-shadow: none; padding:12px;line-height:inherit;}
.administration-contact ul li .form-control { display: inline-block;vertical-align: middle; width: 40%; border: none; background:#fff; box-shadow: none; height: 40px; line-height: 40px; padding: 0 10px;}
.administration-contact ul li.phone-width {  clear:left;width: 16%}

.administration-contact .btn {border-radius: 20px; height:40px; line-height:38px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:30px 0 0; float:left;}
.administration-contact .btn:hover {background: #008f3d; color:#fff;}


.company-legal-info{
    margin: 0 30px 0 0;
}
.company-legal-name{
    border: none;
    box-shadow: none;
    height: auto;
    padding: 12px;
}
.panel-border-remove{
    border-bottom:none !important;
}
.company-address-city{
    width: 16%;
    margin: 0 15px 0 0;
}
.company-address-state{
    width: 16%;
    margin: 0 15px 0 0;
}
.verify-email-btn{
    display: inline-block;
    padding: 10px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #ccc;
}
.verify-email-btn.disabled {
    color: #f00;
}
.emailverification{
    color: #000;
}
.buttons{
    margin:0 0 30px;
}
.buttons ul li{
    display: inline-block;
    padding: 0px 10px;
}

.buttons ul li .back{
    border: 1px solid #a9a6a6;
    padding: 7px 30px;
    border-radius: 31px;
    color: #000;
    background: #fff;display: block;
}
.buttons ul li .save{

    border:none;
    padding: 7px 30px;
    border-radius: 31px;
    color: #fff;
    background:#429348; font-size: 16px;
}
.buttons ul li .cancel{
    color:#e5423d;
    cursor: pointer;
}
.buttons ul li .save:focus{outline: none;border: none;}