<div class="holidays-main-tab">
  <div class="field-accordion">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_currentschedule">
              <div class="resumes-field-heading">
                <p>Holidays 
                  <span *ngIf="year">{{year}}</span>
                </p>
              </div>
            </a>
          </h4>
          <div class="pull-right col-md-2">
              <mat-select class="form-control select-btn1" placeholder="Year" [(ngModel)]="year" (ngModelChange)="yearFilter(year)">
                  <mat-option [value]="2019">2019</mat-option>
                  <mat-option [value]="2020">2020</mat-option>
                  <mat-option [value]="2021">2021</mat-option>
                  <mat-option [value]="2022">2022</mat-option>

                </mat-select> 
          </div>
         
        </div>
        <div id="collapse_currentschedule" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="custom-tables">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                    
                    </th>
                    <!-- <th>
                        <mat-select class="form-control select-btn" placeholder="Country">
                            <mat-option value="India">
                                <img src="./assets/images/leave-management/India.png">
                            </mat-option>
                            <mat-option [value]="USA">
                                <img src="./assets/images/leave-management/USA.png">
                            </mat-option>
                          </mat-select> 
                    </th> -->
                    <th>Location</th>
                    <th>Name</th>
                    <th>Date Observance</th>
                  
                    <th>
                      <mat-icon class="cursor" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                     <mat-menu #menu1="matMenu">
                  <button *ngIf="!checkHolidaysIds.length >=1" mat-menu-item (click)="openHolidayModel()"> Add </button>
                  <button *ngIf="(!checkHolidaysIds.length <=0) && (checkHolidaysIds.length ==1)" mat-menu-item (click)="editHoliday()"> Edit </button>
                  <button *ngIf="!checkHolidaysIds.length >=1" mat-menu-item (click)="loadHolidays()"> Load Holidays </button>
                  <button *ngIf="(!checkHolidaysIds.length <=0) && (checkHolidaysIds.length >=1)" mat-menu-item (click)="deleteHolidays()"> Delete </button>

                </mat-menu>
                    </th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr *ngFor="let holiday of holidayList">

                    <td [ngClass]="{'zenwork-checked-border': holiday.isChecked}">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="holiday.isChecked" (change)="checkedHolidays($event, holiday._id)">
                     
                      </mat-checkbox>

                    </td>
                    
                    <td>
                        <!-- <mat-select class="form-control select-btn" [(ngModel)]="holiday.location_id" [disabled]="disableField">
                            <mat-option *ngFor="let location of allLocation" [value]="location._id">{{location.name}}</mat-option>
                          </mat-select>  -->
                          {{holiday.location_id.name}}
                    </td>
                    <td>
                      {{holiday.holiday_name}}
                    </td>
                   <td>
                    {{holiday.holiday_date | date: 'MM/dd'}}
                   </td>
                    <td></td>
                  </tr>


                  </tbody>
                  <tr *ngFor="let holiday of loadHolidaysList; let i=index;">

                    <td [ngClass]="{'zenwork-checked-border': holiday.isChecked}">
                      <mat-checkbox class="checkbox-success" [(ngModel)]="holiday.isChecked" (ngModelChange)="loadHolidayData(holiday.name, holiday.date, i)">
                     
                      </mat-checkbox>

                    </td>
                    
                    <td>
                        <!-- <mat-select class="form-control select-btn" [(ngModel)]="holiday.location_id">
                            <mat-option *ngFor="let location of allLocation" [value]="location._id">{{location.name}}</mat-option>
                          </mat-select>  -->
                    </td>
                    <td>
                      {{holiday.name}}
                    </td>
                   <td>
                    {{holiday.date | date: 'MM/dd'}}
                   </td>
                    <td></td>
                  </tr>
              </table>
            </div>
            <!-- <div class="form-group button-section">
                <ul class="submit-buttons list-unstyled">
                    <li class="list-item">
                        <button class="btn btn-style"> cancel </button>
                      </li>
                  <li class="list-item pull-right">
                    <button class="btn btn-success btn-style" (click)="createHolidays()"> Save Holidays </button>
                  </li>
                 
                </ul>
              </div> -->
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>