
/* accordian */
.field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


.field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
    position: relative;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
}
.field-accordion .panel-title a{
    display: inline-flex;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.main-punches-filters {
    position: absolute;
    top: 15px;
    right: 28px;
}
.main-punches-filters .search-category .list-items{
    display: inline-block;
    padding: 0px 10px;
    /* margin: 5px; */
    position: relative;
    font-size: 15px;
}


    .holidays-main-tab{
        margin: 20px 0 0 30px;
    }
.resumes-field-heading small{
    font-size: 15px;
}

.custom-tables { margin: 0 auto; float: none; padding: 30px 30px 0 5px;}
.custom-tables .table {background: #fff;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 13px;}
.custom-fields .checkbox{ margin: 0;}


.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:2px 0 0 4px; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 3px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}

  .submit-buttons .list-item {
    display: inline-block;
    padding: 0px 10px;
    }
.submit-buttons .btn-success {
    background-color: #439348;
  }
.btn-style {
    padding: 4px 20px !important;
    border-radius: 30px!important;
    /* font-size: 12px; */
    }

    .text-fields {
        width: 60%;
        border: 1px solid #fff;
        box-shadow: none;
        background: #fff;
        padding: 4px 3px 0 7px;
        height: 38px;
    }

    .zenwork-checked-border:after { 
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        border-right: #83c7a1 4px solid;
        height: 100%;
        border-radius: 4px;
        padding: 25px;
        }

        .date { height: 38px !important; line-height:inherit !important; width:45% !important;}
        .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
        height: 30px; min-width: auto;}
        
        .date span { border: none !important; padding: 0 !important;}
        .date .form-control { width:82%; height: auto; padding: 12px 0 12px 10px;}
        .date .form-control:focus { box-shadow: none; border: none;}
        .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
        .rows-bg {
            background: #f8f8f8;
        }        
        .select-btn {
            padding-top: 10px;
        }
        .select-btn1 {
           
            border: 1px solid #fff;
            box-shadow: none;
            background: #fff;
            margin: 0 0px 0 -15px;
        }