<div class="container-fluid zenwork-custom-height">
<div class="zenwork-currentpage">
  <p class="zenwork-margin-zero">
    <a [routerLink]="['/admin/admin-dashboard/employee-management/on-boarding/on-boarding']">    
    <button class="btn zenwork-customized-back-btn">
        <span class="green mr-7">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>Back  
    </button>
  </a>
  <span class="inner-icon-img">
    <img src="../../../assets/images/Onboarding/Group 828.png" class="zenwork-inner-icon" alt="Company-settings icon">
   </span>
    <small class="sub-title"><b>New Hire HR + Time</b></small>
  </p>
  <hr class="zenwork-margin-ten-zero">
</div>
<div class="main-newhirehrtime col-md-11">
<div class="green zenwork-padding-25-zero">
  Details
  <span class="caret"></span>
</div>
<div class="form-group">
  <ul class="list-unstyled name-list">
    <li class="list-name-field">
      <label>First Name</label><br>
      <input type="text" name="fname" class="names">
    </li>
    <li class="list-name-field">
      <label>Middle Name</label><br>
      <input type="text" name="fname" class="names">
    </li>
    <li class="list-name-field">
      <label>Last Name</label><br>
      <input type="text" name="fname" class="names">
    </li>
    <li class="list-name-field">
      <label>Prefered Name</label><br>
      <input type="text" name="fname" class="names">
    </li>
  </ul>
  <ul class="list-unstyled birth-date">
    <li class="birth-date-list padding10-listitems">
      <label>Birth Date</label><br>
      <input class="form-control" 
      #dpMDY="bsDatepicker" 
      bsDatepicker
      formControlName="myDateMDY" 
      [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" 
      placeholder="mm/dd/yyyy" 
      name="birth-date"
      class="birthdate">
      <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon" alt="Company-settings icon"
        (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">

    </li>
  </ul>
  <ul class="list-unstyled gender">
    <li class="gender-list padding10-listitems">
      <label>Gender</label>
      <select class="form-control zenwork-structure-settings">
        <option>male</option>
        <option>female</option>
      </select>
    </li>
  </ul>
  <hr class="zenwork-margin-twenty-zero">
  <div class="address">
    <div class="green zenwork-padding-20-zero">
      <label class="time-off-policy">Time off policy</label>
      <span class="caret"></span>
    </div>
      <ul class="list-unstyled birth-date">
        <li class="birth-date-list padding10-listitems">
        
          <input class="form-control"  
          #dpMDY1="bsDatepicker" 
          bsDatepicker
          formControlName="myDateMDY" 
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" 
          placeholder="mm/dd/yyyy" 
          name="birth-date"
          class="birthdate">
          <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon-time" alt="Company-settings icon"
            (click)="dpMDY1.toggle()" [attr.aria-expanded]="dpMDY1.isOpen">
    
        </li>
        </ul>
   
  </div>
</div>
<div class="zenwork-setting">
    <button class="btn">Save Changes</button>
    <button class="btn">Cancel</button>
  </div>
</div>
</div>