.zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
}
.zenwork-custom-height{
    height: 100vh;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.mr-7{
    margin-right: 7px;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.main-newhirehrtime{
    float: none;
    padding: 0;
    margin: 0 auto;
}
.zenwork-padding-25-zero{
    padding: 25px 0 10px 10px!important;
}
.zenwork-general-form-settings{
    width: 18%!important;
    border-radius: 0px!important;
}
.name-list .list-name-field{
    display:inline-block;
    padding:0px 10px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
label{
    font-weight: normal;
    line-height: 30px;
}
.zenwork-currentpage .sub-title b{
    font-size: 14px!important;      
}
.birth-date .padding10-listitems{
    padding: 0px 10px;
    display: inline-block;
    position: relative;
}
.birth-date-list{
    width: 21%;
}
.birthdate{
    width: 180px;
    font-size: 12px;
    padding: 0 0 0 10px;
}
/* input {
    height:30px;
} */
.birth-date{
    position:relative;
}
.calendar-icon{
    position: absolute;
    top: 38px;
    width: 15px;
    right: 18px;
}
.calendar-icon-time{
    position: absolute;
    top: 8px;
    width: 15px;
    right: 18px;
}
.zenwork-structure-settings{
    width: 180px!important;
    border-radius: 0px!important;
    height:30px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gender-list{
    padding:0px 10px;
}
input{
    height:30px;
    border:0;
    width: 180px;
}
select{
    font-size: 10px;
}
.zenwork-margin-twenty-zero{
    margin: 20px 0px!important;
}
.time-off-policy{
    font-weight: 600;
    padding-left:10px;
}

.zenwork-setting .btn {border-radius: 20px; height: 33px; line-height: 30px; color:#000; font-size: 15px; padding: 0 24px; background:transparent; margin:20px 0 0;}
.zenwork-setting .btn:hover {background: #008f3d; color:#fff;}