.employee-management-landing{
    padding: 0 0px 0 0;
}
.zenwork-jumbotron-bg{
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    box-shadow: -1px 1px 37px -5px rgba(0,0,0,0.37);
    float: none;
    margin: 0 auto;
}
.jumbotron{
    padding-top: 55px;
    padding-bottom: 55px;
    /* margin: 0 30px; */
}
.zenwork-currentpage{
    padding-top: 40px;
}
.zenwork-currentpage span{
    padding: 0 0 0 10px;
    font-size: 16px; vertical-align: middle;
}
.main-employee{
    width: 30px
}
.margin-bottom-20{
    margin: 0 0 20px 0;
}
.margin-top-20{
    margin: 20px 0 0 0;
}
.zenwork-custom-company-settings{
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e4eae7;

}

.zenwork-custom-company-settings a{
    color : #3e3e3ea3;
    text-decoration: none;
}
.jumbotron p{
    font-size: 18px !important;
    color: #3f3e3f;
    font-weight: normal !important; padding: 0 0 5px;
}

.settings-icon{
    width: 40px;
}

.zenwork-settings-wrapper{
    padding: 20px; 
}
small{
    font-size: 12px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
/* css :starts */
.employee-details{
    margin:40px 0 0 0;
    border-bottom: 1px solid #e4eae7;
    padding: 0px 0 20px;
    float: none;
    margin: 40px auto;
}


.content-total-employ>.number-employees > span{
    color:#c0c1c0;
}

.img-employee{
    /* width: 85px;
    float: left; */
    display: inline-block;
    vertical-align: middle;
}
.total-employee{
    margin: 0 auto;
}
.tab-content{
    padding: 40px 20px;
    background: #fff;
}
.nav-tabs>li>a {
    border:none! important;
}
.content-total-employee{
    width: 207px;
    display: inline-block;
    vertical-align: middle;
}
.content-of-employee{
    /* margin: 0 30px; */
}
.content-total-employee .number-employees{
    color:#3bafba;
    font-weight: 600;
    font-size: 35px;
} 
.report-table{
    /* border: 1px solid #bebebe; */
    background: #fff;   
}  
.table-heading{
    padding: 5px 5px 5px 0px;
    /* border-bottom: 1px solid #bebebe; */
    background-color:#edf7fe;
}
.today-report{
    margin:20px auto;
    float: none;
}
.table-data{
    padding-top:40px;
    background: #fff;
}
.list-items-carousel{
    display: inline-block;
    padding: 0px 35px;  
}
.list-images{
    margin: 0 auto;
}
.employees-content{
    font-size:14px;
    display: inline-block;
}
.employees-content span{
    display: inline-block;
    vertical-align: middle;
}
.employe-reports{
    text-align: center;
    margin:0;
    position: relative;

}
.employe-reports .fa-caret-left{
    position: absolute;
    top: 20px;
    left: 25px
}
.employe-reports .fa-caret-right{
    position: absolute;
    top: 20px;
    right: 50px;
}
.working{
    /* padding-left: 12px; */
}
.medical-leave{
    padding-left:30px;
}
.employees-number{
    font-weight: 400;
    font-size: 30px;
    color: #bebebe;
}
.border-top{
    border-top: 1px solid #e4eae7;
}
.border-right{
    border-right: 1px solid #e4eae7;
}
.custom-height-mss{
    height: 157px;
}
.name-dropdown{
    width: 75px;
    height: 30px;
    font-size: 14px;
    padding: 6px 12px 6px 3px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: none;   
}
.filter-list .list-items{
    display: inline-block;
    padding: 0px 5px;
}
.filter-list .list-items label{
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    padding: 0px 15px;
}
.heading{
    color:#3f4143;
}
.filter-list {
    margin: 0;
}
.calender-icon{
    width: 15px;
}

.onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    border-top: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    /* border: 1px solid transparent!important; */
    border-top: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
}
.onboarding-tabs{
    border-bottom: 0;
}
.onboarding-tabs>li>a{
    margin:0 30px;
}