<div class="employee-management-landing">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <img src="../../../assets/images/employee-management/employee.png" alt="employee icon" class="main-employee ">
      <span>Employee Management</span>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>
  <div class="zenwork-custom-company-settings">
    <div class="jumbotron zenwork-jumbotron-bg col-md-11">

    <div class="col-xs-4 text-center border-right margin-bottom-20">
        <div class="zenwork-settings-wrapper" style="cursor: pointer;">
          <a (click) = "empManagement()" >
            <img src="../../../assets/images/employee-management/onboard.png" alt="on-boarding icon" class="center-block">
            <div class="margin-top-20">
              <p class="zenwork-margin-zero">
                Onboarding
              </p>
              <small>Hire new employees, Onboard templates, <br> New Hire Wizard</small>
            </div>
          </a>
        </div>
      </div>


      <div class="col-xs-4 text-center border-right margin-bottom-20">
        <div class="zenwork-settings-wrapper">
          <a [routerLink]="['/admin/admin-dashboard/employee-management/directory/directory']">
            <img src="../../../assets/images/employee-management/directory.png" alt="Directory icon" class=" center-block">
            <div class="margin-top-20">
              <p class="zenwork-margin-zero">
                Directory
              </p>
              <small>Search for coworkers and <br> mass updates</small>
            </div>
          </a>
        </div>
      </div>
     
      <div class="col-xs-4 text-center margin-bottom-20">
        <div class="zenwork-settings-wrapper">
          <a [routerLink]="['/admin/admin-dashboard/employee-management/off-boarding-landing/off-boarding-landing']">
            <img src="../../../assets/images/employee-management/off-board.png" alt="off-boarding icon" class="center-block">
            <div class="margin-top-20">
              <p class="zenwork-margin-zero">
                Offboarding
              </p>
              <small>Terminate employees,<br> Offboard Templates</small>
            </div>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="border-top">
        <div class="col-xs-6 text-center border-right margin-top-20">
          <div class="zenwork-settings-wrapper">
            <a [routerLink]="['/admin/admin-dashboard/employee-management/manager-self-service']">
              <img src="../../../assets/images/employee-management/ms-service.png" alt="manager-self icon" class=" center-block">
              <div class="margin-top-20">
                <p class="zenwork-margin-zero">
                  <span class="heading"> Manager self Service</span>
                </p>
                <small>Manager Reports, Approvals <br> and Requests</small>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 text-center custom-height-mss margin-top-20">
          <div class="zenwork-settings-wrapper">
            <a [routerLink]="['/admin/admin-dashboard/employee-management/employee-self-service/employee-self-service']">
              <img src="../../../assets/images/employee-management/em-service.png" alt="employee-self icon" class="center-block">
              <div class="margin-top-20">
                <p class="zenwork-margin-zero">
                  Employee Self Service
                </p>
                <small>
                  Employee Frontpage
                </small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="employee-details col-md-11">

    <div class="tab-content">

      <div id="total" class="tab-pane fade in active employee-display text-center content-of-employee">
        <div class="img-employee">
          <img src="../../../assets/images/employee-management/employee-detail.png" alt="employee-total icon" class="img-responsive total-employee">
        </div>
        <div class="content-total-employee">
          <span class="number-employees">1334</span><br>
          <span>Total Number of Employees</span>
        </div>
      </div>

      <div id="employeeStatus" class="tab-pane fade">

      </div>
      <div id="location" class="tab-pane fade">

      </div>
      <div id="employeeType" class="tab-pane fade">
      </div>
      <div id="department" class="tab-pane fade">

      </div>
    </div>

    <ul class="nav nav-tabs onboarding-tabs">
      <li class="active"><a data-toggle="tab" href="#total">Total Number of Employees</a></li>
      <li><a data-toggle="tab" href="#employeeStatus">Employee Status</a></li>
      <li><a data-toggle="tab" href="#location">Location</a></li>
      <li><a data-toggle="tab" href="#employeeType">Employee Type</a></li>
      <li><a data-toggle="tab" href="#department">Department</a></li>
    </ul>
  </div>
  <div class="today-report col-md-11">
    <h4 class="employees-content green">
      <span class="calender-icon">
        <img src="../../../assets/images/employee-management/event_icon.png" alt="calender-icon" class="img-responsive">
      </span>&nbsp;
      <span class="today-report-text">Today's Report</span>

    </h4>
    <div class="report-table">
      <div class="table-heading">
        <div class="main-filter pull-left">
          <ul class="list-unstyled filter-list">

            <li class="list-items">
              <label>Location</label>
              <select class="form-control name-dropdown">
                <option>All</option>
                <option>No</option>
              </select>
            </li>
            <li class="list-items">
              <label>Department</label>
              <select class="form-control name-dropdown">
                <option>All</option>
                <option>No</option>
              </select>
            </li>
            <li class="list-items">
              <label>Shifts</label>
              <select class="form-control name-dropdown">
                <option>All</option>
                <option>No</option>
              </select>
            </li>
          </ul>

        </div>
        <div class="main-filter pull-right">
          <ul class="list-unstyled filter-list">
            <li class="list-items">
              <select class="form-control name-dropdown">
                <option>All</option>
                <option>No</option>
              </select>
            </li>
            <li class="list-items">
              <select class="form-control name-dropdown">
                <option>All</option>
                <option>No</option>
              </select>
            </li>

          </ul>

        </div>
        <div class="clearfix"></div>
      </div>

      <!-- <ul class="employe-reports list-unstyled ">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/Artboard-1_1_.png" alt="employee-total icon" class="img-responsive list-images">
          <h4 class="employees-content working"> Working </h4>
          <p class="employees-number">1218</p>
        </li>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/car1.png" alt="car icon" class="img-responsive list-images">
          <h4 class="employees-content"> On Leave </h4>
          <p class="employees-number">65</p>
        </li>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/watch.png" alt="early-birds icon" class="img-responsive list-images">
          <h4 class="employees-content"> Early Birds </h4>
          <p class="employees-number">245</p>
        </li>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/Path 19.png" alt="late-arriavals icon" class="img-responsive list-images">
          <h4 class="employees-content"> Late Arrivals </h4>
          <p class="employees-number">213</p>
        </li>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/wfh2.png" alt="wfh-outdoor icon" class="img-responsive list-images">
          <h4 class="employees-content"> WFH/outdoor </h4>
          <p class="employees-number">165</p>
        </li>
        <li class="lisy-items">
          <img src="../../../assets/images/employee-management/Path 20.png" alt="Medical icon" class="img-responsive list-images">
          <h4 class="employees-content"> On Medical Leave</h4>
          <p class="employees-number medical-leave">51</p>
        </li>
 
        <i class="fa fa-caret-right" aria-hidden="true"></i>

      </ul> -->
    </div>
    <div id="myCarousel" class="carousel slide table-data" data-ride="carousel">
      <div class="carousel-inner">

        <ul class="item active  employe-reports list-unstyled">
          <a href="#myCarousel" data-slide="prev">
            <i class="fa fa-caret-left" aria-hidden="true">
            </i>
          </a>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/Artboard-1_1_.png" alt="employee-total icon" class="img-responsive list-images">
            <h4 class="employees-content working"> Working </h4>
            <p class="employees-number">1218</p>
          </li>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/car1.png" alt="car icon" class="img-responsive list-images">
            <h4 class="employees-content"> On Leave </h4>
            <p class="employees-number">65</p>
          </li>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/watch.png" alt="early-birds icon" class="img-responsive list-images">
            <h4 class="employees-content"> Early Birds </h4>
            <p class="employees-number">245</p>
          </li>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/Path 19.png" alt="late-arriavals icon" class="img-responsive list-images">
            <h4 class="employees-content"> Late Arrivals </h4>
            <p class="employees-number">213</p>
          </li>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/wfh2.png" alt="wfh-outdoor icon" class="img-responsive list-images">
            <h4 class="employees-content">WFH/outdoor</h4>
            <p class="employees-number">165</p>
          </li>
          <li class="list-items-carousel">
            <img src="../../../assets/images/employee-management/Path 20.png" alt="Medical icon" class="img-responsive list-images">
            <h4 class="employees-content"> On Medical Leave</h4>
            <p class="employees-number medical-leave">51</p>
          </li>
          <a href="#myCarousel" data-slide="next">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </a>
        </ul>


      </div>
      <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
    <!-- </div> -->
  </div>
</div>