<div class="post-jobs col-md-11">

  <div class="arrow-block">

    <a routerLink="/admin/admin-dashboard/recruitment">
       <small><i class="fa fa-angle-left" aria-hidden="true"></i></small>
       <em>Back</em>
    </a>

    <h3>
        <img src="../../../assets/images/company-settings/company-setup/company-setup.png" alt="Company-settings icon">
       <span>Post Jobs</span> 
    </h3>

  </div>

<div class="post-jobs-accord">


    <div class="panel-group" id="accordion3">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
                Available Postings
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse in">
            <div class="panel-body">
  
              <div class="post-jobs-cont">
  
                <table class="table">
                    <thead>
                      <tr>
                        <th><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></th>
                        <th>Job Title</th>
                        <th>Department</th>
                        <th>Location</th>
                        <th>Business Unit</th>
                        <th>Previous Post Results</th>
                        <th></th>
                        <th>
                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <a (click)="postJobsAdd()">Post Jobs</a>
                            </button>
                           
                            <button mat-menu-item>
                                <a (click)="jobSettings()">Job Calculator Settings</a>
                            </button>
                            <button mat-menu-item>
                              <a (click)="jobResults()">Job Calculator Results</a>
                            </button>
                            <button mat-menu-item>
                              <a>Edit</a>
                            </button>
                            <button mat-menu-item>
                                <a href="#">Archive</a>
                            </button>
                            <!-- <button mat-menu-item>
                                <a>Delete</a>
                            </button> -->
                          </mat-menu>
                        </th>
                      </tr>
                    </thead>

                    <tbody> 
                      <tr>
                        <td><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></td>
                        <td>Administrator</td>
                        <td>Manager</td>
                        <td>Hyderabad</td>
                        <td>India</td>
                        <td>Image</td>
                        <td></td>
                       <td></td>
                       
                      </tr>
                      
                    </tbody>
                </table>
  
              </div>
  
            </div>
          </div>
  
        </div>
        

        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
                 Current Active Postings
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
    
                <div class="post-jobs-cont">
    
                  <table class="table">
                      <thead>
                        <tr>
                          <th><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></th>
                          <th>Job Title</th>
                          <th>Requisition Number</th>
                          <th>Posted Date / How Long Open</th>
                          <th>Number of Applicants</th>
                          <th>Source</th>
                          <th>$ Amount</th>
                          <th>
                            <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu1="matMenu">
                              <button mat-menu-item>
                                <a>Removing Posting</a>
                              </button>
                             
                              <button mat-menu-item>
                                  <a>Job Calculator Settings</a>
                              </button>
                              <button mat-menu-item>
                                  <a>Job Calculator Results</a>
                              </button>

                              <button mat-menu-item>
                                  <a href="#">Edit</a>
                              </button>
                              
                            </mat-menu>
                          </th>
                        </tr>
                      </thead>
  
                      <tbody> 
                        <tr>
                          <td><mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox></td>
                          <td>Administrator</td>
                          <td>546456</td>
                          <td>10-10-2018 - 7days</td>
                          <td>22</td>
                          <td></td>
                         <td>$ 52</td>
                         <td></td>

                        </tr>
                        
                      </tbody>
                  </table>
                                          
                </div>
    
    
              </div>
            </div>
    
          </div> 
        
  
      </div>

</div>


</div>



