
.post-jobs { float: none; margin: 0 auto; padding: 0;}

.post-jobs-accord { margin: 50px 0 0;}
.post-jobs-accord .panel-default>.panel-heading { padding: 0 0 30px; background-color:transparent !important; border: none;}
.post-jobs-accord .panel-title { color: #3c3c3c; display: inline-block; font-size: 18px;}
.post-jobs-accord .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.post-jobs-accord .panel-title>.small, .post-jobs-accord .panel-title>.small>a, .post-jobs-accord .panel-title>a, .post-jobs-accord .panel-title>small, .post-jobs-accord .panel-title>small>a { text-decoration:none;color:#3c3c3c;}
.post-jobs-accord .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.post-jobs-accord .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.post-jobs-accord .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.post-jobs-accord .panel-group .panel-heading+.panel-collapse>.list-group, .post-jobs-accord .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.post-jobs-accord .panel-heading .accordion-toggle:after { margin:6px 10px 0; font-size: 12px; line-height: 12px;}
.post-jobs-accord .panel-body { padding: 0 0 5px;}

.post-jobs-accord .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.post-jobs-accord .panel-default { border-color:transparent;}
.post-jobs-accord .panel-group .panel+.panel { margin-top: 30px;}


.post-jobs-cont .table{ background:#fff;}
.post-jobs-cont .table>tbody>tr>th, .post-jobs-cont .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.post-jobs-cont .table>tbody>tr>td, .post-jobs-cont .table>tfoot>tr>td, .post-jobs-cont .table>tfoot>tr>th, 
.post-jobs-cont .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px;}

.post-jobs-cont .table>tbody>tr>th a, .post-jobs-cont .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.post-jobs-cont .table>tbody>tr>th a .fa, .post-jobs-cont .table>thead>tr>th a .fa { color: #6f6d6d;}

