<h4 class="dynamic-resource">Define Resources</h4>
<div class="open-close-time">
  <ul class="list-unstyled" style="margin-left: 100px">
    <li class="list-items">
      <label>Open Time</label><br>
      <input type="text" class="emp-open-time mar-top-10" [(ngModel)]="openTime" disabled>
      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
    </li>
    <li class="list-items">
      <label>Close Time</label><br>
      <input type="text" class="emp-open-time mar-top-10" [(ngModel)]="closeTime" disabled>
      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
    </li>
  </ul>
</div>

<div class="form-group schdule-type" style="margin-left: 100px">
  <label>
    Interval Definition
  </label><br>
  <mat-select class="form-control zenwork-input mar-top-10" [(ngModel)]="intervalDefinition" disabled>
    <mat-option [value]="30">
      30 Min
    </mat-option>
    <mat-option [value]="60">
      60 Min
    </mat-option>
    <mat-option [value]="90">
      90 Min
    </mat-option>
  </mat-select>
</div>
<div class="col-xs-12">
  <!-- <div class="col-xs-3 time-intervals">
    <ul class="list-unstyled">
      <li>Intervals</li>
      <li>Scheduled Time</li>
      <li>Number of <br>Resources Needed</li>
    </ul>
  </div> -->

  <div class="recap-table time-intervals col-xs-5">
    <table class="table" style="margin-bottom:0px;">
      <thead>
        <tr>
          <th>Intervals</th>
          <th>Scheduled Time</th>
          <th>Number of Resources Needed</th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let interval of intervals; let i=index;">
            <td>Int-{{i+1}}</td>
            <td>{{interval.scheduledTime}}</td>
            <td>
              <mat-select *ngIf="!interval.resources" class="form-control resource-count" [(ngModel)]="interval.resourcesNeeded" (ngModelChange)="selectNumberOfResources($event, interval.scheduledTime, i+1)">
                <mat-option *ngFor="let resource of resources" [value]="resource">{{resource}}</mat-option>
    
              </mat-select>
       
            </td>
        </tr>
       
      </tbody>

    </table>

  </div>
</div>

<div class="clearfix"></div>

<hr class="zenwork-margin-ten-zero">
<div class="row" style="margin:30px 0px;">
    
    <button mat-button (click)="onNoClick()">Cancel</button>

    <button mat-button class="submit-btn pull-right" (click)="setIntervalAndResources()">Submit</button>
  </div>
  <div class="clearfix"></div>