.open-close-time ul li{
    display: inline-block;
    padding: 0 25px 20px 0;
    position: relative;
}
.emp-open-time{
    width: 100%;
    border: 0;
    background: #f8f8f8;
    height: 33px;
    padding: 0 10px;
}
.open-close-time ul li .clock-icon{
  font-size: 17px;
  color: #439348;
  position: absolute;
  top: 40px;
  right: 30px;
  border-left: 1px solid #c7c4c4;
  padding: 0 0 0 5px;
}
.mar-top-10 {
    margin-top: 10px;
    outline: none;
    
}
.zenwork-input{
 width: 15%;
}
.dynamic-resource {
    margin-bottom: 30px;
    border-bottom: 1px solid #ecdddd;
    padding-bottom: 20px;
}
.recap-table {margin: 40px 0 0 0;}
.recap-table .table>thead>tr>th { color: #6f6f6f; font-weight: normal;  background: #eef7ff; border:none; font-size: 16px;
border-radius:3px;}
.recap-table .table>tbody>tr>td, .recap-table .table>tfoot>tr>td, .recap-table .table>thead>tr>td{ background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#948e8e;}
.recap-table .checkbox{ margin: 0;}
.recap-table .checkbox label { padding-left: 0;}
.recap-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.recap-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:4px;height:80%; border-radius: 0 4px 4px 0; padding: 0; left: 0;}
.recap-table .table>tbody>tr>td {padding: 15px 15px;}
.time-intervals {
    margin-top: 47px;
    margin-left: 70px;
}
.time-intervals ul li{
    padding: 7px 0 10px 0px;
    margin-left: 80px;
}
.resource-count {
    border: none;
    outline: none;
    box-shadow: none;
    width: 40%;
    /* background: #f8f8f8; */
}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
  }