.stucture-border {
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.mar-left-25 {
    margin-left: 25px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.table {
    border-collapse: separate;
    border-spacing: 0 7px;
    border-bottom: 2px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 25px;
}
.tbl-head {
    background: #ecf7ff
}
.rows-bg {
    background: #f8f8f8;
}
.text-fields {
    width: 87%;
    border: 1px solid #fff;
    box-shadow: none;
    background: #fff;
    padding: 4px 3px 0 7px;
    height: 38px;
}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.active-structure {
    border-left: 4px solid #5ddb97;
    border-radius: 5px;
}
.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
    .cont-check{
        margin-left: 15px;
        margin-top: 7px;
    }

.width-50 {
    width: 50%;
}

 .date { height: 38px !important; line-height:inherit !important; width:80% !important;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:76%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

