<div class="col-xs-12">
  <div class="stucture-border">
    <h4>{{data._id ? 'Edit Asset' : 'Add New Asset'}}</h4>
  </div>

  <div>
    <table class="table">
      <thead class="tbl-head">
        <tr>
          <th>
            Asset category
          </th>
          <th>Asset description</th>
          <th>Serial#</th>
          <th>Date loaned</th>

          <th>Date returned
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="rows-bg">
         
          <td>

               <mat-select class="form-control text-fields select-btn" [(ngModel)]="employeeAssets.category">
                  <mat-option *ngFor="let assets of allAssets" [value]="assets.name">{{assets.name}}</mat-option>
                </mat-select> 
 
          </td>
          <td>
            
            <input type="text" class="form-control text-fields" [(ngModel)]="employeeAssets.description" maxlength="40" minlength="40">
          </td>
          <td>
              <input type="text" class="form-control text-fields" [(ngModel)]="employeeAssets.serial_number" maxlength="40" minlength="40">
          </td>
          <td *ngIf="data._id" style="padding-top:20px;">
              <!-- <input type="date" class="form-control text-fields" [(ngModel)]="employeeAssets.date_loaned"> -->

              {{employeeAssets.date_loaned | date:'MM/dd/yyy'}}
          </td>
          <td *ngIf="!data._id">
            <div class="date">
              <input  matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="employeeAssets.date_loaned"
              [max]="employeeAssets.date_returned">
              <!-- <input *ngIf="data._id" matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="employeeAssets.date_loaned"
              [max]="employeeAssets.date_returned" [disabled]="disableDateLoaned"> -->
              <mat-datepicker #picker></mat-datepicker>
              <button mat-raised-button (click)="picker.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <div class="clearfix"></div>
            </div>
          </td>
          <td>
            <div class="date">
              <input matInput [matDatepicker]="picker1" placeholder="mm/dd/yy" class="form-control" [(ngModel)]="employeeAssets.date_returned"
              [min]="employeeAssets.date_loaned">
              <mat-datepicker #picker1></mat-datepicker>
              <button mat-raised-button (click)="picker1.open()">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </button>
              <div class="clearfix"></div>
            </div>
          </td>
        </tr>


      </tbody>
    </table>
    <div class="row">

      <button mat-button (click)="cancel()">Cancel</button>

      <button mat-button class="submit-btn pull-right" (click)="addAsset()">Submit</button>

    </div>

  </div>
</div>