.navbar-right{
    padding-top: 9px!important;

}
.zenwork-full{
    width:100%;
    height: 100vh;
    display: table;

}
.search-border{
    border : 1px solid gray;
    border-radius: 25px;
    height: 25px;
    position: relative;
    bottom:5px
}
.search-icon{
    right: 7px;
    position: absolute;
    top: 5px;
    width: 13px;
}
.border-none{
    border: none;
    background: transparent;
}
.dropdown{
    padding-top: 14px !important;
}
.dropdown a{
    color: #fff !important;
}
.caret{
    display: inline !important;
    margin-left: 18px !important;
    padding-top: 6px !important;
}
.main-nav-image{
    width:13px!important;
} 
.main-nav-image-notification{
    width:11px!important;
    margin-right: 10px !important;
}
.zenwork-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
 
  .zenwork-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .zenwork-sidenav {
    padding: 20px;
  }

  .toggle-side-nav-inner{
    box-shadow: 0 0 1px rgba(0,0,0,0.4)!important;
  }

  .toggle-side-nav-inner .nav>li>a{
    padding: 15px 33px!important;
    color: #3e3e3ea3
  }
  
  
  .toggle-side-nav-inner .nav>li>a:focus, .toggle-side-nav-inner .nav>li>a:hover {
    background-color: #f1f9f4!important; border:none; outline: none;
  }

  .dashboard-sub-menu-main-wrapper{
    padding: 20px!important;
    border-bottom: 2px dotted #3e3e3e2b!important;
  }

  .zenwork-customized-sidebar-menu{
      width:21.666667%!important;
      padding-right: 0px;
      display: table-cell;
      vertical-align: top;
      height: 100%;
      float:none;    
  }

  .zenwork-main-submenu{
    padding: 25px 0px!important; text-align: left !important;
  }

  .zenwork-customized-template{
    width: 78.3%!important; 
    /* height: 100vh; */
    background: #f8f8f8;
    display: table-cell;
    float: none;
    vertical-align: top;
    padding: 0;
  }