.zenwork-main-background{
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.zenwork-inner-div{
    /* margin: 10px; */
    /* background-color: #fff; */
    border-radius: 5px;
    border-color: transparent;
    /* background: url("/assets/images/newpages/Group 3145.png") #fff no-repeat top right; */
    /* float:right; */
    height: 100vh;
    /* background-size: contain; */
    background-color: #fff;
    /* display: table-cell; */
    vertical-align: top;
}
.custom-img{
    width: 70%;
    margin-top: 10px
}
.custom-img img{
    width: 100%;
}
.nav-items{
    margin-top: 30px;
}
.nav-items .list-items{
    padding: 0px 10px;
}

.navbar-brand{
    padding: 15px 0px;
}
.nav-items .login-btn{
    color: #439348;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #439348;
}
.btn-manual{
    border-radius: 20px;
    padding: 5px 30px;
    background-color: #439348;
}
.zenwork-padding-left35{
    padding-left: 35px;
}
.zenwork-margin-top20{
    margin-top: 20px;
}
.zenwork-request-demo-body-wrapper{
    margin-top: 30px;
}

.zenwork-demo-input-image-group{
    width: 10px;
}

.zenwork-input-group-addon{
    background-color: #f8f8f8!important;
    border-radius: 0px !important;
    border:transparent !important;
    border-right: 1px solid #cccccc75 !important;
}



.zenwork-input-error-alert{
    position: absolute;
    top: 0px;
    left: 105%;
    padding: 6px 14px;
    background: #82c8a2;
    color: #fff;
    min-width: 215px;
}

.triangle-left {
    position: absolute;
    top: 11px;
    left: -10px;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #82c8a2;
    border-bottom: 5px solid transparent;
}

.zenwork-btn-submit{
    color: #fff;
    border-radius: 25px;
    padding: 5px 30px;
    display: block;
    background-color: #439348;
}

.zenwork-request-demo-form-wrapper{
    padding-top: 20px;
}

.zenwork-font-size-twenty{
    font-size: 20px !important;
}

.zenwork-small{
    font-size: 82% !important;
    color: #ccc !important;
    line-height: 1.12857143 !important;
}

.zenwork-pt-twenty{
    padding-top: 20px;
}

.chat-icon{
    width: 20%;
    position: absolute;
    top: 80%;
    left: 92%;
}

.zenwork-company-group-addon{
    padding: 6px 9px !important;
}

.zenwork-company-group{
    width: 15px !important;
}
/* media-query */
@media (max-width:1200px){
    .chat-icon{top: 83%;left: 85%;}
}
@media (max-width:992px){
    .chat-icon{top: 89%;}
}
@media (max-width:768px){
    .zenwork-pl-zero{width: 40%;margin-left: 5%}
    .zenwork-responsive-img{margin-left: 5%;}
    .zenwork-request-demo-wrapper{margin-top: 30px;}
    .chat-icon{top: 100%;left: 82%;}
}
@media (max-width:425px){
    .custom-img {width: 50%;}
    .custom-img img{margin-left: 58px;}
    .navbar .zenwork-margin-top20{margin-top:0px!important;}
    .nav-items{margin-top: 17px;padding-right: 113px;}
    .nav-items .login-btn{font-size: 12px;}
    .btn-manual{font-size: 12px;padding: 2px 18px;}
    .zenwork-pl-zero{width: 100%;margin-left: 3%;position: unset;}
    .zenwork-request-demo-bg-image{display: none;}
    .zenwork-responsive-img ,.input-group .form-control,.input-group{position: unset;}
    .zenwork-main-background{position: relative!important;}
    .chat-icon{left: 78%;top: 85%;}
}
@media (max-width:320px){
    .custom-img{margin: 0 auto;float: none!important;}
    .custom-img img{width:60%;margin:15px auto;}
    .nav-items{margin-top: 0px;padding-right: 54px;}
    .zenwork-padding-left35{padding-left: 0px;}
    .zenwork-request-demo-body-wrapper{margin-top:0px;}
    .navbar{margin-bottom:0px;}
    .chat-icon{top:80%;}
}