<div class="zenwork-main-background">
  <div class="zenwork-inner-div">
    <div class="container">
      <nav class="navbar">
        <div class="zenwork-padding-left35 zenwork-margin-top20">
          <div class="navbar-header">
            <a class="navbar-brand custom-img" routerLink="/home">
              <img alt="Brand" src="./assets/images/newpages/logo.png" class="img-responsive ">
            </a>
          </div>
          <!-- <ul class="list-unstyled list-inline pull-right nav-items">
            <li class="list-items">
              <a class="login-btn" routerLink="/home">Login</a>
            </li>
            <li class="list-items ">
              <a class="btn btn-success btn-manual" routerLink="/home">Sign Up</a>
            </li>

          </ul> -->
          <div class="clearfix"></div>


        </div>

      </nav>
      <div class="zenwork-request-demo-body-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-3 zenwork-pl-zero">
              <h3 class="green zenwork-font-size-twenty">
                <b>Register for Product Demo</b>
              </h3>
              <small class="zenwork-small">
                Our team is happy to answer your questions and take you on a product demo
              </small>
              <div class="zenwork-request-demo-form-wrapper">
                <form (ngSubmit)="clientDemoDetails()">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="zenwork-input-group-addon input-group-addon">
                        <img src="../../../assets/images/newpages/Path 1273.png" alt="First Name Icon" class="zenwork-demo-input-image-group">
                      </span>
                      <input type="text" class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.firstName" placeholder="First Name"
                        name="firstName" #firstName="ngModel">
                      <div *ngIf="error.firstName" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.firstName}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon zenwork-input-group-addon">
                        <img src="../../../assets/images/newpages/Path 1273.png" alt="First Name Icon" class="zenwork-demo-input-image-group">
                      </span>
                      <input type="text" class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.lastName" placeholder="Last Name"
                        name="lastName" #lastName="ngModel">
                      <div *ngIf="error.lastName" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.lastName}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon zenwork-input-group-addon">
                        <img src="../../../assets/images/newpages/ic_domain_24px.png" alt="First Name Icon" class="zenwork-demo-input-image-group">
                      </span>
                      <input type="text" class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.companyName" placeholder="Company Name"
                        name="companyName" #companyName="ngModel">
                      <div *ngIf="error.companyName" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.companyName}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon zenwork-company-group-addon zenwork-input-group-addon">
                        <img src="../../../assets/images/newpages/Group 2925.png" alt="First Name Icon" class="zenwork-demo-input-image-group zenwork-company-group">
                      </span>
                      <mat-select class="form-control zenwork-input" placeholder="Company Size" [(ngModel)]="clientRequestDetails.companySize" name="size" #size="ngModel">
                        <mat-option *ngFor="let size of companySizes" [value]="size">
                          {{ size }}
                        </mat-option>
                      </mat-select>
                     <!--  <select class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.companySize" name="size" #size="ngModel">
                        <option value="">Company Size</option>
                        <option>1-10</option>
                        <option>1-30</option>
                        <option>30-50</option>
                        <option>50-100</option>
                        <option>100-150</option>
                        <option>150-200</option>
                        <option>200-250</option>
                        <option>250+</option>
                      </select> -->
                      <div *ngIf="error.companySize" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.companySize}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon zenwork-input-group-addon">
                        <img src="../../../assets/images/newpages/black-envelope.png" alt="First Name Icon" class="zenwork-demo-input-image-group">
                      </span>
                      <input type="text" class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.email" placeholder="Email" #email="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email">
                      <div *ngIf="error.email" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.email}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon zenwork-input-group-addon">
                        <img src="../../../assets/images/newpages/phone-receiver.png" alt="First Name Icon" class="zenwork-demo-input-image-group">
                      </span>
                      <input type="text" class="form-control zenwork-input" [(ngModel)]="clientRequestDetails.phone" placeholder="Phone" #phone="ngModel"
                        name="phone">
                      <div *ngIf="error.phone" class="zenwork-input-error-alert">
                        <div class="triangle-left"></div>
                        {{error.phone}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group zenwork-pt-twenty">
                    <button type="submit" [disabled]="!clientRequestDetails.firstName || !clientRequestDetails.lastName || !clientRequestDetails.companyName || !clientRequestDetails.companySize || !clientRequestDetails.email || !clientRequestDetails.phone"
                      class="btn zenwork-btn-submit btn-block">
                      Register for Demo
                    </button>
                  </div>
                </form>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-sm-offset-2 col-sm-6 zenwork-responsive-img">
              <div class="zenwork-request-demo-wrapper">
                <img class="zenwork-request-demo-bg-image img-responsive" src="../../../assets/images/newpages/Group 3145.png">
                <div class="zenwork-chat">
                  <div class="chat-icon ">
                    <img src="./assets/images/newpages/chat.png" class="img-responsive">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>