.job-application { display: block;}
.job-application h2 { margin: 0; font-size: 20px; border-bottom:#ccc 1px solid; padding: 0 0 20px;}

.job-app-in { margin: 30px auto 0; float: none; padding: 0;} 

.app-details {border-bottom:#ccc 1px solid; padding: 0 0 20px; margin: 0 0 30px;}
.app-details h3 { margin: 0; font-size:18px;padding: 0 0 20px;}
.app-details ul { display: block; padding: 0;}
.app-details ul li {margin: 0 0 25px;}
.app-details ul li label{color: #484747;font-size: 17px; padding: 0 0 10px;}
.app-details ul li .form-control{ border: none; box-shadow: none; padding: 13px 12px; height: auto;
background:#f8f8f8;}
.app-details ul li .form-control:focus{ box-shadow: none;}

.date { height: auto !important; line-height:inherit !important; width:100%;background:#f8f8f8;}
.edit-work .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none;
width: 40px;height: 30px; min-width: auto; border-left: #ccc 1px solid; border-radius: 0;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:65%; height: auto; padding: 13px 0 13px 10px; border: none; box-shadow: none; display: inline-block;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.application-fields {border-bottom:#ccc 1px solid; padding: 0 0 20px; margin: 0 0 30px;}
.application-fields h3 { margin: 0; font-size:18px;padding: 0 0 20px;}


.application-questions {padding: 0 0 20px;}
.application-questions h3 { margin: 0; font-size:18px;padding: 0 0 20px;}

.application-questions .table{ background:#fff;}
.application-questions .table>tbody>tr>th, .application-questions .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.application-questions .table>tbody>tr>td, .application-questions .table>tfoot>tr>td, .application-questions .table>tfoot>tr>th, 
.application-questions .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle; background:#f8f8f8;}

.application-questions .table>tbody>tr>th a, .application-questions .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.application-questions .table>tbody>tr>th a .fa, .application-questions .table>thead>tr>th a .fa { color: #6f6d6d;}



.job-app-in .btn.save {border-radius: 20px;font-size: 16px; padding:8px 30px;
    background: #008f3d; color:#fff;}
.job-app-in .btn.cancel {color:#e5423d; background:transparent;font-size: 16px;}