<div class="job-application">

  <h2>Add / Edit - Job Application</h2>

   <div class="job-app-in col-md-10">
       
    <div class="app-details">

    <h3>Application Details</h3>
    <ul>
      <li class="col-md-3">
        <label>Application Name</label>
        <input type="text" class="form-control" placeholder="Application name">
      </li>
  
      <li class="col-md-3">
        <label>Effective Date</label>
        <div class="date">
          <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control">
          <mat-datepicker #picker1></mat-datepicker>
          <button mat-raised-button (click)="picker1.open()">
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </button>
          <div class="clearfix"></div>
        </div>
      </li>
  
      <li class="col-md-3">
        <label>Location</label>
        <mat-select class="form-control" placeholder="Location">
          <mat-option value="option1">HYD</mat-option>
        </mat-select>
      </li>

      <li class="col-md-3">
        <label>Status</label>
        <mat-select class="form-control" placeholder="Status">
          <mat-option value="option1">Active</mat-option>
        </mat-select>
      </li>

    </ul>  
    <div class="clearfix"></div>

  </div>


  <div class="application-fields">
     <h3>Application Fields</h3>

  </div>


  <div class="application-questions">

    <h3>Application Questions</h3>


    <table class="table">
      <thead>
        <tr>
          
          <th>Questions</th>
          <th>Data Type</th>
          
          <th>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <a>Add</a>
              </button>
             
              <button mat-menu-item>
                  <a>Edit</a>
              </button>
            
              <button mat-menu-item>
                <a>Delete</a>
              </button>

            </mat-menu>
          </th>
        </tr>
      </thead>

      <tbody> 
        <tr>
          <td>What is your salary Requirement?</td>
          <td>
            <mat-select class="form-control" placeholder="Data Types">
              <mat-option value="option1">Active</mat-option>
            </mat-select>
          </td>
         <td></td>
        </tr>

        <tr>
          <td>Have you been convicted of a felon?</td>
          <td>
            <mat-select class="form-control" placeholder="Data Types">
              <mat-option value="option1">Active</mat-option>
            </mat-select>
          </td>
         <td></td>
        </tr>
        
      </tbody>
  </table>
    
  </div>

        <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
        <button class="btn pull-right save">Submit</button>
        <div class="clearfix"></div>

   </div>

</div>