<!-- Main Navigation Starts-->
<div>
  <app-navbar></app-navbar>
</div>
<!-- Main Navigation Ends-->
<div class="container-fluid">
  <div class="row">
    <div class="zenwork-full">
      <!-- Side Navigation Starts -->
      <div class="col-sm-3 zenwork-customized-sidebar-menu sidebar zenwork-pl-zero">
        <div >
          <app-side-nav [getUserData]="userData"></app-side-nav>

        </div>
      
      </div>
      <!-- Side Navigation Ends -->
      <div class="col-sm-9 zenwork-customized-template">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>