<div class="signup">

  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="terms-border">

          <a routerLink="/" class="col-md-4"><img src="../../../assets/images/main-nav/Component 1@2x.png"
              alt="img"></a>

          <div class="top-header-rgt col-md-6 pull-right">
            <ul>
              <li><a routerLink="/zenwork-login" class="log">Login</a></li>
              <li><a routerLink="/register" class="register">Register for a Demo</a></li>
              <li><a routerLink="/sign-up" class="sign">Sign Up</a></li>
            </ul>
          </div>


          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="terms-use">
        <h2>Terms of Use</h2>
        <p>By visiting and/or using Zenwork's HRIS platform, you fully and unconditionally agree to these Terms of Use.
          <br> if you do not agree to these Terms of Use, please do not visit or use the website.</p>
      </div>
    </div>
  </div>



  <div class="terms-cont">
    <div class="container">
      <div class="row">

        <small>Any offer provided by us is conditioned upon your acceptance of this Terms of Use Agreement. By using
          this site, you represent that you lawfully consent to U.S. jurisdiction for all purposes on our site as if a
          resident of the U.S, and have the right, authority and capacity to entire into these Terms of Use
          Agreement</small>

        <h3>Registration Online or Over the Phone</h3>
        <em>When and if you set up an account and/or use the Services on the Website, you agree to: (a) provide
          accurate, current, and complete information; (b) maintain and keep your information accurate, current, and
          complete; (c) not impersonate any person or entity, and (d) you will not select a user name that in our sole
          discretion deems offensive. We reserve the right to terminate your access to and use of the Website and
          Services if any information provided by you is untrue, inaccurate, not current, or incomplete. Our use and
          disclosure of any information you provide us is governed by our privacy policy. All activity conducted in
          connection with your account will be your responsibility.</em>


        <h4>Your Conduct</h4>
        <h5>By Visiting and using this Zenwork HRIS site you agree not to:</h5>

        <ul>
          <li>
            <span>Defame, abuse, harass, stalk, threaten, or otherwise violate the rights of others, including without
              limitation others’ privacy rights or rights of publicity.</span>
          </li>
          <li>
            <span>Falsely state or otherwise misrepresent your affiliation with any person or entity, or use any
              fraudulent, misleading, or inaccurate email address or other contact information.</span>
          </li>
          <li>
            <span>Restrict or inhibit other users from using the Services.</span>
          </li>
          <li>
            <span>Violate any applicable laws, rules, or regulations.</span>
          </li>
          <li>
            <span>Express or imply that any statements you make are endorsed by us.</span>
          </li>
          <li>
            <span>Engage in spamming or flooding.</span>
          </li>
          <li>
            <span>Access or use (or attempt to access or use) another user’s content without permission.</span>
          </li>
          <li>
            <span>Modify, adapt, sublicense, translate, sell, reverse engineer, decompile, or disassemble any portion of
              the Services or the Website.</span>
          </li>
          <li>
            <span>Remove any copyright, trademark, or other proprietary rights notices contained in or displayed on any
              portion of the Website.</span>
          </li>
          <li>
            <span>"Frame" or "mirror" any portion of the Website, or link to any page from the Website without our prior
              written authorization.</span>
          </li>
          <li>
            <span>Order or purchase Services through the Website if you are not 18 years of age or older, or have the
              specific permission of a parent or legal guardian.</span>
          </li>

        </ul>

      </div>
    </div>
  </div>


  <div class="terms-infor">
    <div class="container">
      <div class="row">

        <ul class="no-bor">

          <li>
            <h5>Sharing Information</h5>
            <p>By using the Zenwork HRIS website, you agree not to upload, post, email or otherwise send or transmit any
              material that: (1) contains viruses, worms, Trojan horses, defects, date bombs, time bombs or any other
              computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer
              software or hardware or telecommunications equipment associated with the Website; (2) is abusive, illegal,
              libelous, defamatory, obscene, threatening, invasive of privacy or publicity rights or otherwise
              objectionable or which may give rise to liability or violate any law; (3) is in violation of a copyright,
              trademark or other intellectual property or other right of any person; (4) requests personally
              identifiable information; or (5) contains any advertisement, solicitations, chain letters, pyramid
              schemes, investment opportunities or other unsolicited commercial communication.</p>
          </li>

          <li>
            <h5>Your Submissions</h5>
            <p>If you choose to upload or otherwise submit any material through the Zenwork HRIS website, including
              without limitation, video photographs, images, text, graphics, sounds, data, or files to the Website, by
              uploading such video or photographs you represent and warrant that: (1) you own or otherwise possess all
              necessary rights with respect to your Submissions; (2) your Submissions do not and will not infringe,
              misappropriate, use or disclose without authorization, or otherwise violate any intellectual property or
              proprietary rights of any third party; and (3) you hereby consent to the use of your likeness, and you
              acknowledge you have obtained the written consent, release, and/or permission of every identifiable
              individual who appears in a Submission to use such individual’s likeness, or if any such identifiable
              individual is under the age of eighteen (18), you have obtained such written consent, release and/or
              permission from such individual’s parent or guardian (and you agree to provide to us with a copy of any
              such consents, releases and/or permission upon our request). We may request that you submit evidence of
              your ownership of or right to use your Submissions. If, upon such request, we do not receive information
              we deem sufficient to evidence such rights, we reserve the right to: (i) suspend the shipping of an order
              or service relating to such content, and/or (ii) share the content and information regarding the member
              with governmental organizations, law enforcement authorities or other third parties.</p>
          </li>

          <li>
            <h5>Age Limitations</h5>
            <p>You must be 18 to order or purchase Services from this site unless you have the specific permission from
              a parent or legal guardian. If you use any chat room or other community page on the Website, you must be
              at least thirteen (13) years old. We recommend that minors over age 13 (that is, between ages 13 and 18)
              obtain their parent’s or guardian’s permission before sending information about themselves to anyone
              online. Click here for tips on staying safe online. If you are a convicted sexual predator, you may not
              use any such Website feature (chat rooms or community pages).</p>
          </li>

          <li>
            <h5>Obligations & Responsibilities</h5>
            <p>You acknowledge that, by providing you with the ability to view and distribute user-generated content on
              the Website, we are acting only as a passive conduit for such distribution, and we are not undertaking any
              obligation or liability relating to any such content. We do not and cannot review all communications and
              materials posted to the Website, and we are not responsible for the content of such communications and
              materials. All such content is offered AS IS, and you view and use it at your own risk. You acknowledge
              and agree that we may (but are not obligated to) do any of the following, at our discretion: (1) monitor
              and/or filter any Submissions; (2) remove or refuse to send, transmit, or otherwise use any Submission
              (including without limitation, by suspending the processing and shipping of any order related to any
              Submission); and/or (3) disclose any Submission, and the circumstances surrounding the transmission or use
              thereof to any third party. If you become aware of misuse of the Website by any person, please contact us
              at info@zenwork.com. Because we do not control the security of the Internet or other networks you use to
              access the Website or communicate with us, we can’t be, and are not responsible for, the security of
              information that you choose to communicate with us and the Website while it is being transmitted. In
              addition, we are not responsible for any data lost during transmission.</p>
          </li>

          <li>
            <h5>Our use of Information Submitted</h5>
            <p>You agree that we are free to use any comments, information, reviews, feedback, postings, materials,
              photographs, artwork, ideas, or any other content contained in any communication you may send to us,
              without notice, compensation or acknowledgement to you, for any purpose whatsoever, including but not
              limited to developing, manufacturing and marketing products and services and creating, modifying or
              improving the Website or other products or services.
              You agree that we are free to use the company name and logo associated with your email address domain for
              any purpose whatsoever, including on our Zenwork HRIS and Zenwork websites and social platforms, without
              notice or compensation, unless you inform us in writing at social@zenwork.com that you deny permission for
              us to do so.</p>
          </li>

          <li>
            <h5>Compliance</h5>
            <p>You agree to comply with all applicable laws, statutes and regulations regarding your use of this Site
              and your purchase of products or services (if applicable) through our Zenwork HRIS website. We may, in our
              sole discretion report actual or perceived violations of law to law enforcement or appropriate
              authorities. If we become aware of any potential violation of the Terms of Use or our Privacy Policy, we
              may (but are not obligated to) conduct an investigation to determine the appropriate enforcement action,
              during which we may suspend services or terminate the account of any customer being investigated.</p>
          </li>


          <li>
            <h5>Termination</h5>
            <p>We reserve the right in our sole discretion to terminate or restrict your use of the Website or the
              Services, without notice, for any or no reason, and without liability to you or any third party. You agree
              that we shall not be liable to you or any third party for any termination of your access to the Website or
              the Services. At our sole discretion, we may modify or remove any User Content that violates or is
              inconsistent with these Terms of Use or their intent, that your conduct is disruptive, or you have
              violated the law, these Terms of Use, or the rights of us or another user. We will have no liability to
              you for any deletion of your User Content. We may also change, suspend, or discontinue any aspect of the
              Website or the Services at any time, including the availability of any feature or content without prior
              notice. Any updates to the Site will be subject to these Terms of Use.</p>
          </li>

          <li>
            <h5>Trademarks</h5>
            <p>All trademarks, service marks and trade names of ours used on the Website are trademarks or registered
              trademarks of us in the U.S. and/or other countries. They may not be used without our prior express
              written permission. All other trademarks or logo that appear on the Website are the property of their
              respective owners, who may or may not be affiliated with, connected to or endorsed by us.</p>
          </li>

          <li>
            <h5>Copyright</h5>
            <p>The entire content of the Website, including but not limited to text, graphics and code, is our property.
              We grant you permission to electronically copy and print hard copy portions of the Website solely for your
              own personal, non-commercial use, provided that you do not change or delete any proprietary notices from
              downloaded or printed materials. Any other use, including but not limited to the reproduction,
              distribution, display or transmission of the Website content is strictly prohibited, unless authorized by
              us in writing.</p>
          </li>

        </ul>



      </div>
    </div>
  </div>


  <div class="terms-cont">
    <div class="container">
      <div class="row">

        <h4>Copyright Violations</h4>
        <em>We respect the intellectual property rights of others and will take appropriate steps to protect the
          intellectual property rights of third parties if it receives notice in accordance with the Digital Millennium
          Copyright Act. If you believe your copyright or the copyright of another has been infringed on, please provide
          our Copyright Agent with a written notice containing the following information:</em>

        <ul>
          <li>
            <span>a physical or electronic signature of the person authorized to act on behalf of the owner of the
              copyright interest that you believe has been infringed;</span>
          </li>
          <li>
            <span>an identification of the copyrighted work that you claim has been infringed;</span>
          </li>
          <li>
            <span>a description of where the material that you claim is infringed is located on the site;</span>
          </li>
          <li>
            <span>information on how to contact you including your address, telephone number, and email address, if
              available;</span>
          </li>
          <li>
            <span>a statement by you that you have a good faith belief that the disputed use is not authorized by the
              copyright owner, its agent, or the law; and</span>
          </li>
          <li>
            <span>a statement by you, made under penalty of perjury, that the above information in your notice is
              accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</span>
          </li>
          <li>
            <span>Claims of infringement should be sent to: <a href="mailto:info@zenwork.com">
                info@zenwork.com.</a></span>
          </li>

        </ul>

      </div>
    </div>
  </div>


  <div class="terms-infor">
    <div class="container">
      <div class="row">

        <ul>

          <li>
            <h5>Warranty Disclaimer & Liability Limit</h5>
            <p>To the fullest extent permissible under applicable law, we present the Website and the Services “AS IS”
              and without any warranty of any kind, whether express, implied, or statutory. We specifically disclaim any
              implied warranties of title, merchantability, fitness for a particular purpose, and non- infringement. We
              do not warrant that the functions contained in the Website will be uninterrupted or error-free, that
              defects will be corrected or that this Website or the server that makes this website available are free of
              viruses or other harmful components. In the event of any breach of any warranty, your exclusive remedy
              shall be that we shall, at our option, repair, replace, or refund the price you paid for any defective
              goods. We assume no liability or responsibility for any errors or omissions on the Website; any failures,
              delays or interruptions in the Website's accessibility; any losses or damages arising from the use of the
              Website; or any conduct by other users of the Website. We reserve the right to deliver the Website in our
              sole and absolute discretion. Some jurisdictions do not allow the disclaimer of implied warranties, so the
              foregoing may not apply to you.</p>

            <span>IN NO EVENT SHALL WE, OUR AFFILIATES, SUBSIDIARIES, SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES OR
              AGENTS BE LIABLE (JOINTLY OR SEVERALLY) TO YOU FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL
              DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE WEBSITE OR THESE TERMS, ON ANY THEORY OF LIABILITY, AND
              WHETHER OR NOT ADVISED OF THE POSSIBILITY OF DAMAGE ARISING OUT OF OR RELATING IN ANY WAY TO THE SERVICES
              (INCLUDING, BUT NOT LIMITED TO, ALL MATERIALS INCORPORATED THEREIN AND ALL FEATURES AND FUNCTIONALITY OF
              THE SERVICE) AND TOTAL LIABILITY FOR DAMAGES UNDER THIS AGREEMENT SHALL BE LIMITED TO THE TOTAL AMOUNT
              PAID FOR THE PRODUCT.</span>
            <p>Some states do not allow the exclusion of certain damages, so the above may not apply to you. If any
              authority holds any portion of this section to be unenforceable, then liability will be limited to the
              fullest possible extent permitted by law.</p>
          </li>

          <li>
            <h5>Indemnification</h5>
            <p>You agree to indemnify, defend and hold us, our shareholders, officers, directors, employees and
              agents harmless from and against any third-party claim or cause of action, including reasonable attorneys’
              fees and court costs, arising, directly or indirectly, in whole or in part, out of your use of the Website
              or your violation of these Terms of Use, any law or the rights of any third party.</p>
          </li>

          <li>
            <h5>Electronic Notices</h5>
            <p>By using the Website, you agree to receive electronic communications from us. You agree that any
              notice, agreement, disclosure or other communication that we send you electronically will satisfy any
              legal communication requirements, including that such communications be in writing.</p>
          </li>

          <li>
            <h5>Third-Party Links</h5>
            <p>The Website may link to sites operated by third parties. However, we have no control over these linked
              sites, all of which have their own terms of use and data collection practices. These linked sites are only
              for your convenience, and you access them at your own risk.</p>
          </li>

          <li>
            <h5>Disputes</h5>
            <p>Your use of the Website shall be governed by the laws of Arkansas, without regard to choice of law
              provisions. Except where prohibited, you agree that any and all disputes, claims and causes of action
              directly or indirectly arising out of or relating to the Website shall be resolved individually, without
              resort to any form of class action, and exclusively in the state or federal courts located in Washington
              County, Arkansas. Any cause of action or claim you may have with respect to the Website must be commenced
              within one (1) year after the claim or cause of action arises, or it shall be forever barred.</p>
          </li>

          <li>
            <h5>General</h5>
            <p>The Services are controlled and operated within the United States, and are not intended to be subject to
              the laws or jurisdiction of any country or territory other than that of the United States. We do not
              represent or warrant that the Services or any part thereof are appropriate or available for use in any
              particular jurisdiction. Those who choose to access the Services do so on their own initiative and at
              their own risk, and are responsible for complying with all local laws, rules, and regulations. We may
              limit the Services availability, in whole or in part, to any person, geographic area or jurisdiction we
              choose, at any time and in our sole discretion. If any provision of these Terms of Use is held to be
              invalid or unenforceable, such provision shall be struck, and the remaining provisions shall be enforced.
              Headings are for reference purposes only and in no way define, limit, construe or describe the extent or
              scope of such provision. Our failure to enforce any provision of these Terms of Use shall not constitute a
              waiver of that or any other provision. These Terms of Use set forth the entire understanding and agreement
              between you and us with respect to the subject matter hereof.</p>
          </li>

          <li>
            <h5>Contact Us</h5>
            <p>If you have any questions about these Terms of Use, please contact us – <a href="mailto:info@zenwork.com">info@zenwork.com</a>.</p>
          </li>


        </ul>

        <button class="btn" routerLink="/about" (click)="about()">Get Started</button>

      </div>
    </div>
  </div>


</div>