.top-header {
    padding: 60px 0 !important;
}

.signup .top-header-rgt > ul > li > a.sign:hover { background:#099247; color:#fff;}
.signup .top-header-rgt > ul > li > a.sign { color: #fff;}
.signup .top-header-rgt > ul > li > a{ color:#099247;}
.signup .top-header-rgt > ul > li > a.register:hover { background:#fec550; color:#000; border:transparent 1px solid;}
.signup .top-header-rgt > ul > li > a.log:hover{ background:#099247; color: #fff;}

.terms-border { border-bottom: #c5c5c5 1px solid; padding: 0 0 50px;}


.terms-use { background: #f1f9f4; padding:30px 40px; border-radius: 5px;}
.terms-use h2{color:#099247; font-size: 25px; line-height: 25px; padding: 0 0 10px; font-weight: bold;}
.terms-use p{color:#5f5f5f; font-size: 17px; line-height: 25px;}


.terms-cont { padding: 40px 0 0;}
.terms-cont small{color:#5f5f5f; font-size: 16px; line-height: 25px; padding: 0 0 30px; display: block;}
.terms-cont h3{color:#5f5f5f; font-size: 18px; line-height: 20px; padding: 0 0 10px;}
.terms-cont em{color:#5f5f5f; font-size: 15px; line-height: 25px; font-style: normal; padding: 0 0 35px; display: block;}

.terms-cont h4{color:#7a9caf; font-size: 18px; line-height: 20px;}
.terms-cont h5{color:#7a9caf; font-size: 18px; line-height: 20px; padding: 0 0 20px;}

.terms-cont ul { display: inline-block; width: 100%; padding: 0 0 50px;}
.terms-cont ul li { margin: 0 0 20px;}
.terms-cont ul li span {color:#5f5f5f; font-size: 15px; line-height:20px; position: relative; padding: 0 0 0 25px;}
.terms-cont ul li span:after{ content: ""; position: absolute; top:5px; left: 0; background: #f0be29;
width: 8px; height: 8px;border-radius:50%;}
.terms-cont ul li span a{ display: inline-block; color: #2b7aca;}



.terms-infor { padding:0;}
.terms-infor ul {border-bottom: #e0e0e0 1px solid;}
.terms-infor ul li { margin: 0 0 50px;}
.terms-infor ul li h5 {color:#7a9caf; font-size: 18px; line-height: 20px; margin: 0 0 25px;}
.terms-infor ul li p {color:#5f5f5f; font-size: 15px; line-height:27px; margin: 0;}
.terms-infor ul li span {color:#5f5f5f; font-size: 15px; line-height:27px;text-transform:uppercase; padding:20px 0; display: block;}
.terms-infor ul li p a { display: inline-block; color: #2b7aca;}

.terms-infor .btn {background:#099247; color:#fff; border-radius: 20px; padding: 9px 30px; font-size: 16px; margin: 50px 0 0;}
