.site-access-main { margin:30px auto 0; float: none; padding: 0;}

.zenwork-customized-back-btn{
    background:#fff;
    border-radius: 25px;
    padding:8px 20px;
    font-size: 10px;
    color:#525151;
    font-size: 13px; line-height: 13px; border: 1px solid transparent;
    margin: 0 20px 0 0; vertical-align: middle;
}
.zenwork-currentpage{
    padding: 0;
}

.zenwork-currentpage small { margin: 0 20px 0 0; display: inline-block; vertical-align: middle;}
.zenwork-currentpage em { font-size: 17px;line-height: 17px; color:#484747; font-style: normal; display: inline-block; vertical-align: middle;}
.zenwork-currentpage span .fa{ color:#439348; font-size: 15px; line-height: 15px;}
.zenwork-currentpage span{ display: inline-block;}
.mr-7{
    margin-right: 7px;
}

.site-access-tabs {display: block;padding: 20px 0 0;margin: 0 0 30px;}
.site-access-tabs .tab-content { margin:40px 0 0;}
.site-access-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;background: transparent;}
.site-access-tabs .nav-tabs {border-bottom:#dbdbdb 2px solid;}
.site-access-tabs .nav-tabs > li { margin: 0 30px;}
.site-access-tabs .nav-tabs > li > a {font-size: 17px;line-height: 17px;font-weight:normal;color:#484747;border: none;padding: 10px 0 15px;margin: 0;}
.site-access-tabs .nav > li > a:hover, .nav > li > a:focus { background: none;}
.site-access-tabs .nav-tabs > li.active{border-bottom:#439348 5px solid;margin: 0px 30px -1px 30px;color:#000;}


.employee-role { margin: 0 10px 100px;}
.employee-role-lft {padding: 0;}
.employee-role-lft label {display: block; color:#5a5959; font-weight: normal; padding: 0 0 15px; font-size: 17px; line-height: 17px;}

.employee-role-rgt { padding: 0;}
.add-fields { display: block; margin: 0 0 15px;}
.add-fields a { display: inline-block; vertical-align: middle; cursor: pointer; color:#676767; font-size: 13px; line-height: 13px;}
.add-fields a small { display: inline-block; padding: 0 10px 0 0;}
.add-fields a small .fa { color:#008f3d; font-size: 12px; line-height: 12px;}

.employee-role-rgt a { display: block;}
.employee-role-rgt a.btn { background:#008f3d; height: 40px;line-height: 28px; color:#fff; text-align: center;}

.user-type-heading{
    font-size: 16px;
}

.custom-user {margin: 20px 0;}
.custom-user .table>thead>tr>th { color: #484848; font-weight: normal; padding: 13px 20px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-user .table>tbody>tr>td, .custom-user .table>tfoot>tr>td, .custom-user .table>thead>tr>td{ padding: 15px 20px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color: #6d6a6a;}
.custom-user .checkbox{ margin: 0;}
.custom-user .table>tbody>tr>td.zenwork-border {position: relative;}
.custom-user .table>tbody>tr>td.zenwork-border:after { content:''; position: absolute; top: 2px;left: 2px;border-right: #83c7a1 4px solid;height: 90%;border-radius: 0 5px 5px 0;}


.table-icons { float: right;}
.table-icons ul { display:block; margin: 0;}
.table-icons ul li { display:inline-block; padding: 0 0 0 15px;}
.table-icons ul li a { display: inline-block; cursor: pointer;}
.table-icons ul li a .fa { color:#868686; font-size: 15px; line-height: 15px;}

.custom-user-top { margin: 0 0 30px;}
.custom-user-top h3 { color:#008f3d; font-size: 17px; line-height: 17px; font-weight: normal;}
.custom-user-top a { display: block;}
.custom-user-top a.btn { background:#008f3d; height: 40px;line-height: 28px; color:#fff; text-align: center; padding: 6px 20px;}


.view-rights-popup {background:#fff;}
.view-rights-popup .modal-dialog { width: 80%;}
.view-rights-popup .modal-content { box-shadow: none;border: none;}
.view-rights-popup .modal-body { padding:50px 40px 30px;}


.view-right-cont { padding:0;}
.view-right-cont .panel-default>.panel-heading { padding: 0 0 20px; background-color:transparent !important; border: none;}
.view-right-cont .panel-title { color: #008f3d; display: inline-block;}
.view-right-cont .panel-title a:hover { text-decoration: none;}
.view-right-cont .panel-title>.small, .view-right-cont .panel-title>.small>a, .view-right-cont .panel-title>a, .view-right-cont .panel-title>small, .view-right-cont .panel-title>small>a { text-decoration:none;}
.view-right-cont .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.view-right-cont .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.view-right-cont .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.view-right-cont .panel-group .panel-heading+.panel-collapse>.list-group, .view-right-cont .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.view-right-cont .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.view-right-cont .panel-body { padding: 0 0 20px;}

.view-right-cont .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.view-right-cont .panel-default { border-color:transparent;}
.view-right-cont .panel-group .panel+.panel { margin-top:30px;}


.person-fields { display: block;}
.person-fields .modal-header { width: 90%; margin:0 auto; padding:0 50px 10px; border-bottom: 1px solid #c5c3c3;}
.person-fields .modal-title { color:#008f3d;}
.person-fields .modal-dialog { width:70%;}
.person-fields .modal-content { border: none; padding:30px 0 50px;}

.person-tables { margin: 0 auto; float: none; padding: 0;}
.person-tables h3 { font-size: 15px; line-height: 15px; color:#5d5d5d; margin: 0 0 30px;}

.person-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 16px; border-radius:3px;}
.person-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.person-tables .table>thead>tr>th a .fa { color:#c3c3c3; font-size: 15px; line-height: 15px;}
.person-tables .table>tbody>tr>td, .person-tables .table>tfoot>tr>td, .person-tables .table>thead>tr>td{ padding: 15px; background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#e6e6e6 1px solid; color: #656464;}
.person-fields .checkbox{ margin: 0;}
.person-tables .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top: 0;height: 100%;}

.person-tables .table>tbody>tr>td.zenwork-checked-border {position: relative;}


.person-tables .cont-check .checkbox label { padding-left:20px;}
.person-tables .cont-check.label-pad .checkbox label { padding-left: 0;}


.view-right-cont .btn {border-radius: 20px;color:#000; font-size: 15px; padding:6px 25px; background:transparent; margin:30px 0 0; float:left;}
.view-right-cont .btn:hover {background: #008f3d; color:#fff;}


.main-onboarding .setting-drop .dropdown-menu{
    left: -76px !important;
    min-width: 109px !important;
}
.list-of-current-users{
    margin: 40px 0;
}
.select-btn {
    border: none;
    box-shadow: none;
    height: 40px;
    width: 95%;
}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #fff;
}
.list-of-current-users label{
    line-height: 40px;
}
.employee-list .list-items{
    border-bottom: 1px #c3c3c3 solid;
    background: #fff;
    display: block;
    padding: 15px 10px;
}
.employe-list-table{
    padding: 39px 0 0 44px;
}
.employee-table-headings{
    padding: 10px 0 10px 10px;
    background: #eef7ff;
}
.run-report-btn{
    padding:6px 20px 8px 25px;
    border-radius: 25px;
    font-size: 12px;
    border: 0;
    color: #fff;
    box-shadow: none;
    background: #797d7b;
    /* background: url("/assets/images/Manager Self Service/Group -1.png") no-repeat 10px center #797d7b; */
}
.role-description{
    
}

.zenwork-margin-zero em { font-size: 15px; padding: 2px 0 0 15px; display: inline-block; font-style: normal; vertical-align: middle;}