<div class="site-access-main col-md-11">

  <p class="zenwork-margin-zero">
    <button class="btn zenwork-customized-back-btn" (click)="previousPage()">
      <span class="green mr-7">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </span>Back
    </button>
    <small>
      <img src="../../../assets/images/company-settings/site-access/site-access-icon.png" alt="Company-settings icon">
    </small>
    <em>Site Access / Rights Management </em>
  </p>
  <hr class="zenwork-margin-ten-zero">


  <div class="site-access-tabs">

    <span class="user-type-heading">User Types</span>
    <div class="custom-user">

      <!-- <div class="custom-user-top">
                <h3 class="pull-left">Custom User Types</h3>

                <a routerLink="/admin/admin-dashboard/company-settings/site-access-management/site-user" class="btn pull-right">Preview Site as User</a>
                <div class="clearfix"></div>
              </div>  -->

      <table class="table">
        <thead>
          <tr>
            <th>

            </th>
            <th>User Type Role</th>
            <th>Role Name</th>
            <th>Description of Role</th>

            <th>
              <div class="main-onboarding ">
                <div class="setting-drop">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu">

                    <li *ngIf="!addShowHide">
                      <a (click)="openDialog('add')">Add</a>
                    </li>
                    <li *ngIf="addShowHide">
                      <a (click)="openDialog('edit')">Edit</a>
                    </li>
                    <li *ngIf="!addShowHide">
                      <a (click)="openDialog1()"> Configure</a>
                    </li>
                    <li *ngIf="addShowHide">
                      <a (click)="copyData()">Copy</a>
                    </li>
                    <!-- <li>
                      <a>Preview</a>
                    </li> -->
                    <li *ngIf="addShowHide">
                      <a (click)="deleteCustomUserRole()">Delete</a>
                    </li>

                  </ul>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of resRolesObj">
            <td>
              <mat-checkbox [disabled]="true" class="zenwork-customized-checkbox"></mat-checkbox>
            </td>
            <td>
              Standard
            </td>
            <td>
              {{data.name}}
            </td>
            <td>
              {{data.description}}
            </td>
            <td>

            </td>
          </tr>
          <tr *ngFor="let data of companyRoles">
            <td [ngClass]="{'zenwork-checked-border': data.isActive}">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isActive"
                (change)=singleEditDelete(data)></mat-checkbox>
            </td>
            <td>Custom-{{data.baseRoleId.name}}</td>
            <td>{{data.name}}</td>
            <td class="role-description">{{data.description}}</td>
            <td> </td>
          </tr>



          <!-- <tr>
            <td [ngClass]="{'zenwork-checked-border': true}">
              <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
            </td>
            <td>Custom 4</td>
            <td>US System Admin</td>
            <td>Standard</td>
            <td> </td>
          </tr> -->



      </table>

    </div>
    <div class="list-of-current-users col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <div class="row">
            <h4>List of Current Users</h4>
            <div class="form-group">
              <label>Select User Role Name</label>
              <mat-select class="form-control text-field select-btn" [(ngModel)]="slectedUserType"
                (ngModelChange)="postIdforEmployees($event)" placeholder="Select user role">
                <mat-option *ngFor="let data of companyRoles" [value]="data._id">{{data.name}}</mat-option>

              </mat-select>

            </div>
          </div>
        </div>
        <div class="col-xs-9 employe-list-table">
          <div class="employee-table-headings">
            <span>Employee Name</span>
            <!-- <span class="pull-right">
              <button class="btn btn-default run-report-btn">
                Run Report</button>
            </span> -->
            <span class="pull-right">
                <div class="main-onboarding ">
                    <div class="setting-drop">
                      <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu">
    
                        <li>
                          <a (click)="openDialogforChangeRole()">Change User Role</a>
                        </li>
                        
    
                      </ul>
                    </div>
                  </div>
            </span>
            <div class="clearfix"></div>
          </div>
          <ul class="list-unstyled employee-list">
            <span *ngFor="let data of selectedEmployees">
              <!-- <li>
               
              </li> -->
              <li class="list-items" [ngClass]="{'zenwork-checked-border': data.isActive}">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isActive"
                  (change)=singleEmpEdit(data)></mat-checkbox>
                {{data.personal.name.preferredName}}
              </li>
            </span>
            <li *ngIf="selectedEmployees.length == 0" class="list-items">
              No employees assigned to role
            </li>
            <!-- <li *ngIf ="!showEmployees" class="list-items">
              No employees assigned to role
            </li> -->
          </ul>
          <mat-paginator [length]="count" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvents($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="add-custom-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">

          <div class="add-custom-cont">

            <div class="panel-group" id="accordion7">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7"
                      href="#collapseTwentyFive">
                      Personal Access Level
                    </a>
                  </h4>
                </div>
                <div id="collapseTwentyFive" class="panel-collapse collapse in">
                  <div class="panel-body">


                  </div>
                </div>

              </div>



            </div>

          </div>

        </div>

      </div>

    </div>
  </div>




</div>


<div class="view-rights-popup">

  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">

          <div class="view-right-cont">

            <div class="panel-group" id="accordion6">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6"
                      href="#collapseTwentyOne">
                      Personal Access Level
                    </a>
                  </h4>
                </div>
                <div id="collapseTwentyOne" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <div class="person-tables">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox1" type="checkbox">
                                  <label for="checkbox1">Field Name</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox2" type="checkbox">
                                  <label for="checkbox2">No Access</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox3" type="checkbox">
                                  <label for="checkbox3">View Only</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox4" type="checkbox">
                                  <label for="checkbox4">Change Requires Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox5" type="checkbox">
                                  <label for="checkbox5">Change Without Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <a>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox6" type="checkbox">
                                  <label for="checkbox6">First Name</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox7" type="checkbox">
                                  <label for="checkbox7"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox8" type="checkbox">
                                  <label for="checkbox8"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox9" type="checkbox">
                                  <label for="checkbox9"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox10" type="checkbox">
                                  <label for="checkbox10"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox11" type="checkbox">
                                  <label for="checkbox11">Middle Name</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox12" type="checkbox">
                                  <label for="checkbox12"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox13" type="checkbox">
                                  <label for="checkbox13"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox14" type="checkbox">
                                  <label for="checkbox14"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox15" type="checkbox">
                                  <label for="checkbox15"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox16" type="checkbox">
                                  <label for="checkbox16">Last Name</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox17" type="checkbox">
                                  <label for="checkbox17"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox18" type="checkbox">
                                  <label for="checkbox18"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox19" type="checkbox">
                                  <label for="checkbox19"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox20" type="checkbox">
                                  <label for="checkbox20"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox21" type="checkbox">
                                  <label for="checkbox21">Preferred Name</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox22" type="checkbox">
                                  <label for="checkbox22"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox23" type="checkbox">
                                  <label for="checkbox23"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox24" type="checkbox">
                                  <label for="checkbox24"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox25" type="checkbox">
                                  <label for="checkbox25"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox26" type="checkbox">
                                  <label for="checkbox26">Phone Number</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox27" type="checkbox">
                                  <label for="checkbox27"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox28" type="checkbox">
                                  <label for="checkbox28"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox29" type="checkbox">
                                  <label for="checkbox29"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox30" type="checkbox">
                                  <label for="checkbox30"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox31" type="checkbox">
                                  <label for="checkbox31">State</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox32" type="checkbox">
                                  <label for="checkbox32"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox33" type="checkbox">
                                  <label for="checkbox33"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox34" type="checkbox">
                                  <label for="checkbox34"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox35" type="checkbox">
                                  <label for="checkbox35"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox36" type="checkbox">
                                  <label for="checkbox36">Location</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox37" type="checkbox">
                                  <label for="checkbox37"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox38" type="checkbox">
                                  <label for="checkbox38"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox39" type="checkbox">
                                  <label for="checkbox39"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox40" type="checkbox">
                                  <label for="checkbox40"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox41" type="checkbox">
                                  <label for="checkbox41">Marital Status</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox42" type="checkbox">
                                  <label for="checkbox42"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox43" type="checkbox">
                                  <label for="checkbox43"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox44" type="checkbox">
                                  <label for="checkbox44"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox45" type="checkbox">
                                  <label for="checkbox45"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox46" type="checkbox">
                                  <label for="checkbox46">Date</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox47" type="checkbox">
                                  <label for="checkbox47"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox48" type="checkbox">
                                  <label for="checkbox48"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox49" type="checkbox">
                                  <label for="checkbox49"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox50" type="checkbox">
                                  <label for="checkbox50"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                      </table>


                    </div>


                  </div>
                </div>

              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6"
                      href="#collapseTwentyTwo">
                      Job Access Level
                    </a>
                  </h4>

                </div>

                <div id="collapseTwentyTwo" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <div class="person-tables">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox51" type="checkbox">
                                  <label for="checkbox51">Job Title</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox52" type="checkbox">
                                  <label for="checkbox52">No Access</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox53" type="checkbox">
                                  <label for="checkbox53">View Only</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox54" type="checkbox">
                                  <label for="checkbox54">Change Requires Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox55" type="checkbox">
                                  <label for="checkbox55">Change Without Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <a>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox56" type="checkbox">
                                  <label for="checkbox56">Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox57" type="checkbox">
                                  <label for="checkbox57"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox58" type="checkbox">
                                  <label for="checkbox58"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox59" type="checkbox">
                                  <label for="checkbox59"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox60" type="checkbox">
                                  <label for="checkbox60"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox61" type="checkbox">
                                  <label for="checkbox61">Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox62" type="checkbox">
                                  <label for="checkbox62"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox63" type="checkbox">
                                  <label for="checkbox63"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox64" type="checkbox">
                                  <label for="checkbox64"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox65" type="checkbox">
                                  <label for="checkbox65"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox66" type="checkbox">
                                  <label for="checkbox66">Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox67" type="checkbox">
                                  <label for="checkbox67"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox68" type="checkbox">
                                  <label for="checkbox68"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox69" type="checkbox">
                                  <label for="checkbox69"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox70" type="checkbox">
                                  <label for="checkbox70"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox71" type="checkbox">
                                  <label for="checkbox71">Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox72" type="checkbox">
                                  <label for="checkbox72"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox73" type="checkbox">
                                  <label for="checkbox73"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox74" type="checkbox">
                                  <label for="checkbox74"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox75" type="checkbox">
                                  <label for="checkbox75"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox76" type="checkbox">
                                  <label for="checkbox76">Sale Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox77" type="checkbox">
                                  <label for="checkbox77"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox78" type="checkbox">
                                  <label for="checkbox78"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox79" type="checkbox">
                                  <label for="checkbox79"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox80" type="checkbox">
                                  <label for="checkbox80"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox81" type="checkbox">
                                  <label for="checkbox81">Sale Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox82" type="checkbox">
                                  <label for="checkbox82"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox83" type="checkbox">
                                  <label for="checkbox83"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox84" type="checkbox">
                                  <label for="checkbox84"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox85" type="checkbox">
                                  <label for="checkbox85"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox86" type="checkbox">
                                  <label for="checkbox86">Marketing Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox87" type="checkbox">
                                  <label for="checkbox87"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox88" type="checkbox">
                                  <label for="checkbox88"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox89" type="checkbox">
                                  <label for="checkbox89"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox90" type="checkbox">
                                  <label for="checkbox90"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox91" type="checkbox">
                                  <label for="checkbox91">Marketing Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox92" type="checkbox">
                                  <label for="checkbox92"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox93" type="checkbox">
                                  <label for="checkbox93"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox94" type="checkbox">
                                  <label for="checkbox94"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox95" type="checkbox">
                                  <label for="checkbox95"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox96" type="checkbox">
                                  <label for="checkbox96">Marketing Manager</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox97" type="checkbox">
                                  <label for="checkbox97"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox98" type="checkbox">
                                  <label for="checkbox98"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox99" type="checkbox">
                                  <label for="checkbox99"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox100" type="checkbox">
                                  <label for="checkbox100"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                      </table>


                    </div>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6"
                      href="#collapseTwentyThree">
                      Emergency Access Level
                    </a>
                  </h4>

                </div>

                <div id="collapseTwentyThree" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <div class="person-tables">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox101" type="checkbox">
                                  <label for="checkbox101">Name</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox102" type="checkbox">
                                  <label for="checkbox102">No Access</label>
                                </div>
                              </div>
                            </th>
                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox103" type="checkbox">
                                  <label for="checkbox103">View Only</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox104" type="checkbox">
                                  <label for="checkbox104">Change Requires Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox105" type="checkbox">
                                  <label for="checkbox105">Change Without Approval</label>
                                </div>
                              </div>
                            </th>

                            <th>
                              <a>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox106" type="checkbox">
                                  <label for="checkbox106">Name</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox107" type="checkbox">
                                  <label for="checkbox107"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox108" type="checkbox">
                                  <label for="checkbox108"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox109" type="checkbox">
                                  <label for="checkbox109"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox110" type="checkbox">
                                  <label for="checkbox110"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox111" type="checkbox">
                                  <label for="checkbox111">Relation Ship</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox112" type="checkbox">
                                  <label for="checkbox112"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox113" type="checkbox">
                                  <label for="checkbox113"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox114" type="checkbox">
                                  <label for="checkbox114"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox115" type="checkbox">
                                  <label for="checkbox115"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox116" type="checkbox">
                                  <label for="checkbox116">Phone</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox117" type="checkbox">
                                  <label for="checkbox117"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox118" type="checkbox">
                                  <label for="checkbox118"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox119" type="checkbox">
                                  <label for="checkbox119"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox120" type="checkbox">
                                  <label for="checkbox120"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox120" type="checkbox">
                                  <label for="checkbox120">Email</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox121" type="checkbox">
                                  <label for="checkbox121"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox122" type="checkbox">
                                  <label for="checkbox122"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox123" type="checkbox">
                                  <label for="checkbox123"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox124" type="checkbox">
                                  <label for="checkbox124"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                          <tr>
                            <td class="zenwork-checked-border">

                              <div class="cont-check">
                                <div class="checkbox">
                                  <input id="checkbox125" type="checkbox">
                                  <label for="checkbox125">Address</label>
                                </div>
                              </div>

                            </td>
                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox126" type="checkbox">
                                  <label for="checkbox126"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox127" type="checkbox">
                                  <label for="checkbox127"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox128" type="checkbox">
                                  <label for="checkbox128"></label>
                                </div>
                              </div>
                            </td>

                            <td>
                              <div class="cont-check label-pad">
                                <div class="checkbox">
                                  <input id="checkbox129" type="checkbox">
                                  <label for="checkbox129"></label>
                                </div>
                              </div>
                            </td>
                            <td></td>

                          </tr>

                      </table>


                    </div>

                  </div>
                </div>
              </div>

              <button class="btn" type="submit">Submit</button>
              <button class="btn" type="submit">close</button>
              <div class="clearfix"></div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>




</div>




<!-- <router-outlet></router-outlet> -->