<div class="modal-header">
    <h4>Find / Add Employee Training</h4>
   </div>

   <div class="training-cont">

      <div class="form-group col-md-4">
        <form [formGroup]="trainingSearch">
        <input type="mail" class="form-control" placeholder="Search by training name, subject, type etc.." formControlName="search">
        <span><i class="material-icons">search</i></span>
      </form>
      </div>
      <div class="clearfix"></div>


      <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Training Name</th>
              
              <th>Training Subject

                  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>

                  <ul class="dropdown-menu">
                      <li *ngFor="let subjectField of trainingSubjectData"><a (click)="filter(subjectField.name)">{{subjectField.name}}</a></li>
                  </ul>

              </th>
              <th>Training Type
                  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>
                  <ul class="dropdown-menu">
                      <li *ngFor="let subjectField of trainingTypeData"><a (click)="filterType(subjectField.name)">{{subjectField.name}}</a></li>

                    </ul>
              </th>
              <th>Average Time to Complete

                  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i aria-hidden="true" class="fa fa-filter"></i></a>
                  <ul class="dropdown-menu">
                      <li *ngFor="let subjectField of trainingAverageTime"><a (click)="filterTime(subjectField.name)">{{subjectField.name}}</a></li>

                    </ul>

              </th>
             
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let training of trainingData">
              <td [ngClass]="{'zenwork-checked-border':training.isChecked}"><mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="training.isChecked" (ngModelChange)="selctTrainingId(training.isChecked, training._id)"></mat-checkbox></td>
              <td>{{training.trainingName}}</td>
              <td>{{training.trainingSubject}}</td>
              <td>{{training.trainingType}}</td>
              <td>{{training.timeToComplete}}</td>
             
            </tr>
            
          </tbody>
      </table>

        <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)"></mat-paginator>

    </div>
    <div class="row border-top">

        <button mat-button (click)="onNoClick()">Cancel</button>
  
        <button mat-button class="submit-btn pull-right" (click)="assignTraining()">Submit</button>
  
      </div>

