.training-cont { display: block;}
.training-cont .form-group { position: relative; background:#fff; padding: 0;}
.training-cont .form-control { height: auto; border: none; box-shadow: none; padding: 10px 12px; width:100%; font-size: 15px; background: #f8f8f8;
    margin-top: 20px;}
.training-cont .form-control:focus { box-shadow: none;}
.training-cont span { position: absolute; top:30px; right:10px; cursor: pointer; width: 5%;}
.training-cont span .material-icons { color: #8e8e8e; font-size:20px; font-weight: normal;}

.training-cont .table{ background:#fff;}
.training-cont .table>tbody>tr>th, .training-cont .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.training-cont .table>tbody>tr>td, .training-cont .table>tfoot>tr>td, .training-cont .table>tfoot>tr>th, 
.training-cont .table>thead>tr>td {color: #484747;padding:15px;font-size:15px;}
.training-cont button.mat-menu-item a { color:#ccc;}
.training-cont button.mat-menu-item a:hover { color:#fff; background: #099247;}
.training-cont .table>tbody>tr>th a, .training-cont .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.training-cont .table>tbody>tr>th a .fa, .training-cont .table>thead>tr>th a .fa { color: #6f6d6d;}
.training-cont button { border: none; outline: none; background:transparent;}

.training-cont .table>tbody>tr>th .dropdown-menu, .training-cont .table>thead>tr>th .dropdown-menu { top:50px; border:none; margin: 0; padding: 0;}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.border-top {
    border-top: 1px solid #e6dfdf;
    padding-top: 20px;
}