<div class="banner about">
  <div class="container">
    <div class="row">
      <div class="banner-lft col-sm-8">
        <h2>About Us</h2>
        <h1>Creating a world <br>
          where work empowers a better life</h1>
        <small>We believe great businesses treat their employees like people, not ID numbers —and we’re <br>
          building a platform that empowers organizations to do just that.</small>
        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>
      </div>
      <div class="banner-rgt pull-right">
        <figure><img src="../../../assets/images/home/about-bg.png" width="1052" height="1038" alt="img">
          <span><img src="../../../assets/images/home/about-img.png" width="722" height="912" alt="img"></span>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->

<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>


<div #content class="leadership">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/leader-bg.png" width="492" height="1233" alt="img"></figure>
      <h2>Our Leadership</h2>
      <p>Our executive team brings deep knowledge and experience from some of the biggest <br>
        companies in technology and consulting.</p>

      <ul>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/leadership2.png" width="236" height="260" alt="img">
          <h3>SANJEEV SINGH</h3>
          <small>FOUNDER & CEO (EX-ADP), <br>
            HARVARD</small>
          <a target="_blank" href="https://www.linkedin.com/in/sanjeev-k-singh-43380325"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>

        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/Rekha.png" width="245" height="260" alt="img">
          <h3>REKHA ROY SINGH</h3>
          <small>CO-FOUNDER & CTO (EX-IBM), <br>
            OCU</small>
          <!-- <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> -->
        </li>

        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/Ed.png" width="245" height="260" alt="img">
          <h3>EDWARD PRATT</h3>
          <small>COO (EX-ADP), <br>
            UNC G</small>
          <a target="_blank" href="https://www.linkedin.com/in/edwardprattjr"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>

        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/leadership3.png" width="245" height="260" alt="img">
          <h3>NICHOLAS BONDURANT</h3>
          <small>DIRECTOR - PRODUCTS, <br>
            SPHR (EX-ADP), UMW</small>
          <a target="_blank" href="https://www.linkedin.com/in/nicholas-bondurant-0850763"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>





      </ul>
      <div class="clearfix"></div>


    </div>
  </div>
</div>