

.about.banner { height:700px;}
.about .banner-rgt { position: absolute; top: 0; right:0; z-index: -9; width: 50%;}
.about .banner-rgt figure { position: relative; }
.about .banner-rgt figure img { width: 100%; height: auto;}
.about .banner-rgt figure span { position: absolute; top:0; right:15%; width: 60%;}


.leadership { text-align: center;position: relative;}
.leadership h2 { color: #658fa8; font-size: 30px; line-height: 30px; margin: 0 0 30px;}
.leadership p { color: #757575; font-size: 18px; line-height: 27px;}

.leadership ul { margin: 50px 0 0; width: 100%; display: inline-block;}
.leadership ul li { margin: 0 0 60px;}
.leadership ul li img { margin: 0 auto 20px;}
.leadership ul li h3 { color: #658fa8; font-size: 18px; line-height: 18px; margin: 0 0 10px;}
.leadership ul li small { color: #757575; font-size: 14px; line-height:22px; margin: 0 0 10px; display: block; text-transform: uppercase;}
.leadership ul li a .fa{ font-size: 25px; line-height: 25px;}

.leadership figure{ position: absolute; top: -15%; left: 0; z-index: -9;}