<div class="col-xs-12">
    <div class="stucture-border">
      <h4>{{data._id ? 'Edit Holiday' : 'Add Holiday'}}</h4>
   
    </div>
  
    
      <table class="table">
        <thead class="tbl-head">
          <tr>
            <th>
              Location
            </th>
            <th>Name</th>
            <th>Date Observance</th>
        
          </tr>
        </thead>
        <tbody>
          <tr class="rows-bg">
           
            <td>
  
                <mat-select *ngIf="!data._id" class="form-control select-btn" [(ngModel)]="holiday.location_id" (ngModelChange)="selectAll(holiday.location_id)" multiple>
                    <!-- <mat-option  [value]="All" [(ngModel)]="allHolidays">All</mat-option> -->
                    <mat-option *ngFor="let location of allLocation" [value]="location._id">{{location.name}}</mat-option>
                  </mat-select> 
                  <mat-select *ngIf="data._id" class="form-control select-btn" [(ngModel)]="holiday.location_id" >
                      <!-- <mat-option  [value]="All" [(ngModel)]="allHolidays">All</mat-option> -->
                      <mat-option *ngFor="let location of allLocation" [value]="location._id">{{location.name}}</mat-option>
                    </mat-select> 

   
            </td>
            <td>
                <input type="text" class="form-control text-fields" [(ngModel)]="holiday.name">
   
            </td>
            <td>
                <div class="date">
                    <input matInput [matDatepicker]="picker" placeholder="mm/dd/yy" class="form-control" #hdate (dateInput)="onChangeDatevalue(hdate.value)" [(ngModel)]="holiday.date">
                    <mat-datepicker #picker></mat-datepicker>
                    <button mat-raised-button (click)="picker.open()">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                    </button>
                    <div class="clearfix"></div>
                    </div>

            </td>
            
          </tr>

        </tbody>
      </table>
      <div class="row">
  
        <button mat-button (click)="cancel()">Cancel</button>
  
        <button mat-button class="submit-btn pull-right" (click)="createHolidays()">{{data._id ? 'Update' : 'Submit'}}</button>
  
      </div>
  
    
  </div>
