<div class="banner">
  <div class="container">
    <div class="row">
      <div class="banner-lft col-sm-7">
        <!-- <h2>What do we do?</h2> -->
        <h1>Zenwork HR, Simplified Human Resources Solutions for All Businesses
        </h1>
        <small>Transform your complicated HR tasks into game-changing productivity </small>
        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>
      </div>
      <div class="banner-rgt pull-right">
        <figure><img src="../../../assets/images/home/banner-bg.png" width="1057" height="828" alt="img">
          <span><img src="../../../assets/images/home/banner-img.png" width="661" height="782" alt="img"></span>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
  <i class="fa fa-chevron-down" (click)="arrowDown(agile)"></i>
</div> -->
<section class="agile-section">
  <div class="arrow"> <a (click)="arrowDown(agile)"> <img src="../../../assets/images/home/down-arrow.png" width="94"
        height="41" alt="img"></a></div>

  <div #agile class="agile-hr">
    <div class="container">
      <div class="row">
        <h2>Agile HR Experience</h2>
        <p>Zenwork HR is a cloud-based software that quickly resolves Human Resource issues for all companies. It has
          been designed with HR professionals in mind to speed up all aspects of the HR functions. Whether it is
          included in the system, or designed to integrate with Zenwork HR, the software will decrease stress and
          increase productivity.</p>

        <div class="agile-hr-in">
          <div class="agile-hr-lft pull-left">
            <figure><img src="../../../assets/images/home/agile-hr-bg.png" width="800" height="1099" alt="img">

              <span><img src="../../../assets/images/home/agile-hr-img.png" width="459" height="354" alt="img"></span>

            </figure>

          </div>
          <div class="agile-hr-rgt col-sm-6 pull-right">
            <h3>If it works for you, it works for us!</h3>
            <small>Customizable workflows allow companies to build any type of approval path that is needed for the HR
              function. Companies can assign any employee with approval authority to easily include departments such as:
              Finance, Administration, and Operations Support even when they are not directly assigned</small>
            <video poster="placeholder.png" width="100%" height="150"
              poster="../../../assets/images/home/video_thumbnail.png" controls controlsList="nodownload">
              <source [src]='videoURL' type="video/mp4">
            </video>

            <a href="https://calendly.com/zenworkhr/intro" class="btn" (click)="registerTop()" target="_blank">Register
              for a Demo</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="company-modules">
  <div class="container">
    <div class="row">
      <h3>Be the Star of the Show!</h3>
      <h4>We’ll do the behind-the-scenes work for you!</h4>

      <ul>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon11.png" width="74" height="70" alt="img">
          <h2>Benefits</h2>
          <p>Build plans and use our Open Enrollment tools
            to make benefits a breeze! Capture Employee
            NPS feedback to learn what benefits matter
            most to your team.</p>
          <a class="btn" routerLink="/benefits" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon21.png" width="74" height="70" alt="img">
          <h2>Leave Management</h2>
          <p>Create Time-Off Policies to handle employee
            accruals. Use the Work Scheduler and
            Time-Sheet tools to make sure your staff is in
            place when you need them</p>
          <a class="btn" routerLink="/leave-management" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon31.png" width="74" height="70" alt="img">
          <h2>Recruitment</h2>
          <p>Post Jobs to websites and store candidate data within
            Zenwork HR. Use the Job Calculator to select the best
            method in filling a position.
            Schedule interviews with
            candidates and track the scores for future openings.</p>
          <a class="btn" routerLink="/recruitment" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon41.png" width="74" height="70" alt="img">
          <h2>Company Settings</h2>
          <p>Make our system your system! Adjustable Theme settngs to
            make the site look like your company. Site Access Rights &
            Management allow you to determine what your employees
            can do within the site. Mobile Access so that key data is
            always at your fingertips.</p>
          <a class="btn" routerLink="/company-setting" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon51.png" width="74" height="70" alt="img">
          <h2>Employee Self-Service & Manager Self- Service</h2>
          <p>Dashboards that have been modified for employees
            and managers to easily guide them through routine
            HR updates that save you time.</p>
          <a class="btn" routerLink="/em-service" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon61.png" width="74" height="70" alt="img">
          <h2>Powerful Security</h2>
          <p>Zenwork HR protects your Senstive
            information under 256-bit encrypted security. This is the same security
            level used by banks, the U.S. government and U.S. military.</p>
          <a class="btn" routerLink="/security" (click)="registerTop()">Know More</a>
        </li>
        <li class="col-sm-4 col-xs-6">
          <img src="../../../assets/images/home/icon71.png" width="74" height="70" alt="img">
          <h2>Integrations</h2>
          <p>We play nice with others! Zenwork HR integrates with the Quickbooks Ecosystem so that companies can use
            what works best for them.</p>
          <a class="btn" routerLink="/api-integration" (click)="registerTop()">Know More</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="team">
  <div class="container">
    <div class="row">
      <div class="team-lft col-sm-7">
        <h2>You’ve got a friend with Zenwork!</h2>
        <p>Our Team is ready to support you! We offer phone, email, and online chat support to help you with any
          questions you may have. We partner with you so that our system accommodates your company needs and procedures.
          Our expert staff will address questions with your perspective in mind. We want to take care of your HR issues
          so that you spend less time trying to build reports and more time focusing on your company’s goals for
          success. </p>
        <a href="https://calendly.com/zenworkhr/intro" class="btn" (click)="registerTop()" target="_blank">Register for
          a Demo</a>
      </div>
      <div class="team-rgt pull-right">
        <figure><img src="../../../assets/images/home/team-bg.png" width="713" height="1135" alt="img">

          <span><img src="../../../assets/images/home/team-img.png" width="449" height="529" alt="img"></span>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



<div class="why-zenwork">

  <div class="tbl">
    <div class="tbl-cell">

      <div class="container">
        <div class="row">

          <h3>Why Zenwork HR</h3>

          <ul>
            <li class="col-md-3 col-sm-4 col-xs-12">
              <img src="../../../assets/images/home/zenwork1.png" width="74" height="70" alt="img">
              <h2>Flexible</h2>
              <p>Zenwork HR is cloud-based, which
                provides us with an agile Production
                environment to keep up with new HR
                requests so that our system
                keeps up with YOU!</p>

            </li>
            <li class="col-md-3 col-sm-4 col-xs-12">
              <img src="../../../assets/images/home/zenwork21.png" width="69" height="65" alt="img">
              <h2>User-Friendly</h2>
              <p>We have built simplified workflows so
                that employees and managers will easily
                be able to make HR updates on their
                own that will save you money
                and resources.</p>

            </li>
            <li class="col-md-3 col-sm-4 col-xs-12">
              <img src="../../../assets/images/home/zenwork31.png" width="69" height="65" alt="img">
              <h2>Insightful</h2>
              <p>We have built automated reports and use
                modern tools such as eNPS and the Job
                Calculator to provide you with the key data
                you need. We’ll do the legwork on the data
                so that you can focus on the decision that is
                best for the company.</p>

            </li>
            <li class="col-md-3 col-sm-4 col-xs-12">
              <img src="../../../assets/images/home/zenwork41.png" width="69" height="65" alt="img">
              <h2>Client Support</h2>
              <p>We are available via phone,
                email and chat and want to
                help! We partner with you to
                make HR easier.</p>

            </li>

          </ul>
          <div class="clearfix"></div>

          <a href="#" class="btn">Get Started</a>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="integrates">
  <div class="container">
    <div class="row">

      <h2>Zenwork HR&nbsp;Integrates with</h2>

      <ul class="zenworks-top">
        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo11.png"
              onmouseover="this.src='../../../assets/images/home/logo1-hover1.png'"
              onmouseout="this.src='../../../assets/images/home/logo11.png'" />
          </a>
        </li>

        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo21.png"
              onmouseover="this.src='../../../assets/images/home/logo2-hover1.png'"
              onmouseout="this.src='../../../assets/images/home/logo21.png'" />
          </a>
        </li>


        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo31.png"
              onmouseover="this.src='../../../assets/images/home/logo3-hover1.png'"
              onmouseout="this.src='../../../assets/images/home/logo31.png'" />
          </a>
        </li>

      </ul>


      <ul class="zenworks-btm">

        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo61.png"
              onmouseover="this.src='../../../assets/images/home/logo6-hover1.png'"
              onmouseout="this.src='../../../assets/images/home/logo61.png'" />
          </a>
        </li>


        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo41.png"
              onmouseover="this.src='../../../assets/images/home/logo4-hover1.png'"
              onmouseout="this.src='../../../assets/images/home/logo41.png'" />
          </a>
        </li>


        <li class="col-sm-4 col-xs-6"><a href="#">
            <img src="../../../assets/images/home/logo51.png"
              onmouseover="this.src='../../../assets/images/home/logo5-hover11.png'"
              onmouseout="this.src='../../../assets/images/home/logo51.png'" />
          </a>
        </li>

      </ul>

    </div>
  </div>
</div>



<div class="employees">
  <div class="container">
    <div class="row">
      <div class="employees-lft pull-left">
        <figure>
          <div class="employee-bg">
            <img src="../../../assets/images/home/employee-bg.png" width="806" height="1160" alt="img">
            <span><img src="../../../assets/images/home/employee-lady.png" width="288" height="270" alt="img"></span>
            <div class="employee-cont">
              <p>Contact us to learn more about how this comprehensive Human Capital Management platform can transform
                your workplace.</p>
              <!-- <div class="employee-right">
                <h3>Business Analyst</h3>
                <em>Sarah-Crisp</em>
              </div> -->
            </div>
          </div>
        </figure>
      </div>

      <div class="employees-rgt col-sm-7 pull-right">
        <h2>Bring your organization the Zenwork HR experience</h2>
        <small>Zenwork HR manages Human Capital for any sector.</small>
        <figure><img src="../../../assets/images/home/employee.jpg" width="727" height="621" alt="img"></figure>
      </div>

      <div class="clearfix"></div>



    </div>
  </div>
</div>