/* .banner { margin: 170px 0 0; height: 900px;}
.banner-lft { padding: 0;}
.banner-lft h2 { color: #099247; font-size: 25px; line-height: 25px; margin: 0 0 30px; font-weight:bold;}
.banner-lft h1 {color: #5f5f5f; font-size: 40px; line-height: 50px; margin: 0 0 10px; font-weight: bold;}
.banner-lft small {color: #5f5f5f; font-size: 15px; line-height: 15px; display: block; margin: 0 0 80px;}
.banner-lft a.btn{ color: #313131;
    background: #ffc550;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 26px;
    line-height: 16px;}


.banner-rgt { padding: 0;}
.banner-rgt figure { position: absolute; top: 0; right:0; z-index: -9;}
.banner-rgt figure img { width: 100%; height: auto;} */


.banner { height:650px;}

.company-modules { text-align: center; margin: 100px 0 0;}
.company-modules h3 { color: #ffc550; font-size: 30px; line-height: 30px; margin: 0 0 10px; font-weight: 500;}
.company-modules h4 { color: #658fa8; font-size: 25px; line-height: 25px; margin: 0 0 70px;}
.company-modules ul{ display: block;}
.company-modules ul li{ margin:0 0 40px; float: none; display: inline-block; vertical-align: top;}
.company-modules ul li img { margin: 0 auto 20px;}
.company-modules ul li h2{color: #5f5f5f; font-size: 22px; line-height:28px; margin: 0 0 20px; font-weight: 500; height: 56px;}
.company-modules ul li p {color: #5f5f5f; font-size: 16px; line-height: 26px; margin: 0 0 30px; height: 125px;}
.company-modules ul li a.btn {color: #5f5f5f; font-size: 15px; line-height: 14px; border:#ffc550 1px solid;
border-radius: 20px; padding:8px 15px;}
.company-modules ul li a.btn:hover{ color:#ffc550; background:#5f5f5f; border:transparent 1px solid;}



.team { position: relative; height: 1050px; text-align: center;}
.team-lft { padding: 350px 0 0;}
.team-lft h2 { color: #658fa8; font-size: 27px; line-height: 27px; margin: 0 0 30px;}
.team-lft p {color: #5f5f5f; font-size: 17px; line-height:33px; margin: 0 0 50px;}
.team-lft a.btn{ background: #ffc550;color: #313131;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 26px;
    line-height: 16px;}

.team-rgt     { padding: 0;position: absolute; top: 0; right: 0; width: 35%;}
.team-rgt figure  { position: relative; }
.team-rgt figure img { width: 100%; height: auto;}
.team-rgt span { position: absolute; top:25%; right:30%; width:65%;}



.why-zenwork { background:url(../../../assets/images/home/why-zenwork.jpg) no-repeat top center; width: 100%; height:750px; text-align: center;background-size: cover;}
.why-zenwork .tbl-cell { padding: 50px 0 0;}
.why-zenwork h3 { color: #658fa8; font-size: 27px; line-height: 27px; margin: 0 0 40px;}
.why-zenwork ul{ display: block;}
.why-zenwork ul li{ margin:0 0 40px;}
.why-zenwork ul li img { margin: 0 auto 20px;}
.why-zenwork ul li h2{color: #5f5f5f; font-size: 22px; line-height:28px; margin: 0 0 20px; font-weight: 500;}
.why-zenwork ul li p {color: #5f5f5f; font-size: 17px; line-height:30px;}
.why-zenwork a.btn {background: #ffc550;color: #313131;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 50px;
    line-height: 16px;}


.integrates {text-align: center; padding:100px 0;}
.integrates h2 { color: #658fa8; font-size: 30px; line-height: 30px; margin: 0 0 80px;}
.integrates ul { display:inline-block; width: 100%;}
.integrates ul li { margin: 0 0 80px;}
.integrates ul li a { margin: 0;}    
.integrates ul li a img { margin: 0 auto; position: relative; z-index: 99;}
.zenworks-top { padding: 0 0 0 130px; position: relative;}
.zenworks-top::after{ content: ''; position: absolute; top: -25%; left:210px; background:url(../../../assets/images/home/cross-border.png) no-repeat top center; height: 369px; width: 369px;}

.zenworks-btm { margin: 0 0 0 -150px; position: relative;}
.zenworks-btm::after{ content: ''; position: absolute; top: -160px; right:220px; background:url(../../../assets/images/home/cross-border.png) no-repeat top center; height: 369px; width: 369px;transform: rotateY(30deg);}

.agile-hr-rgt video{ width: 71%; height: 300px; border: none; margin: 0 0 25px;}
/* .agile-section{
    margin: 80px 0 0 0;
} */