<div class="col-xs-12">
  <div class="stucture-border">
    <h4>Structure Fields&nbsp;-&nbsp;Modify Value</h4>
  </div>
  <div>
    <h4>Field <span class="mar-left-25">{{structureFieldName}}</span></h4>
  </div>
  <div>
    <table class="table">
      <thead class="tbl-head">
        <tr>
          <th style="width:5%;">
          </th>
          <th style="width:15%;">Name</th>
          <th style="width:15%;">Job Code</th>
          <th *ngIf="jobtitle" style="width:15%;"> Salary Grade</th>
         
          <th *ngIf="jobtitle" style="width:15%;"> Salary Grade Bands</th>
          <th *ngIf="jobtitle" style="width:15%;"> EEO Job Category</th>

          
          <th style="width:15%;">Status</th>

          <th style="width:5%;">
            <span class="option-position">
              <mat-icon class="cursor" [matMenuTriggerFor]="menu">more_vert</mat-icon>
              <mat-menu #menu="matMenu">
                <button *ngIf="!checkFiledIds.length >=1" mat-menu-item (click)="addStructureField()">Add</button>
                <button *ngIf="(!checkFiledIds.length <=0) && (checkFiledIds.length ==1)" mat-menu-item (click)="editStructureField()">Edit</button>
                <button *ngIf="(!checkFiledIds.length <=0) && (checkFiledIds.length >=1)" mat-menu-item (click)="deleteStructureField()">Delete</button>
              </mat-menu>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="rows-bg" *ngFor="let structure of structureValues">
          <td>
            <!-- <div class="cont-check">
                  <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="structure.isChecked">
                      
                  </mat-checkbox>
              </div> -->

          </td>
          <td>
            <input type="text" class="form-control text-fields" [(ngModel)]="structure.name" [readOnly]="editField1" >
          </td>
          <td>
            {{structure.code}}
            <!-- <input type="text" class="form-control text-fields" [(ngModel)]="structure.code" [readOnly]="editField1"> -->
          </td>
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55"
              (selectionChange)="selectedSalGrade($event,structure._id)">
              <mat-option *ngFor="let data of salarygradelist" [value]="data._id">{{data.salary_grade_name}}
              </mat-option>

            </mat-select>
          </td>
         
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55"
              (selectionChange)="selectedSalGradeBand($event,structure._id)">
              <mat-option *ngFor="let data of salGradeBands" [value]="data._id">{{data.grade}} </mat-option>

            </mat-select>
          </td>
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55"
              (selectionChange)="eeoJobCategorySend($event,structure._id)">
              <mat-option *ngFor="let data of EEOFields" [value]="data.code">{{data.name}} </mat-option>

            </mat-select>
          </td>
        
          <td>
            <!-- <mat-select class="form-control text-fields select-btn width-55" disabled>
                  <mat-option >{{structureStatus}}</mat-option>
                  
                </mat-select>  -->
            <select class="form-control text-fields width-55" disabled>
              <option value="">{{structureStatus}}</option>

            </select>


          </td>
          <td></td>


        </tr>
        <tr class="rows-bg" *ngFor="let values of customValues;let i = index">
          <td [ngClass]="{'zenwork-checked-border': values.isChecked}">
            <div class="cont-check">
              <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="values.isChecked" (change)="checkFields($event, values._id)">

              </mat-checkbox>
            </div>

          </td>
          <td>
            <input type="text" class="form-control text-fields" placeholder="Name*" [(ngModel)]="values.name" [readOnly]="values.editField" maxlength="40">
          </td>
          <td>
            {{values.prefix}}{{values.code}}
            <!-- <input type="text" class="form-control text-fields" [(ngModel)]="values.code" [readOnly]="values.editField"> -->
          </td>
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55" [(ngModel)]="values.salary_grade"
              (ngModelChange)="selectedSalGrade($event,values._id,i)">
              <mat-option *ngFor="let data of salarygradelist" [value]="data._id">{{data.salary_grade_name}}
              </mat-option>

            </mat-select>
          </td>
          
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55" [(ngModel)]="values.grade_band"
              (selectionChange)="selectedSalGradeBand($event,values._id,i)">
              <mat-option *ngFor="let data of values.salGradeBands" [value]="data._id">{{data.grade}} </mat-option>

            </mat-select>
 
            <p *ngIf="values.isValidBand" class="error">This field is mandatory</p>

          </td>
          <td *ngIf="jobtitle">
            <mat-select class="form-control text-fields select-btn width-55" [(ngModel)]="values.EeoJobCategoryCode"
              (selectionChange)="eeoJobCategorySend($event,values._id)">
              <mat-option *ngFor="let data of EEOFields" [value]="data.code">{{data.name}} </mat-option>

            </mat-select>
          </td>
         
          <td>

            <mat-select class="form-control text-fields select-btn width-55" placeholder="Status*" [(ngModel)]="values.status"
              [disabled]="values.editField" (ngModelChange)="fieldStatus(values.status)">
              <!-- <mat-option value="">Select</mat-option> -->
              <mat-option [value]="1">Active</mat-option>
              <mat-option [value]="0">Inactive</mat-option>
            </mat-select>

          </td>
          <td></td>
        </tr>


      </tbody>
    </table>
    <div class="row">

      <button mat-button (click)="cancel()" class="cancel">Cancel</button>

      <button *ngIf="!jobtitle" mat-button class="submit-btn pull-right" (click)="submitStructure()">Submit</button>
      <button *ngIf="jobtitle" mat-button class="submit-btn pull-right" (click)="submitStructureJob()">Submit</button>

    </div>

  </div>
</div>