.stucture-border {
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.mar-left-25 {
    margin-left: 25px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.table {
    border-collapse: separate;
    border-spacing: 0 7px;
    border-bottom: 2px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 25px;
}
.tbl-head {
    background: #ecf7ff
}
.rows-bg {
    background: #f8f8f8;
}
.text-fields {
    width: 100%;
    border: 1px solid #fff;
    box-shadow: none;
    background: #fff;
    padding: 0 0px 0 5px;
}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.active-structure {
    border-left: 4px solid #5ddb97;
    border-radius: 5px;
}
.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }
    .cont-check{
        margin-left: 15px;
        margin-top: 7px;
    }

.width-55 {
    width: 100%;
}
.structure-table{
    width: 60%;
    margin: 0 auto;
}

.cancel { color:#e5423d;}

.error{
    font-size:12px !important;
    color: #f44336 !important;
  }