<div class="modal-header modal-margintop margin-btm">
    <h4 class="modal-title pull-left ">Add / Edit Leave Eligibility Group</h4>
    <div class="clearfix"></div>
  </div>

<div class="modal-body">

    <div style="width: 100%">
      <div class="margin-btm">
      <div class="row" style="margin-left: 50px;">
        <div class="col-xs-4">

          <label>Name the Leave Eligibility Group</label><br>
          <input type="text" class="form-control text-field" [(ngModel)]="eligibilityGroup.name">

        </div>


        <div class="col-xs-4">
          <label>Leave Eligibility Group Effective Date</label><br>

          <div class="date">
            <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy"
              class="form-control" [(ngModel)]="eligibilityGroup.effectiveDate">
            <mat-datepicker #picker></mat-datepicker>
            <button mat-raised-button (click)="picker.open()" class="text-field">
              <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
      <!-- <div class="row" style="margin-left: 50px; margin-top: 15px;">
          <div class="col-xs-4">
  
            <label>Use Benefit Eligibility Group Rules?</label><br>
            <mat-select class="form-control text-field" [(ngModel)]="eligibilityGroup.useBenefitGroupRules" (ngModelChange)="selectBenefitEligibilityGroup($event)">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>

              </mat-select>
  
          </div>
  
  
          <div class="col-xs-4" *ngIf="showField1">
            <label>Benefit Eligibility Group List</label><br>
            <mat-select class="form-control text-field" [(ngModel)]="eligibilityGroup.benifitGroup">
                <mat-option value="5d78b5aa585e7760e3397cc1">Full Time</mat-option>
                <mat-option value="5d78b5aa585e7760e3397cc1">Part Time</mat-option>

              </mat-select>
        
          </div>
  
          <div class="clearfix"></div>
        </div> -->
      </div>
      <div class="employees-data">
        <div class="field-accordion">
          <div class="panel-group" id="accordion2">
            <!-- <div class="panel panel-border-remove" style="border-bottom:none;"> -->
              <div class="panel-heading blackout-head">
                <h4 class="panel-title heading-eligibility" style="margin-left:30px">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                    href="#eligibility-info">
                     Eligibility Criteria
                  </a>
                </h4>
              </div>
              <div id="eligibility-info" class="panel-collapse collapse in">
                <div class="panel-body eligibilty-border-bottom">

                  <div class="employees-data">
                    <div class="col-sm-12 table-body margin-btm">
                      <div class="row">
                        <div class="col-sm-6 structure-tbl-body height-300">

                          <ul class="list-unstyled structure-list" *ngFor="let fields of structureFields">

                            <li class="list-items" [ngClass]="{'zenwork-checked-border': fields.isChecked}">
                              <div>

                                <mat-checkbox class="checkbox-success" [(ngModel)]="fields.isChecked"
                                  [value]="fields.name"
                                  (ngModelChange)="eligibilityArray = [];getStructureSubFields(fields.name,fields.isChecked )">
                                  {{fields.name}}
                                </mat-checkbox>
                              </div>

                            </li>

                          </ul>
                        </div>

                        <div class="col-sm-1 text-center arrow-position">
                          <i class="material-icons arrow-align-one">
                            keyboard_arrow_right
                          </i>
                          <i class="material-icons arrow-align-two">
                            keyboard_arrow_right
                          </i>
                        </div>
                        <div class="col-sm-6 structure-tbl-body height-300">

                          <div *ngIf="StructureValues">
                            <ul class="list-unstyled structure-list" *ngFor="let values of StructureValues">

                              <li class="list-items-values">
                                <mat-checkbox class="checkbox-success" 
                                  (change)="subFieldsStructure($event,values.name)" [(ngModel)]="values.isChecked" [value]="values.name">
                                  {{values.name}}
                                </mat-checkbox>

                              </li>

                            </ul>

                          </div>
                          <div *ngIf="customValues">
                            <ul class="list-unstyled structure-list" *ngFor="let values of customValues">

                              <li class="list-items-values">
                                <mat-checkbox class="checkbox-success"
                                  (change)="subFieldsStructure($event,values.name)" [(ngModel)]="values.isChecked" [value]="values.name">
                                  {{values.name}}
                                </mat-checkbox>
                              </li>

                            </ul>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
                    <div class="panel-group" id="accordion3">
                      <div class="panel panel-border-remove" style="border-bottom:none;">
                        <div class="panel-heading specific-head">
                          <h4 class="panel-title heading-eligibility">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3"
                              href="#specific-employee">
                              Specific Employee
                            </a>
                          </h4>
                        </div>
                        <div id="specific-employee" class="panel-collapse collapse in" style="margin-left:25px;">
                          <div class="panel-body eligibilty-border-bottom row" style="padding-bottom:30px;">
                            <!-- <div class="col-xs-6">
                              <h4>Include a Specific Person</h4>
                              <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems"
                                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
                              </ng-multiselect-dropdown>
                            </div>
                            <div class="col-xs-6">
                              <h4>Exclude a Specific Person</h4>
                              <ng-multiselect-dropdown [placeholder]="'custom placeholder'"
                                [data]="dropdownList" [(ngModel)]="selectedItems"
                                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                              </ng-multiselect-dropdown>
                            </div> -->
                            <div>
                              <h4 style="float: left;">Include a Specific Person</h4>
                              <h4 style="float: right;">Exclude a Specific Person</h4>
                              <div class="clearfix"></div>
                              <dual-list [source]="dropdownList" [(destination)]="selectedUsers" [format]="format" filter=true
                              height='300px' (click)="onSelectUsers(selectedUsers)">
                            </dual-list>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-btm row" style="margin-left:10px;">
                      <h4 style="margin-left:15px;">Assign Initial Group Effective Date</h4>
                      <div class="col-xs-3">
                        <label>Select Date</label>
                        <mat-select class="form-control text-field" [(ngModel)]="eligibilityGroup.date_selection" (ngModelChange)="selectEffectiveDate($event)"
                        placeholder="Select date">
                          <mat-option value="date_of_hire">Date of Hire</mat-option>
                          <mat-option value="custom_date">Custom Date</mat-option>
                        </mat-select>
                      </div>
                      <div class="col-xs-3" *ngIf="showField2">
                        <label>Select Custom Date Field</label>

                        <div class="date">
                          <input matInput [matDatepicker]="picker2" placeholder="mm / dd / yy"
                            class="form-control" [(ngModel)]="eligibilityGroup.custom_date_field">
                          <mat-datepicker #picker2></mat-datepicker>
                          <button mat-raised-button (click)="picker2.open()" class="text-field">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <!-- <mat-select class="form-control text-field" [(ngModel)]="eligibilityGroup.customDate" placeholder="Select custom date">
                          <mat-option value="Custom Date1">Custom Date1</mat-option>
                          <mat-option value="Custom Date2">Custom Date2</mat-option>
                        </mat-select> -->
                      </div>
                      <!-- <div class="col-xs-6" *ngIf="showField2">
                          <input type="file" id="fileUpload" (change)="fileChangeEvent($event)">
                          <label for="fileUpload">
                              <a mat-raised-button class="import-date-btn upload">Import Custom Date</a>
                              
                            </label>
                        <span class="mar-left-25">
                          <a target="_blank" class="green" style="cursor:pointer;" (click)="downloadExcelFile()">Click here to Download.</a>
                        </span>
                      </div> -->

                    </div>

                    <div class="margin-btm" style="margin-left:20px;">

                      <h4>Preview Employee Benefit Eligibility Group List
                       <!-- <button class="import-date-btn pull-right text-report">Run Report</button>  -->

                      </h4>
                      <div class="clear-fix"></div>
                      <span>(Total Employees - {{count}})</span>
                      <div class="custom-tables group-list">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                Employee Name
                              </th>
                              <th>Employee ID</th>
                              <th>Manager Name</th>
                              <th>Department</th>
                              <th>Effective Date<br><small>(Custom Date1)</small></th>
                              <th>Benefit Eligibility Group</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let list of previewList">
                              <td>{{list.personal.name.firstName}}</td>
                              <td>{{list.job.employeeId}}</td>
                              <td>
                                <span *ngIf="list.job.ReportsTo">
                                    {{list.job.ReportsTo.personal.name.firstName}}
                                </span>
                                
                              </td>
                              <td>{{list.job.department}}</td>
                              <td></td>
                              <td></td>
                            </tr>

                        </table>
                        
                      </div>
                      <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[2,5, 10, 25, 100]" (page)="pageEvents($event)">
                      </mat-paginator>
                    </div>
                    <div class="row" style="margin:30px 0px;">

                      <button mat-button (click)="onNoClick()">Cancel</button>

                      <button mat-button class="submit-btn pull-right" (click)="createAndUpdateLeaveEligibilityGroup()">Submit</button>
                    </div>
                    <div class="clearfix"></div>

                 

                </div>
              <!-- </div> -->
           
          



        </div>
      </div>
    </div>
