.modal-body{
    padding: 0;
}
.modal-body .container{
      margin: 20px 40px;
}
.margin-btm {
    border-bottom: 1px solid #fdeded;
    padding: 20px 0;
  }
  .text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
    width: 85%;
  }
  .date { height: 40px !important; line-height:inherit !important; width:66% !important; background: #f8f8f8;}
.date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.date span { border: none !important; padding: 0 !important;}
.date .form-control { width:80%; height: auto; padding: 12px 0 12px 10px;}
.date .form-control:focus { box-shadow: none; border: none;}
.date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

  .employees-data{
    padding: 0px 30px;
  }
  .field-accordion .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.field-accordion .panel-group .panel-heading+.panel-collapse>.list-group, .field-accordion .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.field-accordion .panel-heading .accordion-toggle:after { margin:4px 10px 0; font-size: 10px; line-height: 10px;}
.field-accordion .panel-body { padding: 0 0 5px;}

.field-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.field-accordion .panel-default { border-color:transparent;}
.field-accordion .panel-group .panel+.panel { margin-top: 20px;}


/* .field-accordion .panel-default>.panel-heading{
    background: #f8f8f8 !important;
    position: relative;
}
.field-accordion .panel{
    box-shadow: none;background: #f8f8f8;
} */
.field-accordion .panel-title a{
    display: inline-flex;
}
.structure-tbl-body {
    background: #f8f8f8;
    width: 45%;
  }
  .height-300 {
    height: 300px;
    overflow: auto;
  }
  .structure-list .list-items{
    padding: 15px 15px;
    border-bottom: 2px solid #eee;
  }
  .structure-list .list-items-values{
    padding: 17px 37px;
    border-bottom: 2px solid #eee;
  }
  .person-tables .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top: 0;height: 100%;}

.person-tables .table>tbody>tr>td.zenwork-checked-border {position: relative;text-align: left}
.arrow-position {
  position: relative;
}
.arrow-align-one {
  font-size: 40px;
  position: absolute;
  top: 145px;
  left: 30px;
  font-weight: lighter;
  color: #439348; 
}
.arrow-align-two {
  font-size: 40px;
  position: absolute;
  top: 145px;
  right: 0;
  left: -15px;
  font-weight: lighter;
  color: #439348;
}
.employees-table{
  margin: 60px 0 0 0;
}
.field-accordion .panel-title { display: inline-block;}
.field-accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}
.import-date-btn {
    background-color: #797d7a;
    border: 1px solid #797d7a;
    border-radius: 50px;
    color: #fff;
    margin-top: 30px;
    outline: none;
    margin-right: 30px;
  }
  .text-report {
    font-size: 12px;
  
  }
  .custom-tables { margin: 0 auto; float: none; padding: 30px 30px 0 5px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px; background: #eef7ff; border:none; font-size: 15px; border-radius:3px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 15px; background:#fff;border: none;vertical-align:middle;font-size: 13px;}
.custom-fields .checkbox{ margin: 0;}
.group-list .table>tbody>tr>td {
  background: #f8f8f8;
  border: none;
  vertical-align: middle;
  border-top: none;
  border-bottom: #c3c3c3 1px solid;
  color: #948e8e;
}
.submit-btn {
  background-color: #439348;
  border: 1px solid #439348;
  border-radius: 35px;
  color: #fff;
  padding: 0 25px;    
}
label{
  font-weight: normal;
  line-height: 30px;
  color:#464444;
  font-size: 15px;
  padding: 0 0 0 2px;
}
.blackout-head {
  margin: 20px 0px 0 -10px;
}
.specific-head {
  margin: 20px 0px 20px 10px;
}

#fileUpload {
  height: 0;
  display: none;
  width: 0;
}

.upload{
  text-decoration: none;
}
.dual-list .listbox button{
  background: #008f3d !important;
}