<div class="manager-request col-md-11">

  <div class="request">
    <h4>Change Request</h4>

    <a href="#" class="pull-left" data-toggle="modal" (click)="jobchangePopup()" data-target="#myModal">Job Change</a>
    <a href="#" class="pull-left" data-toggle="modal" (click)="jobchangePopup()" data-target="#myModal1">Salary
      Change</a>

  </div>

</div>


<!-- Job chnage Popup-->

<div class="job-change-popup">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Job Change Request</h4>
        </div>
        <div class="modal-body">
          <div class="job-main">

            <form [formGroup]="jobChangeForm">

              <div class="job-change">

                <div class="job-change-in col-md-11">

                  <ul>

                    <li>
                      <label>Select Employee Name</label>
                      <mat-select class="form-control" placeholder="Employee Name"
                        (selectionChange)="selectEmployee($event)">
                        <mat-option *ngFor="let emp of employeeData" [value]="emp._id">{{emp.personal.name.preferredName}}
                        </mat-option>
                      </mat-select>

                    </li>

                    <li class="col-md-6">
                      <label>Current Status</label>
                      <div class="job-status">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Job Title</th>
                              <th>Current Value</th>
                              <th>Effective Date</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <td>Job Title</td>
                              <td>

                                <span class="form-control" readonly>{{empStatus.job.jobTitle}}</span>

                                <!-- <mat-select class="form-control">
                                  <mat-option [value]="empStatus.job.jobTitle" >{{empStatus.job.jobTitle}}</mat-option>
                                  
                                </mat-select> -->

                              </td>
                              <td>
                                <div class="date" readonly>
                                  <span class="form-control">{{empStatus.personal.effectiveDate | date}}</span>

                                  <mat-datepicker #picker></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>Department</td>
                              <td>
                                <span class="form-control" readonly>{{empStatus.job.department}}</span>
                              </td>
                              <td>
                                <div class="date">
                                  <span class="form-control">{{empStatus.personal.effectiveDate | date}}</span>
                                  <mat-datepicker #picker2></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>Location</td>
                              <td>
                                <span class="form-control" readonly>{{empStatus.job.location}}</span>
                              </td>
                              <td>
                                <div class="date">
                                  <span class="form-control">{{empStatus.personal.effectiveDate | date}}</span>
                                  <mat-datepicker #picker3></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </li>


                    <li class="col-md-6">
                      <label>New Status</label>
                      <div class="job-status new">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Filed Name</th>
                              <th>&nbsp; New Value &nbsp; &nbsp;</th>
                              <th>Effective Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Job Title</td>
                              <td>
                                <mat-select class="form-control" placeholder="Job title" formControlName="new_value">
                                  <mat-option *ngFor="let title of allJobTitleFields" [value]="title.name">
                                    {{title.name}}
                                  </mat-option>
                                </mat-select>
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker4" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date" [min]="pastDate">
                                  <mat-datepicker #picker4></mat-datepicker>
                                  <button mat-raised-button (click)="picker4.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>Department</td>
                              <td>
                                <mat-select class="form-control" placeholder="Department" formControlName="new_value1">
                                  <mat-option *ngFor="let depart of allDepartments" [value]="depart.name">
                                    {{depart.name}}
                                  </mat-option>

                                </mat-select>
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker5" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date1" [min]="pastDate">
                                  <mat-datepicker #picker5></mat-datepicker>
                                  <button mat-raised-button (click)="picker5.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>Location</td>
                              <td>
                                <mat-select class="form-control" placeholder="Location" formControlName="new_value2">
                                  <mat-option *ngFor="let location of allLocations" [value]="location.name">
                                    {{location.name}}</mat-option>

                                </mat-select>
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker6" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date2" [min]="pastDate">
                                  <mat-datepicker #picker6></mat-datepicker>
                                  <button mat-raised-button (click)="picker6.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>
                           
                          </tbody>
                        </table>

                        <p class="errors" *ngIf="jobChangeForm.get('new_value').invalid && jobChangeForm.get('new_value').touched || jobChangeForm.get('effective_date').invalid && jobChangeForm.get('effective_date').touched 
                        || jobChangeForm.get('new_value1').invalid && jobChangeForm.get('new_value1').touched || jobChangeForm.get('effective_date1').invalid && jobChangeForm.get('effective_date1').touched 
                        || jobChangeForm.get('new_value2').invalid && jobChangeForm.get('new_value2').touched || jobChangeForm.get('effective_date2').invalid && jobChangeForm.get('effective_date2').touched">Please fill the all new status values</p>
                        
                      </div>
                    </li>
                    <div class="clearfix"></div>


                    <li>
                      <label>Does the change impact salary</label>
                      <mat-select class="form-control" formControlName="impactsSalary" placeholder="Salary change">
                        <mat-option value="true">Yes</mat-option>
                        <mat-option value="false">No</mat-option>
                      </mat-select>
                    </li>

                    <li>
                      <label>Change Reason</label>
                      <mat-select class="form-control" formControlName="changeReason" placeholder="Change reason">
                        <mat-option [value]="reason.name" *ngFor="let reason of allJobChanges">{{reason.name}}
                        </mat-option>
                      </mat-select>
                    </li>

                    <li class="text-area">
                      <label>Note *</label>
                      <textarea class="form-control" rows="5" id="comment" formControlName="notes" placeholder="Note" maxlength="600"></textarea>
                    </li>

                    <div class="work-flow-lft col-md-3">
                      <label>Approval</label>
                      <ul>
                        <span *ngIf="updateJobWorkflow">
                          <li *ngFor="let data of usersOrder">
                            <!-- <input type="text" class="form-control" placeholder="Reports To"
                               [readOnly]="disableField"> -->
                            <span class="form-control">{{data}}</span>
                            <!-- 
                          <mat-select class="form-control" formControlName ="jobManagerName" placeholder="Reports To" [disabled]="disableField">
                            <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
                            </mat-option>
                          </mat-select> -->
                          </li>
                        </span>
                      </ul>
                    </div>
                    <!-- <div class="approval">
                          <h4>Approval Priority</h4>
                          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag><span><i
                                  class="fa fa-list-ul" aria-hidden="true"></i></span>{{timePeriod}}</div>
                          </div>
  
                        </div> -->



                  </ul>

                </div>

              </div>

              <div class="termination-border col-md-11">

                <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                <button class="btn pull-right save" type="submit" (click)="jobChangeSubmit()">Submit</button>
                <div class="clearfix"></div>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>



<!-- Salary chnage Popup-->

<div class="job-change-popup">

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Salary Change Request</h4>
        </div>
        <div class="modal-body">

          <div class="job-main">

            <form [formGroup]="salaryChangeForm">

              <div class="job-change">

                <div class="job-change-in col-md-11">

                  <ul>

                    <li>
                      <label>Select Employee Name</label>
                      <mat-select class="form-control" placeholder="Employee Name"
                        (selectionChange)="selectEmployee($event)">
                        <mat-option *ngFor="let emp of employeeData" [value]="emp._id">{{emp.personal.name.preferredName}}
                        </mat-option>
                      </mat-select>

                    </li>

                    <li class="col-md-6">
                      <label>Current Status</label>
                      <div class="job-status">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Job Title</th>
                              <th>Current Value</th>
                              <th>Effective Date</th>
                            </tr>
                          </thead>

                          <tbody>

                            <tr>
                              <td>Pay Type</td>
                              <td>
                                <mat-select class="form-control" placeholder="Pay Type"
                                  (selectionChange)="selectPayType($event)">
                                  <mat-option *ngFor="let pay of allPayType" [value]="pay.payType">{{pay.payType}}
                                  </mat-option>
                                </mat-select>
                              </td>
                              <td>
                                <div class="date" readonly>
                                  <span class="form-control">{{newEmpStatus.effective_date | date}}</span>
                                  <mat-datepicker #picker9></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>Pay Rate</td>
                              <td>
                                <span class="form-control" readonly>{{newEmpStatus.payRate.amount}}</span>
                              </td>
                              <td>
                                <div class="date" readonly>
                                  <span class="form-control">{{newEmpStatus.effective_date | date}}</span>
                                  <mat-datepicker #picker7></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>Pay Frequency</td>
                              <td>
                                <span class="form-control" readonly>{{newEmpStatus.Pay_frequency}}</span>
                              </td>
                              <td>
                                <div class="date">
                                  <span class="form-control">{{newEmpStatus.effective_date | date}}</span>
                                  <mat-datepicker #picker8></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>% Change Difference</td>
                              <td>
                                <input placeholder="% Change" class="form-control" formControlName="old_value3">

                              </td>
                              <td>
                                <div class="date">
                                  <span class="form-control">{{newEmpStatus.effective_date | date}}</span>
                                  <mat-datepicker #picker9></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </li>



                    <li class="col-md-6">
                      <label>New Status</label>
                      <div class="job-status new">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Job Title</th>
                              <th>&nbsp; New Value &nbsp; &nbsp;</th>
                              <th>Effective Date</th>
                            </tr>
                          </thead>
                          <tbody>


                            <tr>
                              <td>Pay Type</td>
                              <td>
                                <mat-select class="form-control" placeholder="Pay Type"
                                  (selectionChange)="selectPayType($event)">
                                  <mat-option *ngFor="let pay of allPayTypenew" [value]="pay.name">{{pay.name}}
                                  </mat-option>
                                </mat-select>
                              </td>
                              <td>
                                <div class="date" readonly>
                                  <span class="form-control">{{newEmpStatus.effective_date | date}}</span>
                                  <mat-datepicker #picker9></mat-datepicker>
                                  <button mat-raised-button>
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>Pay Rate</td>
                              <td>
                                <input placeholder="Pay Rate" class="form-control" formControlName="new_value1">
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker121" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date1" [min]="pastDate">
                                  <mat-datepicker #picker121></mat-datepicker>
                                  <button mat-raised-button (click)="picker121.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>Pay Frequency</td>
                              <td>
                                <mat-select class="form-control" placeholder="Frequency" formControlName="new_value2">
                                  <mat-option [value]="frequen.name" *ngFor="let frequen of allPayFrequency">
                                    {{frequen.name}}</mat-option>
                                </mat-select>
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker113" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date2" [min]="pastDate">
                                  <mat-datepicker #picker113></mat-datepicker>
                                  <button mat-raised-button (click)="picker113.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td>% Change Difference</td>
                              <td>
                                <input placeholder="% Change" class="form-control" formControlName="new_value3">
                              </td>
                              <td>
                                <div class="date">
                                  <input matInput [matDatepicker]="picker012" placeholder="mm / dd / yy"
                                    class="form-control" formControlName="effective_date3" [min]="pastDate">
                                  <mat-datepicker #picker012></mat-datepicker>
                                  <button mat-raised-button (click)="picker012.open()">
                                    <span>
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                  <div class="clearfix"></div>
                                </div>
                              </td>
                            </tr>


                          </tbody>
                        </table>


                        <p *ngIf="salaryChangeForm.get('new_value1').invalid && salaryChangeForm.get('new_value1').touched || salaryChangeForm.get('effective_date1').invalid && salaryChangeForm.get('effective_date1').touched 
                        || salaryChangeForm.get('new_value2').invalid && salaryChangeForm.get('new_value2').touched || salaryChangeForm.get('effective_date2').invalid && salaryChangeForm.get('effective_date2').touched 
                        || salaryChangeForm.get('new_value3').invalid && salaryChangeForm.get('new_value3').touched || salaryChangeForm.get('effective_date3').invalid && salaryChangeForm.get('effective_date3').touched" class="errors">Please fill the all new status values</p>

                      </div>

                    </li>
                    <div class="clearfix"></div>

                    <li>
                      <label>Change Reason</label>
                      <mat-select class="form-control" placeholder="Reason" formControlName="changeReason">
                        <mat-option [value]="reason.name" *ngFor="let reason of allJobChanges">{{reason.name}}
                        </mat-option>
                      </mat-select>
                    </li>

                    <li class="text-area">
                      <label>Note *</label>
                      <textarea class="form-control" rows="5" id="comment" formControlName="notes" placeholder="Note" maxlength="600"></textarea>
                    </li>

                    <div class="work-flow-lft col-md-3">
                      <label>Approval</label>
                      <ul>



                        <span *ngIf="updateCompensationWorkflow">
                          <li *ngFor="let data of usersCompensationOrder">
                            <!-- <input type="text" class="form-control" placeholder="Reports To"
                               [readOnly]="disableField"> -->
                            <span class="form-control">{{data}}</span>
                            <!-- 
                          <mat-select class="form-control" formControlName ="jobManagerName" placeholder="Reports To" [disabled]="disableField">
                            <mat-option *ngFor="let data of managerData" [value]="data._id">{{data.levelName}}
                            </mat-option>
                          </mat-select> -->
                          </li>
                        </span>


                      </ul>
                    </div>

                  </ul>

                </div>

              </div>

              <div class="termination-border col-md-11">

                <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
                <button class="btn pull-right save" type="submit" (click)="salaryChangeSubmit()">Submit</button>
                <div class="clearfix"></div>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>