.manager-request { margin: 0 auto; float: none;}

.request { padding: 30px 0 0;}
.request a { padding:10px 15px; background: #fff; border-radius: 4px; color:#484747;margin: 20px 15px 0 0;
    font-size: 16px;
    font-weight: 500;}
.request a:hover{ background: #787d7a; color:#fff;}

.work-flow-lft { margin:30px 0;}
.work-flow-lft ul { background:#f8f8f8; padding:20px 20px 0; margin: 30px 0 0;}
.work-flow-lft ul li { border-bottom:#3a3a3a dashed 1px; margin: 0 0 15px; padding: 0 0 15px;}
.work-flow-lft ul li h6{ margin: 0 0 5px; font-size: 15px;}
.work-flow-lft ul li.border{ border: none;}

.work-flow-lft ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%; background:#fff;}
.work-flow-lft ul li .form-control:focus{ box-shadow: none;}
.work-flow-lft ul li span { vertical-align:middle; display: inline-block; padding: 0 25px 0 0;}
.work-flow-lft ul li span .fa{ color:#c1c1c1; font-size:20px; line-height:20px; vertical-align:text-bottom;}

.errors {color:#e44a49; padding:10px 0 0; font-size: 16px; margin: 0;}