/* .import-balance-popup { display: block;} */
/* .import-balance-popup .modal-header { padding:0 60px 25px; border-bottom: 1px solid #c5c3c3;}
.import-balance-popup .modal-dialog { width:70%;}
.import-balance-popup .modal-content { border: none; padding:30px 0 50px;} */

.import-cont .btn {border-radius: 20px;color:#000; font-size: 15px; padding:6px 25px; background:transparent; margin:30px 0 0; float:left;}
.import-cont .btn:hover {background: #008f3d; color:#fff;}
.import-cont { margin:40px auto 0; float: none; padding: 0;}
.margin-btm {
    border-bottom: 1px solid #fdeded;
}
.padding-top-btm {
    padding: 30px 0px;
}
.text-field{
    border: none; 
    box-shadow: none; 
    padding: 11px 12px; 
    height: 40px; 
    box-shadow: none;
    background: #f8f8f8;
}
label{
    font-weight: normal;
    line-height: 30px;
    color:#464444;
    font-size: 15px;
    padding: 0 0 0 2px;
}
.tier-width {
    width: 20%;
    margin-top: 10px;
}
.tier-head {
    font-size: 16px;
    margin: 20px 0px;
}
.recap-table {margin: 40px 0 0 0;}
.recap-table .table>thead>tr>th { color: #6f6f6f; font-weight: normal;  background: #eef7ff; border:none; font-size: 16px; 
border-radius:3px; width: 21px;}
.recap-table .table>tbody>tr>td, .recap-table .table>tfoot>tr>td, .recap-table .table>thead>tr>td{ background:#f8f8f8;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#948e8e;}
.recap-table .checkbox{ margin: 0;}
.recap-table .checkbox label { padding-left: 0;}
.recap-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.recap-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:4px;height:80%; border-radius: 0 4px 4px 0; padding: 0; left: 0;}
.submit-btn {
    background-color: #439348;
    border: 1px solid #439348;
    border-radius: 35px;
    color: #fff;
    padding: 0 25px;    
}
.border-tier{
    background-color: #fff;
    box-shadow: none;
}
.border-top {
    border-top: 1px solid #c5c3c3;
    padding-top: 30px;
}
