

        <div class="modal-header">
          <h4 class="modal-title">Add / Edit - Tier Level - Settings</h4>
        </div>

       

          <div class="import-cont col-md-11">

              <div class="margin-btm row padding-top-btm">
                 
                  <ul class="list-unstyled">
                    <li>
                        <label>Select Date Type for Length of Service Calculation</label><br>
                    
                        <mat-select class="form-control text-field tier-width" [(ngModel)]="datetype_Of_Servicecalc">
                            <mat-option value="Hire Date">Hire Date</mat-option>
                            <mat-option value="Rehire Date">Rehire Date</mat-option>
                            <mat-option value="Custom">Custom</mat-option>
                          </mat-select>
                    </li>
                    <li>
                        <label>Tier Level Entry Point </label><br>
                    
                        <mat-select class="form-control text-field tier-width" [(ngModel)]="tierLevel_Entry">
                            <mat-option value="Beginning of Pay Cycle">Beginning of Pay Cycle</mat-option>
                            <mat-option value="End of Pay Cycle">End of Pay Cycle</mat-option>
                            <mat-option value="Manual Adjustment">Manual Adjustment</mat-option>
                          </mat-select>
                    </li>
                    <li>
                      <label>Number of Tier Levels</label><br>
                      <input type="number" class="form-control text-field tier-width" [(ngModel)]="TierLevel_Ln" (change)="pushTierLevels()">
                     
                    </li>
                   
                  </ul>
                </div>
                <div class="margin-btm row padding-top-btm">
                  <h5 class="tier-head">Define Tier Levels</h5>
                    <div class="recap-table">
                        <table class="table" style="margin-bottom:0px;">
                          <thead>
                            <tr>
                              <th>
                             
                              </th>
                              <th>Tier Level</th>
                              <th>Length of Service</th>
                              <th></th>
                              <th>Hours Earned Max</th>
                              <th>Hours Earned Per Cycle</th>
                              <th>Carry over allowed?</th>
                              <th *ngIf="hideField">Carry over max?</th>
                              <th>
        
                                <mat-icon class="cursor" [matMenuTriggerFor]="menu2">more_vert</mat-icon>
                                <mat-menu #menu2="matMenu" class="option-position"> 
                                  <button mat-menu-item class="edit-color" (click)="editTierLevels()">Edit</button>
                                  <button mat-menu-item class="edit-color" (click)="deleteTierLevels()">Delete</button>
                                </mat-menu>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
        
                            <tr *ngFor="let levels of tierLevels; let i=index;">
                              <td [ngClass]="{'zenwork-checked-border': levels.isChecked}">
        
                                      <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="levels.isChecked" >
                        
                                      </mat-checkbox>

                              </td>
                              <td (click)="levelNumber(i+1)">Level {{i+1}}</td>
                              <td>
                                <input type="number" class="form-control border-tier" [(ngModel)]="levels.serviceLength.date" [readOnly]="levels.edit">
                               
                              </td>
                              <td style="width:13%;">
                               
                             <mat-select class="form-control border-tier" [(ngModel)]="levels.serviceLength.duration" [disabled]="levels.edit">
                                <mat-option value="Years">Years</mat-option>
                               <mat-option value="Months">Months</mat-option>
                                         
                               </mat-select>
                                
                              </td>
                              <td>
                                <input type="number" class="form-control border-tier" [(ngModel)]="levels.hoursEarnedMax" [readOnly]="levels.edit">
                              </td>
                              <td>
                                  <input type="number" class="form-control border-tier" [(ngModel)]="levels.hoursEarnedPerCycle" [readOnly]="levels.edit">
                              </td>
                              <td>
                                  <mat-select class="form-control border-tier" [(ngModel)]="levels.carryOverAllowed" [disabled]="levels.edit" (ngModelChange)="allowedCarryOver(levels.carryOverAllowed)">
                                      <mat-option value="Yes">Yes</mat-option>
                                      <mat-option value="No">No</mat-option>
                                     
                                    </mat-select>
                              </td>
                              <td *ngIf="hideField">
                                  <input type="number" class="form-control border-tier" [(ngModel)]="levels.carryOverMax" [readOnly]="levels.edit">
                              </td>
                              <td></td>
        
                            </tr>
        
                          
                        </table>
                        </div>
        
                  
                  </div>

          </div>
          <div class="col-md-12 border-top">
            <div class="col-md-12">

              <button mat-button (click)="onNoClick()">Cancel</button>

              <button mat-button class="submit-btn pull-right" (click)="addTierLevel()">Submit</button>
            </div>


          </div>

          <div class="clearfix"></div>

        


    


