<header>
  <div class="container">
    <div class="row">

      <div class="logo pull-left">
        <a routerLink="/home"><img src="../../../assets/images/main-nav/Component 1@2x.png" alt="img"></a>
      </div>

      <div class="header-rgt pull-right">

        <div class="main-nav">

          <nav class="navbar navbar-default">

            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav" id="nav-scroll">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Features</a>
                    <ul class="dropdown-menu">
                      <li ><a routerLink="/benefits">Benefits Administration</a></li>
                      <li ><a routerLink="/leave-management">Leave Management</a></li>
                      <li ><a routerLink="/recruitment">Recruitment</a></li>
                      <li ><a routerLink="/company-setting">Company Settings</a></li>
                      <li><a routerLink="/em-service">Employee Self Service & Manager Self Service</a></li>
                      <li><a routerLink="/security">Security</a></li>
                      <li><a routerLink="/api-integration">Integration & API Partners</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a routerLink="/pricing">Pricing</a></li>
                  <!-- <li ><a routerLink="">Resources</a></li> -->
                  <li ><a routerLink="/contact">Contact Us</a></li>
                  <li ><a routerLink="/partner">Become a Partner</a></li>

                  <li class="login pull-right">
                    <div class="akira">
                      <ul>
                        <li><a routerLink="/zenwork-login">Login</a></li>
                        <li class="last"><a (click) = "signUp()"  class="sign-up">Sign Up</a></li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                  </li>

                </ul>

              </div>
            </div>

          </nav>

        </div>
        <div class="clearfix"></div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</header>