header                  { margin: 35px 0 0; z-index: 1}
.logo					{ margin: 0;}
.logo a					{ display: inline-block;padding: 10px 0 0 0;}

.header-rgt			    {width:70%;}

.main-nav               {display: block;}
.main-nav .navbar { min-height: inherit; margin-bottom: 0; padding:0;}
.main-nav .navbar-nav { float: none;}
.main-nav .navbar-default {background: none;border: none;text-align:  left;margin:18px 0 0 90px;} 
.main-nav .navbar-nav>li {float: none; vertical-align: middle; display: inline-block; padding: 0 0 5px;}
.main-nav .navbar-nav > li > a {margin: 0 15px;font-size: 16px;line-height:16px;font-weight:500;color:#5f5f5f;display: inline-block;border-radius: 3px;transition:all ease-in-out 0.4s;-moz-transition:all ease-in-out 0.4s;-ms-transition:all ease-in-out 0.4s;-o-transition:all ease-in-out 0.4s;-webkit-transition:all ease-in-out 0.4s;padding: 0;cursor: pointer;}

.main-nav .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color:#292929;}
.main-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form{ padding: 0;}
.main-nav .container-fluid { padding: 0;}


.main-nav .navbar-default .navbar-nav>.open>a, .main-nav .navbar-default .navbar-nav>.open>a:focus, .main-nav .navbar-default .navbar-nav>.open>a:hover
 { background: none; color:#5f5f5f;}
.main-nav .navbar-nav>li>.dropdown-menu {border-radius:6px; box-shadow:0 0 15px #cecece; padding: 0; top:25px;}
.main-nav .navbar-nav>li:hover .dropdown-menu{display:block;}
.main-nav .dropdown-menu {left:0; min-width:auto; border: none; box-shadow: none; width: 300px;}
.main-nav .dropdown-menu>li { margin: 0;}
.main-nav .dropdown-menu>li>a {font-size: 14px;line-height: 15px;padding:13px 0 13px 15px;font-weight: 500;color:#8e8e8e;}
.main-nav .dropdown-menu>li>a:hover {background:#83c8a2;color: #fff;}


.login { margin: 0;}
.akira {display: inline-block;}
.akira > ul > li { display: inline-block; margin: 0 15px 0 0;}
.akira > ul > li > a {cursor: pointer; color:#099247; font-size: 16px; line-height: 16px; padding:8px 35px 10px;font-weight:500; border-radius:30px; border:#099247 1px solid;}
.akira > ul > li > a:hover {background:#099247;color:#fff;padding:8px 35px 10px;border-radius:30px; border:transparent 1px solid;}
.akira > ul > li.last{ margin-right: 0;}
.akira > ul > li > a.sign-up{ background:#099247; border:transparent 1px solid; color: #fff; padding: 8px 40px 10px;}
.akira > ul > li > a.sign-up:hover{background:#09753a;}
