/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/font/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  
    url('./assets/font/HelveticaNeue/HelveticaNeue.woff') format('woff'), 
    url('./assets/font/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), 
    url('./assets/font/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
  } */

  html 										{-webkit-text-size-adjust:100%;}
  body { font-family: 'Lato', sans-serif !important;}
   
  .btn.focus, .btn:focus, .btn:hover, .btn.active, .btn:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { box-shadow: none !important; outline: none !important;}
  ol,ul,li { list-style-type: none; margin: 0; padding: 0;}
  .no-bag { background:none !important;}
  .no-bor { border:none !important;}
  a { text-decoration:none;}
  a:hover, a:focus{ text-decoration:none !important; color:#000;}

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* input:focus, input:active, select:focus, select:active { outline: none;border: none;} */

label{
    margin-bottom: 0px!important;
    font-weight: normal !important;
}


/* Author:Kinnera Reddy, Date:19/08/2019,
   Description:Pricing page delevopment
*/

.tbl {
    display: table;
    width: 100%;
    height:100%;
}
.tbl-cell{
    display: table-cell; height: 100%;
    vertical-align: middle;
}
.pad-0 {
    padding: 0 !important;
}
.pad-tb-20 {
   padding: 20px 0; 
    
}
.pad-tp-40 {
    padding-top:40px; 
}
.pad-tb-60 {
    padding: 60px 0; 
}
.pad-btm-20 {
    padding-bottom: 20px;
}
.mar-0 {
    margin: 0;
}
.mar-lr-10 {
    margin: 0 10px;
}

.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.text-upper {
    text-transform: uppercase;
}
.dashed-border {
    border-bottom: 1px #fff dashed;
}
.clr-blue{
    color: #668ea2;
}
.clr-green {
    color: #5edb97;
}
.cursor {
    cursor: pointer;
}

/* =================================End==================================== */
.custom-navbar{
    border-radius: 0px!important;
    min-height: 62px!important;
    margin-bottom: 0px!important;
    background-color: #3e3e3e!important;
}

.custom-navbar .navbar-brand{
    padding: 16px 15px!important;
}

.inline-block{
    display: inline-block!important;
}

.toggle-menu{
    padding: 22px 15px;
}

.toggle-menu-img{
    width: 75%;
}

.zenwork-pl-zero{
    padding-left: 0px!important;
}

.green{
    color:#439348 !important;
}

.zenwork-margin-zero{
    margin: 0px!important;
}

.zenwork-margin-ten-zero{
    margin: 10px 0px!important;
}

.zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
}

.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
}
    

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border:none;
    border-bottom: 4px solid #439348;
    border-radius: 0px!important;
    color:#353131!important;
}

.nav-tabs.nav-justified{
    border-bottom:1px solid #ddd!important;
}

.nav-tabs.nav-justified>.active>a{
    background:#f8f8f8!important;
}
.nav-tabs>li>a:hover{
 
    border-color:#f8f8f8;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #f8f8f8;
}
.nav-tabs.nav-justified>li span{
    font-size: 17px;
    color:#353131!important;
}   

.zenwork-tabs .nav-tabs.nav-justified>li { width: auto !important;}

.nav-tabs.nav-justified>li{
    width: 33%!important;
}
.zenwork-ml-ten{
    margin-left: 10px;
}


.zenwork-input{
    background-color: #f8f8f8!important;
    border-radius: 0px !important;
    border:transparent !important;
    box-shadow: none !important;
}

.zenwork-customized-back-btn:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.zenwork-tabs .nav>li>a{
    padding: 10px 10px!important;
}

.zenwork-green-btn{
    background: #439348!important;
    color: #fff!important;
    padding: 4px 12px!important;
    font-size: 12px!important;
    border-radius: 0px!important;
}

.zenwork-default-background{
    background-color: #edf7fe!important;
}

.zenwork-color-black{
    color: #000!important;
}

.panel-group .panel{
    border:none;
}
.panel-default>.panel-heading{
    background-color: #edf7fe;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    min-height: 550px;
}
.bs-datepicker{
    left: 70%;
}
.bs-datepicker-container{
    padding: 0px!important;
}

.email-templates-wrapper .mat-expansion-panel-header-description{
    flex-grow: 200!important;
}

.mat-expansion-panel:not{
    box-shadow: none!important;
}

.mat-content {
    flex: none!important;
    flex-grow: 0!important;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    flex-grow: 0!important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color:#439348 !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color:white;
}
.mat-slide-toggle-thumb-container{
    top:2px !important;
    left: 6px!important;
}
.mat-slide-toggle-thumb{
    height: 10px !important;
    width: 10px !important;
}

.mat-button-toggle-label-content{
    background-color: #edf7fe;
    line-height: 28px!important;
    padding: 0px 26px!important;
}
.mat-button-toggle-standalone label{
    font-weight: normal;
}
.mat-button-toggle-standalone{
    box-shadow:0;
}
.mat-button-toggle-label-content{
    background-color: #f8f8f8 !important;
}
.modal-content{
    border-radius: 0px;
}
.zenwork-sidenav-activetab a,.zenwork-sidenav-activetab a:hover,.zenwork-sidenav-activetab a:visited{
    background: #777d7a !important;
    border-radius: 40px !important;
    color: #fff !important;
    border: transparent !important;
  }

.zenwork-sidenav-activetab{
    border: transparent;
}

.swal2-popup{
    padding: 30px!important;
}

.mat-select-panel .mat-option{
    height: 38px !important;
}
.toggle-side-nav-inner{
    -webkit-box-shadow:none!important;
    box-shadow: none!important;
}

.zenwork-inner-icon{
    width: 20px;
    height: auto;
}


.zenwork-customized-sidebar-menu{
    width:21.666667%!important;
    padding-right: 0px;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float:none;    
}

.zenwork-customized-template{
    width: 78.3%!important; 
    /* height: 100vh; */
    background: #f8f8f8;
    display: table-cell;
    float: none;
    vertical-align: top;
    padding: 0;
  }


  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:#717171 !important;
  }

  .mat-ripple-element {
    background: rgba(0, 128, 0, 0.4) !important;
  }

.zenwork-clients-wrapper .mat-select { height: 44px !important; padding: 13px 16px;color:#9a9898;}
.zenwork-clients-wrapper .mat-select-value-text { color:#5f5e5e !important;}

.contact-wrapper .mat-checkbox-inner-container-no-side-margin, .address-wrapper .mat-checkbox-inner-container-no-side-margin {margin-right: 10px !important;}
  
.zenwork-clients-wrapper .mat-tab-group.mat-primary .mat-ink-bar, .zenwork-clients-wrapper .mat-tab-nav-bar.mat-primary .mat-ink-bar  { background-color: #008f3d !important;}
.zenwork-clients-wrapper .mat-ink-bar { height: 4px !important;}
.zenwork-clients-wrapper .mat-tab-label { font-size: 17px !important;}

.administration-address ul li .mat-select-arrow { margin:5px 0 0 !important;}
.administration-address ul li .mat-select-value {
    color:#484848;
    padding:3px 0 0;
}

.general-settings-wrapper .mat-select-arrow, .zenwork-password .mat-select-arrow, .zenwork-security .mat-select-arrow, .zenwork-forgot .mat-select-arrow{ margin: 10px 0 !important;}

.package-table .mat-select-value { text-align: left !important;}

.discount-block .mat-slide-toggle-thumb-container {
    top: 3px!important;
    left: 6px!important;
}
.discount-block .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container { transform: translate3d(41px,0,0);}
.create-client-form-wrapper .mat-select-value-text { color:#524f4f;}


/*----------  This my Code Suresh in ANgular Material  ---------*/


.employee .mat-form-field-underline { border:none !important;}
.employee .mat-form-field-ripple, .employee .mat-form-field-underline { background-color:transparent !important;}
.employee .mat-form-field-wrapper { background:#fff; padding: 0 10px 5px;}
.employee .mat-form-field-infix { border-top: 0.5em solid transparent !important;}
.employee .mat-select-panel .mat-option { height: 35px !important; line-height: 35px !important;}
.employee .mat-option{ padding: 0 !important;}

.employee .mat-option.mat-active{ background:#439348 !important; color:#fff !important;}
.employee .mat-option-text { padding: 5px 15px !important;}

.employee .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled){ background:#439348 !important; color:#fff;}
.employee .mat-select-panel{ border-radius: 5px !important;}


.employee .mat-select-placeholder, .employee .mat-select-value-text{ color:#737070 !important;}
.employee .mat-select { background:#fff !important; height: 40px !important; line-height:40px !important; padding: 0 0 0 10px !important;}
.employee .mat-select-arrow { margin: 0 10px !important;}


.employee-settings .mat-select-placeholder, .employee-settings .mat-select-value-text{ color:#737070 !important;}
.employee-settings .mat-select { background:#fff !important; height: 40px !important; line-height: 40px !important; padding: 0 0 0 10px !important;}
.employee-settings .mat-select-arrow { margin: 0 10px !important;}


.employee-role-lft .mat-select-placeholder, .employee-role-lft .mat-select-value-text{ color:#737070 !important;}
.employee-role-lft .mat-select { background:#fff !important; height: 35px !important; line-height: 35px !important; padding: 0 0 0 10px !important;}
.employee-role-lft .mat-select-arrow { margin: 0 10px !important;}


.employee-usage .mat-select-placeholder, .employee-role-lft .mat-select-value-text{ color:#737070 !important;}
.employee-usage .mat-select { background:#f8f8f8 !important; height: 44px !important; line-height: 44px !important; padding: 0 0 0 10px !important;width: 25% !important;}
.employee-usage .mat-select-arrow { margin: 0 10px !important;}
.employee-usage .mat-select-value { color:#737070 !important;}


.import-cont-lft .mat-select-placeholder, .employee-role-lft .mat-select-value-text{ color:#737070 !important;}
.import-cont-lft .mat-select { background:#f8f8f8 !important; height:40px !important; line-height:40px !important; padding:0 0 0 10px !important;}
.import-cont-lft .mat-select-arrow { margin: 0 10px !important;}
.import-cont-lft .mat-select-value { color:#737070 !important;}



.zenwork-manager ul li .mat-form-field-underline { border:none !important;}
.zenwork-manager ul li .mat-form-field-ripple, .zenwork-manager ul li .mat-form-field-underline { background-color:transparent !important;}
.zenwork-manager ul li .mat-form-field-wrapper { background:#f8f8f8; padding: 0 10px 5px;}
.zenwork-manager ul li .mat-form-field-infix { border-top: 0.5em solid transparent !important;}
.zenwork-manager ul li .mat-select-panel .mat-option { height: 35px !important; line-height: 35px !important;}
.zenwork-manager ul li .mat-option{ padding: 0 !important;}

.zenwork-manager ul li .mat-option.mat-active{ background:#439348 !important; color:#fff !important;}
.zenwork-manager ul li .mat-option-text { padding: 5px 15px !important;}

.zenwork-manager ul li .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled){ background:#439348 !important; color:#fff;}
.zenwork-manager ul li .mat-select-panel{ border-radius: 5px !important;}

.zenwork-manager ul li .mat-select-placeholder, .zenwork-manager ul li .mat-select-value-text { color:#737070 !important;}
.zenwork-manager ul li .mat-select { background:#f8f8f8 !important; height: 35px !important; line-height: 35px !important; padding: 0 0 0 10px !important;
width: 50% !important;}
.zenwork-manager ul li .mat-select-arrow { margin: 0 10px !important;}


.employee-role-lft .mat-form-field { display: block !important; background:#fff !important;}
.employee-role-lft .mat-form-field-underline { border:none !important;}
.employee-role-lft .mat-form-field-ripple, .employee-role-lft .mat-form-field-underline { background-color:transparent !important;}
.employee-role-lft .mat-form-field-wrapper { background:#fff; padding: 0 10px 5px;}
.employee-role-lft .mat-form-field-infix { border-top: 0.5em solid transparent !important;}
.employee-role-lft .mat-select-panel .mat-option { height: 35px !important; line-height: 35px !important;}
.employee-role-lft .mat-option{ padding: 0 !important;}

.employee-role-lft .mat-option.mat-active{ background:#439348 !important; color:#fff !important;}
.employee-role-lft .mat-option-text { padding: 5px 15px !important;}

.employee-role-lft .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled){ background:#439348 !important; color:#fff;}
.employee-role-lft .mat-select-panel{ border-radius: 5px !important;}


.cont-check { margin:0;}
.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #008f3d;width: 20px; height: 20px; padding: 2px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0; cursor: pointer;}

.field-check .checkbox label::before {width: 20px; height: 20px;}
.field-check .checkbox label::after { color:#fff;width: 20px; height: 20px; padding:2px 0 0 4px; font-size: 12px;background: #008f3d;}
.field-check .checkbox{ margin: 0; cursor: pointer;}
.field-check .checkbox label { padding-left: 0;}


.action .mat-slide-toggle-bar { width: 37px !important; height: 17px !important; border-radius: 10px !important;}
.action .mat-slide-toggle-thumb-container { top: 3px !important;}
.action .mat-ripple-element, .request-table .mat-ripple-element { background:  transparent !important;}
.action .mat-slide-toggle-bar{ background: #008f3d !important;}
.action .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {background: #bdb9b9 !important;}
.action .mat-slide-toggle { height: auto !important; vertical-align: top !important;}


.create-client-form-wrapper .mat-select-placeholder {color: #5e5e5e !important; }


.annualy-block .mat-slide-toggle-bar { width: 50px !important; height:20px !important; border-radius: 10px !important; margin: 0 30px 0 0 !important;}
.annualy-block .mat-slide-toggle-thumb-container { top: 2px !important; left: 2px !important;}
.annualy-block .mat-slide-toggle-thumb { width: 15px !important; height: 15px !important;;}
.annualy-block .mat-ripple-element, .request-table .mat-ripple-element { background:  transparent !important;}
.annualy-block .mat-slide-toggle-bar{ background: #008f3d !important;}
.annualy-block .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {background: #008f3d !important;}
.annualy-block .mat-slide-toggle { height: auto !important; vertical-align: top !important; line-height:inherit !important;}
.annualy-block .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(30px,0,0);
}
.annualy-block .mat-slide-toggle .mat-slide-toggle-ripple {height: auto !important; width: auto !important;}

.invoice-serach ul li .mat-select-value-text { color:#5f5e5e;}
.invoice-serach ul li .mat-select-placeholder { color:#5f5e5e;}

.edit-work ul li .mat-checkbox-inner-container { height: 18px; width: 18px;}

.edit-work ul li .mat-checkbox-layout .mat-checkbox-label { font-size: 17px;}


.forgot-popup ul li .mat-form-field-wrapper { width:60% !important;}
.forgot-popup ul li .mat-form-field { display: block !important;}
.forgot-popup ul li .mat-form-field-label { font-size: 16px !important;}
.forgot-popup ul li .mat-form-field-appearance-legacy .mat-form-field-infix { padding: 0.7em 0 !important;}
 
 

/* Date Picker */

.date { display: block; background:#fff;height: 30px; line-height: 30px; width: 150px;}
.date span { display: inline-block; vertical-align: middle; cursor: pointer; border-left: #bdbdbd 1px solid;padding: 0 0 0 10px;}
.date span .fa { color: #008f3d;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.date .form-control { display: inline-block;vertical-align: middle; width: 70%; border: none; background:transparent; box-shadow: none; padding: 0 0 0 10px;}


/*------- Leave Management=> Time Sheet Approval and Maintaince ---------*/

.time-missing-value ul li .mat-select-placeholder .mat-select-value-text{ color:#737070 !important;}
.time-missing-value ul li .mat-select { background:#fff !important; height: 40px !important; line-height: 40px !important; padding: 0 0 0 10px !important;
width: 50% !important; display: inline-block; vertical-align: middle;}
.time-missing-value ul li .mat-select-arrow { margin: 0 10px !important;}
.time-missing-value ul li .mat-select-value { color:#6d6767 !important; font-size:14px !important;}
.time-missing-value ul li .mat-select-placeholder {color: #6d6767 !important; }


.search-category .mat-select-placeholder .mat-select-value-text{ color:#737070 !important;}
.search-category .mat-select { background:#fff !important; height: 40px !important; line-height: 40px !important; padding: 0 0 0 10px !important;width: 50% !important; display: inline-block; vertical-align: middle;}
.search-category .mat-select-arrow { margin: 0 10px !important;}
.search-category .mat-select-value { color:#6d6767 !important; font-size:14px !important;}
.search-category .mat-select-placeholder {color: #6d6767 !important; }



/*------- Super Admin > SETTINGS => Packages & Modules & Add-on ---------*/


.setting-table {margin:50px 0 0;}
.setting-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 18px 15px; background: #eef7ff; border:none; font-size: 16px; border-radius:3px;}
.setting-table .table>tbody>tr>td, .setting-table .table>tfoot>tr>td, .setting-table .table>thead>tr>td{ padding:17px 15px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#565656;}
.setting-table .checkbox{ margin: 0;}
.setting-table .table>tbody>tr>td.zenwork-checked-border {position: relative;}
.setting-table .table>tbody>tr>td.zenwork-checked-border:after { content:''; position: absolute; top:3px;  height:90%;}
.setting-table .table>tbody>tr>td span { display: inline-block; padding: 0; cursor: pointer;}
.setting-table .cont-check .checkbox label{padding-left:30px; line-height: 17px; font-size: 15px;}
.setting-table .cont-check { width: auto;}
.setting-table .cont-check .checkbox label::before { left: 10px;}
.setting-table .cont-check .checkbox label::after { left: 10px;}

.setting-drop { display: block; position: relative; float: right; margin: 0 10px 0 0;}
.setting-drop a {cursor: pointer;}
.setting-drop a .fa { font-size: 20px; color:#565656;}
.setting-drop .dropdown-menu { left:-60px; min-width: 130px; border: none; box-shadow: 0 0 12px #e0e0e0;}
.setting-drop .dropdown-menu>li>a { font-size: 14px; line-height: 14px; padding: 8px 20px;}
.setting-drop .dropdown-menu>li>a:hover { background:#008f3d; color:#fff;}


.settings-add ul li .mat-select-placeholder, .settings-add ul li .mat-select-value-text{ color:#484747 !important;}
.settings-add ul li .mat-select { background:#fff !important; height: 45px !important; line-height: 45px !important; padding: 0 0 0 10px !important;}
.settings-add ul li .mat-select-arrow { margin: 0 10px !important;}


.include .mat-select-placeholder, .include .mat-select-value-text{ color:#484848 !important; padding: 0 0 0 7px !important;}
.include .mat-select { background:#f8f8f8 !important;padding: 10px 0 10px 0 !important; width: 45% !important}
.include .mat-select-arrow { margin: 0 10px 0 !important; }


.include.add-modules { width:85% !important; display: inline-block !important;}
.include.add-modules .mat-select {width:100% !important;}

.include.packages .mat-select { width:70% !important;}

.cont-check .mat-checkbox-layout .mat-checkbox-label { font-weight: normal !important; color: #565656 !important; font-size: 16px !important; padding: 0 !important;}
.cont-check .mat-checkbox-frame {border-color: #d2d2d2;}
.cont-check .mat-checkbox-frame {border-width: 1px !important;} 
.cont-check .mat-checkbox-inner-container{ margin-right: 15px !important;}

.address-wrapper ul li .form-control .mat-select-placeholder, .address-wrapper ul li .form-control .mat-select-value-text { color:#999 !important;}


.terminination ul li .dropdown, .terminination ul li .dropup { width: 28%; background:#f8f8f8;border-radius:5px;}
.terminination ul li .btn-default:hover { border-color: transparent; background-color:transparent;}
.terminination ul li .btn-default { border-color: transparent; box-shadow: none;background-color:#f8f8f8; padding: 10px 0 10px 15px;
height: auto;}
.terminination ul li .form-control{padding: 10px 0 10px 15px; height: auto;}
.terminination ul li .ui-select-choices-row > a{ font-size: 15px; padding: 8px 20px !important;}


.mail-check .mat-checkbox-frame {border-color: #d2d2d2;}
.mail-check .mat-checkbox-frame {border-width: 1px !important;} 


/*----- Bootstrap Carasula ----*/
#myCarousel .thumbnail {margin-bottom: 0;}
.carousel-control.left, .carousel-control.right {background-image:none !important;}
.carousel-control {
	color:#fff;
	top:40%;
	color:#008f3d;
	bottom:auto;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:0;
}
.carousel-control.left {
	right:auto;
	left:0;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}


/*-------- Bootstrap Checkboxes and radio buttons ---------*/

.checkbox {
    padding-left: 20px;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .radio {
    padding-left: 20px;
  }
  
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  
  
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }

/* Border left styling when checked */
  .zenwork-checked-border {position: relative;}


/*--- Ngx Popup custom css in Work flow module ---*/

.demographic-popup.modal-lg { width:75% !important;}
.demographic-popup { display: block;}
.demographic-popup .modal-title  { color: #3a3a3a; font-size: 18px; line-height: 18px;}
.demographic-popup .modal-header { padding: 30px; border-bottom: 1px solid #cac1c1;}
.demographic-popup .close { color:#000; opacity: 1;}
.demographic-popup .close:active, .demographic-popup .close:focus{ outline: none;}
.demographic-popup .close span { font-size:25px; line-height:25px;}
.demographic-popup .modal-body { padding: 0 0 30px;}

.modal-backdrop { z-index:900 !important;}
.modal { z-index:950 !important;}



/* Border left styling when checked Ends*/

.zenwork-customized-checkbox .mat-checkbox-inner-container{
    height: 18px !important;
    width: 18px !important;
}

.zenwork-customized-transparent-btn{
    background: no-repeat;
    box-shadow: none;
    border: 1px solid transparent;
    color: #807d7d;
}

/* .zenwork-dot {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border:1px solid #000;
    border-radius: 50%;
    display: inline-block;
  }

  .create-client-wrapper .mat-step-header .mat-step-icon ,.create-client-wrapper .mat-step-icon-not-touched {
        display: none !important;
    }

    .create-client-wrapper .mat-stepper-horizontal-line{
        flex : none !important;
    }

    .create-client-wrapper .mat-horizontal-stepper-header-container{
        padding-top: 25px;
    }

    .create-client-wrapper .mat-horizontal-stepper-header{
        height: 25px !important;
    } */

    .padding-left-zero{
        padding-left: 0px !important ; 
    }

    .padding-right-zero{
        padding-right: 0px !important ; 
    }

    .zenwork-margin-bottom-zero{
        margin-bottom: 0px;
    }

    .zenworkers-wrapper{
        background: #f8f8f8;
    }
    
    .zenwork-currentpage{
        padding:40px 0 0 40px;
    }

    /* employee-management-module >>off-boarding module */
    .emp-terminate-filters .mat-select-placeholder{
        font-size: 12px;
    }

    @media (min-width: 992px){
    .modal-lg{
        width: 90% !important;
    }
}


/* calander-setup */
.cal-month-view .cal-open-day-events{
    display: none;
}
.cal-month-view .cal-events{
    display: none;
}
.cal-month-view .cal-day-cell{
    min-height: 60px;
    background: #fff;
}
.cal-month-view .cal-cell-top{
    min-height: 60px !important;
}
.cal-month-view .cal-header .cal-cell{
    background: #edf7fe !important;
    padding: 12px 0;
    border-right: 1px solid #e1e1e1;
}
.monthly-filter{
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}
.calander-plugin-head{
    padding: 0 0 0 10px;
}

.calander-plugin ul{
    margin: 0;
}
.calanderplugin-list-items{display: inline-block;}

.mandatory-red{
    color: red !important;
}
.archive-status .on-off-btn .mat-slide-toggle-label{
padding: 7px 0 0 0 !important;
}

.discount-block .discount-heading .list-items .mat-slide-toggle-bar{
    width: 73px !important;
    height: 28px !important;
    border-radius: 20px !important;
}
.discount-block .discount-heading .list-items .mat-slide-toggle-thumb{
    height: 22px !important;
    width: 22px !important;
}
.recommended{
    padding: 37px 0 0 0;
    font-size: 17px !important;
}
.discount-block .mat-slide-toggle { margin: 10px 0 0 !important;}
/* ===============================addclient css starts====================== */

/* mat-vertical-stepper-manipulation in super-admin-panel*/
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color:#439348; 
}
.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: #f8f8f8;
}
/* =============================add-client css ends========================== */
/* mat-pagination background changes */
/* .mat-paginator-outer-container{
    background: #f8f8f8;
} */

.mat-paginator {
    background: none;
}


/* ============================================================Pricing Page=================================================================== */
/* Author:Kinnera Reddy,Date:19/03/2019
  Description:Pricing page css
*/


.zenwork-pricing a {
    margin: 0 auto;
}
.pricing-banner a { margin: 0 !important;}
.pricing-banner a,.zenwork-pricing a, .pricing-banner h1, .bottom-section a, .table-head p, .table-head {
    color: #5f5f5f;
}
.pricing-banner p, .table-row p, .table-row{
  color: #7a7c7d;
}
.pricing-banner h1, .table-row p, .table-row, .table-head p, .pricing-tables p, .pricing-table-right p{
   
    font-weight: 600;
}
.pricing-banner p { font-weight: normal; font-size: 15px; line-height: 25px;}
.save-tag {
    position: relative;
}
.save-tag::before {
    position: absolute;
    bottom: 0;
    bottom: -36px;
    left: -14px;
    top: 48px;
    margin: 0 auto;
    content: "";
    background: url('/assets/images/pricing/save.png') no-repeat top center;
    width: 168px;
    height: 35px;
}
.pricing-tables{
background: rgba(241,111,92,1);
background: -moz-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(7,75,109,1) 0%, rgba(7,75,109,1) 0%, rgba(7,92,125,1) 0%, rgba(52,175,219,1) 0%, rgba(7,11,13,1) 0%, rgba(7,92,125,1) 0%, rgba(114,182,207,1) 0%, rgba(113,183,205,1) 4%, rgba(92,217,149,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(7,75,109,1)), color-stop(0%, rgba(7,75,109,1)), color-stop(0%, rgba(7,92,125,1)), color-stop(0%, rgba(52,175,219,1)), color-stop(0%, rgba(7,11,13,1)), color-stop(0%, rgba(7,92,125,1)), color-stop(0%, rgba(114,182,207,1)), color-stop(4%, rgba(113,183,205,1)), color-stop(100%, rgba(92,217,149,1)));
background: -webkit-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(7,75,109,1) 0%, rgba(7,75,109,1) 0%, rgba(7,92,125,1) 0%, rgba(52,175,219,1) 0%, rgba(7,11,13,1) 0%, rgba(7,92,125,1) 0%, rgba(114,182,207,1) 0%, rgba(113,183,205,1) 4%, rgba(92,217,149,1) 100%);
background: -o-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(7,75,109,1) 0%, rgba(7,75,109,1) 0%, rgba(7,92,125,1) 0%, rgba(52,175,219,1) 0%, rgba(7,11,13,1) 0%, rgba(7,92,125,1) 0%, rgba(114,182,207,1) 0%, rgba(113,183,205,1) 4%, rgba(92,217,149,1) 100%);
background: -ms-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(7,75,109,1) 0%, rgba(7,75,109,1) 0%, rgba(7,92,125,1) 0%, rgba(52,175,219,1) 0%, rgba(7,11,13,1) 0%, rgba(7,92,125,1) 0%, rgba(114,182,207,1) 0%, rgba(113,183,205,1) 4%, rgba(92,217,149,1) 100%);
background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(7,75,109,1) 0%, rgba(7,75,109,1) 0%, rgba(7,92,125,1) 0%, rgba(52,175,219,1) 0%, rgba(7,11,13,1) 0%, rgba(7,92,125,1) 0%, rgba(114,182,207,1) 0%, rgba(113,183,205,1) 4%, rgba(92,217,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#5cd995', GradientType=1 );
}
.pricing-table-right {
    background: #ffc550;
}
.pricing-tables, .pricing-table-right {
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 20px 0;
}
.pricing-tables p, .pricing-table-right p {
    text-transform: uppercase;  
    font-size: 17px;
}
 
.pricing-tables p, .pricing-table-right p, .table-head p, .table-row p, .table-row {
    margin: 0;
}
.table-head {
    background: #f1f6f7;
}
.table-head h3{ color: #5f5f5f; font-size: 16px; font-weight: 600; margin: 0; padding: 0 0 0 20px;}
.pricing-types .pos-absolute {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    padding: 20px;

}
.mobile-price .table-row { padding:20px 0 20px 20px; color: #7a7c7d;}
.pricing-types ul li h5  {
 
    padding-bottom: 7px;
}
.pricing-dollar, .pricing-types .type h4{
    font-weight: 900;
}
.pricing-types .btm-tag.pos-absolute {
    bottom:  -50px;
    top: initial;
    padding: 0;
    margin:-24px;
  
}

.pricing-types .top-tag.pos-absolute {
    padding: 0;
    margin:-24px;
    top: 30px;
  

}
.btm-tag, .btm-tag p, .top-tag, .top-tag p {
    position: relative;
    width: 324px;
    
}
.btm-tag::before {
  background:url(/assets/images/pricing/pricing-btm.png) no-repeat center center;
  width: 100%;
  height: 55px;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -17px;
  background-size: contain;
}
.top-tag::before {
    background:url(/assets/images/pricing/pricing-top.png) no-repeat center center;
  width: 100%;
  height: 55px;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 20px;
  background-size: contain;

}
.pricing-types .middle{
    padding: 85px 0px 20px 0px; 
    margin-bottom: 0;
}
.material-icons {
    font-weight: bold;
}
.table-last-row {
    border-radius:0 0 15px 15px;
}




.pricing-banner::before, .pricing-banner, .pricing-banner .container,  .pricing-banner .row {
    height: 600px;
}
.pricing-banner::before{
    background: url(/assets/images/pricing/banner-top.png) no-repeat top left; 
    content: '';
    position: absolute;
    width: 100%;
    top: -105px;
    left: 0;
    z-index: -1;
    background-size: contain;
}
.pricing-banner .tbl-cell {
    width: 50%;
}

.pricing-banner-top {
    position: absolute;
}
.pricing-banner-top {
    top: -80px;
    left: 0;
}

.pricing-banner a, .zenwork-pricing a, .bottom-section a {
    background: #ffc550;
    border-radius: 25px;
    height: 40px;
    width: 202px;   
    display: block;
    text-align: center;
    line-height: 37px;
    margin: 0 auto;
}
.pricing-banner a, .zenwork-pricing a, .bottom-section a, .zenwork-pricing p{
    font-weight: 600;
    font-size: 16px;

}
.pricing-banner h4 {
    font-size: 25px;
    font-weight: 600;
}
.pricing-banner h1 {  
    font-size: 40px;   
    line-height: 50px;

}

.table-head, .table-row {
    border-bottom: 1px solid #f1f6f7;
    padding: 20px 0 20px 0;
}
.table-head, .pricing-types p, .pricing-types ul li h5 {
    font-size: 16px;
}

.pricing-dollar p{
    font-size: 100px;
    line-height: 100px;
}
.get-started-btn {
    background: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
}
.pricing-types .type h4 {

    font-size: 50px;


}

/* ============================================================= Angular Material css changes============================================================= */
.zenwork-pricing .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar, .zenwork-pricing .mat-slide-toggle-bar {
    background-color:#ffc550 !important;
}
.zenwork-pricing .mat-ripple-element {
    
    background:rgba(0,0,0,.1) !important 
}
.zenwork-pricing .mat-slide-toggle-bar {
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
.zenwork-pricing .mat-slide-toggle-thumb {
    height: 30px!important;
    width: 30px!important; box-shadow: none;
}
.zenwork-pricing  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(60px,0,0);
}

.zenwork-pricing .mat-slide-toggle-thumb-container {
    top: 5px !important;
}

.pricing-header .mat-ripple-element { background: transparent !important;}

.pricing-header .mat-slide-toggle:not(.mat-checked) .mat-ripple-element, .pricing-header .mat-slide-toggle.mat-checked .mat-ripple-element { background-color: transparent !important;}

/* =============================================================End============================================================================== */


/* ========= Suresh M =========*/

/*--- Css ---*/
.banner { margin: 170px 0 0;}
.banner-lft { padding: 0;}
.banner-lft h2 { color: #099247; font-size: 25px; line-height: 25px; margin: 0 0 30px; font-weight:bold;}
.banner-lft h1 {color: #5f5f5f; font-size: 40px; line-height: 50px; margin: 0 0 10px; font-weight: bold;}
.banner-lft small {color: #5f5f5f; font-size: 15px; line-height: 15px; display: block; margin: 0 0 80px;}
.banner-lft a.btn{ color: #313131;background: #ffc550;font-size: 16px;font-weight: 400;border-radius: 20px;padding: 10px 26px;line-height: 16px;}

.contact-banner.banner small{ line-height: 25px;}
.about.banner small{ line-height: 25px;}
.feature.banner small{ line-height: 25px;}
.banner-rgt { position: absolute; top: 0; right:0; z-index: -9;}
.banner-rgt figure { position: relative; }
.banner-rgt figure img { width: 100%; height: auto;}
.banner-rgt figure span { position: absolute; top:18%; right:15%; width: 50%;}

.agile-hr { text-align: center; position: relative;}
.agile-hr h2 { color: #658fa8; font-size: 30px; line-height:30px; margin: 0 0 30px;}
.agile-hr p { display: block; font-size: 17px; line-height: 28px;color: #5f5f5f; margin: 0; }

.agile-hr-in { margin:100px 0 0;}
.agile-hr-lft {margin: 0; position: absolute; left: 0; top: 140px; z-index: -9; width: 38%;}
.agile-hr-lft figure{ position: relative;}
.agile-hr-lft figure img { width: 100%; height: auto;}
.agile-hr-lft figure span { position: absolute; top:22%; right:20px; width: 58%;}


.agile-hr-rgt {margin: 0;}
.agile-hr-rgt h3 { color: #658fa8; font-size: 27px; line-height: 25px; margin: 0 0 30px;}
.agile-hr-rgt small {color: #5f5f5f; font-size: 17px; line-height: 25px; padding: 0 0 30px; display: block;}
.agile-hr-rgt a.btn{ background: #ffc550;color: #313131;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 26px;
    line-height: 16px; float: right;
margin: 0 75px 0 0;}
.agile-hr-rgt figure { margin: 0 0 20px;}
.agile-hr-rgt figure img { width: 100%; height: auto;}


.employees { margin: 50px 0 100px; text-align: center; position: relative;}

.employees-lft { padding: 0;}
.employees-lft figure { position: absolute; top: 0; left: 0; width: 38%;}
.employees-lft figure img { width: 100%; height: auto;}

.employees-rgt { padding: 0; text-align: center;}
.employees-rgt h2 { color: #658fa8; font-size: 28px; line-height: 27px; margin: 0 0 15px;}
.employees-rgt small { color: #658fa8; font-size: 18px; line-height: 20px;}
.employees-rgt figure { margin: 90px 0 0;}
.employees-rgt figure img { height: auto;}
.employees p { color: #658fa8; font-size: 27px; line-height: 27px; margin:180px 0 30px;}
.employees a.btn {background: #ffc550;color: #313131;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 35px;
    line-height: 16px;}
   
.employee-bg    { position: relative;}
.employee-bg span { position: absolute; bottom:20%; right: -30px; width: 35%;}
.employee-cont { position: absolute; top:40%; left:50px;text-align: left; width: 60%;}
.employee-cont p { color:#000; font-size: 17px; line-height:34px; margin: 0; padding: 0 0 20px; color:#4f7592;}
.employee-right { float: right; margin: 0 30px 0 0;}
.employee-right h3 { color:#fff;font-size: 17px; line-height: 15px;}
.employee-right em { color:#fff;font-size: 14px; font-style: normal; display: block; text-align: right;}

.login-lft ul li .mat-select { width:100% !important;height: auto !important; padding:10px 12px !important; display: block !important; 
float:none !important; background:#f8f8f8 !important;}
.login-lft ul li .mat-select-arrow { margin: 2px 4px 0 !important;}


.top-header {padding: 60px 0 80px;}
.top-header a {display:inline-block;}

.top-header-rgt { padding:6px 0 0;}
.top-header-rgt > ul > li { display: inline-block; margin: 0 10px 0;}
.top-header-rgt > ul > li > a {cursor: pointer; color:#099247; font-size: 17px; line-height: 17px; padding:10px 30px 10px;font-weight:500; border-radius:30px; border:#099247 1px solid;}
.top-header-rgt > ul > li > a:hover.reg-log {background:#099247;color:#fff;padding:8px 30px 10px;border-radius:30px;}
.top-header-rgt > ul > li > a.sign{background:#099247;color:#fff;border:#099247 1px solid; padding:10px 40px 10px;}
.top-header-rgt > ul > li > a.sign:hover {background:#09753a;}


.register { display: block;}

.register-lft { padding: 0;}

.register-lft h2 { color:#c1c2c1; font-size: 27px; line-height: 25px; font-weight: bold; padding: 0 0 10px;}
.register-lft small { color:#cccccc; font-size: 13px; line-height: 18px; padding: 0 0 30px; display: block;}

.register-lft ul { margin: 0 0 50px;}
.register-lft ul li { width: 50%; margin: 0 0 20px;}
.register-lft ul li .form-group{ margin-bottom: 20px;background-color:#f8f8f8; border-radius: 4px; margin-bottom: 0;}
.register-lft ul li em { float: left; width:38px; padding: 4px 0 10px 10px; border-right: #c7c7c7 1px solid; margin: 6px 0; height: 30px;}
.register-lft ul li .form-control { background-color:transparent; border: none; box-shadow:none; height: auto; padding: 11px 12px; width: 87%; float: left;}
.register-lft ul li .form-control:focus { border:none; box-shadow: none;}

.register-lft h4 { border-top:#e0e0e0 1px solid; position: relative;width: 50%; padding: 8px 0 0;}
.register-lft h4 span { 
    color: #9c9c9c;
    font-size: 13px;
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    display: inline-block;
    width: 40%;
    margin: 0 auto;
}

.register-lft a p{ display: inline-block; float:none; padding: 0 10px 0 0; vertical-align: text-top; margin: 0;}
.register-lft a.google { color:#076c93;font-size: 14px; line-height:14px;border-radius:30px;text-align: center;
background: #f1f9f4; padding:15px 0; width: 50%; font-weight: bold; margin: 5px 0 0; display: block;}

.register-lft .btn { color:#000; padding: 10px 35px; border-radius: 30px;font-size: 15px;background: #fec550; margin: 0 0 20px;}
.signup .register-lft .mat-checkbox-layout .mat-checkbox-label {font-size: 14px !important;font-style: normal !important; font-weight: normal !important; color:#464545 !important;font-family: lato}
.invoice-left .mat-checkbox-inner-container { width: 20px !important; height: 20px !important;} 

.arrow { text-align: center; padding: 0 0 50px;}
.arrow a img { width: 50px; height: auto;}
.arrow a { cursor: pointer;}

.feature-benefits{ height: 650px;}
.feature-benefits figure { position: absolute; top: 0; left: 0; z-index: -9;}
.feature-benefits figure img { width: 100%; height: auto;}

.feature-benefits-lft { padding:200px 0 0;}

.feature-benefits-lft h2 { color: #099247; font-size: 28px; line-height: 28px; margin: 0 0 30px; font-weight:500;}
.feature-benefits-lft h1 {color: #5f5f5f; font-size: 40px; line-height: 50px; margin: 0 0 120px; font-weight: bold;}
.feature-benefits-lft small {color: #5f5f5f; font-size: 16px; line-height:25px; display: block; margin: 0 0 80px;}
.feature-benefits-lft a.btn{ color: #313131;background: #ffc550;font-size: 16px;font-weight: 400;border-radius: 20px;padding: 10px 26px;line-height: 16px;}


.feature-benefits-rgt { position: relative;}
.feature-benefits-rgt span { position: absolute; right:-10%; top:130px; width: 100%; display: block;}
.feature-benefits-rgt span img { width: 100%; height: auto;}

.benefits-cont { padding: 30px 0 80px;}
.benefits-cont p {font-size: 17px;line-height: 28px;color: #5d5d5d;margin: 0 0 25px;text-align: center;padding: 0 65px;}
.benefits-cont p b { font-weight: bold; display: inline-block; color:#3e3e3e;}

.training-cont .mat-checkbox { margin: 0 0 0 14px !important;}
.training-cont .mat-icon-button .mat-icon, .training-cont .mat-icon-button i { color: #484747 !important;}
.training-cont .mat-checkbox-frame, .list-table .mat-checkbox-frame{ border-width:1px !important; border-color: #ccc !important;}
.mat-menu-item { padding: 10px 15px !important; height: auto !important; line-height:inherit !important;}
.mat-menu-item a { color:#525252; display: block;}
.mat-menu-item:hover a{color:#fff !important; background: #099247;}
.mat-menu-content:not(:empty){ padding: 0 !important; color:#f00;}
.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), 
.mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {color:#fff; background: #099247;}

.training-emp .mat-select {
    height: auto;
    padding: 8px 10px;
    font-size: 15px;
}

.top-menu .mat-icon-button { width:70px !important; height: 50px !important;}

/*-- Author:Suresh M, Date:08-04-19  --*/
/*-- Informaton Mat relative code  --*/

.information .mat-select { background:#f3f3f3; border: none; box-shadow: none;}
.information .mat-select.form-control { height: auto !important; padding: 10px 12px !important;}
.information .mat-checkbox { margin:5px 0 0 14px !important; display: block !important;}
.information .mat-icon-button .mat-icon, .information .mat-icon-button i { color: #484747 !important;}
.information .mat-checkbox-frame { border-width:1px !important; border-color: #ccc !important;}
.mat-button-focus-overlay, .mat-button-ripple.mat-ripple { background:transparent !important;}
.emergency .mat-icon-button .mat-icon, .emergency .mat-icon-button i { color:#777777 !important;}

.employee-details ul li .mat-checkbox-layout .mat-checkbox-label { color: #636060 !important; font-weight: normal;}

.benefits ul li .mat-checkbox-layout .mat-checkbox-label {background:#f8f8f8; border-radius: 20px; padding:12px 40px; font-size: 16px;
line-height:16px; position: relative;color:#484848; margin: 0 0 0 25px;}
.benefits ul li .mat-checkbox-background, .benefits ul li .mat-checkbox-frame { border-radius: 10px;border-width:1px;border-color: #9e9d9d;}
.benefits ul li .mat-checkbox-inner-container { width: 20px; height: 20px;position: absolute;
    top:-1;
    left: 20px;
    z-index: 99;
}

/* .work-flow ul li .mat-checkbox-layout .mat-checkbox-label {background:#f8f8f8; border-radius: 20px; padding:12px 40px; font-size: 16px;
line-height:16px; position: relative;color:#484848; margin: 0 0 0 25px;}
.work-flow ul li .mat-checkbox-background, .work-flow ul li .mat-checkbox-frame { border-radius: 10px;border-width:1px;border-color: #9e9d9d;}
.work-flow ul li .mat-checkbox-inner-container { width: 20px; height: 20px;position: absolute;top:-3px;left: 30px;z-index: 99;} */


.work-flow-lft ul li .mat-select-placeholder {color: #525252;}

.personal-cont ul li .mat-select-value {color: #656464;}
.personal-cont ul li .mat-select-placeholder {
    color: #525252;
}

.terminination ul li .mat-select-value {color: #656464;}
.terminination ul li .mat-select-placeholder {
    color: #525252;
}

.reports .mat-select-value {color: #656464;}
.reports .mat-select-placeholder {
    color: #525252;
}


.job-change .mat-select-value {color: #656464;}
.job-change .mat-select-placeholder {
    color: #525252; font-size: 15px;
}

.training-class ul li .form-control .mat-select-value {color: #484747;}
.training-class ul li .form-control .mat-select-placeholder {color: #484747; font-size: 15px;}


.compensation-changes .mat-checkbox-frame {border-width:1px;}

.terminination .btn-group-xs>.btn, .terminination .btn-xs { font-size: 0;}
.reports .mat-checkbox-frame, .task-names .mat-checkbox-frame,.zenwork-settings-wrapper .mat-checkbox-frame{border-width: 1px;}


.job-change ul li p .mat-checkbox-layout .mat-checkbox-label { font-size: 16px;}

.job-change ul li small .mat-checkbox-layout .mat-checkbox-label { font-size: 16px; color:red;}


.mat-raised-button:not([class*=mat-elevation-z]) { background:transparent; box-shadow: none;}
.mat-raised-button{ min-width: auto !important;}

/* .job-change ul li .job-status .table>tbody>tr>td .mat-select-arrow, .job-status .table>tfoot>tr>td .mat-select-arrow,
.job-status .table>tfoot>tr>th .mat-select-arrow, .job-status .table>thead>tr>td .mat-select-arrow
 { border-left: none !important;border-right: none !important;} */

 .training ul li .training-cont .date button span { border-left: none !important; padding: 0 !important;}
 .training ul li .training-cont .date button span .mat-raised-button{ line-height:auto;}
 .training ul li .training-cont .date span.mat-button-wrapper {padding:0 !important;}

 .list-search ul li .mat-select { width: 55%;}

 .mdl-history .table>tbody>tr>td .mat-checkbox-frame , .mdl-history .table>tfoot>tr>td .mat-checkbox-frame , .mdl-history .table>tfoot>tr>th .mat-checkbox-frame , 
.mdl-history .table>thead>tr>td .mat-checkbox-frame, .mdl-history .table>tbody>tr>th .mat-checkbox-frame, .mdl-history .table>thead>tr>th .mat-checkbox-frame { border-width:1px !important; border-color: #ccc !important;}
 

.mat-paginator-page-size-label, .mat-paginator-range-label { font-size: 15px;}
 

.top-history ul li .mat-form-field-appearance-legacy .mat-form-field-wrapper { padding-bottom:0 !important;}
 .top-history ul li .mat-form-field-appearance-legacy .mat-form-field-infix {background: #fff !important;
width: auto !important; padding:0.7em 0 0.8em 0.6em; border-radius: 3px;}

.search-filter {display: inline-block !important; width:80% !important;}
.top-history ul li .mat-form-field { margin: 26px 0 0;}
.top-history ul li .mat-form-field-appearance-legacy .mat-form-field-underline { bottom: 0;}
.top-history ul li .mat-form-field-appearance-legacy .mat-form-field-underline { background-color:transparent;}
.top-history ul li .mat-form-field-label { left: 5px;}

.time-zone .mat-select-value {
    color: #7d7d7d !important;
    font-size: 16px !important;
} 


.pricing-cont ul li .mat-select-value { color: #7d7d7d !important;}

.work-schedule-top ul li .form-control .mat-select-placeholder {color: #484747; font-size: 15px;}

.employee-mission ul li .mat-checkbox-layout .mat-checkbox-label { font-size: 17px;}
  
/*----- Humberge Menu -----*/

.navbar-toggle .icon-bar:nth-of-type(2) {top: -2px !important;}
.navbar-toggle .icon-bar:nth-of-type(3) {top: -1px !important;}
.navbar-toggle .icon-bar {position: relative !important;transition: all 500ms ease-in-out; background-color:#fff !important; width: 26px !important; height: 3px !important;}
.navbar-toggle.active .icon-bar:nth-of-type(1) {top: 6px !important;transform: rotate(45deg) !important;}
.navbar-toggle.active .icon-bar:nth-of-type(2) {background-color:#fff !important;top:7px !important;transform: rotate(-134deg) !important;}
.navbar-toggle.active .icon-bar:nth-of-type(3) {top: 0px !important;transform: rotate(-45deg) !important;left: 0px !important;}
.navbar-toggle.active .icon-bar:nth-of-type(4) {background-color: transparent !important;}


/*-- Author:Suresh M, Date:09-05-19  --*/
/*-- Standard Off boarding template  --*/

.offboard-add { display: block;}
.offboard-add .modal-dialog { width: 75%;}
.offboard-add .modal-content {border-radius: 5px;}
.offboard-add .modal-header {padding: 20px 30px;}
.offboard-add .modal-body { padding: 0;}


.offboard-edit { padding:30px 0 30px; float: none; margin:0 auto;}
.offboard-edit ul { display:block;}
.offboard-edit ul li { margin: 0 0 25px;}
.offboard-edit ul li label{color: #484747; font-weight: normal; font-size: 16px;display: block; height: 37px;}
.offboard-edit ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:100%; 
background:#f8f8f8; resize: none;}
.offboard-edit ul li .form-control:focus{ box-shadow: none;}

.offboard-edit ul li.offboarding-width { float:none; clear: both;}
.offboard-edit ul li a { display: inline-block; vertical-align:middle;color: #484747; font-size: 14px; margin: 10px 0 0;}
.offboard-edit ul li a span { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;} 
.offboard-edit ul li a span .fa{ color:#008f3d;}
/* .offboard-edit ul li .form-control.category{ display: none;} */

.offboard-edit .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.offboard-edit .btn.cancel { color:#e44a49; background:transparent; padding:10px 0 0 30px;font-size: 16px;}
.termination-border {border-top:#ccc 1px solid !important; padding:25px 0 0; margin: 0 30px  0 0;}


/*-- Author:Suresh M, Date:04-06-19  --*/
/*-- Manager Self Service individual Css code  --*/

.time-block { padding:30px 0 0;}
.time-block .panel-default>.panel-heading { padding: 0 0 20px; background-color:transparent !important; border: none;}
.time-block .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.time-block .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.time-block .panel-title>.small, .time-block .panel-title>.small>a, .time-block .panel-title>a, .time-block .panel-title>small, .time-block .panel-title>small>a { text-decoration:none;}
.time-block .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.time-block .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.time-block .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.time-block .panel-group .panel-heading+.panel-collapse>.list-group, .time-block .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.time-block .panel-heading .accordion-toggle:after { margin:7px 15px 0; font-size: 13px; line-height: 13px;}
.time-block .panel-body { padding: 0 0 5px;}

.time-block .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.time-block .panel-default { border-color:transparent;}
.time-block .panel-group .panel+.panel { margin-top: 20px;}


.searching { display: block;}
.searching .form-group { position: relative; background:#fff; padding: 0; border-radius:3px;}
.searching .form-control { height: auto; border: none; box-shadow: none; padding: 10px 12px; width:94% !important; font-size: 15px;}
.searching .form-control:focus { box-shadow: none;}
.searching span { position: absolute; top:12px; right:10px; cursor: pointer; width: 5%;}
.searching span .material-icons { color: #8e8e8e; font-size:20px; font-weight: normal;}


.job-change-popup { display: block;}
.job-change-popup .modal-dialog { width:80%;}
.job-change-popup .modal-content {border-radius: 5px;}
.job-change-popup .modal-header {padding: 25px 30px;}
.job-change-popup .modal-body { padding: 0; background: #fff;}

.job-change { margin: 0 auto; float: none; padding:20px 0 0; height: 700px; overflow-y: auto;}
.job-change-in { margin: 0 auto 50px; float: none; padding: 0;}
.job-change ul { display: block;}
.job-change ul li { margin: 0 0 30px;}
.job-change ul li label{color: #484747; font-weight: normal; font-size: 17px; padding: 0 0 15px; display: block;}

.job-status { display: block;}

.job-status .table{ background:#fff;}
.job-status .table>tbody>tr>th, .job-status .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #fce3e3; border-right:#d6d6d6 1px solid;}
.job-status .table>tbody>tr>td, .job-status .table>tfoot>tr>td, .job-status .table>tfoot>tr>th, 
.job-status .table>thead>tr>td {color: #484747;padding:10px;font-size:15px; vertical-align: middle; background: #f8f8f8;border-right:#d6d6d6 1px solid;}

.job-change ul li .job-status .date { height:40px !important; line-height:inherit !important;}
.job-change ul li .job-status .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height:auto; min-width: auto;border-left: #bdbdbd 1px solid; border-radius:0;}

.job-change ul li .job-status .date span { border: none !important; padding: 0 !important;}
.job-change ul li .job-status .table>tbody>tr>td .date .form-control, .job-status .table>tfoot>tr>td .date .form-control,
.job-status .table>tfoot>tr>th .date .form-control, .job-status .table>thead>tr>td .date .form-control 
{ width:70%; height: auto; padding: 10px 0 10px 10px;background: #fff;}

.job-change ul li .job-status .table>tbody>tr>td .date span.form-control, .job-status .table>tfoot>tr>td .date span.form-control,
.job-status .table>tfoot>tr>th .date span.form-control, .job-status .table>thead>tr>td .date span.form-control 
{ padding: 0 0 0 10px !important; font-size: 13px;}


.job-change ul li .job-status .table>tbody>tr>td .date span, .job-status .table>tfoot>tr>td .date span
.job-status .table>tfoot>tr>th .date span, .job-status .table>thead>tr>td .date span
{ width:70%; height: auto; padding: 0;display: inline-block;} 

.job-change ul li .job-status .date .form-control:focus { box-shadow: none; border: none;}
.job-change ul li .job-status .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.job-change ul li .job-status .table>tbody>tr>td span.form-control, .job-change ul li .job-status .table>tfoot>tr>td span.form-control,
.job-change ul li .job-status .table>tfoot>tr>th span.form-control,.job-change ul li .job-status .table>thead>tr>td span.form-control
{ border: none; box-shadow: none; height:auto; padding:0 0 0 10px; font-size:13px; width: 100%; background: #fff;    height: 40px;
line-height: 40px;}


.job-change ul li .job-status .table>tbody>tr>td .form-control, .job-change ul li .job-status .table>tfoot>tr>td .form-control,
.job-change ul li .job-status .table>tfoot>tr>th .form-control,.job-change ul li .job-status .table>thead>tr>td .form-control
{ border: none; box-shadow: none; height:auto; padding: 10px 8px; font-size:14px; width: 100%; background: #fff;}


.job-status .table>tbody>tr>th:nth-last-child(1), .job-status .table>thead>tr>th:nth-last-child(1){ border-right:none;}
.job-status .table>tbody>tr>td:nth-last-child(1), .job-status .table>tfoot>tr>td:nth-last-child(1), .job-status .table>tfoot>tr>th:nth-last-child(1), 
.job-status .table>thead>tr>td:nth-last-child(1){ border-right: none;}
.new.job-status .table>tbody>tr>th, .new.job-status .table>thead>tr>th {background: #c6e2d3;}


.job-change ul li .job-status .table>tbody>tr>td .form-control::-webkit-input-placeholder{
    color:#525252;
  } 
.job-change ul li .job-status .table>tbody>tr>td .form-control::-moz-placeholder { /* Firefox 19+ */
color: #525252;
}
.job-change ul li .job-status .table>tbody>tr>td .form-control:-ms-input-placeholder { /* IE 10+ */
color: #525252;
}
.job-change ul li .job-status .table>tbody>tr>td .form-control:-moz-placeholder { /* Firefox 18- */
color: #525252;
}

.job-change ul li .form-control { border: none;
    box-shadow: none;
    padding: 12px 12px;
    height: auto;
    width:25%; font-size: 15px;
    background: #f8f8f8; resize: none;}

.job-change ul li.text-area .form-control { width: 75%;}

/* .example-box {
    padding:10px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 0 15px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  } */


.job-change ul li span { vertical-align:middle; display: inline-block; padding: 0 15px 0 0;}
.job-change ul li span .fa{ color:#c1c1c1; font-size:20px; line-height:20px; vertical-align:text-bottom;}
.approval { background: #f8f8f8;padding: 20px 20px; width: 42%;}
.approval h4 { padding: 0 0 15px; margin: 0;}

.termination-border {border-top:#ccc 1px solid !important; padding:30px 0 0; margin:0 auto; float: none;}
.job-main { padding: 0 0 30px;}
.job-main .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.job-main .btn.cancel { color:#e44a49; background:transparent; padding:0 0 0 30px;font-size: 16px;}



/* Companny-setup-structure css styling
   Author: saiprakash g, Date: 02/04/19
*/ 

.list-items .mat-checkbox-layout .mat-checkbox-label {
    margin-left: 15px;
    font-family: 'Lato', sans-serif !important; color: #737373 !important;
}
.cursor {
cursor: pointer;
}
.option-position .mat-menu-panel {
    position: absolute !important;
    right: 114px !important;
    background: #5ddb97;
    
}
.mat-menu-content:not(:empty) {
    padding: 0 !important
}
.email-templates .mat-checkbox-layout { vertical-align: text-top !important;}
.structure-model .cdk-overlay-pane {
    overflow: auto !important;
}
.custom-user-role-model{
    overflow-y: auto !important;
    padding: 0!important;
    
}


/* ======================company-settings >> general-settings >> css ====================== */


.company-address .mat-select{
    border: none;
    height: auto;
    padding: 12px;
    box-shadow: none;
}

.reports-table .table>tbody>tr>td .mat-select {
    background: #fff;
    height: 30px;
    width: 80%;
    line-height: 30px;
    padding: 0 0 0 10px;
}
.edit-custom-field .mat-select{
    border: none;
    background: #f8f8f8;
    box-shadow: none;
    height: 35px;
    width: 45%;
    line-height: 35px;
    display: block;
    padding: 0px 10px; 
}


/*====================Myinfo > customfields css===============*/

.custom-fields .mat-select{
    background: #fff !important;
    height: 35px !important;
    padding: 6px 13px !important;
}


.on-boarding-template .mat-checkbox-frame{
    border-width: 1px !important;
}

/* ==========================================directory-model=============================== */


.directory-settings-model .cdk-overlay-pane {
    overflow-y: auto !important;
    padding: 0!important;

    
}

/* ================================================offboarding================================ */

.custom-offboarding-temp mat-checkbox{
    position: absolute;
    bottom: 2px;
    left: 26%;
}

/* .mat-horizontal-stepper-header{
    pointer-events: none;
} */

.mat-checkbox-frame {border-width: 1px !important;}


/* ============    Css Animate arrow =========== */

@keyframes jump {
    0% {
      top: 0;
    }
    50% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }

  #arrow-down {
    position: relative;
    margin: 0 auto 60px;
    text-align: center;
    animation: jump 5s infinite;
  }
  #arrow-down i {
    content: "\f0a8";
    font-family: "FontAwesome";
    font-size: 80px;
    color: #dae6e8; cursor: pointer;
  }
  #arrow-down i:hover {
    color: #b6d0d4;
  }
  .mat-pseudo-checkbox{
  /* background: #797d7a !important; */
  border: 1px solid !important;
  }
  .mat-pseudo-checkbox::after{
      margin: 1px 0 0 1px;
      background: #797d7a !important;
  }
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate{
    background: #797d7a !important;
  }
 


/* ============   Suresh Time-Schedule Global Css code =========== */


.work-schedule-top {padding:30px 20px 10px;border-bottom: #cecece 1px solid;}
.work-schedule-top ul {padding: 10px 0 0;}
.work-schedule-top ul li { margin: 0 0 25px; padding: 0;}
.work-schedule-top ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.work-schedule-top ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%; background:#fff;}
.work-schedule-top ul li .form-control:focus{ box-shadow: none;}


.work-schedule-top ul li .date { height: auto !important; line-height:inherit !important; width:80% !important;background:#fff;}
.work-schedule-top ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.work-schedule-top ul li .date span { border: none !important; padding: 0 !important;}
.work-schedule-top ul li .date .form-control { width:77%; height: auto; padding: 12px 0 12px 10px;}
.work-schedule-top ul li .date .form-control:focus { box-shadow: none; border: none;}
.work-schedule-top ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}


.schedule-right { padding: 0;}
.schedule-right ul { padding: 10px 0 0;}
.schedule-right ul li{margin: 0 0 10px;}
.schedule-right ul li a{ color: #5f5f5f;font-size: 16px;border-radius: 4px;border: #ccc 1px solid; width: 200px; text-align: center;
padding: 8px 0; background: #fff; display: block; cursor: pointer;}
.schedule-right ul li a:hover { color: #fff; background: #5f5f5f; border:transparent 1px solid;}

.summery-accord { padding:30px 0 0;}
.summery-accord .panel-default>.panel-heading { padding: 0 0 20px; background-color:transparent !important; border: none;}
.summery-accord .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.summery-accord .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.summery-accord .panel-title>.small, .summery-accord .panel-title>.small>a, .summery-accord .panel-title>a, .summery-accord .panel-title>small, .summery-accord .panel-title>small>a { text-decoration:none;}
.summery-accord .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.summery-accord .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.summery-accord .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.summery-accord .panel-group .panel-heading+.panel-collapse>.list-group, .summery-accord .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.summery-accord .panel-heading .accordion-toggle:after { margin:7px 15px 0; font-size: 13px; line-height: 13px;}
.summery-accord .panel-body { padding: 0 0 5px;}

.summery-accord .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.summery-accord .panel-default { border-color:transparent;}
.summery-accord .panel-group .panel+.panel { margin-top: 20px;}


.work-history { display: block;}
.work-history .modal-dialog { width:80%;}
.work-history .modal-content {border-radius: 5px; border: none; padding: 0 0 40px;}
.work-history .modal-header {padding:30px;}
.work-history .modal-body { padding: 0; background: #fff;border-radius: 5px;}


.history-table { margin:40px auto 0; float: none; padding: 0;}

.history-table .table{ background:#fff;margin-bottom:60px;}
.history-table .table>tbody>tr>th, .history-table .table>thead>tr>th {padding:15px; color: #484747; font-weight: normal;
font-size:18px;vertical-align: middle; position: relative; background: #edf7ff;}
.history-table .table>tbody>tr>td, .history-table .table>tfoot>tr>td, .history-table .table>tfoot>tr>th, 
.history-table .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; background: #f8f8f8;}
.history-table .btn { color: #008f3d; border: #008f3d 1px solid; padding:8px 35px; border-radius:30px; background:transparent; font-size:16px;}


.requested-time { float: none; margin: 0 auto;padding: 0;}

.requested-time .table{ background:#fff; margin: 0;}
.requested-time .table>tbody>tr>th, .requested-time .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:17px;
vertical-align: middle; position: relative; background: #edf7ff;}
.requested-time .table>tbody>tr>td, .requested-time .table>tfoot>tr>td, .requested-time .table>tfoot>tr>th, 
.requested-time .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px;}
.requested-time button.mat-menu-item a { color:#ccc;}
.requested-time button.mat-menu-item a:hover { color:#fff; background: #099247;}
.requested-time .table>tbody>tr>th a, .requested-time .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.requested-time .table>tbody>tr>th a .fa, .requested-time .table>thead>tr>th a .fa { color: #6f6d6d;}
.requested-time button { border: none; outline: none; background:transparent;}


.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #008f3d;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #008f3d;
}


/* ---------- Recruitment Global Css ( Suresh M) --------------- */

.arrow-block {margin: 35px 0 0;}
.arrow-block a { display: inline-block; background: #fff; border-radius:20px; vertical-align: middle; cursor: pointer;
padding:6px 17px; margin: 0 20px 0 0;}
.arrow-block a small { display: inline-block; vertical-align: middle; padding: 0 10px 0 0;}
.arrow-block a small .fa {color:#439348; font-size: 23px; line-height:23px;}
.arrow-block a em{ display: inline-block;color:#484747; font-size: 15px; font-style: normal;vertical-align:text-top;}

.arrow-block h3 { display: inline-block; vertical-align: middle; margin: 0;}
.arrow-block h3 img {display: inline-block;vertical-align: middle;}
.arrow-block h3 span {display: inline-block;vertical-align: middle; font-size: 20px; padding: 0 0 0 15px;color: #757575;}




.filed-popup { display: block;}
.filed-popup .modal.in .modal-dialog { width:80%;}

.work-title .mat-select { height: auto !important; padding:11px 12px !important;}

/* ---- Directory Display Setting Angular Material CSS Code in Sureshh M ----*/ 

.mat-expansion-indicator::after { position: absolute !important; top:-4px !important; right:0 !important;}
.mat-expansion-panel-header { padding: 0 20px !important;}
.mat-expansion-panel-spacing { margin:0 !important;}
.display-right .mat-select-placeholder { padding: 0 0 0 35px !important;}

.dual-list .listbox button{
    background: #008f3d!important;
  }

  div.record-picker::-webkit-scrollbar-thumb{
    background: #008f3d !important;
    border: thin solid #008f3d !important;
  }




  /* ========= Recruitment > Job Description all tabs Global Css ==== */


.post-jobs { display: block;}

.post-job-add {display: block;} 
.post-job-add ul { display: block; padding: 0;}
.post-job-add ul li {margin: 0 0 25px;}
.post-job-add ul li label{color: #484747;font-size: 17px; padding: 0 0 10px;}
.post-job-add ul li .form-control{ border: none; box-shadow: none; padding: 13px 12px; height: auto;
background:#f8f8f8;}
.post-job-add ul li .form-control:focus{ box-shadow: none;}

.post-job-add .table{ background:#fff;}
.post-job-add .table>tbody>tr>th, .post-job-add .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.post-job-add .table>tbody>tr>td, .post-job-add .table>tfoot>tr>td, .post-job-add .table>tfoot>tr>th, 
.post-job-add .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px; background: #f8f8f8;}

.post-job-add .table>tbody>tr>th a, .post-job-add .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.post-job-add .table>tbody>tr>th a .fa, .post-job-add .table>thead>tr>th a .fa { color: #6f6d6d;}

.job-bank {margin:30px auto 0; float: none; padding: 0;}

.job-bank h2 { color: #3c3c3c;font-size: 20px; padding: 0 0 20px;}

.post-jobs-cont { display: block;}
.post-jobs-cont .table{ background:#fff;}
.post-jobs-cont .table>tbody>tr>th, .post-jobs-cont .table>thead>tr>th {padding: 10px; color: #484747; font-weight: normal; font-size:17px;
vertical-align: middle; position: relative; background: #edf7ff;}
.post-jobs-cont .table>tbody>tr>td, .post-jobs-cont .table>tfoot>tr>td, .post-jobs-cont .table>tfoot>tr>th, 
.post-jobs-cont .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px;}

.post-jobs-cont .table>tbody>tr>th a, .post-jobs-cont .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.post-jobs-cont .table>tbody>tr>th a .fa, .post-jobs-cont .table>thead>tr>th a .fa { color: #6f6d6d;}

