<div class="feature-benefits leave">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Integrations & API Partners</h2>
        <h1>Creating A World <br>
          Where Work Empowers A Better Life</h1>

        <small>We work well with others so its easier for bussiness to get their work done!</small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/integration-img.png" width="675" height="530" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- <div id="arrow-down">
  <i class="fa fa-chevron-down"></i>
</div> -->


<div class="arrow"> <a (click)="arrowDown(content)" ><img src="../../../assets/images/home/down-arrow.png" width="94" height="41"
        alt="img"></a></div>
  


<div #content class="benefits-cont">
  <div class="container">
    <div class="row">
      <p>We integrate with third-party payroll systems to easily transfer information. We integrate with Quickbooks,
        Intuit, Accountanto, TSheets, Bill.com, Shopify, and additional payroll systems in the future like Xero. We work
        to offer as seemless experience as we can to our customers and if there are other software you would like us to
        integrate with,<br> we will work to make those suggestions a reality!</p>


    </div>
  </div>

</div>