<div class="personal col-md-11">

  <div class="panel-group" id="accordion3">

    <form [formGroup]="basicDetailsForm">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
              Basic Details
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="personal-cont col-md-9">

              <ul >
                <li class="col-md-3" *ngIf="!basicDetailsData.First_Name.hide">
                  <label>First Name <span *ngIf="basicDetailsData.First_Name.required">*</span></label>
                  <input type="text" class="form-control" onkeypress="return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)"
                    placeholder="First Name" formControlName="firstName"
                    [required]="basicDetailsData.First_Name.required" maxlength="50" [readonly]="personalTabView">
                  <!-- <input *ngIf="basicDetailsData.First_Name.format == 'number'" type="text" class="form-control"
                    placeholder="First Name" formControlName="firstName"
                    [required]="basicDetailsData.First_Name.required">
                  <input
                    *ngIf="basicDetailsData.First_Name.format == 'Alpha' || basicDetailsData.First_Name.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control" placeholder="First_Name"
                    formControlName="firstName" [required]="basicDetailsData.First_Name.required">
                  <input *ngIf="basicDetailsData.First_Name.format == 'AlphaNumeric'" type="text" class="form-control"
                    placeholder="First Name" formControlName="firstName"
                    [required]="basicDetailsData.First_Name.required"> -->

                  <span *ngIf="basicDetailsForm.get('firstName').invalid && basicDetailsForm.get('firstName').touched"
                    style="color:#e44a49; padding-top: 5px;">You must enter a first name</span>
                </li>

                <li class="col-md-3" *ngIf="!basicDetailsData.Middle_Name.hide">
                  <label>Middle Name <span *ngIf="basicDetailsData.Middle_Name.required">*</span></label>
                  <input type="text" class="form-control" onkeypress="return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)"
                    placeholder="Middle Name" formControlName="middleName"
                    [required]="basicDetailsData.Middle_Name.required" maxlength="50"  [readonly]="personalTabView">
                  <!-- <input
                    *ngIf="basicDetailsData.Middle_Name.format == 'Alpha' || basicDetailsData.Middle_Name.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control" placeholder="Middle Name"
                    formControlName="middleName" [required]="basicDetailsData.Middle_Name.required">
                  <input *ngIf="basicDetailsData.Middle_Name.format == 'AlphaNumeric'" type="text" class="form-control"
                    placeholder="Middle Name" formControlName="middleName"
                    [required]="basicDetailsData.Middle_Name.required"> -->

                  <span *ngIf="basicDetailsForm.get('middleName').invalid && basicDetailsForm.get('middleName').touched"
                    style="color:#e44a49; padding-top: 5px;">You must enter a middle name</span>
                </li>

                <li class="col-md-3" *ngIf="!basicDetailsData.Last_Name.hide">
                  <label>Last Name <span *ngIf="basicDetailsData.Last_Name.required">*</span></label>
                  <input  type="text" onkeypress="return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)" class="form-control"
                    placeholder="Last Name" formControlName="lastName" [required]="basicDetailsData.Last_Name.required" maxlength="50"  [readonly]="personalTabView">
                  <!-- <input
                    *ngIf="basicDetailsData.Last_Name.format == 'Alpha' || basicDetailsData.Last_Name.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control" placeholder="Last Name"
                    formControlName="lastName" [required]="basicDetailsData.Last_Name.required">
                  <input *ngIf="basicDetailsData.Last_Name.format == 'AlphaNumeric'" type="text" class="form-control"
                    placeholder="Last Name" formControlName="lastName" [required]="basicDetailsData.Last_Name.required"> -->

                  <span *ngIf="basicDetailsForm.get('lastName').invalid && basicDetailsForm.get('lastName').touched"
                    style="color:#e44a49; padding-top: 5px;">You must enter a last name</span>
                </li>
        

              </ul>
              <div class="clearfix"></div>


              <ul>
                  <li class="col-md-3" *ngIf="!basicDetailsData.Preferred_Name.hide">
                      <label>Prefered Name <span *ngIf="basicDetailsData.Preferred_Name.required">*</span></label>
                      <input type="text" onkeypress="return (event.charCode > 64 && 
                      event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)" class="form-control"
                        placeholder="Preferred Name" formControlName="preferredName"
                        [required]="basicDetailsData.Preferred_Name.required" maxlength="50" [readonly]="personalTabView">
                      <!-- <input
                        *ngIf="basicDetailsData.Preferred_Name.format == 'Alpha' || basicDetailsData.Preferred_Name.format == 'text'"
                        (keypress)="alphabets($event)" type="text" class="form-control" placeholder="Preferred Name"
                        formControlName="preferredName" [required]="basicDetailsData.Preferred_Name.required">
                      <input *ngIf="basicDetailsData.Preferred_Name.format == 'AlphaNumeric'" type="text"
                        class="form-control" placeholder="Preferred Name" formControlName="preferredName"
                        [required]="basicDetailsData.Preferred_Name.required"> -->
    
                      <span
                        *ngIf="basicDetailsForm.get('preferredName').invalid && basicDetailsForm.get('preferredName').touched"
                        style="color:#e44a49; padding-top: 5px;">You must enter a prefered name</span>
                    </li>

                <li class="col-md-3" *ngIf="!basicDetailsData.Salutation.hide">
                  <label>Salutation <span *ngIf="basicDetailsData.Salutation.required">*</span></label>
                  <mat-select class="form-control" formControlName="salutation"
                    [required]="basicDetailsData.Salutation.required" (ngModelChange)="selectSalutation($event)"  [disabled]="personalTabView">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let salutationName of allSalutation" [value]="salutationName.name" >{{salutationName.name}}</mat-option>
                   
                  </mat-select>
                
                  <span *ngIf="basicDetailsForm.get('salutation').invalid && basicDetailsForm.get('salutation').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select a salutation</span>
                </li>
        

              </ul>
              <div class="clearfix"></div>

              <ul>
                <li class="col-md-3" *ngIf="!basicDetailsData.Date_of_Birth.hide">
                  <label>Date of Birth <span *ngIf="basicDetailsData.Date_of_Birth.required">*</span></label>

                  <div class="date">
                    <input matInput [matDatepicker]="picker" placeholder="mm / dd / yy" class="form-control"
                      formControlName="dob" [required]="basicDetailsData.Date_of_Birth.required" [max]="dobDate" [disabled]="personalTabView">
                    <mat-datepicker #picker></mat-datepicker>
                    <button mat-raised-button (click)="picker.open()">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                    </button>
                    <div class="clearfix"></div>
                  </div>
                  <span *ngIf="basicDetailsForm.get('dob').invalid && basicDetailsForm.get('dob').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select date of birth</span>
                </li>

                <li class="col-md-3" *ngIf="!basicDetailsData.Gender.hide">
                  <label>Gender <span *ngIf="basicDetailsData.Gender.required">*</span></label>
                  <mat-select class="form-control" formControlName="gender"
                    [required]="basicDetailsData.Gender.required" [disabled]="personalTabView">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngIf="(salutationName == 'Mr.') || (salutationName == 'Dr.') || (salutationName == 'Prof.') || (!salutationName) " value="male">Male</mat-option>
                    <mat-option *ngIf="(salutationName == 'Miss') || (salutationName == 'Mrs.') || (salutationName == 'Dr.') || (salutationName == 'Prof.') || (salutationName == 'Ms.') || (!salutationName)" value="female">Female</mat-option>
                  </mat-select>
                  <span *ngIf="basicDetailsForm.get('gender').invalid && basicDetailsForm.get('gender').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select a gender</span>
                </li>

              </ul>
              <div class="clearfix"></div>


              <ul>

                <li class="col-md-3" *ngIf="!basicDetailsData.Maritial_Status.hide">
                  <label>Marital Status <span *ngIf="basicDetailsData.Maritial_Status.required">*</span></label>
                  <mat-select class="form-control" formControlName="maritalStatus"
                    [required]="basicDetailsData.Maritial_Status.required" placeholder="Marital status" [disabled]="personalTabView">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let maritalstatus of allMaritalStatus" [value]="maritalstatus.name">{{maritalstatus.name}}</mat-option>
                   
                  </mat-select>
                  <span
                    *ngIf="basicDetailsForm.get('maritalStatus').invalid && basicDetailsForm.get('maritalStatus').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select a marital status</span>
                </li>

                <li class="col-md-3 right-space" *ngIf="!basicDetailsData.Maritial_Status_Effective_Date.hide">
                  <label>Marital Status Effective Date <span
                      *ngIf="basicDetailsData.Maritial_Status_Effective_Date.required">*</span></label>

                  <div class="date">
                    <input matInput [matDatepicker]="picker1" placeholder="mm / dd / yy" class="form-control"
                      formControlName="effectiveDate"
                      [required]="basicDetailsData.Maritial_Status_Effective_Date.required" [disabled]="personalTabView">
                    <mat-datepicker #picker1></mat-datepicker>
                    <button mat-raised-button (click)="picker1.open()">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                    </button>
                    <div class="clearfix"></div>
                  </div>
                  <span
                    *ngIf="basicDetailsForm.get('effectiveDate').invalid && basicDetailsForm.get('effectiveDate').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select marital status effective date</span>
                </li>


                <li class="col-md-3 veteran" *ngIf="!basicDetailsData.Veteran_Status.hide">
                  <label>Veteran Status <span *ngIf="basicDetailsData.Veteran_Status.required">*</span></label>
                  <mat-select class="form-control" formControlName="veteranStatus"
                    [required]="basicDetailsData.Veteran_Status.required" placeholder="Veteran status" [disabled]="personalTabView">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let veteranstatus of allVeteranStatus" [value]="veteranstatus.name">{{veteranstatus.name}}</mat-option>
                    
                  </mat-select>
                  <span
                    *ngIf="basicDetailsForm.get('veteranStatus').invalid && basicDetailsForm.get('veteranStatus').touched"
                    style="color:#e44a49; padding-top: 5px;">You select a veteran status</span>
                </li>

                <li class="col-md-3 veteran" *ngIf="!basicDetailsData.SSN.hide">
                  <label>SSN <span *ngIf="basicDetailsData.SSN.required">*</span></label>
                  <input  class="form-control" mask="000-00-0000" [dropSpecialCharacters]='false'
                    placeholder="SSN" formControlName="ssn" [required]="basicDetailsData.SSN.required" [readonly]="personalTabView">
                    
                  <!-- <input
                    *ngIf="basicDetailsData.SSN.format == 'Alpha' || basicDetailsData.Preferred_Name.format == 'text'"
                    (keypress)="alphabets($event)" type="text" class="form-control" placeholder="SSN"
                    formControlName="ssn" [required]="basicDetailsData.SSN.required">
                  <input *ngIf="basicDetailsData.SSN.format == 'AlphaNumeric'" type="text" class="form-control"
                    placeholder="SSN" formControlName="ssn" [required]="basicDetailsData.SSN.required"> -->

                  <span *ngIf="basicDetailsForm.get('ssn').invalid && basicDetailsForm.get('ssn').touched"
                    style="color:#e44a49; padding-top: 5px;">You must enter a SSN</span>
                </li>

<!-- 
                <li>

                  <input type="text" (blur)="showMask = true" (click)="showMask = !showMask" name="value" (ngModelChange)="value = $event" [ngModel]="value | mask:showMask">
                  <p>real value: {{ value }}</p>
                </li> -->


              </ul>
              <div class="clearfix"></div>


              <ul>

                <li class="col-md-3" *ngIf="!basicDetailsData.Race.hide">
                  <label>Race <span *ngIf="basicDetailsData.Race.required">*</span></label>
                  <mat-select class="form-control" formControlName="race" [required]="basicDetailsData.Race.required" [disabled]="personalTabView">
                      <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let race of allRace" [value]="race.name">{{race.name}}</mat-option>
                 
                  </mat-select>
                  <span *ngIf="basicDetailsForm.get('race').invalid && basicDetailsForm.get('race').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select a race</span>
                </li>

                <li class="col-md-5" *ngIf="!basicDetailsData.Ethnicity.hide">
                  <label>Ethnicity <span *ngIf="basicDetailsData.Ethnicity.required">*</span></label>
                  <mat-select class="form-control" formControlName="ethnicity"
                    [required]="basicDetailsData.Ethnicity.required" [disabled]="personalTabView">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let ethnicity of allEthnicity" [value]="ethnicity.name">{{ethnicity.name}}</mat-option>
                   
                  </mat-select>
                  <span *ngIf="basicDetailsForm.get('ethnicity').invalid && basicDetailsForm.get('ethnicity').touched"
                    style="color:#e44a49; padding-top: 5px;">You must select a ethnicity</span>
                </li>

              </ul>
              <div class="clearfix"></div>


            </div>
            <!-- Author:Suresh M, Date:15-04-19  -->
            <!-- Upload img block -->
            <div class="upload col-md-3">
              <img *ngIf="!profilePhoto" src="../../../../../assets/images/directory_tabs/Personal/emp.png" width="60" height="73"
                alt="img">
                <img *ngIf="profilePhoto" src="{{profilePhoto}}"  width="80" height="80"
                alt="img" style="border-radius: 50%;">
                <br>

              <input type="file" id="fileUpload" accept=".png, .jpg, .jpeg" (change)="fileChangeEvent($event)">
              <label for="fileUpload">
                <a mat-raised-button class="import-btn">Upload Employee Photo</a>

              </label>

            </div>

            <div class="clearfix"></div>


          </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
              Address
            </a>
          </h4>

        </div>

        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="administration-address">

              <ul>
                <li class="col-md-4">
                  <input type="text" placeholder="Street1" class="form-control" maxlength="60" formControlName="street1" [readonly]="personalTabView">
                  <span *ngIf="basicDetailsForm.get('street1').invalid && basicDetailsForm.get('street1').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a street</span>
                </li>
                <li class="col-md-4">
                  <input type="text" placeholder="Street2" class="form-control" maxlength="60" formControlName="street2" [readonly]="personalTabView">
                </li>
              </ul>

              <ul>
                <li class="state">
                  <input type="text" placeholder="City" class="form-control" maxlength="24" formControlName="city"
                  onkeypress="return (event.charCode > 64 &&  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)" [readonly]="personalTabView">
                  <span *ngIf="basicDetailsForm.get('city').invalid && basicDetailsForm.get('city').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a city</span>
                </li>
                <li class="city">
                  <mat-select class="form-control" placeholder="State" formControlName="state" [disabled]="personalTabView">
                    <mat-option *ngFor="let state of allState" [value]="state.name">{{state.name}}</mat-option>
                    
                  </mat-select>
                  <span *ngIf="basicDetailsForm.get('state').invalid && basicDetailsForm.get('state').touched"
                  style="color:#e44a49; padding-top: 5px;">You must select a state</span>
                </li>
                <li class="zip">
                  <input placeholder="ZIP" class="form-control" minlength="5" maxlength="5" formControlName="zipcode"
                  (keypress)="keyPress($event)" [readonly]="personalTabView">
                  <span *ngIf="basicDetailsForm.get('zipcode').invalid && basicDetailsForm.get('zipcode').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a zipcode</span>
                </li>

                <li class="col-md-3 united-state">
                  <mat-select class="form-control" placeholder="Country" formControlName="country" [disabled]="personalTabView">
                    <mat-option *ngFor="let country of allCountry" [value]="country.name">{{country.name}}</mat-option>
                  </mat-select>
                  <span *ngIf="basicDetailsForm.get('country').invalid && basicDetailsForm.get('country').touched"
                  style="color:#e44a49; padding-top: 5px;">You must select a country</span>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
              Contact
            </a>
          </h4>
        </div>

        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="administration-contact">

              <ul>
                <li>
                  <h4>Phone</h4>
                </li>
                <li class="col-md-3">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input  class="form-control" placeholder="Work Phone" formControlName="workPhone" (keypress)="keyPress($event)" minlength=10 maxlength=10 [readonly]="personalTabView">
 
                  </div>
                  <span *ngIf="basicDetailsForm.get('workPhone').invalid && basicDetailsForm.get('workPhone').touched"
                  style="color:#e44a49; padding-top: 5px;">You must eneter a work phone</span>
                </li>
                <li class="col-md-2">

                  <input class="form-control" placeholder="Extn" formControlName="extention" (keypress)="keyPress($event)" minlength=4
                  maxlength=4 [readonly]="personalTabView">
                  <span *ngIf="basicDetailsForm.get('extention').invalid && basicDetailsForm.get('extention').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a extention</span>
                </li>
                <li class="col-md-3 phone-width">
                  <div class="phone">
                    <span>
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span>
                    <input  class="form-control" placeholder="Mobile Phone" formControlName="mobilePhone" (keypress)="keyPress($event)" minlength=10 maxlength=10 [readonly]="personalTabView">
 
                  </div>
                  <span *ngIf="basicDetailsForm.get('mobilePhone').invalid && basicDetailsForm.get('mobilePhone').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a mobile phone</span>
                </li>
                <li class="col-md-3 phone-width">
                  <div class="phone">
                    <span>
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <input class="form-control" placeholder="Home Phone" formControlName="homePhone" (keypress)="keyPress($event)" minlength=10 maxlength=10 [readonly]="personalTabView">
                   
                  </div>
                  <span *ngIf="basicDetailsForm.get('homePhone').invalid && basicDetailsForm.get('homePhone').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a home phone</span>
                </li>
              </ul>

              <ul>

                <li>
                  <h4>Email</h4>
                </li>

                <li class="col-md-3 email-width">
                  <div class="phone">
                    <span>
                      <img src="../../../../assets/images/company-settings/company-setup/work-phone.png" width="18"
                        height="16" alt="img">
                    </span>
                    <input type="email" class="form-control" placeholder="Work Email" formControlName="workMail"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [readonly]="personalTabView">
                  </div>
                  
                  <span *ngIf="basicDetailsForm.get('workMail').invalid && basicDetailsForm.get('workMail').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Enter a valid email</span>
                </li>

                <li class="col-md-3 email-width">
                  <div class="phone">
                    <span>
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Home Email" formControlName="personalMail"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [readonly]="personalTabView">
                  </div>
                  
                  <span *ngIf="basicDetailsForm.get('personalMail').invalid && basicDetailsForm.get('personalMail').touched"
                  style="color:#e44a49; padding: 5px 0 0;">Enter a valid email</span>
                </li>
              </ul>

            </div>

          </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
              Social links
            </a>
          </h4>
        </div>

        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="administration-contact social">

              <ul>

                <li class="col-md-4 phone-width">
                  <div class="phone">
                    <span>
                      <img src="../../../../../assets/images/directory_tabs/Personal/layer1_1_.png" width="19"
                        height="19" alt="img">
                    </span>
                    <input type="text" class="form-control" placeholder="LinkedIn" formControlName="linkedin" [readonly]="personalTabView">
                  </div>
                  <span *ngIf="basicDetailsForm.get('linkedin').invalid && basicDetailsForm.get('linkedin').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a linkedin link</span>
                </li>

                <li class="col-md-4 phone-width">
                  <div class="phone">
                    <span>
                      <img src="../../../../../assets/images/directory_tabs/Personal/Path 39.png" width="19" height="19"
                        alt="img">
                    </span>
                    <input type="text" class="form-control" placeholder="Twitter Username"
                      formControlName="twitter" [readonly]="personalTabView">
                  </div>
                  <span *ngIf="basicDetailsForm.get('twitter').invalid && basicDetailsForm.get('twitter').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a twitter link</span>
                </li>
                <li class="col-md-4 phone-width">
                  <div class="phone">
                    <span>
                      <img src="../../../../../assets/images/directory_tabs/Personal/layer-1.png" width="19" height="19"
                        alt="img">
                    </span>
                    <input type="text" class="form-control" placeholder="Facebook" formControlName="facebook" [readonly]="personalTabView">
                  </div>
                  <span *ngIf="basicDetailsForm.get('facebook').invalid && basicDetailsForm.get('facebook').touched"
                  style="color:#e44a49; padding-top: 5px;">You must enter a facebook link</span>
                </li>
              </ul>

            </div>

          </div>
        </div>

      </div>
    
    </form>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="margin-top:15px;">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive">
              Education
            </a>
          </h4>

        </div>

        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="education">

              <h5>No Education Info has been added.</h5>

              <div *ngIf = "!personalTabView" class="add-fields">
                  <mat-icon class="cursor" [matMenuTriggerFor]="menu1" >more_vert</mat-icon>

                  <mat-menu #menu1="matMenu">
                    <button *ngIf="!checkEduIds.length >=1" mat-menu-item (click)="addEducation()">Add</button>
                    <button *ngIf="(!checkEduIds.length <=0) && (checkEduIds.length ==1)" mat-menu-item (click)="editEducation()">Edit</button>
                    <button *ngIf="(!checkEduIds.length <=0) && (checkEduIds.length >=1)" mat-menu-item (click)="deleteEducation()">Delete</button>
                  </mat-menu>
                <!-- <a (click)="addEducation()"><small><i aria-hidden="true" class="fa fa-plus"></i></small>Add Education</a> -->
              </div>
              <ul class="row" *ngFor="let education of educationList">
               

                <div class="col-md-1" style="margin-top:30px;">
                    <li>
                        <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="education.isChecked" (ngModelChange)="educationIds($event, education._id)"></mat-checkbox>
    
                    </li>
                </div>
                <div class="col-md-8">
                <li class="col-md-6 phone-width">
                  <div class="phone">
                    <span>
                      <img src="../../../../../assets/images/directory_tabs/Personal/inst.png" width="19" height="19"
                        alt="img">
                    </span>
                    <input type="text" class="form-control" placeholder="University" [(ngModel)]="education.university" [readOnly]="education.edit"
                    onkeypress="return (event.charCode > 64 &&  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode ==32)" [readonly]="personalTabView">
                  </div>
                </li>

                <li class="col-md-8 bachelor">
                  <div class="phone">
                    <span class="pull-left">
                      <img src="../../../../../assets/images/directory_tabs/Personal/cap.png" width="19" height="19"
                        alt="img">
                    </span>
                    <mat-select class="form-control pull-left" placeholder="Bachelor's" [(ngModel)]="education.degree" [disabled]="education.edit" [disabled]="personalTabView">
                      <mat-option value='Bachelors'>Bachelors</mat-option>
                      <mat-option value='Masters'>Masters</mat-option>
                    </mat-select>
                    <div class="clearfix"></div>
                  </div>
                </li>

                <li class="col-md-6 bachelor business">
                  <div class="phone">
                    <mat-select class="form-control pull-left" placeholder="Business" [(ngModel)]="education.specialization" [disabled]="education.edit">
                      <mat-option value='IT'>IT</mat-option>
                      <mat-option value='Electronics'>Electronics</mat-option>
                    </mat-select>
                  </div>
                </li>

                <li class="col-md-4 bachelor gpa">
                  <label>GPA </label>
                  <input type="text" class="form-control" placeholder="GPA" [(ngModel)]="education.gpa" [readOnly]="education.edit"
                  (keypress)="omit_special_char($event)" [readonly]="personalTabView">
                </li>
                <ul style="margin-top:20px;">
                    <li class="col-md-4">
                      <div class="date start">
                        <input matInput [matDatepicker]="picker2" placeholder="Start Date" class="form-control"
                        [(ngModel)]="education.start_date" [max]="education.end_date" [disabled]="personalTabView">
                        <mat-datepicker #picker2></mat-datepicker>
                        <button mat-raised-button (click)="picker2.open()" [disabled]="education.edit">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
    
                    </li>
    
    
                    <li class="col-md-4">
                      <div class="date">
                        <input matInput [matDatepicker]="picker3" placeholder="End Date" class="form-control"
                        [(ngModel)]="education.end_date" [min]="education.start_date" [disabled]="personalTabView">
                        <mat-datepicker #picker3></mat-datepicker>
                        <button mat-raised-button (click)="picker3.open()" [disabled]="education.edit">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
    
                    </li>
                 
    
                  </ul>
                </div>
                
              </ul>

              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSix">
              Language
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="personal-cont language">
              <div *ngIf = "!personalTabView" class="add-fields">
                  <mat-icon class="cursor"  [matMenuTriggerFor]="menu2">more_vert</mat-icon>

                  <mat-menu #menu2="matMenu">
                    <button *ngIf="!checkLangIds.length >=1" mat-menu-item (click)="addLanguages()">Add</button>
                    <button *ngIf="(!checkLangIds.length <=0) && (checkLangIds.length ==1)" mat-menu-item (click)="editLanguage()">Edit</button>
                    <button *ngIf="(!checkLangIds.length <=0) && (checkLangIds.length >=1)" mat-menu-item (click)="deleteLanguage()">Delete</button>
                  </mat-menu>
                <!-- <a (click)="addLanguages()"><small><i aria-hidden="true" class="fa fa-plus"></i></small>
                  Add Language</a> -->
                </div>

              <ul class="row" style="margin:0px;" *ngFor="let language of languageList">
                <li class="col-sm-1">
                    <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="language.isChecked" (ngModelChange)="languagesIds($event,language._id)"></mat-checkbox>
                </li>
                <li class="col-md-3">
                  <label>Select Language *</label>
                  <mat-select class="form-control" [(ngModel)]="language.language" [disabled]="language.edit" [disabled]="personalTabView">
                    <mat-option *ngFor="let language of allLanguages" [value]="language.name">{{language.name}}</mat-option>
                  
                  </mat-select>
                </li>

                <li class="col-md-3">
                  <label>Level of Fluency</label>
                  <mat-select class="form-control" [(ngModel)]="language.level_of_fluency" [disabled]="language.edit" [disabled]="personalTabView">
                    <mat-option *ngFor="let fluency of allLanguageFluency" [value]="fluency.name">{{fluency.name}}</mat-option>
                  </mat-select>
                </li>

              </ul><br>
              <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>

          </div>
        </div>

      </div>

      <!-- Author:Suresh M, Date:08-04-19  -->
      <!-- Visa Informaton Accordion -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse-visa">
              Visa Information
            </a>
          </h4>
        </div>
        <div id="collapse-visa" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="personal-cont information">

              <table class="table">
                <thead>
                  <tr>
                    <th>
                      
                    </th>
                    <th>Visa Type</th>
                    <th>Issuing Country</th>
                    <th>Issue Date</th>
                    <th>Expiration Date</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th *ngIf = "!personalTabView">
                    <mat-icon class="cursor" [matMenuTriggerFor]="menu" >more_vert</mat-icon>

                      <mat-menu #menu="matMenu">
                        <button *ngIf="!checkVisaIds.length >=1" mat-menu-item (click)="addVisaInformation()">Add</button>
                        <button *ngIf="(!checkVisaIds.length <=0) && (checkVisaIds.length ==1)" mat-menu-item (click)="editVisa()">Edit</button>
                        <button *ngIf="(!checkVisaIds.length <=0) && (checkVisaIds.length >=1)" mat-menu-item (click)="deleteVisa()">Delete</button>
                      </mat-menu>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr  *ngFor="let visa of visaList">

                    <td [ngClass]="{'zenwork-checked-border': visa.isChecked}">
                      <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="visa.isChecked" (ngModelChange)="visaIds($event, visa._id)"></mat-checkbox>
                    </td>
                    <td>
                      <div class="status">
                        <mat-select class="form-control" placeholder="Type" [(ngModel)]="visa.visa_type" [disabled]="visa.edit">
                          <mat-option *ngFor="let type of allVisaType" [value]="type.name">{{type.name}}</mat-option>
                        </mat-select>
                      </div>
                    </td>
                    <td>
                      <mat-select class="form-control" placeholder="Country" [(ngModel)]="visa.issuing_country" [disabled]="visa.edit" [disabled]="personalTabView">

                        <mat-option value="USA">USA</mat-option>
                        <mat-option value="India">India</mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <div class="date">
                        <input matInput [matDatepicker]="picker10" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="visa.issued_date"
                        [max]="visa.expiration_date" [disabled]="personalTabView">
                        <mat-datepicker #picker10></mat-datepicker>
                        <button mat-raised-button (click)="picker10.open()" [disabled]="visa.edit">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td>
                      <div class="date">
                        <input matInput [matDatepicker]="picker11" placeholder="mm / dd / yy" class="form-control" [(ngModel)]="visa.expiration_date"
                        [min]="visa.issued_date" [disabled]="personalTabView">
                        <mat-datepicker #picker11></mat-datepicker>
                        <button mat-raised-button (click)="picker11.open()" [disabled]="visa.edit">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </td>
                    <td>
                      <div class="status">
                        <mat-select class="form-control" placeholder="Status" [(ngModel)]="visa.status" [disabled]="visa.edit" [disabled]="personalTabView">
                          <mat-option *ngFor="let status of allVisaStatus" [value]="status.name">{{status.name}}</mat-option>
                          
                        </mat-select>
                      </div>
                    </td>
                    <td>
                      <input type="text" placeholder="notes" class="form-control notes" [(ngModel)]="visa.notes" [readOnly]="visa.edit" [readonly]="personalTabView">
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>


          </div>
        </div>

      </div>

      <button *ngIf="!personalTabView" class="btn pull-left cancel" (click)="cancelPersonalDetails()">Cancel</button>
      <button *ngIf="!personalTabView" class="btn pull-right save" type="submit" (click)="personalSubmit()">Save Changes</button>

      <div class="clearfix"></div>
 

  </div>

</div>