.personal { margin: 30px auto 0; float: none;}
.personal .panel-default>.panel-heading { padding: 0 0 25px; background-color:transparent !important; border: none;}
.personal .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.personal .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.personal .panel-title>.small, .personal .panel-title>.small>a, .personal .panel-title>a, .personal .panel-title>small, .personal .panel-title>small>a { text-decoration:none;}
.personal .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.personal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.personal .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.personal .panel-group .panel-heading+.panel-collapse>.list-group, .personal .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.personal .panel-heading .accordion-toggle:after { margin:4px 15px 0; font-size: 13px; line-height: 13px;}
.personal .panel-body { padding: 0 0 5px;}

.personal .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.personal .panel-default { border-color:transparent;}
.personal .panel-group .panel+.panel { margin-top: 20px;}


.personal-cont { display:block; padding: 0;}
.personal-cont ul { display:block;}
.personal-cont ul li { margin: 0 15px 25px 0; padding: 0;}
.personal-cont ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 10px; display: block;}
.personal-cont ul li .form-control{ border: none; box-shadow: none; padding: 11px 12px; height: auto; width:95%;}
.personal-cont ul li .form-control:focus{ box-shadow: none;}

.personal-cont ul li .date { height: auto !important; line-height:inherit !important; width:99% !important;}
.personal-cont ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.personal-cont ul li .date span { border: none !important; padding: 0 !important;}
.personal-cont ul li .date .form-control { width:80%; height: auto; padding: 12px 0 12px 10px;}
.personal-cont ul li .date .form-control:focus { box-shadow: none; border: none;}
.personal-cont ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.personal-cont ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#484747;
  }
.personal-cont ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484747;
  }
.personal-cont ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484747;
  }
.personal-cont ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484747;
  }

.personal-cont ul li.veteran { float: none; clear: both;}

.administration-address { padding: 0 0 20px;}
.administration-address ul { display: inline-block; width: 100%;}
.administration-address ul li { padding: 0; margin: 0 20px 20px 0; float: none;}
.administration-address ul li.details-width{ width: 25%;}
.administration-address ul li .form-control { font-size: 15px; line-height:15px; color: #555; border: none; box-shadow: none; height: auto; width: 100%; padding: 12px;}
.administration-address ul li select { background:#fff; border: none; width: 100%; height: 34px; color:#948e8e; padding: 6px 10px; margin: 0;}
.administration-address ul li.city { width: 16%;float: left;}
.administration-address ul li.state { width: 16%; float: left;}
.administration-address ul li.zip { width: 10%; float: left; padding: 0;}
.administration-address ul li.united-state { margin: 0; padding: 0; clear: left;}


.administration-contact { display: block;}
.administration-contact ul { margin: 0 0 30px;display: inline-block; width: 100%;}
.administration-contact ul li {margin: 0 20px 15px 0; padding: 0;}
.administration-contact ul li h4 { color:#636060; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.administration-contact ul li .phone { display: block; background:#fff; padding: 0 10px; height: 38px; line-height: 38px; clear: left;}
.administration-contact ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;    border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.administration-contact ul li .phone span .fa { color: #636060;
    font-size: 23px;
    line-height: 20px;
    width: 18px;
    text-align: center;}
.administration-contact ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 80%; border: none; background:transparent; box-shadow: none; padding: 0 0 0 10px;}
.administration-contact ul li .form-control { display: inline-block;vertical-align: middle; width: 40%; border: none; background:#fff; box-shadow: none; 
height: 40px; line-height: 40px; padding: 0 10px; font-size: 15px;}
.administration-contact ul li.phone-width {  clear:left;width:20%}
.administration-contact ul li.email-width { float: none;}
.social.administration-contact ul li.phone-width {  clear:left;width:25%}


.personal .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 15px; padding: 0 24px;margin:30px 0 0;background: #008f3d; color:#fff;}
.personal .btn.cancel { color:#e44a49; background:transparent; padding: 30px 0 0;}


.add-fields { position: absolute; top:-35px; right:20px;}
.add-fields a { display: inline-block; vertical-align: middle; cursor: pointer; color:#676767; font-size: 18px; line-height: 18px;}
.add-fields a small { display: inline-block; padding: 0 15px 0 0;}
.add-fields a small .fa { color:#008f3d; font-size: 15px; line-height: 15px;}



.education { display: block; position: relative;}
.education ul { margin: 0 0 20px;display: inline-block; width: 100%;}
.education ul li {margin: 0 20px 0 0; padding: 0;}
.education h5 { color:#444343; font-size: 16px; line-height: 16px; margin: 0 0 15px;}
.education ul li .phone { display: block; background:#fff; padding: 0  0 0 10px; height:43px; line-height:43px; clear: left; margin-top: 30px;}
.education ul li .phone span { display: inline-block; vertical-align: middle; cursor: pointer;border-right: #bdbdbd 1px solid;padding: 0 10px 0 0;}
.education ul li .phone .form-control { display: inline-block;vertical-align: middle; width: 80%; 
border: none; background:transparent; box-shadow: none; padding: 0 10px; height:auto;}
.education ul li.phone-width { float: none;}
.education ul li.phone-width .phone .form-control  { width: 90%; display: inline-block;}
.education ul li.bachelor { width:40%; float: none; display: inline-block;vertical-align: text-bottom;}
.education ul li.bachelor .phone .form-control { padding:10px; width:85%;}

.education ul li.bachelor.business .phone .form-control { width: 100%;}
.education ul li.bachelor.business { width: 25%;float: none; display: inline-block;}
.education ul li.bachelor.gpa { width: 15%;float: none; display: inline-block;}
.education ul li.bachelor.gpa label { display: block; font-weight: normal;color:#444343;}
.education ul li.bachelor.gpa .form-control { display: inline-block;vertical-align: middle; width: 80%; border: none; background:#fff; 
box-shadow: none; padding: 0 10px; height: 43px; line-height: 43px;}


.education ul li .date { height: auto; line-height:inherit; width:100%;}
.education ul li .date.start { height: auto; line-height:inherit; width:100%;}
.education ul li .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}
.education ul li .date span { border: none; padding: 0;}
.education ul li .date .form-control { width:80%; height: auto; padding: 12px 0 12px 10px;}
.education ul li .date .form-control:focus { box-shadow: none; border: none;}
.education ul li .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.language { position: relative;}

.custom { display: block;}
.personal-cont ul li.custom-width { float: none;}

.custom.personal-cont h3{color: #3c3c3c; display: inline-block; font-size: 20px;}
.custom.personal-cont ul li .date .form-control { width: 80%;}
.custom.personal-cont ul li .date { width: 90%;}

/*-- Author:Suresh M, Date:08-04-19  --*/
/*-- Informaton relative css code  --*/

.information { display: block;}
.information .table{ background:#fff;}
.information .table>tbody>tr>th, .information .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal;
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.information .table>tbody>tr>td, .information .table>tfoot>tr>td, .information .table>tfoot>tr>th, 
.information .table>thead>tr>td {color: #484747;padding:15px;font-size:15px;}
.information button.mat-menu-item a { color:#ccc;}
.information button.mat-menu-item a:hover { color:#fff; background: #099247;}
.information .table>tbody>tr>th a, .information .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.information .table>tbody>tr>th a .fa, .information .table>thead>tr>th a .fa { color: #6f6d6d;}
.information button { border: none; outline: none; background:transparent;}

.information .date { height: auto !important; line-height:inherit !important; width:100%; background: #f8f8f8;}
.information .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}
.information .date span { border: none !important; padding: 0 !important;}
.information .date .form-control { width:70%; height: auto; padding: 10px 0 10px 10px;}
.information .date .form-control:focus { box-shadow: none; border: none;}
.information .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.information .form-control.notes{ box-shadow: none; background: #f3f3f3; padding:10px; height: auto; font-size: 15px;}
.status { width: 100px;}



/*-- Author:Suresh M, Date:15-04-19  --*/
/*-- Upload img block  --*/
.upload { margin: 50px 0 0; text-align: center;}
.upload img { margin: 0 auto 30px;}
.upload .form-control { width:90%; height: auto; padding:8px 15px; border:#e0e0e0 1px solid; border-radius:20px; text-align: center; box-shadow: none; margin: 0 auto;
font-size: 16px;}


/*-------------------------------------       ----------------------------------- */
.zenwork-personal-tab { float: none; margin:0 auto; padding: 0;}
#fileUpload {
    height: 0;
    display: none;
    width: 0;
  }
  .import-btn {
    border: 1px solid #797d7b;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
  
}
.zenwork-checked-border:after { 
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    border-right: #83c7a1 4px solid;
    height: 100%;
    border-radius: 4px;
    padding: 25px;
    }

    input{
        height:34px;
        border:0;
        width: 178px;
        padding: 0px 10px;
    }


