.zenwork-customized-back-btn{
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    padding: 3px 10px;
    font-size: 10px;
}
.zenwork-custom-height{
    height: 100vh;
}
.zenwork-currentpage{
    padding-top: 25px;
}
.zenwork-currentpage .sub-title b{
    font-size: 20px!important;   
}
.mr-7{
    margin-right: 7px;
}
.zenwork-inner-icon{
    width: 20px;
    height: auto;
}
.inner-icon-img{
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}
.zenwork-padding-25-zero{
    padding: 25px 0!important;
}
.zenwork-general-form-settings{
    width: 18%!important;
    border-radius: 0px!important;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.newhire-HR{
    float: none;
    margin: 0 auto;
    padding: 0;
}
.add-employee{
    margin-top:20px;
}
.btn-employee{
    background-color: #439348 !important;
    font-size: 12px;
    padding: 3px 12px !important;
}
/* modalcss */
.modal-margintop{
    margin-top:40px;
}
/* side nav css*/
.tabs-left{
    margin-top:0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    font-size: 12px;
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  /*side nav css ends*/
  label{
      font-weight:normal;
      line-height: 30px;
      font-size: 12px;
  }
  input{
    height:30px;
    border:1px solid #e5e5e5;
}
  .customize-form{
      margin-top:20px;
  }
  .customize-form .template{
      height:30px;
      width:40%;
      border: 0;
      background: #f8f8f8;
  }
  .modal-body{
      background:#f8f8f8;
      padding: 0;
  }
  .tabs-left .nav-tabs{
      padding: 20px;
      border-right: 0;
  }
  .tab-content{
    margin: 0;
    background: #fff;
    padding: 30px;
  }
  .tabs-customize{
      background: #f8f8f8;
      padding:0px!important;
  }
  .modal-body .container{
      width:100%;
  }
  .question-list{
      margin-top:30px;
  }
  .question-list .list-items{
      padding:10px 0px;
  }
  .benefits-dropdown{
    width: 25%;
    height: 30px;
    border-radius: 0px!important;
    border: 0;
    background: #f8f8f8;
    box-shadow: none;
    font-size: 12px;
  }
  .submit-buttons .list-item{
    display: inline-block;
    padding: 0px 10px;
  }
  .submit-buttons .btn-success {
      background-color: #439348;
  }
  .margin-top{
      margin-top: 40px;
  }
  .btn-style{
      padding: 4px 20px !important;
      border-radius: 30px!important;
      font-size: 12px;
  }
  .tabs-left .nav-tabs{
      border-right: 0px;
  }
  
  .employee-detail{
      display:inline-block; 
      padding: 0px 10px;
      width:32%;
  }
  .zenwork-structure-settings{
    border-radius: 0px!important;
    height:30px;
    border: 0;
    box-shadow: none;
    background: #f8f8f8;
}

.employee-single{
    width: 100%;
    border: 0;
    background: #f8f8f8;
}
.hire-date-list{
    position: relative;
}
.vendor-input-class,.emp{
    border: 0;
    background: #f8f8f8;
    width: 100%;
}
.hiredate{
  width: 100%;
  font-size: 14px;
  padding-left: 13px;
  border: 0;
  background: #f8f8f8;
}
.hiredates-list{
    padding: 0px 10px;
    display: inline-block;
    width: 32%;
}
.calendar-icon{
    position: absolute;
    width: 15px;
    top: 38px;
    left: 27%;
}
.calendar-icon2{
    position: absolute;
    width: 15px;
    top: 38px;
    right: 38%;
}
.list-items-rehire{
    display: inline-block;
    width: 32%;
    padding: 0px 10px;
}
.inactive-toggle{
    padding-left: 0px!important;
}

.status-list-items{
    display: inline-block;
    padding: 0px 10px;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color:#439348 !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color:white;
}
.mat-slide-toggle-thumb-container{
    top: 2px!important;
    left: 6px!important;
}
.mat-slide-toggle-thumb{
    height: 10px!important;
    width: 10px!important;
}
.mat-slide-toggle{
    vertical-align: middle;
}
.access-role-list{
    width: 32%;
    display: inline-block;
    padding: 0px 10px;
}
.eeo-job-category{
    width:50%;
}
.zenwork-margin-fourty-zero{
    margin-top: 40px;
}
.calendar-icon3{
    position: absolute;
    width: 15px;
    top: 40px;
    left: 27%;
}
/* toggle-chckbox */
.field-maintenance-wrapper .mat-button-toggle-standalone{
    border-radius: 25px;
    box-shadow: none;
    /* border: 1px solid #dedede; */
}

.zenwork-btn-toggle-wrapper{
    position: relative;
    
}

.field-select-alignment{
    position: absolute;
    top: -8px;
    left: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    z-index: 999999999999999;
}

.field-selected{
    background: #439348;
    color: #fff;
    border: 1px solid #439348;
}
.personaldata-fields-list{
    margin: 20px 0 0 0;
}
.personal-data-listitems{
    display: inline-block;
    padding: 25px 8px;
}
.caret{
    margin-left: 0px !important;
    transform: rotate(-90deg);
  }

  .mat-button-toggle-label-content{
  color: #000;
  font-size: 12px;
  background-color: #f8f8f8 !important;
  }
  .onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    border-radius: 0px!important;
    color: #353131!important;
}
.onboarding-tabs>li.active>a, .onboarding-tabs>li.active>a:focus, .onboarding-tabs>li.active>a:hover{
    border: 1px solid transparent!important;
    border-bottom: 4px solid #439348!important;
    border-radius: 0px!important;
    color: #353131!important;
    background: #f8f8f8;
}
.padding-left-10{
     padding: 0 0 0 10px;
 }
 .administrator-questions .list-items{
     padding: 0 0 20px;
 }
 .employee ul li{
     display: inline-block;
     width: 28%;
 }
 .employee .mat-input-infix .mat-select{
     background: #f8f8f8;
     height: 30px;
 }
 .work-schedule .list-items{
     display: inline-block;
     margin: 0px 10px 0 0;
     width: 25%;
 }
 .work-schedule .list-items .benefits-dropdown{
     width: 100% !important;
 }
 .btn-schedule{
    background: #439348;
    padding: 4px 12px;
    font-size: 12px;
    border-color: #439348;
 }
 .standard-schedule-table{
     margin: 40px 0 0 0;
 }
 .standard-schedule-table span{
     padding: 10px;
 }
 /* standard-table */
 .custom-fields { display: block;}
.custom-fields .modal-header { width: 90%; margin:0 auto; padding:0 50px 10px; border-bottom: 1px solid #c5c3c3;}
.custom-fields .modal-title { color:#008f3d;}
.custom-fields .modal-dialog { width:70%;}
.custom-fields .modal-content { border: none; padding:30px 0 50px;}

.custom-tables { margin: 10px 0 0 0; float: none; padding: 0 0 0 10px;}
.custom-tables h3 { font-size: 15px; line-height: 15px; color:#000; margin: 0 0 30px;}

.custom-tables .table>thead>tr>th { color: #484848; font-weight: normal; padding: 10px; background: #eef7ff; border:none; font-size: 12px;}
.custom-tables .table>thead>tr>th a { display: inline-block; padding: 0 15px 0 0; cursor: pointer;}
.custom-tables .table>thead>tr>th a .fa { color:#000; font-size: 15px; line-height: 15px;}
.custom-tables .table>tbody>tr>td, .custom-tables .table>tfoot>tr>td, .custom-tables .table>thead>tr>td{ padding: 10px; background:#f8f8f8;border: none;vertical-align:middle;border-top: #e0dada 1px solid;border-bottom: #e0dada 1px solid;font-size: 12px;}
.custom-fields .checkbox{ margin: 0;}

.custom-tables .table>thead>tr>th label { line-height: 15px !important;}
.custom-tables .table>thead>tr>th label::before { top:0 !important;}
.heade-check .checkbox label::before {width: 20px; height: 20px;}
.heade-check .checkbox label::after { color:#616161;width: 20px; height: 20px; padding:2px 0 0 4px !important; font-size: 12px;}
.heade-check .checkbox{ margin: 0;}
.heade-check .checkbox label { padding-left: 0;}

.cont-check .checkbox label::before {width: 20px; height: 20px; top: -1px;}
.cont-check .checkbox label::after { color:#fff; background: #439348;width: 20px; height: 20px; padding: 11px 0 0 4px;border-radius: 3px;}
.cont-check .checkbox{ margin: 0;}
.cont-check .checkbox label { padding-left: 0;}
.custom-tables .table>tbody>tr>td.zenwork-assets-checked-border {position: relative;}
.custom-tables .table>tbody>tr>td .form-control { border: none; width: 80%; box-shadow: none; color:#000;}

.custom-tables .table>tbody>tr>td .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td .form-control :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
  .custom-tables .table>tbody>tr>td.zenwork-assets-checked-border:after { content: ''; position: absolute; top: 5px; left: 0px; border-left: #439348 4px solid; height: 79%; border-radius: 0px 10px 10px 0px;}

  .select-drop select { background:#fff; border: none; width: 80%; height: 34px; color:#948e8e; padding: 6px 10px;}

  .custom-tables .btn { float: right; color:#ec6469; border:#ec6469 1px solid; padding:5px 25px; border-radius: 20px; background: transparent; font-size: 15px; margin: 20px 0 0;}


  .emp-time{
    width: 100%;
    border: 0;
    background: #fff;
  }
  .custom-tables tbody tr .start-time{
      width: 25%;
      position: relative;
  }
  .custom-tables tbody tr .end-time{
      width: 25%;
      position: relative;
  }
  .custom-tables tbody tr .start-time .clock-icon,.custom-tables tbody tr .end-time .clock-icon{
    font-size: 17px;
    color: #439348;
    position: absolute;
    top: 17px;
    right: 17px;
    border-left: 1px solid #c7c4c4;
    padding: 0 0 0 5px;
  }
  .zenwork-assets-checked-border label{
      line-height: 0 !important;
  }
  /* second-modal */
  .second-modal-heading {
      padding: 15px 0px !important;
  }
  .second-modal-heading h4{
      font-size: 14px;
      padding: 0 0 0 15px;
      
  }
  .second-popup-body{
      padding: 10px 150px;
      background: #fff;
  }
  .second-work-schedule ul li{
      display: inline-block;
  }
  .second-work-schedule ul .work-title{
      width: 45%;
  }
  .second-work-schedule ul{
    margin: 0;
    border-bottom: 1px solid #f8f8f8;
  }
  .second-work-schedule ul .work-title .template{
    background: #f8f8f8;
    border: none;
    width: 100%;
  }
  .second-work-schedule ul .hiredates-list{
      position: relative;
  }
  .second-work-schedule ul .hiredates-list .second-popup-calendar-icon{
    position: absolute;
    width: 15px;
    top: 38px;
    /* left: 27%; */
    right: 17px;
  }
  /* green checkbox */
.checkbox {
    padding-left: 20px;
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 7px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
 
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #439348;
    border-color: #439348;
    border-radius: 3px;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
      display: none;
  }
  /* green checkbox end */
  .select-week-days{
    margin: 20px 0 0 0px;
    border-bottom: 1px solid #eee;
    padding: 0 0 0 20px;
  }
  .select-week-days .main-head-weekdays{
    margin: 0 0 20px 0;
  }
  .emp-hours-working{
      margin: 20px 0 0 0;
  }
  .schdule-type{
      padding: 0 0 0 10px;
  }
  .schdule-type mat-select{
      width: 25% !important;
  }


  .onboarding-tabs li a:active,.onboarding-tabs li a:visited,.onboarding-tabs li a:focus{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    border-radius: 0px!important;
    color: #353131!important
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    /* border: 1px solid transparent!important; */
    /* border-bottom: 4px solid #439348!important; */
    /* border-radius: 0px!important; */
    /* color: #353131!important; */
    background: #f8f8f8;
}
.archive-status{
    background: #f8f8f8;
    height: 30px;
  
}
.archive-status span{
    display: inline-block;
    font-size: 12px;
    float: left;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}
.archive-status small{
    display: inline-block;
    text-align: center;
    padding: 2px 0 0 35px;
    vertical-align: text-bottom;
}
.archive-status b{
    display: inline-block;
    font-weight: normal;
    float: right;
    font-size: 12px;
    padding: 0 10px 0 0;
    margin: 5px 0 0 0;
}