<div class="container-fluid zenwork-custom-height">
  <div class="zenwork-currentpage">
    <p class="zenwork-margin-zero">
      <a [routerLink]="['/admin/admin-dashboard/employee-management/on-boarding/on-boarding']">
        <button class="btn zenwork-customized-back-btn">
          <span class="green mr-7">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>Back
        </button>
      </a>
      <span class="inner-icon-img">
        <img src="../../../assets/images/Onboarding/Group 828.png" class="zenwork-inner-icon" alt="Company-settings icon">
      </span>
      <small class="sub-title">Modify / Create New Hire Wizard</small>
    </p>
    <hr class="zenwork-margin-ten-zero">
  </div>

  <div class="employee-details">
    <div class="newhire-HR col-md-11">
      <ul class="nav nav-tabs onboarding-tabs">
        <li class="active"><a data-toggle="tab" href="#home">New Hire HR</a></li>
        <li><a data-toggle="tab" href="#menu1">New Hire HR+Time</a></li>
      </ul>

      <div class="tab-content tabs-customize">
        <div id="home" class="tab-pane fade in active">
          <div class="add-employee">
            <button class="btn btn-success btn-employee" (click)="openModalWithClass(template)">Create New Wizard</button>
          </div>

          <ng-template #template>
            <div class="modal-header modal-margintop">

              <h4 *ngIf="chooseSteps" class="modal-title pull-left green"><b>Hire/ReHire</b></h4>
              <h4 *ngIf="chooseFields" class="modal-title pull-left green"><b>chooseFields</b></h4>
              <h4 *ngIf="jobSalary" class="modal-title pull-left green"><b>Job & Compensation Information</b></h4>
              <h4 *ngIf="benefits" class="modal-title pull-left green"><b>Benefits</b></h4>
              <h4 *ngIf="leave" class="modal-title pull-left green"><b>Leave Management</b></h4>
              <h4 *ngIf="performance" class="modal-title pull-left green"><b>Performance Management</b></h4>
              <h4 *ngIf="summaryReview" class="modal-title pull-left green"><b>summary / Review</b></h4>


              <div class="clearfix"></div>

            </div>
            <div class="modal-body">
              <!-- sidenavbar starts -->
              <div class="container">
                <div class="row">


                  <!-- tabs -->
                  <div class="tabbable tabs-left">

                    <ul class="nav nav-tabs col-md-3">
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseSteps' }">
                        <a href="#chooseSteps" data-toggle="tab" (click)="chooseFieldss('chooseSteps')">Choose Steps
                          <span [ngClass]="{'caret': selectedNav == 'chooseSteps' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'chooseFields' }">
                        <a href="#chooseFields" data-toggle="tab" (click)="chooseFieldss('chooseFields')">Choose Fields
                          <span [ngClass]="{'caret': selectedNav == 'chooseFields' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'jobSalary' }">
                        <a href="#jobSalary" data-toggle="tab" (click)="chooseFieldss('jobSalary')">Job & Salary
                          Information
                          <span [ngClass]="{'caret': selectedNav == 'jobSalary' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'benefits' }">
                        <a href="#benefits" data-toggle="tab" (click)="chooseFieldss('benefits')">Benefits
                          <span [ngClass]="{'caret': selectedNav == 'benefits' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'leave' }">
                        <a href="#leave" data-toggle="tab" (click)="chooseFieldss('leave')">Leave Management
                          <span [ngClass]="{'caret': selectedNav == 'leave' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'performance' }">
                        <a href="#performance" data-toggle="tab" (click)="chooseFieldss('performance')">performance
                          Management
                          <span [ngClass]="{'caret': selectedNav == 'performance' }"></span>
                        </a>
                      </li>
                      <li [ngClass]="{'zenwork-sidenav-activetab': selectedNav == 'summaryReview' }">
                        <a href="#summaryReview" data-toggle="tab" (click)="chooseFieldss('summaryReview')">Summary /
                          Review
                          <span [ngClass]="{'caret': selectedNav == 'summaryReview' }"></span>
                        </a>
                      </li>
                    </ul>

                    <div class="tab-content col-md-9">
                      <div class="tab-pane active" id="chooseSteps">
                        <div class="main-customizeform">
                          <p>Name the New Hire template and answer the following questions to customize the window</p>
                          <div class="form-group customize-form">
                            <label>Name the template</label><br>
                            <input type="text" name="nameoftemplate" class="template">
                            <ul class="list-unstyled question-list">
                              <li class="list-items">
                                <label>A.Make Eligible for Benefits?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Yes</option>
                                  <option>No</option>
                                </select>
                              </li>
                              <li class="list-items">
                                <label>B.Assign Leave Management Rules now?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Yes</option>
                                  <option>No</option>
                                </select>
                              </li>
                              <li class="list-items">
                                <label>C.Assign Performance Management now?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Yes</option>
                                  <option>No</option>
                                </select>
                              </li>
                              <li class="list-items">
                                <label>D.How will you assign Employee Number(manual or automatic)?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Manual</option>
                                  <option>Automatic</option>
                                </select>
                              </li>
                            </ul>
                            <div class="margin-top">
                              <ul class="submit-buttons list-unstyled">
                                <li class="list-item">
                                  <button class="btn btn-success btn-style"> Proceed </button>
                                </li>
                                <li class="list-item">
                                  <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                                </li>
                              </ul>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="chooseFields">
                        <div class="chooseFields-form">
                          <div class="green pull-left">
                            Personal Fields
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                          <div class="pull-right">
                            <div *ngIf='chooseFields' class="field-maintenance-wrapper">
                              <div class="zenwork-btn-toggle-wrapper">
                                <span class="field-select">
                                  <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                    aria-hidden="true"></i>
                                </span>
                                <mat-button-toggle value="toggle" (click)="toggleValue()">
                                  Select All/Deselect All
                                </mat-button-toggle>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr class="zenwork-margin-ten-zero">
                          <ul class="personaldata-fields-list list-unstyled">
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    First Name
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Middle Name
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Last Name
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Preferred Name
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Employee Number
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Birth Date
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Gender
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Address
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Location
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    email Address
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    MObile
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Emergency Contact
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Offboarding
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <hr class="zenwork-margin-fourty-zero">
                          <div class="green">
                            Custom Fields
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                          <ul class="personaldata-fields-list list-unstyled">
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Birth Date
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Gender
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Address
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                            <li class="personal-data-listitems">
                              <div class="field-maintenance-wrapper">
                                <div class="zenwork-btn-toggle-wrapper">
                                  <span class="field-select">
                                    <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                      aria-hidden="true"></i>
                                  </span>
                                  <mat-button-toggle value="toggle" (click)="toggleValue()">
                                    Location
                                  </mat-button-toggle>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <div class="margin-top">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Submit </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="jobSalary">
                        <div class="form-group">
                          <ul class="list-unstyled">
                            <li class="employee-detail">
                              <label>Assign Employee File Number</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Auto</option>
                                <option>Manual</option>
                              </select>
                            </li>
                            <li class="employee-detail">
                              <label>Employee#</label><br>
                              <input type="text" name="employee" class="employee-single">
                            </li>
                            <li class="employee-detail">
                              <label>Employee Type</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Full Time</option>
                                <option>Part Time</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="list-unstyled hire-date-list">
                            <li class="hiredates-list">
                              <label>Hire Date</label><br>
                              <input class="form-control"  #dpMDY="bsDatepicker"
                                bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon" alt="Company-settings icon"
                                (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">
                            </li>
                            <li class="hiredates-list">
                              <label>Rehire Date</label><br>
                              <input class="form-control"  #dpMDY1="bsDatepicker"
                                bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon2" alt="Company-settings icon"
                                (click)="dpMDY1.toggle()" [attr.aria-expanded]="dpMDY1.isOpen">
                            </li>
                          </ul>
                          <ul class="list-unstyled rehire-status">
                            <li class="list-items-rehire">
                              <label>Rehire Status</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                            <li class="list-items-rehire archive-list">
                              <label>Archive Status</label><br>
                              <div class="archive-status">
                                  <span>In Active</span>
                                  <small class="on-off-btn">
                                    <mat-slide-toggle></mat-slide-toggle>
                                  </small>
                                  <b>Active</b>
                                  <div class="clearfix"></div>
                                </div>
                            </li>
                          </ul>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>Site Access Role</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                            <li class="access-role-list">
                              <label>Type of User Role</label>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>FLSA Code</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                            <li class="access-role-list eeo-job-category">
                              <label>EEO Job Category</label>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>Vendor ID</label><br>
                              <input type="text" name="vendorid" class="vendor-input-class">
                            </li>
                            <li class="access-role-list">
                              <label>Specific Workflow Approval</label>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <hr class="zenwork-margin-fourty-zero">
                          <div class="green zenwork-padding-25-zero">
                            Update Compensation Data
                            <span class="caret"></span>
                          </div>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>Nonpaid position</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>Pay group</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Full Time</option>
                                <option>Part Time</option>
                              </select>
                            </li>
                            <li class="access-role-list">
                              <label>Pay Frequency</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Full Time</option>
                                <option>Part Time</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="hire-date-list list-unstyled">
                            <li class="access-role-list">
                              <label>1st Pay Date</label><br>
                              <input class="form-control"  #dpMDY2="bsDatepicker"
                                bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                              <img src="../../../assets/images/Onboarding/calendar_2_.png" class="calendar-icon3" alt="Company-settings icon"
                                (click)="dpMDY2.toggle()" [attr.aria-expanded]="dpMDY2.isOpen">
                            </li>
                          </ul>
                          <ul class="list-unstyled">
                            <li class="employee-detail">
                              <label>Pay Rate</label><br>
                              <input type="text" name="vendorid" class="vendor-input-class">
                            </li>
                            <li class="employee-detail">
                              <label>Pay Type</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Hourly</option>
                                <option>Monthly</option>
                              </select>
                            </li>
                            <li class="employee-detail">
                              <label>Pay Schedule</label><br>
                              <select class="form-control zenwork-structure-settings">
                                <option>Full Time</option>
                                <option>Part Time</option>
                              </select>
                            </li>
                          </ul>
                          <ul class="user-role-list list-unstyled">
                            <li class="access-role-list">
                              <label>Compensation Ratio</label><br>
                              <input type="text" name="vendorid" class="vendor-input-class">
                            </li>
                            <li class="access-role-list">
                              <label>Salary Grade</label>
                              <select class="form-control zenwork-structure-settings">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <div class="margin-top">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Submit </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>

                          </div>
                        </div>

                      </div>

                      <div class="tab-pane" id="benefits">
                        <div class="chooseFields-form">
                          <div class="pull-left">
                            Select the eligible groups

                          </div>
                          <div class="pull-right">
                            <div *ngIf='benefitsTab' class="field-maintenance-wrapper">
                              <div class="zenwork-btn-toggle-wrapper">
                                <span class="field-select">
                                  <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                    aria-hidden="true"></i>
                                </span>
                                <mat-button-toggle value="toggle" (click)="toggleValue()">
                                  Select All/Deselect All
                                </mat-button-toggle>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr class="zenwork-margin-ten-zero">
                          <div class="emp-work-list">
                            <ul class="personaldata-fields-list list-unstyled">
                              <li class="personal-data-listitems">
                                <div class="field-maintenance-wrapper">
                                  <div class="zenwork-btn-toggle-wrapper">
                                    <span class="field-select">
                                      <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                        aria-hidden="true"></i>
                                    </span>
                                    <mat-button-toggle value="toggle" (click)="toggleValue()">
                                      Full Time
                                    </mat-button-toggle>
                                  </div>
                                </div>
                              </li>
                              <li class="personal-data-listitems">
                                <div class="field-maintenance-wrapper">
                                  <div class="zenwork-btn-toggle-wrapper">
                                    <span class="field-select">
                                      <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                        aria-hidden="true"></i>
                                    </span>
                                    <mat-button-toggle value="toggle" (click)="toggleValue()">
                                      Part Time
                                    </mat-button-toggle>
                                  </div>
                                </div>
                              </li>
                              <li class="personal-data-listitems">
                                <div class="field-maintenance-wrapper">
                                  <div class="zenwork-btn-toggle-wrapper">
                                    <span class="field-select">
                                      <i class="fa field-select-alignment" [ngClass]="{'fa-check': selectedField , 'field-selected':selectedField}"
                                        aria-hidden="true"></i>
                                    </span>
                                    <mat-button-toggle value="toggle" (click)="toggleValue()">
                                      Retirees
                                    </mat-button-toggle>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <ul class="list-unstyled administrator-questions padding-left-10">
                              <li class="list-items">
                                <label>Administrator makes enrollments or allow EE to make enrollments?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Administrator</option>
                                  <option>No</option>
                                </select>
                              </li>
                              <li class="list-items">
                                <label>Apply new Hire Enrollment Settings?</label><br>
                                <select class="form-control benefits-dropdown">
                                  <option>Yes</option>
                                  <option>No</option>
                                </select>
                              </li>
                            </ul>
                          </div>
                          <div class="margin-top">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Proceed </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="leave">
                        <div class="leave-work-schedule">
                          <ul class="list-unstyled administrator-questions padding-left-10">
                            <li class="list-items">
                              <label>Apply Work Schedule?</label><br>
                              <select class="form-control benefits-dropdown">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                          </ul>
                          <!-- <div class="employee">
                              <ul>
                                <li>
            
                                  <p>Select Format</p>
                                  <mat-form-field>
                                    <mat-select>
                                      <mat-option >
                                          Customer Service 1
                                      </mat-option>
                                  
                                    <mat-option >
                                        Customer Service 2
                                    </mat-option>
                                  </mat-select>
                                  </mat-form-field>
                                </li>
                                <li>
                                  <p>What should be the first number?</p>
                                  <mat-form-field>
                                    <mat-select>
                                      <mat-option>
                                        Standard
                                      </mat-option>
                                      <mat-option>
                                          Employee Specific
                                        </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </li>
            
                              </ul>
                              <div class="clearfix"></div>
                            </div> -->
                          <ul class="list-unstyled work-schedule padding-left-10">
                            <li class="list-items">
                              <label>Work Schedules</label><br>
                              <select class="form-control benefits-dropdown">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                            <li class="list-items">
                              <label>Schedule Type</label><br>
                              <select class="form-control benefits-dropdown">
                                <option>Yes</option>
                                <option>No</option>
                              </select>
                            </li>
                            <li class="list-items">
                              <button class="btn btn-success btn-schedule" (click)="openModalWithClass1(template1)">
                                Create Employee Specific Schedule
                              </button>
                            </li>
                            <ng-template #template1>
                              <div class="modal-header second-modal-heading">
                                <h4 class="modal-title pull-left green">Create Employee Specific Schedule</h4>
                                <div class="clearfix"></div>
                                <!-- <hr class="zenwork-margin-ten-zero"> -->

                              </div>
                              <div class="modal-body second-popup-body">


                                <span class="second-work-schedule">
                                  <ul class="list-unstyled hire-date-list">
                                    <li class="list-items form-group work-title">
                                      <label>Work Schedule Title</label><br>
                                      <input type="text" name="nameoftemplate" class="template">
                                    </li>
                                    <li class="list-items hiredates-list">
                                      <label>work Schedule Start Date</label><br>
                                      <input class="form-control"  #dpMDY="bsDatepicker"
                                        bsDatepicker formControlName="myDateMDY" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                        placeholder="mm/dd/yyyy" name="birth-date" class="hiredate">
                                      <img src="../../../assets/images/Onboarding/calendar_2_.png" class="second-popup-calendar-icon"
                                        alt="Company-settings icon" (click)="dpMDY.toggle()" [attr.aria-expanded]="dpMDY.isOpen">
                                    </li>
                                  </ul>
                                </span>
                                <div class="select-week-days">
                                  <ul class="list-unstyled selected-days">
                                    <li class="list-items main-head-weekdays">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox_1" type="checkbox" class="team-checkbox">
                                        <label for="checkbox_1" class="green">Select Days of the Week Applicable</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox1" type="checkbox" class="team-checkbox">
                                        <label for="checkbox1">Monday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox2" type="checkbox" class="team-checkbox">
                                        <label for="checkbox2">Tuesday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox3" type="checkbox" class="team-checkbox">
                                        <label for="checkbox3">Wednesday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox4" type="checkbox" class="team-checkbox">
                                        <label for="checkbox4">Thursday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox5" type="checkbox" class="team-checkbox">
                                        <label for="checkbox5">Friday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox6" type="checkbox" class="team-checkbox">
                                        <label for="checkbox6">Saturday</label>
                                      </span>
                                    </li>
                                    <li class="list-items ">
                                      <span class="checkbox checkbox-success">
                                        <input id="checkbox7" type="checkbox" class="team-checkbox">
                                        <label for="checkbox7">Sunday</label>
                                      </span>
                                    </li>
                                  </ul>
                                </div>
                                <div class="emp-hours-working">
                                  <ul class="list-unstyled work-schedule padding-left-10">
                                    <li class="list-items">
                                      <label>Total Hours per Day</label><br>
                                      <input type="text" class="form-control benefits-dropdown">
                                    </li>
                                    <li class="list-items">
                                      <label>Total Hours per Week</label><br>
                                      <input type="text" class="form-control benefits-dropdown">

                                    </li>
                                  </ul>
                                </div>
                                <div class="form-group schdule-type">
                                  <label>
                                    Profile
                                  </label><br>
                                  <mat-select class="form-control zenwork-input" placeholder="Profile">
                                    <mat-option value="support">
                                      Standard
                                    </mat-option>
                                    <mat-option value="sr-support">
                                      Employee Specific
                                    </mat-option>

                                  </mat-select>
                                </div>
                                <div class="standard-schedule-table">
                                  <span class="green">
                                    Standard Schedule
                                  </span>
                                  <div class="custom-tables">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <div class="heade-check cont-check">
                                              <div class="checkbox">
                                                <input id="checkbox20" type="checkbox">
                                                <label for="checkbox20"></label>
                                              </div>
                                            </div>
                                          </th>
                                          <th>Day</th>
                                          <th>Start Time</th>
                                          <th>End Time</th>
                                          <th>
                                            <a>
                                              <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr>
                                          <td class="zenwork-assets-checked-border">

                                            <div class="cont-check">
                                              <div class="checkbox">
                                                <input id="checkbox_21" type="checkbox">
                                                <label for="checkbox_21"></label>
                                              </div>
                                            </div>

                                          </td>
                                          <td>Wednesday</td>
                                          <td class="start-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                          </td>
                                          <td class="end-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                          </td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td class="zenwork-assets-checked-border">

                                            <div class="cont-check">
                                              <div class="checkbox">
                                                <input id="checkbox_21" type="checkbox">
                                                <label for="checkbox_21"></label>
                                              </div>
                                            </div>

                                          </td>
                                          <td>Friday</td>
                                          <td class="start-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td class="end-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td class="zenwork-assets-checked-border">

                                            <div class="cont-check">
                                              <div class="checkbox">
                                                <input id="checkbox_21" type="checkbox">
                                                <label for="checkbox_21"></label>
                                              </div>
                                            </div>

                                          </td>
                                          <td>Saturday</td>
                                          <td class="start-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td class="end-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td class="zenwork-assets-checked-border">

                                            <div class="cont-check">
                                              <div class="checkbox">
                                                <input id="checkbox_21" type="checkbox">
                                                <label for="checkbox_21"></label>
                                              </div>
                                            </div>

                                          </td>
                                          <td>Sunday</td>
                                          <td class="start-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td class="end-time">
                                            <input type="text" name="employee" class="emp-time">
                                            <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                          </td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="margin-top">
                                      <ul class="submit-buttons list-unstyled">
                                        <li class="list-item">
                                          <button class="btn btn-success btn-style"> Proceed </button>
                                        </li>
                                        <li class="list-item">
                                          <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                                        </li>
                                      </ul>
        
                                    </div>
                                </div>
                              </div>
                            </ng-template>
                          </ul>
                          <div class="standard-schedule-table">
                            <span class="green">
                              Standard Schedule
                            </span>
                            <div class="custom-tables">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>
                                      <div class="heade-check cont-check">
                                        <div class="checkbox">
                                          <input id="checkbox20" type="checkbox">
                                          <label for="checkbox20"></label>
                                        </div>
                                      </div>
                                    </th>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>
                                      <a>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                      </a>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>

                                  <tr>
                                    <td class="zenwork-assets-checked-border">

                                      <div class="cont-check">
                                        <div class="checkbox">
                                          <input id="checkbox_2" type="checkbox">
                                          <label for="checkbox_2"></label>
                                        </div>
                                      </div>

                                    </td>
                                    <td>Wednesday</td>
                                    <td class="start-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                    </td>
                                    <td class="end-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td class="zenwork-assets-checked-border">

                                      <div class="cont-check">
                                        <div class="checkbox">
                                          <input id="checkbox_3" type="checkbox">
                                          <label for="checkbox_3"></label>
                                        </div>
                                      </div>

                                    </td>
                                    <td>Friday</td>
                                    <td class="start-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                    </td>
                                    <td class="end-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td class="zenwork-assets-checked-border">

                                      <div class="cont-check">
                                        <div class="checkbox">
                                          <input id="checkbox_4" type="checkbox">
                                          <label for="checkbox_4"></label>
                                        </div>
                                      </div>

                                    </td>
                                    <td>Saturday</td>
                                    <td class="start-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                    </td>
                                    <td class="end-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>

                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td class="zenwork-assets-checked-border">

                                      <div class="cont-check">
                                        <div class="checkbox">
                                          <input id="checkbox_21" type="checkbox">
                                          <label for="checkbox_21"></label>
                                        </div>
                                      </div>
                                    </td>
                                    <td>Sunday</td>
                                    <td class="start-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                    </td>
                                    <td class="end-time">
                                      <input type="text" name="employee" class="emp-time">
                                      <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                                    </td>
                                    <td></td>
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="margin-top">
                            <ul class="submit-buttons list-unstyled">
                              <li class="list-item">
                                <button class="btn btn-success btn-style"> Proceed </button>
                              </li>
                              <li class="list-item">
                                <button class="btn btn-style" (click)="modalRef.hide()"> cancel </button>
                              </li>
                            </ul>

                          </div>


                      </div>
                      <div class="tab-pane" id="performance">
                        <div class="">

                          <p>

                          </p>
                        </div>
                      </div>
                      <div class="tab-pane" id="summaryReview">
                        <div class="">

                          <p>

                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>



                  <!-- /tabs -->
                </div>
              </div>
            </div>

          </ng-template>
        </div>
        <div id="menu1" class="tab-pane fade">

        </div>
      </div>

    </div>

  </div>
</div>