<div class="system-view">


  <div class="time-out">
    <ul>
      <li class="col-md-3">
        <a href="#">
          <img src="../../../../../../assets/images/company-settings/site-access/clock.png" width="53" height="53" alt="img">
        </a>
        <h4>Punch In</h4>
      </li>
      <li class="col-md-3">
        <a href="#">
          <img src="../../../../../../assets/images/company-settings/site-access/clock.png" width="53" height="53" alt="img">
        </a>
        <h4>Punch Out</h4>
      </li>
      <li class="col-md-3">
        <a href="#">
          <img src="../../../../../../assets/images/company-settings/site-access/clock.png" width="53" height="53" alt="img">
        </a>
        <h4>Approve Time Sheet</h4>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>


  <div class="admin-cont">

    <ul>
      <li>
        <div class="admin-cont-lft">
          <figure>
            <img src="../../../../../../assets/images/company-settings/site-access/icon1.png" width="67" height="67" alt="img">
          </figure>
          <h4>Company Announcements
            <br> and News</h4>
        </div>

        <div class="admin-cont-rgt">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
      </li>

      <li>
          <div class="admin-cont-lft">
            <figure>
              <img src="../../../../../../assets/images/company-settings/site-access/icon2.png" width="67" height="67" alt="img">
            </figure>
            <h4>Message From
              <br> Leadership</h4>
          </div>
  
          <div class="admin-cont-rgt">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                  has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                  was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </li>

          <li>
              <div class="admin-cont-lft">
                <figure>
                  <img src="../../../../../../assets/images/company-settings/site-access/icon3.png" width="67" height="67" alt="img">
                </figure>
                <h4>Community</h4>
              </div>
      
              <div class="admin-cont-rgt">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                      has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                      was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                      desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </li>


            <li>
                <div class="admin-cont-lft">
                  <figure>
                    <img src="../../../../../../assets/images/company-settings/site-access/icon2.png" width="67" height="67" alt="img">
                  </figure>
                  <h4>Company Mission</h4>
                </div>
        
                <div class="admin-cont-rgt">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                        was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
              </li>

              <li>
                  <div class="admin-cont-lft">
                    <figure>
                      <img src="../../../../../../assets/images/company-settings/site-access/icon5.png" width="67" height="67" alt="img">
                    </figure>
                    <h4>Custom</h4>
                  </div>
          
                  <div class="admin-cont-rgt">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                          has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                          was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </li>

    </ul>

  </div>


  <div class="work-anniversary">

      <div class="work">
        <small><i class="fa fa-briefcase" aria-hidden="true"></i></small>
        <h2>Work Anniversary</h2>
      </div>

      <div class="anniversary-lft pull-left">
        <ul>
          <li><a href="#" class="active">Pending</a></li>
          <li><a href="#">Completed</a></li>
        </ul>
        <div class="clearfix"></div>

      </div>

      <div class="company-manage pull-right">
          <a class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i></a>
          <ul class="pull-right">
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8" alt="img"></a></li>
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11" alt="img"></a></li>
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11" alt="img"></a></li>
          </ul>
          <div class="clearfix"></div>
     </div>

     <div class="clearfix"></div>


     <div class="anniversary-cont">

                  <div id="myCarousel" class="carousel slide">
                      <div class="carousel-inner">

                          <div class="item active">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                          <h2>June 26</h2>
                                          <a href="#" class="btn">Let's Celebrate</a>
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                            <h2>June 26</h2>
                                            <a href="#" class="btn">Let's Celebrate</a>
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                              <h2>June 26</h2>
                                              <a href="#" class="btn">Let's Celebrate</a>
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                                <h2>June 26</h2>
                                                <a href="#" class="btn">Let's Celebrate</a>
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                  <h2>June 26</h2>
                                                  <a href="#" class="btn">Let's Celebrate</a>
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                    <h2>June 26</h2>
                                                    <a href="#" class="btn">Let's Celebrate</a>
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                          <div class="item">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                          <h2>June 26</h2>
                                          <a href="#" class="btn">Let's Celebrate</a>
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                            <h2>June 26</h2>
                                            <a href="#" class="btn">Let's Celebrate</a>
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                              <h2>June 26</h2>
                                              <a href="#" class="btn">Let's Celebrate</a>
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                                <h2>June 26</h2>
                                                <a href="#" class="btn">Let's Celebrate</a>
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                  <h2>June 26</h2>
                                                  <a href="#" class="btn">Let's Celebrate</a>
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                    <h2>June 26</h2>
                                                    <a href="#" class="btn">Let's Celebrate</a>
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                          <div class="item">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                          <h2>June 26</h2>
                                          <a href="#" class="btn">Let's Celebrate</a>
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                            <h2>June 26</h2>
                                            <a href="#" class="btn">Let's Celebrate</a>
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                              <h2>June 26</h2>
                                              <a href="#" class="btn">Let's Celebrate</a>
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                                <h2>June 26</h2>
                                                <a href="#" class="btn">Let's Celebrate</a>
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                  <h2>June 26</h2>
                                                  <a href="#" class="btn">Let's Celebrate</a>
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                    <h2>June 26</h2>
                                                    <a href="#" class="btn">Let's Celebrate</a>
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                      </div>
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                                    
                  </div>
      </div>

  </div>


  <div class="work-anniversary">

      <div class="work">
        <small><img src="../../../../../../assets/images/company-settings/site-access/cake.png" width="18" height="22" alt="img"></small>
        <h2>BirthDay's</h2>
      </div>

      <div class="anniversary-lft pull-left">
        <ul>
          <li><a href="#" class="active">Pending</a></li>
          <li><a href="#">Completed</a></li>
        </ul>
        <div class="clearfix"></div>

      </div>

      <div class="company-manage pull-right">
          <a class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i></a>
          <ul class="pull-right">
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8" alt="img"></a></li>
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11" alt="img"></a></li>
            <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11" alt="img"></a></li>
          </ul>
          <div class="clearfix"></div>
     </div>

     <div class="clearfix"></div>


     <div class="anniversary-cont">

                  <div id="myCarousel1" class="carousel slide">
                      <div class="carousel-inner">

                          <div class="item active">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                            
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                           
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                                
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                 
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                   
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                          <div class="item">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                         
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                         
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                             
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                               
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                 
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                  
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                          <div class="item">
                              <div class="anniversary-block">
                                  <ul>
                                      <li class="col-md-2">
                                        <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                          <h3>Crane Andy</h3>
                                          <small>Manager</small>
                                         
                                      </li>
                                      <li class="col-md-2">
                                          <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                            <h3>Crane Andy</h3>
                                            <small>Manager</small>
                                           
                                        </li>
                                        <li class="col-md-2">
                                            <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                              <h3>Crane Andy</h3>
                                              <small>Manager</small>
                                             
                                          </li>
                                          <li class="col-md-2">
                                              <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                <h3>Crane Andy</h3>
                                                <small>Manager</small>
                                               
                                            </li>
                                            <li class="col-md-2">
                                                <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                  <h3>Crane Andy</h3>
                                                  <small>Manager</small>
                                                 
                                              </li>
                                              <li class="col-md-2">
                                                  <img src="../../../../../../assets/images/company-settings/site-access/employee.png" width="38" height="38" alt="img">
                                                    <h3>Crane Andy</h3>
                                                    <small>Manager</small>
                                                 
                                                </li>
                                    </ul>
                              </div>
                              

                          </div>

                      </div>
                      <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                      <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                                    
                  </div>
      </div>

  </div>

  
 <div class="companies-block">

    <div class="company-list col-md-6">

      <div class="company-lft pull-left">
        <small><img src="../../../../../../assets/images/company-settings/site-access/list.png" width="16" height="23"></small>
         <h2>Company Links</h2>
      </div>

      <div class="company-manage pull-right">
           <h3 class="pull-left">Manage</h3>
           <ul class="pull-right">
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8" alt="img"></a></li>
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11" alt="img"></a></li>
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11" alt="img"></a></li>
           </ul>
           <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>


      <div class="compnay-sites">
        <ul>
          <li>
            <h4>Company</h4>
            <span>Company Website</span>
          </li>
          <li>
            <h4>Benifits</h4>
            <span>Company Benifits</span>
          </li>
          <li>
            <h4>Benifits</h4>
            <span>Company Benifits</span>
          </li>
        </ul>
      </div>

    </div>


    <div class="training col-md-6">

      <div class="company-lft pull-left">
        <small><img src="../../../../../../assets/images/company-settings/site-access/training.png" width="24" height="21"></small>
         <h2>Training</h2>
      </div>

      <div class="company-manage pull-right">
           <h3 class="pull-left">View My Training</h3>
           <ul class="pull-right">
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/down.png" width="14" height="8" alt="img"></a></li>
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/refresh.png" width="11" height="11" alt="img"></a></li>
             <li><a href="#"><img src="../../../../../../assets/images/company-settings/site-access/expand.png" width="11" height="11" alt="img"></a></li>
           </ul>
           <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>


      <div class="compnay-sites">
        <ul>
          <li>
            <div class="training-left pull-left">
                <h4>Unlawful Harassment</h4>
                <a href="#"><img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15" height="16" alt="img"></a>
                <p>Due Nov 30, -1</p>
            </div>
            <a href="#" class="btn pull-right">Past Due</a>
            <div class="clearfix"></div>
          </li>

          <li>
              <div class="training-left pull-left">
                  <h4>New Hire Training</h4>
                  <a href="#"><img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15" height="16" alt="img"></a>
                  <p>Due Nov 30, -1</p>
              </div>
              <a href="#" class="btn pull-right">Past Due</a>
              <div class="clearfix"></div>
            </li>
            <li>
                <div class="training-left pull-left">
                    <h4>Company Handbook Quiz</h4>
                    <a href="#"><img src="../../../../../../assets/images/company-settings/site-access/calendar.png" width="15" height="16" alt="img"></a>
                    <p>Due Nov 30, -1</p>
                </div>
                <a href="#" class="btn pull-right">Past Due</a>
                <div class="clearfix"></div>
              </li>
        </ul>
      </div>

    </div>
  <div class="clearfix"></div>
  
 </div>   


</div>

