.system-view { margin:60px 0 0; border-bottom: #d8d6d6 1px solid; padding: 0 0 50px;}

.time-out { display: block; margin: 0 0 30px; text-align: center;}
.time-out ul { display: block;}
.time-out ul li {background:#fff; padding:30px 0; margin: 0 20px 0 0; border-radius: 5px;}
.time-out ul li a{ margin: 0 0 20px; display: block;}
.time-out ul li a img { margin: 0 auto;}
.time-out ul li h4 { color: #008f3d; font-size: 17px; line-height: 17px; font-weight:normal;}


.admin-cont {border-top:#d8d6d6 1px solid; padding: 30px 0 0;border-bottom:#d8d6d6 1px solid; margin: 0 0 40px;}
.admin-cont ul { display: block; }
.admin-cont ul li {background:#fff;display: table; width: 100%; padding: 40px 0; margin: 0 0 30px;}
.admin-cont ul li .admin-cont-lft { display: table-cell; width: 24%; vertical-align: middle; text-align: center;border-right:#d8d6d6 1px solid;}
.admin-cont ul li .admin-cont-lft figure { display:block; margin: 0 0 20px;}
.admin-cont ul li .admin-cont-lft figure img { margin: 0 auto;}
.admin-cont ul li .admin-cont-lft h4 { color:#008f3d; font-size: 17px; line-height: 25px;}

.admin-cont ul li .admin-cont-rgt { display: table-cell; width:76%; vertical-align: middle; padding: 0 50px 0;}
.admin-cont ul li .admin-cont-rgt p { color:#797979; font-size: 15px; line-height: 20px; margin: 0;}

.work-anniversary { padding: 0 0 30px;border-bottom: #d8d6d6 1px solid; margin: 0 0 50px;}
.work{margin: 0 0 20px;}
.work small { vertical-align: middle; display: inline-block;}
.work small img { margin: -4px 0 0;}
.work small .fa { color:#6f6e6e; font-size: 20px; line-height: 20px;}
.work h2 { display: inline-block; vertical-align: middle; font-size: 18px; line-height: 18px; font-weight: normal; color:#008f3d; margin: 0 0 0 10px;}

.anniversary-lft { display: block; padding:10px 0 0;}
.anniversary-lft ul { display: block;}
.anniversary-lft ul li { float: left; margin: 0 20px 0 0;}
.anniversary-lft ul li a { display: inline-block; color:#6f6e6e; font-size: 15px; line-height: 15px; padding: 0 10px 10px;}
.anniversary-lft ul li a.active { border-bottom:#008f3d 2px solid;}


.companies-block { padding: 0;}

.company-list { margin: 0;}

.company-lft{ display: block;}
.company-lft small { vertical-align: middle; display: inline-block;}
.company-lft small img { display: block;}
.company-lft h2 { display: inline-block; vertical-align: middle; font-size: 16px; line-height: 16px; font-weight: normal; color:#008f3d; margin: 0 0 0 10px;}

.company-manage { margin: 0 0 2px;}
.company-manage h3 { font-size: 16px; line-height: 16px; font-weight: normal; color:#008f3d; margin: 0 20px 0 0; padding: 10px 0 0;}
.company-manage ul {margin: 0;}
.company-manage ul li { float: left; background:#fff;}
.company-manage ul li a { display: inline-block; vertical-align: middle; padding: 9px 15px;}
.company-manage a { display: inline-block; background:#fff; padding: 8px 15px; margin: 0 3px 0 0;}
.company-manage a .fa { font-size: 20px;color:#008f3d;}


.compnay-sites { display: block; background:#fff; padding: 15px 30px 0;}
.compnay-sites ul { display: block; margin: 0;}
.compnay-sites ul li { display: block; border-bottom:#efefef 1px solid; padding: 0 0 15px; margin: 0 0 15px; min-height: 56px;}
.compnay-sites ul li h4 { font-weight: normal; font-size: 14px; line-height: 14px; color:#5f5e5e; margin: 0 0 5px;}
.compnay-sites ul li span { font-weight: normal; font-size: 13px; line-height: 13px; color:#c7c7c7; display: block;}
.compnay-sites ul li:nth-last-child(1) { border-bottom: none;}

.training-left { padding: 0;}
.training-left h4 { font-weight: normal; font-size: 14px; line-height: 14px; color:#5f5e5e; margin: 0 0 5px;}
.training-left a { display: inline-block; vertical-align: middle;}
.training-left p { font-weight: normal; font-size: 13px; line-height: 13px; color:#a5a5a5; display:inline-block; vertical-align: middle; margin: 0 0 0 10px;}
.compnay-sites > ul > li > a.btn { border:#e65a61 1px solid; border-radius: 20px; color:#e65a61; padding:5px 20px; font-size: 13px; margin: 10px 0 0;}


.anniversary-cont { background:#fff; padding: 30px 0;}

.anniversary-block { display: block;}
.anniversary-block ul { display: block;}
.anniversary-block ul li { float: left; text-align: center;}
.anniversary-block ul li img { margin: 0 auto 10px;}
.anniversary-block ul li h3 { font-size: 13px; line-height: 13px; color:#5f5e5e; margin: 0 0 7px;}
.anniversary-block ul li small { font-size: 13px; line-height: 13px; color:#c7c7c7;padding: 0 0 15px; display: block;}
.anniversary-block ul li h2 { color:#797979; margin: 0 0 20px; font-size: 16px; font-weight: normal;}
.anniversary-block ul li a.btn { border:#a5a5a5 1px solid; border-radius: 20px; color:#525252; padding:8px 24px; font-size: 14px; border-radius:4px; text-transform: capitalize;}
.anniversary-block ul li a.btn:hover { background: #008f3d; color:#fff; border: transparent 1px solid;}


.anniversary-cont .carousel-control.right {
	left:auto;
	right:40px;
}
.anniversary-cont .carousel-control.left {
	right:auto;
	left:30px;
}

.anniversary-cont .fa-2x {
    font-size: 20px;
}
.anniversary-cont .carousel-inner { width: 90%; margin:0 auto;}
.anniversary-cont .carousel-control { opacity: 1; box-shadow: none; text-shadow: none; width: auto;}

.anniversary-cont .carousel-control.right {
	left:auto;
	right:40px; top: 40%;
}
.anniversary-cont .carousel-control.left {
	right:auto;
	left:30px; top: 40%;
}

.anniversary-cont .fa-2x {
    font-size:30px; color: #008f3d;
}
.anniversary-cont .fa-2x:hover {color: #d9534f;}
