.modules-add { margin: 40px 0 0;}
.modules-add > ul { margin: 0 0 30px; width: 100%; display: inline-block;}
.modules-add > ul > li { padding: 0 10px 0 0; margin: 0 20px 0 0;}
.modules-add > ul > li label { font-size: 17px; line-height: 17px; color:#484747; margin: 0; font-weight: normal; padding: 0 0 14px;}
.modules-add > ul > li .form-control { background:#fff; height: auto; border: none; color:#484747; box-shadow: none; padding: 12px; font-size: 15px;}

.modules-add ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #484747;
  }
  .modules-add ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484747;
  }
  .modules-add ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484747;
  }
  .modules-add ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484747;
  }


.modules-table {margin:0 0 50px; padding: 0; float: none;}
.modules-table .table>thead>tr>th { color: #484848; font-weight: normal; padding: 15px 30px; background: #eef7ff; border:none; font-size: 16px; border-radius:3px; width: 45%;}
.modules-table .table>tbody>tr>td, .modules-table .table>tfoot>tr>td, .modules-table .table>thead>tr>td{ padding:15px 30px; background:#fff;border: none;vertical-align:middle; border-top:none;border-bottom:#c3c3c3 1px solid; color:#484848;}

.modules-add a { cursor: pointer;}
.modules-add a.btn {border-radius: 20px;color:#484848; font-size: 15px; padding:6px 35px; background:transparent;float:left; position: static;}
.modules-add a.btn:hover {background: #008f3d; color:#fff;}