<div class="modules-add">

  <ul>
    <li class="col-md-2">
      <label>Module Name</label>
      <input type="text" placeholder="Modules Name" class="form-control">
    </li>
  </ul>
  <div class="clearfix"></div>



  <div class="modules-table col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th>Sub Module</th>
          <th>Include ?</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Company Setup</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        <tr>
          <td>Theme</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        <tr>
          <td>Site Access / Rights Managements</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        <tr>
          <td>Workflow Approvals</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        <tr>
          <td>Mobile Access</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        <tr>
          <td>Integration & API Partners</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>


        <tr>
          <td>Onboarding</td>
          <td>
            <div class="include">
              <mat-select placeholder="Include">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </div>
          </td>
        </tr>

        

    </table>

  </div>


  <a class="btn">Submit</a>
  <a class="btn">Cancel</a>
  <div class="clearfix"></div>





  </div>