<div class="feature-benefits leave em-service-mobile">
  <div class="container">
    <div class="row">
      <figure><img src="../../../assets/images/home/feature-bg.png" width="1409" height="672" alt="img"></figure>
      <div class="feature-benefits-lft col-sm-7">

        <h2>Employee Self Service & Manager Self Service</h2>
        <h1>“Many hands make light work”- John Heywood</h1>

        <small>In order to fit all your company needs, we offer different dashboard displays modified for employees and
          managers alike. These dashboards easily guide the user through routine HR updates and tasks that save
          administration time.</small>

        <a href="https://calendly.com/zenworkhr/intro" class="btn" target="_blank">Register for a Demo</a>

      </div>
      <div class="feature-benefits-rgt pull-right col-sm-5">
        <span><img src="../../../assets/images/home/em-service.png" width="618" height="607" alt="img"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- <div id="arrow-down">
    <i class="fa fa-chevron-down"></i>
  </div> -->


<div class="arrow"> <a (click)="arrowDown(content)"><img src="../../../assets/images/home/down-arrow.png" width="94"
      height="41" alt="img"></a></div>



<div #content class="benefits-cont">
  <div class="container">
    <div class="row">
    
      <p>Take an empowered approach to HR by encouraging <b>managers and employees to use self-service updates.</b>
        Control content and information updates as you see fit through our easy approval dashboards while letting our
        system guide your staff through the tasks. In these different platforms, staff can stay updated with messages
        from leadership, required training, and key events happening in the company. Employees and managers also access
        the benefit of being able to view key information about the company whenever they need it. Employees and
        managers have the help and information they request at the ready, and administrators gain more time back in
        their day... We think that is a win-win!</p>

    </div>
  </div>

</div>