<div class="modal-header">
  <h4>Upload Documents</h4>
 </div>

<div class="training-class">
             
  <ul>

    <li style="width:15%">
        <label>Select File*</label>
        <input type="file" id="fileUpload" accept=".doc,.docx,application/msword,.xlsx, .xls,application/pdf" (change)="fileChangeEvent($event)" required>
        <label for="fileUpload" class="browse-btn">
      <a mat-menu-item class="edit-color upload">Browse</a>   
       </label>
       <span *ngIf="fileName">{{fileName}}</span>
       <p *ngIf="!fileName && isValid" class="error">Please select one file to upload</p>
    </li>
    <li>
      <label>Document Name*</label>
      <input type="text" class="form-control" [(ngModel)] ="documentName" name="document_Name" #document_Name="ngModel" maxlength="40" minlength="40" required>
      <p *ngIf="!documentName && document_Name.touched || (!documentName && isValid)" class="error">Please provide document name</p>
  </li>
    <li>
        <label>Document Type*</label>
        <mat-select class="form-control zenwork-general-form-settings" placeholder="Select Type" [(ngModel)]="documentType" name="document_Type" #document_Type="ngModel" required>
          <mat-option *ngFor="let documentType of allDocumentType" [value]="documentType.name">{{documentType.name}}</mat-option>

        </mat-select>
      <p *ngIf="!documentType && document_Type.touched || (!documentType && isValid)" class="error">Please select one document type</p>

    </li>
    
  
    
  </ul>
  

  <button type="submit" class="cancel" (click)="cancel()" >Cancel</button>
  <button *ngIf="!data._id" type="submit" class="save" (click)="uploadDocument()">Submit</button>
  <button *ngIf="data._id" type="submit" class="save" (click)="updateDocument()">Update</button>
  <div class="clearfix"></div>

</div>