.training-modal .modal-dialog { width: 50%;}
.training-modal .modal-content { border-radius: 5px !important;}
.training-modal .modal-header {padding: 15px 15px 20px;}
.training-modal .modal-header h4 { padding: 0 0 0 30px;}

.training-class { margin:30px 0 40px 50px;}
.training-class ul { display: block; border-bottom:#ccc 1px solid; padding: 0 0 30px; margin: 0 0 30px;}
.training-class ul li { margin: 0 0 40px; width:35%;}
.training-class ul li label{color: #484747; font-weight: normal; font-size: 16px; padding: 0 0 15px; display: block;}
.training-class ul li .form-control{ border: none; box-shadow: none; background: #f8f8f8;padding: 10px 12px; height: auto;}
.training-class ul li .form-control:focus{ box-shadow: none;}

.training-class ul li .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#484848;
  }
  .training-class ul li .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #484848;
  }
  .training-class ul li .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #484848;
  }
  .training-class ul li .form-control:-moz-placeholder { /* Firefox 18- */
    color: #484848;
  }

.training-class .cancel { color: #E85453; font-size: 15px; float: left; border: none; outline: none; background: transparent; margin: 6px 0 0;}
.training-class .save { color: #fff; font-size: 15px; float: right;background: #099247; padding: 10px 40px; border-radius: 30px;border: none; outline: none;}
#fileUpload {
  height: 0;
  display: none;
  width: 0;
}
.browse-btn {
  line-height: 10px;
}
.upload {
  color: #fff;
  background: #099247;
  outline: none;
}
.error {
  color: #e85e5e;
}