<!-- Job Calculator Settings -->
<div class="post-jobs">

  <h4>Job Calculator Settings</h4>

    <div class="post-job-main">

      <div class="job-calculator">

        <table class="table">
          <thead>
            <tr>

              <th>Resource</th>
              <th>$ Amount</th>

              <th>
                <button mat-icon-button [matMenuTriggerFor]="menu12" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu12="matMenu">
                  <button mat-menu-item>
                    <a>Add</a>
                  </button>

                  <button mat-menu-item>
                    <a>Edit</a>
                  </button>
                  <button mat-menu-item>
                    <a>Delete</a>
                  </button>

                </mat-menu>
              </th>

            </tr>
          </thead>

          <tbody>
            <tr>

              <td>Hiring Manager:</td>
              <td>
                55
              </td>
              <td></td>

            </tr>

          </tbody>
        </table>


        <div class="clearfix"></div>
      </div>

        <button class="btn pull-left cancel" (click)="onClick()">Cancel</button>
        <button class="btn pull-right job-save">Ok</button>
      <div class="clearfix"></div>

  </div>

</div>