.post-jobs { display: block;}

.post-job-main {padding: 30px 0 0;border-top: #ccc 1px solid; margin:20px 0 0;}

.job-calculator {padding: 0 0 50px;}
.job-calculator .table{ background:#fff;}
.job-calculator .table>tbody>tr>th, .job-calculator .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff; width: 50%;}
.job-calculator .table>tbody>tr>td, .job-calculator .table>tfoot>tr>td, .job-calculator .table>tfoot>tr>th, 
.job-calculator .table>thead>tr>td {color: #484747;padding:20px 15px;font-size:15px;background: #f8f8f8;
border-bottom: 1px solid #ddd;}

.job-calculator .table>tbody>tr>th a, .job-calculator .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer;}
.job-calculator .table>tbody>tr>th a .fa, .job-calculator .table>thead>tr>th a .fa { color: #6f6d6d;}

.post-job-main .btn.job-save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 35px;
background: #008f3d; color:#fff;}
.post-job-main .btn.cancel {color:#e5423d; background:transparent;font-size: 16px;}