<div class="compensation-block col-md-11">

  <div class="compensation">

    <div class="panel-group" id="accordion1">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
              Job Changes - Pending
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="compensation-main">

              <div class="searching">
                <div class="form-group col-md-4 pull-right">

                  <input type="text" class="form-control" placeholder="Search Employee by Name, Job #, Job Title etc..."
                    [(ngModel)]="searchFilter" (ngModelChange)="searchfilterChange()">
                  <span><i class="material-icons">search</i></span>

                </div>
                <div class="clearfix"></div>
              </div>

              <div class="compensation-changes">

                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <mat-checkbox class="zenwork-customized-checkbox"></mat-checkbox>
                      </th>
                      <th>Employee Name</th>
                      <th>Submission Request Date</th>
                      <th>Department</th>

                      <th>Approval Status &nbsp;
                        <span>
                          <!-- <mat-slide-toggle></mat-slide-toggle> -->
                        </span>
                      </th>
                      <th>
                        <button [disabled]="supAdminReadonly" mat-icon-button [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                          <button mat-menu-item>
                            <a data-toggle="modal" data-target="#myModal2" (click)="compensationEdit()">Edit Request</a>
                          </button>
                        </mat-menu>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let data of compensationData"> -->
                    <tr *ngFor="let data of compensationData">
                      <!-- <td>
                        <mat-checkbox class="zenwork-customized-checkbox" [(ngModel)]="data.isChecked" (ngModelChange)="empSelect()"></mat-checkbox>
                      </td> -->
                      <td>
                        <mat-checkbox [(ngModel)]="data.isChecked"
                          (ngModelChange)="selectRequest(data.isChecked,data._id,data.manager_request_id)"
                          class="zenwork-customized-checkbox"></mat-checkbox>
                      </td>
                      <td>{{data.impactedEmployee.personal.name.preferredName}}</td>
                      <td>{{data.manager_request.requestedDate | date}}</td>
                      <td>{{data.impactedEmployee.job.department}}</td>

                      <td *ngIf="data.next_priority">
                        <small *ngIf="data.next_priority.personal">

                          <mat-slide-toggle [disabled]="supAdminReadonly" [(ngModel)]="data.approvalStatus"
                            (ngModelChange)="approvalPriority(data._id,data.approvalStatus,data.next_priority.personal.name.preferredName,data.manager_request_id)">
                          </mat-slide-toggle>
                        </small>
                        <small *ngIf="data.next_priority.name">

                          <mat-slide-toggle [disabled]="supAdminReadonly" [(ngModel)]="data.approvalStatus"
                            (ngModelChange)="approvalPriority(data._id,data.approvalStatus,data.next_priority.name,data.manager_request_id)">
                          </mat-slide-toggle>
                        </small>

                      </td>
                      <td *ngIf="!data.next_priority">
                        <!-- <small *ngIf="data.next_priority">
  
                            <mat-slide-toggle [disabled]="supAdminReadonly" [(ngModel)]="data.approvalStatus"
                              (ngModelChange)="approvalPriority(data._id,data.approvalStatus,data.next_priority.personal.name.preferredName,data.manager_request_id)">
                            </mat-slide-toggle>
                          </small> -->

                        <small *ngIf="!data.next_priority">

                          <mat-slide-toggle [disabled]="supAdminReadonly" [(ngModel)]="data.approvalStatus"
                            (ngModelChange)="approvalPriority(data._id,data.approvalStatus,'----',data.manager_request_id)">
                          </mat-slide-toggle>
                        </small>
                      </td>
                      <td></td>
                    </tr>
                    <tr *ngIf="compensationData.length == 0">
                      <td></td>
                      <td></td>
                      <td class="text-center">No records found</td>
                    </tr>

                  </tbody>
                </table>
                <mat-paginator [length]="count" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageEvents($event)"></mat-paginator>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="panel-group" id="accordion1">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
              Job Changes - History
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="compensation-main">


              <div class="top-history">

                <ul>

                  <!-- <li class="col-md-3 select-date">
                    <label>Select Date Range</label>
                    <mat-select placeholder="Select Range" class="form-control">
                      <mat-option value="">Last Week</mat-option>
                      <mat-option value="">Last Month</mat-option>
                    </mat-select>
                  </li> -->

                  <li class="col-md-5 col-md-7">

                    <div class="range pull-left">
                      <label>Begin Date Range(T1)</label>
                      <div class="date">
                        <input matInput [(ngModel)]="beginDate" [max]="endDate" (ngModelChange)="beginDateChange()"
                          [matDatepicker]="picker10" placeholder="mm / dd / yy" class="form-control">
                        <mat-datepicker #picker10></mat-datepicker>
                        <button mat-raised-button (click)="picker10.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div class="range pull-left">
                      <label>End Date Range(T2)</label>
                      <div class="date">
                        <input matInput [(ngModel)]="endDate" [min]="endDate" (ngModelChange)="endDateChange()"
                          [matDatepicker]="picker11" placeholder="mm / dd / yy" class="form-control">
                        <mat-datepicker #picker11></mat-datepicker>
                        <button mat-raised-button (click)="picker11.open()">
                          <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </span>
                        </button>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </li>

                  <li class="col-md-2 select-date location-request">

                    <!-- <mat-select class="form-control" placeholder="location" class="form-control">
                      <mat-option value="">Hyderabad</mat-option>
                      <mat-option value="">New delhi</mat-option>
                    </mat-select> -->


                  </li>
                  <li class="col-md-3 pull-right">

                    <div class="searching history-search">
                      <div class="form-group col-md-12">

                        <input type="text" [(ngModel)]="searchFilterHistory.search"
                          (ngModelChange)="searchFilterHistoryChange()" class="form-control"
                          placeholder="Search Employee by Name, Job">
                        <span><i class="material-icons">search</i></span>

                      </div>

                    </div>

                  </li>

                </ul>
                <div class="clearfix"></div>

              </div>

              <div class="mdl-history">

                <ul>
                  <li><a [ngClass]="{'mdl-active' : requestStatus == '' }" (click)="requestType('')">Show All</a></li>
                  <li><a [ngClass]="{'mdl-active' : requestStatus == 'Approved' }"
                      (click)="requestType('Approved')">Approved <span><i class="fa fa-circle"
                          aria-hidden="true"></i></span></a></li>
                  <li><a [ngClass]="{'mdl-activered' : requestStatus == 'Rejected' }"
                      (click)="requestType('Rejected')">Rejected <small><i class="fa fa-circle" aria-hidden="true"></i></small></a></li>
                </ul>
                <div class="clearfix"></div>


                <table class="table">
                  <thead>
                    <tr>

                      <th>Employee Name</th>
                      <th>Submission Request Date</th>
                      <th>Submission Complete Date</th>
                      <th>Department</th>
                      <th>Request Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of compensationDataHistory"
                      (click)="showCompensationHistory(data.manager_request_id)">
                      <td>
                        <div class="managers">
                          <!-- <span><img src="../../../../assets/images/Manager Self Service/employee.png"></span> -->
                          <div class="manager-right">
                            <h4>{{data.impactedEmployee.personal.name.preferredName}}</h4>
                            <!-- <h5>Manager</h5> -->
                          </div>
                        </div>
                      </td>
                      <td>{{data.manager_request.requestedDate | date}}</td>
                      <td *ngIf="data.manager_request.completedate"> {{data.manager_request.completedate | date }}</td>
                      <td *ngIf="!data.manager_request.completedate"> -- </td>
                      <!-- <td [ngIf] = "!data.manager_request.completedate" >  -- </td> -->

                      <td>{{data.impactedEmployee.job.department}}</td>
                      <td *ngIf="data.request_status == 'Approved'"><small> <i class="fa fa-circle"
                            aria-hidden="true"></i> &nbsp;
                          {{data.request_status}}</small>
                      </td>
                      <td *ngIf="data.request_status == 'Rejected'"><small> <i class="fa fa-circle" aria-hidden="true"
                            style="color:#f00;"></i> &nbsp;
                          {{data.request_status}}</small>
                      </td>
                      <td *ngIf="data.request_status == 'Pending'"><small> <i class="fa fa-circle" aria-hidden="true"
                            style="color:#f00;"></i> &nbsp;
                          {{data.request_status}}</small>
                      </td>
                    </tr>
                    <tr *ngIf="compensationDataHistory.length == 0">
                      <td></td>
                      <td></td>
                      <td>No records found</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <mat-paginator [length]="countHistory" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageEventsHistory($event)"></mat-paginator>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="approval">
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-body modal-approval">
              <!-- <em>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></em> -->
              <span><img src="../../../../assets/images/Manager Self Service/error.png"></span>
              <p *ngIf="popupName != '----'"> Are you sure you want to approve?<br>
                The next approval priority is <span style="text-decoration:underline">{{popupName}}</span></p>
              <p *ngIf="popupName == '----'">
                Are you sure you want to approve?<br>
                You are the last person in the approval priority
              </p>
              <div class="footer col-md-4">
                <button class="btn save" type="submit" (click)="taskApproved()">Proceed</button>
                <button class="btn pull-left cancel" (click)="modalClose()">Cancel</button>
                <div class="clearfix"></div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<!-- Compansation Change Popup-->

<div class="job-change-popup">

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manager Approval - Pending Request</h4>
        </div>
        <div class="modal-body">
          <div class="job-main">

            <div class="job-change">

              <div class="job-change-in col-md-11">

                <ul>

                  <li>
                    <label>Select Employee Name</label>
                    <!-- [(ngModel)]= "compensationRes." -->
                    <input class="form-control" placeholder="Employee Name"
                      [(ngModel)]="compensationRes.requestedFor.personal.name.preferredName" readonly>
                  </li>
                  <li class="col-md-6">
                    <label>Current Status</label>
                    <div class="job-status">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Filed Name</th>
                            <th>Current Value</th>
                            <th>Effective Date</th>
                          </tr>
                        </thead>

                        <tbody>

                          <tr>
                            <td>Job Title</td>
                            <td>
                              <input class="form-control" [(ngModel)]="compensationRes.oldStatus.jobTitle.old_value"
                                placeholder="Current Value" readonly>
                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.oldStatus.jobTitle.effective_date"
                                  [matDatepicker]="picker71" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker71 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker71.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>Department</td>
                            <td>
                              <input [(ngModel)]="compensationRes.oldStatus.department.old_value" class="form-control"
                                placeholder="Current Value" [disabled]=true>

                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.oldStatus.department.effective_date"
                                  [matDatepicker]="picker81" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker81 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker81.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>


                          <tr>
                            <td>Location</td>
                            <td>
                              <input [(ngModel)]="compensationRes.oldStatus.location.old_value" class="form-control"
                                placeholder="Current Value" [disabled]=true>

                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.oldStatus.location.effective_date"
                                  [matDatepicker]="picker91" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker91 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker91.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>



                        </tbody>

                      </table>

                    </div>
                  </li>
                  <li class="col-md-6">
                    <label>New Status</label>
                    <div class="job-status new">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Filed Name</th>
                            <th>New Value</th>
                            <th>Effective Date</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td>Job Title</td>
                            <td>
                              <input class="form-control" [(ngModel)]="compensationRes.newStatus.jobTitle.new_value"
                                placeholder="Current Value" [disabled]=true>

                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.newStatus.jobTitle.effective_date"
                                  [matDatepicker]="picker72" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker72 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker72.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>Department</td>
                            <td>
                              <input class="form-control" [(ngModel)]="compensationRes.newStatus.department.new_value"
                                placeholder="Current Value" [disabled]=true>

                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.newStatus.department.effective_date"
                                  [matDatepicker]="picker82" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker82 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker82.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>


                          <tr>
                            <td>Location</td>
                            <td>
                              <input [(ngModel)]="compensationRes.newStatus.location.new_value" class="form-control"
                                placeholder="Current Value" [disabled]=true>

                            </td>
                            <td>
                              <div class="date">
                                <input matInput [(ngModel)]="compensationRes.newStatus.location.effective_date"
                                  [matDatepicker]="picker92" placeholder="mm / dd / yy" class="form-control"
                                  [disabled]=true>
                                <mat-datepicker #picker92 [disabled]=true></mat-datepicker>
                                <button mat-raised-button (click)="picker92.open()">
                                  <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="clearfix"></div>
                              </div>
                            </td>
                          </tr>



                        </tbody>
                      </table>


                    </div>
                  </li>
                  <div class="clearfix"></div>


                  <li>
                    <label>Change Reason</label>
                    <input [(ngModel)]="compensationRes.changeReason" class="form-control" placeholder="Reason" [disabled]=true >

                  </li>

                  <li class="text-area">
                    <label>Note Section</label>
                    <textarea [(ngModel)]="compensationRes.notes" class="form-control text-area" rows="5" id="comment" [disabled]=true></textarea>
                  </li>

                  <li *ngIf="!approveRejectHide">

                    <p class="pull-left col-md-2">
                      <mat-checkbox [(ngModel)]="statusApprove" (change)="statusChange($event,'approve')"
                        class="zenwork-customized-checkbox">Approve
                      </mat-checkbox>
                    </p>

                    <small class="pull-left">
                      <mat-checkbox [(ngModel)]="statusReject" (change)="statusChange($event,'reject')"
                        class="zenwork-customized-checkbox">Reject
                      </mat-checkbox>
                    </small>
                    <div class="clearfix"></div>
                  </li>

                  <li class="text-area">
                    <label>Approval</label>
                    <div class="approval">
                      <span class="pull-left">
                        <h4>Approval Priority</h4>
                      </span>
                      <span class="pull-right col-md-5">
                        <h4>Approval Date</h4>
                      </span>
                      <div class="clearfix"></div>
                      <div cdkDropList class="example-list">
                        <div class="example-box" *ngFor="let timePeriod of timePeriods">
                          <span *ngIf="timePeriod.name != 'deleted role'" class="pull-left"
                            style="background: #fff;padding: 0;">
                            {{timePeriod.name}}
                          </span>
                          <span *ngIf="timePeriod.name == 'deleted role'" class="pull-left"
                            style="background: #fff;color:#f00;padding: 0;"> {{timePeriod.name}}
                          </span>
                          <span *ngIf="timePeriod.approval_date" class="pull-right col-md-5"
                            style="background: #fff;padding: 0;"> {{timePeriod.approval_date | date}}</span>
                          <span *ngIf="!timePeriod.approval_date" class="pull-right col-md-5"
                            style="background: #fff;padding: 0 0 0 5px;"> --</span>

                          <div class="clearfix"></div>

                        </div>
                      </div>

                    </div>
                  </li>

                  <li class="col-md-3 submission">
                    <label>Submission Request Date</label>
                    <div class="date1">
                      <input matInput [(ngModel)]="compensationRes.requestedDate" [matDatepicker]="picker721"
                        placeholder="mm / dd / yy" class="form-control" [disabled]=true>


                      <div class="clearfix"></div>
                    </div>
                  </li>

                  <li class="col-md-3 submission">
                    <label>Submission Complete Date</label>
                    <div class="date1">
                      <input [(ngModel)]="submissionCompleteDate" matInput [matDatepicker]="picker722"
                        placeholder="mm / dd / yy" class="form-control" [disabled]=true>

                      <div class="clearfix"></div>
                    </div>
                  </li>


                </ul>

              </div>

            </div>

            <div class="termination-border col-md-11">

              <button class="btn pull-left cancel" data-dismiss="modal">Cancel</button>
              <button *ngIf="!approveRejectHide" class="btn pull-right save" (click)="approvalsending()">Submit</button>
              <div class="clearfix"></div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>