.compensation-block{ margin: 0 auto; float: none; padding: 0;}

.compensation { padding:30px 0 0;}

.compensation .panel-default>.panel-heading { padding: 0 0 20px; background-color:transparent !important; border: none;}
.compensation .panel-title a { color: #3c3c3c; display: inline-block; font-size: 19px;}
.compensation .panel-title a:hover { text-decoration: none;color: #3c3c3c;}
.compensation .panel-title>.small, .compensation .panel-title>.small>a, .compensation .panel-title>a, .compensation .panel-title>small, .compensation .panel-title>small>a { text-decoration:none;}
.compensation .panel { background: none; box-shadow: none; border-radius: 0; border-bottom:#ccc 1px solid !important;}
.compensation .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;       
    color: grey;
}

.compensation .panel-heading .accordion-toggle.collapsed:after {content: "\e080";}
.compensation .panel-group .panel-heading+.panel-collapse>.list-group, .compensation .panel-group .panel-heading+.panel-collapse>.panel-body { border: none;}
.compensation .panel-heading .accordion-toggle:after { margin:7px 15px 0; font-size: 13px; line-height: 13px;}
.compensation .panel-body { padding: 0 0 5px;}

.compensation .panel-default>.panel-heading+.panel-collapse>.panel-body { min-height: auto !important;}
.compensation .panel-default { border-color:transparent;}
.compensation .panel-group .panel+.panel { margin-top: 20px;}



.compensation-main { display: block;}

.compensation-changes {display: block;}

.compensation-changes .table{ background:#fff;}
.compensation-changes .table>tbody>tr>th, .compensation-changes .table>thead>tr>th {padding: 10px 15px; color: #484747; font-weight: normal; font-size:18px;
vertical-align: middle; position: relative; background: #edf7ff;}
.compensation-changes .table>tbody>tr>td, .compensation-changes .table>tfoot>tr>td, .compensation-changes .table>tfoot>tr>th, 
.compensation-changes .table>thead>tr>td {color: #484747;padding:15px;font-size:15px;}
.compensation-changes button.mat-menu-item a { color:#ccc;}
.compensation-changes button.mat-menu-item a:hover { color:#fff; background: #099247;}
.compensation-changes .table>tbody>tr>th a, .compensation-changes .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.compensation-changes .table>tbody>tr>th a .fa, .compensation-changes .table>thead>tr>th a .fa { color: #6f6d6d;}
.compensation-changes button { border: none; outline: none; background:transparent;}


.top-history{ margin: 10px 0 20px;}
.top-history ul{ display: block;}
.top-history ul li{ padding: 0 5px;}
.top-history ul li.select-date{ margin: 25px 0 0;}
.top-history ul li label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 7px 15px 0;}
.top-history ul li .form-control { border: none;box-shadow: none;padding: 12px 12px;height: auto;
width:50%; font-size: 15px;background: #fff; display: inline-block;}

.example-form { position: relative;}
.top-history ul li small { position: absolute; top:4px; right:5px; cursor: pointer;}
.top-history ul li small .material-icons { color: #8e8e8e; font-size: 20px; font-weight: normal;}

.top-history ul li .range{ margin: 0 5px;}
.top-history ul li .range label{color: #484747; font-weight: normal; font-size: 15px; padding: 0 0 7px; display: block;}

.top-history ul li .range .date { height: auto !important; line-height:inherit !important;background:#fff; width: 165px;}
.top-history ul li .range .date button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}

.top-history ul li .range .date span { border: none !important; padding: 0 !important;}
.top-history ul li .range .date .form-control { width:72%; height: auto; padding: 12px 0 12px 10px;}
.top-history ul li .range .date .form-control:focus { box-shadow: none; border: none;}
.top-history ul li .range .date span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.history-search { margin:28px 0 0;}
.history-search .form-group{ margin-bottom: 0;}

.mdl-history { display: block;}
.mdl-history ul{ margin: 0 0 10px;}
.mdl-history ul li{ padding: 0 15px; display: inline-block;}
.mdl-history ul li a{color: #484747; font-weight: normal; font-size: 14px; cursor: pointer;}
.mdl-history ul li.active a { border-bottom:#008f3d 2px solid;}
.mdl-history ul li a span, .mdl-history ul li a small { vertical-align:text-bottom; padding: 0 0 0 5px;}
.mdl-history ul li a span .fa{ color:#ccc; font-size:8px;}
.mdl-history ul li a small .fa{ color:#ccc; font-size:8px;}

.mdl-active{    
    border-bottom: 3px solid #439348;
    padding: 0 0 9px 0;}
    .mdl-active .fa{
        color: #008f3d !important;
    }
    .mdl-activered{    
        border-bottom: 3px solid #f00;
        padding: 0 0 9px 0;}
        .mdl-activered .fa{
            color: #f00 !important;
        }
.mdl-history .table{ background:#fff;}
.mdl-history .table>tbody>tr>th, .mdl-history .table>thead>tr>th {padding: 15px; color: #484747; font-weight: normal; 
font-size:16px;vertical-align: middle; position: relative; background: #edf7ff;}
.mdl-history .table>tbody>tr>td, .mdl-history .table>tfoot>tr>td, .mdl-history .table>tfoot>tr>th, 
.mdl-history .table>thead>tr>td {color: #484747;padding:15px;font-size:15px; vertical-align: middle; border-bottom:#ccc 1px solid;}
.mdl-history .table>tbody>tr>th a, .mdl-history .table>thead>tr>th a { position: relative;color: #929191; cursor: pointer; font-size: 15px;}
.mdl-history .table>tbody>tr>th a .fa, .mdl-history .table>thead>tr>th a .fa { color: #6f6d6d;}

.managers { display: block;}
.managers span { vertical-align: middle; display: inline-block;}
.manager-right { display: inline-block; vertical-align: middle; padding: 0 0 0 10px;}
.manager-right h4 { font-size: 15px; margin: 0 0 5px;}
.manager-right h5 {  color: #ccc;margin: 0;}

.mdl-history .table>tbody>tr>td small { font-size: 15px; vertical-align: middle;}
.mdl-history .table>tbody>tr>td small .fa{ color:#008f3d; font-size: 10px; vertical-align: middle;}






.date1 { height: auto !important; line-height:inherit !important;background:#f8f8f8; width: 160px;}
.date1 button { display: inline-block;background:transparent; border: none; outline: none; padding: 0; box-shadow:none; width: 40px;
height: 30px; min-width: auto;}


.date1 .form-control { width:65% !important; height: auto; padding: 12px 0 12px 10px; display: inline-block;}
.date1 .form-control:focus { box-shadow: none; border: none;}
.date1 span .fa { color: #a0a0a0;font-size:18px;line-height:18px;width: 18px;text-align: center;}
.date1 span { display: inline-block; vertical-align: middle; cursor: pointer;border-left: #bdbdbd 1px solid; padding: 0 0 0 15px !important;}
.date1 span .fa { color: #008f3d;font-size:18px;line-height:18px;width: 18px;text-align: center;}

.approval .modal{
    top:50%;
}
.approval span h4{
    /* font-weight: 600; */
    padding: 10px 0 10px 5px;  
}
.location-request .form-control{
    width: 94% !important;
}
.approval .modal-dialog{
    width: 900px;
}
.modal-approval{
    padding: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.modal-approval p {
    margin: 20px 0 0 0;
}
.footer{
    margin: 20px auto 0;
    float: none;
}
.footer .btn.save {border-radius: 20px; height:40px; line-height:38px;font-size: 16px; padding: 0 24px;background: #008f3d; color:#fff; margin: 0 20px 0 0;}
.footer .btn.cancel { color:#e44a49; background:transparent; padding:8px 0 0 30px;font-size: 16px;}
.text-area{
    resize: none;
}