.pricing-header {
    padding: 20px 26px;
    background: #fec550;
    font-size: 17px;
    margin: -24px -24px 20px -24px;
 }
 .price-margin{
     border-bottom: 1px dotted #dac2c2;
     margin: 10px 0px 10px 0px;
 }
 .total-text {
     text-align: center;
 }
 .total-amount {
    text-align: center;
    margin-top: 33px;
 }
 .amount {
    border: 1px solid #debfbf;
    padding: 15px 60px;
    font-size: 20px;
    border-radius: 50px;
 }
 .price-btn {
    background:#fec550; color:#444343; border-radius:30px; padding: 8px 50px; border: none;
    margin: 50px 0 0; font-size: 17px;
 }
 .reset-text {
    margin-top: 27px;
    color: #8686c3;
    text-decoration: underline;
    cursor: pointer;
 }