<div class="row pricing-header">
  <div class="col-xs-5">
    Billing
  </div>
  <div class="col-xs-2">
    Monthly
  </div>
  <div class="col-xs-1">
    <mat-slide-toggle (change)="timePeriod($event)"></mat-slide-toggle>
  </div>
  <div class="col-xs-2">
    Annually
  </div>
</div>
<div class="row price-margin">
  <div class="col-xs-6">
    <p class="green" style="text-decoration: underline;">Package</p>
    <p>{{package[0].name}}</p>
  </div>
  <div *ngIf="timeToggle == true" class="col-xs-6 green" style="margin-top: 30px;">
    $ {{package[0].price * 12}}
  </div>
  <div *ngIf="timeToggle == false" class="col-xs-6 green" style="margin-top: 30px;">
    $ {{package[0].price}}
  </div>

</div>
<div class="row price-margin">
  <div class="col-xs-6">
    <p>Number of Employees ({{employeeCount}})</p>
    <p>Total Employee Cost</p>
  </div>
  <div *ngIf="timeToggle == false" class="col-xs-6 green" style="margin-top: 30px;">
    $ {{totalEmpCost}}
  </div>
  <div *ngIf="timeToggle == true" class="col-xs-6 green" style="margin-top: 30px;">
    $ {{totalEmpCost*12}}
  </div>

</div>

<div class="row price-margin">
  <div class="col-xs-6">
    <p class="green" style="text-decoration: underline;">Add-On</p>
    <p *ngFor="let data of addons">{{data.name}}</p>
    <!-- <p>Performance Management</p> -->
    <br>
    <p>Total Price</p>
  </div>
  <div *ngIf="timeToggle == false" class="col-xs-6" style="margin-top: 30px;">

    <p *ngFor="let data of addons" class="green">$ {{data.price}}</p>
    <!-- <p class="green">$ 53.00</p><br> -->
    <p class="green">$ {{estimatedPrice}}</p>
  </div>
  <div *ngIf="timeToggle == true" class="col-xs-6" style="margin-top: 30px;">

    <p *ngFor="let data of addons" class="green">$ {{data.price*12}}</p>
    <!-- <p class="green">$ 53.00</p><br> -->
    <p *ngIf="timeToggle == false" class="green">$ {{estimatedPrice}}</p>
    <p *ngIf="timeToggle == true" class="green">$ {{estimatedPrice*12}}</p>

  </div>

</div>

<div class="text-center">
  <h3 class="total-text">Your Estimated Total</h3>
  <p *ngIf="timeToggle == true" class="total-amount"><span class="amount">$ {{estimatedPrice *12}}</span></p>
  <p *ngIf="timeToggle == false" class="total-amount"><span class="amount">$ {{estimatedPrice}}</span></p>

  <p class="text-center reset-text" (click)="onNoClick()">Reset</p>
  <button class="price-btn" (click) = "getStart()" >Get Started</button>
</div>