<div class="settings-add">

  <ul>
    <li class="col-md-2">
      <label>Coupon Name</label>
      <input type="text" placeholder="coupon Name" class="form-control" maxlength="24" [(ngModel)]="coupon.name" name="name" required
        #name="ngModel">
      <span *ngIf="!coupon.name && name.touched || (!coupon.name && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter coupon name</span>
    </li>
  </ul>
  <div class="clearfix"></div>


  <ul>
    <li class="col-md-2">
      <label>Start Date</label>
      <div class="date">
        <input matInput [matDatepicker]="picker" [max] = "coupon.endDate" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="coupon.startDate" name="startDate" required #startDate="ngModel">

        <mat-datepicker #picker></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!coupon.startDate && startDate.touched || (!coupon.startDate && isValid)"
          style="color:#e44a49; padding:6px 0 0;">Enter Startdate</span>

    </li>
    <li class="col-md-2">
      <label>End Date</label>

      <div class="date">
        <input matInput [matDatepicker]="picker1" placeholder="dd / mm / yyyy" class="form-control"
          [(ngModel)]="coupon.endDate" [min] = "coupon.startDate" name="endDate" required #endDate="ngModel">       

        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button (click)="picker1.open()">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </button>
        <div class="clearfix"></div>
      </div>

      <span *ngIf="!coupon.endDate && endDate.touched || (!coupon.endDate && isValid)"
      style="color:#e44a49; padding:6px 0 0;">Enter Enddate</span>

    </li>
  </ul>
  <div class="clearfix"></div>

  <ul class="add-btm-block">
    <li class="col-md-2">
      <label>Select Coupon Type</label>
      <mat-select placeholder="Coupon Type" [(ngModel)]="coupon.couponType" (ngModelChange)="couponTypeChange()" name="coupontype" required #coupontype="ngModel">
        <mat-option value="Percentage">Percentage-%</mat-option>
        <mat-option value="Value">Value-$</mat-option>
      </mat-select>

      <span *ngIf="!coupon.couponType && coupontype.touched || (!coupon.couponType && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Select coupon type</span>
    </li>
    <li *ngIf = "coupon.couponType == 'Percentage'"class="col-md-2">
      <label>Coupon %</label>
      <input type="text" placeholder="%" class="form-control" (keypress)="keyPress($event)"
        [(ngModel)]="coupon.percentage" name="percentage" maxlength="6"  required #percentage="ngModel">

      <span *ngIf="!coupon.percentage && percentage.touched || (!coupon.percentage && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter coupon percentage</span>
    </li>
    <li  *ngIf = "coupon.couponType == 'Value'" class="col-md-2">
      <label>Coupon $</label>
      <input type="text" placeholder="$" class="form-control" (keypress)="keyPress($event)"
        [(ngModel)]="coupon.flatDiscountAmount" maxlength="6" name="flatDiscountAmount" required #flatDiscountAmount="ngModel">
      <span *ngIf="!coupon.flatDiscountAmount && flatDiscountAmount.touched || (!coupon.flatDiscountAmount && isValid)"
        style="color:#e44a49; padding:6px 0 0;">Enter coupon value</span>
    </li>

  </ul>
  <div class="clearfix"></div>


  <a class="btn" type="Submit" (click)="createCoupon()">Submit</a>
  <a class="btn" (click)="cancel()">Cancel</a>
  <div class="clearfix"></div>

</div>